.formulaire_spip  textarea.markItUpEditor, .formulaire_spip li.editer_texte textarea {
	/*width: 96%;
	clear: both;*/
}

.markItUpHeader { text-align: left; } /* fix dir=ltr */


/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/


.markItUp .markItUpHeader a,
.markItUp .markItUpTabs a,
.markItUp .markItUpFooter a {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	margin:5px 0 5px 0;
	clear:both;
}
.markItUp .markItUpContainer  {
	margin:0px; padding:0px;
}
.markItUp .markItUpEditor {
	clear:both; display:block;
	overflow:auto;
}
#text_area { /* cas tres particulier champs texte de spip */
	height:300px;
}
.markItUp .markItUpPreviewFrame {}
.markItUp .markItUpFooter {
	margin:0px; padding:0px;
	width:100%;
}
.markItUp .markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:ns-resize;
}

/***************************/
/* tabs */
.markItUp .markItUpTabs {
	text-align:right; 
	padding:1px 1px 0;
	margin-bottom: -1px;
	margin-top: 3px;
	overflow:hidden; 
	width:auto; 
	float:right; 
	margin-right: 30px;
	clear:both;
}
.markItUp .markItUpTabs a {
	display:block; 
	float:right; 
	border:1px solid #ccc; 
	margin:0px 1px; 
	padding:3px 4px 2px 4px; 
	background:#f0f0f0;
}
.markItUp .markItUpTabs a.on {background:#fff; border-bottom: 1px solid #fff; }
.markItUp .markItUpTabs a:hover {background:#fff;}

/***************************/
/* previsu */
.markItUp .markItUpPreview {
	clear:both;
	border:1px solid #ccc;
	background:#fff;
	overflow:auto;
	padding:1em;
}

/* correction des styles spip_formulaires appliques par defaut (grr) */
.markItUp .preview p {margin-bottom:1em;}
.markItUp .preview ul {margin-bottom:1em; margin-top:0.5em;}
.markItUp .preview li {border:none; padding:1px;}
/* coloration code */
.markItUp .preview .cadre ol, 
.markItUp .preview .cadre ul {padding:0.5em;}


/***************************************************************************************/
/* first row of buttons */
.markItUp .markItUpHeader { margin:0px; padding:0px;}
.markItUp .markItUpHeader ul {
	margin:0 !important;
	padding:0;
}
.markItUp .markItUpHeader ul li {
	list-style:none;
	float:left;
	position:relative;
	clear:none;
	border:0;
	margin:0;
	padding:0;
	overflow:visible;
}
.markItUp .markItUpHeader ul li:first-child { /* annuler un reglage des forms prive */
	padding-top:0; 
}

.markItUp .markItUpHeader ul .markItUpDropMenu {
	/*background:inherit url(images/menu.png) no-repeat 100% 80%;
	padding-right:10px;*/
}
.markItUp .markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
	background-color: #eee;
	padding:1px 0px 1px 1px;
}
 
/* next rows of buttons */
.markItUp .markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:24px; left:-1px;	
	width:150px;
	z-index:2;
	padding-top:2px;
}
.markItUp .markItUpHeader ul ul li {
	float:left;
}
.markItUp .markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 50% 50%;
}
.markItUp .markItUpHeader ul .markItUpSeparator {
	margin:0 6px;
	width:0px;
	height:16px;
	overflow:hidden;
}
.markItUp .markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}

.markItUp .markItUpHeader ul a {
	display:block;
	background-color:#f5f5f5;
	border:1px solid #ccc;
	padding:3px;
	margin-right:1px;
}
.markItUp .markItUpHeader ul a b{
	display:block;
	background-repeat:no-repeat;
	width:16px; height:16px;
	text-indent:-10000px;
}

.markItUp .markItUpHeader ul a:hover{border:1px solid #888; background-color:#fff;}


