/* tables */
table.tablesorter {}


/**
table.tablesorter td,
table.tablesorter th {
	vertical-align: middle !important;
}

table.tablesorter th {
	text-align:center;
}
*/

td.modele {
	font-weight: bold;
}
td.fiche {
	text-align:center;
}

table.tablesorter thead tr .header {
	/*background-color: transparent;*/ 
	background-image: url("../images/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 18px;
}

/* annulation du survol et fleche enlevee pour les zones non cliquables */
table.tablesorter thead tr th.none {
	background-image: none;
	cursor: auto;
}

table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}

table.tablesorter thead tr .headerSortDown, 
table.tablesorter thead tr .headerSortUp {
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("../images/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("../images/desc.gif");
}
.pager {
	clear:both;
	border:2px dashed red;
}