/* - - - - - - CSS Document - - - - - - - - -

Title : Global style sheet for client-side web development standards
Author : Cody Lindley , modif Fil, BoOz pour spip

- - - - - - - - - - - - - - - - - - - - - */

/* ---------->>> CSS Hacks <<<---------------------------------------------------------------*/

/* doit-on ajouter ca pour ie ? apparement oui :) */
 
 html, body {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 padding: 0; margin: 0;
 }


#TB_window  { 
/*font-size: 1.2em */ 
font: 10px Verdana, Helvetica, sans-serif;
}

#contentPad{
margin:20px;
}

#TB_overlay {
	position: absolute;
	z-index:100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	min-height:100%;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#TB_load{
display:none;
}

#TB_window {
	position: absolute;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	text-align:left;

}

#TB_window img {
	display:block;
	margin: 10px 0 0 10px;
	/*border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;*/
}

#TB_caption{
	height:25px;
	padding:10px 30px 10px 10px;
	font-weight: bold;
	text-align:left;
}

#TB_closeWindow{
	width: 66px; 
	float: right;  
	padding-bottom: 0.7em;
	margin-right: 10px;
	text-align:center;

}

#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	background-color:#e8e8e8;
}

#TB_ajaxContent{
	padding:2px 15px 15px 15px;
	overflow:auto;
}

#TB_load{
	position: absolute;
	display:none;
	height:100px;
	width:100px;
	z-index:101;
}

#TB_HideSelect{
z-index:99;
position:absolute;
top: 0;
left: 0;
width:100%;
height:100%;
background-color:#fff;
border:none;
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
display:none;
}