/* CSS Document */
#calendar{
	/*border-top: 1px solid #F0F0F0;*/
	margin-bottom:1em;
}

#calendar table{
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	margin: 0 auto;
	border-collapse: collapse;
}

#calendar table caption{
	margin: 0 auto;
	padding:0;
}

#calendar table th{
	background: transparent;
	padding:0;
}

#calendar table td{
	width: 14%;
	line-height: 2em;
	border: 1px solid #EEE;
	padding:0;
}

#calendar table td a{
	display: block;
	background: #fff;
	font-weight: bold;
	text-decoration: none;
}

#calendar table td.today a{
	border: 1px solid #493;
}

#calendar table td a:hover{
	background: #DBB8DC;
	color: #636;
}

#calendar table td.today a:hover{
	border: 1px solid #636;
}

#calendar span{
	display: none;
}