/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */
/* ----------------------------------------------
personalisations
------------------------------------------------ */

/* ------------------------------------------
/* Typographie generale (style transversaux)
/* ------------------------------------------ */
html {} 
body {}

/* Titraille / Intertitres */
h1,h2,h3,h4,h5,h6 {}
h1 {}
h2 {}
h2, h2 a, h2 a:focus, h2 a:hover, h2 a:active {}
h3 {}
h3.spip {border-bottom:2px solid;clear:both;font-size:1.15em;font-weight:bold;margin:2em 0 1.4em;text-align:left; } /* Cf.: spip_style.css */
hr.spip {border-color:#DF2B72;border-style:solid;border-width:0 0 2px;} /* Cf.: spip_style.css */

/* Autres enrichissements typo */
strong {}
em {}
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small,.small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Listes */
ul.spip {} /* Cf.: spip_style.css */
ol.spip {} /* Cf.: spip_style.css */
dl {}
dt {}
dd { margin-left: 2em; }

/* Citations, code et poesie */
cite {}
q {}
blockquote {}
blockquote.spip {margin-left:10px;} /* Cf.: spip_style.css */
blockquote.spip_poesie {margin-left:10px;} /* Cf.: spip_style.css */
.spip_code {} /* Cf.: spip_style.css */
div.spip_code {margin:10px;}
.spip_cadre {margin:10px;padding:10px;} /* Cf.: spip_style.css */
address {}

/* Tableaux */
table.spip {} /* Cf.: spip_style.css */
.spip_barre td {border:0;}

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0; }
.spip_barre img,
img.puce {display:inline;}
.spip_logos {} /* Cf.: spip_style.css */
.spip_documents {} /* Cf.: spip_style.css */
.spip_documents img {display:inline;}
.spip_documents_center {} /* Cf.: spip_style.css */
.spip_documents_left {} /* Cf.: spip_style.css */
.spip_documents_right {} /* Cf.: spip_style.css */
.spip_doc_titre {} /* Cf.: spip_style.css */
.spip_doc_descriptif {} /* Cf.: spip_style.css */


/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
body { background: #FFF;margin: 0; padding: 0; text-align: center;	width: 100%;	height: 100%; }
.ombre {background:transparent url(img/background.png) repeat-y top center;width:980px;margin:0 auto;padding:0;}

#page { position: relative; width: 100%; margin: 0; text-align: center;background: #FFF; }

#entete { background: #83d3dc url(img/bg-top.png) repeat-x bottom left; margin: 0 auto; padding-top: 0px; border-bottom: 1px solid #333; }

#top {width:962px;margin-left:auto;margin-right:auto;text-align:left;}
#entetelogos {margin:0 auto;position:relative;padding:0 20px;}
#top a img.spip_logos { float:left; line-height: 1em; }
#top #nom_site_spip { font-size: 2.2em; /*font-family: Verdana,Helvetica,sans-serif;*/}
#top #nom_site_spip, #top #nom_site_spip a, #top a { color: #fff; }
#top p { margin: 5px 0; padding: 0; }
#top p.langues, #top p.langues strong.on a { color: #A7D6D5; }
#top p.langues a:after { content: none; }

#top .utiles {float:right:width:200px;}
#top .utiles ul.liens {position:absolute;right:0;top:0;list-style:none;margin:0;padding:0;text-align:right;font-size:0.9em;background:url(img/bandeau-haut-droite.png) no-repeat bottom left;padding:3px;padding-left:40px;}
#top .utiles ul.liens li {display:inline; padding:0 10px;}
#top .utiles a {color:#fff;}

#top .formulaire_login {position:absolute;top:0;right:30px;background:url(img/inscription.png) no-repeat bottom left;width:200px;font-size:0.90em;margin:0;padding:0px 7px 18px 22px;color:#333;}
#top .formulaire_login a{color:#333;}
#top .formulaire_login #spip_logo_auteur {display:none;}
#top .formulaire_login li.editer_login,#top .formulaire_login li.editer_password {}
#top .formulaire_login li.editer_login label,#top .formulaire_login li.editer_password label {display:block;float:left;width:70px;}
#top .formulaire_login .editer_login input,#top .formulaire_login .editer_password input {width:100px;border:1px solid #999;}
#top .formulaire_login .details {text-align:left;display:block;}
#top .formulaire_login .editer_session input {display:none;margin:0;}
#top .formulaire_login li.editer_session {display:none;}
#top .formulaire_login .editer_session label {display:inline;}
#top .formulaire_login label {font-weight:normal;}
#top .formulaire_login li {padding:0 0 3px 0;}
#top .formulaire_login legend {display:none;}
#top .formulaire_login .boutons {}
#top .formulaire_login #pass_securise {}
#top .formulaire_login #pass_securise {display:block;float:right;}

.formulaire_login li.editer_login,.formulaire_login li.editer_password {clear:none;}
.formulaire_login li.editer_login input,.formulaire_login li.editer_password input {width:185px !important;padding-right:15px;}
.formulaire_login li.editer_password .details {display:block;}
.formulaire_login #pass_securise {display:block;position:relative;top:-1.5em;left:185px;width:20px;overflow:hidden;}
.formulaire_login #spip_logo_auteur {float:right;}

.bt-inscription {float:right;display:block;text-align:center;vertical-align:middle;background:url(img/bg-bt-inscription.png) no-repeat center;width:250px;height:22px;padding:10px 0;font-size:1.2em;color:#494040 !important;z-index:1000;font-weight:bold;}

#trouver {padding:0 20px;padding-right:10px;}
#trouver #formulaire_recherche { float:right;clear:none; margin:0;margin-right:236px;display:inline;position:relative;text-align: left; padding:0 0 4px;} /*Cf.: spip_formulaires.css*/
#trouver #formulaire_recherche input.text { width: 10em; text-align: left;border:1px solid #999; } /*Cf.: spip_formulaires.css*/
#trouver #formulaire_recherche label {display:inline;color:#fff;font-weight:normal;}
#trouver .textsizeup,#trouver .textsizedown,#trouver .textonly {border:1px solid #666;}
#trouver .textsizeup:hover,#trouver .textsizedown:hover,#trouver .textonly:hover {background:#666;}

#topnav-wrapper{clear:left;margin:0 auto;background:#414040;}
#topnav {width:962px;margin:0 auto;text-align:left;}

#topnav ul {clear:left;list-style:none;margin:0 20px;padding:0;}
#topnav ul li {float:left;list-style:none;}
#topnav ul li a {color:#fff;padding:4px 10px;display:block;font-weight:normal;}
#topnav ul li a:hover {color:#2a6167;background:#eee;}
#topnav ul li.on a {color:#fff;background:#ffffff;color:#2a6167;}

#topnav .boutonstexte {margin:0 20px;}
#topnav .boutonstexte img {display:inline;border:1px solid #666;}
#topnav .boutonstexte img:hover {background:#666;}


#body {width:962px;text-align:left;margin:0 auto;background: #FFF url(img/bg-nav.png) repeat-y top right;}
.page_sommaire #body {background: #FFF url(img/bg-right.png) repeat-y top right; }
/*.page_auteurs #body {background: #FFF url(img/bg-nav.png) repeat-y top right; }*/

#conteneur { float: left;width: 100%; margin:0;  }
#contenu { margin:0; margin-right:470px;margin-left:20px;margin-top: 1em;}
.page_auteurs #contenu { margin-right: 250px; }

#navigation { float: left; width: 225px; margin-left:-225px; margin-top: 1em; background:#e1f0f1;overflow:hidden; }
.page_sommaire #navigation {margin-left:-450px;}
/*.page_auteurs #navigation {margin-left:-225px;}*/
#navigation h2,#navigation .pagination,#navigation .articles li {padding-left:10px;padding-right:10px;}
#navigation .articles ul {font-size:0.9em;margin:0;}

#extra { float: left; width: 205px; margin-left:-440px; margin-top: 1em;overflow:hidden;}
.page_sommaire #extra {margin-left:-215px;}
#extra .herbier {text-align:center;margin:10px 0;}
.page_auteurs #extra {display:none;}

#more {width:962px;text-align:left;margin:0 auto;background: #e1f0f1;display:none;}
.page_article #more {display:block; overflow:hidden;}


#pied { clear: both;  margin: 0;}

#articles-actifs { margin: 0; padding: 5px 20px; border-top: 1px solid #999; text-align: left; font-size: 0.90em; background:#ddd url(img/pattern.gif); color:#333; }
#articles-actifs ul {margin:0;padding:0;}
#articles-actifs li {list-style:none;}
#articles-actifs li .box {margin:5px;padding:5px;border:1px solid #ccc;height:20em;background:#fff;}
#articles-actifs li .auteurs {display:block; height:2em;}
#articles-actifs li .resume {height:18em;overflow:hidden;}

#pied-bas { clear: both;  margin: 0; padding: 5px 20px; border-top: 1px solid #999; text-align: left; font-size: 0.90em; background:#413c3c; color:#fff; min-height:200px; }
#pied-bas a, #pied-bas a:hover {color:#e1f0f1;}
#pied-bas h2,#pied-bas h2 a, #pied-bas h2 a:hover {color:#eee;}
#pied-bas img { vertical-align: middle; }
#pied-bas .fils {display:none;}
.page_sommaire #pied-bas .fils {display:block;}

#pied-bas .divers li {border-bottom:1px solid #555;padding:2px 0;min-height:3em;}
#pied-bas .divers li:hover {background:#555;border-color:#444;}

#pied-bas .liens {text-align:center;}
#pied-bas .liens img {display:inline;}

#extra #boussole li {padding-left:50px;min-height:40px;}
#extra #boussole li a {padding:0;background-image:none;}
#extra #boussole li a img {float:left;margin-left:-50px;position:relative;display:inline;}
#extra #boussole li p {font-size:0.9em;margin:0;}


/* clearfix : http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix { display: inline-table; }

/* Hides from IE-mac \*/
.clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }
.none { display: none; }


/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

#hierarchie { clear: both; margin-bottom: 1em; font-size: 0.90em;margin-top: -1em; }
#hierarchie, #hierarchie a { font-weight:normal; color: #666; }

.lien_direct_forum {text-align:right;display:block;margin-top:-1em;margin-bottom:1em;}
.retour_top {float:right;display:block;}

.formulaire_notation,.formulaire_jaime_jaimepas {padding:0 10px;}

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding-top: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #669; }
.chapo#avertissement { clear: both; padding: 1em; background: url(img/pattern.gif); border: 2px dotted red; -moz-border-radius: 1em; font-weight: bold; color: red; }
.texte { line-height: 1.6em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

#contenu .spip_cadre {width:430px;}
abbr.published { border: 0; }

#extra .socialtags {padding:0 10px;float:right;}
.socialtags img {display:inline;}

/* Portfolio */
#documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
#documents_portfolio a.on .spip_logos { border-color: #F57900; }
#documents_portfolio a:focus .spip_logos,
#documents_portfolio a:hover .spip_logos,
#documents_portfolio a:active .spip_logos { border-color: #8B6F92; }


/* Formulaires */
.formulaire_spip {margin:10px;}
.formulaire_spip p {padding:0px;}

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/

.formulaire_spip .reponse_formulaire {
	border:2px solid;
	color:#333;
	font-weight: normal;
	padding:10px;
	padding-left:40px;
	min-height:24px;
	margin:10px;
}
.formulaire_spip .reponse_formulaire_ok{
	border-color: #53AD20;
	background:#E0FFCF url(img/message_ok-24.png) no-repeat 5px 5px;
}
.formulaire_spip .reponse_formulaire_erreur{
	border-color: #C30;
	background:#FFD0BF url(img/message_erreur-24.png) no-repeat 5px 5px;
}

/* Habillage des forums
---------------------------------------------- */
.comment-reply { clear: both; margin:0em; padding: 0.5em 0; text-align: right; font-weight: bold;font-size:0.95em; }

/* habillage des comments */
#more .comments-thread {padding:30px 60px;}
#more .comment-form {padding:30px 60px;}
#more .comments-thread .formulaire_forum {margin:0 0 10px;}

.comments-thread { clear: both; margin: 0; padding: 0;}
.comments-thread h2 {}

.comments-thread .comments-ul {display: block; clear: both; margin: 0; padding:0 10px;list-style:none;}
.comment-li {padding-bottom:20px;}
.comments-thread .comments-ul .comments-ul {padding:0;}
.comments-thread .pagination {margin:10px;}

.comments-ul .comments-ul .comment-li {padding-bottom:0px;}

.comment {padding:20px;padding-left:240px;position:relative;overflow:hidden;}
.comment-li .comment {background:#fff;}
.comment-li .comment-li .comment {background: #f3f6f9 url(img/reply-to-reply.png) no-repeat top center;padding-top:31px;padding-bottom:9px;}
.comment-li .comment-li.first .comment {background-image:url(img/reply-to.png);}
.comment-li .comment-li.last .comment {padding-bottom:20px;}

.comment .avatar {position:absolute;top:20px;left:20px;}
.comment-li .comment-li .comment .avatar {top:31px;}
.comment .comment-content p {margin:0 0 5px;}
.comment-li.on {font-weight: normal;}

.comment .comment-meta {font-size:1em;float:left;margin-left:-155px;width:145px;}
.comment .comment-meta abbr { border: 0;}
.comment .comment-meta .reviewer {display:block;margin-top:1em;}
.comment .comment-meta .reviewer .sep {display:none;}
.comment .permalink {position:absolute;top:0;right:0;padding:15px 10px;font-size: 3em;text-align: right;text-decoration: none;line-height: 1;color:#39C;}
.comment .permalink:focus,
.comment .permalink:hover {color:#F57900;}
.comment .permalink.in-reply-to {display:none;}
.comment .comment-texte { padding-right: 15px; }
.comment:hover {}

/* les boutons action */
form.bouton_action_post, form.bouton_action_post div {display:inline;}
form.bouton_action_post button.submit, .formulaire_spip .boutons input.link,.formulaire_spip .boutons button.link {margin:0;font-weight:normal;}

.formulaire_spip .boutons button {cursor:pointer;}
form.bouton_action_post button.submit, .formulaire_spip .boutons input.link,.formulaire_spip .boutons button.link {background:none;border:0;cursor:pointer;padding:0 0 1px;}
form.bouton_action_post button.submit:hover, .formulaire_spip .boutons input.link:hover,.formulaire_spip .boutons button.link:hover {border-bottom:1px solid;padding:0;}

.comment .actions {visibility: hidden;position:absolute;bottom:0;left:20px;}
.comment:hover .actions {visibility: visible;}
#more .formulaire_forum {padding:1px 0 0;background: #98C9E9;}
#more .formulaire_forum form {padding:10px;padding-left:240px;}
#more .formulaire_forum form.preview {padding:0;background:#f3f6f9;}
#more .formulaire_forum form.preview fieldset {margin-bottom: 0em;padding-left:0;padding-right:0;border-left:none;border-right:none;}
#more .formulaire_forum form.preview .comment {background:#f3f6f9;}
#more .formulaire_forum form.preview .boutons {margin:0 20px;}
#more .formulaire_forum form.preview .boutons input.submit {padding:2px 5px;}

#more .formulaire_forum fieldset {clear:none;}
#more .formulaire_forum fieldset.qui{float:left;width:200px;margin-left:-220px;}


/* * Habillage des forums old style*/
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul.reponse { list-style: none; }
.forum-fil { margin-top: 1.50em;border-top: 1px solid #e1f0f1;border-bottom: 2px solid #e1f0f1; }
.forum-fil ul.reponse { display: block; margin: 0; padding: 0; padding-left:20px;background:url(img/reponse-forum-left.png) no-repeat top left;}
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }
ul.forum .gravatar {margin-left:-60px;float:left;display:inline;position:relative;}

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border-top: 1px solid #e1f0f1; margin: 0; padding: 0;padding-left:60px; }
ul ul .forum-message { border-top: 1px solid #e1f0f1; }
ul ul ul .forum-message { border-top: 1px solid #e1f0f1; }
ul ul ul ul .forum-message { border-top: 1px solid #e1f0f1; }
ul ul ul ul ul .forum-message { border-top: 1px solid #e1f0f1; }
ul ul ul ul ul ul .forum-message { border-top: 1px dotted #e1f0f1; }
ul .forum-message:hover {background:#e1f0f1;}

ul li.forum-last {padding:10px 0 1px;border-top: 2px solid #e1f0f1;padding-left:60px; }
ul li.forum-last .gravatar {margin-left:-60px;float:left;display:inline;position:relative;}
ul li.forum-last:hover {background:#e1f0f1;}
ul li.forum-last .date,
ul .forum-message .date {font-size:1.1em;color:#515;font-family: 'Luxi sans','Lucida Grande',Lucida,'Lucida Sans Unicode',sans-serif;}
ul li.forum-last .forum-message { border:0;margin: 0; padding:0; }
ul li.forum-last .forum-texte {margin:0; padding:0;}
ul li.forum-last .repondre {float:right;margin:0;clear:right;}

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

.forum-message .actions {text-align:right;}
.forum-message .actions a {font-weight:normal;}

ul .forum-message p {padding:5px 0;}

#contenu-forum {clear:both;}

/* Prolégomènes dans le formulaire forum */
#prolegomenes {border-left: solid 2px #005A9C; padding-left:5px; font-size:0.9em; margin-top:5px;}
#prolegomenes ul.spip {margin-left: 25px;}

/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

ul.liste_items {margin:1em 10px;}
ul.liste_items li.item {padding:0.4em 0;}

ul.liste_items li.item.erreur {background:#DF99B6;}

/* Habillage general des menus de navigation */
.menu { clear: both; margin-bottom: 2em; text-align: left; }
.menu.unit {clear:none;}

.menu p { margin: 0.20em 0; padding: 0.20em 10px; }
.menu ul p { padding: 0.20em 0px; }
.menu ul { margin: 10px;padding:0; list-style: none; border-bottom: 1px solid #DDD; }
.menu ul li { margin: 0.20em 0; padding: 0.20em; border-top: 1px solid #DDD; }
.menu ul li ul { margin-left: 1em; border: 0; }
.menu ul li li { padding: 0; border: 0; }
.menu li .notation_note {float:right;}

/* Pagination */
p.pagination,p.tri {clear: both;border-top:1px solid #ddd;border-bottom:0px solid #ddd; margin: 0;padding:2px 10px; font-size:
0.9em;  text-align: left; white-space: nowrap; }
.pagination .on,.tri .on { background:#2A6167;padding:2px 3px;color:#fff;font-weight: bold; }
p.tri {text-align:right;border:none;}

/* Versions compatibles */
.menu ul.versions li { padding-left: 25px; background: url(img/version-ok-16.png) no-repeat center left; color: #656; font-size:1.2em;font-weight:bold; }

/* documents_joints */
.menu#documents_joints {}
.menu#documents_joints li { margin: 0; padding: 1em; padding-left: 60px; font-size: .96em; }
.menu#documents_joints li img { float: left; margin-left: -58px; }
.menu#documents_joints li strong {}
.menu#documents_joints li .info_document { display: block; font-size: .9em; }
.menu#documents_joints li:hover { background: url(img/bg/hachures.png); }

/* Sur le Web */
.menu#sur_web {}
.menu#sur_web .descriptif { font-size: .96em; }
.menu#sur_web .maj { font-size: .96em; }
.menu#sur_web .maj strong { display: block; font-size: 2em; color: #ccc; }
.menu#sur_web ul li ul { margin: 0; font-size: .96em; }
.menu#sur_web ul li li { padding: .2em; line-height: 1.1em; }

/* Rubriques */
.rubriques ul {}
.rubriques ul li {}

/* surle sommaire */
.page_sommaire #contenu .rubriques {float:left;width:40%;padding:0 0 0 10px;}
.page_sommaire #contenu .nuage {clear:right;float:right;width:45%;padding:0 0px 0 20px;margin-left:0;margin-right:0;}
.page_page #navigation .menu li:hover {background:#D4E6F1;}

/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: .4em .2em; }
.articles ul li h3 { margin: .3em 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }

.nb_commentaires { white-space: nowrap; }
.nb_commentaires img { display: inline; vertical-align: middle; }

#contenu .rubriques li { padding-left: 60px; clear: left; }
#contenu .rubriques li .spip_logos { position: relative; clear: left; float: left; margin-left: -60px; display: inline; }
#contenu .rubriques li.simple, 
#contenu .articles li, li.simple { padding-left: 0; }
#contenu .rubriques ul li .intro, ul li .intro { margin-top: .3em; line-height: normal; color: #333; }
#contenu .rubriques ul li .intro p, ul li .intro p { margin: 0; padding: 0; }

/* Rubriques */
#navigation .rubriques ul,.page_sommaire #contenu .rubriques ul { border: 0; list-style:none;margin:10px 0;padding:0;width:100%;}
#navigation .rubriques ul li, .page_sommaire #contenu .rubriques ul li { border: 0;list-style:none;border-bottom:1px solid #ccc;margin: 0;padding-left:0;clear:none;}
#navigation .rubriques ul li li, .page_sommaire #contenu .rubriques ul li li {padding-left:10px;font-size:0.95em;}
#navigation .rubriques ul li a, .page_sommaire #contenu .rubriques ul li a {display:block;padding:3px 10px;}
#navigation .rubriques ul li a:hover,.page_sommaire #contenu .rubriques ul li a:hover {background:#fff;}


/* le nuage */
h2.titrenuage {float:right;margin-right:0px;}
.nuage {	margin:0px 10px 0;	padding: 0;	list-style: none;	font-size: 0.9em;	text-align:left; }
.nuage * {display:inline;}
.nuage dt {	display: inline;	line-height:2em;}
.nuage .frequence {	display: block;	float: left;	height: 0;	overflow: auto;	width: 0;}
#contenu h2.titrenuage,#contenu .nuage {margin-top:0px;}
#contenu .nuage {padding-left:1em;border-left:2px solid #BF0000;margin-left:0;margin-left:70px;}
#contenu h2.titrenuage {float:right;margin:-70px 0 0 10px;}

/* les mots */
/* defaut */
.nuage a.nuage   { font-size: 1em; }
/* variantes */
.nuage a.nuage0  { font-size: 0.9em;color : #9E9090;font-weight:normal; }
.nuage a.nuage1  { font-size: 1.0em;color : #8D8080;font-weight:normal; }
.nuage a.nuage2  { font-size: 1.1em;color : #7C7070;font-weight:normal; }
.nuage a.nuage3  { font-size: 1.2em;color : #6B6060;font-weight:normal; }
.nuage a.nuage4  { font-size: 1.3em;color : #5A5050;font-weight:normal; }
.nuage a.nuage5  { font-size: 1.4em;color : #494040;font-weight:bold; }
.nuage a.nuage6  { font-size: 1.5em;color : #494040;font-weight:bold; }
.nuage a.nuage7  { font-size: 1.6em;color : #353030;font-weight:normal; }
.nuage a.nuage8  { font-size: 1.7em;color : #232020;font-weight:normal; }
.nuage a.nuage9  { font-size: 1.8em;color : #111010;font-weight:bold; }
.nuage a.nuage10 { font-size: 1.9em;color : #000;font-weight:bold; }


.brulant,.recents {padding:0 0 1em;clear:both;}
.recents {margin:0 0 1em;border-bottom:2px solid #e1f0f1;}
.brulant h2,.recents h2 {border-bottom:0px solid #e1f0f1;}
.brulant .encart {margin:5px;padding-top:1em;border-top:15px solid #e1f0f1;}
.recents .encart {margin:5px;padding-top:1em;border-top:5px solid #e1f0f1;}
.brulant .spip_logos,.recents .spip_logos {float:right;margin-left:5px;margin-bottom:5px;}
.brulant p,.recents p {padding-top:5px;padding-bottom:5px;}

.derniers .entry-title,
.topnotes .entry-title {display:block;}

.derniers small,
.topnotes small {display:none;}

#contenu .ailleurs { margin:1em 0;width:100%;padding:10px 0 10px;border-top:2px solid #E1F0F1;}

ul.items {border-top:1px solid #ddd;margin-top:0;list-style:none;margin:0 0 10px;padding:0;}
ul.items li { border: 0;list-style:none;border-bottom:1px solid #ccc;margin: 0;clear:none;}
ul.items li {border-color:#eee;padding:2px 10px;}
ul.items li:hover {background:#e1f0f1;}

#contenu .spip-user ul.items li .texte {font-size:0.9em;}

#extra #gazette {font-size:0.95em;background:none;}
#extra #gazette p {display:none;}

.herbier {text-align:center;}
.herbier img {display:inline;}

/* liste des auteurs */
div.auteurs ul {border-bottom:0;}
div.auteurs li {float:left;width:85px;padding:10px 10px;}
.formulaire_recherche_auteur {margin:-2em 0 0.5em 0;background:none;float:right;padding:0;}
dl.auteur {text-align:center;padding-top:60px;height:3.5em;overflow:hidden;}
dl.auteur img {display:inline;}
dl.auteur dd,dl.auteur dt {margin-left:0;padding-left:0;}
dl.auteur dt span.gravatar {display:block;margin-top:-55px;}
dl.auteur dd {font-size:0.9em;height:2em;}

/* coloration code */
.coloration_code .cadre {background:#ddd;}
.coloration_code ol li {list-style-type:decimal;margin-left:40px;}
.coloration_code ol li {background:#eee;}
.coloration_code ol li:nth-child(2n+1) {background:#fff;}


/* Plan du site */
ul.plan li {list-style-type:disc; margin-left:40px;}

.error,.success,.notice {
	border:2px solid;
	color:#333;
	font-weight: normal;
	font-size: 1em;
	padding:5px;
	padding-left:40px;
	min-height:24px;
	margin-bottom:1em;
}
.success{
	border-color: #C6D880;
	background:#E6EFC2 url(img/message_ok-24.png) no-repeat 5px 5px;
	color : #264409;
}
.error {
	border-color: #FBC2C4;
	background:#FBE3E4 url(img/message_erreur-24.png) no-repeat 5px 5px;
	color : #8A1F11;
}
.notice {
	border-color: #FFD324;
	background:#FFF6BF url(img/message_notice-24.png) no-repeat 5px 5px;
	color : #514721;
}

/* Couleurs des liens
---------------------------------------------- */
a { color: #005A9C; text-decoration: none; font-weight: normal; }
a[hreflang]:after { background: transparent; content: "\0000a0(" attr(hreflang) ")"; }
a.spip_out { padding-right: 14px; background: transparent url(img/spip_out.gif) no-repeat right; }
a:focus,a:hover,a:active { color: #F57900; text-decoration: underline; }
a:visited { color: #604A7F; }


.spip-admin-float {right:45% !important;top:0 !important;}
/*
a.spip-admin-boutons {display:block;color:#333 !important;background:transparent !important;border:0 !important;}
a.spip-admin-boutons:hover {color:#000 !important;background:#cecece !important;}
*/
/*  ------------------------------------------
/*  Autres supports
/*  ------------------------------------------ */

/* Affichage pour les petits ecrans (type 400 x 300) */
/*
@media handheld, only screen and (max-device-width: 481px), only and (max-device-width: 400px), only and (max-width: 400px) {
div#page, div#conteneur, div#navigation, div#extra { width: auto; }
}*/
