/* --------------------------------------------------------------

   button.css
   Style des boutons (a, input, button)

-------------------------------------------------------------- */


/* Affichage sur petits ecrans
 * Note : On ne modifie pas les boutons pour
         les petits ecrans.
------------------------------------------ */
@media (min-width: 640px) {
    .submit { position: relative; display: inline-block; width: auto; padding: 5px 1em 6px; overflow: visible; cursor: pointer;
    background: #888 url(img/varicelle-sprite.png) left top repeat-x;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 0;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    font-size: 100%; line-height: 1; font-weight: bold; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
    .ie6.submit { background-image: none; border: none; color: #FFF !important; }

    .submit,
    .submit:visited,
    .submit * { color: #FFF; text-decoration: none; }

    .submit:hover { background-color: #777; color: #FFF; text-decoration: none; }
}
/* end */