/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux
   cf.: http://romy.tetue.net/structure-html-de-base

-------------------------------------------------------------- */

body { background: #fff; color:#666; font: 12px/1.7 Helvetica, Arial, Tahoma, sans-serif; text-align: center; }
.page { }

.header { background: #403830 url(img/header-bg.jpg) repeat-x; padding: 90px 0 20px 0; }
.main { clear: both; }
.footer { background: #403830; border-top: 1px solid #453C34; clear: both; margin-top: 1.5em; padding: 2em 0; position: relative; }

.wrapper { clear: both; float: left; width: 70%; }
.content { min-height: 350px; }

.page_404 .content { background: url(img/404.png) no-repeat 0 100px; }
.page_404 .chapo { font-family: 'Courier New', Courier, monospace; font-size: 2em; line-height: 1.5;  margin-top: 130px; margin-left: 200px; width: 350px;}
.aside { float: right; overflow: hidden; width: 26%; }


/* Centrer le layout
------------------------------------------ */
.header #logo, .header #slogan,
.menu-conteneur,
.main, .nav,
.footer .colophon { margin: 0 auto; position: relative; text-align: left; width: 900px; }


/* Gabarit d'impression
------------------------------------------ */
@media print {
    .page,
    .wrapper,
    .content { width: auto; }
    .nav,
    .arbo,
    .aside,
    .footer { display: none; }
}

/* Affichage sur petits ecrans
* Cf.: http://www.alsacreations.com/astuce/lire/1177
------------------------------------------ */
@media (max-width: 900px) {

    /* Afficher le contenu en Plein ecran
    ------------------------------------------ */
    .header #logo, .header #slogan,
    .menu-conteneur, .main, .nav,
    .footer .colophon {  overflow: visible; width: auto!important; }

    .page { margin: 0; }
    .header, .main, .footer { padding-left: 1em; padding-right: 1em; }
}

@media (max-width: 640px) {

    body { background: white; font: 11px/1.5 Helvetica, Arial, Tahoma, sans-serif; }

    /* Passer tous les elements de largeur fixe en largeur automatique */
    body,
    .page,
    .header,
    .main,
    .footer,
    .wrapper,
    .content,
    .aside { clear: both; float: none !important; margin: auto!important; padding: auto!important; width: auto!important; }

    /* On remonte le header et on cache les icons */
    .header { background-position: -0 -60px; padding: 20px 10px; }
    .socialtags { display:none;}

    /* header du calendrier full-calendar */
    table.fc-header td { display: block; text-align: left; border: 1px solid red }

    /* Pas de hauteur minimum pour les mobiles */
    .content { min-height: inherit; }

}

/* end */