/* --------------------------------------------------------------

   theme.css
   Definition des styles pour Brownie

-------------------------------------------------------------- */

::selection { background: #2e2823; color: #FFFFFF; }
::-moz-selection { background: #2e2823; color: #FFFFFF; }

body.wait *, body.wait { cursor:wait !important; }

/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

body { color: #74665B; -webkit-font-smoothing: antialiased; }

/* Titraille / Intertitres */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { color: #262626; font-family: Helvetica, Arial, Tahoma, sans-serif; font-weight: 600; }
hr { background: #D9D9D9; }

.cartouche { margin-bottom: 1.5em; }
.cartouche .spip_logos { background: #fff; padding-right: 1em; padding-bottom: .5em; }
.cartouche h1 { border-bottom: 1px solid #d9d9d9; color: #453C34; font-weight: 400; margin: 10px 0; padding: 0; }
.cartouche p { margin-bottom: 0; }
.surtitre{}
.soustitre {}

/* Listes SPIP */
dl.spip dt { background: url("img/def.png") no-repeat 25px .5em; }
dl.spip dt, dl.spip dd { padding-left: 50px; }

/* Tableaux SPIP */
table.spip caption {  background: none; border-bottom: 1px solid; font-weight: bold; text-align: left; }
table.spip thead th { background: none; border: 1px solid; border-width: 1px 0; }
table.spip tbody tr th, table.spip tr td { background: none; }
table.spip tbody tr.odd th, table.spip tr.odd td { background: #F9F4E1; }
table.spip tfoot { border-top: 1px solid; }

/* Citations, code et poesie */
.spip_code { color: #777; }
.spip_cadre { background-color: #fff; border: 1px solid #ddd; color: #777; }
blockquote, blockquote.spip, .spip_poesie { background: none; border-left: 4px solid #D8C0A8; color: #666; font-style: italic; line-height: 1.4; padding: 0 25px; }

/* Fil d'ariane */
.arbo { clear: both; color: #453C34; font-size: .9em; }
.arbo * { font-weight: normal; }

/* Date */
.info-publi abbr.published,
abbr.dtreviewed,
.menu_articles small,
.aside .menu_breves small { background: url("img/blog_date.png") no-repeat center left; border: 0; color: #a6a6a6; font-size: 11px; font-style: normal; line-height: 11px; margin-bottom: .6em; padding: 3px 0 0 18px; }

@media print {
    abbr[title].published:after { content: ""; }
    abbr[title].dtreviewed:after { content: ""; }
}
.info-publi { color: #a6a6a6; font-size: .9em; font-style: italic; margin: 1.5em 0 0; }
.traductions { border: 1px dotted lightgrey; font-size: .9em; line-height: 1.5; margin: 1.5em 0; padding: 1em; text-align: center }
.traductions a[hreflang]:after { content: ''; }

.chapo { color: #403830; font-size: 1.4em; font-style: italic; font-weight: normal; letter-spacing: -0.5px; line-height: 1.4; margin-bottom: 1em; }
.chapo p { margin-bottom: .5em; }
.texte {}
.hyperlien { background: #F9F4E1 url("img/def.png") no-repeat 25px 1.9em; display: block; font-weight: bold; padding: 1.5em 1.5em 1.5em 50px; }
.ps, .notes { margin-bottom: 1.5em; }
.notes { clear: both; font-size: .9em; }
.surlignable {  }
.enclosures { margin: .5em; }


/* Couleurs des liens
---------------------------------------------- */
a {
    color: #d93e39; padding: 1px 3px; text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;
}
a:focus, a:hover, a:active { background-color: #d93e39; color: #fff; text-decoration: none; }
a.spip_out, a.spip_glossaire { background: url("img/spip_out.gif") no-repeat scroll right center; color: #46839B; padding-right: 12px; }
a.spip_out:hover { background-color: #46839B; color: #fff; }


/* Formulaires : variantes et cas particuliers
----------------------------------------------- */
.formulaire_spip {
    background: #f8f8f8; border: 1px solid #f0f0f; clear: both; margin: 1.5em 0; padding: 2em 1em 1em;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.aside .formulaire_spip { margin-top: 1em; padding: 2em 1em 1em; }
fieldset {
    margin: 0; width: 100%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
}
legend { display: none; }
label { color: #262626; display: block; font-weight: bold; }
.erreur_message { display: block; }
input.text,textarea {
    background-color: #fff; border: 1px solid lightgrey; margin-bottom: 1em; padding: 4px; width: 100%;
    -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.content input.text { width: 50%; }
textarea { width: 100%; }

/* Success, info, notice and error/alert boxes (from BluePrint) */
.error, .alert, .notice, .success, .info { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.error p, .alert p, .notice p, .success p, .info p { margin-bottom: 0; }

/* Selection des langues */
.formulaire_menu_lang {  background: none; margin: 0; padding: 0; }

.header .formulaire_menu_lang { display: block; position: absolute; right: 0; top: .90em; width: 30%; }
.header .formulaire_menu_lang select { width: 100%; }

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche { background: none; border: none; margin: 0 !important; padding: 0 !important; width: 100%; }
.formulaire_recherche .text { background: url("img/recherche.png") no-repeat left center; padding-left: 20px; width: 100%; }
.ie6 .formulaire_recherche .text, .ie7 .formulaire_recherche .text { width: 89%; }
.aside .formulaire_recherche { position: absolute; top: 0; left: 0; }
.aside .formulaire_recherche input.submit { display: none; }

/* Choix des mots-clefs */
ul.choix_mots { display: block; list-style: none; margin: 0; padding: 0; }
ul.choix_mots li { clear: none; display: block; float: left; margin: 0; padding: 1%; width: 30%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

.formulaire_spip .bugajaxie { display: none; } /*IE/Win*/

/* Formulaire de login dans une page */
.formulaire_login ul li { clear: left; }
.formulaire_login .editer_password .details { display: block; }
.formulaire_login #spip_logo_auteur { float: right; }

/* Fomulaire de contact */
.formulaire_ecrire_auteur {}
.formulaire_ecrire_auteur .saisie_sujet_message_auteur input.text { width: 100%; }


/* Habillage des forums
---------------------------------------------- */

/* Habillage des forums */
.comments-items .comments-items { margin-left: 30px; }
.comments-items .comment-item { border-top: 1px solid #453C34; margin: 0; padding: 0 0 0 30px; position: relative; }
.comments-items .comment-item a { padding: 0; }
.comments-items span.permalink { color: #a6a6a6; font-size: 2em; position: absolute; top: -2px; left: 0; }
.comments-items .comments-items .comment-item { border-style:dashed; border-color: #e6e6e6; padding: 0; }
.comments-items .comments-items span.permalink { display: none; }
.comment-fil ul {}

/* comments list */
.comment-meta { font-weight: bold; margin: 1em 0 0; }
.comment-meta small { color: #A6A6A6; font-size: 100%; font-weight: normal; }
.comment-meta small .sep { display: none; }
.comment-meta abbr { float: right; }
.ie6 .comment-meta small .sep, .ie7 .comment-meta small .sep { display: compact; }
.ie6 .comment-meta abbr, .ie7 .comment-meta abbr { float: none; }
.comment-meta a { padding: 2px 4px!important; }
.comment-meta a:focus,
.comment-meta a:hover,
.comment-meta a:active { color: #fff; }
.comment-content { color: #74665B; font-size: 1em; padding: 3px; max-height: 60em; width: 100%; overflow: auto; overflow-x: none; }
.comment-content .hyperlien { background: transparent; font-weight: normal; padding: 0; }
.comment-content p { margin-bottom: 1em; }
.comment-reply { clear: both; font-weight: bold; margin-bottom: 0; text-align: right; }

/* Formulaire de forum */
.formulaire_forum {}
.formulaire_forum legend { display: none; }
.formulaire_forum .saisie_titre input.text { width: 100% }
.formulaire_forum .session_qui { display: none; }
.formulaire_forum .saisie_texte .explication { color: #a6a6a6; font-size: .9em; font-style: italic; }

/* Habillage des petitions
---------------------------------------------- */
#signatures {}
#signatures td.signature-date small { white-space: nowrap; }
#signatures .formulaire_recherche { margin: 1.5em auto; text-align: center; }

/* Formulaire de signature */
.formulaire_signature {}


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de nav */
.menu { clear: both; margin-bottom: 1.5em; text-align: left; }
.menu p {}
.menu ul { margin-bottom: 1.5em; }
.menu ul li { line-height: 1.5; }
.menu ul li ul { margin-left: 1.5em; list-style: circle; }

/* Breves */
.menu_breves li {}
.menu_breves li h3 { margin: 0; }

/* Menus dans la colonne de droite */
.aside { padding-top: 60px; position: relative; }
.aside .menu { border-top: 1px solid #ccc; margin-top: 1em; padding:2em 0.75em 0.75em; }
.aside .menu a { display: block; padding-left:20px; margin-left: -20px; }
.aside .menu ul { margin-bottom: 0; }
.aside .menu li { border-bottom: 0; color: #A6A6A6; margin-bottom: .4em; }
.aside .menu p { color: #666; }

/* Menu Breves */
.aside .menu_breves h3 { margin-bottom: .5em; }
.aside .menu_breves small { display: block; }

/* Fichier en piece jointe */
.cboxElement img {
    border: 1px solid #ddd; padding: 6px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.cboxElement:hover { background: none; }
.cboxElement:hover img { border-color: red; }

/* Pagination */
.pagination { margin-bottom: 1.5em; overflow: hidden; }
.pagination a, .pagination .on {
    background: #F9F4E1; color: #707070; font-size: 1em; line-height: 1;
    display: block; float:left; margin: 0 10px 0 0; padding: 8px 15px; text-align: center; text-decoration: none;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.pagination a:focus, .pagination a:hover, .pagination a:active, .pagination .on { background: #d93e39; color: #fff; }
.pagination .sep { display: none; }
#pagination_articles { padding: 0; }


/* Entete et barre de navigation
------------------------------------------ */

/* Entete */
.header #logo { color: #F9F4E1; font-size: 2.8em; font-weight: bold; font-family: 'Mr Dafoe', cursive; color: #F9F4E1; line-height: 1; margin-bottom: 4px; text-shadow: 1px 1px 2px #000; }
.header #logo a, .header #logo a:focus, .header #logo a:hover, .header #logo a:active { background: transparent; text-decoration: none; color: #F9F4E1; padding: 0; }
.header #slogan { color: #D8C0A8; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;   }

/* Barre de navigation
.nav { }
.nav ul {}
.nav ul li { }
.nav ul li a { }
.nav ul li a:focus,
.nav ul li a:hover,
.nav ul li a:active { } */

/* Navigation principale - Utilisation du plugin Menu */
#nav, .menu-conteneur { top: -65px; z-index: 90; }
#nav ul, .menu-conteneur ul { display: inline; float: right; margin: 0; padding: 0; max-width: 600px; /*overflow: hidden;*/ }
#nav li ul, .menu-conteneur li ul { left: -2px; }
#nav li ul li, .menu-conteneur li ul li { box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); }
#nav li, .menu-conteneur li { display: block; margin: 0; padding: 0; position: relative; white-space: nowrap; }
#nav a, .menu-conteneur a { color: #f9f4e1; display: block; font-size: 14px; font-family: "Helvetica neue", Arial, sans-serif; font-weight: bold; padding: 4px 6px; position: relative; }
#nav a:hover, .menu-conteneur a:hover { background: transparent; color: #d8c0a8; text-decoration: none; }
#nav li.submenu > a, .menu-conteneur li.submenu > a { background-image: url("img/menu_down_arrow.png"); background-repeat: no-repeat; background-position: right; cursor: default; padding-right: 20px; }
#nav > ul > li, .menu-conteneur > ul > li { display: inline; float: left; margin-right: 14px; }
#nav > ul > li:last-child, .menu-conteneur > ul > li:last-child { margin-right: 0; }
#nav li ul, .menu-conteneur li ul { display: none; position: absolute; top: 98%; }
#nav li:hover > ul, .menu-conteneur li:hover > ul { display: block; }
#nav li ul li.submenu > a, .menu-conteneur li ul li.submenu > a { background-image: url("img/submenu_left_arrow.png"); background-repeat: no-repeat; background-position: right; padding-right: 10px; }
#nav li ul li.submenu > a:hover, .menu-conteneur li ul li.submenu > a:hover { background-color: #f5f5f5; }
#nav li ul li, .menu-conteneur li ul li { /*background: #fff;*/ border-bottom: 1px solid #534a42;}
#nav li ul li a:hover, .menu-conteneur li ul li a:hover { background-color: #f5f5f5; color: #d43a32; }
#nav li ul li:last-child, .menu-conteneur li ul li:last-child { border-bottom: 1px solid #2e2823; }
#nav li ul li a, .menu-conteneur li ul li a { background: #403830; line-height: 1.2; padding: 8px 25px 8px 12px; }
#nav li ul li ul, .menu-conteneur li ul li ul { top: -1px !important; left: 100% !important; padding: 0 !important; }
.ie7 #nav li ul li a, .ie7 .menu-conteneur li ul li a { line-height: 1.2; white-space: normal; width: 150px; zoom: 1; }

/* Navigation principale - Utilisation du plugin Menu */
.mnav { display: inline-block; margin: 1em 0; width: 100%; }
@media print {
    /*  Ne pas imprimer les menus */
    .menu-conteneur,
    .mnav { display: none; }
}


/* Pied de page
------------------------------------------ */
.footer .colophon { color: #74665B; }
.footer .colophon a { color: #fff; }
.footer .colophon a:hover { background-color: #74665B; }
.footer .generator { display: block; margin-left: 370px; position: absolute; top: 2.2em; left: 50%; }
.footer .generator a { background: none; padding: 0; }


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Listes d'articles et extraits introductifs */
.menu_articles h2.offscreen { border-bottom: 1px solid #d9d9d9; color: #453C34; font-size: 2.2em; font-weight: 400; padding: 0 0 10px 0; }
.page_site .menu_articles small { display: block; }
.js .menu_articles li { cursor: pointer; }
.menu_articles li {
    border:1px solid #ccc; clear: both; list-style: none; margin:0 0 2em 0; padding: 2em; position: relative;
    -webkit-box-shadow: 0px 2px 1px #e8e8e8; -moz-box-shadow: 0px 2px 1px #e8e8e8; box-shadow: 0px 2px 1px #e8e8e8;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0),color-stop(rgba(246,246,246,1),0.74),color-stop(rgba(237,237,237,1),1));
    background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    /*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );*/
}
.menu_articles li:hover {
    background: #fff;
    -webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.page_sommaire .aside, .page_rubrique .aside { -webkit-animation: moveFromRight 500ms ease; -moz-animation: moveFromRight 500ms ease; -ms-animation: moveFromRight 500ms ease; }

.menu_articles li a { font-size: 1.4em; padding: 0; }
.menu_articles li { -webkit-animation: smallToBig 900ms ease; -moz-animation: smallToBig 900ms  ease; -ms-animation: smallToBig 900ms  ease; }

/* Animation */
@-webkit-keyframes smallToBig { from { -webkit-transform: scale(0.1) } to { -webkit-transform: scale(1); } }
@-moz-keyframes smallToBig{ from { -moz-transform: scale(0.1); } to { -moz-transform: scale(1); } }
@-ms-keyframes smallToBig{ from { -ms-transform: scale(0.1); } to { -ms-transform: scale(1); } }

@-webkit-keyframes moveFromRight { from { -webkit-transform: translateX(100%); } to { -webkit-transform: translateX(0%); } }
@-moz-keyframes moveFromRight {from { -moz-transform: translateX(100%); } to { -moz-transform: translateX(0%); } }
@-ms-keyframes moveFromRight { from { -ms-transform: translateX(100%); } to { -ms-transform: translateX(0%); } }

/* Page Sommaire */
.page_sommaire .menu_articles li > a { background:none!important; margin: 0; padding: 0; }
.page_sommaire .menu_articles .spip_logos {
    border: 1px solid #CCC; float: none; margin: 0 0 1.5em 0; padding: 5px!important; width: 100%; height: auto;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.page_sommaire .menu_articles .entry-content { padding-bottom: 40px; }
.page_sommaire .menu_articles .entry-title { }
.page_sommaire .menu_articles .entry-title a:after {
    content: "En savoir plus";
    border: 1px solid #d3d3d3; color: #555; font-size: 12px; font-weight: bold; line-height: 12px; padding: 8px; position: absolute; left: 19px; bottom: 20px; text-shadow: 0 1px 0 rgba(255,255,255, 0.8); white-space: nowrap; z-index: 20;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
    background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
    background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
}
.page_sommaire .menu_articles .entry-title a:hover:after {
    background: #efefef;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
}

.page_sommaire .menu_articles .entry-title a { color: #000; display: block; height:100%; overflow: hidden; }
.page_sommaire .menu_articles .entry-title a:hover { background: none; color: #D93E39; }
.page_sommaire .menu_articles small { float: left; display:inline-block; position: absolute; bottom: 15px; right: 19px; }

/* Page Contact */
.page_contact .formulaire_spip { background: none; border: none; }

/* Page Plan */
.page_plan h3 { margin-left: 35px; margin-bottom: .3em; }

/* Page Rurbique */
.menu_articles .spip_logos { float: right; padding-left: 1em; padding-right: 0; }

/* Page Recherche */
.page_recherche .menu_articles ul.spip, .page_recherche .menu_articles ol.spip { margin-left: 0; }

/* Plugin : Social Tags */
.socialtags { margin-left: -450px!important; position: absolute; top: 20px; left: 50%; }
.socialtags a:focus, .socialtags a:hover, .socialtags a:active { background-color: transparent!important; }

/* ------------------------------------------
/* Autres medias
/* ------------------------------------------ */

@media print {

/*  Ne pas imprimer */
.spip-admin,
.spip-admin-float,
.spip-previsu,
.repondre,
.formulaire_spip { display: none; }

/* MobileMenu Plugin - Cacher le select*/
.mnav { display: none; }

/* Souligner et expliciter les liens */
a { color: #600; text-decoration: underline !important; }
a.spip_out:after,
a.spip_glossaire:after,
a.spip_mail:after { display: inline; content: " [" attr(href) "]"; }

}

/* Affichage sur petits ecrans
* Cf.: http://www.alsacreations.com/astuce/lire/1177
------------------------------------------ */
@media (max-width: 900px) {
    /* Plugin : Social Tags */
    .socialtags { left: 1em; margin: 0!important; }

    /* Pied de page */
    .footer .generator { left: auto; right: 1em; margin-left: 0!important; }

    /* Navigation principale - Utilisation du plugin Menu */
    #nav > ul > li:last-child, .menu-conteneur > ul > li:last-child { margin-right: 10px; }
}

@media (max-width: 640px) {

    .hyperlien { background-position: 5px 1.4em; padding: 1em 1em 1em 30px; }
    .arbo { display: none; }

    /* Listes et tableaux */
    dl.spip dt { background-position: 0 .5em; }
    dl.spip dt, dl.spip dd { padding-left: 25px; }
    ul.spip, ol.spip { margin-left: 20px; }

    /* Barre de navigation */
    #nav, .menu-conteneur { background-color:#403830; border-bottom: 1px solid #222; margin-bottom: 1.5em; text-align: center; top: auto; }
    #nav ul, .menu-conteneur ul { float: none; }
    #nav ul li, .menu-conteneur ul li { border-top: 1px solid #fff; width: 100%; }
    #nav ul li a, .menu-conteneur ul li a { border: none; color: #fff; display: block; float: none; padding: .3em 1em; text-decoration: none; }
    #nav ul li a:focus, .menu-conteneur ul li a:focus,
    #nav ul li a:hover, .menu-conteneur ul li a:hover,
    #nav ul li a:active, .menu-conteneur ul li a:active { background: #fff; color: #222; }

    /* Page Sommaire */
    .page_sommaire .menu_articles small { float: none; margin-bottom: .6em; position: relative; top: 0; right: 0; }
    .page_sommaire .menu_articles .entry-title a:after { left: 10px; }

    .menu_articles ul { margin: 0; }
    .menu_articles li { padding: 1em; }

    .footer .generator { display: none!important; }
    .content input.text { width: 100%!important; }

    /* Habillage des forums */
    .comments-items .comments-items { margin-left: 0px; }
    .comments-items .comment-item { padding-left: 0; }
    .comment-meta > small { display: block; }
    .comment-meta small .sep { display: inherit; }
    .comment-meta abbr { float: none; }
    span.permalink { display: none; }

    .spip_documents_center, .spip_documents_left, .spip_documents_right  { clear: both; float: none!important; display: block; width: 100%; }

    /* Pagination */
    .pagination a, .pagination .on { font-size: .9em; margin-right: 6px; padding: 8px 12px; }

    /* Page Plan */
    .page_plan h3 { margin-left: 0; }
}

/* end */

