
table.motscroises0 {
	border:0; 
	padding:0;
	width:100%;
	text-align:left;
}	

.mots_croises {
	float:left;
	width:100%;
	clear:both;
}

.jeux_vertical, .jeux_horizontal{
	float:left;
	font-size:90%;
	text-align:left;
	
/*
	min-width:18em;
	width:18em;
	margin-right:0.8em;
	margin-left:0.8em;
*/
	max-width:42%;
	width:42%;
	margin-right:3%;
	margin-left:3%;
}

.jeux_liste_lettres li{
	list-style-type:upper-alpha; 
}

.jeux_liste_chiffres li{
	list-style-type:decimal; 
}

/*.jeux_horizontal .jeux_vertical {float:left}*/

h4.jeux_grille{
	margin:0.8em;
	padding:0;
	font-weight:bold
}


.jeux_horizontal ol, .jeux_vertical ol{
	margin:0;
	list-style-position:inside;
	padding-left:15px;
}

.jeux_horizontal > ol, .jeux_vertical > ol{
	list-style-position:outside;
	padding-left:15px;
}

