.genea_tableau {
	width: 100%;
	font-size:1em;
}

.genea_tableau thead {
	text-align: center;
	background: #EAFFEA;
}

.genea_sosa {
	color:green;
}

.genea_photos {
	border: 8px ridge #ff6600;
}