body { background: white; margin: 5px; }

.edflayerfond {
	BACKGROUND-COLOR: #003366; bgcolor: #003366
}
A.edf3:link {
	COLOR: #ffffff
}
A.edf3:visited {
	COLOR: #ffffff
}
A.edf3:hover {
	COLOR: #ff9900
}
A.edf3:active {
	COLOR: #ff9900
}
A:link {
	COLOR: #003366
}
A:visited {
	COLOR: #003366
}
A:hover {
	COLOR: #ff9900
}
A:active {
	COLOR: #ff9900
}
.edf10 {
	FONT: 11px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #999999; TEXT-DECORATION: none
}
.edf11 {
	FONT: 11px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
.edf3 {
	FONT: 10px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none
}
.edf4 {
	FONT: bold 11px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
.edf5 {
	FONT: 10px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #336699; TEXT-DECORATION: none
}
.edf6 {
	FONT: 10px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #336699; TEXT-DECORATION: none
}
.edf7 {
	FONT: bold 14px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
.edf8 {
	FONT: bold 12px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
.edf9 {
	FONT: 12px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #003366; TEXT-DECORATION: none
}
.post-it {
	FONT-SIZE: 10px; COLOR: #996600; FONT-FAMILY: "Comic Sans MS", Arial; TEXT-DECORATION: none
}
.texte {
	FONT: 10px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #003366; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
.texteGris {
	FONT: 10px Verdana, Arial, Tahoma, Lucida, sans-serif; COLOR: #999999; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.titreSite {
	FONT: 26px Arial, Tahoma, Lucida, sans-serif; FONT-WEIGHT: bold; FONT-STYLE: italic; COLOR: #003366; TEXT-DECORATION: none
}


.champs
{
font-family: Arial, Helvetica, Sans-serif;
font-size: 12px;
color:#003366;
font-weight: normal;
font-style: normal;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-color: #003366;
border-right-color: #003366;
border-bottom-color: #003366;
border-left-color: #003366;
cursor: default;
}

.bouton
{
font-family: Arial, Helvetica, Sans-serif;
font-size: 12px;
color:#003366;
background-color: #F2F2F2;
font-weight: normal;
font-style: normal;

border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-color: #003366;
border-right-color: #003366;
border-bottom-color: #003366;
border-left-color: #003366;
}

.cadre_bleu
{
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-color: #003366;
border-right-color: #003366;
border-bottom-color: #003366;
border-left-color: #003366;
}
