/*
Theme Name: K2
Theme URI: http://binarybonsai.com/wordpress/k2/
Description: The sequel in spirit to <a href="http://binarybonsai.com/kubrick/">Kubrick</a>. Developed by <a href="http://binarybonsai.com">Michael Heilemann</a> with help from <a href="http://chrisjdavis.org">Chris J. Davis</a>. Share and distribute.
Version: Beta One
Author: Michael Heilemann & Chris J Davis
Author URI: http://binarybonsai.com/


	 |  /_  )
	 . <   / 
	_|\_\___|

	http://binarybonsai.com/k2/

	This theme was created by Michael Heilemann:
	http://binarybonsai.com/

	Special credit to Chris J. Davis:
	http://www.chrisjdavis.org/

	All elements of this theme are protected by the GPL:
	http://www.opensource.org/licenses/gpl-license.php

	Support questions go here:
	http://www.flickr.com/groups/binarybonsai/

	IMPORTANT: This is a beta release. While it is more or less feature complete,
	it is sure to still contain a few bugs here and there. Use at your own risk
	

-->	CSS OVERVIEW
	
	There are sections throughout, roughly describing 
	the contents inside each section. To step through each
	section, do a search for '/ * -' (without spaces) and
	repeat the search until you find the section you need.
	
	I have exaggerated the use of selectors in some places,
	so as to make it easier for people to gain an overview
	of what classes belong where in the hierarchy.
	
	I suggest you copy and paste whatever changes you want
	to make, into k2scheme.css, so as to keep this file
	intact and make it easier for yourself to debug any
	problems.
*/


/*- Page Structure */

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #444;
	background-color: #F0C44F;
	text-align: center;
	margin: 20px 0 30px;
	}

#page {
	background: #fff;
	text-align: left;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	/* The entire template's width is set in this class. */
	width: 760px;
	_width: 720px;
	}

body.flex #page { /* For the flexible-width setting. Not IE compatible */
	width: 80%;
	min-width: 760px;
	max-width: 1000px;
	}

#header {	padding: 0;	margin: 0;	position: relative;	height: 200px;background: no-repeat url(header-purple.jpg) center top #F0C44F;	}

.primary {
	width: 65%;
	min-width: 500px;
	_width: 500px; /* IE Hack */
	float: left;
	padding: 20px 2% 10px 2%;
	margin: 0;
	}

.secondary {
	font: 1em/1.5em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	padding: 10px 0;
	margin: 0 0 20px 71%;
	width: 26%;
	color: #666;
	/* The following are IE Fixes */
	_margin-left: 0%;
	_margin-right: -3%;
	_width: 28%;
	}

.comments {
	text-align: left;
	padding: 30px 0 0;
	position: relative;
	}

#footer {
	margin: 10px auto 0;
	}
	

/*- Main Menu in Header */

ul.menu {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 90%;
	}

ul.menu li {
	display: inline;
	margin: 0;
	}

ul.menu,
ul.menu li a {
	padding: 5px 15px 6px;
	}

ul.menu li a {
	font: 1em Verdana, Helvetica, Arial, Sans-Serif;
	color: white;
	margin: 0;
	}

ul.menu li a:hover {
	background: #333;
	color: #eee !important;
	text-decoration: none;
	}

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover {
	background: white;
	text-decoration: none;
	color: #F0C44F;
}

.admintab {
	position: absolute;
	right: 20px;
	}

/*- Sidebar Subpages Menu */

.sb_pagemenu ul {
	margin-left: 10px;
	}

.sb_pagemenu ul ul {
	margin-top: 2px;
	}

.sb_pagemenu ul ul .page_item {
	margin-left: 10px;
	padding: 0;
	}

.sb_pagemenu .current_page_item {
	}


/*- Headings */

h1, h2, h3, h4 {
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
	}

h1 { /* H1 is used for the title of your blog */
	font-size: 3em;
	letter-spacing: -1px;
	padding-top: 75px;
	margin: 0 0 0 40px;
	font-weight: bold;
	width: 100%;
	}

h1, h1 a, h1 a:hover, h1 a:visited,
#header .description {
	text-decoration: none;
	color: white;
	}

#header .description { /* Blog description, under blog title */
	font-size: 1em;
	margin: 0 0 0 40px;
	}

.primary h2 { /* H2 is what kind of page you are on. Eg. 'Monthly Archive'. */
	font-size: 2.4em;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0;
	letter-spacing: -1px;
	text-align: center;
	display: inline;
	}

.secondary h2 { /* Secondary H2 is sidebar headlines */
	font-size: 1.5em;
	font-weight: normal;
	padding: 0;
	display: inline;
	}

.primary h3, .primary h4 { /* H3 is entry headlines. H4 is comments and replyform headlines */
	font-size: 2em;
	font-weight: normal;
	letter-spacing: -1px;
	display: inline;
	}

.primary .aside h3 {
	font-size: 1.4em;
	font-weight: normal;
	}

.itemhead {
	margin-top: 10px;
	}

.itemtext h3 { /* For use on Pages */
	font-size: 1.7em;
	display: block;
	padding: 15px 0 0;
	}

.itemtext h4 { /* For use on Pages */
	font-size: 1.5em;
	display: block;
	padding: 15px 0 0;
	}

.secondary > div {
	margin: 20px 0 0;
	padding: 0;
	}

.primary .metalink a, .primary .metalink a:visited, /* The Metalink class takes care of the comments, edit, rss and trackback links next to the titles */
.secondary .metalink a, .secondary .metalink a:visited,
.secondary span a, .secondary span a:visited {
	color: #999;
	font-weight: normal;
	}

.primary .item .itemhead .metalink, .comments .primary .metalink {
	font-size: 1.8em;
	letter-spacing: -1px;
	text-transform: lowercase;
	margin-left: 15px;
	}

.primary .aside .itemhead .metalink {
	font-size: 1.4em;
	}

.comments .primary .metalink {
	margin: 0 15px 0 0;
	float: none;
	}

.secondary div > .metalink {
	text-align: right;
	}

.primary .aside {
	padding: 8px;
	margin: 0 4%;
	}

.secondary .aside {
	margin: 0;
	padding: 0 0 10px;
	word-spacing: -1px;
	}

.secondary .aside .metalink {
	padding-left: 0px;
	}

.secondary span a {
	margin-left: 10px;
	}

.metalink a span {
	display: none;
	}

.metalink a:hover > span {
	display: inline;
	}

h2, h2 a, h2 a:visited,
h3, h3 a, h3 a:visited,
h4, h4 a, h4 a:visited {
	color: #444;
	}

h2, h2 a, h2 a:hover, h2 a:visited,
h3, h3 a, h3 a:hover, h3 a:visited,
h4, h4 a, h4 a:hover, h4 a:visited {
	text-decoration: none;
	}

.metadata { /* Time and category for blog entries */
	display: block;
	}

/*- Primary Contents */

.primary .item {
	margin: 0;
	padding: 5px 0 15px;
	}

.primary .item .itemtext {
	font: 1.1em/1.5em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: justify;
	}

.primary .item .itemtext p,
.primary .item .itemtext ul,
.primary .item .itemtext ol,
.primary .item .itemtext div,
.primary .item .itemtext blockquote {
	margin: 13px 0;
	}

.primary .aside .itemtext p,
.primary .aside .itemtext ul,
.primary .aside .itemtext ol,
.primary .aside .itemtext div,
.primary .aside .itemtext blockquote {
	margin: 5px 0;
	}

.comments .commentlist {
	margin: 0;
	padding: 20px 0 0;
	width: 100%;
	}

.comments .commentlist li {
	margin: 10px 0;
	padding: 10px 10px 5px;
	list-style: none;
	}

.comments .commentlist li img {
	padding: 0;
	border: none;
	}

.comments .commentlist li img.gravatar {
	float: right;
	margin: -5px 0 0;
	}

.comments .commentlist li .commentauthor {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -1px;
	}

.comments .commentlist li .counter {
	font: normal 1.5em 'Century Gothic', 'Lucida Grande', Arial, Helvetica, Sans-Serif;
	color: #999;
	float: left;
	width: 35px;
	}

.comments .commentlist li.authorcomment {
	background: #f6f7f8;
	}

.comments .pinglist {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	}

.comments .pinglist li {
	margin-left: 40px;
	padding: 7px 0;
	list-style: none;
	}

.comments .pinglist li .commentauthor {
	font-weight: bold;
	display: block;
	}

.comments .pinglist li small {
	font: .8em Arial, Sans-Serif;
	display: block;
	}

.comments .pinglist li .counter {
	display: none;
	}

.comments .pinglist li span.favatar img {
	margin-left: -25px;
	border: none;
	padding: 0;
	float: left;
	}

.comments form {
	clear: both;
	padding: 1px 0 30px;
	margin: 0;
	}

input[type=text], textarea {
	font: 1em Verdana, Arial, Helvetica, Sans-Serif;
	border: 1px #ccc solid;
	padding: 3px;
	color: #777;
	}

input[type=text]:focus, textarea:focus {
	background: #fff;
	color: #333;
	border-color: #666;
	}

.comments form input[type=text] {
	width: 45%;
	margin: 5px 5px 1px 0;
	}

.comments form textarea {
	height: 250px;
	width: 100%;
	padding: 2px;
	}

.comments form #submit {
	margin: 0;
	float: right;
	}

#footer p {
	text-align: center;
	}

#footer a {
	color: #888;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	}

#footer a:hover {
	border: none;
	text-decoration: none;
	color: black;
	}


/*- Links */

a:hover, a:visited:hover {
	text-decoration: underline;
	}

h2 a:hover, h2 span a:hover {
	color: #ff8000;
	}

a {
	color: #ff8000;
	text-decoration: none;
	}

.itemtext a:visited {
	color: #ff8000;
	}


/*- Various Tags and Classes */

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	}

.primary img {
	margin-left: -5px;
	padding: 4px;
	border: 1px solid #ccc;
	max-width: 100%;
	}


.center {
	text-align: center;
	}

.alignright {
	float: right;
	}
	
.alignleft {
	float: left
	}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}
	
img.noborder {
	border: none;
	}

.favorite img {
	padding: 0;
	border: none;
	}

.tags {
	padding: 1px 10px;
	background: #f3f3f3;
	border: 1px solid #ddd;
	}

small {
	font-size: .9em;
	line-height: 1.5em;
	}

small, strike {
	color: #777;
	}
	
code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, /*span.caps*/ {
	font-size: 0.9em;
	letter-spacing: .07em;
	border-bottom: 1px dashed #999;
	cursor: help;
	}

blockquote {
	margin: 20px 0;
	padding: 0 20px 0 50px;
	background: url('images/quote.png') 10px top no-repeat;
	border: none;
	}

hr {
	display: none;
	}

.navigation {
	text-align: center;
	margin: 10px 0 10px;
	padding: 0;
	width: 100%;
	}

.navigation p {
	margin: 0;
	padding: 0;
	}

.navigation a {
	color: #999;
	}

img.wp-smiley {
	border: none;
	padding: 0 0 0 5px;
	}

.alert {
	background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
	}


/*- Begin Lists */
.itemtext ol, .itemtext ul {
	padding: 0 0 0 35px;
	margin: 0;
	}

.itemtext ol li, .itemtext ul li {
	margin: 0 0 3px;
	padding: 0;
	}

.secondary ul, .secondary ol, .secondary > div > div {
	margin: 5px 0 0;
	padding-left: 0;
	}

.secondary ul {
	_margin-left: 0px; /* IE Fix */
	}

.secondary ol {
	margin-left: 15px;
	}

.secondary ul li, .secondary ol li {
	margin: 0;
	padding: 1px 0;
	}
	
.secondary ul li {
	list-style-type: none;
	list-style-image: none;
	}

ol li {
	list-style: decimal outside;
	}


/*- Search Form and Livesearch */

.secondary div.sb_search {
	margin-top: 20px;
	}

.secondary div.sb_search h2 {
	display: none;
	}

input[type=text], input[type=search], textarea {
	color: #444;
	padding: 2px 0 2px 2px;
	margin: 0;
	border: 1px solid #ccc;
	}

.livesearchform input#livesearch {
	width: 98%;
	}

.livesearchform input[type=submit] {
	margin: 0;
	}

#LSResult {
	margin: 0;
	width: 200px;
	z-index: 100;
	position: absolute;
	background: #eee url('images/livesearchbg.jpg') center repeat-y;
	border-bottom: 1px solid #eee; 
	}

#searchcontrols {
	text-align: center;
	padding: 1px;
	background: #ddd url('images/livesearchbgdark.jpg') center repeat-y;
	}

#searchcontrols small {
	margin: 0;
	padding: 0;
	}

.LSRow:hover, #LSHighlight, #LSHighlight:hover {
	background: #ffffcc url('images/livesearchbghilight.jpg') center repeat-y;	}

#LSResult:hover #LSHighlight {
	background: none;
	border: none;
	padding: 5px 2px;
	}

#LSHighlight small, #LSHighlight small span a {
	color: #999;
	}

.LSRow {
	padding: 5px 10px;
	}

.LSRow span a, .LSRow span a:visited {
	word-spacing: -1px;
	line-height: 1.3em;
	font-weight: normal;
	color: #bbb;
	}


/* CSS Beyond this point is for various supported plugins and not the 'core' K2 template */


/*-
	Brian's Latest Comments
	http://meidell.dk/archives/2004/09/12/brians-latest-comments/
*/

.secondary div.sb_comments ul li span a, div.sb_comments ul li small a {
	color: #999;
	font-weight: normal;
	word-spacing: -1px;
	}

.secondary div.sb_comments ul li {
	margin-bottom: 6px;
	}

.activityentry {
	font-size: 1.1em;
	}

div.sb_comments small {
	display: block;
	margin: 0;
	font-weight: normal;
	line-height: 1em;
	}

.sb_flickr img
{
	border: 0px;
	padding: 5px;
}

/*-
	WordPress: Touched
	http://twilightuniverse.com/2005/03/wordpress-touched/
	
	No support for Touched 0.6 in the rest of K2.
	Seems a bit flaky just now. Waiting for new version.
*/

#poststuff fieldset {
	border: none;
	}

#poststuff #title, #poststuff #excerpt, #poststuff #tags {
	width: 470px;
	}
	
#poststuff #title {
	font-size: 2em;
	}
	

/*-
	Super Archives
*/

#af-ela {
	margin-left: 10px;
	}

#af-ela ul {
	padding: 0;
	}

#af-ela ul li {
	list-style-type: none;
	list-style-image: none;
	text-align: left;
	padding: 1px 8px;
	}

#af-ela-menu {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
	}

/* The Chronological or Categorical Tabs */
#af-ela-menu li {
	display: inline;
	padding: 2px 10px !important;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-bottom: 0;
	}

#af-ela-menu li.selected {
	background: #FFF6BF;
	}

/* Hovering state of the table items */
#af-ela-year li:hover, #af-ela-month li:hover, #af-ela-post li:hover, #af-ela-category li:hover {
	background: #f3f3f3;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 0;
	padding-bottom: 0;
	}

#af-ela-year {
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
	}

#af-ela-year li {
	position: relative;
	font-weight: bold;
	}
	
#af-ela-month, #af-ela-category {
	float: left;
	width: 20%;
	margin: 0;
	border-left: 1px solid #ccc;
	font-weight: bold;
	}

/* Category view only has two columns. So it has more width available */
#af-ela-category {
	width: 40%;
	}


#af-ela-month li {
	position: relative;
	}

#af-ela-post {
	float: left;
	width: 59%;
	margin: 0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}

#af-ela-post li {
	position: relative;
	font-weight: bold;
	}

#af-ela ul li span {
	position: absolute;
	right: 8px;
	font-weight: normal;
	color: #aaa;
	}

/* Active or hovered item in list */
#af-ela-year li.selected, #af-ela-month li.selected, #af-ela-post li.selected, #af-ela-category li.selected, #af-ela-post li:hover {
	background: #FFF6BF;
	border-top: 1px solid #FFD324;
	border-bottom: 1px solid #FFD324;
	padding-top: 0;
	padding-bottom: 0;
	}

.archives span {
	color: #bbb;
	}


/*
	Ultimate Tag Warrior
*/

span.localtags {
	display: none;
	font-size: .8em;
	line-height: 1.5em;
	color: #ddd;
	}

small {
	}



/*
	Contact Form
*/

.contactform {
	width: 100%; 
	position: relative;
	}

.contactleft {
	width: 15%; 
	text-align: right;
	clear: both; 
	float: left; 
	display: inline; 
	padding: 4px; 
	margin: 5px 0; 
	}

.contactright {
	width: 70%; 
	text-align: left;
	float: right; 
	display: inline; 
	padding: 4px; 
	margin: 5px 0; 
	}
	
.contacterror {
	border: 1px solid #ff0000;
	}

/* Peace and forgiveness */
/* Learn more about the other K2: http://en.wikipedia.org/wiki/K2 */