/* Pink Lilies by Naoko M. --- http://blog.detlog.org/ visit for more info. */
/* Designed for Wordpress CSS Competition | Released on February 6, 2004 */
/* Licensed under GPL (http://www.mysql.gr.jp/jpdoc/3.23/manual.ja_GPL_license.html#GPL_license */
/* Box Model Hack by Tantek Celik (http://www.tantek.com/CSS/Examples/boxmodelhack.html)  */
body, html {
	margin: 0;
	padding:0;
	background: #74605A;
	text-align: center;
	}
	
body, html, p, td, li, #menu ul ul li, input, select, textarea { 
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	}
h1, h2, h3 {
	font-family: georgia, times new roman,serif;
	}

a { color: #B38147; text-decoration: none;}
a:link { color: #B38147; }
a:visited { color: #805933; }
a:hover { color:#E7768C; }
a:active { color:#E7768C; }

a img { border: none; }

#rap {
	margin: 0 auto;
	padding: 0;
	width: 720px;
 	border-top: 1px solid #6E4646;
 	border-right: 1px solid #6E4646;
 	border-bottom-width: 0;
 	border-left: 1px solid #6E4646;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 718px;
	}
	
#header {
	background: url(top.gif) #A67879;
	text-align: right;
	padding: 8px 10px 2px 0;
	margin:0;
	height: 56px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	height: 46px;
	}
	
#header a, #header a:visited, #header a:hover {
	text-decoration: none;
	font-size: .8em;
	
	color: #F9F5E7;
	}
	
#content {
	background: url(lilies.jpg) repeat-y #F9F5E7;
	text-align: left;
	width: 718px;
	padding: 0 0 0 160px;
	float: left;
	color: #666;
	clear:both;
	min-height: 800px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 558px;
	}
	
.post {
	width: 380px;
	margin: 0;
	}
	
h2 {
	width: 380px;
	font-size: .9em;
	margin: 0;
	padding-top: 8px;
	}
	
h3 {
	font-size: .9em;
	margin: 5px 0 0 0;
	}

/* MAIN COLUMN starts here */	

ol, li { margin-left: 15px}

#content p {
	font-size: .7em;
	width: 380px;
	margin: 0 0 1em 0;
	}
	
.storycontent ul {	
	list-style-type: none;
	margin: 10px;
	padding: 0;	
	font-size: .7em;
	}

.storycontent ul li {
	list-style-image: url(bullet.gif);
	margin-left: 20px;
	}

.storycontent ol {
	margin-left: 10px;
	margin-right: 20px;
	padding: 0;	
	font-size: .7em;
	}
	
.meta {
	font-size: .7em;
	margin: 5px 0 0 0;
	padding: 3px;
	color: #3A3A3A;
	padding: 0 0 2px 16px;
	background: url(date.gif) no-repeat 2px 1px;
}
	
.post-categories {
	display: inline;
	margin: 0;
	padding: 0;
	}
	
.post-categories li {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
	}
	
.storycontent {
	font-size: 1em;
	text-align: justify;
	width: 380px;
	margin: 10px 0 0 0;
	}
	
.feedback {
	font-size: .7em;
	margin: 8px 0 0 0;
	color: #3A3A3A;
	padding: 0 20px 2px 16px;
	background: url(comment.gif) no-repeat 2px 1px;
	}
	
#commentlist {	
	margin: 0;
	padding: 0;
	}
	
#commentlist li {
	background: #FFF;
	border-top: 1px solid #E7768C;
	border-bottom: 1px solid #E7768C;
	font-size: 1em;
	width: 370px;
	margin-bottom: 10px;
	margin-left:5px;
	padding: 5px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 365px;
	}
	
ol#commentlist {
	font-size: 1em;
	list-style: none;
	}
		
#commentlist cite {
	margin: 0;
	font-size: .9em;
	font-style: normal;
	}
	
#commentlist li p {
	width: 360px;
	}
	
/* MENU starts here */	
	
#menu {
	width: 160px;
	margin-left: -160px;
	float: left;
	text-align: left;
	background: transparent;
	}
	
#menu ul {
	color: #612000;
	font-weight: bold;
	list-style-type: none;
	margin: 0px;
	padding: 0 8px;
	}
	
#menu ul li {
	font-family: georgia, times, serif;
	font-weight: bold;
	font-size: .9em;
	margin: 5px 0 5px 0;
	border-bottom:#AFA37C 1px dashed;
	}
	
#menu ul ul {
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0 0 8px 0;
	padding: 0;
	text-align: left;
	}
	
#menu ul ul li {
	background: none;
	font-size: .75em;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0;
	margin:0;
	border: 0;
	}
	
#menu input {
	background-color: #fff;
	border: 1px solid #6E4646;
	font-size: .9em;
	font-weight: normal;
	}
	
#wp-calendar {
	background: #CCBE92;
	empty-cells: show;
	font-size: 14px;
	width: 140px;
	margin-bottom: 8px;
	border: 1px solid #AFA37C;
}

#wp-calendar #next a, #wp-calendar #next {
	padding: 0 5px 0 0;
	text-align: right;
	color: #333;
	background: #CCBE92;
	font-weight:normal;
	}

#wp-calendar #prev a, #wp-calendar #prev{
	padding: 0 0 0 5px;
	text-align: left;
	color: #333;
	background: #CCBE92;
	font-weight:normal;
	}

#wp-calendar a {
	display: block;
	text-decoration: none;
	color: #6E2224;
	background: url(day2.gif);
	}

#wp-calendar a:hover {
	background: url(day.gif);
	color: #FFF;
	}

#wp-calendar caption {
	text-align: left;
	padding-bottom: 2px;
	padding-left: 2px;
	}

#wp-calendar td {
	color: #666;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 1px;
	text-align: center;
	background: url(day.gif);
	}
	
#wp-calendar td.pad {
	background: #CCBE92;
	}
	
#wp-calendar #today {
	background: #6E2224;
	color: #FFF;
	}

#wp-calendar th {
	color: #6E2224;
	font-style: normal;
	text-transform: lowercase;
	text-align:center;
	}
	
/* MENU ends here */	
	
.credit {
	clear: both;
	background: #A67879;
    border-top: 1px solid #6E4646;
    border-bottom-width: 0;
    border-left: 1px solid #6E4646;
	width: 720px;
	margin: 0 auto;
	font-size: .7em;
	color:#F9F5E7;
	padding: 3px 0;
	text-align: center;
	voice-family: "\"}\""; 
  	voice-family: inherit;
  	width: 718px;
	}
.credit a, .credit a:visited { color:#612000; }
.credit a:hover { color:#F9F5E7; }

cite {
	margin: 0;
	padding: 0;
	font-size: .9em;
	font-style: normal;
	}
	
#content blockquote p { border-top: 1px solid #E7768C;
	border-right-width: 0;
	border-bottom: 1px solid #E7768C;
	border-left-width: 0;
	font-size: .7em;
	padding: 5px; margin: 8px 10px 8px 40px;
	width: 350px;
	voice-family: "\"}\""; 
  	voice-family: inherit;
  	width: 300px;
	}
blockquote { 
	padding: 0; margin: 0px; width:350px;
	}
	
code, p code {
	font-size:.7em;
	color: #666;
	font-family: courier, monospace;
	background: #FFF;
	}
	
abbr, acronym {
	border-bottom: 1px dashed #E7768C;
	}

form { margin: 0;
	padding:0;
	}

input {
	border: 1px solid #999;
	background: #FDF3F5;
	margin: 3px;
	padding-left: 3px;
	color: #666;
	}
	
textarea {
	border: 1px solid #999;
	background: #FDF3F5;
	margin: 3px;
	padding-left: 3px;
	color: #666;
	width: 85%;
	font-size: 1.2em;
	}
	
select {
	border: 1px solid #999;
	background: #FFF;
	margin: 5px 0 0 0;
	padding-left: 3px;
	color: #666;
	}