/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 40px;
	background: #000000 url(img/img01.gif) repeat left top;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #4D4D4D;
}

h1, h2, h3 {
	color: #AA2808;
margin : 20px 10px 20px 10px;
}

h1 {font-size:24px;
}

h2 {clear: both;.
font-size:22px;
}

h3 {font-size:20px;}
}

p, blockquote, ul, ol {
	margin-bottom: 20px;
	line-height: 2em;
}

p {margin : 10px 0 10px 0;
clear:both;
}





a {
	text-decoration: underline;
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
	color: #838383;
}

caption {font-weight: bold;
	color:FF9200;}



/* page */

#page {
}

/* entete */

#entete {
	width: 892px;
	height: 91px;
	margin: 0 auto;
}

/* accueil */

.accueil {
	float: left;
	width: 470px;
	height: 76px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background: url(img/img01.jpg) no-repeat left top;
}

#entete .accueil #nom_site_spip {
	margin: 0;
	padding: 0;
	font: normal 36px Georgia, "Times New Roman", Times, serif;
}

#entete #slogan_site_spip {
	margin: -2px 0 0 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: bold;
	color: #444444;
}

#entete .accueil #nom_site_spip a {
	text-decoration: none;
	color: #F0F0F0;
}

#entete .accueil img.spip_logos { 	
	float: left;
	/* change the values of top and left to adjust the position of the logo*/
	margin: 10px 10px 10px 0;	
}

#formulaire_menu_lang {	float:right;
			width: 200px;
			margin-top: -90px;}

/* nav */

#nav {
	width: 940px;
	height: 60px;
	margin: 0 auto;
	background: url(img/img03.gif) repeat-x left top;
	overflow: hidden;
}

#nav ul {
	margin: 0;
	padding: 20px 0 0 0px;
	list-style: none;
	line-height: normal;
	margin-left: 30px;
}

#nav li {
	display: inline;
	text-align: center;
}

#nav a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#nav a:hover, #nav .active a {
	background: #FFFFFF;
	color: #110404;
}
#nav .menu-entree .menu-liste{
display:none;
}
#splash {
	width: 940px;
	height: 299px;
	margin: 0 auto;
	background: url(img/img04.gif) no-repeat left top;
	overflow: hidden;
}

/* Search */

#header-search {
	width: 940px;
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background: url(img/img05.gif) repeat-x left top;
}

/*formulaires*/

#navigation #formulaire_recherche  {
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 60px 0px;
}

#navigation #formulaire_recherche  {
	margin: 0;
	padding: 12px 0px 0 0;
}

#navigation #formulaire_recherche label {
	margin: 0;
	padding: 0;
	border: none;
	font: 18px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#navigation #formulaire_recherche  input.text {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	width: 160px;
	height: 18px;
	padding: 3px 0 3px 5px;
	border: none;
	color: #000000;
}

#navigation #formulaire_recherche  input.submit {
	margin-left: 10px;
	padding: 4px 4px;
	border: none;
	background: #000000;
	color: #FFFFFF;
}

#formulaire_inscription legend {background: none;
	color: #FFFFFF;}
p.explication {text-align: justify;
		color:#FF9200;}

#formulaire_ecrire_auteur_1 {margin-top: 30px;}

#formulaire_ecrire_auteur_1 legend {
			background: none;
			color:#FFFFFF;}

#formulaire_forum legend {
			background: none;
			color:#FFFFFF;}
			

/* conteneur */

#conteneur {
	width: 940px;
	margin: 0 auto;
}

#conteneur-bgtop {
	padding: 0px 0px 0px 20px;
}

/* contenu */

#contenu {
	float: left;
	width: 580px;
	padding-top: 30px;
}

#contenu .h2 {
	margin: 0px 0px 30px 0px;
	background: url(img/img06.gif) repeat-x left bottom;
}

#contenu .h3 {
	margin: 0px 0px 30px 0px;
	background: url(img/img06.gif) repeat-x left bottom;
}

#contenu .h3 {
	
	padding: 0px 0px 5px 0px;
	color: #ffffff;
	
}

#contenu .texte .h3 {clear: both;}

#contenu .h3 a {
	padding: 4px 35px 4px 15px;
	background: #FF9200;
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;
}

#contenu a {color: #FFFFFF;}

.introduction {
	padding: 20px 0px;
}

#contenu .spip_logos {
	float: left;
	padding: 0 15px 15px 0;
}

.meta-publi {
	text-align: right;
	padding: 0px 0 20px 0;
	font-weight: bold;
	color: #202020;
}

.info-publi {
	
	float: right;
	margin-top: -20px;
	margin-left: 100px;
	text-align:right;
	font-size: 12px;
	color: #5E5E5E;
}

p.info-publi {
	position: relative;
	margin-top: -50px;
	margin-left: 300px;
	width:280;
	text-align:left;
	font-size: 12px;
	color: #5E5E5E;
}

#contenu ul.liste-items li{margin: 0px;
	padding: 0px;
	list-style: none;}



/* navigation */

#navigation {
	float: right;
	width: 240px;
	margin: 20px 0px;
	padding: 30px 30px 30px 30px;
	background: #212121;
}



#navigation .menu-liste {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#navigation li li.menu-entree {
	margin-bottom: 1px;
	background: transparent;
	border-bottom: 0px;
	
}

#navigation .menu-liste li ul {
	margin: 0px;
	padding: 0px 0px 0px 10px;
}

#navigation .menu-entree  {
	margin: 0;
	padding: 9px 0px;
	border: none;
	background: url(img/img06.gif) repeat-x left bottom;
	border-bottom: 1px solid #171717;
}

#navigation h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 160%;
	font-weight: normal;
	color: #FFFFFF;
}

#navigation h3 {
	font-size: 77%;
	color: #110404;
}

#navigation p {
	margin: 0;
	line-height: normal;
	color: #D4C792;
}

#navigation a {
	border: none;
	text-decoration: none;
	color: #4D4D4D;
}

#navigation a:hover {
	text-decoration: underline;
}

/* News */

#news {
}

#news a {
	font-size: 85%;
}

/* pied */

#pied {
	width: 100%;
	margin: 0 auto;
	padding: 40px 0px;
	text-align: center;
	background: url(img/img02.gif) repeat left top;
	color: #FFFFFF;
}

#pied p {
	margin: 0;
	text-align: center;
	font-size: 77%;
}

#pied a {
	text-decoration: underline;
	color: #FFFFFF;
}

#pied a:hover {
	text-decoration: none;
}

/* typo */

/*  ------------------------------------------
/*  Habillage des elements du contenu
/*  ------------------------------------------ */
#descriptif_site_spip {
	color:#ff9200;
	font-family:Georgia,'Times New Roman',Times,Serif;
	font-size:17px;
	font-style:italic;
	font-weight:normal;
	letter-spacing:-0.5px;
	line-height:1.6em;
	margin:0pt;
	padding : 0 10px;
}
/* main column */
#contenu h2,#contenu .h2 {
	font: normal 3.7em Georgia, 'Times New Roman', Times, Serif;
	color: #444;
	letter-spacing: -2.2px;	
	margin-right: 15px;
	padding-bottom: 3px;
	/*border-bottom: 1px solid #ebebeb;	*/
}
#contenu h2 a,#contenu .h2 a {
	color: #444;
	border: none;
}

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #FF9200; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px;}
.documents_portfolio a:hover .spip_logos { border-color: #F57900; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }


/* Listes SPIP */
ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }

dt {
  font-weight: bold;
  color: #FF9200;
}
dd {
  padding-left: 25px; 
}

p, dl { padding: 10px 0px; }
ul.spip {} /*Cf.: spip_style.css*/
ol.spip {} /*Cf.: spip_style.css*/

/* Citations, code et poesie */
blockquote.spip {} /*Cf.: spip_style.css*/
blockquote.spip {
	margin: 10px;
	padding: 10px;
	padding-left:32px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(img/quote.gif) no-repeat 12px 12px;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
}
blockquote.spip_poesie {} /*Cf.: spip_style.css*/
blockquote.spip_poesie {
	margin: 10px;
	padding: 30px;
	padding-left:32px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(img/quote.gif) no-repeat 12px 12px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
}
.spip_code {} /*Cf.: spip_style.css*/
.spip_code {
	margin: 0;
	padding: 1px 1px 1px 1px;
	
	background:#ffffff;
	border: 1px solid #FF9200;
	font: 'Lucida Console', 'Courier New', Monospace ;
	color: #555;
	/* white-space: pre; */
}
.spip_cadre {
	margin: 3px 0;
	padding: 15px;
	text-align: left;
	display: block;
	overflow: auto;  
	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;
	/* white-space: pre; */
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
	width:90%;




/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
/*
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords * /
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum * /
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }
*/


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}

/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/





