/* This file is part of andreas09 for zpip.

    andreas09 for zpip is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    andreas09 for zpip is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with andreas09 for zpip.  If not, see <http://www.gnu.org/licenses/>.
*/
/* andreas09 - purple : #8535a6;*/

#entete {background-color:#8535a6;background-image:  url(./img/entetebg-purple.jpg) } 
#nav .menu-liste .on a {  background-image: url(img/menuhover-purple.jpg); color:#8535a6;	}		
#nav .menu-liste a:hover {background-image: url(img/menuhover-purple.jpg) }
.documents_portfolio a.on .spip_logos { border-color: #8535a6; }
.documents_portfolio a:focus .spip_logos,
.documents_portfolio a:hover .spip_logos,
.documents_portfolio a:active .spip_logos { border-color: #8535a6; }
.liste-items .item .h3 a {color:#8535a6;}
table.spip tr.row_first { background:#8535a6;}
