
/********************************************
   LAYOUT
********************************************/
body {
	background: #CCC;
	text-align: center;
	margin: 15px 0;
}

#wrap {
	position: relative;
	width: 820px;
	background: #CCC url(img/content.jpg) repeat-y center top;
	margin: 0 auto;
	text-align: left;
}
#top-bg {
   position: absolute;
	width: 820px;
	height: 19px;
	background: #CCC url(img/top-bg.jpg) repeat-y center top;
	top: 0; left: 0;
	z-index: 2;
}
#content-wrap {
	position: relative;
	clear: both;
	float: left;
	width: 790px;
	padding: 0;
	background: #E8E8E8;
	border-top: 5px solid #FFF;
	border-bottom: 2px solid #D0D0D0;
	margin-left: 15px;
	display: inline;
	padding-bottom:1em;
}
#header {
	width: 820px;
	position: relative;
	height: 100px;
	background: #CCC url(img/header-bg.jpg) repeat-y center top;
	padding: 0;
}

/* Navigation */
#nav {
	clear: both;
	padding: 0;
}
/* Main Column */
#main {
	float: left;
	width: 65%;
	padding: 20px 0 0;
	margin: 0px;
	margin-left: 20px;
	display: inline;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 27.5%;
	padding: 20px 10px 0 0; margin: 0;
}
/* footer */
#footer-wrap {
	clear: both;
	width: 820px;
	font-size: 95%;
	text-align: left;
	padding: 15px 0;
	background: url(img/footer-bottom.jpg) no-repeat center bottom;
}
#footer-columns {
	color: #888;
	margin: 0 auto;
	padding: 0;
	width: 760px;
}
