/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de navigation */
.menu { clear: both; margin-bottom: /*@margin-bottom*/1.5em/*/@*/; text-align: left; }
.menu > h1,
.menu > h2,
.menu > h3,
.menu > h4,
.menu > h5,
.menu > h6 {margin-bottom: 0;}

.menu-items { margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #ddd; }
.menu-items .item { margin: 0; padding: /*@quart-margin-bottom*/0.375em/*/@*/;}
.menu-items .menu-items { margin-left: 1em; border: 0; }
.menu-items .menu-items .item { padding: 0; border: 0; }

.menu-items {text-align: left;background: url(img/dots.jpg) repeat-x left top;}
.menu-items .item {background: url(img/dots.jpg) repeat-x left bottom;}
* html body .menu-items .item {height: 1%;}
.menu-items .item a {text-decoration: none;background-image: none;}

.menu-items .menu-items { margin-left: 5px; padding: 0; }
.menu-items .menu-items .item  { background: none; }


/* main nav */
#nav .menu {margin-bottom: 0;}
#nav .menu-items {
	float: left;
	list-style: none;
	background: url(img/nav.jpg) repeat-x;
	width: 790px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-left: 15px;
	display: inline;
	height:36px;
	overflow:hidden;
}
#nav .menu-items .item {
	display: inline;
	margin: 0; padding: 0;
}
#nav .menu-items .item a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 14px;
	border-right: 1px solid #899D00;
	border-left: 1px solid #A7D101;
	border-bottom: none;
	color: #FFF;
	font: bold 13px/2.8em "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
#nav .menu-items .item a:hover,
#nav .menu-items .item a:active {
	background: url(img/nav-hover.jpg) repeat-x;
}
#nav .menu-items .item.on a {
	background: url(img/nav-current.jpg) repeat-x;
}
#nav .item .menu-items{
display:none;
}

/* Listes d'items */
.liste {margin-bottom: /*@margin-bottom*/1.5em/*/@*/;}
.liste > h1,
.liste > h2,
.liste > h3,
.liste > h4,
.liste > h5,
.liste > h6 {margin-bottom: 0;}




.liste-items {background: url(img/dots.jpg) repeat-x left bottom;margin-bottom: /*@margin-bottom*/1.5em/*/@*/;}
.liste .liste-items {margin-bottom: 0;}

.liste-items .item {padding:/*@demi-margin-bottom*/0.75em/*/@*/ 0;clear:both;overflow:hidden;background: url(img/dots.jpg) repeat-x left top;}
.liste-items .item a {background:none;}

.liste-items .item .h3 { margin: /*@demi-margin-bottom*/0.75em/*/@*/ 0;}
.liste-items .item .h3 a:hover { text-decoration:none;}

.liste-items .item:hover {}

.liste-items .item ul {margin-left: /*@text-indent*/50px/*/@*/;list-style-type: disc;}
.liste-items .item ol {margin-left: /*@text-indent*/50px/*/@*/;list-style-type: numeric;}

.liste.articles .spip_logos { float: right; clear: right; margin: .8em 0 4px 16px; }
.liste .articles .item .introduction { margin-top: 0.30em; line-height: 1.40em; padding: 0.5em 0 1.5em 1em;}


/* plan du site */
ul.plan {margin-bottom: /*@margin-bottom*/1.5em/*/@*/;}
ul.plan li {margin-left: /*@text-indent*/50px/*/@*/;list-style-type: disc;}