/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Badoo style pagination*/
.pagination .sep,.pagination .label {display:none;}
.pagination {
	padding:10px 0 10px 0;
	text-align:right;
}

.pagination .lien_pagination {
    background-color:#fff;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:2px solid #f0f0f0;
}

.pagination .lien_pagination:hover, .pagination .lien_pagination:active {
	border:2px solid #88ac0b;
}

.pagination .on {
	padding:2px 5px;
    margin:0 2px;
    border:2px solid #516607;
    color:#fff;
    font-weight:bold;
    background-color:#88ac0b;
}
.pagination .disabled {
	display:none;
}