

fieldset.co_vcard {width:28%; display:inline-block; min-height:130px; vertical-align:top;}
fieldset.co_vcard dl {overflow:hidden;}
fieldset.co_vcard dt {font-size:0.7em; font-variant:small-caps;}
fieldset.co_vcard dd {font-size:0.7em; margin-left:1em; }

.num_auteur {display:inline-block; width:40px; background-color:brown; color:white; font-weight:bold; text-align:center;}
.c_ou_o { display:inline-block; width:30px; text-align:center; color:white; font-weight:bold; }
.c_ou_o.c {background-color:green}
.c_ou_o.o {background-color:blue}

#chemin-fer{list-style-type:none;font-size:10px;}
#chemin-fer>li{float:left;}

