/* --------------------------------------------------------------

   reset.css
   Correction des styles par defaut / mise a zero multinavigateurs
   Petronille - romy.tetue.net - 2010

-------------------------------------------------------------- */

/* D'apres le reset d'E.Meyer : http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	/*outline: 0;*/
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
/*address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }*/
abbr,acronym { border: 0; }

ol,ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption,th { text-align: left; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
fieldset,img { border: 0; }

/* end */