/* --------------------------------------------------------------

   spip.css
   Styles associes au code genere par SPIP
   Petronille - romy.tetue.net - 2010

-------------------------------------------------------------- */

/* Logos, documents et images */
.spip_logos { float: left; margin: 0 10px .1em 0; padding: 0; border: none; }
dl.spip_documents,
.spip_documents dt,
.spip_documents dd { margin: 0 auto; padding: 0; background: none; }
.spip_documents { text-align: center; }
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif { margin-right: auto; margin-left: auto; }
.spip_documents.spip_documents_center { clear: both; display: block; width: 100%; }
.spip_documents.spip_documents_left { float: left; margin-right: 1.5em; }
.spip_documents.spip_documents_right { float: right; margin-left: 1.5em; }
.spip_documents.spip_documents_left img,
.spip_documents.spip_documents_right img { vertical-align: text-top; }
.spip_doc_titre {}
.spip_doc_descriptif { clear: both; }

/* Modeles par defaut */
.spip_modele { float: right; display: block; width: 25%; border: 1px dotted #666; }

/* Liens de SPIP */
a.spip_note { font-weight: bold; } /* liens vers notes de bas de page */
a.spip_in {} /* liens internes */
a.spip_mail {}
a.spip_out {} /* liens sortants */
a.spip_url {} /* liens url sortants */
a.spip_glossaire {} /* liens vers encyclopedie */
.on { font-weight: bold; } /* liens exposes */

/* end */