html, body{
	background-color: #333;
	margin: 0;
	padding: 0;
}

body{
	background: #333 url(img/bg.jpg) repeat-y center;
	font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	font-size: 76%;
}

h1{font-size: 1.6em; font-family: "Trebuchet MS", sans-serif;}
h2{font-size: 1.4em;}
h3{font-size: 1.3em;}
h4{font-size: 1.2em;}
h5{font-size: 1.1em;}
h6{font-size: 1.0em;}

fieldset{
	border: none;
}

.field label{
	display: block;
}

a, a:visited{
	color: #000;
}

a:hover{
	color: #333;
}

a img{
	border: none;
}

/*
*******************************************************************************/

#page{
	background-color: #F3F3F3;
}

/*
*******************************************************************************/

#top{
	background: #A80008 url(img/top.jpg) no-repeat center;
}

#top h1{
	color: #fff;
	margin: 0;
}

#top h1 a{
	color: #fff;
	text-decoration: none;
}

/*
*******************************************************************************/

#main p{
	text-align: justify;
	line-height: 1.6em;
}

/*
*******************************************************************************/
p.day-date{
	display: none;
}

.post{
	background: #fff;
	padding: 10px;
	margin: 10px 0;
	-moz-border-radius: 10px;
}

.post-title{
	font-family: "Trebuchet MS", sans-serif;
	background: #fff url(img/doc.png) no-repeat 3px center;
	padding-left: 22px;
	margin: 0;
	color: #666;
}

.post-title a{
	text-decoration: none;
	color: #666;
}

.post-info{
	color: #666;
	margin: 0;
	padding-left: 22px;
}

.post-tags { margin: 5px 0; list-style: none; }
.post-tags li { display: inline; margin-right: 3px; }
.post-tags li a { background: url(img/tag3-blue-20.png) no-repeat center left; text-decoration: none; }
.post-tags li a:hover { text-decoration: underline; }

.post-tags,
.post-tags li a,
.read-it { padding-left: 22px; }

.post-content { padding: 0 22px; }

#main p.post-info-co{
	text-align: right;
	border-top: 1px solid #eee;
	margin: 0;
	padding: 1ex 0 0 0;
}

.post-info-co a{
	text-decoration: none;
}

#comments dd, #trackbacks dd{
	margin: 10px 0;
	padding: 10px;
	background: #fff;
	-moz-border-radius: 10px;
}

#comments dd.me {
	-moz-border-radius: 10px;
	background: #204A87 url(img/patterncloudlight.png) repeat;
	opacity: 60%;
}

/*
*******************************************************************************/

#sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li { margin: 5px 0; }
#sidebar ul li a { text-decoration: none; }
#sidebar ul li a:hover { text-decoration: underline; }

#calendar table{
	font-size: 0.8em;
}

#calendar td{
	font-size: 1em;
	background: #FFF;
	text-align: center;
}

#search h2{
	display: none;
}

#search #recherche{
	background: transparent;
	color: white;
	padding-left: 16px;
	width: 10em;
}

#languages {
	display: none;
}

/*
*******************************************************************************/

#footer{
	background: #444;
}

#footer a{
	color: #fff;
}

/* Herbier */
#herbier {	width: 185px;	background: #333;	-moz-border-radius: 6px;	padding-top: 4px;	padding-bottom: 5px;	text-align: center;	font: 12px Verdana, sans-serif; 	text-transform: uppercase;	letter-spacing: 2px;}#herbier a {	color: #666;	text-decoration: none;}#herbier img {	border: none;	margin: auto;	padding-top: 2px;}

body{
	text-align: center;
}

#page{
	position: relative;
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

#top{
	height: 150px;
}

#top .spip_logos { padding-top: 20px; padding-left: 20px; }

#top #nom_site_spip { display: none; }

#prelude{
	position: absolute;
	top: -10em;
}

#main{
	width: 600px;
	float: right;
}

#content{
	padding: 0 20px;
}

#sidebar{
	float: left;
	width: 180px;
	padding-left: 20px;
}

#sidebar div{
	margin: 1em 0;
}

#sidebar div div{
	margin: 0px;
}

#footer{
	clear: both;
	margin: 0;
	padding: 1ex 1em;
}

#sidebar div#search{
	position: absolute;
	text-align: right;
	top: 0;
	right: 0;
	margin: 0px 10px 0 0;
	height: 0;
}
