/*Feuille de style de base pour eva-web 4.0*/

/*  ------------------------------------------
/* 	par Laurent JULLIEN, Equipe EVA WEB
		Site officiel: www.eva-web.edres74.net
/*  ------------------------------------------ */


/*  ------------------------------------------
/* 	Typographie generale (styles transversaux)
/*  ------------------------------------------ */
body {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:0.88em;
	color: #7F7F7F;
	margin:0;
	padding:0;
	background: #7F7F7F;
	}


/* Titraille / Intertitres */

h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; font-weight: normal; font-size: 1em; }

h1 { font-size:200%; color:#999; font-weight: bold;}

h1 img {
	position:relative;
	padding: 10px 10px 0 0;
	margin:0;
	vertical-align:middle;
	}
h1 span {
	border: 1px solid transparent;
	background:transparent;
	-moz-border-radius: 8px;
	padding:2px;
	}
h1 a { color:#999; text-decoration:none; }

h1 {
	position:relative;
	top: 20px;
	margin:0;
	padding:0 10px;
	}

h2 { font-size: 120%; font-weight: bold; }

h2 { color:#B3B3B3;}

h2 span { }

h2 img {
	position:relative;
	vertical-align:center;
	}

h2, h2 a { color: #999; }

h2 a:hover { color: #ff6600; }

h3 { font-size: 120%; font-weight: bold; }

h3.spip {} /*Cf.: spip_style.css*/

h3 {	font-size:105%;
	text-align:center;
	margin:20px 0;
	padding:5px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	color:#808080;
	zoom:1;
	}
/*h3:first-letter {
	color:#999;
	}*/
h3 a {
	text-decoration:none;
	}
h3 em.date {
	color:#999;
	font-size:80%;
	}

/* Couleurs des liens
---------------------------------------------- */
a img { border:none;}

img { vertical-align:middle;}

a { color:#999; text-decoration:none;}

a:hover { color:#FF6600; text-decoration:none;}



/* Divers 
------------------------------------------------*/
/* Espaceur de blocs */
.nettoyeur {
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	height: 0;
	line-height: 1px;
	font-size: 1px;
	overflow: hidden;
	}
	
/* Erreur ! */	
.erreur {
	color:#F60;
	font-weight:bold;
	}


/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */

/****************************************
	PAGE
****************************************/
div#page {
	width:100%;
	margin: 0;
	background:#EEE;
	border:0;
	/*-moz-border-radius: 12px;*/
	text-align:left;
	z-index:1;
	}

/****************************************
	ENTETE
****************************************/
div#entete {
	position:relative;
	/*background:url(images/entete.png) no-repeat right bottom;*/
	background:transparent;
	/*Pour afficher une images en fond dans l'en-tête, commenter la ligne ci-dessus et décommenter la ligne background:url*/
	height:100px;
	border-bottom:1px solid #CCC;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	z-index:2;
	}

/****************************************
	ARBORESCENCE
****************************************/
div#arborescence {
	position:relative;
	padding:2px 10px;
	background:transparent;
	border-bottom:1px solid transparent;
	font-size:80%;
	color:#808080;
	}

/****************************************
		CONTENEURS
****************************************/
div#conteneur {
	margin: 0;
	margin: 0;	}
div#conteneurseul {
	position:relative;
	margin: 0 10px;
	padding: 0;
	}
div#conteneurseul div#contenu {
	position:relative;
	width:auto;
	float:none;
	margin:10px;
	}
div#conteneurseul div#menu {
	display:none;
	}

/****************************************
	CONTENU
****************************************/
div#contenu {
	position:relative;
	width:76%;
	float:left;
	margin-right:10px;
	text-align:justify;
	color:#808080;
	display: inline;
	}
	
/****************************************
	CONTENU _ bloc
****************************************/	
div#contenu .bloc {
	border:1px solid #ccc;
	-moz-border-radius: 12px;
	margin:10px 0 ;
	padding: 0;
	background:#fff;
	}
	
/****************************************
	CONTENU _ bloc 2
****************************************/		
	.bloc2  {
	position:relative;
	margin:0 10px;
	padding: 0;
	border:1px solid #ccc;
	-moz-border-radius: 12px;
	background:#FFF;
	}
	
/****************************************
	CONTENU _ Edito
****************************************/
.edito  {
	position:relative;
	margin:10px 0 ;
	padding: 0;
	border:1px solid #ccc;
	-moz-border-radius: 12px;
	background:#FFF;
	}


/****************************************
		MENU Gauche (Defaut)
****************************************/
div#menu {
	float:right;
	/*width:220px;*/
	width:20%;
	padding:0 10px;
	margin:0;
	display: inline;
	}
	
/****************************************
	MENU Gauche _ bloc
****************************************/	
div#menu .bloc {
	border:1px solid #ccc;
	-moz-border-radius: 12px;
	margin:10px 0;
	padding: 0;
	background:#fff;
	}

/****************************************
		MENU Droite *** pour style 3 colonnes...
****************************************/
div#menudroit {
	display: none;
	}
	
/****************************************
	MENU Droite _ bloc
****************************************/	
div#menudroit .bloc {
	border:1px solid #ccc;
	-moz-border-radius: 12px;
	margin:10px 0;
	padding: 0;
	background:#fff;
	}

/****************************************
		PIED
****************************************/
ul#pied {
	position:relative;
	margin:0;
	padding:5px 0;
	border-top:1px solid #CCC;
	font-size:80%;
	text-align:center;
	color:#B3B3B3;
	}
	
/****************************************
		#logo-pied
****************************************/
#logo-pied {
	position:relative;
	margin:0;
	padding:0;
	border-top:1px solid #CCC;
	text-align:center;
	}










/*  ------------------------------------------
/*  Habillage des elements du contenu
/*  ------------------------------------------ */

/****************************************
	ENTETE  _ liens hauts
****************************************/
ul.liens {
	position:absolute;
	background:transparent;
	margin:0;
	padding:4px 0;
	width:100%;
	border-bottom:1px solid transparent;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	font-size:80%;
	color:#B3B3B3;
	text-align:right;
	}
ul.liens li {
	position:relative;
	display:inline;
	margin:0;
	padding:0 10px;
	list-style-type:none;
	border-left:1px solid #B3B3B3;
	z-index:5;
	}
ul.liens li.premier {
	border-left:none;
	}
ul.liens a {
	padding:2px 5px;
	color:#B3B3B3;
	text-decoration:none;
	}
ul.liens li.on a {
	color:#999;
	}
ul.liens a:hover {
	color:#f60;
	text-decoration:none;
	border-top:3px solid transparent;
	}


/****************************************
	ENTETE _ Arborescence
****************************************/
div#arborescence {
	position:relative;
	padding:2px 10px;
	background:transparent;
	border-bottom:1px solid transparent;
	font-size:80%;
	color:#808080;
	}
div#arborescence span {
	font-size:80%;
	font-weight:bold;
	}
div#arborescence a {
	color:#808080;
	text-decoration:none;
	}
div#arborescence a:hover {
	color:#F60;
	}
div#arborescence strong {
	color:#999;
	}
div#arborescence em {
	color:#999;
	}



/****************************************
	TITRE _ Titre, surtitre, soustitre des articles, breves, 
****************************************/
.titre {
	position:relative;
	padding:5px 0;
	margin:10px;
	background: transparent;
	zoom:1;
	}
.titre img {
	position:relative;
	float:left;
	margin-right:10px;
	}
.titre h4.surtitre, .titre h4.soustitre {
	margin:0;
	padding:0;
        background: transparent;	
	}
.titre h4.soustitre {
	margin:0;
	padding:0;
        background: transparent;
	}
.titre h2 {
	position:relative;
	
	}

	
/****************************************
	DATE DE PUBLICATION _ Affichage des dates, auteurs, ...
****************************************/
#auteursdates {
	float:right;
	position:relative;
	width:160px;
	margin: 0 0 0 10px;
	background-color: transparent;
	border:1px solid transparent;
	-moz-border-radius: 12px;
	font-size:80%;
	z-index:5;
	}
#auteursdates div{
	padding: 2px 10px;
	}


/****************************************
	CONTENU
		(chapo, texte, lien, divers ...)
****************************************/
.chapo {
	position:relative;
	margin: 0 10px;
	padding:0;
	background:transparent;
	font-weight: normal;
	font-size:110%;
	-moz-border-radius: 12px;
	}
.chapo strong, .chapo b {
	color:#666;
	}
.texte {
	position:relative;
	margin:0;
	padding: 0 10px;
	}
.texte a {
	color:#FF6600;
	text-decoration:none;
	}
.texte a:hover {
	color:#999;
	text-decoration:none;
	}
.lien {
	position:relative;
	margin:20px 10px;
	padding:5px;
	border:1px solid #CCC;
	-moz-border-radius: 12px;
	}
/*.lien:first-letter {
	color:#999;
	}*/
.divers {
	position:relative;
	margin:10px ;
	border:1px solid #CCC;
	-moz-border-radius: 12px;
	}
.divers h4 {
	margin:0;
	padding:4px 10px;
	background:transparent;
	text-align:left;
    -moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	font-weight:bold;
	font-size:90%;
	}
/*.divers h4:first-letter {
	color:#999;
	}*/
.divers div.contenu {
	padding: 0 10px;
	font-size:90%;
    -moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	background:transparent;
	}
.divers a{
	font-weight:bold;font-size:100%;
	}

.suite {
	text-align:right;
	font-size:80%;
	}
	
	

/****************************************
	LISTES D'ELEMENTS
		 _ listes des éléments (articles, breves, ..) dans les blocs...
****************************************/

/*
	Titre du bloc (Derniers articles, dernieres breves, ...
----------------------------------------*/
h3.titre {
	margin:0;
	padding:10px 5px ;
	background:transparent;
	border:none;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	font-size:110%;
	text-align:center;
	}
h3.titre a {
	color:#808080;
	}
	
/*
	Liste des elements (articles, breves, sites...
----------------------------------------*/
div#contenu ul {
	margin:0; ;
	padding:0 0 10px;
	background:#fff;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	list-style-type:none;
	}

div#contenu ul li {
	margin:0;
	padding:10px;
	font-size:90%;
	color:#999;
	}
div#contenu ul li img {
	margin:0 5px 0 0;
	}
div#contenu ul li em {
	font-size:80%;
	font-weight:normal;
	}
div#contenu ul li.un {
	background:transparent;
	}
div#contenu ul li.deux {
	background:transparent;
	}
	
div#contenu .texte ul {
list-style-position : inside;
list-style-type:disc;
}
div#contenu .texte ul ul {
list-style-position : inside;
list-style-type:circle;
padding-left : 20px;
}
div#contenu .texte ul ul ul {
list-style-position : inside;
list-style-type:square;
padding-left : 20px;
}

/****************************************
	BLOC 2: ajustements...
****************************************/

.bloc2 h3.titre {
	margin: 10px 0;
	padding:0;
	background:none;
	border:none;
	font-size:110%;
	}
.bloc2 h3.titre a {
	color:#808080;
	}
.bloc2 img.spip_logos {
	position:relative;
	float:left;
	margin:0 5px 2px 0px;
	}

	


/* Habillage general des menus de navigation */

/*  ------------------------------------------
/*  Habillage des elements du menu principal
/*  ------------------------------------------ */

/****************************************
	MENU ul#sommaire (menu principal)
****************************************/
ul#sommaire {
	border:1px solid #ccc;
	-moz-border-radius: 12px;	
	background-color:#FFF;
	padding:5px 0px;
	margin:10px 0;
	list-style-type:none;
	}
ul#sommaire ul {
	padding:2px;
	margin:0;
	list-style-type:none;
	}
ul#sommaire ul ul {
	padding:0;
	margin:0;
	border-left:none;
	}
ul#sommaire li {
	position:relative;
	padding:0 5px;
	margin: 5px;
	border:1px solid transparent;
	-moz-border-radius: 6px;
	background-color:transparent;
	}
ul#sommaire ul li {
	position:relative;
	padding:0 5px;
	margin:2px 0 5px 10px;
	}
ul#sommaire a {
	display:block;
	padding:0 0 2px;
	color:#B3B3B3;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	}
ul#sommaire a:hover {
	color:#F60;
	}
ul#sommaire a.on {
	color:#F60;
	}
ul#sommaire ul a {
	padding:0;
	border-bottom:none;
	font-size:80%;
	text-align:left;
	}
ul#sommaire ul a:hover {
	border-bottom:none;
	color:#808080;
	}
ul#sommaire ul a.on {
	border-bottom:none;
	color:#999;
	}
ul#sommaire ul ul a {
	font-size:80%;
	font-weight:normal;
	}	
	
ul#sommaire a {
	display:inline;
}
ul#sommaire .noeud {
	list-style-type : none;
	padding-left: 20px;
	background: url(../images/deplierbas.gif) no-repeat;
	cursor: pointer;
}
ul#sommaire .plier {
	background: url(../images/deplierhaut.gif) no-repeat;
}
ul#sommaire .feuille {
	padding-left: 15px;
	background: url(../images/feuille.gif) 0px 4px no-repeat;
}
ul#sommaire .feuilleracine {
	padding-left: 0px;
	background: none;
}	
	
/*  ------------------------------------------
/*  Sous-navigation et autres menus _ Habillage
/*  ------------------------------------------ */

/****************************************
	MENU bloc
****************************************/
div#menu h3.titre {
	margin:0;
	padding:10px 4px;
	background:transparent;
	color:#808080;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	font-size:105%;	
	}
/*div#menu h3:first-letter {
	color:#999;
	}*/
div#menu .bloc ul{
	position:relative;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	margin:0;
	padding:0 0 10px;
	zoom:1;
	list-style-type:none;
	background:#FFF;
	font-size:96%;	
	}
div#menu .bloc ul li {
	padding:5px;
	margin:0;
	font-size:90%;
	color:#B3B3B3;
	}
div#menu .bloc ul li.un {
	background:transparent;	
	}	
div#menu .bloc ul li.deux{
	background:transparent;	
	}	
div#menu .bloc ul li a.on{
	color:#FF6600;
	}	
div#menu .bloc ul li.on strong {
	color:#999;
	}
div#menu .bloc ul li em {
	font-weight:normal;
	font-size:70%;
	}
div#menu .bloc ul li img{
	padding: 0 5px 0 0;
	}	
div#menu .bloc ul a {
	font-weight:bold;
	text-decoration:none;
	}
div#menu .bloc ul a:hover {
	border-bottom:none;
	text-decoration:none;
	}
	
/****************************************
		.MenuPagination   
*****************************************/
.menupaginationhaut {
	border-bottom:1px solid #CCC;
	margin:0;
	padding:0;
	font-size:11px;
	text-align:center;
	color:#808080;
	}
.menupaginationbas {
	border-top:1px solid #CCC;
	margin:0;
	padding:0;
	font-size:11px;
	text-align:center;
	color:#808080;
	}
	
	


/* Habillage des forums
---------------------------------------------- */
/****************************************
	CONTENU _ #forum
****************************************/
#forum {
	position:relative;
background:transparent;
	}
#forum * {
	position:relative;
	zoom:1;
	}
#forum .bouton {
	text-align:right;
	}
#forum .bouton a {
	padding:0 2px;
	margin:5px;
	border:1px solid #CCC;
	background:#FFF;
	color:#999;
	font-size:12px;
-moz-border-radius: 6px;
	}
#forum .bouton a:hover {
	background:#999;
	color:#FFF;
	text-decoration:none;
	}
#forum ul.forum {
	margin:0;
	padding:10px;
-moz-border-radius: 12px;
background:#fff;
border:1px solid #ccc;
	}
#forum ul.forum ul {
	margin:0;
	padding:0;
	background:transparent;
	}
#forum ul.forum li {
	margin:0 0 40px;
	padding:0;
	list-style-type:none;
	background:transparent;
	-moz-border-radius: 12px;
	}
#forum ul.forum li li {
	margin:0;
	padding:0 0 10px 40px;
	}
#forum ul.forum h4 {
	position:relative;
	padding:5px 10px;
	margin:0;
	
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	background:transparent;
	font-weight:bold;
	}
#forum ul.forum div.auteur {
	position:relative;
	padding:0 10px;
	margin:0;
	background:#F2F2F2;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	font-size:90%;
	}
#forum ul.forum div.texte {
	position:relative;
	margin:0;

	}
#forum ul.forum div.contenu {
	position:relative;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	font-size:12px;
	background:#FFF;
	}
#forum ul.forum div.contenu p {
	position:relative;
	padding-top:5px;
	margin: 0;
	}
#forum ul.forum li.message {
	}
#forum ul.forum li.reponse {
	}
	
	
	
/****************************************
		Plan
****************************************/

ul#plan li.article{
	padding:3px;
	list-style-type: none;
	}
.blocplan {
	position:relative;
   width:220px;
	float:right;
   padding:0;
   margin:10px;
   }
   
   
/****************************************
		RECHERCHER
****************************************/
/*   form#formrecherche   */
#formrecherche {
	padding:10px 5px;
	margin:0;
	background:#F7F7F7;
	border:1px solid #ccc;
	-moz-border-radius: 12px;
	}
#formrecherche p {
	text-align:right;
	padding:5px 5px 0;
	margin:0;
	}
#formrecherche p.erreur {
	text-align:center;
	}
#formrecherche form.formrecherche {
	padding:0;
	margin:10px;
	text-align:center;
	}
/*   lments de formulaire   */
input.formrecherche {
	width:400px;
	padding:5px;
	border:1px solid #B3B3B3;
	background:#FFF;
	color:#666;
	}


	
/****************************************
		#Pied
****************************************/

ul#pied li {
	position:relative;
	display:inline;
	margin:0;
	padding:0 10px;
	list-style-type:none;
	border-left:1px solid #B3B3B3;
	}
ul#pied li.premier {
	border-left:none;
	}
ul#pied a {
	padding:2px 5px;
	color:#B3B3B3;
	text-decoration:none;
	}
ul#pied li.on a {
	color:#999;
	}
ul#pied a:hover {
	color:#f60;
	text-decoration:none;
	border-bottom:1px solid transparent;
	}
ul#pied p a:hover {
	color:#F60;
	border-bottom:none;}
	
/****************************************
		#logo-pied
****************************************/
#logo-pied ul {
	position:relative;
	display:inline;
	margin:0;
	padding:0 15px;
	}
#logo-pied li {
	display:inline;
	list-style-type:none;
	padding:0 10px;
	}
#logo-pied a:hover {
	text-decoration:none;
	}	
	
	
/****************************************
		Formulaires
****************************************/
form {
	margin:0;
	padding:0;
	width:100%;
	}
fieldset {
	margin:10px 0;
	border:1px solid #CCC;
	-moz-border-radius: 12px;
background:#FFF;
	}
legend {
	color:#999;
	font-weight:bold;
background:transparent;
 -moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
padding:2px 4px;
border:1px solid transparent;
margin-top:-22px;

	}
textarea {
	width:98%;
	margin:0 auto;
	}
label {
	font-weight:bold;
	}
/****************************************
		SPIPforml
****************************************/

.formulaire {
	margin: 0 0 10px 0;
	padding: 5px;
	font-size:12px;
}
.forml {
	padding:2px;
	background-color:#abc8e0;
	border:1px solid #ccc;
	font-size:12px;
	}
.formulaire_ecrire_auteur {
    text-align: left;
}
.formulaire_ecrire_auteur .forml {
    width: 98%;
} 
.formulaire_forum {
	text-align:left;
}
.formulaire_forum .forml{
	width:100%;
}
.spip_bouton {
	display:block;
	margin:0;
	font-size:12px;
	}
.forml:focus {
	background-color:#f0f6fb;
	}
.spip-admin {
}
a.spip_url { }
a.spip_in { }
a.spip_out { }
a.spip_glossaire { }
img.spip_puce {
	vertical-align:top;
	}
p.spip_note { }
.spip_puce {
	list-style-position: inside;
	border-width: 0px;
}
.spip_code {
	font-family: "Courier New", Courier, monospace;
	font-size:12px;
	}
textarea.spip_cadre {
	width:100%;
	border:1px dashed #CCC;
	background:#F7F7F7;
	color:#808080;
	font-family: "Courier New", Courier, monospace;
	font-size:12px;
	}
.spip_cadre {
	width:95%;
	background:#FFF;
	padding:5px;
	margin:10px 0;
	}
	
/* Logos, documents et images */

.spip_documents { text-align: center; line-height: normal; }
.spip_documents p { margin: 0.10em; padding: 0; }
.spip_documents_center { display: block; clear: both; width: 100%; margin: 1em auto; }
.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
.spip_doc_titre { margin-right: auto; margin-left: auto; font-weight: bold; font-size: 0.90em; }
.spip_doc_descriptif { clear: both; margin-right: auto; margin-left: auto; font-size: 0.80em; }

/* Tableaux */

table.spip {
	margin:20px auto;
	border-collapse:collapse;
}
table.spip th {
	padding: 4px;
	border: 1px solid #666;
	text-align:center;
	vertical-align: middle;
	color:#666;
	background:#999;
	color:#FFF;
}
table.spip td {
	padding: 2px;
	border: 1px solid #999;
	text-align: left;
	vertical-align: middle;
}
table.spip caption{
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align:center;
	margin:5px auto;
	padding: 3px;
	font-weight: bold;
	font-size : 70%;
}
table.spip tr.row_first {
}
table.spip tr.row_odd {
	background:#F2F2F2;
	border: 1px solid #666;
}
table.spip tr.row_even {
	background:#FFF;
	border: 1px solid #666;
}
hr {
	display:block;
	height:2px;
	margin:30px 100px;
	padding:0;
	border:solid #999;
	border-width:0 10px;
	background:#CCC;
	color:#CCC;
	}
b.spip { }
i.spip { }
blockquote.spip {
	position:relative;
	display:block;
	margin:20px 0 20px 30px;
	padding:2px 5px;
	background:#F7F7F7;
	zoom: 1;
	}
blockquote.spip p {
	padding:0;
	margin:5px 0;
	}
.forml { width: auto ; background-color: #FFF;}

.spip_encadrer {
	width : 95%;
	background-color: #FFF;
	padding: 5px;
	border: 1px #666 solid;
}

div.spip_poesie {
	margin-bottom: 5px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #999;
}
div.spip_poesie div {
	text-indent: -60px;
	margin-left: 60px;
}
.reponse_formulaire {
	font-weight: bold;
	font-size: 110%;
	color: red;
}
.spip_surligne {
	background:#FC0;
	color:#000;
	}
/** Barre de raccourcis*/
a.spip_barre img {
	border: 1px solid #a96;
	padding: 3px;
	background-color: #FDA;
}
a.spip_barre:hover img {
	border: 1px solid #808080;
	background-color: #f8f8f4;
}
/* Formulaires de login */
#var_login, #password {
	width:80%;
}

/****************************************
	ARCHIVES
		a supprimer ou déplacer ...
****************************************/

div#entete h2 {
	position:absolute;
	right:0;
	bottom:10px;
	margin:0 10px;
	padding:0;
	color:#B3B3B3;
	font-size:110%;
	}
div#entete h2 span {
	border: 1px solid #CCC;
	background:#FFF;
	-moz-border-radius: 8px;
	padding:2px;
	}
div#entete h2 img {
	position:relative;
	vertical-align:middle;
	}


/****************************************
	ENTETE
		diaporama +++++++++++ Quel avenir?
****************************************/
div#entetediaporama {
	position:relative;
margin:10px 20px;
	border:1px solid #B3B3B3;
-moz-border-radius: 12px;
	padding:5px;
	z-index:2;
	}
div#entetediaporama h1 {
	display:none;
	}
div#entetediaporama h2 {
	position:relative;
	margin:0;
	padding:0 5px;
	color:#999;
	font-size:16px;
	}
div#entetediaporama h2 span {
	}
div#entetediaporama h2 img {
	position:relative;
	padding-right:5px;
	}
div#boutondiaporama {
	position:relative;
	float:right;
	z-index:3;
	}
div#entetediaporama div.precedent {
	}
div#entetediaporama div.suivant {
	}
div#boutondiaporama a {
	position:relative;
	display:block;
	float:left;
	width:30px;
	height:30px;
	color:#808080;
	text-decoration:none;
	}
div#boutondiaporama a span {
	position:absolute;
	display:block;
	right:1400px;
	width:200px;
	padding:4px;
	background:#F7F7F7;
	border:1px solid #B3B3B3;
	font-weight:bold;
	cursor:pointer;
	z-index:5;
	}
div#boutondiaporama a:hover span, div#boutondiaporama a.sfhover span {
	top:18px;
	right:15px;
	}
div#boutondiaporama span em {
	font-weight:normal;
	display:block;
	text-align:right;
	}
div#boutondiaporama span img {
	position:relative;
	float:left;
	margin:0 4px 2px 0;
	}




/****************************************
	CONTENU 
		Album Photo
****************************************/
div#photo img {
	padding:5px;
	margin:10px 10px 0 0;
	background:#666;
	}
ul#albumvignettes {
	position:relative;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	}
ul#albumvignettes li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
	}
ul#albumvignettes li a img {
	position:relative;
	margin:4px;
	padding:3px;
	background:#666;
	}
ul#albumvignettes li.on a img {
	background:#999;
	}
ul#albumvignettes li a:hover img {
	background:#999;
	}
