/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*Scott*/
.pagination .sep,.pagination .label {display:none;}
.pagination {
	padding:3px;
	margin:3px;
	text-align:center;
}

.pagination .lien_pagination {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;

	text-decoration: none;
	color: #7BA857;
}
.pagination .tbc {margin-right:2px;}

.pagination .lien_pagination:hover, .pagination .lien_pagination:active {
	border:1px solid #7BA857;
	color: #444;
	background-color: #f8f8f8;
}
.pagination .on {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #9ccf5f;
	font-weight: bold;
	background-color: #9ccf5f;
	color: #FFF;
}
.pagination .disabled .on {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
	font-weight:normal;
	background:none;
}

.col .pagination .prev,.col .pagination .next {display: none;}