/* --------------------------------------------------------------

   spip.css.html
   Styles associes au code genere par SPIP
   Cf.: http://www.spip-contrib.net/3821

-------------------------------------------------------------- */
/*
	Configuration
*/
.typo_standard {
  font-size: /*@font-size*/ 12px;
  font-family: /*@font-family*/ 'Lucida Grande', Verdana, Helvetica, sans-serif;
  text-indent: /*@text-indent*/ 25px;
  line-height: /*@line-height*/ 1.6em;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  color: /*@color*/ #666666;
  background-color: /*@background-color*/ #ffffff;
}
.typo_mono {
  font-family: /*@font-family-mono*/ 'Lucida Console', 'Courier New', Monospace;
}
/* Listes SPIP */
ul.spip, ol.spip {
  margin-left: /*@text-indent*/ 25px;
}
ul.spip {
  list-style-type: disc;
}
li ul.spip {
  list-style-type: circle;
}
ol.spip {
  list-style-type: decimal;
}
dl.spip dt, dl.spip dd {
  padding-left: /*@text-indent*/ 25px;
}
dl.spip dt {
  clear: both;
}
/* Tableaux SPIP */
table.spip tr.row_even td, table.spip tr.row_even th {
  background: #e5ecf9;
}
/* Citations, code et poesie */
.spip_poesie div {
  margin-left: /*@text-indent*/ 25px;
  text-indent: /*@minus-text-indent*/ -25px;
}
.spip_code, .spip_cadre {
  font-family: /*@font-family-mono*/ 'Lucida Console', 'Courier New', Monospace;
  font-size: 1em;
}
.spip_cadre {
  padding: /*@demi-margin-bottom*/ 0.8em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Enluminures typo V3 / Cf.: http://www.spip-contrib.net/3118 */
sc {
  font-variant: small-caps;
}
.caractencadre-spip {
  background-color: #FFFFCC;
  color: purple;
}
.caractencadre2-spip {
  background-color: #FFFFCC;
  color: orange;
}
.texteencadre-spip {
  display: block;
  margin-top: /*@margin-bottom*/ 1.6em;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  margin-left: /*@text-indent*/ 25px;
  margin-right: /*@text-indent*/ 25px;
  padding: /*@demi-line-height*/ 0.8em;
  background: #EEE;
}
/* Logos, documents et images */
.spip_logos {
  float: left;
  margin: 0;
  margin-right: /*@margin-bottom*/ 1.6em;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  padding: 0;
  border: none;
}
.spip_documents {
  margin-bottom: /*@margin-bottom*/ 1.6em;
  padding: 0;
  background: none;
}
.spip_documents,
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.spip_documents_center {
  clear: both;
  display: block;
  width: 100%;
}
.spip_documents_left {
  float: left;
  margin-right: /*@margin-bottom*/ 1.6em;
}
.spip_documents_right {
  float: right;
  margin-left: /*@margin-bottom*/ 1.6em;
}
.spip_doc_descriptif {
  clear: both;
}
/* Modeles par defaut */
.spip_modele {
  float: right;
  display: block;
  width: 25%;
  border: 1px dotted #666;
}
.spip_surligne {
  background-color: yellow;
}
/* Formulaire de recherche */
.formulaire_recherche * {
  display: inline;
}
/* Paragraphes */
div.spip,
ul.spip,
ol.spip,
.spip_poesie,
.spip_cadre,
div.spip_code,
.spip_documents.spip_documents_center {
  margin-bottom: /*@margin-bottom*/ 1.6em;
}
/* Pagination */
.pagination {
  clear: both;
  text-align: center;
}
@media print {
  .pagination {
    display: none;
  }
}
/* Notes */
.notes > div {
  padding-left: /*@text-indent*/ 25px;
  position: relative;
}
.notes .spip_note_ref {
  display: block;
  position: absolute;
  left: 0;
}
/* Liens de SPIP */
a.spip_note {
  font-weight: bold;
}
/* liens vers notes de bas de page */
/* liens internes */
/* liens sortants */
/* liens url sortants */
/* liens vers encyclopedie */
@media print {
  a.spip_out:after, a.spip_url:after {
    content: " (" attr(href) ")";
  }
}
/* Boutons action */
.bouton_action_post, .bouton_action_post > div {
  display: inline;
}
/* Boutons d'admin */
.ie6 .spip-admin, .ie6 #spip-admin {
  display: none;
}
@media print {
  .spip-admin, #spip-admin {
    display: none;
  }
}
/* end */