/*  ------------------------------------------
/*  Habillage des formulaires SPIP
/*  ------------------------------------------ */
/*
	Configuration
*/
.typo_standard {
  font-size: /*@font-size*/ 12px;
  font-family: /*@font-family*/ 'Lucida Grande', Verdana, Helvetica, sans-serif;
  text-indent: /*@text-indent*/ 25px;
  line-height: /*@line-height*/ 1.6em;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  color: /*@color*/ #666666;
  background-color: /*@background-color*/ #ffffff;
}
.typo_mono {
  font-family: /*@font-family-mono*/ 'Lucida Console', 'Courier New', Monospace;
}
input, textarea, select {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bugajaxie {
  display: none;
}
/* Bug IE/Win */
/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip {
  clear: both;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  padding: 10px;
  border: 1px solid #F0F0F0;
  background-color: #f8f8f8;
  text-align: left;
}
#main .formulaire_spip {
  padding: 15px 25px 25px 20px;
}
/* Fieldset */
.formulaire_spip fieldset {
  clear: both;
  margin: 0;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  padding: 0;
  border: 0;
}
.formulaire_spip fieldset legend {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #F8F8F8;
}
/* Preciser la couleur des legend et du fond pour IE/Win */
.formulaire_spip fieldset fieldset {
  margin-top: /*@margin-bottom*/ 1.6em;
}
.formulaire_spip fieldset fieldset legend {
  font-size: 1em;
  font-weight: normal;
}
/* Explications */
.formulaire_spip .explication {
  color: #444;
}
/* Lignes */
.formulaire_spip .editer {
  clear: both;
  margin: 0 -10px;
  padding: /*@demi-line-height*/ 0.8em;
  border-bottom: 1px solid #E6E6E6;
  color: #7BA857;
}
/* Labels */
.formulaire_spip .editer > label {
  display: block;
  text-align: left;
  color: #7BA857;
  font-weight: bold;
}
.formulaire_spip .choix label {
  display: inline;
  font-weight: normal;
}
.formulaire_spip .choix input.radio, .formulaire_spip .choix input.checkbox {
  width: auto;
}
/* Champs de saisie */
.formulaire_spip input.text {
  width: 100%;
}
.formulaire_spip textarea {
  width: 100%;
}
.formulaire_spip select {
  width: 100%;
}
.formulaire_spip input.text,
input.password,
select,
textarea {
  margin: 5px 0;
  padding: 5px;
  color: #6A6969;
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4;
}
.formulaire_spip input.text:focus,
input.password:focus,
select:focus,
textarea:focus {
  color: #7BA857;
  background: #EFFAE6;
}
/* Boutons */
.formulaire_spip .boutons {
  clear: both;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: /*@margin-bottom*/ 1.6em;
}
.formulaire_spip .boutons input {
  margin-left: 1em;
}
.formulaire_spip .boutons input, input.submit {
  font: bold 12px Arial, Sans-serif;
  height: 30px;
  margin: 0;
  padding: 2px 3px;
  color: #fff;
  background: #9CCF5F;
  border-width: 1px;
  border-style: solid;
  border-color: #B6DE8F #8DB836 #8DB836 #B6DE8F;
  text-align: left !important;
}
@media print {
  .formulaire_spip {
    display: none;
  }
}
/* Reponses, previsu et erreurs
----------------------------------------------- */
/* Champs obligatoires */
.formulaire_spip li.obligatoire label {
  font-weight: strong;
}
/* Reponses */
.reponse_formulaire {
  margin-bottom: /*@margin-bottom*/ 1.6em;
  padding: /*@demi-margin-bottom*/ 0.8em;
  border: 2px solid #ddd;
}
.reponse_formulaire_ok {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.reponse_formulaire_erreur {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.reponse_formulaire_ok a {
  color: #264409;
}
.reponse_formulaire_erreur a {
  color: #8a1f11;
}
/* Previsualisation du message */
fieldset.previsu {
  margin-bottom: /*@margin-bottom*/ 1.6em;
  padding: /*@demi-margin-bottom*/ 0.8em;
  border: 2px dashed #F57900;
}
fieldset.previsu legend {
  color: #F57900;
}
fieldset.previsu legend {
  padding-left: 0.50em;
  font-weight: bold;
  color: #F57900;
}
/* Reponse du formulaire */
fieldset.previsu .reponse_formulaire {
  font-weight: bold;
  color: #e86519;
}
fieldset.reponse_formulaire {
  border-color: #e86519;
  font-weight: normal;
}
/* * Erreurs */
.editer.erreur {
  background-color: #fbe3e4;
}
.editer .erreur_message {
  display: block;
  color: #C30;
  font-weight: bold;
}
/* Variantes et cas particuliers
----------------------------------------------- */
/* Selection des langues */
.formulaire_menu_lang {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
}
.formulaire_menu_lang select {
  width: 15em;
}
/* Formulaires de recherche (site / petitions) */
/* header quick search */
.formulaire_recherche {
  border: 1px solid #bababa;
  background: #fafafa;
  z-index: 999999;
  padding: 2px;
  margin: 0;
}
#navigation .formulaire_recherche {
  padding: 2px;
}
.formulaire_recherche  input.text {
  color: #bababa;
  /*float: left;*/
  margin: 0;
  padding: 5px;
  background: #fafafa;
  border: none;
  width: 265px;
}
#navigation .formulaire_recherche  input.text {
  width: 175px;
}
.formulaire_recherche  input.submit {
  text-indent: -1000px;
  width: 25px;
  height: 24px;
  border: 0;
  background: #ffffff url(img/search.gif) no-repeat top left;
}
.formulaire_recherche label {
  display: none;
}
/* Choix des mots-clefs */
.choix_mots li {
  float: left;
  width: 30%;
  padding: 1%;
}
/* Formulaire de login dans une page */
.formulaire_login .editer {
  clear: left;
}
.formulaire_login input.text, .formulaire_login input.password {
  width: 15em;
}
.formulaire_login .editer_password .details {
  margin-bottom: 0;
}
.formulaire_login #spip_logo_auteur {
  float: right;
}
#entete .formulaire_menu_lang {
  position: absolute;
  right: 0;
  top: 200px;
  display: block;
  margin: 0;
  width: 235px;
  padding: 0;
  background: none;
  border: 0;
}
/*Cf.: spip_formulaires.css*/
#entete .formulaire_menu_lang select {
  width: 235px;
}
