/* = base.css
--------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	font: normal 12px/19px 'Nixie One', serif;
	color: #4b4b4b;
}
form {
	margin: 1em 0;
	padding: 0;
	display: block;
}
blockquote {
	margin: 1em 0;
	padding: 0 1em 1em;
	border: 1px solid #c8c8c8;
	background: #eee none;
	font-style: italic;
	border-radius: 3px;
}
blockquote em {
	font-style: normal;
}
blockquote blockquote {
	border-color: #c8c8c8;
	background: #fefefe none;
	font-style: normal;
}
blockquote blockquote em {
	font-style: italic;
}
blockquote blockquote blockquote {
	border-color: #c8c8c8;
	background: #eee none;
	font-style: italic;
}
blockquote blockquote em {
	font-style: normal;
}
iframe {
	display: block;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
	padding: 0;
}
p {
	margin: 1em 0;
	padding: 0;
}
dl,
ol,
ul {
	margin: 1em 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
	margin: 0;
}
a {
	outline: none;
}
a:link,
a:visited {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
abbr {
	border: 0 none;
}
table {
	margin: 1em 0;
}
input,
button,
select,
option,
textarea {
	line-height: 12px;
}
input,
textarea {
	font: normal 12px/12px 'Helvetica', 'Arial', sans-serif;
}
*:focus {
	outline: none;
}
iframe {
	margin: 1em 0;
}

.on, .on a, a.on {
	font-weight: normal;
}

@font-face {
    font-family: 'Nixie One';
    src: url('font/Nixie_One/nixieone-webfont.eot');
    src: url('font/Nixie_One/nixieone-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Nixie_One/nixieone-webfont.woff') format('woff'),
         url('font/Nixie_One/nixieone-webfont.ttf') format('truetype'),
         url('font/Nixie_One/nixieone-webfont.svg#NixieOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 20, 2012 04:40:54 AM America/New_York */
@font-face {
    font-family: "Kaushan Script";
    src: url('font/Kaushan_Script/KaushanScript-Regular-webfont.eot');
    src: url('font/Kaushan_Script/KaushanScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Kaushan_Script/KaushanScript-Regular-webfont.woff') format('woff'),
         url('font/Kaushan_Script/KaushanScript-Regular-webfont.ttf') format('truetype'),
         url('font/Kaushan_Script/KaushanScript-Regular-webfont.svg#KaushanScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clear-fix::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
.clear{
	display: block;
	clear: both;
}

/* Entete */
#header-wrap {
	color: #4B4B4B;
	display: block;
	font-family: 'Nixie One', serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 110px;
	line-height: 19px;
	margin: 0px;
	padding: 0px;
}

#header {
	width: 960px;
	height: 110px;
	margin: 0 auto;
}

.accueil {
	margin: 0;
	padding: 0;
	float: left;
}
.accueil .spip_logos {
	display: none;
}
#nom_site_spip {
	display: block;
	margin: 0;
	padding: 0;
}
#nom_site_spip {
	margin-top: 25px;
}
#nom_site_spip a {
	font:normal 50px 'Kaushan Script', cursive;
	color: #FF2D00;
}
#nom_site_spip a:hover {
	text-decoration: none;
}

#header #tags ul li {
	display:inline-block;
	margin: 10px 0 0 10px;
}

#header #tags {
	float: right;
}
#header .widget-area {
	float: right;
	clear: none;
}
.sommaire #intro-wrap {
	background-image: none;
}
#intro-wrap {
	padding-bottom: 20px;
	margin: 0 0 1px;
	background: transparent url('img/bd-top.jpg') 0 100% repeat-x;
}
#intro {
	width: 960px;
	margin: 0 auto;
}
/* Fin Entete */
.formulaire_recherche {
	display: none;
}
.no-squelette .formulaire_recherche {
	display: block;
}
#header .formulaire_recherche {
	float: right;
	clear: right;
	display: block;
}
.formulaire_recherche form {
	display: block;
	height: 30px;
	margin: 16px 0;
}
.formulaire_recherche label {
	display: none;
}
.formulaire_recherche input[type="text"] {
	border: 0 none;
	border-radius: 3px 0 0 3px;
	margin: 0;
	padding: 7px 18px;
	width: 197px;
	color: white;
	float: left;
	background: #4B4B4B none;
	font: normal 14px/16px 'Nixie One', sans-serif;
}

.formulaire_recherche input[type="submit"] {
	width: 34px;
	height: 30px;
	border: 0 none;
	margin: 0;
	padding: 0;
	float: left;
	background: url('img/button-search.png') 0 50% no-repeat;
	cursor: pointer;
	text-indent: -99999px;
}


/* = navigation.css
--------------------------------------------------- */

/** Primary Menu **/

.menu-conteneur ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu-conteneur ul li {
	display: block;
	margin: 0 0 0 10px;
	padding: 0 0 5px 0;
	float: left;
	position: relative;
}


.menu-conteneur ul li a {
	display: block;
	margin: 0;
	padding: 0 20px;
	font-size: 15px;
	line-height: 35px;
	color: #000;
	text-decoration: none;
	text-shadow: 2px 2px 0 rgba(255,255,255,0.27);
	border-radius: 3px;
}

.menu-conteneur ul li .sf-sub-indicator {
	display: none;
}
.menu-conteneur ul li:hover a,
.menu-conteneur ul li.on a {
	color: #ff2d00;
	background: #000;
	box-shadow: 7px 7px 0 rgba(0,0,0,0.35);
	text-shadow: none;
}
.menu-conteneur ul li ul {
	display: none;
	background: #000 none;

	width: 180px;
	height: auto;
	box-shadow: 7px 7px 0 rgba(0,0,0,0.35);
}
.menu-conteneur ul li:hover ul {
	display: block;
	width: 180px;
	position: absolute;
	z-index: 999999;
	margin: 5px 0 0 0;
	padding: 5px 0;
	border-radius: 3px;
}

.menu-conteneur ul li:hover ul li{
	display: block;
	float: none;
	margin: 0;
	padding: 5px 0;
	background: transparent none;
}
.menu-conteneur ul li:hover ul li a {
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 25px;
	float: none;
	padding: 0 10px;
	background: transparent none;
	border: 0 none;
	box-shadow: none;
	text-transform: none;
	text-align: left;
}

.menu-conteneur ul li.hover ul li:hover a,
.menu-conteneur ul li.hover ul li.on a {
	color: #ff2d00;
	line-height: 25px;
	border: 0 none;
}
.menu-conteneur ul li:hover ul li .sf-sub-indicator {
	display: block;
	float: right;
	line-height: 15px;
}
.menu-conteneur ul li:hover ul li ul {
	display: none;
}
.menu-conteneur ul li:hover ul li:hover ul {
	display: block;
	height: auto;
	float: left;
	margin: -35px 0 0 175px;
}

.menu-conteneur ul li:hover ul li:hover ul li a {
	color: #fff;
}
.menu-conteneur ul li:hover ul li:hover ul li:hover a {
	color: #ff2d00;
}

body {
	background: transparent url('img/bg.jpg');
	color: #4B4B4B;
}
/** END Primary Menu **/






/* contenu */

#page-wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 15px 30px 15px;
}
.sommaire #page-wrapper  {
	width:100%;
	margin: 0 auto;
	padding: 0;
}
#contenu {
	width: 620px;
	padding: 0;
	float: left;
}
.sommaire #contenu {
	width:100%;
	padding: 0;
	float: none;
}
#contenu::after {
	content: "";
	display: block;
	clear: both;
}
#contenu .spip_documents{
	padding: 6px 6px 6px 0px;
}
#contenu .spip_documents img{
	border: 1px solid #CCC;
	background: white none;
	padding: 6px;
}
#contenu h1 {
	font: normal 36px/42px 'Kaushan Script', cursive;
	margin: 0 0 0.3em 0;
}
#contenu h2 {
	text-align: left;
	font: normal 36px/42px 'Kaushan Script', cursive;
}
#contenu h3 {
	margin: 0 0 0.3em 0;
	font: normal 28px/36px 'Kaushan Script', cursive;
}
#contenu h4 {
	margin: 0 0 0.3em 0;
	font: normal 18px/26px 'Kaushan Script', cursive;
}
#contenu ul.liste-items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li.hentry {
	margin-bottom: 30px;
}

li.hentry img.spip_logos {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.35);
	margin: 0;
	padding: 0;
	margin-right: 20px;
	vertical-align: middle;
}

.meta-publi,
.info-publi {
	margin: 0;
	padding: 0;
	font: normal 11px/15px Arial, sans-serif;
}
textarea {
	border: 1px solid #CCC;
	padding: 8px 5px;
	width: 608px;
	color: black;
	background: white none;
	border-radius: 3px;
}
input {
	border: 1px solid #CCC;
	padding: 8px 5px;
	color: black;
	background: white none;
	border-radius: 3px;
}
.formulaire_spip label {
	font-weight: normal;
}
.formulaire_spip fieldset legend {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 25px;
	line-height: 120%;
	background: none;
	font-weight: normal;
}
table.spip tr.row_first {
	background-color: white;
}
/* fin contenu */

/* sidebar */

div#sidebar-wrap {
	display: block;
	float: right;
	width: 310px;
}
#sidebar h2 {
	display: block;
	margin: 1em 0;
	font-family: 'Kaushan Script', sans-serif;
	font-weight: normal;
	font-size: 25px;
	line-height: 30px;
	color: black;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#sidebar ul ul{
	margin-left:20px;
	list-style-type: none;
}
#sidebar ul li{
	margin: 0 0 1em 0;
	padding: 0;
}
/* fin sidebar */

/* Footer */
#footer {
	color: #4C4C4C;
	background: transparent url('img/bd-bottom.jpg') 0 0 repeat-x;
	padding: 15px 0 0;
}
#foot-wrap {
	width: 960px;
	margin: 12px auto;
	clear: both;
}
#foot-wrap .padd-box {
	float: left;
	margin: 0;
	width: 384px;
}
#footer h2 {
	display: block;
	padding: 0;
	margin: 0 0 0.5em 0;
	font: normal 32px/35px "Kaushan Script";
	color: black;
}
#foot-wrap .padd-box ul {
	margin: 0 0 -1em 0;
	padding: 0;
	list-style-type: none;
}
#foot-wrap .padd-box ul li {
	margin: 0 0 1.5em;
}


/** Contact Form **/
#footer .form-wrap{
	float: right;
	width: 541px;
}
.footer-simple {
	width: 900px;
	margin: 0 auto;
	padding: 10px 30px;
	background: #373737 none;
	border-radius: 3px;
}
.footer-simple {
	margin-bottom: 20px;
	padding: 20px;
}
.footer-simple p {
	display: block;
	line-height: 18px;
}
.footer-simple a{
	color: #606060;
}
/* Fin Footer */


