/* Modifications by Chris M (http://aphotolog.com) for WordPress. 
   Pardon my sloppiness..
	Licensed under GPL :)

   additional modifications by Helga Cleve

	------------------------------------------------------
	If you'd like to have the "search, calendar and other" show up 
	in the sidebar. Change: 
	#search, #calendar, #other {
	display: none;
}
*/
a:link, a:visited {
	color: #5b7856;
	text-decoration: none;
}
a:hover {
	color: #5b7856;
	background: #c4c4c4;
	text-decoration: none;
}
body {
	margin: 0px;
	color: #567868;
	background: url("brussel-zuid.jpg") #f5f5f5 repeat-x;
	font: 11px/17px Verdana, Arial, sans-serif;
	text-align: left;
}
h2 {
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px;
	border-right: #f5f5f5 none 1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	color: #5b7856;
}
h3 {
	margin: 10px 0px 0px 0px;
	padding-bottom: 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #567868;
}
input, textarea {
	border: #567868 1px solid;
	background: #95c48d;
	font-size: 11px;
}
p.credit {
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	color: #5b7856;
}
.credit {
	clear: both;
	color: #5b7856;
}
.feedback {
	margin-bottom: 30px;
	padding: 0;
	border-bottom: #567868 solid 1px;
	text-align: right;
	color: #5b7856;
}
.meta li {
	display: inline;
	color: #5b7856;
}
.meta ul {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	color: #5b7856;
}
.storytitle {
	margin: 0;
	padding: 0;
	font: normal 16px Georgia, "Times New Roman", Times, serif;
	color: #5b7856;
}
#content {
	float: left;
	width: 500px;
	margin: 0;
	padding: 20px;
	background: #ffffff;
	color: #5b7856;
}
#header {
	margin: 50px 0 0 0;
	padding: 20px;
	background: #567868;
	font: 22px Georgia, "Times New Roman", Times, serif;
}
#header a {
	color: #ffffff;
	text-decoration: none;
}
#menu {
	width: 180px;
	padding: 10px;
	background: #95c48d;
	text-align: left;
	margin: 0 auto 0 540px;
}
#menu li, form, li {
	margin: 0;
	padding: 0;
	color: #5b7856;
}
#menu ul {
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
	color: #5b7856;
}
#menu ul ul {
	margin: 0;
	padding: 0 0 20px 0;
	border-top: 1px solid #ffffff;
	list-style-type: none;
	color: #5b7856;
}
#rap {
	padding: 0;
	color: #5b7856;
}
#search, #calendar, #other {
	display: none;
	color: #5b7856;
}
