/* --------------------------------------------------------------

   Disposition des blocs principaux
   (c) SPIP-Herbier - 2011
   by romy.tetue.net

-------------------------------------------------------------- */

#herbier { width: 205px; text-align: center; }
#herbier img { display: block; margin: 0; padding: 5px; background-image: url(img/bg/stripe.png); }

/* Style precedent :
#herbier {
	width: 185px;
	background: #333;
	-moz-border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 5px;
	text-align: center;
	font: 12px Verdana, sans-serif; 
	text-transform: uppercase;
	letter-spacing: 2px;
}
#herbier a {
	color: #666;
	text-decoration: none;
}
#herbier img {
	border: none;
	margin: auto;
	padding-top: 2px;
}
*/

/* end */