ul, ol{padding:0; margin:0;}
ol.spip {
    list-style: decimal outside none;
    margin: 5px 5px 5px 20px;
    padding-left: 5px;
}
h1{font-size: 24px;}
h2{font-size: 22px;}
h3{font-size: 20px;}

a{
    text-decoration: none;
    color: #5B5B5B;
}
a:hover{
    text-decoration: underline;
}
a.spip_in {color: #5D5D5D;}
.on, .on a, a.on {font-weight: normal;}

@font-face {
    font-family: 'RokkittRegular';
    src: url('font/rokkitt-regular-webfont.eot');
    src: url('font/rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/rokkitt-regular-webfont.woff') format('woff'),
         url('font/rokkitt-regular-webfont.ttf') format('truetype'),
         url('font/rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url("img/bg-body.jpg") repeat scroll 0 0 transparent;   
    margin: 0;
    color: #5D5D5D;
    font-family: 'RokkittRegular';
}
#page {
    background: url("img/bg-header.jpg") no-repeat scroll center top transparent;
}

input, textarea, select {
    padding:1px 5px;
    border:1px solid #D6D6D6;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
    margin-top:10px;
 }
input[type=checkbox]{
    width: auto;
     
 }
input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
 }
input[type=submit], input[type=reset] {
    box-shadow: 1px 1px 0 #B9B9B9;
    cursor: pointer;
    margin-left: 1px;
    padding: 0;
    width: auto;
    color:#F28220;
 }
table.spip tr.row_first, table tr {
    background: none repeat scroll 0 0 #FF7E0D;
}

table tr th,
table tr th a{
    color: #FFFFFF;
}
table.spip th, table.spip td {
    border: 1px solid #5D5D5D;
    font-weight: normal;
    padding: 0.2em 0.4em;
    text-align: left;
    vertical-align: middle;
}
p.hyperlien a,
a.spip_out,
a.spip_note{
    color:#F28220;
}
.formulaire_spip fieldset legend{
    color: #F28220;
    font-size: 18px;
    background-color: transparent;
}
#entete {
    background: url("img/bg-navigation.jpg") no-repeat scroll center 90px transparent;
    height: 105px;
    margin: 0 auto;
    padding: 36px 10px 0;
    width: 940px;
}
#entete .accueil {
    float: left;
}

#entete .accueil a {
    display: block;
    float: left;
    outline: medium none;
}
#nom_site_spip{
    display: none;
}
#entete a img.spip_logos {
    border: 0 none;
}
#entete .formulaire_menu_lang {
    background: none repeat scroll 0 0 transparent;
    float: right;
    margin: -89px 231px 0;
    padding: 0;
    position: relative;
}
#formulaire_menu_lang div {
    background: none no-repeat scroll right center transparent;
    height: 25px;
    overflow: hidden;
    width: 125px;
}
#formulaire_menu_lang div select#var_lang_ecrire,
#formulaire_menu_lang div select#var_lang {
    background: url("img/bg_select.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #5D5D5D;
    height: 26px !important;
    line-height: 26px;
    margin-top: 0;
    padding: 4px 5px;
    position: relative;
    width: 156px !important;
    z-index: 10;
}

#formulaire_menu_lang div select#var_lang_ecrire option,
#formulaire_menu_lang div select#var_lang option {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #5D5D5D;
    font-family: RokkittRegular;
    font-size: 14px;
    border:none;
}
#formulaire_menu_lang div select#var_lang_ecrire option[selected="selected"],
#formulaire_menu_lang div select#var_lang option[selected="selected"] {
    color: #F28220 !important;
}
#formulaire_menu_lang div select#var_lang_ecrire option:hover,
#formulaire_menu_lang div select#var_lang option:hover {
    background: #F28220 !important;
}

.formulaire_spip textarea,
.formulaire_spip input.text {
    border: 1px solid #C0C0C0;
    color: #5D5D5D;
    font-size: 14px;
}
.formulaire_spip textarea{
    max-width: 580px;
    min-width: 190px;
    max-height: 200px;
    min-height: 50px;
}

.formulaire_forum .saisie_titre input.text,
.formulaire_spip input.text { 
   width: 190px;   
}
.formulaire_spip label {
    display: none;
}

.formulaire_recherche input.text {
    border: 1px solid #D6D6D6;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 0 #D6D6D6 inset;
    color: #5D5D5D;
    font-size: 14px;
    margin: 0;
    padding: 4px 5px 1px 26px;
    width: 160px;
}
.formulaire_spip .boutons input {
    margin-right: 6px;
}
.page_forum .formulaire_spip .boutons  {
    text-align: left;
}
.page_forum .resume.articles,
.page_forum #formulaire_forum  {
    background: url("img/separator.jpg") no-repeat scroll center top transparent;
}

.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea {
    background-color: #ffffff;
    border-color: #C1551F;
    border-style: solid;
}
.formulaire_spip li.erreur .erreur_message {
    color: #C1551F;
    display: block;
    font-size: 13px;
    font-weight: normal;
}
#entete div.menu.rubriques{
    display:none;
}
#entete div#formulaire_recherche{
    float: right;
    margin: -87px 0 0;
    position: relative;
}
#entete .menu-conteneur {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#entete .menu-conteneur ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 13px 0 0;
}
#entete .menu-conteneur ul li{
    float: left;
    margin: 0 0 0 15px;
}
#entete .menu-conteneur ul li.on a, #entete .menu-conteneur ul li a:hover{
	color:#f78117;
}
#entete .menu-conteneur ul li a{
	font-size:16px;
	text-decoration:none;
	color:#5e5e5e;
	font-family: 'RokkittRegular';
	outline:none;
}
#entete .menu-conteneur ul li ul{
    background: url("img/bg-body.jpg") repeat scroll 0 0 transparent;
    border-left: 2px groove #FCFCFC;
    display: none;
    margin-left: -3px;
    padding: 0 5px 0 1px;
    position: absolute;
}
#entete .menu-conteneur ul li:hover ul {
    display:block;
 }
#entete .menu-conteneur ul li ul li{
    clear: both;
    margin: 0;
}

#conteneur{
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
    width: 940px;
}
#contenu .resume .info-publi,
#contenu .resume .introduction,
#contenu .resume .meta-publi,
#contenu .liste .info-publi,
#contenu .liste .introduction,
#contenu .liste .meta-publi{
    margin-left: 331px;
}

#contenu .liste .info-publi,
#contenu .resume .info-publi{
    margin-bottom: 10px;
}

#contenu .liste.articles.sommaire h2.h2 {
    display:none;
}
#contenu .liste.articles  h3,
#contenu .liste.articles  h3.entry-title,
#contenu .resume.articles h3{
    color: #F28220;
    font-family: 'RokkittRegular';
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 0 331px;
}
#contenu .resume.articles h3 a{
    color: #F28220;    
}
.page_mot #contenu .liste.articles h3 {
    margin-left: 0;
}
#contenu ul li:first-child {
    background: none repeat scroll 0 0 transparent;
/*    padding: 0;*/
}
#contenu ul li {
    background: url("img/separator.jpg") no-repeat scroll center top transparent;
    overflow: hidden;
    padding: 30px 0;
    width: auto;

}
#contenu ul li h3 img{
    position: absolute;
    margin-left: -331px
}
#contenu .documents_portfolio{
    margin-bottom: 20px;
}
#contenu .documents_portfolio img.spip_logos,
#contenu ul li h3 img.spip_logos{
    background: none #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px #D6D6D6;
}

#contenu ul li h3 a{
    color: #F28220;
    margin: 0;
}
#contenu ul li .info-publi{
    color: #5D5D5D;
    font-size:12px;
    margin: 0;
}
#contenu ul li div p {
    color: #5D5D5D;
    font-family: 'RokkittRegular';
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 20px;
    text-align: justify;
}
#contenu ul li div p a {
    color: #636363;
    outline: medium none;
}

#contenu ul li .meta-publi a.lire-la-suite {
    background: url("img/button-more.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    margin: 0 0 0 0;
    width: 120px;
    height: 75px;
    text-indent: -500px;
}
#contenu ul li .meta-publi a.lire-la-suite span.lire-la-suite-titre{
    display: none;
}
#contenu ul li .meta-publi a.nb_commentaires{
    float: right;
    color: #5D5D5D;
}
#contenu ul li .meta-publi span.sep{
    display: none;
}
#contenu .pagination{
    font-family: arial;
    font-size: 12px;    
    text-align: center;
    margin: 15px 0 10px 210px;
}
#contenu .pagination a.lien_pagination{    
    color: #FF7E0D;
    text-decoration: none;
}
#contenu .pagination span.sep.separateur{
    width:50px;
}
/*#contenu .contenu-principal .surlignable span img,*/
#contenu .contenu-principal .cartouche img.spip_logos{
    float: left;
    margin: 0 10px 10px 0;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #D6D6D6;
    padding: 10px;
}
#contenu .contenu-principal .surlignable span img{
    border: 4px solid #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 1px #D6D6D6;
    
}
#contenu .contenu-principal .cartouche p{
    margin: 0;
}
#contenu .contenu-principal .cartouche h1{
    color: #F78117;
    font-family: 'RokkittRegular';
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}
#contenu .contenu-principal .cartouche p.info-publi{
    font-size: 12px;
    margin: 10px 0;
}
#contenu .contenu-principal .surlignable .chapo{
    color: #5D5D5D;
    font-family: 'RokkittRegular';
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 0 0 1px 0;
    text-align: justify;
    text-shadow: 0 1px 0 #FCFCFC;
}
#contenu .contenu-principal .surlignable .texte{
    background: url("img/separator.jpg") no-repeat scroll center top transparent;
    font-size: 14px;
    clear: both;
    padding-top: 10px;
    margin-top : 10px;
}

#contenu .contenu-principal .surlignable .texte h3{
    color: #F78117;
}
#contenu .contenu-principal .surlignable .texte .spip_poesie{
    font-size: 16px;
}
    
.page_article #contenu{
    float: right;
}
/*.page_article #navigation{
    float: left;
    width: 250px;
}*/

#navigation {
    background: url("img/separator.jpg") no-repeat scroll center top transparent;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 10px 0;
    width: 940px;
}
#navigation div {
    border: 0 none;
    float: left;
    margin: 0 10px;
    width: 290px;
}
#navigation div ul{
    padding: 0 13px 5px;
}
#navigation div li{
    color: #5D5D5D;
    line-height: 13px;
    margin-bottom: 7px;
}
#navigation div ul a {
    color: #636363;
    font-size: 14px;
    outline: medium none;
    text-decoration: underline;
}
#navigation div ul a:hover {
    text-decoration: none;
    border-bottom: 1px solid #636363;
}
.page_plan div h2 a,
.contenu-principal div h2,
div.liste.breves  h2,
div.liste.sites  h2,
#navigation div h2,
#navigation div h2 a{
    color: #F28220;
    margin: 0 0 5px 0;
}
.page_plan h3{
    margin: 2px;
    font-size: 14px;
}

.page_mot .contenu-principal div h2{
    color: #5D5D5D;    
}
#navigation div p{
    color: #5D5D5D;
    font-family: 'RokkittRegular';
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 5px;
    text-align: justify;
}
#navigation div p a {
    color: #636363;
    outline: medium none;
}
#navigation div#formulaire_inscription.formulaire_spip fieldset {
    border: 0 none;
    clear: both;
    margin: 4px 0 5px;
    padding: 0;
}
#navigation div#formulaire_inscription.formulaire_spip fieldset ul {
    margin: 0;
}
#navigation div#formulaire_inscription.formulaire_spip fieldset ul li {
    margin: 0;
    padding: 0;
}
#navigation div#formulaire_inscription.formulaire_spip fieldset ul li label{
    display: block;
    color: #5D5D5D;
    font-size: 12px;
}
#pied{
    background: url("img/bg-footer.jpg") no-repeat scroll center top transparent;
    margin: 0 auto;
    overflow: hidden;
    padding: 65px 10px;
    width: 940px;
    text-align: center;
}
#pied a {
    border-color: #5B5B5B;
    color: #5B5B5B;
    font-family: 'RokkittRegular';
    font-size: 12px;
    font-weight: normal;
    outline: medium none;
    padding: 0 6px;
    text-decoration: none;
}
#pied a:hover {
    text-decoration:underline;
}
#hierarchie{
   margin-bottom: 30px;
    margin-top: 0;
}
#hierarchie, #hierarchie a{
    color: #5B5B5B;
}
#hierarchie strong{
    color: #FF7E0D;
}
div#comments,
div.formulaire_site,
div.formulaire_signature{
    width: 600px;
}
div#comments ul.forum.comments-list li.forum-fil.comment{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #D6D6D6;
    padding: 10px;
    margin-bottom: 10px;
}
div#comments ul.forum.comments-list li.forum-fil.comment div.comment-message.forum-message{
    
    background: url("img/bg-body.jpg") repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #D6D6D6 inset;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contenu .contenu-principal .surlignable .texte ul li,
.page_plan #contenu ul.plan li,
div.liste.resultats.articles ul.liste-items li,
div.liste.sites ul.liste-items li,
div.liste.breves ul.liste-items li,
.page_mot div.liste.articles ul.liste-items li,
.page_mot div.liste.forums ul.liste-items li,
div#comments ul.forum li.forum-fil{
    padding: 5px 10px !important;
}
div#comments ul.forum.comments-list li{
    background: url("img/bg-body.jpg") repeat scroll 0 0 transparent;
}
code.spip_code{
    color:#FF7E0D;
}
div.ps h2{
    margin-bottom: 0;
}
ul.forum abbr.date,
ul.forum span.comment-author{
    font-size: 14px;
}
ul.forum abbr.date{
    margin: 0 0 0 14px;
}
ul.forum div.comment-meta.forum-chapo{
    background-color: #5B5B5B;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    padding: 5px;
}
ul.forum div.comment-meta.forum-chapo a{
    color: #FF7E0D;
    font-weight: normal;
}
ul.forum div.comment-content.forum-texte{
    padding: 5px;
}
ul.forum div.comment-content.forum-texte p{
    padding-bottom: 5px !important;
}
ul.forum div.comment-content.forum-texte p a{
    color:#FF7E0D !important;
}
ul.forum div.comment-content.forum-texte p.repondre a{
    color:#5B5B5B !important;
}
div.formulaire_sites fieldset ul li,
div.formulaire_spip fieldset ul li{
    background: none repeat scroll 0 0 transparent !important;
    padding: 0 !important;
    margin: 3px;
}
.page_rubrique #contenu div.liste.articles{
    clear: both;
}
.page_mot #contenu .cartouche{
    margin-bottom: 10px;
}
.page_login div.contenu-principal{
    margin: auto;
    width: 350px;
}
.page_login div.contenu-principal p.boutons{
    text-align: center;
}
#contenu .contenu-principal .cartouche h1{
    font-size: 30px;
}

/* ADMIN */
#spip-admin{
/*    display: none;*/
}