/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
body { margin: 0; padding: 0; text-align: center;	margin: 0; padding: 0;
	background: #F6F5F5;
}

#page {	width: 100%;position: relative; margin: 0 auto; text-align: left;background:#fff url(img/bg.gif) repeat-x; }

#bloc-haut{
	width: 960px;
	margin: 0 auto;
	background: url(img/header-image.gif) no-repeat top right;
}
#entete {
	position: relative;
	background: url(img/border.gif) repeat-x left bottom;
	height: 260px;
}
/*  navigation  */
#nav {
	position: absolute;
	margin: 0; padding: 0;
	width: 880px;
	left: 0;
	top: 5px;
}
#bloc-central{width:960px;margin:0 auto;}
#conteneur { float: left; width: 720px; background: #fff url(img/content-bg.gif) repeat-y 210px top;}
#contenu { padding-bottom: 35px;padding-top: 5px;margin-left:10px;margin-right:10px;overflow:auto;}


#navigation { float: right; width: 220px; margin-top: 5px; margin-right: 10px;overflow: hidden;}
#extra { float: right; width:220px; margin-top: 5px; margin-right: 10px; overflow: hidden;clear:right; }
#bloc-bas {		background: #F6F5F5;clear: both;width:100%;border-top:1px solid #E8E8E8;text-align: center;padding:10px 0 50px;}
#pied {width: 960px; margin: 0 auto; padding: 1em 0; text-align: left; font-size: 0.90em; }
