/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */
/*
	Configuration
*/
.typo_standard {
  font-size: /*@font-size*/ 12px;
  font-family: /*@font-family*/ 'Lucida Grande', Verdana, Helvetica, sans-serif;
  text-indent: /*@text-indent*/ 25px;
  line-height: /*@line-height*/ 1.6em;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  color: /*@color*/ #666666;
  background-color: /*@background-color*/ #ffffff;
}
.typo_mono {
  font-family: /*@font-family-mono*/ 'Lucida Console', 'Courier New', Monospace;
}
/* Habillage general des menus de navigation */
.menu {
  clear: both;
  margin-bottom: /*@margin-bottom*/ 1.6em;
  text-align: left;
}
.menu > h1,
.menu > h2,
.menu > h3,
.menu > h4,
.menu > h5,
.menu > h6 {
  margin-bottom: 0;
}

.menu h2,#extra h2{
	font-size:1.4em;
}
.menu-items {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid #ebebeb;
}
.menu-items .item {
  margin: 0;
  padding: /*@quart-margin-bottom*/ 0.4em;
  background: url(img/dots.gif) repeat-x left bottom;
}
* html body .menu-items .item {
  height: 1%;
}
.menu-items .menu-items {
  margin-left: 1em;
  border: 0;
}
.menu-items .menu-items .item {
  padding: 0;
  border: 0;
  background: none;
}
.menu-items .item a, .menu-items .item a:visited {
  background-image: none;
  background-color: transparent;
  border: none;
  color: #5C3566;
  padding-left: 0;
}
.menu-items .item a span {
  color: #9F9F9F;
  font-style: normal;
  font-size: 1em;
}
.menu-items .item a:hover {
  color: #000;
}
/* habillage barre de nav horizontale */
#nav .menu-items {
  float: left;
  margin-top: 5px;
  height: 45px;
  padding-left: 15px;
  border: 0;
}
#nav .menu-items .item {
  float: left;
  padding: 0;
  padding-left: 10px;
  background: none;
}
#nav .menu-items .item a {
  float: left;
  padding: 0 15px 0 5px;
  color: #666666;
  font: bold 14px/40px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
  text-transform: uppercase;
}
#nav .menu-items .item a:hover, #nav .menu-items .item a:active {
  border: none;
  color: #111;
  background: transparent;
}
#nav .menu-items .item.on {
  background: transparent url(img/left-tab.gif) no-repeat;
}
#nav .menu-items .item.on a {
  color: #444;
  background: transparent url(img/right-tab.gif) no-repeat right top;
}
#nav .item .menu-items {
  display: none;
}
/* Listes d'items */
.liste {
  margin-bottom: /*@margin-bottom*/ 1.6em;
}
.liste > h1,
.liste > h2,
.liste > h3,
.liste > h4,
.liste > h5,
.liste > h6 {
  margin-bottom: 0;
}
.liste-items {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 0;
  border-top: 2px solid #ebebeb;
  margin-bottom: /*@margin-bottom*/ 1.6em;
}
.liste .liste-items {
  margin-bottom: 0;
}
.liste-items .item {
  list-style: square;
  margin-left: 0;
  padding: /*@demi-margin-bottom*/ 0.8em 0;
  clear: both;
  overflow: hidden;
  background: url(img/dots.gif) repeat-x left bottom;
}
* html body .liste-items .item {
  height: 1%;
}
.liste-items .item a, .liste-items .item a:visited {
  background-image: none;
  background-color: transparent;
  border: none;
  color: #5C3566;
  padding-left: 0;
}
.liste-items .item a span {
  color: #9F9F9F;
  font-style: normal;
  font-size: 1em;
}
.liste-items .item a:hover {
  color: #000;
}
.liste-items .item .h3 a:hover {
  text-decoration: none;
}
.liste-items .item:hover {
  background-color: #F8F8F8;
}
.liste-items .item ul {
  margin-left: /*@text-indent*/ 25px;
  list-style-type: disc;
}
.liste-items .item ol {
  margin-left: /*@text-indent*/ 25px;
  list-style-type: numeric;
}
.liste.articles .spip_logos {
  float: right;
  clear: right;
  margin: .8em 0 4px 16px;
}
.liste .articles .item .introduction {
  margin-top: 0.30em;
  line-height: 1.40em;
  padding: 0.5em 0 1.5em 1em;
}
/* plan du site */
ul.plan {margin-bottom: /*@margin-bottom*/ 1.6em;}
ul.plan li {margin-left: /*@text-indent*/ 25px;list-style-type: disc;}