/* ----------------------------------------------
Template Name : Keep It Simple
Template Code : S-0027
Version : 1.0
Author : Erwin Aligam
Author URI : http://www.styleshout.com/
Last Date Modified : September 29, 2008
Adaptation pour Zpip-dist : Cedric Morin http://www.yterium.com
------------------------------------------------ */

/* Titraille / Intertitres */
h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5,h6,.h6 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #444;
}
h1,.h1 { letter-spacing: -2px; }
h2,.h2 { color: #444; }
h2 a:link,h2 a:visited { color: #663333; }

h3,.h3 { letter-spacing: -0.5px;font-weight: normal;}

/* Couleurs des liens
---------------------------------------------- */
a {
	text-decoration: none;
	color: #5C3566;
}
a:focus,a:hover,a:active {
	border-bottom: 1px dotted #5C3566;
}
a.more-link {
	padding-bottom: 2px;
	font-weight: bold;
	border-bottom: 1px dotted #5C3566;
}
a:hover.more-link {
	text-decoration: none;
}
abbr,acronym {
  cursor: help;
  border-bottom: 1px dotted #895F30;
}
small,.small { font-size: 0.90em; color: #666; }
dt { color: #5C3566;}
/* Citations, code et poesie */
blockquote {
    padding-top: 1.6em;
	padding-left:42px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(img/quote.gif) no-repeat 12px 12px;
	font-size: 17px;
	line-height: 1.5em;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
}
blockquote.spip_poesie {padding-bottom: 1.6em;}
.spip_cadre {
	/* white-space: pre; */
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
}

table.spip caption{background-color: #F8F8F8;border: 1px solid #F0F0F0;border-bottom:none;}
table.spip tr.odd td,table.spip tr:nth-child(odd) td { background: #F9F9F9; padding: 0.4em;}
#page table.spip tfoot tr td{
	background:#fff;
}
table.spip tr.even td,table.spip tr:nth-child(even) td { background: #ededed;padding: 0.4em; }
table.spip th,table.spip td {border-width: 1px;border-style: solid;}
table.spip thead th,table.spip tbody th {color: #5C3566;background: #ebe3ec;border-color: #EBE3EC #EBE3EC #B4A0B7 #EBE3EC;padding: 0.4em;}
table.spip td {border-color: #EFEFEF;padding: 0.4em;}
/* end - table */
/* Images */
.spip_documents img,.spip_logos img {background: #FAFAFA;border: 1px solid #DCDCDC;padding: 8px;}
.spip_documents_left {margin: 5px 0px 10px;margin-right: 26px;}
.spip_documents_right {margin: 5px 0px 10px;margin-left: 10px;margin-right: 16px;}


/*  ------------------------------------------
/*  Habillage des elements du contenu
/*  ------------------------------------------ */
#descriptif_site_spip {color:#5C3566;font-family:Georgia,'Times New Roman',Times,Serif;font-size:17px;font-style:italic;font-weight:normal;letter-spacing:-0.5px;}

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre {  }
.cartouche .soustitre { margin-bottom: 1em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 3.2em; line-height: 1.40em; font-weight: bold; color: #669; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Listes d'articles et extraits introductifs */
.liste-items .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles .liste-items .item .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles .liste-items .item .introduction { margin-top: 0.30em; line-height: 1.40em; }

.info-publi { font-size: .95em; padding-top: 3px; color: #B0B0B0; }
.info-publi a, .info-publi a:visited { color: #000; border: none; }
.h3 + .info-publi {margin-top:-15px;}

/* meta-publi */
.meta-publi {padding: 5px; margin: 20px 0px 15px 0px;border: 1px solid #EBEBEB;background: #f8f8f8;}
.meta-publi a { background: transparent; }
.meta-publi a:hover { border: none; }
.meta-publi .nb_commentaires { margin: 0 10px 0 5px;	}
.meta-publi .lire-la-suite { margin: 0 10px 0 5px;	}
.meta-publi .date-redac{ margin: 0 10px 0 5px;	}



/* ------- */

#entete .accueil #nom_site_spip {
	position: absolute;
	margin: 0; padding: 0 5px 0 0;
	font: normal 75px Georgia, 'Times New Roman', Times, serif;
	letter-spacing: -6px;
	color: #5C3566;
	text-decoration: none;

	/* change the values of top and left to adjust the position of the logo*/
	top: 90px; left: 20px;
}
#entete .accueil #nom_site_spip a{color: #5C3566;}

#entete .accueil img.spip_logos {
	position: absolute;
	/* change the values of top and left to adjust the position of the logo*/
	top: 60px; right: 10px;
}
#entete #slogan_site_spip {
	color:#5C3566;
	font-family:Georgia,'Times New Roman',Times,Serif;
	font-size:17px;
	font-style:italic;
	font-weight:normal;
	letter-spacing:-0.5px;
	line-height:1.6em;
	margin:0pt;
	padding:0pt;
	position:absolute;
	width:400px;
	/* change the values of top and left to adjust the position of the logo*/
	top:175px; left:110px;
}


#pied img { vertical-align: middle; }
#pied .h3,
#pied p {
	padding-left: 0;
}
#pied a {
	color: #333;
	background: transparent;
}

/* footer-list */
#pied ul.footer-list {
	border-top: 1px solid #E6E6E6;
	list-style: none;
	padding: 0;
	margin-left: 0;
}
#pied ul.footer-list li {
	border-bottom: 1px solid #E6E6E6;
}
#pied ul.footer-list li a {
	display: block;
	width: 98%;
	line-height: 2em;
	font-weight: bold;
	padding: 4px 0;
	margin-left: 0;
	padding-left: 0;
	color: #888;
	border: none;
}
#pied ul.footer-list li a span {
	font-style: italic;
	font-weight: normal;
	font-family: Georgia, 'Times New Roman', Times, Serif;
}
#pied ul.footer-list li a:hover,
#pied ul.footer-list li a:hover span {
	color: #333;
}
/* footer-content */
#pied-contenu {
	float: left;
	width: 100%;
	padding: 0 0 35px 0;
	margin: 10px 0 0 5px;
}

/* footer-bottom */
#pied-bas {
	clear: both;
	border-top: 1px solid #dadada;
	width: 940px;
	margin: 0 auto;
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
}
#pied-bas .bottom-left {
	float: left;
	padding-left: 5px;
}
#pied-bas .bottom-right {
	text-align: right;
	padding-right: 0;
}

/**
 Cas particuliers
 */

h3 a.legend_link,caption a.legend_link {
	color:#fff;
	display:block;
	padding-right:30px;
}

a.legend_link:hover,a.legend_link:focus,a.legend_link:active{
	border:none;
}
.page_sommaire .h2 {color: #444;}

.page_tradlang_module #conteneur,.page_tradlang_bilan #conteneur{
	width:100%;
}

.page_tradlang_module #navigation,.page_tradlang_bilan #navigation,
.page_tradlang_module #extra,.page_tradlang_bilan #extra{
	float:left;
	clear:none;
}

.page_tradlang_module #conteneur,.page_tradlang_bilan #conteneur{
	background:transparent;
}

.page_tradlang_module #extra{
	margin-left:20px;
}

.liste_traductions .origine,.liste_traductions .cible{
	max-width:300px;
}
.page_tradlang_module .contenu-principal .tradlang_choisir_module,.page_sommaire .contenu-principal .tradlang_choisir_module{
	float:right;
	clear:right;
	width:240px;
}

#navigation ul.infos li{
	font-size:.9em;
	border-bottom:1px solid #ccc;
}
#navigation ul.infos  p{
	margin:.3em 0;
} 

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp{
	background-color:#B4A0B7;
	color:#111;
}

.diff blockquote{
	background:#fff;
	font-size:1em;
	font-family:'Lucida Grande',Verdana,Helvetica,sans-serif;
	margin:.5em;
	padding:.5em;
}

.diff blockquote p{
	margin-bottom:0;
}

.onglets_simple li{
	display:inline;
	background-color: #F8F8F8;
    border: 1px solid #F0F0F0;
    padding:3px;
}

#entete_tradlang{
	float:right;
	padding:5px;
	background-color: #F8F8F8;
    border: 1px solid #F0F0F0;
    margin: 10px 0 10px 10px;
}

#entete_tradlang p,#entete_tradlang .formulaire_spip{
	margin-bottom:5px;
}

.page_tradlang_bilan h3.h3{
	clear:both;
}

#formulaire_switcher_langue{
	float:right;
}

#tooltip{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#EBE3EC;
	border-color:#B4A0B7;
}

#tooltip h3{
	font-size:1em;
	color:#5C3566;
}

.formulaire_favori form button span{
	display:inline;
}

.menu_multilang .langues a.empty{
	color:#fff;
	background-color:#C49BAC;
	padding:2px;
}

.menu_multilang .langues a.empty:hover{
	background-color:#5C3566;
}

#selection .ariaformprop{
	float:right;
}


.chzn-container input{
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.chzn-container-multi .chzn-choices{
	background:#fff;
	border-color: #D4D4D4 #EBEBEB #EBEBEB #D4D4D4;
    border-style: solid;
    border-width: 1px;
    color: #6A6969;
}

.chzn-container-multi .chzn-choices .search-choice{
	background-image: -moz-linear-gradient(center top , #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
}

.graphique{
	position:relative;
}
.graphInfo {
    float: none;
    margin: 0.5em;
    position: absolute;
    right: 10px;
    top: 10px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    padding:0;
}
.graphInfo table{
	margin-bottom:0;
}

.graphLegend{
	margin-bottom:0;
}

.page_tradlang_stats #contenu{position:relative;}

.page_tradlang_stats .pagination{float:right;}

table.info{
    background: none repeat scroll 0 0 #D5EDF8;
    border:1px solid #DDDDDD;
    color: inherit;
    float:right;
    clear:both;
    background-color: #F8F8F8;
    border: 1px solid #F0F0F0;
    padding:10px;
}

table.tablesorter thead tr .header {
	vertical-align:middle;
}

/**
 * 	tickets
 */

.ticket .infos .formulaire_spip li.editer{
	border:none;
	margin:0;
}
