/*******************************************************************
 * TITLE: Color Scheme Stylesheet for Blue Haze                    *
 * URI  : http://www.oswd.org/design/xxx/bluehaze/color-scheme.css *
 * MODIF: 2003-01-05 1608 +0800                                    *
 *******************************************************************/


 
/* ------------------------------------------------------------------------
   Four basic colors are used to render Blue Haze. These are:
     1. Text Color
     2. Border Color
     3. Background Color (darker)
     4. Background Color (lighter)
   
   To change the above colors, just edit their respective values below.
------------------------------------------------------------------------ */


/* ###### General Color Scheme ###### */

h1, h2, h3, h4, q, #entete div, #entete, #pied, #pied a, #entete a, #navigation, .topOfPage, #hierarchie a
{ /* Text Color: */  color: #4080ff; }

h1, q,  #entete, #navigation, #navigation div, .texteencadre-spip, .formulaire_spip fieldset
{ /* Border Color: */  border-color: #0080ff; }

#entete, .menu-titre, .menu-titre a, #navigation a:hover, #navigation .on, table.spip_barre a img
{ /* Background Color (darker): */  background-color: #e8f0ff; }

q, #navigation a, #navigation span, .texteencadre-spip, .formulaire_spip .forml:focus
{ /* Background Color (lighter): */  background-color: #fafcff; }


/* ###### Special Colors ###### */

acronym {
  color: blue;
  border-bottom-color: blue;
}

#contenu a {
  color: #4080ff;
  border-bottom-color: #4080ff;
}

#pied {
  background-color: #f2f6ff;
}