/* CSS Document */
	body {
		font-family: Verdana, arial, helvetica, sans-serif;
		font-size: .7em;
	}

	/* nom des sites dans la liste du milieu */
	h2 {
		margin:.4em 0 .2em 0;
		padding: .1em .5em;
		color: white;
		font-weight: bold;
		border-bottom: thin solid #cccccc;
		font-size: 100%;
		height: 1.3em;
		overflow: hidden;
		clear: left;
	}

	h2 a {
		background-color: transparent;
		color: white;
		border-top-color: #4c4c4c;
	}

	a.urlsite {
/* 		float: right; */
		font-weight: normal;
		visibility: hidden;
	}
	a.urlsiteon {
/* 		float: right; */
		font-weight: normal;
		visibility: visible;
	}

	/* liens normaux */
	a {
		text-decoration: none;
		color: #7f7f7f; /* gris */
	}

	/* liens orange */
	a.link {
		color: #ff8000;
	}

	/* liens visites par le navigateur mais pas connus du cookie = updated (ou vus par ailleurs) */
	a:visited.link {
		color: #60cc00;
	}
	/* liens marques "vu" */
	a.linkvu {
		color: #7f7f7f;
	}

	/* Resumes */
	li.hentry {
		clear: left;
	}

	div.desc {  
/* 		margin-left: 50px; */
/* 		border-left: dotted 1px grey; */
		font-size: 9px;
		color: #7f7f7f;
		margin-bottom: 4px;
	}
	/* Afficher/masquer les resumes : on switche entre ces deux classes */
	div.desc .desc_afficher {
		display: block;
	}
	div.desc .desc_masquer {
		display: none;
	}

	/* Masquer la source */
	.hentry .source {
		display: none;
	}

	/* barre de titre */
	div.top {
		overflow: hidden;
		padding: 0em 1em;
		color: white;
		height: 30px;
		font: bold small 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	}
	div.top .title {
/* 	 	float:left; */
	 	width:70%;
		margin-top:6px;
	}
	div.topdate {
/* 		float:right; */
		margin-top:6px;
	}

	div.top a {
		color: #eeeeee;
	}
	
	/* marge avec menus et liste des sites */
	div.marge {
/* 		float: right; */
		width: 20%;
		background-color: #eeeeff;
		margin: 0;
		padding: 0;
		margin-top: 10px;
	}

	/* le premier h1 est colle en haut (affreux, trouver mieux) */
	h1 {
		border-top: dashed 1px;
		margin-top: 10px;
		font-size: 100%;
	}
	div.marge :first-child {
		margin-top: 0;
	}

	/* liens de la marge, normaux */
	div.marge a {
		overflow: hidden;
		display: block;
		height: 1.2em;
		padding: 1px .5em;
		font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
		border-top: 1px dotted;
	}

	/* liens de la marge, survol */
	div.marge a:hover {
		color: #ffffff;
		font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
/*		font-weight: bolder; */
	}

	/* liens de la marge, selectionnes */
	div.marge a.selected {
/* 		border-left: 3px solid #324C48; */
		color: #e6e6e6;
		font-weight: bold;
		font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	}

	/* la div contenant les liens du feed (hAtom) */
	.milieu {
/* 		margin-left: 30px; */
		width: 75%;
	}

	.published {
		font-size: x-small;
	}

	ul {
		margin:0;
		margin-bottom:6px;
		padding:0;
		list-style: none;
		list-style-image: none;
	}

	.date {
		position:relative;
		border: 1px hidden #191919;
		color: #e6e6e6;
		width: 6em;
/* 		margin-left: -30px; */
		padding: .25em 1em;
		font-size: x-small;
		background: #7f7f7f;
		list-style: none;
/* 		text-align: left; */
		font-weight: bold;
	}


	#total_articles {
/* 		float: right; */
/* 		margin-right: 50px; */
		border-bottom: 2px solid #999;
	}

	/* barre du bas, a styler */
	div.bottom {
		clear: both;
		text-align: center;
		margin-top: 25px;
		padding: .1em 1em;
		color: white;
		font: bold small 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	}
	div.bottom a {
		color: #ffffff;
	}
	
	div.bottomrss {
/* 		float: left; */
	}

	.rss-button {
		border: 1px solid;
		border-color: #FC9 #630 #330 #F96;
		padding: 0 3px;
		font: bold 9px verdana,sans-serif;
		color: #FFF;
		background: #F60;
		text-decoration: none;
		margin: 0;
	}
	.centre_image {
		position:absolute;
		left: 38%;
		top: 50%;
		margin-top: -98px; /* moitie de la hauteur de l'image */
		margin-left: -98px;
	}	
	.titre {
		position:relative;
/* 		padding-left: 40px; */
		margin-top: -1.15em;
	}

	.musicplayer {
		float: left;
		width: 30px;
		padding-top: 3px;
		overflow: hidden;
	}
	#selecteur_couleur{
		overflow:auto;
	}
	ul#selecteur_couleur a {
		display:block;
		float:left;
		padding:0;
		width:16px;
		height:16px;
		margin-right:4px;
	}
	#selecteur_couleur a.pink{background-color: #ff33ff;}
	#selecteur_couleur a.red{background-color: #cc3333;}
	#selecteur_couleur a.orange{background-color:  #ff6633;}
	#selecteur_couleur a.cyan{background-color: #3333ff;}
	#selecteur_couleur a.blue{background-color: #004080;}
	a.urlsite { float: right; }
	a.urlsiteon { float: right; }
	div.topdate { float: right; }
	div.marge { float: right; }
	#total_articles {
		float: right;
		margin-right: 50px;
	}
	div.desc {  
		margin-left: 50px;
		border-left: dotted 1px grey;
	}
	div.top .title {
	 	float:left;
	}
	div.marge a.selected {
		border-left: 3px solid #324C48;
	}
	div.milieu {
		margin-left: 30px;
	}
	.date {
		margin-left: -30px;
		text-align: left;
	}
	div.bottomrss {
		float: left;
	}
	.titre {
		padding-left: 40px;
	}