<div class="boutonsAction">
<form enctype="multipart/form-data" name"go_back" method="post" action="./?exec=phpmv&mod=admin_index">
<input name="back" value=" {'admin_retour'|translate} " type="submit">
</form>
</div>