@import "css/variables.less";
@import "css/mixins.less";

body {background-image: url(img/background.png);background-repeat: repeat;}

.col h1,
.col h2,
.col h3 {font-size: @baseFontSize*1.25; line-height: @baseLineHeight;}

.header {position: relative;}
.header .accueil a {color: inherit;}
.header .spip_logos {float:left;margin: @paddingLarge;margin-left: 0;margin-top:0;}
#logo_site_spip {line-height: 1em;}
#slogan_site_spip {display: block;}

.header .formulaire_menu_lang {width: 100%;}
.header .formulaire_menu_lang select {width: 100%;}

.formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.footer {
  margin-top:8em;
  padding-top: 4em;
  padding-bottom: 2em;
  margin-bottom:0;
  font-size: @fontSizeSmall;
  text-align: center;
}

.cartouche {margin-bottom: @baseLineHeight;}
.content-principal {.clearfix}

