/*****************************************************/
/*   Design:  GoFlexiblePro                          */
/*            Stylesheet for screen rendering        */
/*---------------------------------------------------*/
/*   Author:  G. Wolfgang                            */
/*   Email:   gw@actamail.com                        */
/*   Date:    April 14, 2006                         */
/*---------------------------------------------------*/
/*   You can use this stylesheet freely under the    */
/*   condition of giving proper author credits.      */
/*---------------------------------------------------*/
/*   Check out my favorite website: www.sda.org      */
/*****************************************************/

/*-----------------------------------------------------------------------*/
/* REMARK: FONT-SIZE DEFINITIONS                                         */
/*-----------------------------------------------------------------------*/
/* Relative font-sizes in "em" are used where necessary. To make the     */
/* "em"-units normed, the incoming font sizes are set to 1.0 em. The     */
/* font-size variations throughout the webpage are then expressed in     */
/* percentage values respective to the incoming font-size. To make       */
/* calculations easier, the font definition in "body" is such that       */
/* 1.0em = 10px. This makes life a real breeze!                          */
/*-----------------------------------------------------------------------*/

/*************************/
/* SECTION 1 - MAIN BODY */
/*************************/

/*-------------------------------*/
/* Section 1.1 - Page definition */
/*-------------------------------*/

body {
	font-size: 62.5%; margin: 0 auto; padding: 0; background: white url(background.gif) top center repeat-y; font-family: "trebuchet ms", verdana, arial, sans-serif;
}

#page {
	width: 780px; margin: 0 auto; padding: 0; border-left: solid 1px rgb(150,150,150); border-right: solid 1px rgb(150,150,150); background-color: rgb(237,237,237);
}

#conteneur { clear: both; width: 100%; }

/**********************/
/* SECTION 2 - HEADER */
/**********************/

/*--------------------------------------*/
/* Section 2.1 - Global navigation menu */
/*--------------------------------------*/

#entete {
	/*float: left; position: absolute;*/ z-index: 3; width: 780px; top: 5px; background: transparent url(header.jpg) left bottom no-repeat; min-height: 110px;
}

#entete .formulaire_recherche {	
	float: right; margin: 0; padding: 0; list-style: none;
}
#entete .formulaire_recherche label {
	white-space: nowrap; text-transform: uppercase; margin: 0; padding: 0 5px 0 5px; color: rgb(150,150,150); text-decoration: none; font-size: 100%;
}

#entete a:hover {
	background-color: rgb(255,255,255); color: rgb(0,0,0); text-decoration: underline;
}

/*-----------------------------------*/
/* Section 2.2 - Sitename and Banner */
/*-----------------------------------*/

#entete #nom_site_spip, #entete a .spip_logos  {
	clear: both; float: left; position: absolute; z-index: 1; width: 700px; top: 20px; margin: 0; padding-left: 14px; background-color: transparent; color: rgb(225,225,225); font-weight: bold; font-size: 24px;
}

.site-slogan  {
	float: left; position: absolute; z-index: 2; width: 11.7em; top: 1.9em; left: 16px; margin: 0; padding: 0 3px 1px 3px; background-color: rgb(150,150,150);	color: rgb(225,225,225); font-weight: bold; font-size: 14px;
}

.img-header {
	clear: both; float: left; width: 780px; height: 110px; margin: 0; padding: 0;
}

/*------------------------------------*/
/* Section 2.3 - Main navigation menu */
/*------------------------------------*/

#hierarchie {
	clear: both; width: 770px; margin: 0; padding-left: 10px; border-top: solid 1px rgb(125,125,125); border-bottom: solid 1px rgb(125,125,125); background-color: rgb(190,190,190); font-weight: bold;font-size: 1.2em; 
}

#hierarchie a {
	color: rgb(255,255,255); margin: 0; padding: 0; text-decoration: none;
}

#hierarchie, #hierarchie a:hover, #hierarchie a.selected {
	color: rgb(110,110,110); text-decoration: none;
}

/*************************************/
/* SECTION 3 - FRONT-PAGE SIDEBANNER */
/*************************************/

.sidebanner-frontpage {
	clear: both; float: left; width: 160px; margin: 0; padding: 0;
}

.img-sidebanner {
	width: 160px; margin: 0; padding: 0; border: none;
}

/******************************/
/* SECTION 4 - SUB-NAVIGATION */
/******************************/

/*--------------------*/
/* Section 4.1 - Size */
/*--------------------*/

.forum-fil {
	clear: both; margin: 0; padding: 0; color: rgb(110,110,110); list-style: none; border-bottom: solid 1px rgb(200,200,200);
}

.forum-fil ul {	
	list-style: none; margin: 0; padding: 0;
}

.forum-fil li {
	margin: 0; padding: 0; /*border-left: solid 5px rgb(235,235,235);*/
}

.forum-fil .forum-titre {
	vertical-align: top; margin: 0; padding: 10px 7px 10px 14px; color: rgb(175,175,175); font-weight: bold; font-size: 140%;
}

.forum-fil a {
	color: rgb(110,110,110);
}


/*******************************************************************/
/* SECTION 5 -  Extend left column height to footer                */
/*-----------------------------------------------------------------*/

.container-content-sidebar {
   float: left; width: 620px; min-height: 400px; margin: 0; padding: 0; background-color: rgb(255,255,255);
}

/* IE6-hack for min-height. Also works for IE7-Beta2 */
* html .container-content-sidebar {
	height: 400px;
} 
/* End IE-Hack */

/* Put a buffer between sub-navigation column and      */
/* main-navigation so that the global page background  */
/* color does not come through in this place           */

.buffer {
 	float: left; width: 160px; height: 20px; margin: 0; padding: 0; background-color: rgb(255,255,255);	
}

/***********************/
/* SECTION 6 - CONTENT */
/***********************/

/*--------------------*/
/* Section 6.1 - Size */
/*--------------------*/

#contenu {
	float: left; width: 425px; margin: 0; margin-left: 144px; padding: 30px 20px 0 20px; background-color: rgb(255,255,255);	display: inline;
}

/*-------------------------*/
/* Section 6.2 - Pagetitle */
/*-------------------------*/

#contenu .cartouche {
	width: 390px; margin: 0 0 10px 0; padding: 0;
}

#contenu .cartouche p {
	padding: 0; margin: 0; font-weight: bold; font-size: 140%;
}

/*----------------------------------*/
/* Section 6.3 - Extra container    */
/*----------------------------------*/
/* To ensure that no problems arise */
/* with right and left floatings    */
/* and make the implementation      */
/* robuster.                        */
/*----------------------------------*/

/*#contenu box-container-full {
	 float: left; width: 425px; margin: 0 0 1.5em 0; padding: 0;
}*/

#contenu .contre-encart {
	float: left; width: 205px; margin: 0 0 1.5em 0; padding: 0;
}

#contenu .encart {
	float: right; width: 205px; margin: 0 0 1.5em 0; padding: 0;
}

/*-----------------------------*/
/* Section 6.4 - Content title */
/*-----------------------------*/

#contenubox-title-noshading-noline {
	display: block; margin: 0; padding: 0; background-color: transparent; text-transform: none; font-weight: bold; font-size: 150%;
}

h3.spip, #contenu h2 {
	display: block; margin: 0 0 0.2em 0; padding: 0; border-bottom: solid 2px rgb(135,135,135); background-color: transparent; text-transform: none; font-weight: bold; font-size: 150%; text-align: left;
}
h3.spip a, #contenu h2 a { text-decoration: none; }

.liste-articles ul, .encart ul, .page_plan ul { list-style: none; margin: 0; padding: 0; }
.liste-articles li .titre {
  	margin: 0; padding: 1px 0 2px 3px; background-color: rgb(225,225,225); font-weight: bold; font-size: 150%;	
}

/*--------------------------------*/
/* Section 6.5 - Contentbox size  */
/*--------------------------------*/

/* No shading */
#contenubox-noshading {
	margin: 0; padding: 0.7em 0 0px 0; background-color: transparent;
}

/* Shading */
.liste-articles li {
	margin: 0; padding: 7px 10px 5px 10px; background-color: transparent;
}

/*-------------------------------*/
/* Section 6.6 - Contentbox text */
/*-------------------------------*/

/* Heading */
h1 {
	clear: left; margin: 1.0em 0 1.0em 0; font-weight: bold; font-size: 150%;
}

h2 {
	clear: left; margin: 1.5em 0 1.0em 0; font-weight: bold; font-size: 140%;
}

h3 {
	clear: left; margin: 1.0em 0 0.6em 0; font-weight: bold; font-size: 130%;
}

h4 {
	clear: left; margin: 0.5em 0 0.5em 0; font-weight: bold; font-style: italic; font-size: 130%;
}

/* Paragraph text */
p {
   clear: left; margin: 0 0 0.5em 0; padding: 0; font-size: 130%;
}

/* Quote */
p.quote {
   clear: left; margin: 0 30px 0.6em 30px; line-height: 120%; font-size: 120%;
}

/* Embedded */
.embed {
   float: left; width: 120px; margin: 2px 7px 2px 0; padding: 5px 5px 5px 5px; background-color: rgb(225,225,225); font-style: italic; font-weight: bold;  line-height: 1.2em; font-size: 180%;
}

.embed-caption {
   float: left; margin: 5px 0 0px 0; padding: 0; font-style: italic; font-weight: normal; line-height: 1.2em; font-size: 50%;
}

/* Unordered list */
ul.spip {
	margin: 0 10px 0 10px; padding: 0 0 0px 30px; list-style-type: disc; list-style-position: outside;
}

/* Ordered List */
ol.spip {
	margin: 0 10px 0 17px; padding: 0 0 0px 30px; list-style-type: decimal; list-style-position: outside;
}

/*--------------------------*/
/* Section 6.7 - Datatables */
/*--------------------------*/

table {
	clear: left; margin: 0.5em 0 0.2em 30px; border: solid 1px rgb(150,150,150); empty-cells: show; border-collapse: collapse; background-color: rgb(225,225,225);
}

table tr {
	margin: 0; padding: 0;
}

table td {
	padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); text-align: left; font-size: 120%;
}

table th {
	margin: 0; padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); empty-cells: show; text-align: left; font-size: 120%; 	
}

p table caption {
	margin: 0 0 10px 30px; padding: 0; clear: both; text-align: left; font-size: 120%;
}

/*----------------------*/
/* Section 6.8 - Images */
/*----------------------*/

.spip_documents img {
	border: solid 1px rgb(150,150,150);
}

.spip_documents_center {
	float: left; margin: 0.3em 0 3px 0;
}

.spip_documents_left {
	float: left; margin: 0.3em 7px 3px 0;
}

.spip_documents_right {
	float: right; margin: 0.3em 0 3px 7px;	
}

/***********************/
/* SECTION 7 - SIDEBAR */
/***********************/
#navigation {
	 float: right; width: 144px; margin: 0; padding: 57px 5px 0 0; background-color: rgb(255,255,255);
}

/*-----------------------*/
/* Section 7.2 - Textbox */
/*-----------------------*/

/*#navigation box-noborder {
	width: 140px; margin: 0 0 1.0em 0; padding: 0;
}*/

#navigation div {
	width: 130px; margin: 0 0 1.0em 0; padding: 4px 4px 4px 4px; border: solid 1px rgb(200,200,200);
}
#navigation div div { width: auto; margin: 0; padding: 0; border: none; }
#navigation fieldset { margin: 0; padding: 0; border: none; }

/*-----------------------------*/
/* Section 7.3 - Textbox title */
/*-----------------------------*/

/*#navigationbox-title-noshading-noline {
	 display: block; margin: 0 0 0.5em 0; padding: 1px 0 1px 0;font-weight: bold; font-size: 120%;
}

#navigationbox-title-noshading-line {
	display: block; margin: 0 0 0.5em 0; padding: 1px 0 1px 0; border-bottom: solid 1px rgb(135,135,135); background-color: transparent; font-weight: bold; font-size: 120%;
}*/
#navigation .menu-titre, #navigation legend {
	display: block; margin: 0 0 0.5em 0; padding: 2px 5px 2px 5px; background-color: rgb(225,225,225); font-weight: bold; font-size: 120%;
}
#navigation legend, #navigation .menu-titre, #navigation .menu-titre a { text-decoration: none; color: rgb(255,255,255); }

/*------------------------------*/
/* Section 7.4 - Paragraph text */
/*------------------------------*/

/*#navigation .box-noborder p {
	margin: 0 4px 0.4em 4px; padding: 0; background-color: transparent; font-size: 110%;
}*/

#navigation p, #navigation ul {
	margin: 0 0 0.4em 0; padding: 0; background-color: transparent; font-size: 110%; list-style: none;
}

/**********************/
/* SECTION 8 - FOOTER */
/**********************/

#pied {
	clear: both; width: 780px; margin: 0 0 0px 0; padding: 5px 0 5px 0; border-top: solid 1px rgb(200,200,200); border-bottom: solid 1px rgb(200,200,200); background-color: rgb(255,255,255); text-align: center;	
}

/***************************************************/
/* SECTION 9 - HYPERLINKS FOR NON-NAVIGATION TEXTS */
/***************************************************/

#contenu a, #navigation a {
	color: rgb(0,0,0); text-decoration: underline;
}

#contenu a:hover, #navigation a:hover {
	color: rgb(110,110,110); text-decoration: none;
}

#contenu a:visited, #navigation a:visited {
	color: rgb(110,110,110);
}

#pied a {
	color: rgb(150,150,150); text-decoration: underline;
}

#pied a:hover {
	color: rgb(0,0,0); text-decoration: none;
}

/********************************/
/* SECTION 10 - GENERIC CLASSES */
/********************************/

/*------------------------------------------*/
/* Section 10.1 - Global default fonts      */
/*------------------------------------------*/
/* Only applied to the main div-statements  */
/* for the basic page regions.              */
/*------------------------------------------*/

#entete {
	font-size: 1em;
}

/*#hierarchie {
	font-size: 1.1em;
}*/

.forum-fil {
	font-size: 1em;
}

#contenu {
	font-size: 1em; line-height: 1.7em; color: rgb(110,110,110);
}

#navigation {
	font-size: 1em; line-height: 1.4em; color: rgb(110,110,110);
}

/* Percentage value does not work in "footer", so we     */
/* cannot give the normed size of "1.0em" here and scale */
/* it up inside the "footer". Thus we define the final   */
/* font-size here the way it will appear on screen.      */
#pied {
	font-size: 1.1em; color: rgb(150,150,150);
}

/*--------------------------------------*/
/* Section 10.2 - Horizontal alignments */
/*--------------------------------------*/

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*-------------------------------------*/
/* Section 10.3 - Title decoration box */
/*-------------------------------------*/

.box-on {
	float: left; width: 1em; margin-right: 0.2em; padding-left: 0.3em;
}

.box-off {
	display: none;
}

/*---------------------------*/
/* Section 10.4  Text colors */
/*---------------------------*/

/* Basic Colors */
.txt-white {
	color: rgb(255,255,255);
}

.txt-black {
	color: rgb(0,0,0);
}

/* Grey */
.txt-grey01 {
	color: rgb(242,242,242);
}

.txt-grey02 {
	color: rgb(230,230,230);
}

.txt-grey03 {
	color: rgb(217,217,217);
}

.txt-grey04 {
	color: rgb(204,204,204);
}

.txt-grey05 {
	color: rgb(191,191,191);
}

.txt-grey06 {
	color: rgb(178,178,178);
}

.txt-grey07 {
	color: rgb(153,153,153);
}

.txt-grey08 {
	color: rgb(127,127,127);
}

.txt-grey09 {
	color: rgb(89,89,89);
}

.txt-grey10 {
	color: rgb(51,51,51);
}

/* Yellow */
.txt-yellow01 {
	color: rgb(254,252,232);
}

.txt-yellow02 {
	color: rgb(253,249,201);
}

.txt-yellow03 {
	color: rgb(253,246,185);
}

.txt-yellow04 {
	color: rgb(252,243,162);
}

.txt-yellow05 {
	color: rgb(251,239,139);
}

.txt-yellow06 {
	color: rgb(250,236,116);
}

.txt-yellow07 {
	color: rgb(249,233,93);
}

.txt-yellow08 {
	color: rgb(249,230,69);
}

.txt-yellow09 {
	color: rgb(248,227,46);
}

.txt-yellow10 {
	color: rgb(247,224,23);
}

/* Blue */
.txt-blue01 {
	color: rgb(238,237,249);
}

.txt-blue02 {
	color: rgb(222,220,242);
}

.txt-blue03 {
	color: rgb(205,202,236);
}

.txt-blue04 {
	color: rgb(189,185,229);
}

.txt-blue05 {
	color: rgb(172,167,223);
}

.txt-blue06 {
	color: rgb(155,149,217);
}

.txt-blue07 {
	color: rgb(139,132,210);
}

.txt-blue08 {
	color: rgb(122,114,204);
}

.txt-blue09 {
	color: rgb(106,97,197);
}

.txt-blue10 {
	color: rgb(89,79,191);
}

/* Green */
.txt-green01 {
	color: rgb(237,246,229);
}

.txt-green02 {
	color: rgb(220,238,204);
}

.txt-green03 {
	color: rgb(202,229,178);
}

.txt-green04 {
	color: rgb(185,220,153);
}

.txt-green05 {
	color: rgb(167,211,127);
}

.txt-green06 {
	color: rgb(149,203,102);
}

.txt-green07 {
	color: rgb(132,194,76);
}

.txt-green08 {
	color: rgb(114,185,51);
}

.txt-green09 {
	color: rgb(97,177,25);
}

.txt-green10 {
	color: rgb(79,168,0);
}

/* Red */
.txt-red01 {
	color: rgb(252,235,233);
}

.txt-red02 {
	color: rgb(248,216,211);
}

.txt-red03 {
	color: rgb(245,196,188);
}

.txt-red04 {
	color: rgb(242,177,166);
}

.txt-red05 {
	color: rgb(238,157,144);
}

.txt-red06 {
	color: rgb(235,137,122);
}

.txt-red07 {
	color: rgb(232,118,100);
}

.txt-red08 {
	color: rgb(229,98,77);
}

.txt-red09 {
	color: rgb(225,79,55);
}

.txt-red10 {
	color: rgb(222,59,33);
}

/*----------------------------------*/
/* Section 10.5 - Background colors */
/*----------------------------------*/

/* Basic Colors */
.bg-white {
	background-color: rgb(255,255,255);
}

.bg-black {
	background-color: rgb(0,0,0);
}

/* Grey */
.bg-grey01 {
	background-color: rgb(242,242,242);
}

.bg-grey02 {
	background-color: rgb(230,230,230);
}

.bg-grey03 {
	background-color: rgb(217,217,217);
}

.bg-grey04 {
	background-color: rgb(204,204,204);
}

.bg-grey05 {
	background-color: rgb(191,191,191);
}

.bg-grey06 {
	background-color: rgb(178,178,178);
}

.bg-grey07 {
	background-color: rgb(153,153,153);
}

.bg-grey08 {
	background-color: rgb(127,127,127);
}

.bg-grey09 {
	background-color: rgb(89,89,89);
}

.bg-grey10 {
	background-color: rgb(51,51,51);
}

/* Yellow */
.bg-yellow01 {
	background-color: rgb(254,252,232);
}

.bg-yellow02 {
	background-color: rgb(253,249,201);
}

#navigation .rubriques, .bg-yellow03 {
	background-color: rgb(253,246,185);
}

.bg-yellow04 {
	background-color: rgb(252,243,162);
}

.bg-yellow05 {
	background-color: rgb(251,239,139);
}

.bg-yellow06 {
	background-color: rgb(250,236,116);
}

#navigation .rubriques .menu-titre, .bg-yellow07 {
	background-color: rgb(249,233,93);
}

.bg-yellow08 {
	background-color: rgb(249,230,69);
}

.bg-yellow09 {
	background-color: rgb(248,227,46);
}

.bg-yellow10 {
	background-color: rgb(247,224,23);
}

/* Blue */
.bg-blue01 {
	background-color: rgb(238,237,249);
}

#navigation .breves, .bg-blue02 {
	background-color: rgb(222,220,242);
}

.bg-blue03 {
	background-color: rgb(205,202,236);
}

.bg-blue04 {
	background-color: rgb(189,185,229);
}

#navigation .breves .menu-titre, .bg-blue05 {
	background-color: rgb(172,167,223);
}

.bg-blue06 {
	background-color: rgb(155,149,217);
}

.bg-blue07 {
	background-color: rgb(139,132,210);
}

.bg-blue08 {
	background-color: rgb(122,114,204);
}

.bg-blue09 {
	background-color: rgb(106,97,197);
}

.bg-blue10 {
	background-color: rgb(89,79,191);
}

/* Green */
.bg-green01 {
	background-color: rgb(237,246,229);
}

#navigation .formulaire_inscription, .bg-green02 {
	background-color: rgb(220,238,204);
}

.bg-green03 {
	background-color: rgb(202,229,178);
}

.bg-green04 {
	background-color: rgb(185,220,153);
}

#navigation .formulaire_inscription legend, .bg-green05 {
	background-color: rgb(167,211,127);
}

.bg-green06 {
	background-color: rgb(149,203,102);
}

.bg-green07 {
	background-color: rgb(132,194,76);
}

.bg-green08 {
	background-color: rgb(114,185,51);
}

.bg-green09 {
	background-color: rgb(97,177,25);
}

.bg-green10 {
	background-color: rgb(79,168,0);
}

/* Red */
.bg-red01 {
	background-color: rgb(252,235,233);
}

#navigation .divers, .bg-red02 {
	background-color: rgb(248,216,211);
}

.bg-red03 {
	background-color: rgb(245,196,188);
}

.bg-red04 {
	background-color: rgb(242,177,166);
}

#navigation .divers .menu-titre, .bg-red05 {
	background-color: rgb(238,157,144);
}

.bg-red06 {
	background-color: rgb(235,137,122);
}

.bg-red07 {
	background-color: rgb(232,118,100);
}

.bg-red08 {
	background-color: rgb(229,98,77);
}

.bg-red09 {
	background-color: rgb(225,79,55);
}

.bg-red10 {
	background-color: rgb(222,59,33);
}

/******************************/
/* SECTION 11 - MISCELLANEOUS */
/******************************/

/* Horizontal line */
hr {
	clear: both; width: 425px; height: 1px; border: none;
}

/* HTML-code examples */
.showcode {
  font-family: monospace; font-weight: bold; font-size: 13px; color: rgb(255,0,0);
}

/* Hide HTML-tags. Good when no pagestyle supported by browser */
.invisible {
	display: none;
}

br {
	clear: both;
}