/*****************************************************/
/*   Design:  GoFlexiblePro                          */
/*            Stylesheet to make printer-friendly    */
/*---------------------------------------------------*/
/*   Author:  G. Wolfgang                            */
/*   Email:   gw@actamail.com                        */
/*   Date:    April 14, 2006                         */
/*---------------------------------------------------*/
/*   You can use this stylesheet freely under the    */
/*   condition of giving proper author credits.      */
/*---------------------------------------------------*/
/*   Check out my favorite website: www.sda.org      */
/*****************************************************/

/*-----------------------------------------------------------------------*/
/* REMARK: FONT-SIZE DEFINITIONS                                         */
/*-----------------------------------------------------------------------*/
/* Relative font-sizes in "em" are used where necessary. To make the     */
/* "em"-units normed, the incoming font sizes are set to 1.0 em. The     */
/* font-size variations throughout the webpage are then expressed in     */
/* percentage values respective to the incoming font-size. To make       */
/* calculations easier, the font definition in "body" is such that       */
/* 1.0em = 10px. This makes life a real breeze!                          */
/*-----------------------------------------------------------------------*/

/*************************/
/* SECTION 1 - MAIN BODY */
/*************************/

/*-------------------------------*/
/* Section 1.1 - Page definition */
/*-------------------------------*/

body {
	font-size: 62.5%; margin: 0 auto; padding: 0; font-family: "trebuchet ms", verdana, arial, sans-serif;
}

#page {
	width: 680px; margin: 0 auto; padding: 0;
}

/**********************/
/* SECTION 2 - HEADER */
/**********************/

/*--------------------------------------*/
/* Section 2.1 - Global navigation menu */
/*--------------------------------------*/

#entete-container, #entete, #entete * {
	display: none;
}

/*-----------------------------------*/
/* Section 2.2 - Sitename and Banner */
/*-----------------------------------*/

.site-name  {
	display: none;
}

.site-slogan  {
	display: none;
}

.img-header {
	display: none;
}

/*------------------------------------*/
/* Section 2.3 - Main navigation menu */
/*------------------------------------*/

#hierarchie {
	display: none;
}

#hierarchie ul {	
	display: none;
}	

#hierarchie li {
	display: none;
}

#hierarchie li a {
	display: none;
}

#hierarchie a:hover, #hierarchie a.selected {
	display: none;
}

/*************************************/
/* SECTION 3 - FRONT-PAGE SIDEBANNER */
/*************************************/

.sidebanner-frontpage {
	display: none;
}

.img-sidebanner {
	display: none;
}

/******************************/
/* SECTION 4 - SUB-NAVIGATION */
/******************************/

/*--------------------*/
/* Section 4.1 - Size */
/*--------------------*/

.forum-fil {
   display: none;
}

/*--------------------*/
/* Section 4.2 - Menu */
/*--------------------*/

.forum-fil ul {	
   display: none;
}	

.forum-fil li {
   display: none;
}

.forum-fil li.title {
   display: none;
}

.forum-fil li.group a {
   display: none;
}	
	
.forum-fil li a {
   display: none;
}

.forum-fil li.group a:hover, .forum-fil li.group .selected {
   display: none;
}

.forum-fil a:hover, .forum-fil .selected {
   display: none;
}

.forum-fil-align {
   display: none;
}

/*******************************************************************/
/* SECTION 5 -  Extend left column height to footer                */
/*******************************************************************/

.container-content-sidebar {
   float:left; width: 780px; margin: 0; padding: 0; background-color: rgb(255,255,255);
}

.buffer {
   display: none;
}

/***********************/
/* SECTION 6 - CONTENT */
/***********************/

/*--------------------*/
/* Section 6.1 - Size */
/*--------------------*/

#contenu {
	float: left; width: 629px; margin: 0; padding: 0; background-color: rgb(255,255,255);	
}

/*-------------------------*/
/* Section 6.2 - Pagetitle */
/*-------------------------*/

#contenu-pagetitle {
	width: 390px; margin: 0 0 10px 0; padding: 0;
}

#contenu-pagetitle p {
	padding: 0; margin: 0; font-weight: bold; font-size: 140%;
}

/*----------------------------------*/
/* Section 6.3 - Extra container    */
/*----------------------------------*/
/* To ensure that no problems arise */
/* with right and left floatings    */
/* and make the implementation      */
/* robuster.                        */
/*----------------------------------*/

#contenubox-container-full {
	 float: left; width: 629px; margin: 0 0 1.5em 0; padding: 0;
}

#contenu.contre-encart {
	float: left; width: 295px; margin: 0 0 1.5em 0; padding: 0;
}

#contenu.encart {
	clear: right; float: right; width: 295px; margin: 0 0 1.5em 0; padding: 0;
}

/*-----------------------------*/
/* Section 6.4 - Content title */
/*-----------------------------*/

#contenubox-title-noshading-noline {
	display: block; margin: 0; padding: 0; background-color: transparent; text-transform: none; font-weight: bold; font-size: 150%;
}

#contenubox-title-noshading-line {
	display: block; margin: 0 0 0.2em 0; padding: 0; border-bottom: solid 2px rgb(135,135,135); background-color: transparent; text-transform: none; font-weight: bold; font-size: 150%;
}

#contenubox-title-shading {
  	margin: 0; padding: 1px 0 3px 3px; background-color: rgb(225,225,225); font-weight: bold; font-size: 150%;	
}

/*--------------------------------*/
/* Section 6.5 - Contentbox size  */
/*--------------------------------*/

/* No shading */
#contenubox-noshading {
	margin: 0; padding: 0.7em 0 0px 0; background-color: transparent;
}

/* Shading */
#contenubox-shading {
	margin: 0 0 0em 0; padding: 7px 10px 5px 10px; background-color: transparent;
}

/*-------------------------------*/
/* Section 6.6 - Contentbox text */
/*-------------------------------*/

/* Heading */
h1 {
	clear: left; margin: 1.0em 0 1.0em 0; font-weight: bold; font-size: 150%;
}

h2 {
	clear: left; margin: 1.5em 0 1.0em 0; font-weight: bold; font-size: 140%;
}

h3 {
	clear: left; margin: 1.0em 0 0.6em 0;	font-weight: bold; font-size: 130%;
}

h4 {
	clear: left; margin: 0.5em 0 0.5em 0;	font-weight: bold; font-style: italic; font-size: 130%;
}

/* Paragraph text */
p {
   clear: left; margin: 0 0 0.5em 0; padding: 0; font-size: 130%;
}

/* Quote */
p.quote {
   clear: left; margin: 0 30px 0.6em 30px;	line-height: 120%; font-size: 120%;
}

/* Embedded */
.embed {
   float: left; width: 120px; margin: 2px 7px 2px 0; padding: 5px 5px 5px 5px; background-color: rgb(225,225,225); font-style: italic; font-weight: bold;  line-height: 1.2em; font-size: 180%;
}

.embed-caption {
   float: left; margin: 5px 0 0px 0; padding: 0; font-style: italic; font-weight: normal; line-height: 1.2em; font-size: 50%;
}

/* Unordered list */
ul.spip {
	margin: 0 10px 0 10px; padding: 0 0 0px 30px; list-style-type: disc; list-style-position: outside; font-size: 130%;
}

/* Ordered List */
ol.spip {
	margin: 0 10px 0 17px; padding: 0 0 0px 30px; list-style-type: decimal; list-style-position: outside; font-size: 130%;
}

/*--------------------------*/
/* Section 6.7 - Datatables */
/*--------------------------*/

table {
	clear: both; margin: 0.5em 0 0.2em 30px; border: solid 1px rgb(150,150,150); empty-cells: show; border-collapse: collapse; background-color: rgb(225,225,225);
}

table tr {
	margin: 0; padding: 0;
}

table td {
	padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); text-align: left; font-size: 120%;
}

table th {
	margin: 0; padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); empty-cells: show; text-align: left; font-size: 120%; 	
}

p table caption {
	margin: 0 0 10px 30px; padding: 0; clear: both; text-align: left; font-size: 120%;
}

/*----------------------*/
/* Section 6.8 - Images */
/*----------------------*/

/* No border */
.img-left-noborder {
	float: left; margin: 0.3em 7px 3px 0;
}

.img-right-noborder {
	float: right; margin: 0.3em 0 3px 7px;
}

/* Border */
.spip_documents_left {
	float: left; margin: 0.3em 7px 3px 0; border: solid 1px rgb(150,150,150);
}

.spip_documents_right {
	float: right; margin: 0.3em 0 3px 7px; border: solid 1px rgb(150,150,150);	
}

/***********************/
/* SECTION 7 - SIDEBAR */
/***********************/

/*-----------------------------------------------*/
/* Section 7.1 - Size                            */
/*-----------------------------------------------*/

#navigation {
	clear: both; float: left; width: 629px; margin: 0; padding: 0 0 0px 0; background-color: rgb(255,255,255);
}

/*-----------------------*/
/* Section 7.2 - Textbox */
/*-----------------------*/

#navigationbox-noborder {
	width: 629px; margin: 0 0 20px 0; padding: 0;
}

#navigationbox-border {
	width: 629px; margin: 0 0 20px 0; padding: 4px 4px 4px 4px; border: solid 0px rgb(200,200,200);
}

/*-----------------------------*/
/* Section 7.3 - Textbox title */
/*-----------------------------*/

#navigationbox-title-noshading-noline {
	display: block; margin: 0 0 5px 0; padding: 1px 0 1px 0;font-weight: bold; font-size: 130%;
}

#navigationbox-title-noshading-line {
	display: block; margin: 0 0 5px 0; padding: 1px 0 1px 0; border-bottom: solid 1px rgb(135,135,135); background-color: transparent; font-weight: bold; font-size: 130%;
}

#navigationbox-title-shading {
	display: block; margin: 0 0 5px 0; padding: 2px 5px 2px 5px; background-color: rgb(225,225,225); font-weight: bold; font-size: 130%;
}

/*------------------------------*/
/* Section 7.4 - Paragraph text */
/*------------------------------*/

#navigationbox-noborder p, sidebarbox-border p {
	margin: 0 4px 4px 4px; padding: 0; background-color: transparent; font-size: 130%;
}

/**********************/
/* SECTION 8 - FOOTER */
/**********************/

/* Somehow not possible to use percentage values to scale the font-size here. */
/* Therefore the is the font-size definition given in the generic CSS-class   */
/* "footer-font", even though those generic font classes should all have a    */
/* normed size of 1.0em. But making footer an exception will not hurt us.     */

#pied {
	clear: both; width: 629px; margin: 30px 0 0px 0; padding: 5px 0 5px 0; border-top: solid 1px rgb(0,0,0); border-bottom: solid 1px rgb(0,0,0); background-color: rgb(255,255,255); text-align: center;
}

/***************************************************/
/* SECTION 9 - HYPERLINKS FOR NON-NAVIGATION TEXTS */
/***************************************************/

#contenu a, #navigation a {
	color: rgb(0,0,0); text-decoration: underline;
}

#contenu a:hover, #navigation a:hover {
	display: none;
}

#contenu a:visited, #navigation a:visited {
	color: rgb(0,0,0);
}

#pied a {
	color: rgb(0,0,0); text-decoration: underline;
}

#pied a:hover {
	display: none;
}

/********************************/
/* SECTION 10 - GENERIC CLASSES */
/********************************/

/*------------------------------------------*/
/* Section 10.1 - Global default fonts      */
/*------------------------------------------*/
/* Only applied to the main div-statements  */
/* for the basic page regions.              */
/*------------------------------------------*/

#entete {
	display: none;
}

#hierarchie {
	display: none;
}

.forum-fil-font {
	display: none;
}

#contenu {
	font-size: 1.1em; line-height: 1.7em; color: rgb(0,0,0);
}

#navigation {
	font-size: 1.1em; line-height: 1.4em; color: rgb(0,0,0);
}

#pied {
	font-size: 1em; color: rgb(0,0,0);
}

/*--------------------------------------*/
/* Section 10.2 - Horizontal alignments */
/*--------------------------------------*/

.align-left {
	display: none;
}

.align-right {
	display: none;
}

.float-left {
	display: none;
}

.float-right {
	display: none;
}

/*-------------------------------------*/
/* Section 10.3 - Title decoration box */
/*-------------------------------------*/

.box-on {
	float: left; width: 1em; margin-right: 0.2em; padding-left: 0.3em;
}

.box-off {
	display: none;
}

/*---------------------------*/
/* Section 10.4  Text colors */
/*---------------------------*/

/* Basic Colors */
.txt-white {
	color: rgb(255,255,255);
}

.txt-black {
	color: rgb(0,0,0);
}

/* Grey */
.txt-grey01 {
	color: rgb(242,242,242);
}

.txt-grey02 {
	color: rgb(230,230,230);
}

.txt-grey03 {
	color: rgb(217,217,217);
}

.txt-grey04 {
	color: rgb(204,204,204);
}

.txt-grey05 {
	color: rgb(191,191,191);
}

.txt-grey06 {
	color: rgb(178,178,178);
}

.txt-grey07 {
	color: rgb(153,153,153);
}

.txt-grey08 {
	color: rgb(127,127,127);
}

.txt-grey09 {
	color: rgb(89,89,89);
}

.txt-grey10 {
	color: rgb(51,51,51);
}

/* Yellow */
.txt-yellow01 {
	color: rgb(254,252,232);
}

.txt-yellow02 {
	color: rgb(253,249,201);
}

.txt-yellow03 {
	color: rgb(253,246,185);
}

.txt-yellow04 {
	color: rgb(252,243,162);
}

.txt-yellow05 {
	color: rgb(251,239,139);
}

.txt-yellow06 {
	color: rgb(250,236,116);
}

.txt-yellow07 {
	color: rgb(249,233,93);
}

.txt-yellow08 {
	color: rgb(249,230,69);
}

.txt-yellow09 {
	color: rgb(248,227,46);
}

.txt-yellow10 {
	color: rgb(247,224,23);
}

/* Blue */
.txt-blue01 {
	color: rgb(238,237,249);
}

.txt-blue02 {
	color: rgb(222,220,242);
}

.txt-blue03 {
	color: rgb(205,202,236);
}

.txt-blue04 {
	color: rgb(189,185,229);
}

.txt-blue05 {
	color: rgb(172,167,223);
}

.txt-blue06 {
	color: rgb(155,149,217);
}

.txt-blue07 {
	color: rgb(139,132,210);
}

.txt-blue08 {
	color: rgb(122,114,204);
}

.txt-blue09 {
	color: rgb(106,97,197);
}

.txt-blue10 {
	color: rgb(89,79,191);
}

/* Green */
.txt-green01 {
	color: rgb(237,246,229);
}

.txt-green02 {
	color: rgb(220,238,204);
}

.txt-green03 {
	color: rgb(202,229,178);
}

.txt-green04 {
	color: rgb(185,220,153);
}

.txt-green05 {
	color: rgb(167,211,127);
}

.txt-green06 {
	color: rgb(149,203,102);
}

.txt-green07 {
	color: rgb(132,194,76);
}

.txt-green08 {
	color: rgb(114,185,51);
}

.txt-green09 {
	color: rgb(97,177,25);
}

.txt-green10 {
	color: rgb(79,168,0);
}

/* Red */
.txt-red01 {
	color: rgb(252,235,233);
}

.txt-red02 {
	color: rgb(248,216,211);
}

.txt-red03 {
	color: rgb(245,196,188);
}

.txt-red04 {
	color: rgb(242,177,166);
}

.txt-red05 {
	color: rgb(238,157,144);
}

.txt-red06 {
	color: rgb(235,137,122);
}

.txt-red07 {
	color: rgb(232,118,100);
}

.txt-red08 {
	color: rgb(229,98,77);
}

.txt-red09 {
	color: rgb(225,79,55);
}

.txt-red10 {
	color: rgb(222,59,33);
}

/*----------------------------------*/
/* Section 10.5 - Background colors */
/*----------------------------------*/

/* Basic Colors */
.bg-white {
	background-color: rgb(255,255,255);
}

.bg-black {
	background-color: rgb(0,0,0);
}

/* Grey */
.bg-grey01 {
	background-color: rgb(242,242,242);
}

.bg-grey02 {
	background-color: rgb(230,230,230);
}

.bg-grey03 {
	background-color: rgb(217,217,217);
}

.bg-grey04 {
	background-color: rgb(204,204,204);
}

.bg-grey05 {
	background-color: rgb(191,191,191);
}

.bg-grey06 {
	background-color: rgb(178,178,178);
}

.bg-grey07 {
	background-color: rgb(153,153,153);
}

.bg-grey08 {
	background-color: rgb(127,127,127);
}

.bg-grey09 {
	background-color: rgb(89,89,89);
}

.bg-grey10 {
	background-color: rgb(51,51,51);
}

/* Yellow */
.bg-yellow01 {
	background-color: rgb(254,252,232);
}

.bg-yellow02 {
	background-color: rgb(253,249,201);
}

.bg-yellow03 {
	background-color: rgb(253,246,185);
}

.bg-yellow04 {
	background-color: rgb(252,243,162);
}

.bg-yellow05 {
	background-color: rgb(251,239,139);
}

.bg-yellow06 {
	background-color: rgb(250,236,116);
}

.bg-yellow07 {
	background-color: rgb(249,233,93);
}

.bg-yellow08 {
	background-color: rgb(249,230,69);
}

.bg-yellow09 {
	background-color: rgb(248,227,46);
}

.bg-yellow10 {
	background-color: rgb(247,224,23);
}

/* Blue */
.bg-blue01 {
	background-color: rgb(238,237,249);
}

.bg-blue02 {
	background-color: rgb(222,220,242);
}

.bg-blue03 {
	background-color: rgb(205,202,236);
}

.bg-blue04 {
	background-color: rgb(189,185,229);
}

.bg-blue05 {
	background-color: rgb(172,167,223);
}

.bg-blue06 {
	background-color: rgb(155,149,217);
}

.bg-blue07 {
	background-color: rgb(139,132,210);
}

.bg-blue08 {
	background-color: rgb(122,114,204);
}

.bg-blue09 {
	background-color: rgb(106,97,197);
}

.bg-blue10 {
	background-color: rgb(89,79,191);
}

/* Green */
.bg-green01 {
	background-color: rgb(237,246,229);
}

.bg-green02 {
	background-color: rgb(220,238,204);
}

.bg-green03 {
	background-color: rgb(202,229,178);
}

.bg-green04 {
	background-color: rgb(185,220,153);
}

.bg-green05 {
	background-color: rgb(167,211,127);
}

.bg-green06 {
	background-color: rgb(149,203,102);
}

.bg-green07 {
	background-color: rgb(132,194,76);
}

.bg-green08 {
	background-color: rgb(114,185,51);
}

.bg-green09 {
	background-color: rgb(97,177,25);
}

.bg-green10 {
	background-color: rgb(79,168,0);
}

/* Red */
.bg-red01 {
	background-color: rgb(252,235,233);
}

.bg-red02 {
	background-color: rgb(248,216,211);
}

.bg-red03 {
	background-color: rgb(245,196,188);
}

.bg-red04 {
	background-color: rgb(242,177,166);
}

.bg-red05 {
	background-color: rgb(238,157,144);
}

.bg-red06 {
	background-color: rgb(235,137,122);
}

.bg-red07 {
	background-color: rgb(232,118,100);
}

.bg-red08 {
	background-color: rgb(229,98,77);
}

.bg-red09 {
	background-color: rgb(225,79,55);
}

.bg-red10 {
	background-color: rgb(222,59,33);
}

/******************************/
/* SECTION 11 - MISCELLANEOUS */
/******************************/

/* Horizontal line */
hr {
	clear: left; width: 429px; height: 1px; border: none;
}

/* HTML-code examples */
.showcode {
  font-family: monospace; font-weight: bold; font-size: 13px; color: rgb(255,0,0);
}

/* Hide HTML-tags. Good when no pagestyle supported by browser */
.invisible {
	display: none;
}

br {
	clear: left;
}