/* style pour la boite de connexion (squelettes pour beespip)*/
#monCompte {
	float: right;
	width: 180px;
	margin: 0;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	
}
#monCompte h3, #monPanier h3 {
	color: white;
	margin-bottom: 3px;
	margin-top: 7px;
}
#monCompte input.LIEN_entete {
	background: none;
	border: none;
	color: white;
	float: right;
	font-weight: bold;
}
.formMonCompte {
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 3px;
	margin-bottom: 0;
	margin-left: 0;
}

.blocMonCompte {
	float: left;
	padding: 0px;
	margin: 0;
}

.champFormMonCompte {
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	color: #035694;
	background-color: #e9f4fb;
	opacity: .7;
	filter: alpha(opacity=70);
	border: 1px solid #12335B;
	overflow: hidden;
	zoom: 1;
}

.menuMonCompte {
	float: left;
	color: white;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	width: 100%;
	padding: 0;
}

#monPanier {
	float: right;
	clear: right;
	width: 180px;
	margin: 0;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	color: white;
}

.boutonMonCompteEntete {	
	float: left;
	margin: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.titre-boutique-thelia {
	color: #4c93b6;
}