dl.faq { margin-bottom: 1em; margin-right: 230px; }
dl.faq dt, dl.faq dd { padding: .5em; }
dl.faq dt { background: url(img/faq_open.png) no-repeat 0 .6em; border-top: 1px solid #DDD; font-weight: bold; color: #000; cursor: pointer; padding-left: 25px; }
dl.faq dt.close { background-image: url(img/faq_close.png); }
dl.faq dd { padding-top: 0; padding-left: 0; margin-left: 25px; }
#principal #colonne_centrale .texte_article dl.faq dd ul.spip { margin-right: 0; }

#faq {}
#faq .ancres { margin-bottom: 3em; border-bottom: 1px solid #DDD; }
#faq .ancres li { padding: .5em 1em .5em .1em; border-top: 1px solid #DDD; }
#faq dl { border: 0; }
#faq dl dt, #faq dl dd { padding: .4em; background: none; border: 0; }
#faq dl dt { position: relative; padding-right: 3em; background: #DDD url(img/bg-dt.png) no-repeat left top; margin-bottom: .4em; }
#faq dl dt .retour { display: block; position: absolute; top: 0; right: 0; padding: .2em .5em 0 0; text-align: right; font-weight: normal; }
#faq dl dd { margin-bottom: 2em; padding-right: 1em; }

@media print { dl.faq dd { display: block !important; } }