/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux

-------------------------------------------------------------- */


/* Conteneurs principaux */
/* --------------------- */
body { text-align: center; background-color: #717070; }
.conteneur_page { position: relative;  width: 900px; margin: auto; text-align: left; }
#principal { min-height: 300px;  padding-bottom: 57px; background-color: #fff; }
#principal #colonne_centrale { position: relative; width: 670px; float: right; padding-top: 55px; font-family: arial, helvetica, sans-serif, sans; line-height: 1.4em; }
#principal #colonne_navigation { width: 200px; padding-top: 150px; vertical-align: top; display: inline-block; -moz-display: inline-box; }

/* Outils nettoyeurs */
/* ----------------- */
.clear-left { clear: left; }
.clear-right { clear: left; }
.clear-both { clear: both; }

/* end */