.grille td.noir {
	background-color:#000000;
	color:#000000;
}

table.grille input, table.grille th{min-width:1.5em;
width:1.5em;
text-align:center;
vertical-align:middle;
height:1.5em;}
table.grille td{border:1px solid black;text-align:center}
.grille td.coin,table.grille input,.grille th{border:0px solid black}
.erreur{float:left;}

table.grille label{display:none}



.horizontal ol{list-style-type:upper-alpha}

.vertical, .horizontal{float:left;
font-size:90%;
max-width:49%;
width:auto;
margin-right:5%;
margin-left:5%}
//.horizontal .vertical {float:left}

form.grille{float:left;
clear:both;

padding:0;
padding-right:2%;
margin:0; 

width:auto;
}

p.spip {clear:both}

h4.grille{
	margin:0;
	padding:0;
	font-weight:bold;
}

.horizontal ol,.vertical ol{margin:0;
list-style-position:inside;
}
.horizontal >ol, .vertical > ol{list-style-position:outside;}


.grille{margin:0;padding:0}

.solution{clear:both}

