/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 50px;
	padding: 0;
	background: #E1E1E1;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #454545;
}

h1, h2, h3 {
	margin-top: 0;
	
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #3F5C10;
}

a.spip_out {
	text-decoration: underline;
	color: #3F5C10;
}

a.spip_in {
	text-decoration: none;
	color: #3F5C10;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#entete {
	width: 1000px;
	margin: 0 auto;
}

/* Header */

#logo {
	width: 960px;
	height: 286px;
	margin: 0 auto;
	background: url(images/img02.jpg) no-repeat left top;
}

#entete .accueil {
	margin-top: 0px;
	padding-top: 50px;
	font-weight: normal;
	
	
}

#entete .accueil #nom_site_spip {
	padding: 0px 0px 10px 50px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
}

#entete .accueil #nom_site_spip a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 0px;
}

#entete #slogan_site_spip {
	margin-top: 10px;
	padding: 0px 0px 10px 50px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

#entete .accueil img.spip_logos { 	
	float: left;
	margin-top: 0px;
	margin-left: 20px;

}

#entete .formulaire_menu_lang {
	width: 150px;
	float: right;
	margin-right: 0px;
	margin-bottom: 20px;
	color: #000000;
	padding: 5px 5px 5px 5px;
}

#entete .formulaire_menu_lang label {
	text-align: center;
	
}

			



/* Menu */

#nav {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 60px;
	background: url(images/img01.jpg) no-repeat left top; 
	overflow: hidden;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline;
}

#nav a {
	display: block;
	float: left;
	height: 40px;
	margin: 1px 0px 0px 0px;
	padding: 20px 37px 0 37px;
	background: url(images/img05.gif) repeat-y left top;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 12px;
	color: #FFFFFF;
}

#nav a:hover {
	color: #FFFFFF;
}

#nav .on a {
	color: #FFFFFF;
}

#nav .first {
	background: none;
}
#nav .menu-entree .menu-liste{
display:none;
}
/*formulaire de langues */

#formulaire_menu_lang {	
	
	float:right;
	width: 200px;
	margin-top: 40px;
	margin-right: 20px;
}

#formulaire_menu_lang label {color: #ffffff;}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 5px 0px;
}

#page-bg {
}

/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Sidebars */

#navigation{
	float: left;
}

#extra {
	float: right;
}

.sidebar {
	float: left;
	width: 220px;
	padding: 0;
	font-size: 12px;
}

.sidebar ul.menu-liste {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}

.sidebar li.menu-entree {
	padding: 0 0 20px 0;
	background: url(images/img04.jpg) repeat-x left bottom;
}

.sidebar li ul {
	padding: 10px 0px;
}

.sidebar li li {
	margin: 0 20px 0 20px;
	padding: 8px 0px;
	background: url(images/img04.jpg) repeat-x left bottom;
}


.sidebar h2 {
	height: 34px;
	margin: 0 0 0 0;
	padding: 12px 15px 0px 20px;
	background: url(images/img03.jpg) no-repeat left top;
	font-size: 16px;
	color: #FFFFFF;
}

/* formulaires */ 

#formulaire_inscription legend {background: none;}
p.explication {text-align: justify;}

#formulaire_ecrire_auteur_1 legend {background: none;}

#formulaire_forum legend {background: none;}

/* d'inscription */

#formulaire_inscription {margin-top: 10px;}

p.explication {text-align: justify;}

/* Search */

#formulaire_recherche {
	margin: 0;
	padding: 0 0 0 0;
}

#formulaire_recherche br {
	display: none;
}

#formulaire_recherche label {
	height: 34px;
	margin: 0 0 0 0;
	padding: 12px 15px 0px 20px;
	background: url(images/img03.jpg) no-repeat left top;
	font-size: 16px;
	color: #FFFFFF;
}

#recherche {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 140px;
	height: 18px;
	border: none;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#navigation #formulaire_recherche  input.submit {
	margin-top: 10px;
	height: 18px;
	padding: auto;
	border: none;
	background: #454545;
	font-size: 12px;
	color: #FFFFFF;
}

/* Content */

#contenu {
	float: left;
	width: 460px;
	padding: 30px 30px 0px 30px;
}

#descriptif_site_spip {
	width: 300px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 0;
}

#descriptif_site_spip {	
	margin:0;
	padding: 5px;
	width:100%;
	text-align:center;
	background: #fff;
	border: 1px solid #000;
	
}

#descriptif_site_spip p {
	color: #454545;
	text-transform: uppercase;
}

/* blocs */

.cartouche {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.texte {
	clear: both;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.notes {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.documents documents_portfolio {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	margin-bottom: 5px;
}

a #forum {margin-top: 15px;}

#contenu ul.liste-items {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}

#contenu li {
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
}


#contenu {
	padding-bottom: 45px;
	line-height: 200%;
}

/* titres */

#contenu h1 {
	
	font-weight: normal;
	line-height: 1.0em;
	margin: 10px 0 0 0;
	padding: 0px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 4em;
	font-weight: normal;
	border-bottom: none;
	color: #454545;
	background: url(images/img04.jpg) repeat-x left bottom;
}



#contenu h2 {
	clear: both;
	font-weight: normal;
	line-height: 1.0em;
	margin: 10px 0 0 0;
	padding: 10px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 3em;
	font-weight: normal;
	border-bottom: none;
	color: #454545;
	background: url(images/img04.jpg) repeat-x left bottom;
}

#contenu h2 a {
	border-bottom: none;
	color: #454545;
}

#contenu h3 {
	font-weight: normal;
	line-height: 1.0em;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 2.5em;
	font-weight: normal;
	background: url(images/img04.jpg) repeat-x left bottom;
}

#contenu h3.spip {
	font-weight: normal;
	line-height: 1.0em;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 2.5em;
	font-weight: normal;
	color: #454545;
	background: transparent;
}

#contenu h3 a {
	border-bottom: none;
	color: #454545;
}

#contenu h3 a:hover {
}

#contenu h4{
	font-weight: normal;
	line-height: 1.0em;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 2.0em;
	font-weight: normal;
	color: #454545;
	background: transparent;
}

#contenu h5 {
	font-weight: normal;
	line-height: 1.0em;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 1.5em;
	font-weight: normal;
	color: #454545;
	background: transparent;
}

.spip_logos {
	float: left;
	margin-right: 15px;
}

.byline {
	background: url(images/img04.jpg) repeat-x left bottom;
	padding-bottom: 10px;
}

.tag {
	padding: 0 15px;
}

.entry {
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

/* Citations, code et poesie */
blockquote.spip {} /*Cf.: spip_style.css*/
blockquote.spip {
	margin: 10px;
	padding: 10px;
	padding-left:32px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(images/quote.gif) no-repeat 12px 12px;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
}
blockquote.spip_poesie {} /*Cf.: spip_style.css*/
blockquote.spip_poesie {
	margin: 10px;
	padding: 30px;
	padding-left:32px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(images/quote.gif) no-repeat 12px 12px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
}
.spip_code {} /*Cf.: spip_style.css*/
.spip_code {
	margin: 0;
	padding: 1px 1px 1px 1px;
	
	background:#ffffff;
	border: 1px solid #FF9200;
	font: 'Lucida Console', 'Courier New', Monospace ;
	color: #555;
	/* white-space: pre; */
}
.spip_cadre {
	margin: 3px 0;
	padding: 15px;
	text-align: left;
	display: block;
	overflow: auto;  
	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;
	/* white-space: pre; */
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
	width:90%;
}

/* Tableaux */
table.spip {} /*Cf.: spip_style.css*/
table.spip {
	width:100%;
	border-collapse: collapse;
	margin: 10px 0;
}

#contenu table.spip td, table.spip th, table td, table th{text-align: center;}

table.spip tr { background: #fff; }
table.spip thead th{
	font-weight: bold;
	background:#598315;
	color:#fff;
	text-align: center;
	}
 table.spip tr.row_odd { background: #F9F9F9;	}
 table.spip th,table.spip td {
	text-align: left;			
	border-width: 1px;
	border-style: solid;
}
table.spip th {
	color: #7BA857;
	background: #EFFAE6;
	padding: .8em 1em;	
	border-color: #DFF4D5 #D3EFC3 #A7DF8A #D3EFC3;
}
table.spip td {
	border-color: #EFEFEF;	
	padding: .7em 1em;	
}




/* Footer */

#footer {
	width: 940px;
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
	background: url(images/img04.jpg) repeat-x left top;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
	font-size: smaller;
}

#footer a {
	color: #6E8A21;
}


