/* Whole page
   -------------------------------------------- */


body {
	background-image: url("images/rubric/gradient.gif");
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: repeat-x;
}
	 
#content {
	margin-right: 20em;
	margin-left: 40px;
	background-color: #fff;
	padding: 0.5em;
	margin-top: 160px;
	
	border: 1px #eee solid;
}

/* Image from sxc.hu (http://www.sxc.hu/browse.phtml?f=view&id=16710)
   Thanks bradleym! */


#header {
	position: absolute;
	top: 40px;
	left: 0px;
	background-image: url("images/rubric/pen-sm.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	width:80%;
	margin: 0;
	height: 150px;
	
	padding-left: 45px;
	
	font-family: Georgia;
	font-weight: normal;
	font-size: 3em;
}


/* Content & menu
   -------------------------------------------- */

#menu {
	width: 14em;
	position: absolute;
	float: right;
	top: 200px;
	right: 5em;
	
	font-size: 90%;
}
* html #menu { /* make IE put it in the right place */
	right: 5em;
}


#menu ul {
	margin-top: 0;
	padding-left: 0;
	margin-left: 0;
	list-style: none;	

	color: #B54141;
	/*text-indent: 1000em;*/

}

#menu a:link, #menu a:visited {
	color: black;
	border: none;
}

#menu ul ul {
	margin-left: 0;
	list-style: disc;
	list-style-position: inside;
	padding-left: 0.5em;
	text-indent: 0;
	
	color: black;
}


#menu form{
	margin: 0;	 
}
#menu form br {
	display:none;
}
input {
	width: 6em;
	font-family: Verdana, Tahoma, Arial, sans-serif; 
}

 
/* Post
   -------------------------------------------- */


#content h2 {
	font-size: 0.9em;
	color: #666;
	margin-bottom: 0;
	margin-top: 0;
}

h3 {
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 0.33em;
}

.storytitle {
	margin-top: 0.25em;
}

.post-categories {
	display: inline;
	margin: 0;
	padding: 0;
}
.post-categories li {
	display: inline;
	margin-left: 0 3px 0 0;
	padding: 0;
}

.post .meta {
	font-size: 0.85em;
	color: #666;
}
.post .meta * {
	margin-top: 0;
}	

.post .feedback {
	margin-bottom: 3em;
	border-bottom: 1px solid #ccc; 
	padding-bottom: 1px;
}


/* Credit
   -------------------------------------------- */
	 
p.credit {	
	margin-right: 20em;
	margin-left: 40px;
	padding: 0.5em;
	font-size: 90%;
}
p.credit a:visited, p.credit a:link {
	border: none;
}
	

/* Basic typography
   -------------------------------------------- */

body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 80%;
}

p, td, th, li {
	font-size: 1em;
	line-height: 1.65em;
}


a:link, a:visited {
	text-decoration: none;
	color: #B54141;
	border: 1px solid white;
}
a:hover {
	background-color: #eee;
	border: 1px solid #ccc;
}



/* Temporary & testing
   -------------------------------------------- */

	 
/* Backup of coloured menu headings 
 
#menu ul {
	margin-top: 0;
	padding-left: 0;
	margin-left: 0;
	list-style: none;	

	background-color: #B54141;
	color: #fff;
	padding: 1px;

}

#menu ul ul {
	background-color: white;
	margin-left: 0;
	list-style: disc;
	list-style-position: inside;
	padding-left: 0.5em;
}

#menu ul ul * {
	background-color: white;
	color: #000;
	width: 100%;
}	

#menu table, #menu form, #menu caption {
	background-color: #fff;
	color: black;
	width: 100%;
}
*/
