#gins-contenu {}
#gins-logo {
	background-repeat:no-repeat;
	background-position:top center;
	width:auto;
	height:130px;
}

/* le menu en onglets */
#gins-menu {	
}
#gins-menu h2 {position:absolute; top:-3000px}
#gins-menu ul {
	display:block;
	margin:0 auto;padding:0; list-style:none;
}
#gins-menu li {
	display:block;
	float:left; /* */
	margin:0; margin-right:4px;
	padding:0;
	background-color:#fff;
	border:1px solid green;
	background-color:#fff;
	padding:0 1ex;
}
#gins-menu li.end {
}
#gins-menu #fin-onglets {
	clear:left;
}
#gins-menu #fin-onglets hr {
	display:none;
}
#gins-menu li.on {
	border-color:red;
	background-color:green;
}
#gins-menu h3 {
	font-size:90%;
	line-height:1.8em;
	height:1.8em;
	background-color:transparent;
	overflow:hidden;
}
#gins-menu li.on h3 {
	color:#fff;
}

/* les feuilles inventaires */
#page_gins {
	font-family:Verdana, sans-serif;
	font-size:80%;
}
#page_gins ul.site-cartouche {
	border:1px solid black;
	padding:0.25em 1ex;
	list-style:none;
	margin:0;
}
#page_gins ul.site-cartouche li {
	border:0; margin:0; padding:0; 
}
#page_gins table {
	border-collapse:collapse;
	border-spacing:0;
	border:2px solid red;
	width:100%;
	font-size:100%;
	margin:0.5em 0 1em;
}
#page_gins table td, #page_gins table th {
	padding:0.5ex;
	border:1px solid grey;
}
#page_gins table th {
	background-color:green;
	color:white;
	font-weight:700;
	padding:0.5ex;
}
#page_gins table th.left {
	text-align:left;
}
#page_gins table .id {
	background-color:black;
	color:#ccc;
	padding:0 1ex;
}
#page_gins table caption {
	text-align:left;
	line-height:1.8em;
	font-size:90%;
	margin:0;
	padding:0;
}
#page_gins table td span.missing {
	font-weight:500;
	font-style:italic;
	color:grey;
}
#gins-squelettes df {
	width:12ex;
	float:left;
}
#gins-squelettes dd span.size {
	font-weight:700;
	background-color:#999;
	color:#fff;
	padding:0 1ex;
}