
body, p, td, div {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #000000;
  }

h2 {
    font-size: 155%;
    color: #000066;
  }

h3 {
    margin : 2em 0 0 1em ;
  }

h4 {
    font-size: 100%;
    margin : 0.5em 0 0 1em ;
  }

hr {
    height:1px;
  }

imput {
  }

label {
    display: block;
  }

label imput {
  }

label span {
    font-weight: bold;
  }

a.aide {
    font-size: 90%;
    font-weight: bold;
  }

.DemiListe {
    float: left;
    margin : 0 0 0 1em ;
    width: 45%;
  }

.DemiListe2 {
    display: block;
    float: right;
    width: 48%;
    font-size: 100%;
  }

.DemiListe ul {
    list-style: square ;
    margin : 0em;
  }

hr.clearinvisible {
    clear: both;
    visibility: hidden;
  }

#navigateur {
    font-size: 130%;
    color: red;
  }

#navigateur .gris {
    color: #CCCCCC;
  }

#navigateur span {
    font-size: 80%;
    color: black;
  }

a:hover {
    color: red;
    text-decoration: none ;
  }

a:link, a:visited, a:active {
    color: blue;
    text-decoration: none ;
  }

label:hover {
    background-color: #FF9966;
  }

