.liste ul {
	background-color: #eeeeee;
   list-style-type: none;
   margin: 0;
   padding: 4px 0;
}

.liste ul li {
  display: inline;
  margin-left: 5px;
}

.liste ul {
	border-bottom: 1px solid #cccccc;
}

.liste ul.avec { 
  background: #b8ffb8;
 }

.liste ul.partie { 
  background: #b8b8dd;
 }

.liste ul li select {
	font-size: 90%;
}

.horaire-titre,
.date-titre,
.lieu-titre,
.titre-titre {
	font-family:verdana,arial,helvetica,sans;
	font-size:12px;
	float:left;
	font-weight:bold;
	height:2em;
	width:13%;
}	
.date-visu,
.lieu-visu,
.titre-visu {
	font-family:verdana,arial,helvetica,sans;
	font-size:12px;
	float:left;
	font-weight:bold;
	height:2em;
	width:85%;
}
.date-visu{
	float:left;
	font-weight:bold;
	height:5em;
	width:98%;
}
.horaire-titre {
	float: right;
}
.descriptif-titre,
.descriptif-visu {
	font-family:verdana,arial,helvetica,sans;
	font-size:12px;
	float:left;
	font-weight:bold;
	left:0%;
	width:98%;
}
.descriptif-visu {
	height:6em;
}
select.fondl {
	padding:0pt;
}
.agenda_mots_cles {
	clear: both;
}
.agenda_mot_cle_select {
	float:left;
	margin-right:0.5em;
	width:32%;
}
.verdana1 {
	font-family:Verdana,Arial,Sans,sans-serif;
	font-size:10px;
}
.fondl {
	background-color:#E4E4E4;
	background-position:center bottom;
	border:1px solid #C5E41C;
	float:none;
	font-family:Verdana,Arial,Sans,sans-serif;
	font-size:11px;
	padding:3px;
}
a {
	font-family:Verdana,Arial,Sans,sans-serif;
}
