/****************************************************/
/* MiniGriSpip 1.6.0 - 2007 (c) FredoMkb */
/* Styles pour le squelette "MiniGriSpip" */

/****************************************************/
/*** Styles generaux qui s'appliquent à l'ensemble des documents Html... ***/
/** Parametres du fond de la page totale **/
/* La balise "body" */
body {
  background-color: #fafafc;
}

/* Parametres generaux des titres, balises "h1" à "h6" */
h1,h2,h3,h4,h5,h6 {
  line-height: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/** Parametres generaux des liens **/
/* Liens simples */
a {
  text-decoration: none;
  color: #444;
  border-bottom-style: dotted;
  border-bottom-color: #888;
  border-bottom-width: 1px;
}

/* Liens simples (syntaxe alternative) */
a:link {
  text-decoration: none;
  color: #444;
  border-bottom-style: dotted;
  border-bottom-color: #888;
  border-bottom-width: 1px;
}

/* Liens visites */
a:visited {
  text-decoration: none;
  color: #444;
  border-bottom-style: dotted;
  border-bottom-color: #888;
  border-bottom-width: 1px;
}

/* Liens survoles */
a:hover {
  text-decoration: none;
  color: #222;
  border-bottom-color: #222;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #eaeaec;
}

/* Liens sur les images */
/* Pour supprimer l'affichage d'un cadre noir autour
des images comportant un lien sous Firefox */
a img {
  text-decoration: none;
  border-style: none;
}

/****************************************************/
/*** Le bloc "page" qui englobe tout le site ***/
#mgs_page {
  width: 800px;
  color: #444;
  font-size: 1em;
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafc;
}

/****************************************************/
/*** Le bloc "tete" qui englobe tous les elements de l'en-tete du site ***/
/** Le bloc "tete" lui meme **/
#mgs_tete {
  width: 800px;
  border-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #fafafc;
}

/** Parametres des liens dans l'en-tete **/
/* Liens simples */
#mgs_tete a, #mgs_tete a:link {
  text-decoration: none;
  color: #444;
  border-style: none;
}

/* Liens survoles */
#mgs_tete a:hover {
  color: #222;
  background-color: #eaeaec;
}

/** Parametres du bloc "bandeau" contenant l'image et le titre du site **/
/* Le bloc "bandeau" lui meme */
#mgs_bandeau {
  text-align:center;
  height: 140px;
  border:1px solid #999;
  margin-top: 25px;
  margin-bottom: 0px;
  background-color: #eaeaec;
  padding: 0px;
  background-repeat: no-repeat;
  background-image: url(images/FondBandeau.png);
}

/* Logo, nom et description du site */

#mgs_logo_site {
  padding: 0px;
  margin: 10px 10px 0px 10px;
  float: right;
  display: inline;
  position: relative;
}

#mgs_nom_site {
  /*font-family: "Trebuchet MS", sans-serif;*/
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px gray;
  padding: 0px;
  margin: 30px auto 0;
}

#mgs_desc_site {
  font-size: 0.8em;
  text-align: center;
  padding: 0px;
  margin: 5px auto;
}

/** Parametres des menus de l'en-tete : Accueil, Plan, Contact et Redaction **/
/* Le bloc "menu" lui meme */
#mgs_menu_tete {
  font-size: 0.95em;
  text-align: center;
  line-height: 1em;
  height: 25px;
  margin: 0px;
  margin-top: -27px;
  padding: 0px;
  border-top-color: #999;
  border-top-width: 1px;
  border-top-style: solid;
}

/* La liste des boutons */
#mgs_menu_tete ul {
  list-style: none;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

/* Chaque bouton */
#mgs_menu_tete li {
  list-style: none;
  text-align: center;
  min-width: 70px;
  float: left;
  padding: 0px;
  height: 100%;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

/** Parametres des liens des menus de l'en-tete **/
/* Liens simples */
#mgs_menu_tete li a, #mgs_menu_tete li a:link {
  display: block;
  border-right-color: #999;
  border-right-style: dotted;
  border-right-width: 1px;
  border-left-color: #999;
  border-left-style: dotted;
  border-left-width: 1px;
  height: 100%;
  padding: 0px 5px;
  margin: 0px;
  line-height: 175%;
}

/* Liens survoles */
#mgs_menu_tete li a:hover {
  border-right-style: solid;
  border-left-style: solid;
  background-color: #fff;
}

/** Parametres du champ de recherche des menus de l'en-tete **/
/* Le champ de recherche lui meme */
#mgs_navigation.mgs_menu.mgs_form_rech {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

/* Les liens simples du champ de recherche */
.mgs_form_rech a, .mgs_form_rech a:link {
  border-style: none;
}

/* Les liblelles du champ de recherche */
#mgs_navigation .mgs_form_rech label {
  display: none;
}

/* Le formulaire du champ de recherche */
#mgs_navigation .mgs_form_rech form {
  margin: 3px;
  margin-left: 18px;
  padding: 0px;
  /*width: 340px;*/
}

/* Le champ de recherche */
#mgs_navigation .mgs_form_rech input {
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  width: 100%;
}

/** Parametres du bandeau contenant la hierarchie des pages **/
/* Le bandeau lui meme */
#mgs_hierarchie {
  font-size: 0.75em;
  text-align: left;
  margin: 0px;
  padding: 6px 10px;
  /*color: #999;
  font-family: Verdana, sans-serif;*/
}

/****************************************************/
/*** Parametres generaux de l'affichage des chemins d'acces ***/
/* Formatage du contenu des hierarchies */
.mgs_chemin {
  font-size: 0.75em;
  text-align: left;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
  padding-left: 0px;
  border-bottom-color: #bbb;
  border-bottom-style: solid;
  border-bottom-width: 1px;  
}

/* Formatage liens simples des hierarchies */
.mgs_chemin a, .mgs_chemin a:link {
  text-decoration: none;
  color: #444;
  border-style: none;
}

/* Formatage liens survoles des hierarchies */
.mgs_chemin a:hover {
  color: #222;
  background-color: #eaeaec;
}


/****************************************************/
/*** Parametres du bloc "corps" contenant la navigation et les contenus ***/
/** Le bloc "corps" lui meme **/
#mgs_corps {
  /*width: 780px;*/
  padding: 0px;
  margin: 0px;
}

/** Cadres du bloc principal **/
.mgs_cadre01 {
  border: 1px solid #999;
}

.mgs_cadre02 {
  border: 1px solid #d0d0d0;
}

.mgs_cadre03 {
  border: 1px solid #e0e0e0;
}

.mgs_cadre04 {
  border: 1px solid #f0f0f0;
  padding: 10px;
  background-color: #f6f6f9;
  overflow: hidden;
}

/****************************************************/
/*** Le bloc de navigation contenant les menus de navigation et des resumes ***/
/** Le bloc "navigation" lui meme **/
#mgs_navigation {
  width: 228px;
  margin: 0px;
  float:left;
  top: 190px;
}

/** Le bloc menu de pied de navigation (logos Rss et Spip) **/
.mgs_pied {
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
  margin: 10px 0px;
  border: 1px solid #999;
  background-color: #fff;
}


/* Le bloc d'infos du site */
.mgs_menu_infos {
  font-size: 0.8em;
}
.mgs_menu_infos_sep {
  border-bottom: 1px solid #bbb;
}

/** Formatage general des blocs menus de la navigation **/
/* Les blocs "menu" eux memes */
.mgs_menu {
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  background-color: #fff;
}

/** Formatage general de l'affichage des listes **/
/* Les listes */
.mgs_menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Les elements des listes */
.mgs_menu li {
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Element de menu hors titre de rubrique */
.mgs_menu_item {
  font-size: 90%;
  padding-top: 2px;
  padding-bottom: 0px;
}

/** Formatage general de la liste du bloc de navigation des rubriques **/
/* Formatage de la rubrique selectionnee */
.mgs_menu_selected {
  background-color: #eaeaec;
  font-weight: bold;
}

/* menu-item-0 à 6 : formatage des titres de chaque rubrique */
.mgs_menu_item_0 {
  font-size:96%;
  text-align:left;
  padding-left:5px;
  font-weight:800;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mgs_menu_item_1 {
  font-size:93%;
  padding-left: 15px;
  text-align:left;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mgs_menu_item_2 {
  font-size: 90%;
  padding-left: 30px;
  text-align:left;
  padding-top: 1px;
  padding-bottom: 1px;
}

.mgs_menu_item_3 {
  font-size: 87%;
  padding-left: 45px;
  text-align:left;
  padding-top: 1px;
  padding-bottom: 1px;
}

.mgs_menu_item_4 {
  font-size: 84%;
  padding-left: 60px;
  text-align:left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mgs_menu_item_5 {
  font-size: 81%;
  padding-left: 75px;
  text-align:left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mgs_menu_item_6 {
  font-size: 78%;
  padding-left: 90px;
  text-align:left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mgs_menu_item_7 {
  font-size: 75%;
  padding-left: 90px;
  text-align:left;
  padding-top: 0px;
  padding-bottom: 0px;
}


/****************************************************/
/* Formatage du calendrier */
.mgs_menu_cal {
  font-size: 0.75em;
  line-height: 1.2em;
  text-align: center;
  padding: 0px;
  margin: 5px;
}

.mgs_menu_cal a, .mgs_menu_cal a:link {
  background-color: #f3f3f6;
}

.mgs_menu_cal a:hover {
  background-color: #eaeaec;
  /*border-bottom: 1px solid #d6d6d6;*/
}

.mgs_menu_cal a:active {
  background-color: #b0b0b8;
}

li.cal_sstitre {
  padding: 2px 0px;
  margin: 2px 5px;
  color: #222;
  border-bottom: 1px solid #d6d6d6;
}

.mgs_menu_cal table {
  color: #222;
  text-align: center;
  border-spacing: 2px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.mgs_menu_cal table td {
  text-align: center;
  border-spacing: 2px;
  padding: 0px;
  margin: 0px;
}

.mgs_menu_cal table a  {
  /* color: #48484b; */
  font-weight: bold;
  display: block;
  /*background-color: #f3f3f6;*/
}

.mgs_menu_cal table td.cal_sel {
  border: 1px solid #d6d6d6;
}

.mgs_menu_cal table tr.cal_titre {
  font-size: 1.1em;
  line-height: 1.4em;
  padding: 0px 0px 2px 0px;
  margin: 0px;
  border-spacing: 0px;
  background-color: #eaeaec;
}

p.cal_now {
  padding: 0px;  
  margin: 0px;
}

.cal_now a {
  font-size: 1.0em;
  padding: 4px 2px;  
  background-color: #eaeaec;
  display: block;
}

.cal_now a:active {
  background-color: #b0b0b8;
}

/****************************************************/
/*** Formatage particulier de certains elements des blocs ***/

/** Attention, ces formatages sont utilises dans les menus
comme dans les contenus, toute modification peut entrainer
des affichages incoherents... **/

/* Certains elements des articles */
.mgs_menu_item_article {
  font-size:100%;
  text-align:left;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left:15px;
}

/* Certains elements des breves */
.mgs_menu_item_breve {
  font-size:88%;
  padding-left:5px;
  text-align:left;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: auto; /* pour les vignettes */
}

/* Certains elements des forums */
.mgs_menu_item_forum {
  font-size: 0.95em;
  list-style: none;
  text-align:left;
  line-height: 1.1em;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left:15px;
}

/* Formatage general des titres des menus et des blocs listes */
/* Titre de menu */
.mgs_menu_titre {
  color: #fff;
  font-weight: bold;
  font-size:95%;
  background-color: #b0b0b8;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mgs_vide {
  padding: 2px;
}

.mgs_menu_titre small {
  font-weight: lighter;
}

/* Formatage de la pagination lors des affichages des listes */
.mgs_menu_titre .on {
  font-weight: lighter;
  color: #222;
  /*font-style: italic;*/
}

/* Formatage des liens des menus */
.mgs_menu_titre a {
  color: #ffffff;
  border-style: none;
}

.mgs_menu_titre a:hover {
  color: #222;
  border-style: none;
  background-color: inherit;
}

/****************************************************/
/*** Parametres du bloc "principal" contenant les contenus ***/
/** Le bloc "principal" lui meme **/
#mgs_principal {
  /*colonne principale*/
  padding: 0px;
  margin-left: 240px;
}

/** Le bloc generaux des differents contenus **/
/* Les blocs eux memes */
.mgs_bloc {
  border-color: #bbb;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}

/* Les listes lors d'affichages en mode liste */
.mgs_bloc ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Les elements des listes lors d'affichages en mode liste */
.mgs_bloc li {
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

/** Les logos des rubriques, articles, breves, etc. **/
/* Les pictos de l'interface */
.mgs_picto {
  float: left;
  padding: 0;
  border-style: none;
  margin: 0px -29px -10px -10px;
  position: relative;
  width: 24px;
  height: 24px;
  display: inline; /* remplacer "inline" par "none" pour masquer les pictos */
}
/* Les images des pictos */
.mgs_picto_art { background-image: url(images/PictoArt024.png); }
.mgs_picto_aut { background-image: url(images/PictoAut024.png); }
.mgs_picto_brv { background-image: url(images/PictoBrv024.png); }
.mgs_picto_cal { background-image: url(images/PictoCal024.png); }
.mgs_picto_doc { background-image: url(images/PictoDoc024.png); }
.mgs_picto_dos { background-image: url(images/PictoDos024.png); }
.mgs_picto_edi { background-image: url(images/PictoEdi024.png); }
.mgs_picto_for { background-image: url(images/PictoFor024.png); }
.mgs_picto_img { background-image: url(images/PictoImg024.png); }
.mgs_picto_inf { background-image: url(images/PictoInf024.png); }
.mgs_picto_mgs { background-image: url(images/PictoMgs024.png); }
.mgs_picto_mot { background-image: url(images/PictoMot024.png); }
.mgs_picto_nav { background-image: url(images/PictoNav024.png); }
.mgs_picto_rch { background-image: url(images/PictoRch024.png); }
.mgs_picto_rub { background-image: url(images/PictoRub024.png); }
.mgs_picto_sit { background-image: url(images/PictoSit024.png); }
.mgs_picto_syn { background-image: url(images/PictoSyn024.png); }
.mgs_picto_une { background-image: url(images/PictoUne024.png); }

.mgs_pictos a, .mgs_pictos a:link {
  border-style: none;
  display: block;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 4px;
}

.mgs_pictos a, .mgs_pictos a:link {
  border-style: none;
  display: block;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 4px;
}

/* Les images des logos */
.mgs_pictos img {
  float: left;
  margin-right: 8px;
  border: 2px solid #eaeaec;
  background-color: #eaeaec;
}

.mgs_pictos {
  overflow: hidden;
}

.mgs_pictos_zoom img {
  border: 2px solid #eaeaec;
  background-color: #eaeaec;
}


/****************************************************/
/*** Parametres du contenu des articles et breves ***/
/* Le bloc "article" lui meme */
.mgs_article {
  border: 1px none #bbb;
  padding: 15px;
  background-color: #fff;
  text-align: left;
}

/* Surtitre des articles */
.mgs_surtitre {
  font-size: 0.85em;
  padding: 0px;
  margin: 0px;
  line-height: 1.2em;
}

/* Titre des articles */
.mgs_titre {
  margin: 8px 0;
  line-height: 1.2em;
  background-color: #eaeaec;
  padding: 4px 10px;
  text-align: left;
}

/* Logo des articles */
.mgs_logo {
  padding: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
}

/* Soustitre des articles */
.mgs_soustitre {
  font-size: 0.88em;
  padding: 0px;
  line-height: 1.4em;
  font-weight: bolder;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

/* Les iInfos des articles (date, auteur, etc.) */
.mgs_infos {
  font-size: 0.8em;
  padding: 0px;
  margin: 4px 0px;
  line-height: 1.6em;
}

/* Intro des articles */
.mgs_intro {
  font-size: 0.95em;
  font-style: italic;
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 1.2em;
}

/* Le texte des articles */
.mgs_texte {
  font-size: 0.95em;
  line-height: 1.3em;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.mgs_texte_int {
  padding: 0px 10px;
}

/* Formatage des listes */
.mgs_texte ol, .mgs_texte ul  { margin: 0px 0px 5px 10px; }
.mgs_texte ol { list-style: decimal; }
.mgs_texte ul li { list-style: disc; }
.mgs_texte ul li li { list-style: circle; }
.mgs_texte ul li li li { list-style: square; }
.mgs_texte li { margin: 0.2em 0 0.2em 0.5em; list-style-position: outside; }

/* Les images dans les texte des articles */
.mgs_texte img {
  padding: 0px;
  margin: 0px;
}

.mgs_texte .spip_documents {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.2em;
}

/* Les legendes des images des articles */
.mgs_texte .spip_doc_titre {
  padding: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #444;
}

.mgs_texte .spip_doc_titre strong {
  font-weight: bold;
}

.mgs_texte .spip_doc_descriptif {
  font-style: italic;
}


/** Les images dans les texte des articles selon leur alignement **/
/* Les images centrees */
.mgs_texte .spip_documents_center {
  padding: 0px;
  margin: 5px auto;
  display: block;
  text-align: center;
}

.mgs_texte .spip_documents_center div {
  margin: 2px auto;
}

/* Les images alignees a gauche */
.mgs_texte .spip_documents_left {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 0px;
  text-align: center;
}

.mgs_texte .spip_documents_left div {
  margin: 2px auto;
}

/* Les images alignees a droite */
.mgs_texte .spip_documents_right {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 20px;
  text-align: center;
}

.mgs_texte .spip_documents_right div {
  margin: 2px auto;
}


/* Le post-scriptum des articles (les liens) */
.mgs_ps {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.4em;
  font-style: italic;
  font-weight: bolder;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Les notes de bas de page des articles */
.mgs_notes {
  text-align: left;
  font-size: 0.88em;
  line-height: 1.28em;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  border-top-style: dotted;
  border-top-color: #888;
  border-top-width: 1px;
  border-bottom-color: #888;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.mgs_notes p {
  margin: 0.5em 0px;
}

.mgs_notes_titre {
  font-weight: bolder;
  font-size: 1.15em;
}

/* La fin des articles */
.mgs_article_fin {
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom-color: #eaeaec;
  border-bottom-style: solid;
  border-bottom-width: 8px;
}

/* Le lien de reponse des articles */
.mgs_repondre {
  font-size: 0.95em;
  line-height: 1.1em;
  text-align: center;
  padding: 4px 0px;
  margin: 0;
}

/* Le lien de reponse des commentaires */
.mgs_repondre_mssg {
  font-size: 0.95em;
  line-height: 1.1em;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 4px;
  border-bottom-color: #bbb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0;
}

/** Divers formatages texte, tableaux, etc. **/
/* Les intertitres */
.mgs_texte h3 {
  font-size: 1.4em;
  line-height: 1em;
  font-variant: small-caps;
  margin-top: 24px;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom-color: #888;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.mgs_texte h3 a, .mgs_article h3 a:link, .mgs_article h3 a:hover {
  border: none;
  display: block;
}

/* Les talbleaux */
.mgs_texte table {
  text-align: center;
  font-size: 0.95em;
  line-height: 1.2em;
  margin: auto;
  margin-bottom: 15px;
  padding: 6px;
  border: 1px solid #bbb;
  border-spacing: 0px;
  background-color: #fafafc;
}

.mgs_texte caption {
  caption-side: top; /* bottom pas pris en compte par IE */
  text-align: center;
  margin: auto;
  padding: 4px;
  font-weight: bold;
}

.mgs_texte table tr.row_first {
  color: #fff;
  background: #b0b0b8;
}

.mgs_texte table tr.row_odd {
  background: #ffffff;
}

.mgs_texte table tr.row_even {
  background: #eaeaec;
}

.mgs_texte table th, .mgs_article table td {
  padding: 4px;
  vertical-align: middle;
}

/* Liens dans les tableaux */
.mgs_texte table tr a, .mgs_article table tr a:link {
  padding: 0px 4px;
  border: 1px dotted #bbb;
  display: block;
  background: none;
}

.mgs_texte table tr a:hover {
  border: 1px solid #bbb;
  color: #fff;
  background: #b0b0b8;
}

.mgs_texte table tr.row_first a {
  color: #fff;
  background: #b0b0b8;
}

.mgs_texte table tr.row_first a:hover {
  color: #222;
  background: #fff;
}

/* Les codes et citations */
.mgs_texte div code, .mgs_texte blockquote {
  font-size: 0.95em;
  line-height: 1.2em;
  border: 1px solid #bbb;
  margin: 0px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fafafc;
  display: block;
}

.mgs_texte p code {
  padding: 2px 4px;
  background-color: #eaeaec;
  display: inline;
  border: none;
}

.mgs_texte blockquote p {
  margin: 0px;
  padding: 0px;
}

/* Les zones de texte pour les codes "cadre" */
.mgs_texte form textarea {
  font-family: Geneva, Verdana, sans-serif;   
  color: #444;
  width: 100%;
  margin: 0;
  padding: 10px 0px 10px 10px;
  background-color: #fafafc;
  font-size: 10px;
  line-height: 14px;
  border: 1px solid #999;
}

/* Les filets de separation */
.mgs_article hr {
  margin: 20px 0px;
  padding: 0px;
  height: 8px;
  border: none;
  background-color: #eaeaec;
  /* noshade: noshade; */
  /* border: 1px dotted #888; */
}


/****************************************************/
/*** Parametres generaux de formatage des forums ***/
/** Liste des forums des articles et breves **/
ul.forum {
  display: block;
  clear: both;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0.95em;
  line-height: 1.1em;
  text-align: left;
}

/* Le nombre des messages du forum */
.mgs_forum_decompte {
  text-align: center;
  font-size: 0.92em;
}

/* Chaque message du forum */
.mgs_forum_message {
  background-color: #fcfcff;
  margin: 0px;
  padding: 0px;
}

/* Le contenu de chaque message du forum */
.mgs_forum_texte {
  margin: 0px;
  color: #444;
  padding: 0px 10px;
}

/* Les textes de chaque message */
.mgs_forum_texte .mgs_texte {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mgs_forum_chapo {
  margin: 0px;
}

.mgs_forum_chapo .mgs_infos {
  padding-left: 15px;
}

/****************************************************/
/*** Parametres generaux de formatage des formulaires ***/
/* Formulaire general */

.mgs_formulaire {
  color: #444;
  font-size: 0.95em;
  text-align: left;
  background-color: #fff;
  border: 2px dotted #666;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.formulaire_spip {
  font-size: 0.9em;
}

/* Formulaire de previsualisation */
.mgs_formulaire_previsu {
  color: #444;
  font-size: 0.95em;
  text-align: left;
  background-color: #fff;
  border: 2px dotted #666;
  margin-bottom: 16px;
}

/* Formulaires des menus */
.mgs_formulaire_menu {
  border: none;
  margin: 0px;
  background-color: #fff;
  padding: 0px;
}

.mgs_formulaire_menu div {
  margin: 0px;
  padding: 0px;
}

.mgs_formulaire_menu p {
  color: #444;
  font-size: 0.78em;
  text-align: left;
  margin: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.mgs_formulaire_menu h4 {
  display: block;
  text-align: center;
  font-size: 0.88em;
  background-color: #eaeaec;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #444;
  margin-top: 2px;
  margin-bottom: 5px;
}

/* Formatage du champ de saisie de certains formulaires */
.mgs_forml {
  width: 100%;
}

/*
*  +----------------------------------+
*  Nom du Filtre : Filets de Separation                                               
*  Version : 1.2                                               
*  Date : vendredi 8 septembre 2006
*  Auteur : FredoMkb (fredomkbfr@yahoo.fr)                                      
*  +-------------------------------------+
*  Cette feuille de style est specialement dediee
*  au formatage des filets produits par le filtre
*  "Filets de Separation" ("filets_sep.php").
*  +----------------------------------+
*  Pour toute remarque ou suggestion, reportez-vous a l'article :
*  <http://fredomkb.free.fr/spip/spip.php?article14>
*  +-------------------------------------+
*/


/******************************************/
/** Filets **/

/* Filet plein long epais 4px gris pale */
.filet_sep_0 {border-bottom: 4px solid #ccc; padding: 0; margin: 0;}

/* Filet plein long fin 1px gris clair */
.filet_sep_1 {border-bottom: 1px solid #999; padding: 0; margin: 0;}

/* Filet tirets moyen fin 1px gris moyen */
.filet_sep_2 {border-bottom: 1px dashed #666; padding: 0; margin: 0px 80px;}

/* Filet pointille court fin 1px gris fonce */
.filet_sep_3 {border-bottom: 1px dotted #333; padding: 0; margin: 0px 160px;}


/******************************************/
/** Blocs **/

/* Bloc long fond jaune pale avec filet pointille rouge */
.filet_sep_4 {
  padding: 0;
  margin: 0;
  height: 4px;
  background-color: lemonchiffon; /* #FFFACD */
  border: 1px dotted maroon; /* #800000 */
}

/* Bloc moyen fond gris clair avec filets gauche-droite bleu */
.filet_sep_5 {
  padding: 0;
  margin: 0 100px;
  height: 5px;
  background-color: silver; /* #C0C0C0 */
  border-left: 25px solid navy; /* #000080 */
  border-right: 25px solid navy; /* #000080 */
}

/* Bloc court fond bleu, filet haut rouge, filet bas orange */
.filet_sep_6 {
  padding: 0;
  margin: 0 200px;
  height: 6px;
  background-color: blue; /* #0000FF */
  border-top: 6px solid red; /* #FF0000 */
  border-bottom: 6px solid darkorange; /* #FF8C00 */
}


/******************************************/
/** Images **/

/* Bloc long avec image d'un degrade de couleurs */
.filet_sep_7 {
  padding: 0;
  margin: 0;
  height: 10px;
  background-image: url(images/Degrade.png);
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
}

/* Bloc moyen avec image d'un motif floral, filets haut-bas noir */
.filet_sep_8 {
  padding: 0;
  margin: 0 50px;
  height: 20px;
  background-image: url(images/Motif.png);
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid black; /* #000000 */
  border-bottom: 1px solid black; /* #000000 */
}

/* Bloc avec image d'un ornement */
.filet_sep_9 {
  padding: 0;
  margin: 0;
  height: 30px;
  background-image: url(images/Ornement.png);
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
}

/******************************************/
/** Anciens styles pour assurer une compatibilite descendente **/

.filet_sep_long {border-bottom: 1px dotted #888; padding: 0; margin: 0;}

.filet_sep_moyen {border-bottom: 1px dotted #888; padding: 0; margin: 0px 60px;}

.filet_sep_court {border-bottom: 1px dotted #888; padding: 0; margin: 0px 120px;}


