#Premierepartie ul{
        width:100%;
}
#Premierepartie li {
		width:33%;
		clear:none;
		float:left
}
#Premierepartie input {
		width:92%
				
}
.formulaire_contact select {
		width:auto;
}
.formulaire_spip ul li.fieldset {
		background:#f2eee7 ;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		-o-border-radius:10px;  
		border:0.5px  ;
		margin:1em auto 2em ;
		padding-left:1em;
		padding-right:1em;
}
.formulaire_spip ul li.fieldset .legend{
	margin-top:-1em;
}

