/* -----------------------------------------------------------	*/
/* Feuilles de styles de ScolaSPIP pour SPIP 3.0 		*/
/* Cette feuille de style surcharge celles de zpip-dist v2	*/
/* -----------------------------------------------------------	*/

/* ------------------------------------------		*/
/* Disposition a l'ecran des blocs principaux		*/
/* on surcharge quelques proprietes de layout.css de Z	*/
/* ------------------------------------------ 		*/

html body{}
body #page{position:relative;width:960px;margin:0 auto;padding:0;border:none;margin:1em auto;-webkit-box-shadow:0px 0px 30px #909090;-moz-box-shadow:0px 0px 30px #909090;box-shadow:0px 0px 30px #909090;}
body #entete{padding:0;overflow:hidden;border:none;margin-bottom:0;}
body #conteneur{width:960px;margin:0 auto;padding-top:1em;margin-bottom:3em;}
body #contenu{float:right;width:74%;padding:.5em .5em .5em 1.5em;}
body #navigation{clear:left;float:left;width:22%;padding:.5em 0 0 .5em;margin:0;}
body #pied{border:none;}

/* bandeau */
.logo-institution{position:absolute;right:10px;top:5px;}
body #entete .accueil{width:960px;padding:O;position:relative;margin:0 auto;min-height:80px;}
body #nav{border:none;}
body #menuhorizontal.menu{position:relative;margin:0 auto;width:960px;}
#menuhorizontal .recherche{position:absolute;right:.6em;top:5px;}
#menuhorizontal .menuder{max-width:820px;}
body #entete .accueil .bandeau{margin:0.7em 0 0 0.4em;}
body #entete .accueil .bandeau .spip_logos{margin:.3em .3em .3em .2em;float:left;}
body #entete .accueil .infos{float:left;padding:.2em 0 1em 1em;}
body #entete .accueil .bandeau .infos{width:580px;}
#nom_site_spip,#slogan_site_spip{margin:0;}
body #entete .accueil #nom_site_spip{font-size:2.5em;line-height:1.1em;}
#nom_site_spip a{text-decoration:none;}
body #nav .menu{height:34px;}
body #nav .menu-items{float:left;width:780px;border:0;}
body #nav .menu-items .item{float:left;padding:0;height:34px;margin:0;}
body #nav .spip_logos{float:left;padding-right:.5em;}
#navigation .niveau1 .spip_logos{padding-right:.5em;}
body #nav .item a{font-weight:normal;padding:9px 0.75em 8px 0.75em;}
body #nav .item a.spip_out{padding-right:15px;}
#nav .menu-liste{border:none;}

/* formulaire  */
body .formulaire_spip{clear:both;margin-bottom:/*@margin-bottom*/1.5em/*/@*/;padding:/*@demi-line-height*/0.75em/*/@*/;border:1px solid #ddd;background-color:#FCFCFC;text-align:left;}
body .formulaire_recherche{padding:0;background:none;border:0;}
body .formulaire_recherche input.text{width:130px;padding-left:25px;background:#FFF url(img/rechercher.gif) no-repeat left center;}
body .formulaire_recherche input.submit,body .formulaire_recherche label{display:none;}
/* Reponses */
/* Success, info, notice and error/alert boxes (from BluePrint) */
.reponse,.error,.alert, .notice,.success, .info{padding:.8em;margin-bottom:1.5em;border:2px solid #ddd;}

.error,.alert{background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice	{background:#fff6bf;color:#514721;border-color:#ffd324;}
.success{background:#e6efc2;color:#264409;border-color:#c6d880;}
.info{background:#d5edf8;color:#205791;border-color:#92cae4;}

.error a,.alert a{color:#8a1f11;}
.notice a{color:#514721;}
.success a{color:#264409;}
.info a{color:#205791;}


/* pied de page */
#ours_container{margin:1em auto 2em auto;}

/* blocs des pages accueil et rubriques */
.gauche{float:left;width:65%;overflow:hidden;clear:both;padding-top:.5em;}
.droite{float:right;width:30%;overflow:hidden;}
.page_rubrique .gauche{width:55%;}
.page_rubrique .droite{width:40%;padding-top:.5em;}

/* Page d'accueil */
#mozaique{width:200px;margin:0 auto;padding-bottom: 1em;}
#mozaique td{padding:0px;}
#video p{margin:.3em 0 .5em 0;font-size: .9em;text-align: center;}
.page_sommaire .liste.syndics{float:left;width:46%;padding:0.5em 0;display:table-cell;}
.page_sommaire .liste.syndics:nth-child(2n-1){margin-right:6%;}
.page_sommaire h2.syndics{clear:both;}

/* Pages de rubriques */
.page_rubrique .gauche .menu ul{margin-left:1em;}
.page_rubrique .gauche .menu ul li h4{font-size:0.9em;}
.page_rubrique .gauche .menu ul li{font-size:1.1em;}
.page_rubrique .gauche .menu ul li ul li{font-size:0.9em;}

/* Mise en page des breves */
.breves h3.h3{cursor:pointer;}
.breves .h3 a.ouvrable{padding-right:30px;padding-bottom:5px;background-image:url(img/deplierhaut.png);background-position:right 0;background-repeat:no-repeat;}
.breves .h3 a.ouvert{padding-right:30px;padding-bottom:5px;background-image:url(img/deplierbas.png);background-position:right 0;background-repeat:no-repeat;}
.page_breve #site_menu{display:none;}
.page_breve .info-publi,.page_article .info-publi{font-size:.9em;text-align:right;}
/* Page des sites */
.page_sites .liste.syndics{clear:right;margin-left:2em;width:80%;padding:.5em 1em;}
.page_sites .liste.syndics ul{margin-left:4em;}
.liste.syndics .spip_logos{float:right;margin:0 0 .3em .5em;}

/* Page plan */
.page_plan h3.h3{display:none;}

/* Menu vertical des rubriques et bloc de liens de sites */
body #navigation .menu{padding-top:0;overflow:hidden;}
body #navigation #site_menu ul li{margin:0 .5em 0 0;display:inline-block;vertical-align:middle;}
body #navigation #site_menu ul li a{display:block;padding:3px 0;}
body #navigation #site_menu .spip_logos{float:none;padding:0;margin:0;}
body #navigation .menu,#site_menu,body #navigation .liste{margin:0 0 1em 0;}
body #navigation .menu .menu-items li.item,body #navigation .menu ul li{list-style-type:none;margin-left:0px;}
body #navigation .menu ul{margin-left:0px;padding-left:0px;}
body #navigation .menu .menu-items.ss-rubrique li.item{margin-left:2em;}
body #navigation .menu .menu-items.ss-rubrique li.item li.item{margin-left:1em;}
.bouton_sommaire:hover{cursor:pointer;}

/* Mini Calendrier, listes d'evenements et page agenda */
#calendar{padding:0 0.5em 1em 0.5em;margin-bottom:1.3em;overflow:hidden;}
.evenements{margin-bottom:1.3em;}
body #page .evenements .liste-items .item{padding:1em 2em;}
.evenements .liste-items .item:first-child{border-top:1px solid #eee;}
.page_sommaire #page .evenements .liste-items .item{padding:.5em 1em;}
.today{font-weight:bold;}
.evenements p.date{font-size:.8em;}
.evenements .liste-items{padding:10px 0;margin:0;}
.page_sommaire .evenements .liste-items{padding-top:0;}
.page_article #contenu .evenements h2.h2,.page_agenda h1.h1{margin-top:.5em;}
.date abbr[title],.info-publi abbr,.page_sommaire .forums abbr{border-bottom:none;}
.ui-datepicker-calendar a:hover{cursor:default;}
.ui-state-highlight a:hover,.ui-datepicker-header a:hover{cursor:pointer;}
.no-js .calendriermini .calendar-container{height:auto;}
/* Typo, Intertitres */
.droite h2,#edito h2.h2,#navigation h2,#navigation h2,.evenements h2,.page_agenda .evenements h1{text-align:center;}
body h1,body .h1{font-size:2.5em;}
.page_agenda h1,.page_agenda  .h1{font-size:2em;}
body #navigation h2,.page_sommaire #contenu .droite h2{margin:.6em .5em .5em .5em;line-height:1.1em;}
.gauche .h2, #contenu .h2, #navigation .h2{margin-top:1.5em;}
body h3,body .h3{font-size:1.4em;}
body h4,body .h4{font-size:1.2em;}
html body ,body h1,body .h1,body h2,body .h2,body h3,body .h3,body h4,body .h4,body #entete .accueil #nom_site_spip{font-family:"DejaVu Sans","Lucida Grande","Bitstream Vera",Helvetica,sans-serif;}
body h1,body .h1,body h2, body .h2,body h3, body h3.spip,body h2 a,body h2 a:hover,body h2 a:focus,body .h2 a,body .h2 a:hover,body .h2 a:focus{line-height:1.2em;margin-bottom:.5em;}
body h3.spip{font-size:1.7em;margin:1.5em 0 1em 0;}

/* Listes d'articles des rubriques et page accueil */
body #page .liste-items .item{padding-left:0.2em;padding-bottom:0.2em;padding-top:0.2em;margin-bottom:0;border-bottom:1px solid #eee;}
body .liste-items .item p{margin-bottom:0.2em;}
body .liste-items .item .info-publi{clear:right;float:right;text-align:right;font-size:80%;max-width:25%;background:transparent;margin-right:1em;}
body .liste-items .item h3.h3{font-size:1em;line-height:1.6em;border-bottom:0;}
body .liste.articles .spip_logos{float:right;clear:right;margin-top:0.8em;margin-right:0pt;margin-bottom:4px;margin-top:1px;}
body .liste.articles .documents_portfolio .spip_logos{float:none;}

/* Listes et tableaux */
table.spip{clear:both;}
table.spip caption{background:none;}
table.spip tbody tr th,table.spip tr td{background:none;}
table.spip tbody tr.odd th,table.spip tr.odd td{background:transparent;}

/* divers */
.hyperlien{font-weight:bold;padding:1em 0 1em 2em;}
.page_inscription .liste-items .inscrits,.spip_flash_link{display:none;}
#formulaire_inscription legend,#formulaire_forum legend{background-color:transparent;}
#formulaire_inscription,#formulaire_forum{margin-top:1.5em;}
body div.socialtags{clear:none;} /* utile seulement si socialtags n'est pas parametre */
.forum-fil{list-style:none;}
.ics_icon{float:right;margin:5px 10px 0 0;}
.page_agenda .ics_icon{margin-top:10px;}
.tweets{position:relative;}
.twitter{position:absolute;top:3px;left:3px;}
.surtitre,.soustitre{font-size:1.3em;}
.page_article .formulaire_notation{float:left;margin-right: 2em;}
.page_article .cartouche .info-publi{clear:none;}

/* menuder.css menu deroulant d'apres Menu deroulant */
body .menuder .home{}
body #nav .menuder .home a{padding:7px 7px 5px 7px;}
body .menuder .home img{padding:0;}
body .menuder,
body .menuder ul{margin:0;padding:0;list-style:none;}
body .menuder a{display:block;text-decoration:none;}
body .menuder a.daddy,body .menuder a.daddy:hover{background-image:url(img/menuder.png);background-position:14.5em center;background-repeat:no-repeat;}
body .menuder li{}
body .menuder li ul{z-index:4;position:absolute;left:-999em;height:auto;width:14.4em;w\idth:13.9em;margin:0;}
body .menuder li li{width:16em;}
body #nav .menuder li ul a{width:15em;w\idth:14em;padding-right:1.25em;}
body .menuder li ul ul{margin:-2.5em 0 0 16em;}
body .menuder li:hover ul ul,
body .menuder li:hover ul ul ul,
body .menuder li:hover ul ul ul ul,
body .menuder li.hover ul ul,
body .menuder li.hover ul ul ul,
body .menuder li.hover ul ul ul ul{left:-999em;}
body .menuder li:hover ul,
body .menuder li li:hover ul,
body .menuder li li li:hover ul,
body .menuder li li li li:hover ul{left:auto;}
body .menuder li.hover ul,
body .menuder li li.hover ul,
body .menuder li li li.hover ul,
body .menuder li li li li.hover ul{left:auto;}
body .menuder li:hover{}
body .menuder li a:hover{}

/* pagination (issu de zpip-dist2) */
.pagination .sep,.pagination .label{display:none;}
.pagination{padding:10px 0 10px 0;text-align:center;}
.pagination .lien_pagination{padding:2px 5px;margin:0 2px;text-decoration:none;border:2px solid #f0f0f0;}
.pagination .lien_pagination:hover, .pagination .lien_pagination:active{border:2px solid #444;}
.pagination .on{padding:2px 5px;margin:0 2px;border:2px solid #222;color:#fff;font-weight:bold;background-color:#999;}
.pagination .disabled{display:none;}
.col .pagination .prev,.col .pagination .next{display:none;}

/* onglets dans le texte */
.dynamic-tab-pane-control.tab-pane {position:relative;width:99%;margin-left:1%;}
.dynamic-tab-pane-control .tab-row .tab {display:inline;font-size:1em;margin:1px 2px 1px 2px;float:left;border-bottom:0;z-index:1;position:relative;top:2px;padding:2px 1em 3px 1em;cursor:pointer;}
.dynamic-tab-pane-control .tab-row .tab.selected {border-bottom:0;z-index:3;top:0;cursor:default;}
.dynamic-tab-pane-control .tab-row .tab.selected a{cursor:default;}
.dynamic-tab-pane-control .tab-row .tab a {text-decoration:none;}
.dynamic-tab-pane-control .tab-row .hover a {z-index:3;}
.dynamic-tab-pane-control .tab-page {clear:both;z-index:2;position:relative;top:-2px;padding:10px;}
.dynamic-tab-pane-control .tab-row {z-index:1;white-space:nowrap;margin:0 10px;}

/* ------------------------------------------
/* Couleurs par defaut de scolaspip
/* si la configuration couleurs de scolaspip n'est pas activee : ces regles sont appliquees
/* sinon, ces regles sont surchargees par couleurs.html (sauf la premiere partie)
/* ------------------------------------------ */

/* fonds et bordures neutres, non surchargees */
body #page{background:#fff url(img/bg-body.png);}
#calendar,.evenements{border:1px solid #DDD;}
body .liste-items .item .info-publi{border:1px solid #eee;}
body a.spip_out{background-image:url(img/spip_out.gif);}
body #nav a.spip_out{background-position:14em center;}
#site_menu a.spip_out,.logo-institution a.spip_out{background-image:none;padding-right:0;}
table.spip tfoot{border-top:1px solid #333;}
body tbody tr:nth-child(even) td,body tbody tr.even td,table.spip tbody tr.even th,body table.spip tr.even td{background-color:#eee;}
.dynamic-tab-pane-control .tab-row .tab.selected,.dynamic-tab-pane-control .tab-page{background:#fff;}

/* backgrounds  */
html body{background-color:#ddd;}
#entete{background-color:#4B4B4B}
#nav,#nav .menu,.menuder li,body #pied,table.spip thead th,body .pagination .on, div .forum .forum-fil .forum-chapo{background-color:#c4c4c4;}
body #nav li:hover,body #nav .on{background-color:#ddd;}
body #navigation .menu,#site_menu,#formulaire_inscription{background-color:#F2E19D;}
#calendar{background-color:#edd6b5;}
#calendar .ui-state-highlight a{background-color:#E6F99A;}
#calendar .ui-state-highlight a:hover{background-color:#FFFFAA;}
body .liste-items .item:hover,.page_sites .liste.syndics:hover{background-color:#efefef;}
body .evenements .liste-items .item:hover{background-color:inherit;}

/* Couleurs des bordures */
body #entete{border-bottom:3px solid #ffcc00;}
body #nav .menu-items .item{border-right: 1px groove #c4c4c4;}
body #pied,.dynamic-tab-pane-control .tab-row .tab.selected{border-top:3px solid #ffcc00;}
body .documents_portfolio a:focus .spip_logos,body .documents_portfolio a:hover .spip_logos,body .documents_portfolio a:active .spip_logos{border-color:#ffcc00;}
body .pagination .lien_pagination:hover,body .pagination .lien_pagination:active,body .pagination .on{border-color:#ffcc00;}
.dynamic-tab-pane-control .tab-row .tab,.dynamic-tab-pane-control .tab-page{border:1px solid #ccc;}

/* Couleurs des liens */
body a,body a.spip_out,body a.spip_in,body a.spip_glossaire{color:#cc6600;}
body a:focus,body a:hover,body a:active{color:#A85503;}
body #navigation .menu a{color:#A85503;}
body #navigation .menu a:hover,body #navigation .menu a:focus,body #navigation .menu a:active{color:#666;}
body #nav .item a,body #pied,body #pied a,body .pagination .on, div .forum .forum-fil .forum-chapo{color:#333333;}
body #nav .item a:hover,body #nav .item.on>a,body #nav .item.on .on>a, div .forum .forum-fil .forum-chapo{color:#000;}
body #navigation #calendar.calendriermini table td a{color:inherit;}

/* couleurs des titres  */
#nom_site_spip a, #slogan_site_spip{color:#fff;}
body h1,body .h1,body h2,body .h2,body h3, body h3.spip,body h2 a,body h2 a:hover,body h2 a:focus,body .h2 a,body .h2 a:hover,body .h2 a:focus{color:#333;}

/* Print */
@media print{
#entete,#nav,.col{display:none;}
#contenu{width:95%;}
.formulaire_spip{display:none;}
}
/* Fin de scolaspip.css */

