<h1>{'contacts_titre'|translate}</h1>

<p class="texte">{'contacts_auteur'|translate}</p>
<p class="texte">{'contacts_questions'|translate:$link_forums}</p>
<p class="texte">{'contacts_doc'|translate:$link_doc}</p>

<h1>{'contacts_merci'|translate}</h1>
<p class="texte">{'contacts_thanks_dev'|translate:"Marc Boussard (XHTML/CSS, General), Xavier (Smarty, General)"}</p>
<p class="texte">{'contacts_merci3'|translate}</p>
<p class="texte">{'contacts_merci2'|translate}</p>

<div class="centrer">
{include file="common/translators_array.tpl"}
<p>
<a href="http://www.php.net/"><img src="./images/misc/php.png" alt="Powered by PHP" /></a>
<a href="http://pear.php.net/"><img src="./images/misc/pear.png" alt="Powered by PEAR" /></a>
<a href="http://smarty.php.net/"><img src="./images/misc/smarty.png" alt="Powered by Smarty" /></a>
</p>
<p>
<a href="http://www.mysql.com/"><img src="./images/misc/mysql.png" alt="Powered by MySQL" /></a>
</p>	
<p>
<a href="http://www.phpmyvisites.net/"><img src="./images/logos/1.png" alt="web analytics web statistics" /></a>
</p>	
<p>
<a href="http://www.getfirefox.com/"><img src="./images/misc/firefox2.png" alt="Powered by Firefox browser" /></a>
<a href="http://en.wikipedia.org/wiki/Linux"><img src="./images/misc/linux.png" alt="Powered by Linux" /></a>
<a href="http://www.kde.org/"><img src="./images/misc/kde.png" alt="Powered by KDE" /></a>
<a href="http://amarok.kde.org/"><img src="./images/misc/amarok.png" alt="Music powered by Amarok" /></a>
</p>
<p>
<a href="http://validator.w3.org/check/referer"><img src="./images/misc/vw3c11.png" alt="Valid XHTML 1.1!" height="31" width="88" /></a>
<a href="http://jigsaw.w3.org/css-validator/"><img src="./images/misc/vcss.png" alt="Valid CSS!" height="31" width="88" /></a>
</p>
</div>