/**
* Plugin Notation
* par JEM (jean-marc.viglino@ign.fr)
* 
* Copyright (c) 2007
* Logiciel libre distribue sous licence GNU/GPL.
*  
* Styles utilises par le plugin
*  
**/
/* Le formulaire
*/
.formulaire_notation
{	display:inline;
	border:0;
	padding:0;
	margin:0;
}

/* Le texte note + nb votes
*/
.formulaire_notation .note
{	color:Purple;
	padding:0;
	margin:0 5px 0 5px;
	position:relative;
	top:-2px;
}

/* Le bouton du formulaire
*/
.formulaire_notation input
{	height:18px;
	font-size:12px;
	text-align:center;
	vertical-align:middle;
	border:1px outset #AAE;
	background-color:#EEF;
	color:#005;
	margin:0;
	padding:0;
}

/* Pour affichage dans les modeles
*/
.notation
{}

.notation .note
{	color:Purple;
	font-weight:normal;
}

.notation .topten
{	border:1px solid #AAE;
	padding:1px;
}
.notation td
{	padding: 0 5px 0 5px;
}

.notation .ligne_paire
{	background-color:#EEF;
}

.notation thead tr
{	background-color:#AAE;
	text-align:center;
	color:#005;
}

.notation .auteurs
{ /* width:100%; */
  border:1px solid #AAE;
  border-bottom:0;
  border-right:0;
}

.notation .auteurs .nom
{ border-bottom:1px solid #AAE;
}
.notation .auteurs .note
{ border:1px solid #AAE;
	border-left:0;
	border-top:0;
}
.notation .auteurs img
{  /* width:16px; /* pour afficher la note en plus petit */
}

.notation .stat
{ font-size:0.81em;
  border:1px solid #AAE;
}
.notation .barre
{ background-color:#AAE;
  height:10px;
  line-height:5px;
  font-size:0.4em;
  display:block;
  float:left;
  margin-top:1em;
  margin-right:1em;
}
/* Affichage des critiques */
.critique
{ font-size:0.9em;
  border:1px solid Purple;
  padding:0;
}
.critique .titre-note a
{	font-weight:bold;
	color:white;
	background-color:purple ;
	padding:0 5px 0 5px;
	margin:0;
}
.critique .spip
{ margin:0 0 0 5px;
}
.critique small
{ color:Purple;
  font-size:0.8em;
  font-weight:normal;
}
.critique .grosse_note
{ float:right;
  border:2px solid Purple;
  padding: 0 10px 0 10px;
  margin-left:3px;
  color:Purple;
  font-size:3em;
  font-weight:bold;
}

.formulaire_notation button {
	border: none;
	background-color: transparent;
	display: inline;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.formulaire_notation button img {
	vertical-align:middle;
	padding: 0 !important;
	margin: 0;
}
