#form_cfg_rosace fieldset{font-size:.9em;margin-bottom:20px}
#form_cfg_rosace legend{font-weight:bold}
#form_cfg_rosace span.demi{width:40%;float:left;border-bottom:1px solid #ddd}
#form_cfg_rosace div.deplier_conf{padding: 5px 30px}
#form_cfg_rosace .leon{line-height:1px;height:1px;clear:both}