div#rosace{position:relative;width:501px;height:500px;margin-bottom:20px;clear:both}
div#logo_site{position:absolute;width:200px;height:200px;top:135px;left:145px;text-align:center;z-index:999;vertical-align:middle}
div#lien_tl,div#lien_tr,div#lien_bl,div#lien_br{position:absolute;width:75px;height:75px;text-align:center;z-index:999;font-size:.7em}
div#lien_tl{top:0;left:0}
div#lien_tr{top:0;right:0}
div#lien_bl{bottom:0;left:0}
div#lien_br{bottom:0;right:0}
div#rosace div.item{float:left;width:250px;height:100px;position:relative;}
div#rosace div.item a{display:block;position:relative}
div#rosace div.item span{display:bloc;position:absolute;top:0;line-height:.8em}
div#rosace div.item span strong{font-size:.9em}
div#rosace div.item span em{font-style:normal;font-size:.7em}
div#rosace div.item a{text-decoration:none}
div#rosace div#item_1,div#rosace div#item_2{height:120px;margin-top:30px}
div#rosace div#item_1 span,div#rosace div#item_2 span{width:60%;padding:10px}
div#rosace div#item_1,div#rosace div#item_4,div#rosace div#item_6,div#rosace div#item_7{text-align:right}
div#rosace div#item_2,div#rosace div#item_3,div#rosace div#item_5,div#rosace div#item_8{text-align:left}
div#rosace div#item_1 span,div#rosace div#item_4 span,div#rosace div#item_6  span,div#rosace div#item_7  span{right:5px}
div#rosace div#item_2 span,div#rosace div#item_3 span,div#rosace div#item_5  span,div#rosace div#item_8  span{left:5px}
div#rosace div#item_5 span,div#rosace div#item_6 span{top:15px;}
div#rosace div#item_7 span,div#rosace div#item_8 span{top:65px;width:60%}
div#rosace div#item_3 span,div#rosace div#item_4 span,div#rosace div#item_5  span,div#rosace div#item_6  span{width:40%}
div#rosace div#item_3 span,div#rosace div#item_5 span{padding-left:10px}
div#rosace div#item_4 span,div#rosace div#item_6 span{padding-right:10px}
