body {font-size:70%;}

/*#contenu .exemple { background-image:url(images/puzzle_pdf_a5.png);}*/

#contenu .integrale .couverture h1 {padding:2em 0em 1em;}
#contenu .integrale .couverture .image {padding:3em 2em 2em;}
#contenu .integrale .tdm > ul {margin:0 40px;}

@page {
	size: 170mm 220mm;
	padding:0 0 1cm;
	margin:1.5cm 2cm 1cm;
	@bottom-left {
		font-size:80%;
		background:url(images/pied_icone_a5.png) no-repeat left top;
	}
	@bottom-right {font-size:80%;}
}

@page couverture {
	padding:.5cm;
	margin:2cm 2cm;
	@bottom-left {font-size:80%;}
	@bottom-right {font-size:80%;}
}

@page chapitre {
	padding:.5cm;
	margin:2cm 2cm;
}

@page presentation {
	padding:0 0 .5cm;
	margin:1.5cm 2cm 1cm;
}
