/* GESHI (pour PRINCE) */
.spip2 .imp {font-weight: bold; color: red;}
.spip2 .coMULTI {color: #808080; font-style: italic;}
.spip2 .es0 {color: #000099; font-weight: bold;}
.spip2 .re0 {color: #FF4E00;}
.spip2 .re1 {color: #D05000;}
.spip2 .re2 {color: #1DA3DD;}
.spip2 .re4 {color: #D05000;}
.spip2 .re10 {color: #1DA3DD;}
.spip2 .re11 {color: #1DA3DD;}
.spip2 .re12 {color: #527EE0;}
.spip2 .re13 {color: #984CFF;}
.spip2 .re15 {color: #1DA3DD;}
.spip2 .re20 {color: #527EE0;}
.spip2 .re21 {color: #222}
.spip2 .re22 {color: #745E4B;}
.spip2 .re23 {color: #222;}
.spip2 .re30 {color: #C90}
.spip2 .re31 {color: #C90}
.spip2 .re40 {color: #74B900;}
.spip2 .re50 {color: #FF851D;}
.spip2 .re102 {color:#FF2100; font-weight:bold;}
.spip2 span.xtra { display:block; }


.php.php .imp {font-weight: bold; color: red;}
.php.php .de1 {color: #333;} /* textes */
.php.php .kw1 {color: #2D75B2;} /* return if else for */
.php.php .kw2 {color: #2D75B2;} /* function true false */
.php.php .kw3 {color: #333;} /* array isset define */
.php.php .co1 {color: #888;} /* // commentaire */
.php.php .co2 {color: #888;}
.php.php .co3 {color: #444;} /* <<<EOF */
.php.php .co4 {color: #00f;}
.php.php .coMULTI {color: #666; font-style: italic;}
.php.php .es_h {color: #009; font-weight: bold;}
.php.php .es_h {color: #009; font-weight: bold;}
.php.php .br0 {color: #333;} /* () {} */
.php.php .sy0 {color: #333;} /* , ! = ->  & */ 
.php.php .st0 {color: #DB7700;} /* "chaine" */ 
.php.php .st_h {color: #DB7700;} /* 'chaine' */
.php.php .nu0 {color: #c6c;} /* 109 */
.php.php .nu8 {color: #208080;}
.php.php .nu12 {color: #208080;}
.php.php .nu19 {color:#c6c;} /* 0 */
.php.php .me1 {color: #CA5200;} /* cle : $tab->cle */
.php.php .me2 {color: #CA5200;}
.php.php .re0 {color: #CA5200;} /* $param : function f($param) */
.php.php span.xtra { display:block; } 

.xml.xml .imp {font-weight: bold; color: red;}
.xml.xml .es_h {color: #000099; font-weight: bold;}
.xml.xml .br0 {color: #66cc66;}
.xml.xml .sy0 {color: #66cc66;}
.xml.xml .st0 {color: #E1861A;} /* <x y='valeur' /> */
.xml.xml .sc-1 {color: #808080; font-style: italic;}
.xml.xml .sc0 {color: #00bbdd;}
.xml.xml .sc1 {color: #111;} /* &machin; */
.xml.xml .sc2 {color: #326B76;}
.xml.xml .sc3 {color: #444;} /* = (attr='valeur') */ 
.xml.xml .re0 {color: #3C8E13;} /* <x attribut='z' /> */
.xml.xml .re1, /* <balise */
.xml.xml .re2 {color: #2D75B2;} /* /> */
.xml.xml span.xtra { display:block; }

.css.css .imp {font-weight: bold; color: red;}
.css.css .kw1 {color: #000000; font-weight: bold;}
.css.css .kw2 {color: #993333;}
.css.css .co1 {color: #a1a100;}
.css.css .co2 {color: #ff0000; font-style: italic;}
.css.css .coMULTI {color: #808080; font-style: italic;}
.css.css .es_h {color: #000099; font-weight: bold;}
.css.css .br0 {color: #00AA00;}
.css.css .sy0 {color: #00AA00;}
.css.css .st0 {color: #ff0000;}
.css.css .nu0 {color: #cc66cc;}
.css.css .re0 {color: #cc00cc;}
.css.css .re1 {color: #6666ff;}
.css.css .re2 {color: #3333ff;}
.css.css .re3 {color: #933;}
.css.css span.xtra { display:block; }

.bash.bash .imp {font-weight: bold; color: red;}
.bash.bash .kw1 {color: #000000; font-weight: bold;}
.bash.bash .kw2 {color: #c20cb9; font-weight: bold;}
.bash.bash .kw3 {color: #7a0874; font-weight: bold;}
.bash.bash .co0 {color: #666666; font-style: italic;}
.bash.bash .co1 {color: #800000;}
.bash.bash .co2 {color: #cc0000; font-style: italic;}
.bash.bash .es_h {color: #000099; font-weight: bold;}
.bash.bash .br0 {color: #7a0874; font-weight: bold;}
.bash.bash .sy0 {color: #000000; font-weight: bold;}
.bash.bash .st0 {color: #ff0000;}
.bash.bash .nu0 {color: #000000;}
.bash.bash .re0 {color: #007800;}
.bash.bash .re1 {color: #007800;}
.bash.bash .re2 {color: #007800;}
.bash.bash .re4 {color: #007800;}
.bash.bash .re5 {color: #660033;}
.bash.bash span.xtra { display:block; } 
