/* GESHI (pour PRINCE) */
.spip2.spip2 .imp {color: #000 !important;}
.spip2.spip2 .coMULTI {color: #666 !important;}
.spip2.spip2 .es_h {color: #333 !important;}
.spip2.spip2 .de1 {color: #666 !important;} /* commentaires */
.spip2.spip2 .re0,
.spip2.spip2 .re1,
.spip2.spip2 .re2 {color: #333 !important;}
.spip2.spip2 .re10, 
.spip2.spip2 .re11,
.spip2.spip2 .re13 {color: #111 !important;}
.spip2.spip2 .re12,
.spip2.spip2 .re20 {color: #666 !important;}
.spip2.spip2 .re21,
.spip2.spip2 .re23 {color: #111 !important;}
.spip2.spip2 .re22 {color: #333 !important;}
.spip2.spip2 .re30,
.spip2.spip2 .re31 {color: #666 !important;}
.spip2.spip2 .re40 {color: #333 !important;}
.spip2.spip2 .re50 {color: #666 !important;}

.php.php .imp {color: #000 !important;}
.php.php .kw1 {color: #111 !important;}
.php.php .kw2 {color: #111 !important;}
.php.php .kw3 {color: #111 !important;}
.php.php .co1,
.php.php .co2 {color: #666 !important;}
.php.php .co3,
.php.php .co4 {color: #444 !important;}
.php.php .coMULTI {color: #666 !important;}
.php.php .es_h,
.php.php .es_h {color: #444 !important;}
.php.php .br0,
.php.php .sy0 {color: #777 !important;}
.php.php .st0,
.php.php .st_h {color: #444 !important;}
.php.php .nu0,
.php.php .nu8,
.php.php .nu12 {color: #777 !important;}
.php.php .nu19 {color:#666 !important;}
.php.php .me1,
.php.php .me2,
.php.php .re0 {color: #111 !important;}
 

.xml.xml .imp {color: #000 !important;}
.xml.xml .de1 {color: #555 !important;} /* <x>texte</x> */
.xml.xml .es_h {color: #111 !important;} /* ? */
.xml.xml .br0,
.xml.xml .sy0,
.xml.xml .st0 {color: #444 !important;} /* <x y='valeur' /> */
.xml.xml .sc-1 {color: #666 !important;} /* ? */
.xml.xml .sc0 {color: #770 !important;} /* ? */
.xml.xml .sc1, /* &machin; */
.xml.xml .sc2,
.xml.xml .sc3 {color: #666 !important;} /* = (attr='valeur') */ 
.xml.xml .re0 {color: #222 !important;} /* <x attribut='z' /> */
.xml.xml .re1,
.xml.xml .re2 {color: #111 !important;} /* <balise /> */
