/*  ---------------------------------------------------------------- */
/*  Feuille de style specifique en niveaux de gris                   */
/*  ---------------------------------------------------------------- */
@import url("geshi_nb.css");

a { color: #333 !important; }
body {color: #111; /* foncer sensiblement pour l'impression */}

#contenu .integrale .couverture h1 {color: #666;}
#contenu .integrale .couverture h2 {}
#contenu .integrale .couverture h3 {color: #666;}

.spip_code {color:#222;}
.spip_cadre, .coloration_code .cadre {color:#222;}
	


