#HTTP_HEADER{Content-Type: text/css;}

.icone_edition_directe{float:right;}

.inactive, .active:hover{
opacity:0.4;
 filter:alpha(opacity=40); /* For IE8 and earlier */
}

.inactive:hover{
opacity:1.0;
 filter:alpha(opacity=100); /* For IE8 and earlier */
}
