/* Modifications by Chris M (http://aphotolog.com) for WordPress. 
   Pardon my sloppiness..
   Resizeable content column and various tweaks by Stephen Jungels

   Licensed under GPL :)
*/

body { 
	margin:0px; 
	background-color: #efefef; 
	background-image: url(bg.gif); 
	background-repeat: repeat-x; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 12px; 
	line-height: 17px; 
	text-align: left;
	color: #333;
	}

a:link { 
	color: rgb(82,117,154); 
	text-decoration:none;
	}

a:visited {
	color: rgb(82,117,154); 
	text-decoration:none;
	}

a:hover { 
	color: #fff; 
	text-decoration:none; 
	background-color: rgb(112,147,184); 
	}

h2 { 
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-weight: normal;
	font-size: 18px;
	/*color: rgb(150,50,50);*/
	margin: 0 10px 10px 0;
	padding: 5px;
	border-right: solid 1px rgb(192,211,226);
	}
	
h3 { 
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-weight: normal;
	margin: 10px 0px 0px 0px;
	padding-bottom: 2px;
	}
	
blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

form {
	margin: 0;
	padding: 0;
	}
	
input, textarea {
	background-color: rgb(192,211,226);
	border: 1px solid rgb(112,147,184);
	font-size:11px; 
	}

li {
	margin: 0;
	padding: 0;
	}

#rap {
	padding: 0;
	}

#header { 
	margin: 100px 0 0 0;
	padding: 20px;
	background-color: rgb(112,147,184); 
	font-size: 30px;  
	font-family: Georgia, "Times New Roman", Times, serif; 
	}
	
#header a {
	color: #fff;
	text-decoration:none;
	}
	
#content {
	margin: 0px 13em 0 0;
	padding: 20px 20px 10px 20px;
	background-color: #FFFFFF;
}
	
.storytitle {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-weight: normal;
	}

.meta ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	}

.meta li {
	display: inline;
	}

.feedback { 
	text-align: right;
	margin-bottom: 30px;
	padding: 0;
	border-bottom: solid 1px rgb(192,211,226);
	}


#menu {
	background-color: rgb(192,211,226);
	padding: 20px 0px 10px 0px;
	position: absolute;
        right: 0em !important;
        right: -1px;
	top: 100px;
	width: 13em;
}

	
#menu ul {
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
	}
	
#menu ul ul {
	margin: 0;
	padding: 0 0 20px 0;
	list-style-type: none;
	border-top: 1px solid #efefef;
	}
	
#menu li {
	margin: 0;
	padding: 0 0 0 0;
	}

#menu form {
	padding: 0 0 20px 0;
	}
	
#calendar {
	display: none;
	}


#search {
	}

#other {
	}
	
.credit {
	clear: both;
	}
	
p.credit {
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	}