.cadre { border: 1px #006699 solid;}
.txtblanc {  font: bold 12px Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration: none;}
.bouton {  margin: 0px 0px; padding: 0px 0px; border: 0px;}
.txtnoir {  font:  12px Verdana, Arial, Helvetica, sans-serif; color: #000000; text-decoration: underline;}
.txtgris {  font: bold 12px Verdana, Arial, Helvetica, sans-serif; color: #999999; text-decoration: none;}