#backstretch { opacity : .7; }
#page { 
	margin: 20px auto; 
	width: 960px; 
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}
#page .h1 { float: right; width: 61%; margin: 10px; text-align: right; color: #fff; font-size: 1.4em; }
.boussole { clear: both; list-style: none; padding: 0; }
.boussole .item { width: 28%;  margin-left: 15px; border: 0;
	display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; }
.boussole .item .spip_logos { float: right; border: 0; margin: 0 0 3px 3px; }
.boussole .item a { color: #ff8d00; font-weight: bold; text-decoration: none; }
.boussole .item p { margin: 5px 0; }

.bulle { padding: 15px; margin: 15px 0; color: #fff; background: #333; opacity: 0.85;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.bulle:hover { opacity: .95; }
.credit { float: right; padding: 4px 10px; font-size: .8em }
.credit a { color: #fff; }
