.zoneDeSaisie{
        border-color: #ededf5 #dcdcec #7f7fb9 #9797c7;
	background:#f5e7e1;
         }
.grande_boite_cellule{
	background:#fff;
}

.formulaire_cellule{
	background:#fff;
}

.boite_cellule_droite{
	background:#fff;
	}

.boite_cellule_gauche{
	background:#fff;
	}
.menu_thelia{
	background:#fff;
	}
.cellule li h4,.cellule li h4 a{
	color:#fff;
	background:#CDA261;
	}

.cellule li p{
	background:#fff;
}

.cellule_produit li h4,.cellule_produit li h4 a{
	color:#fff;
	background:#CDA261;
	}

.cellule_produit li p{
	background:#fff;
}
.icone_caddie_ajout{
	background:url(../../squelettes/images/icones/automne/automne_caddie_ajout.gif);
}
.icone_panier{
	background:url(../../squelettes/images/icones/automne/automne_panier.gif);
}
.icone_identifier{
	background:url(../../squelettes/images/icones/automne/automne_identifier.gif);
}
.icone_compte{
	background:url(../../squelettes/images/icones/automne/automne_compte.gif);
}
.icone_obligatoire{
	background:url(../../squelettes/images/icones/automne/automne_obligatoire.gif);
}
.icone_caddie_ajout{
	background-repeat:no-repeat;
}
.icone_panier{
	background-repeat:no-repeat;
}
.icone_obligatoire{
	background-repeat:no-repeat;
}
.icone_identifier{
	background-repeat:no-repeat;
}
.icone_compte{
	background-repeat:no-repeat;
}
th.row_first {
	background-color: #CDA261;
        color:#fff;
	}
td.row_first {
	background-color: #CDA261;
        color:#fff;
}

td.row_old {
       background-color: #f9f2ef;
}

td.row_even {
       background-color: #f5e7e1;
}
