/* Oembed twitter */
.oe-quote-block {padding-right: 80px;position: relative;}
.twitter.oe-quote-block {margin-bottom:0;}
.storify .oe-quote-text {margin-bottom:0;}
.oe-descriptif {font-style: italic;}
.oe-quote-text {}
.oe-quote-user-block img {position: absolute;top:0;right:20px;max-width: 48px;height: auto;}
.oe-quote-meta,.oe-quote-user-block {display: inline;}
.oe-quote-meta .via {display: none;}

.oe-fb-user-block img {float:left;margin-right: 10px;margin-bottom:10px;}
.oe-imdb-title img {float:left;margin-right: 10px;margin-bottom:10px;}

/* Oembed generique */
.oembed.oe-rich {display: block;background: #fff;padding: 10px;border: 1px solid #eee;margin: 1em 0;}
.oembed.oe-link.oe-rich .oe-html {display: block;}
.oe-rich > blockquote {font-style: normal;}

.oe-reference {}
.oe-cite {}

figure.oe-image-block {border: 1px solid #eee;background: #fff;text-align: center;width:80%;margin: 3em auto;overflow:hidden;padding:4px;}
figure.oe-image-block img {background: #fff;padding-bottom:4px;}
figure.oe-image-block figcaption {background:#eee;padding: 10px;text-align: left;}

.oe-link-block {overflow: hidden;}
.oe-link-block .link_logo {float: right;margin:0;margin-bottom: 10px;margin-left: 10px;border: 5px solid #ddd;}
.oembed .storify .oembed {margin: 3em auto;text-align: center;}
.oembed .storify .oembed iframe,.oembed .storify .oembed object {margin: 0 auto;}
