@font-face {
  font-family: "BebasNeue";
  font-style: normal;
  font-weight: normal;
  src:url("BebasNeue-webfont.woff.txt") format("woff");}
body {
	background: url("img/bg.png") repeat scroll 0% 0% transparent; 
	line-height: 1;
	color: black;
	margin:0px;
	text-shadow: 1px 1px 1px rgb(255, 255, 255); 
}
#page{
	font-family: Helvetica,Arial,sans-serif; 
	font-size: 0.9em; 
}	

#nav{
	border-bottom:1px solid #B7B7B7;	
}
#nav ul{
	padding:0px;
	margin:0px;
}
#nav .menu-conteneur{
	width: 980px;
	margin: auto;
	padding:0px;
}

#nav li{
	color: black;
	list-style-type: none;
	display: inline;
	z-index: 87;	
}
#nav a{ 
	line-height: 0.9em; 
	text-decoration: none; 
	font-family: BebasNeue; 
	color: rgb(85, 85, 85); 
	z-index: 88; 
	text-shadow: 1px 1px 1px rgb(255, 255, 255); 
	font-size: 1.3em; 
	letter-spacing: 0.04em; 
	padding: 9px 10px 8px; 
	display:inline-block;
	border-right: 1px solid rgb(183, 183, 183); 
	border-left: 1px solid rgb(183, 183, 183); 
}
#nav a:hover, #nav li.on a, #nav li:hover a { 
	background: url("img/sticky-bg.png") repeat scroll 0% 0% rgb(128, 185, 4) ! important; color: rgb(252, 253, 230); 
	text-shadow: none;
	font-weight:normal;
	}
#navigation{
	float: right;
	overflow: hidden;
	width: 240px;
	border-left: 1px solid #AAA;
	padding-left: 10px;
}

#conteneur{
	width: 980px;	
	margin:auto;
	clear:both;
}
#contenu{
	max-width:728px;
	float:left;	
	line-height:1.3em;
}
.surlignable, .introduction{
	margin-right:9px;	
}
#pied{
	padding-top:1ex;
	padding-bottom:1ex;
	clear:both;	
	font-family:BebasNeue;
	background: url("img/footer.jpg") repeat-x scroll left top rgb(95, 139, 0); 
}
#sous-pied{
	width:980px;
	margin:auto;
}
#sous-pied li.menu-entree{
	display:inline;
	list-style-display:none;
}
#sous-pied ul, #sous-pied li{
	margin-left:0px;
	padding-left:0px;	
}
#sous-pied li.menu-entree:before{
	content: " | ";
}
#sous-pied li.menu-entree:first-child:before{
	content: none;
}

#licence{
	padding-top:1em;	
}
#pied a, #sous-pied li.menu-entree a{
	line-height: 0.9em;
	color:#ffffff;
	text-decoration:none;
	color: #FCFDE6;
	font-size: 1.1em;
	letter-spacing: 0.04em;
	text-shadow: #21682E -1px -1px 0px;
}
.liste-items li{
	list-style-type:none;	
}
#contenu .liste-items .item{
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin:0px;
	float:left;
	width:45%;	
}

.liste-items h3{
	font-weight:normal;
	font-size: 1.8em;
	line-height: 1em;
	text-align: center;	
	margin-bottom: 8px;
	letter-spacing: 0.04em;
	color: #5D5D5D;
	font-family: BebasNeue;
}
.liste-items h3 a{
	font-weight:normal;
	color: #5D5D5D;
	text-decoration:none;
	text-shadow: #EEE 1px 1px 1px;
}
.liste-items .entry-content{
	font-size:0.9em;	
}
a, a.spip_in, a.spip_out{
	color:#044C04;
	text-decoration:none;
}
a:hover{
	color: rgb(0, 0, 0);
}
.chapo a, .texte a, .ps a,.lire-la-suite-titre em{
      text-decoration:underline;  
}
#navigation a{
	color: #333;
}
#navigation ul{
	list-style-type:none;	
}
#navigation ul li{
	margin-top:1ex;	
}

#navigation h2{
	font-weight:normal;
	background-color: #8F8F8F;
	border-bottom: #BBB solid 1px;
	color: #333;
	font-family: BebasNeue;
	font-size: 22px;
	height: 22px;
	letter-spacing: normal;
	line-height: 21px;
	margin-bottom: 8px;
	max-width: 100%;
	outline-color: #CCC;
	outline-style: none;
	outline-width: 0px;
	padding: 5px;
	width: 230px;	
}
#navigation > .menu-liste{
    margin-left:0px;  
    padding-left:0px;
}
p{
	text-align: justify;
}

#hierarchie{
	border-bottom:1px solid #B7B7B7;
	color: #5D5D5D;
	font-family: BebasNeue;
	min-width: 500px;
	outline-color: #5D5D5D;
	outline-style: none;
	outline-width: 0px;
	text-shadow: #EEE 1px 1px 1px;
	padding:0px;
	margin:0px;
}

#hierarchie .sep{
	display:none;	
}
#hierarchie a, #hierarchie .on{
	background:url(img/breadcrumb.png) no-repeat center right;
	padding-right:15px;
	margin-right:8px;
	height:30px;
	display:inline-block;
	font-weight:normal;
	line-height:2.5em;
	vertical-align: baseline;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-position-x: 100%;
	background-position-y: 50%;	
}

h1{
	text-shadow: 1px 1px 1px rgb(255, 255, 255); 
	font-size: 2.5em;
	line-height: 1em;
	text-align: center;	
}

.surtitre,.soustitre{
	font-size:1.2em;
	line-height:0.5em;
	text-align:center;
}

h1, h2, h3, h4, h5, h6,.surtitre,.soustitre{
	margin-bottom: 8px;
	letter-spacing: 0.04em;
	color: #5D5D5D;
	font-family: BebasNeue;	
	clear:both;
}

#contenu h2{
	color: #015E26;
	font-family: BebasNeue;
	font-size:2em;
	font-weight:normal;
	margin-bottom:20px;
	margin-left:-20px;
	line-height:1.3em;
	padding:20px;
	padding-right:0px;
	text-shadow:#EEE 1px 1px 1px;
	background-image:url(img/title.png);
	background-repeat:no-repeat;
}

.info-publi{
	text-align: center;
	border-bottom: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;	
	color:#666;
	margin-bottom:8px;
}
.meta-publi{
	line-height:2em;
	font-size:0.9em;
	text-align: center;
	padding: 5px;
}

.pagination, .comments{
	clear:both;	
}

.chapo{
	font-weight:bold;	
}

.formulaire_recherche{
	margin-top:1ex;	
}
.formulaire_recherche input.submit{
	width: 32px; 
	height: 32px; 
	font-size: 0.1em; 
	color: rgb(255, 255, 255); 
	background: url("img/loupe.png") no-repeat scroll center center rgb(51, 51, 51) ! important; 
	right: 0px;
	border: medium none;
	content: " ";
	cursor: pointer;
	text-indent: -9999px;	
}

.formulaire_spip fieldset legend{
	background-color:transparent;	
}
.pagination {
	border-top:	1px solid #B7B7B7;
}
.pagination strong, .pagination a, .pagination .tbc{
	padding: 6px 10px;
	display:block;
	float:left;
	margin: 2px;
	background: #CCC;	
}
.pagination .sep{
	display:none;	
}

.spip_logos{
    background-color: #EEE;
    border: #B7B7B7 solid 1px;
    display: block;
    float: left;
    margin-bottom: 14px;
    margin-right: 19px;
    max-width: 166px;
    outline-color: #7DA702;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

ul.forum{
    margin-left:0px;
    padding-left:0px;  
}

ul.forum li.forum-fil{
    list-style-type:none; 
    padding-left:1ex;
    border-left:1px solid #B7B7B7;
}

.spip_documents{
    background-color:#ddd;
    padding:0.4em;
}
.spip_doc_titre,.spip_doc_descriptif{
    padding-top:0.4em
}
blockquote.spip{
    margin-left:3em;
    }
.soustitre, .surtitre{
        line-height:1.5ex
}