@import "css/variables.less";
@import "css/mixins.less";

body {background-color: @grayLighter;}
.page {background-color: @bodyBackground;}

.navbar-fixed-top {margin-bottom: 0;}
#header {
  text-align: left;
  padding:3*@baseLineHeight 0;
  background-color: darken(@purple,20%);
  color:@white;

  .container {
    position:relative;

    .actions {
      position:absolute;
      bottom: -60px;
      right: -30px;
    }
  }
}
#content,#aside {margin-top: @baseLineHeight;}
#content {min-height: 30*@baseLineHeight;}

#footer {
  border-top: 1px solid darken(@grayLighter,10%);
  background-color: @grayLighter;
  .credits {margin-bottom: 0}
}

.page .doc-sidebar {margin-left: 0;}
.doc-sidebar.affix {top:60px;}
.doc-sidenav {
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.067));
  &>li>a {border:1px solid @grayLighter;margin-top: -1px;padding: 8px 14px;};
  li:first-child a {.border-top-radius(@borderRadiusLarge)}
  li:last-child a {.border-bottom-radius(@borderRadiusLarge)}

}

/* contenu */
.article {
  &.prop {.opacity(50);}
  &>.article-header {
    color:@gray;
    border-bottom: 1px solid @grayLighter;
    margin-bottom: @baseLineHeight;
  }
  margin-bottom: 2*@baseLineHeight;

  position: relative;
  .actions-moderer {position: absolute;top:0;right: -30px;}
}

.placeholder {font-size: 2*@baseFontSize;float:right;clear:right;margin-right: -30px;}
.formulaire_crayon .crayon-active {min-width: 10em !important;}

/* home */
.page_sommaire #header {padding: 6*@baseLineHeight 0;}
.page_sommaire #header .container {text-align: center}
.page_sommaire #content {text-align: center}