/* Habillage du mini calendrier */

#partycalendar { text-align: center; border: 1px dotted #ccc; padding: 2px; padding-top: 0.5em; }
#partycalendar table { border-collapse: separate;border-spacing: 2px;}
#partycalendar #calendar {margin: 0;}

#partycalendar th { background: #ccc; text-transform: uppercase; color: #666; }

#partycalendar td a {  margin: 0; padding: 0; text-align: center; background: #ddd; line-height: 1.5em; font-weight: normal;}
#partycalendar .ui-datepicker-other-month a { background: #ececec; color: #ccc; }
#partycalendar .ui-state-highlight a { color: #fff; }

#partycalendar .calendriermini .calendar-container {height: 16.5em;}

/* microformats hcal */
.list-events {list-style: none;padding: 0;margin: 0 0 2em;}
.vevent {
	background: #eee;
	border: 2px solid #ececec;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	margin: 10px auto;
	padding: 10px;
	min-height: 80px;
    padding-left:100px;
    position:relative;
}
.vevent .summary, .vevent .summary a { color: #000; }
.vevent .summary a:hover { text-decoration: underline; }
.vevent .spip_logos {position: absolute;top:10px;left:10px;}

/* */
.vevent .description, .vevent .metadata { display: none; }
.page_item .vevent .description, .page_item .vevent .metadata { display: block; }
.vevent .spip_logos { margin: 0 10px 10px 0; float: left; }

.page_item .vevent {padding-left: 10px;}
.page_item .vevent .spip_logos { position:static;float: right;margin:0 0 10px 10px;}

/* */
.vevent .date {}
.vevent .dtstamp { border: none; }
.vevent .dtstart, .vevent .dtend { display: none; }
.vevent .location {}