/* modification des couleurs du theme principal */

body { background-color: #8AADD7; }

#header { background: no-repeat url(header-blue.png) center top #8AADD7; }
h1, h1 a { color: #799FCF; }
#page {background: #ffffff url(../images/separateur-spip-party-blue.jpg) bottom left no-repeat;}

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover { color: #799FCF; }

h2 a:hover, h2 span a:hover,
div.sb_comments ul li a:hover { color: #799FCF; }

a { color: #799FCF; }


#partycalendar .ui-state-highlight a { background: #799FCF;border-color: #799FCF;}

.formulaire_signature { background-color: #D3DBEE; }
.spip_bouton input { border-color: #799FCF; background-color: #799FCF; }