/*- Brian's Latest Comments
	http://meidell.dk/archives/2004/09/12/brians-latest-comments/
*/
/*
div.sb_comments ul li { margin-bottom: 0.6em; }
div.sb_comments ul li a {
	color: #999;
	font-weight: normal;
	word-spacing: -1px; }
div.sb_comments ul li a { text-decoration: none; }
*/
/* Commentaires de forum */
.comments .comments-list > h2 { margin: 3em 0 1.5em;}

.comments-list { width: 80%; }
.comments-list .comment-li { clear: both; margin: 0; padding: 0.75em 0;list-style: none;}

.comment-li .comment {padding-left:70px;position: relative;min-height: 60px;overflow: hidden;}
.comment-meta { font: normal 1.0em 'Century Gothic', 'Lucida Grande'; color: #999;margin-bottom: 0;}
.comment-meta a { color: #999; text-decoration: none; }
.comment-meta a.spip_out { text-decoration: underline; }
.comment-meta .item {display: none;}

.comment-li img.avatar { position: absolute;top:0px;left: 0; }

.comment .boutons.modererforum {font-size: 0.9em;position: absolute;bottom: -5px;right: 0;}
.comment .boutons.modererforum form,.comment .boutons.modererforum div {display: inline;}
.comment .boutons.modererforum button {padding:0;margin:0 5px;border:0;text-decoration: underline;}


/* Formulaires */
fieldset { border: none; margin: 0; padding: 0; }
legend { display: none; }
label { font: normal 1.1em 'Century Gothic', 'Lucida Grande'; display: block;}
.formulaire_spip textarea {
	margin: 0;
	padding: 3px;
	border: 2px inset #ececec;
	font: 1em Verdana, Sans-Serif;
	color: #444;
}
.formulaire_spip .boutons {clear: none;margin-top: 1.5em;}
.formulaire_spip .boutons input { border: 2px outset #666; background: #666; color: #fff;
font: normal 1.1em 'Century Gothic', 'Lucida Grande'; }
.reponse_formulaire { font-weight: bold; color: red; }

/* Formulaire de forum */
.comments .comment-form > h2 {margin: 1.5em 0;}
.formulaire_forum { width: 80%; padding: 0; }
.formulaire_forum fieldset { }
.formulaire_forum label { display: block; }
.formulaire_forum input.text { width: 99%; }
.formulaire_forum #titre, .formulaire_forum #nom_site { display: none; }
/*.formulaire_forum { padding: 30px 0 0; }
.formulaire_forum fieldset { margin: 1.6em 0; margin-left: 10px; }
.formulaire_forum p { position: relative; clear: both; margin-bottom: 1.6em; }
.formulaire_forum .forml { width: 180px; position: absolute; left: 0; top: 0; }
.formulaire_forum label { position: relative; left: 195px; text-transform: uppercase; color: #999; }
.formulaire_forum textarea { width: 360px; }*/

/* Formulaire d'inscription au site */
.formulaire_inscription {}
.formulaire_inscription fieldset { margin: 1.6em 0; }
.formulaire_inscription p { position: relative; clear: both; margin-bottom: 1.6em; }
.formulaire_inscription input.text { width: 180px; }
.formulaire_inscription label { text-transform: uppercase; color: #999; }

/* Formulaire de signature de petition */
.formulaire_signature { background: #ececec; padding: 1em !important; }
.formulaire_signature fieldset { margin-top: 1em; }
.formulaire_signature input.text, .formulaire_signature textarea { width: 90%; }

/*- Search Form and Livesearch */
.formulaire_recherche { /*position: absolute; top: 0; right: 25px;*/ }
.formulaire_recherche * { display: inline !important; }
.formulaire_recherche legend, .formulaire_recherche label { display: none !important; }
.formulaire_recherche input.text { width: 100%; border: 1px inset; }

.formulaire_spip ul { list-style-type:none; }
