#gazette {	width: 185px;	background: #333;	-moz-border-radius: 6px;	padding-top: 4px;	padding-bottom: 5px;	text-align: center;	font: 12px Verdana, sans-serif; 	text-transform: uppercase;	letter-spacing: 2px;}#gazette a {	color: #666;	text-decoration: none;}#gazette img {	border: none;	margin: auto;	padding-top: 2px;}
#gazette dd, #gazette dt {
	text-transform: none;	letter-spacing: none;	font: 9px Verdana, sans-serif; 	color: #666;
}