/*
Theme Name: K2
Theme URI: http://binarybonsai.com/wordpress/k2/
Description: The sequel in spirit to <a href="http://binarybonsai.com/kubrick/">Kubrick</a>. Developed by <a href="http://binarybonsai.com">Michael Heilemann</a> with help from <a href="http://chrisjdavis.org">Chris J. Davis</a>. Share and distribute.
Version: Beta One
Author: Michael Heilemann & Chris J Davis
Author URI: http://binarybonsai.com/


	 |  /_  )
	 . <   / 
	_|\_\___|

	http://binarybonsai.com/k2/

	This theme was created by Michael Heilemann:
	http://binarybonsai.com/

	Special credit to Chris J. Davis:
	http://www.chrisjdavis.org/

	All elements of this theme are protected by the GPL:
	http://www.opensource.org/licenses/gpl-license.php

	Support questions go here:
	http://www.flickr.com/groups/binarybonsai/

	IMPORTANT: This is a beta release. While it is more or less feature complete,
	it is sure to still contain a few bugs here and there. Use at your own risk
	

-->	CSS OVERVIEW
	
	There are sections throughout, roughly describing 
	the contents inside each section. To step through each
	section, do a search for '/ * -' (without spaces) and
	repeat the search until you find the section you need.
	
	I have exaggerated the use of selectors in some places,
	so as to make it easier for people to gain an overview
	of what classes belong where in the hierarchy.
	
	I suggest you copy and paste whatever changes you want
	to make, into k2scheme.css, so as to keep this file
	intact and make it easier for yourself to debug any
	problems.
*/

/*- Page Structure */

body {
	font-size: 81.25%; /* Resets 1em to 13px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #444;
	text-align: center;
	margin: 20px 0 30px; }

#page {
	background-color: #fff;
	text-align: left;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	/* The entire template's width is set in this class. */
	width: 755px;
	_width: 720px; }

body.flex #page { /* For the flexible-width setting. Not IE compatible */
	width: 80%;
	min-width: 760px;
	max-width: 1000px; }

#header {
	padding: 0;
	margin: 0;
	position: relative;
	height: 199px;
	background: no-repeat url(header-blue.png) center top #8AADD7;
    overflow: hidden;
}

.primary {
	width: 64%;
	min-width: 500px;
	_width: 500px; /* IE Hack */
	float: left;
	padding: 20px 2% 10px 2%;
    padding-bottom: 60px;
	margin: 0;
}

.secondary {
	font: 1em/1.5em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	padding: 10px 0;
	margin: 0 0 20px 73%;
	width: 26%;
	color: #666;
	/* The following are IE Fixes */
	_margin-left: 0;
	_margin-right: -3%;
	_width: 28%; }

#footer {
	margin: 10px auto 0; width: 755px; }

/*- Main Menu in Header */

ul.menu {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -2px;
	left: 20px;
	width: 90%; }

ul.menu li {
	display: inline;
	margin: 0; }

ul.menu, ul.menu li a {
	padding: 5px 15px 6px; }

ul.menu li a {
	font: 1.1em Verdana, Helvetica, Arial, Sans-Serif;
	color: #fff;
	margin: 0; }

ul.menu li a:hover {
	background: #666;
	text-decoration: none; }

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover {
	background: #fff;
	text-decoration: none;
	color: #bd1a8d; }

.admintab {
	position: absolute;
	right: 0; }

/*- Headings */

h1, h2, h3 { font: 1em 'Trebuchet MS', Verdana, Sans-Serif; }
h3.spip {font-size:160%;}

.page_index h1 {
	font-size: 3em;
	letter-spacing: -1px;
	font-weight: bold; }

/* home page */
.page_index div.item.article {padding-left:80px;margin: 0 0 3em;min-height: 80px;position: relative;}
.page_index div.item.article .spip_logos {position: absolute;top:0;left:0;}
.page_index div.item.article .introduction {margin-bottom: 0;}

.page_item h1, .primary h2 { /* For use on Pages */
	margin: 0; padding: 0;
	letter-spacing: -1px;
	font-weight: normal; }
.page_item h1, .page_mois h1, .page_jour h1, .page_item .vevent .summary { font-size: 2.2em; }
.primary h2 { font-size: 1.6em; }

.secondary h2 { /* Secondary H2 is sidebar headlines */
	font-size: 1.5em;
	font-weight: normal;
	padding: 0;
	display: inline; }

.page_item h1, h2, h2 a { color: #444; }
.page_item h1, h2, h2 a, h2 a:hover { text-decoration: none; }

.itemhead { clear: both; margin: 10px 0; }
.itemhead .spip_logos { margin: 0 0 10px 10px; float: right;}
.itemhead.hasevent .spip_logos {display: none;}
.itemhead.hasevent h1 {display: none;}

.navigation { width: 100%; margin: 0.5em 0 2em 0; }
.navigation div { width: 49%; }
.navigation .alignleft { text-align: left; }
.navigation .alignright { text-align: right; }
.navigation, .navigation a { color: #999; }

.secondary > div {
	margin: 20px 0 0;
	padding: 0; }
.secondary > div li img {
	vertical-align: text-bottom;
    float:none;
    margin:0;
}

.metadata { /* Time and category for blog entries */
	color: #777; }
small.metadata { display: block; }
span.metadata { display: inline; }

/*- Primary Contents */

.pagination {text-align: right;}
.ajaxbloc {position: relative;}
.image_loading {position: absolute;top:0;left: 0;}

.itemtext { clear: both; }
.page_item .primary .itemtext {font: 1em/1.5em 'Lucida Grande', Verdana, Arial, Sans-Serif;}

ul.plan {margin: 1.5em 0;padding: 0.75em 0;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
ul.plan,ul.plan ul {list-style-type: disc;padding-left: 25px;}
ul.plan li {padding: 0.375em 0;}

.liste-items.events {margin-bottom: 3em;}
.liste-items.events .event {padding:0.375em 0;padding-left: 150px; clear:both;}
.liste-items.events .event:hover {background-color: #eee;}
.liste-items.events .event .date {display:block;float: left;width: 140px;margin-left: -150px;}

/* Liste en 2 colonnes */
.demilist ul { margin: 0; padding: 0 !important; list-style: none; }
.demilist ul li { display: block; clear: none; width: 230px; float: left; margin: 0; padding: 0;
margin-right: 20px; margin-bottom: 1em; }
.demilist ul li p { width: 200px; margin: 0 !important; padding: 0; }

/* Aperos : damiers des villes */
ul.damier { margin: 0; padding: 0; list-style: none; text-align: center; }
ul.damier li { display: block; width: 124px; height: 140px; float: left; margin: 0 !important; padding: 0; position: relative;}
ul.damier li h2 { margin-bottom: 0; padding: 0; text-transform: uppercase; font-size: 1.0em; letter-spacing: 0.1em; position: absolute;bottom: 100px;left:0;width: 124px;text-align: center}
ul.damier li .spip_logos {position:absolute; bottom:-100px;left:20px;}

.liste-items.sites .site {padding-left: 30px;min-height: 30px;position: relative;}
.liste-items.sites .site .spip_logos {float: none;position: absolute;top:3px;left: 0;}

/*- Various Tags and Classes */

.clear {
	clear: both;
	margin: 0;
	padding: 0; }

.center { text-align: center; }
.alignright { float: right; }
.alignleft { float: left; }

.tags {
	padding: 1px 10px;
	background: #f3f3f3;
	border: 1px solid #ddd;
}

small {
	font-size: .9em;
	line-height: 1.4em; }

small, strike {
	color: #777; }
	
code, tt, .spip_cadre { font: 1.1em 'Courier New', Courier, Fixed; }
.spip_cadre { width: 98%; margin: 0; border: 1px inset; }

acronym, abbr {
	border-bottom: 1px dotted;
	cursor: help; }

q, blockquote { font: 1.1em "Times New Roman", Times, serif; }
blockquote {
	margin: 1em 0;
	padding: 1em 1.4em;
	background: #eee url('images/quote.png') 10px top no-repeat;
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
	border: none; }

/*- Begin Lists */
/*.itemtext ol, .itemtext ul {
	padding: 0 0 0 35px;
	margin: 0; }

.itemtext ol li, .itemtext ul li {
	margin: 0 0 3px;
	padding: 0; }*/

.secondary ul, .secondary ol, .secondary > div > div {
	margin: 5px 0 0;
	padding-left: 0; }

.secondary ul {
	_margin-left: 0; /* IE Fix */
}

.secondary ol {
	margin-left: 15px; }

.secondary ul li, .secondary ol li {
	margin: 0;
	padding: 1px 0; }
	
.secondary ul li {
	list-style-type: none;
	list-style-image: none; }

ol li { list-style: decimal outside; }

/* Mettre tout de meme des puces sur les listes spip ! */
ul.spip, ol.spip { margin:0 !important; padding:.5em 0 1em 2em !important;}
ul.spip li {list-style-type: square !important;}
ol.spip li {list-style-type: decimal !important;}
ul.spip li,
ol.spip li {margin:0 !important; padding:0 !important; line-height:1.5em;}
ul.spip li li {list-style-type: disc !important;}


/* Boussole : liens vers les sites de la galaxie SPIP */
#boussole a { display: table-cell; width: 50px; height: 50px; float: left; margin: 0 15px 15px 0; vertical-align: bottom; text-align: center; border: none; text-decoration: none; behavior: url(win_png.htc); }
#boussole a#logo-spip { width: 115px; height: 115px; }

/* Herbier (voir : http://www.spip-herbier.net/syndication ) */
#herbier {
	/*width: 185px;*/
	background: #333;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 5px;
	text-align: center;
	/*font: 12px Verdana, sans-serif; 
	text-transform: uppercase;
	letter-spacing: 2px;*/
}
#herbier a { color: #ccc; text-decoration: none; }
#herbier h2 { color: #ccc !important; }
#herbier img { border: none; margin: auto; padding-top: 2px; float: none;}

/* Pied de page */
#footer p { text-align: center; }
#footer, #footer a { color: #fff; }
#footer a { font-weight: bold; text-decoration: none; }
#footer a:hover { text-decoration: underline; }

/*- Links */
a { color: #913D92; text-decoration: none; }
a:hover { text-decoration: underline; }
h2 a:hover, h2 span a:hover { color: #799FCF; }

/* Peace and forgiveness */
/* Learn more about the other K2: http://en.wikipedia.org/wiki/K2 */
