/** */
.gpMap, div.olMap
{	cursor:default !important;
	font-size:12px;
}

.gpMainDivClass
{	font-size:12px;
}

/** Affichage des palettes */
.gpControlFloating
{	font-size:12px;
}
.gpControlFloating .gpControlFloatingBody label, 
.gpControlFloating .gpControlFloatingBody input, 
.gpControlFloating .gpControlFloatingBody select,
.gpControlFloating .gpControlFloatingBody input[type="button"],
.gpControlLocationUtilityServiceGeoNamesResults,
.gpControlLocationUtilityServiceGeocodeResults
{	font-size:1em;
}
span.gpFormSmall 
{	font-size:0.8em;
}

.gpControlGraphicScale,.gpControlInformation select
{	font-size:9px;
}
.gpControlProjections, .gpControlCopyright,
.gpControlMousePosition input
{	font-size:10px;
}
.gpControlMousePosition
{	font-size:11px;
}
/** */
img.gpGeocodeMatchCodeMatchType
{	position:static;
}

.gpGroupDivClass
{	max-height:350px;
}

.gpControlPanelToggleItemInactive
{	background-image: url("picto_options_off.png") !important;
}
.gpControlPanelToggleItemActive
{	background-image: url("picto_options_on.png") !important;
}

.gpControlInformationMinimized {
  height: 18px;
}

/** Affichage des images */
#jqDialog.viewer
{	border:0;
}
#jqDialog.viewer .jqCloseButton
{	top:-5px;
	right:-5px;
}
#jqDialog.viewer .jqDialogBlock
{	margin:0!important;
	padding:0!important;
}
#jqDialog.viewer .jqDialogInner
{	border:10px solid white;
	margin:0;
	padding:0;
}

/** Popup sur la carte **/
.Anchored, .gpPopup
{	font-size:1em;
	background-color:#FFC!important;
	border:0!important;
}
.FramedCloud
{	font-size:1em;
}

.olPopupContent,
.olFramedCloudPopupContent
{	overflow:hidden;
	padding:0.5em;
}

.olPopupContent p,
.olFramedCloudPopupContent  p
{	margin:0;
	padding:0;
}
.olPopupContent .titre, 
.olFramedCloudPopupContent .titre, 
.gpPopup .gpPopupContent .gpPopupHead
{	font-size:1em;
	font-weight:bold;
	margin:0;
	background:transparent;
}

.olPopupContent .spip_logos,
.olFramedCloudPopupContent .spip_logos,
.Anchored_hover .document .spip_logos
{	margin:0 0.5em 0 0;
	float:left;
}
.olPopupContent small,
.olFramedCloudPopupContent small
{	color:Maroon;
	padding-left:20px;
}
.olPopupContent a,
.olFramedCloudPopupContent a
{	color:Navy;
}

.olPopupContent .document,
.olFramedCloudPopupContent .document
{	text-align:center;
}
.olPopupContent .document .spip_logos,
.olFramedCloudPopupContent .document .spip_logos
{	margin:auto;
	float:none;
}

.Anchored_hover .olPopupContent
{	overflow:hidden;
}
.Anchored_hover .document
{	text-align:left;
}

.olPopupCloseBox, .gpPopupCloseBox
{	background:transparent url("close.png") no-repeat scroll 0 0;
	overflow:hidden;
}
.olPopupCloseBox:hover, .gpPopupCloseBox:hover
{	background:transparent url("close.png") no-repeat scroll 0 -17px
}

/** Affichage des popup Spip */
.SpipPopupBack
{	background-image:url("popup-back.png");
}
.SpipPopupTL
{	background-position: left top;
	background-repeat: no-repeat;
}
.SpipPopupTR
{	background-position: right top;
	background-repeat: no-repeat;
}
.SpipPopupBL
{	background-position: left bottom;
	background-repeat: no-repeat;
}
.SpipPopupBR
{	background-position: right bottom;
	background-repeat: no-repeat;
}
.SpipPopupC
{	height:5px;
	width:0;
}

.SpipPopup .olPopupContent
{	padding:10px;
}

.SpipPopup p.titre
{	margin-bottom:5px;
}
.SpipPopup .olPopupCloseBox
{	top: 0px!important;
	right: 0px!important;
	margin: 9px 8px 0 0;
}

/** Popup Classic */
.SpipPopupClassicBack 
{	background-image:url("popup-backclassic.png");
}
.SpipPopupClassicC
{	height:32px;
	width:30px;
}
.SpipPopupClassicCbr,
.SpipPopupClassicCbl
{	background:url("popup-back-bot.png") no-repeat center;
}
.SpipPopupClassicCtl,
.SpipPopupClassicCtr
{	background:url("popup-back-top.png") no-repeat center;
}

/** Popup avec ombre */
.SpipPopupShadowBack
{	background-image:url("popup-backombre.png");
}
.SpipPopupShadow .olPopupContent
{	padding:10px;
}
.SpipPopupShadowC
{	height:35px;
	width:42px;
}
.SpipPopupShadowCbr,
.SpipPopupShadowCbl
{	background:url("popup-backombre-bot.png") no-repeat;
}
.SpipPopupShadowCtl,
.SpipPopupShadowCtr
{	background:url("popup-backombre-top.png") no-repeat;
}
.SpipPopupShadow .olPopupCloseBox
{	margin: 10px 18px 0 0;
}

/** Popup avec jqBubble */
.SpipPopupjqBubbleBack
{	background-image:url("poup-jqBubble.png");
}
.SpipPopupjqBubble .olPopupContent
{	padding:10px 5px 10px 10px;
}
.SpipPopupjqBubbleC
{	height:11px;
	width:13px;
}
.SpipPopupjqBubbleCbr,
.SpipPopupjqBubbleCbl
{	background:url("poup-jqBubble-bot.png") no-repeat;
}
.SpipPopupjqBubbleCtl,
.SpipPopupjqBubbleCtr
{	background:url("poup-jqBubble-top.png") no-repeat;
}
.SpipPopupjqBubbleCtl .olPopupCloseBox
{	margin: 10px 18px 0 0;
}

/** Popup avec qTip */
.SpipPopupqTipBack
{	background-image:url("popup-qtip.png");
}
.SpipPopupqTip .olPopupContent
{	padding:10px 5px 10px 10px;
}
.SpipPopupqTipC
{	height:30px;
	width:36px;
}
.SpipPopupqTipCbr
{	background:url("popup-qtip-br.png") no-repeat;
}
.SpipPopupqTipCbl
{	background:url("popup-qtip-bl.png") no-repeat;
}
.SpipPopupqTipCtl
{	background:url("popup-qtip-tl.png") no-repeat;
}
.SpipPopupqTipCtr
{	background:url("popup-qtip-tr.png") no-repeat;
}
.SpipPopupqTip .olPopupCloseBox:hover, .SpipPopupqTip .gpPopupCloseBox:hover,
.SpipPopupqTip .olPopupCloseBox
{	background-image:url("close-tip.png");
}

/** Popup pensee */
.SpipPopupThinkBack
{	background-image:url("popup-think.png");
}
.SpipPopupThinkC
{	height:42px;
	width:40px;
}
.SpipPopupThinkCbr,
.SpipPopupThinkCbl
{	background:url("popup-think-bot.png") no-repeat;
}
.SpipPopupThinkCtl,
.SpipPopupThinkCtr
{	background:url("popup-think-top.png") no-repeat;
}

.SpipPopupThink .olPopupContent
{	padding:17px 5px 10px 17px;
}
.SpipPopupThink .olPopupCloseBox
{	margin: 16px 14px 0 0;
}

/** Popup pensee */
.SpipPopupBlackBack
{	background-image:url("popup-black.png");
}
.SpipPopupBlack .olPopupContent
{	color:#eee;
	padding:10px 5px 10px 10px;
}
.SpipPopupBlack a
{	color:#ddd;
}

.SpipPopupBlack .olPopupCloseBox:hover, .SpipPopupBlack .gpPopupCloseBox:hover,
.SpipPopupBlack .olPopupCloseBox
{	background-image:url("close-black.png");
}
.SpipPopupBlackC
{	height:20px;
	width:28px;
}
.SpipPopupBlackCbr,
.SpipPopupBlackCbl
{	background:url("popup-black-bot.png") no-repeat;
}
.SpipPopupBlackCtl,
.SpipPopupBlackCtr
{	background:url("popup-black-top.png") no-repeat;
}

div.gpMap img {
    border: 0 none!important;
    margin: 0!important;
    padding: 0!important;
}