/* Definition des styles dans l'interface privee (ne pas afficher l'API mais une image */
.GeoportalMapDiv
{	width:100%;
	height:250px;
	border:1px solid;
	background:url(geoportail.jpg) center center;
}

.carto_slide
{	width:100%;
	height:400px;
}

label.geoservice
{	width:10em;
	text-align:right;
	display:inline-block;
	padding-right:0.5em;
}

.verrou_location
{	background:url(verrou.png) bottom left no-repeat;
	padding:0 16px;
	line-height:16px;
	display:block;
	cursor:pointer;
	margin-bottom:2px;
}

a.mode
{	color:White;
	background-color:#369;
	padding:0 0.5em;
	margin:0;
}

.carto_slide
{	border:0;
}

/* Pour faire patienter */
#query_back
{	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(waiting.gif);
}

#query
{	background-color:White;
	border:2px solid black;
	font-size:0.9em;
	width:400px;
	height:450px;
}
#query .jqCloseButton
{	border:0;
	background:transparent url("closebox.png") no-repeat 0 0;
	width:28px;
	height:25px;
	float:right;
	cursor:pointer; 
	margin:1em; 
	padding:0;
}
#query .jqCloseButton:hover
{	background-position:0 -25px;
}
#query p
{	padding:0 0.5em;
	margin:1em; 
	font-weight:bold;
	color:Navy;
	text-align:left;
}
#query ul
{	width:80%; 
	height:80%; 
	overflow-x:hidden; 
	overflow-y:scroll; 
	border:1px solid navy; 
	padding:0; 
	margin:0.5em 1.5em;
	list-style-type:none;
	text-align:left;
}
#query ul a
{	padding:0 1em; 
	display:block;
	color:Navy;
}
#query ul a:hover
{	background-color:#369;
	color:White;
	display:block;
	text-decoration:none;
}

/** Pour spip v3
*/
.geoportail_config .cadre-icone
{	width:auto!important;
}
.geoservice_tous .inner,
.geoservice .inner,
.geoportail_config_options .inner,
.geoportail_config_rgc .inner,
.geoportail_config .inner
{	border-width:2px;
}
