/* ----------------------------------------------
Turquoise CSS Theme for WordPress - http://wordpress.org/
By Laura Blalock - http://imaginaryworld.net
Licensed under the GNU GPL - See http://www.gnu.org/ for details
---------------------------------------------- */
body{background-image:url(images/bgd.gif); color:#000; position:relative; text-align:center; margin: 0; font-family:"Gills Sans", "Lucida Grande", "Lucida Sans Unicode", Trebuchet, Helvetica, Tahoma, Verdana, Arial, sans-serif;}
a img {border:0;}
blockquote{color:#333; font-style:italic; border-bottom:2px solid #825e66; border-top:2px solid #825e66; padding:3px;}
blockquote p{text-indent:0em;line-height:1.2em;}

/* Headers */
h1 {font-family:lucida calligraphy, "Brush Script MT",cursive, serif;text-align:center;}
h1,h2{color:#222;}
h2 {text-shadow: 0.1em 0.1em 0.1em #666; font-size:1.2em; text-align:right;}
h2,h3, h4{font-family:Chicago, Helvetica, sans-serif; letter-spacing: 0.15em;}
h3{text-align:left; font-size:1em;}
h3, h4{margin-top:2px;margin-bottom:2px; text-shadow: 0.2em 0.2em 0.1em #ccc;}
h4{color:#000;font-size:1em;}

form {margin: 0;	padding: 0;}
input, textarea {background-color: #eee;border: 1px solid #aaa;	font-size:95%; }

blockquote {font-size: 90%;}
	
#rap,.credit {background:transparent url(images/body.gif) repeat-y;width:800px; margin:0 auto; overflow:auto;}

#header {background-image:url(images/head.gif); background-repeat:no-repeat; height:90px; border:none; margin:0; text-align : left; padding:90px 0 0 70px; font-size:50px;} 
#header a {	color: #000; text-decoration: none;}
	
#content{margin-left:60px; background:transparent; width:440px; float:left; text-align:left;  line-height:21px;}
#content ul{list-style-image:url(images/lightarrow.gif);}
#content a, #nav a, #footer a{color:#2e7474;}
#content a:hover, #nav a:hover, #footer a:hover{color:#000;}

#menu {	margin-right:20px; width:175px; float:right; padding:0px; font-size:.9em; text-align:left; overflow:hidden;}
#menu form { margin: 0;}
#menu input { background: #eee;	border: 1px solid #111;}
#menu ul {margin: 0; padding: 0 10px 0 0; list-style-type: none; color: #111;}
#menu ul li {margin: 10px 0 10px 0; list-style:none; font-weight:bold;}
#menu ul ul {list-style-type: none;	margin: 0; padding: 0;text-align: left;}
#menu ul ul li {font-weight:normal; list-style:square; list-style-image:url(images/darkarrow.gif); margin:0 0 5px 40px; text-indent:0; padding:0;}
#menu a{color:#000; text-decoration:none;}
#menu a:hover{color:#2e7474; text-decoration:underline;}

.credit{clear: both; color: #333; font-size: 90%;text-align: center;}

.post {text-align: left;}
.storytitle {margin: 0;	padding: 0;	font-weight: normal;}
.storytitle a {	text-decoration: none;}

.meta {font-size: 85%;}
.meta, .meta a {color: #777;}
.meta ul {margin: 0; padding: 0; list-style: none; display: inline;}
.meta li {display: inline;}

.feedback {	color: #ccc;text-align: left;}

#commentform input, #commentform textarea {background: #fff;	border: 1px solid #aaa;}
#commentform textarea {width: 100%;}

#wp-calendar {	border: none;	empty-cells: show;	margin: 0;	width: 90%;}
#wp-calendar #next a {padding-right: 10px;	text-align: right;}
#wp-calendar #prev a {padding-left: 10px;	text-align: left;}
#wp-calendar a {display: block;	text-decoration: none;}
#wp-calendar caption {color: #111;    font-weight: bold;	text-align: center;}
#wp-calendar td {color: #777; padding: 2px 0;	text-align: center;}
#wp-calendar #today {background: #D5FFFF;	color: #000;}
#wp-calendar th {font-style: normal;	text-transform: capitalize;}