/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

#hierarchie { clear: both; margin-bottom: 2em; margin-top:0; font-size: 0.90em; }
#hierarchie { color: #666; }

.cartouche { margin-bottom: 2em; overflow:auto; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { font-weight: bold; color: #666; line-height: 1.4em;}
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }


/* start - table */
table.spip {width: auto;}
table.spip caption {background: none;}
table.spip th {
	background: #F49500;
	color: #fff;
	text-align: left;
	border: 1px solid #211E20;
}
table.spip th a {color:white;}

table.spip tr,
table.spip tr.row_odd td,
table.spip tr.row_even td {color: #5b5b5b;background-color:transparent;}
table.spip td {border: 1px solid #111;}
/* end - table */

h1, .h1, h2, .h2, h3, .h3, #nom_site_spip {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;color: #F49500;}
h2, .h2 {text-transform: uppercase;}
h3, .h3 {text-transform: uppercase;letter-spacing: 2px;}

p, blockquote, ul, ol {text-align: justify;}

blockquote {background: url(img/img05.gif) repeat-y;border:0;}

.spip_code { color:#5B5B5B;}
.spip_cadre {color:#252016;border:1px solid #eee;border-top:4px solid #888;/* white-space: pre; */background: #fff;}

hr.spip{width:40%; border:1px solid #888; border-bottom:0;}

a, a:active, a:focus, a:link, a.spip_in, a.spip_out,a.spip_url,a.spip_glossaire {color: #F49500;}
a:visited{color: #9D7636;}
a:hover {text-decoration: none;}

.formulaire_spip fieldset legend {font-size: 1em;}

/* Listes d'articles et extraits introductifs */
.liste .liste-items .item h3 { margin: 0; }
.liste .liste-items .item h3 a {text-decoration:none;}
.liste .liste-items .item h3 a:hover {text-decoration:underline;}
.info-publi {margin-top:-.5em; font-size:80%;}
.liste .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.liste .item .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.liste .item .introduction { margin:0.3em 0;line-height: 1.40em; }
.liste .item .introduction>p:last-child { margin-bottom:0;}
.meta-publi {margin-top:0em; margin-bottom:0.8em;}


/* Header */
#header h1, #header h2, #header #nom_site_spip,  #header a, #header #slogan_site_spip  {text-transform: lowercase;font-weight: normal;color: #FFFFFF;text-decoration:none;}
#header .accueil img {display:none;}
#header h1, #header #nom_site_spip {float: left;padding: 120px 0 0 20px;font-size: 36px;margin-bottom: 0;}
#header h2, #header #slogan_site_spip  {float: right;padding: 134px 20px 0 0;font-size: 22px;}
#header .formulaire_menu_lang { position: absolute;right: 0;top: 10px;display: block;margin:0;width: 235px;padding:0;background:none;border:0;}


/* Menu */
#nav .menu-items {border: 0;}
#nav .item {float: left;padding: 0;margin: 0;}
#nav a {display: block;float: left;padding: 17px 20px 0 20px;background: url(img/img03.gif) no-repeat;text-transform: uppercase;
	text-decoration: none;font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;color: #D8D8D8;height: 33px;}
#nav a:hover {color: #FFFFFF;}
#nav .first a {background: none;}
#nav .item .menu-items{display:none;}

/* Links */
#links .liste-items,#links .menu-items {border: 0;}
#links .item {background: url(img/img06.gif) repeat-x left bottom;border: 0;}

#links .menu-items .menu-items {margin-bottom: 1em;}
#links .menu-items a,#links .item a {text-decoration: none;}

#links .menu-items a:hover,#links .item a:hover {text-decoration: underline;}

#links .menu-items i,
#links .item i {font-style: normal;font-size: 0.8em;}

/* Footer */

#footer, #footer img {vertical-align:middle;}
#footer .copyleft {line-height:2em;}