body {
	margin: 0px;
	padding: 0px;
	background: aqua;
	color: #7092a9;
}

#rap {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
}

#header {
	padding-left: 15px;
	background: no-repeat url(images/header-background.png) center bottom transparent;
	padding-bottom: 25px;
	color: gray;
	border-bottom-style: solid;
	margin-top: 25px;
	margin-bottom: 0px;
	font: 24px "Arial Black";
	border-bottom-color: #4b4462;
}

#header a {
	text-decoration: none;
	color: maroon;
}

#content {
	padding: 5px;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background: white;
	width: 540px;
	margin-right: 540px;
	font: 10px Helvetica, Arial;
}

#menu {
	margin-left: 540px;
	position: absolute;
	border-right: 1px solid #999999;
	width: 219px;
	top: 86px;
	background: white;
	border-bottom: 1px solid #999999;
}

#menu ul
{
	color: black;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
}

#menu ul li
{
	font-family: Arial Black, Helvetica, 'Lucida Grande';
	background: url(images/menuul.png) no-repeat;
	font-size: 10px;
	margin-top: 10px;
	padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: #EEE;
}

#menu ul ul
{
	list-style-type: none;
	background: none;
	line-height: 100%;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: left;
}

#menu ul ul li
{
	border: 0;
	background: none;
	font-family: 'Lucida Grande', Helvetica, Arial;
	font-size: 10px;
	font-weight: normal;
	margin-top: 0;
	padding: 0 0 3px 8px;
}

#menu ul ul li a
{
	color: #666;
	text-decoration: none;
}

#menu ul ul li a:hover { text-decoration: underline; }

#wp-calendar
{
	empty-cells: show;
	font-size: 12px;
	margin: 0;
	width: 140px;
}

#wp-calendar #next a
{
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a
{
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a
{
	display: block;
	text-decoration: none;
}

#wp-calendar a:hover
{
	background: #e0e6e0;
	color: #333;
}

#wp-calendar caption
{
    background: none;
	color: white;
	font-family: 'Arial Black';
	font-size: 10px;
	text-align: left;
}

#wp-calendar td
{
	color: #555;
	font: normal 8px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td.pad:hover { background: #fff; }

#wp-calendar td:hover, #wp-calendar #today
{
	background: #ddd;
	color: black;
}

#wp-calendar th
{
	font-style: normal;
	color: #666;
	text-transform: capitalize;
}

.post {
	width: 520px;
	margin: 0px;
	padding: 0px;
}

.storytitle {
	background: no-repeat url(images/storytitle.png);
	margin: 0px;
	font-weight: normal;
	font-family: "Arial Black";
	padding-top: 1px;
	text-decoration: none;
	padding-bottom: 10px;
	padding-left: 15px;
}

.storytitle a {
	color: white;
	text-decoration: none;
	background: 9999FF;
}

.storytitle a:hover {
    color: #DDD;
}

.storycontent {
	margin: 0px;
	background: repeat-y;
	padding: 5px 15px 5px 15px;
}

.storycontent a {
	color: #4b4462;
	text-decoration: none;
}

.storycontent a:hover {
    text-decoration: underline;
}

.meta {
	background: repeat-y;
	padding-left: 25px;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.meta li {
	display: inline;
	list-style: none;
}

.meta a {
	text-decoration: none;
	color: #4b4462;
}

.meta a:hover {
    text-decoration: underline;
}

.feedback a {
	color: #4b4462;
	text-decoration: none;
}

.feedback {
	padding-bottom: 10px;
	padding-left: 25px;
}

.credit {
    width: 760px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}