

.cadre-icone { top: -24px; padding:2px; background:#FFFFFF; border:1px solid #CCCCCC; }
.barre_onglet .cadre-icone { left: 4px; }
.barre_onglet a, .barre_onglet strong { padding-left:38px; }
.icone.horizontale a, .icone.horizontale .submit { line-height: 1.1em; }
.galerie.media-image h2 {  min-height:20px; }