/* RAZ.CSS                                                              */
/* Cette feuille contient:                                              */
/* - une raz de tous les styles pour uniformiser les navigateurs        */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* Correction des styles par defaut / mise a zero multinavigateurs      */
/* -------------------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul,li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { contenu:''; }
abbr,acronym { border: 0; }
ins { text-decoration: none; }