.ui-datepicker {
	display:block;
	padding:0.2em 0.2em 0;
	width:17em;
	font-size:0.9em;
}

.ui-widget-header {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-image:none;
	background-color:#CCCCCC;
	border:1px solid #AAAAAA;
	color:#222222;
	font-weight:bold;
}

.ui-widget-content {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-image:none;
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	color:#222222;
}

/* Jours quelconques du mois */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-image:none;
	background-color:#E6E6E6;
	border:1px solid #D3D3D3;
	color:#555555;
	font-weight:normal;
}

/* Jour J */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-image:none;
	background-color:#FBF9EE;
	border:1px solid #FCEFA1;
	color:#363636;
}

/* Jour Actif */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-image:none;
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	color:#212121;
	font-weight:normal;
}

/* Jours des mois precedent/suivant */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	background-image:none;
	opacity:0.35;
}