.page_livrables #extra {display:none}
.page_livrables #conteneur {background-image:none !important; background-color:#fff !important}
.page_livrables #contenu {width:auto !important}
table.spip.large {margin-right:15px;}

.del {text-decoration:line-throught !important;}