@import "css/variables.less";
@import "css/mixins.less";

.page {padding-top: @navbarHeight;} /* place pour la barre static */

/* typo : plus d'air */
p, ul, ol {margin-bottom: @baseLineHeight;}
.liste-items {  p, ul, ol {margin-bottom: @baseLineHeight/2;}}

// faciliter la reconaissance des liens dans le contenu texte principal
article {.main a,footer a {text-decoration: underline;}}

/* prise en charge de typo couleur */
.noir {color:@black}
.blanc {color:@white}
.rouge {color:@red}
.vert {color:@green}
.bleu {color:@blueDark}
.jaune {color:@yellow}
.gris {color:@gray}
.marron {color:@red / 4 + @orange / 4 + @black / 2}
.violet {color:@purple}
.rose {color:@pink}
.orange {color:@orange}

.secondary [class^="icon-"],
.secondary [class*=" icon-"] {opacity: 0.5;filter: ~"alpha(opacity=50)";}

.cartouche {margin-bottom: @baseLineHeight;}
ul.tags {list-style: none;display: inline; li {display: inline; a {color:inherit;} .sep {display: none;}}}
div.socialtags {clear: none;display: inline;display: inline-block;}
.main {
  .clearfix;
  margin-bottom: @baseLineHeight;
  .texte, .chapo {.clearfix;margin-bottom: @baseLineHeight;}
}
section > footer, article > footer {.clearfix;margin-bottom: @baseLineHeight;}
section > aside, article > aside {.clearfix;margin-bottom: @baseLineHeight;}

.documents .liste-items,.liste-items.documents {
  .introduction {color: @gray;}
}

/* Bandeau superieur */
.header {position: relative;}
.accueil h1 small {display: block;}
.accueil a {color: inherit;}
.accueil .spip_logos {float: left;margin:@paddingLarge;margin-left: 0;margin-top: 0;}

/* form recherche */

.formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.bandeau .recherche {max-width: 4*@gridColumnWidth+3*@gridGutterWidth;position: absolute;top:0;right: 0;margin:@paddingLarge;margin-right: 0;margin-left: 0;}
.bandeau .formulaire_recherche {margin-bottom: 0;}
@media (min-width: 1200px) {
  .bandeau .recherche {max-width: 3*@gridColumnWidth1200+2*@gridGutterWidth1200;}
}
@media (min-width: 768px) and (max-width: 979px) {
  .bandeau .recherche {max-width: 4*@gridColumnWidth768+3*@gridGutterWidth768;}
}
@media (max-width: 768px) {
  .bandeau .recherche {max-width: 3*@gridColumnWidth768+2*@gridGutterWidth768;}
}
@media (max-width: 550px) {
  .bandeau .recherche {width: 100%;max-width: 100%;position: relative;}
}

/* une et edito*/
.edito, .une {font-size: @baseFontSize+1px;line-height: @baseLineHeight;font-weight: 200;}
.edito p, .une p {font-size: inherit;line-height: inherit;font-weight: inherit;}
.hero-unit.edito,.hero-unit.une {padding: @baseLineHeight * 1.5;}
.edito {.info-publi, .meta-publi, .social {display: none}}

/* herbier */
.noisette_herbier .liste.herbier .item .spip_logos {display: block;}
.noisette_herbier .liste.herbier.carousel {
   text-align: center;

  .liste-items {border: 0;}
  .liste-items .item {width: 100%;border:0;}
  .liste-items .entry-title {font-size: inherit;line-height: inherit;}
  .liste-items .entry-title a {display: block;max-height: 100px;overflow: visible;margin-bottom: 3em;}
  .liste-items .spip_logos {
    max-width: 90%;
    max-height: 100px;
    float: none;
    display: block;
    margin:0 auto 1em;
  }
}

/* agenda/calendrier */
.minicalendar > h2 {display: none;}
.minicalendar {margin: 0;}

.nav_recherche {
  &>h2 {display: none;}
  .recherche>strong {display: none;}
}
.nav_recherche.multiples {
  &>h2 {display: block;}
  .recherche>strong {display: block;}
  .recherche>strong small {float: right}
  label {display: none}
}

/* meteo */
.entry.meteo .spip_logos {background: none;border:0;box-shadow: none;}

/* twidget */
.twidget {background-color: @wellBackground;.border-radius(@baseBorderRadius);}
.twidget .twtr-doc {width: 100% !important;}

/* resultats */
.resultats .liste-items .entry .info-publi {display: block;margin-bottom: 0;}
.resultats .liste-items .entry .entry-content {display: block;margin-bottom: 0;}
.resultats .liste-items .entry .spip_logos {display: inline;max-width: 25px;}

/* pied */
/* badges dans le pied : sprite calculee dans inc_badges */
.noisette_badges .badges a {display: inline-block; margin: 4px; padding: 0; border: 0; width: 80px; height: 15px; background-repeat: no-repeat;background-position: top left;}
.noisette_badges .badges a:hover {text-decoration: none;background-position: bottom left;}
.pied_bas .links {display: inline-block;}

.box_mediabox section {max-width: 7*@gridColumnWidth+6*@gridGutterWidth;}
.box_mediabox #cboxLoadedContent {padding-left: @gridGutterWidth;padding-right: @gridGutterWidth;}
/* Exceptions par page */

/* home */
.page_sommaire .breadcrumb {display: none;}

/* recommander */
.recommander h1 small {display: block;}

/* notation */
.social {div.notation,.notation>.ariaformprop, .formulaire_notation { display:inline;}}

/* page inscription */
.formulaire_inscription .mode {display: none;}

/* page site */
.articles_syndiques .entry-title {font-size: @baseFontSize + 1px;line-height: inherit;font-weight: normal;}

/*forums*/
.forums .groupe {
  td.description {width: 40%}
  td.etat {padding-left: 0;padding-right: 0}
  td.etat img {max-width: 16px;}
  td.dernier_message {
    i {opacity: 0.5}
    time {display: block}
    .auteurs {
      color:@grayLight;
      display: block;
      .sep {display: none;}
    }
  }
}
.forums {
  .cartouche .info-publi {display: none;}
  .comment {
    padding: 0;
    padding-left: 2*(@gridColumnWidth+@gridGutterWidth);
    background: @wellBackground;
    border-bottom: 1px solid @grayLight;
  }
  .comment-meta {
    border:0;
    background: none;
    box-shadow: none;
    float:left;
    width: 2*(@gridColumnWidth+@gridGutterWidth) - @gridGutterWidth - @baseLineHeight;
    margin-left: -2*(@gridColumnWidth+@gridGutterWidth);
    padding:@baseLineHeight/2;
    padding-bottom: @baseLineHeight/2 + 80px;
    position: relative;

    .reviewer {display: block; .sep {display: none;}}

    .spip_logos {
      position: absolute;
      bottom: @baseLineHeight/2;
      left: @baseLineHeight/2;
      max-width: 60px;
    }
    .permalink {
      position: absolute;
      right: 0;
      bottom: @baseLineHeight/2;

    }

    .item {display: none}
  }
  .comment-content {
    padding-left: @gridGutterWidth / 2;
    margin-left: -1*(@gridGutterWidth / 2);
    padding-bottom: @baseLineHeight;
    background: @bodyBackground;
  }
  .boutons.modererforum {
    position: absolute;
    right: 0;
    top:auto;
    bottom: 0;
  }
}