/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 0 -240px 0 0;
	width: 100%;
}
#content {
	margin: 0 280px 0 20px;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 220px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}



/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
{
	font-family: Georgia, "Bitstream Charter", serif;
}
.comments h2,
.comments .repondre,
#barre-nav .menu,
#barre-nav .menu-list ul,
#cancel-comment-reply-link,
.explication,
#nom_site_spip,
#wp-calendar,
.comment-meta,
.comment-message tr th,
.comment-message thead th,
.contenu-principal label,
.contenu-principal tr th,
.contenu-principal thead th,
.info-publi,.meta-publi
h1,.entry-title,
#hierarchie,
.formulaire_forum label,
.pagination,
.page-title,
.pingback p,
.formulaire_forum,
.widget-area h2,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#barre-nav .menu-conteneur,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
	width: 940px;
}
#wrapper {
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
}




/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #f1f1f1;
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	color: #0066cc;
}
a:visited {
	color: #743399;
}
a:active,
a:hover {
	color: #ff4b33;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

#header {
	padding: 30px 0 0 0;
}
#nom_site_spip {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#nom_site_spip a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#slogan_site_spip {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#header img {
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	display: block;
	float: left;
}


/* =Menu
-------------------------------------------------------------- */

#barre-nav {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#barre-nav .menu-conteneur {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#barre-nav .menu-conteneur ul {
	list-style: none;
	margin: 0;
}
#barre-nav .menu-conteneur li {
	float: left;
	position: relative;
}
#barre-nav a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#barre-nav ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#barre-nav ul ul li {
	min-width: 180px;
}
#barre-nav ul ul ul {
	left: 100%;
	top: 0;
}
#barre-nav ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#barre-nav li:hover > a,
#barre-nav ul ul :hover > a {
	background: #333;
	color: #fff;
}
#barre-nav ul li:hover > ul {
	display: block;
}
#barre-nav ul li.on > a{
	color: #fff;
}
* html #barre-nav ul li.on a,
* html #barre-nav ul li a:hover {
	color: #fff;
}


/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}

#content h1,#content .entry-title {
	color: #000;
	font-weight: bold;
	line-height: 1.3em;
}
h1 a:link,
h1 a:visited,
.entry-title a:link,
.entry-title a:visited,
.widget-area h2 a:visited,
.widget-area h2 a:link {
	color: #000;
	text-decoration: none;
}
h1 a:active,
h1 a:hover,
.entry-title a:active,
.entry-title a:hover,
.widget-area h2 a:active,
.widget-area h2 a:hover {
	color: #ff4b33;
}
.info-publi, .meta-publi,#hierarchie {
	color: #888;
	font-size: 12px;
}
.info-publi abbr, .meta-publi abbr{
	border: none;
}
.info-publi abbr:hover,.meta-publi abbr:hover{
	border-bottom: 1px dotted #666;
}
.contenu-principal,
.chapo {
	clear: both;
	padding: 12px 0 0 0;
}
#content .chapo p:last-child {
	margin-bottom: 12px;
}
.contenu-principal fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.contenu-principal fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.contenu-principal input {
	margin: 0 0 24px 0;
}
.contenu-principal input.file,
.contenu-principal input.button {
	margin-right: 24px;
}
.contenu-principal label {
	color: #888;
	font-size: 12px;
}
.contenu-principal select {
	margin: 0 0 24px 0;
}
.contenu-principal sup,
.contenu-principal sub {
	font-size: 10px;
}
.contenu-principal blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.contenu-principal blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.info-publi a,.meta-publi a,
#hierarchie a {
	color: #888;
}
.info-publi a:hover,.meta-publi a:hover
#hierarchie a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}
.liste-items, .items{
  list-style:none;
  margin-left:0px;
  padding-left:0px;  
}

/* =Gallery listing
-------------------------------------------------------------- */

.documents_portfolio img{
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.documents_portfolio a{
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.documents h2{
	padding-top: 4px;
}



/* =Images
-------------------------------------------------------------- */

.spip_documents img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.spip_documents_left{
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.spip_documents_right{
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.spip_documents_center{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.spip_documents_left img,
.spip_documents_center img,
.spip_documents_right img {
	margin-bottom: 12px;
}
dl.spip_documents .hasbox img{
	background: #f1f1f1;
	line-height: 18px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
	margin: 5px 5px 0;
}
dl.spip_documents spip_doc_titre {
	color: #888;
	font-size: 12px;
	margin: 5px;
}

/* =Pagination
-------------------------------------------------------------- */

.pagination {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.pagination a:link,
.pagination a:visited {
	color: #888;
	text-decoration: none;
}
.pagination a:active,
.pagination a:hover {
	color: #ff4b33;
}

/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .pagination {
	padding: 0 0 18px 0;
}
.comments h2,
.comments .repondre, {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
.comments h2 {
	padding: 24px 0;
}
.comments-list {
	list-style: none;
	margin: 0;
}
.comments-list li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.comments-list li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-message ul,
#comments .comment-message ol {
	margin-bottom: 18px;
}
#comments .comment-message p:last-child {
	margin-bottom: 6px;
}
#comments .comment-message blockquote p:last-child {
	margin-bottom: 24px;
}
.comments-list ol {
	list-style: decimal;
}
.comments-list .spip_logos, .comments-list .gravatar {
	position: relative;
	top: 4px;
	left: 0;
}

.comment-author strong.fn,.comment-author strong.n{
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.comment-reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.comment-reply a,
.modererforum button  {
	color: #888;
}
.comment-reply a:hover,
.modererforum button:hover {
	color: #ff4b33;
}
.comment .forum-fil {
	list-style: none;
	margin: 0;
}
.comment .forum-fil li {
	border: none;
	margin: 0;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
.formulaire_forum {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
.formulaire_forum p {
	margin: 0;
}
.formulaire_forum .comment-notes {
	margin-bottom: 1em;
}
.explication {
	line-height: 1em;
}
.comment .forum-fil .formulaire_forum {
	margin: 0 48px 0 0;
}
.comments .repondre {
	margin: 18px 0;
}
#comments-list .formulaire_forum {
	margin: 0 0 18px 0;
}
#comments-list ul .formulaire_forum {
	margin: 0;
}
.modererforum button{
    border:none;
    background:none;
}
.formulaire_forum .obligatoire {
	color: #ff4b33;
	font-weight: bold;
}
.formulaire_forum label {
	color: #888;
	font-size: 12px;
}
.formulaire_forum input {
	margin: 0 0 9px;
	width: 98%;
}
.formulaire_forum textarea {
	width: 98%;
}
.formulaire_forum .explication {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.formulaire_forum .explication code {
	font-size: 11px;
}
.formulaire_forum .boutons {
	margin: 12px 0;
}
.formulaire_forum .boutons input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */
.widget-area h2{/* Sous WP c'est des H3 : on met taille équivalente*/
    font-size:1.17em;
}
.widget-area .liste ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.formulaire_recherche #recherche {/* This keeps the search inputs in line */
	width: 60%;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-area h2 {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget_rss .widget-area h2 img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area .liste {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area .liste ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}

/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 20px;
}
#colophon{
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	text-align:center;
	padding-top: 18px;
}
#copyleft{
    text-align:center;
    padding:9px 0;  
}
/* Coloration code*/
div.coloration_code .spip_cadre{
	margin-left:1.5em;
}
div.coloration_code ol{
	margin-left:0.5em;
	word-wrap: break-word;	
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#barre-nav,
.info-publi,
.meta-publi,
#hierarchie,
.pagination,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#slogan_site_spip {
	-webkit-text-size-adjust: none;
}