body {
	background: none !important;
}
#wrapper {
	clear: both !important;
	display: block !important;
	float: none !important;
	position: relative !important;
}
#header {
	border-bottom: 2pt solid #000;
	padding-bottom: 18pt;
}
#colophon {
	border-top: 2pt solid #000;
}
#nom_site_spip,
#slogan_site_spip {
	float: none;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}
#nom_site_spip {
	font-size: 13pt;
}
.entry-content,.contenu-principal {
	font-size: 14pt;
	line-height: 1.6em;
}
.entry-title, h1 {
	font-size: 21pt;
}
#barre-nav,
#branding img,
#respond,
.comment-edit-link,
.edit-link,
.navigation,
.page-link,
.widget-area {
	display: none !important;
}
#container,
#header,
#footer {
	margin: 0;
	width: 100%;
}
#content {
	margin: 24pt 0 0;
	width: 100%;
}
.spip_images p {
	font-size: 11pt;
}
#colophon {
	width: auto;
}
#main {
	display: inline;
}