/*********************************************************
* CSS screen
* 
* name:     RIAM
*
* date:     2009.12.06 - SpipNoz Party :)
* author:   erational <http://www.erational.org>
* version:  0.6
* licence:  GPL 3
*
**********************************************************/

body {	
  margin: 0;	
  padding: 0;	
  color: #000;	
  text-align:center;  
  font-size:0.9em;
}

#banner,#container,#footer {
  margin: 0 auto;
	width: 850px; 	
	text-align: left;
}


#navbar {
  width:160px;
  margin-top:40px;  
  float:right;
  text-align:right;
}

#aside {  /* menu */
}

#content {     /* central col */
	text-align:left;
	margin:1em auto; 
	width: 610px;
	float: left;
}


#footer {clear: both;} 


/*****************
*   tags
*****************/
body { color: #4C4C4C;	background:#FFF; font-family:Arial, Helvetica, verdana, sans-serif;}
h1,h2,h3,h4,h5,h6,p,div,form { margin:0;padding:0;}
a { color:#FFF;background:#000; text-decoration:none;padding:0 2px;}
a:hover { background:#EEECD8;	color:#4C4C4C;}
img {border:0;}
hr {height:0;border:0;clear:both;}
table {margin:0;border-collapse:collapse;}
table.spip {margin:-0.8em 0 0.6em 0;}
td {font-size:0.8em;}
form { margin: 0;  }
form li {list-style:none;margin:0;padding:0;}
fieldset {border:0;}
legend {background:#fff;padding:0 45px 0 5px;border-bottom:3px solid #666;}
label {display:block;font-weight:bold;}
label span {color:red;}  
textarea {font-family:Arial, Helvetica, verdana, sans-serif;font-size:1em;} /* FF fix*/



/*****************
*   banner
*****************/
#banner {padding-top:2.4em;
        line-height:200%;
        margin-bottom:10px;
}
#banner img {display:none;}
#banner a {padding:0;}
#banner #nom_site_spip { border-top:20px solid #000;width:400px;font-size:2em;}
#banner #nom_site_spip a {background:#FFF;color:#000;padding:0 5px;}
#banner #nom_site_spip a:hover {background:#000;color:#FFF;}
#banner #slogan_site_spip {width:400px; line-height:120%;background:#FFF;color:#666;font-weight:bold;margin:5px 0 0 0;}

#formulaire_menu_lang {float:right;background:#fff; width:160px;position:relative;top:-4em;}
#formulaire_menu_lang label {display:none;}
#formulaire_menu_lang select, #formulaire_menu_lang option {width:160px;}



/*****************
*   navbar
*****************/
#navbar {clear:both;} 

/* menu */
#navbar a {padding:0 4px;}
#navbar h2 {display:none;}
#navbar ul {list-style:none;margin:0 0 1em 0;padding:0;}
#navbar li {padding-top:0.4em;margin-bottom:0.2em;}
#navbar ul ul {border-right:5px solid #000; padding:5px 10px;margin-top:5px;}
#navbar ul ul a {}
#navbar ul ul a:hover{background:#EEECD8;}

#navbar form {font-size:x-small;margin:1em 0;}
#navbar label {display:none;}
#navbar input.text {width:90px;border:1px solid #fff;float:left;margin-right:5px;}
#navbar input.submit {background:#000;border:1px solid #fff;color:#fff;}


/*****************
*  sidebar
*****************/

#sidebar {background:#fff;margin-top:1em;padding:5px;}

/*****************
*   container
*****************/
#container {clear:both;}


/*****************
*   footer
*****************/
#footer {font-size:x-small;padding:0 10px;color:#fff;}
#footer div {float:left;width:630px;padding:10px;background:#fff;}
#footer a {padding:3px;}



/*****************
*   content
*****************/
#content {font-size:0.88em;color:#50534D;	background:#fff;
          line-height:1.4em;
          width:640px;padding:0 5px 10px 5px;
}
#content h1,#content  h2,#content  h3 {font-family:Monaco,Georgia,Serif;color:#000;padding:5px;padding-left:0px;line-height:110%;}
#content h1,
#content h2 { font-size: 2.6em;	margin:0.8em 0 0.4em 0;}
#content h3 {	font-size: 1.2em;	margin:0.3em 0 0.2em 0;}
#content h3 {margin-top:1em;}
#content p{margin:0.2em 0 0.8em 0;}

#content #hierarchie  {margin:1em 0 0 0;background:transparent url(./img/bg_ariane.png) no-repeat center left;padding-left:15px;}
#content #hierarchie a {padding:2px;}
#content #hierarchie a.on {font-weight:bold;}

#content .surtitre {font-weight:bold;margin:1em 0 -1em 0;}
#content .surtitre2 {font-weight:bold;margin:1.2em 0 0 0;}
#content .soustitre {}
#content .texte {}
#content .descriptif {}
#content .chapo {font-weight:bold;margin-bottom:1em;border-top:1px solid #000;color:#000;}
#content .date {clear:both;margin:1em 0; color:#B2B5A5;}
#content .auteur {margin-bottom:1em; color:#B2B5A5;}
#content .auteur a {text-decoration:none;font-weight:bold;}
#content .note {border-top:1px solid #eee;padding-top:0.5em;margin-top:1em;}
#content .pagination {margin:1em 0;}

/* portfolio */
#content .documents_portfolio{margin:1em 0 0 0;border-top:1px solid #000;}
#content .documents_portfolio a {padding:0;background:none;text-align:center;
                                width:160px;height:120px;float:left;}
#content .documents_portfolio img {border:1px solid #eee;}
#content .documents_portfolio img:hover {border:1px solid #697FC7;}


/* forum */
#content a.forum {margin:2.2em 0 1em 0;text-decoration:none;display:block;padding:4px 0 4px 37px;font-weight:bold;color:#B1B686;background:transparent url(../img/but_forum.png) no-repeat center left;}
#content ul#forums {list-style:none;margin:0;padding:0;}
#content ul#forums {margin:2em 0 0 0;padding:0;list-style:none;}
#content ul#forums li {padding:6px;clear:both;}
#content ul#forums li.odd {}
#content ul#forums li.even {background:#fafafa;}
#content ul#forums {text-decoration:none;font-weight:bold;}
#content ul#forums strong {text-decoration:none;font-weight:normal;color:#8D8E8D;background:#efefef;width:80px;border:1px solid #eee;text-align:center;display:block;float:left;margin:3px 8px 3px 0;padding:10px 2px;}
#content ul#forums span {font-weight:normal;color:#8D8E8D;}
#content ul#forums div {font-weight:normal;margin:0.4em 0;padding:0 0 0 95px;}

#content a img {border:1px solid #aaa;}
#content a:hover img {border:1px solid #0171bb;}

/* zpip */
.liste-items {list-style:none;margin:0;padding:0;}
.separateur {display:none;}
.pagination {text-align:right;}
#descriptif_site_spip {font-size:1.8em;float:right;}
#content .cartouche {}
#content .cartouche h1 {margin:0.4em 0 0 0;}
#content .cartouche p {margin:0;font-size:x-small;}

#content .hentry .spip_logos {/*display:none;*/border:0;}

#content .menu .h2,
#content .liste .h2 {display:none;}

.forum {list-style:none;margin:0;padding:0;}
.forum ul {list-style:none;margin:0;}
.forum-message {border-left:10px solid #000;padding-left:20px; }
			


/* ancre */
#pagination_articles,
#forum {display:none;}



/*****************
*   misc
*****************/
.spacer {	clear: both; }


/*****************
*  spip (reprise de dist + spip-contrib)
*****************/

/* lien */
a.spip_out{padding-right:16px;margin-right:4px;background:#000 url(./img/spip_out.png) no-repeat right;color:#fff;}
a.spip_out:hover {background:#EEECD8 url(./img/spip_out_hover.png) no-repeat right;color:#000;}
a.spip_in {color:#000;background:#fff;font-weight:bold;border-bottom:1px #999 dashed;}
a.spip_in:hover {color:#666;}

/* Document (version 2009.10.10) */
.spip_doc_titre {font-size:0.8em;}
dl.spip_documents  {}
.spip_documents a.spip_out {background:transparent !important;text-decoration:none!important;border:0px #fff !important;} /* pour eviter les bordures sur lien img [<img1>->url] */
.spip_documents_left   {  float: left;  margin-right: 8px;  margin-bottom: 8px;}
.spip_documents_right  {  float: right;  padding-left: 8px;  padding-bottom: 8px;}
dl.spip_documents_center,
.spip_documents_center {  display: block !important; float:none;text-align: center;  margin: 5px auto;}
.spip_doc_titre, .spip_doc_descriptif { clear: both; font-size: 0.8em; margin-left: auto; margin-right: auto; }
img.spip_logos {float:right;}
dl.spip_documents a img {border:0 !important;}

/* Paragraphes, citations, code et poesie */
blockquote.spip, .spip_serif { font-family: Georgia, Times, serif; }
blockquote, blockquote.spip {	margin: 1em 0;	padding : 4px 1em 4px 1em;	border: 1px solid #CCC;	border-left:15px solid #DDD;color: #333;}
.spip_poesie {	margin: 1em;	padding-left: 1em;	border-left: 1px solid;	font-family: Garamond, Georgia, Times, serif; }
.spip_poesie div { text-indent: -60px; margin-left: 60px; }
tt, .spip_code, .spip_cadre {	font-family: monospace;	font-style: normal;	font-size: 1.1em;}
.spip_code { color: #888; }
tt { color: #333; }
.spip_cadre {	width: 98%;	padding: 4px; padding-top: 0.5em;	background: #eee;	color: #888;	border: 1px inset #eee;	border-left: 4px solid #888;}
.spip_surligne {background: yellow;}

/* Formulaires */
.reponse_formulaire {padding:5px;background:#efefef;}
.formulaire_ecrire_auteur {margin:1.2em 0 0 0;}
.formulaire_ecrire_auteur label {display:block;}
.formulaire_ecrire_auteur ul {list-style:none;margin:0;}
.formulaire_spip fieldset ul {padding:.2em;}

/* Tableaux */
table.spip {	margin-bottom: 1em; border: 1px solid #000; border-collapse: collapse; font-size:12px;  }
table.spip caption {	caption-side: top;	padding: 3px;	width:100%; text-align:left; padding:15px 0;}
table.spip tr.row_first { background:#000;color:#FFF; }
table.spip tr.row_odd { background: #DDD; }
table.spip tr.row_even { background: #EEE; }
table.spip th, table.spip td { padding: 3px; text-align: left; vertical-align: top; }
table.spip a img {border:0;}
