@charset "utf-8";
/*
Name of Template : Surreal
Author : Roshan
URL : www.ramblingsoul.com
License : Creative Commons Attribution-Noncommercial-Share Alike 3.0 License.
Note : Do not remove the credit links from the template
*/

* {	margin: 0px; padding: 0px;}

/* special spip */
/* menu de langue */
#formulaire_menu_lang{
	position:absolute;
	right:20px; 
	top:15px;
	border:none;
}
#formulaire_menu_lang form{
	background:none;
	border:none;
}
#formulaire_menu_lang label{
	color:#95B95D; display:inline;
	margin-right:5px;
	width:auto;
}
#formulaire_menu_lang select{
	width:auto; 
}
/* /menu de langue */


/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

#hierarchie { margin-bottom: 2em; font-size: 0.90em; }
#hierarchie { color: #666; }

/* Listes d'articles et extraits introductifs */
#content .liste .liste-items { margin-left: 0; padding-left:0; }
#content .liste .liste-items .item { padding: 0.40em 0.20em; list-style-type:none;}
#content .liste .liste-items .item h3 { margin: 0.30em 0 0.1em 0; }
#content .liste .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
#content .liste .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
#content .liste .introduction { margin-top: 0.30em; line-height: 22px; }

/* cartouche */
.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
	background:#fafafa;
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}


/* barre typo */
table.spip_barre{margin:0 0 0 30px;padding:0; width:auto; clear:both;}
table.spip_barre tr{height:auto;}
table.spip_barre tr td{border:0; padding:0;}
table.spip_barre tr td a img{background:#fcfcfc; padding:1px; margin:0 1px 0 0 !important;}
table.spip_barre tr td a:hover img{background:white !important; border-color:#99CC00 !important;}
table .barre{display:none;}
/* */

/* Special Formatting */
code{
	margin: 0 3px; padding:0 2px;
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;  
	background: #FAFAFA;
  	border: 1px solid #f2f2f2;
	color:#444;}
.spip_code{color:#444;}
.spip_cadre {
  color:#666;
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 3px solid #999999;
}



/* */
body {background:url(img/bg.jpg) repeat; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#666666;}
.clear {clear:both;}
#wrap {background:url(img/wrapbg.jpg) repeat-y; width:927px; margin:25px auto 25px auto;}
#header .accueil img {display:none;}
#nom_site_spip {color: #ffffff; font-family: Georgia, "Times New Roman", Times, serif; font-size: 58px; font-weight: normal;	display: block;	padding-top: 140px;	text-align: right; padding-right: 50px;}
#nom_site_spip a {color:#ffffff; text-decoration:none;}
#nom_site_spip a:hover{color:#ffffcc; text-decoration:none;}
#slogan_site_spip {color:white; text-align:right; display: block; padding-right:40px;}
#header {position:relative; background:url(img/header.jpg) no-repeat; height:341px;}

#page {padding:0px 10px 0px 10px;}
#page #menu {float:left; background:url(img/sidemenu.jpg) no-repeat; width:269px; height:382px;}
#page #content {margin:0px; margin-left:275px;padding:0px;padding-right:20px;padding-left:5px;}
#content p {line-height:22px; margin:0px 0px 25px 0px;}
#content h2, .hentry h3 {font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal; font-size:26px; color:#666600; display:block; margin-bottom:20px;}
.hentry h3{margin-bottom:0;}
.hentry h3 a{text-decoration:none;}
#content a {color:#999900;}
#content a:visited {color:#666666;}
#content a:active { color:#99CC00;}
#content a:hover {color:#000000; text-decoration:none;}
#content h2 .seo,
#content .info-publi,
.hentry small,
.cartouche small {display:block; text-align:right; font-size:10px; color:#999999; background:#efefef; padding:3px;}
#content blockquote {display:block; padding:5px; margin:10px; text-align:center; font-family:Georgia, "Times New Roman", Times, serif; color:#996600; background:#F8FDBA; border-top:dashed 1px #666666; border-bottom:dashed 1px #666666;}
#content blockquote p {margin:0px;}
#content blockquote cite {color:#000000; display:block; text-align:right; padding:5px; border-top:solid 1px  #F3ECBE;}
#content img {background:#efefef; margin:5px; padding:5px; border:solid 1px #999;}
#content a:hover img {background:#fafafa; margin:5px; padding:5px; border:solid 1px #89B036;}
#content .alignleft {float:left;}
#content .alignright {float:right;}
#content .postmetadata,
#content .meta-publi {display:block; padding:3px; background: #E3EDAF; line-height:22px;}
#content h1,#content h3,#content h4,#content h5,#content h6 {color:#666600;}
#content ul {list-style:square;  padding:5px; margin:10px 10px 10px 20px;}
#content li {padding:5px; margin-bottom:10px;}
#content ol {padding:5px; margin:10px 10px 10px 20px;}

#browse { background:url(img/postbottombg.jpg) no-repeat; padding:40px 5px 10px 5px;}
#browse .subhead{font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal; padding-left:25px; font-size:26px; color:#666600; display:block; margin-bottom:35px;}
#browse .categoryhead,
#browse .liste h2,
#browse .menu h2  {font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal; padding:5px; font-size:22px; color:#666600; display:block; border-bottom:solid 1px #ffffff;}
#browse .menu h2 a, #browse .liste h2 a {text-decoration:none; padding:0 0 5px 0; color:#666600;}
#browse .menu-liste,
#browse .liste-items {list-style:none;}
#browse .menu-liste .menu-liste,
#browse .liste-items .liste-items {margin-left:10px;}
#browse .item, #browse .menu-entree {display:block; /*height:25px;*/ border-top: solid 1px #EBE6B4;}
#browse .menu-liste a,
#browse .liste-items a {display:block; padding:5px; text-decoration:none; color:#000000;}
#browse a:visited,active{display:block; padding:5px; text-decoration:none; color:#000000;/*border-bottom:solid 1px #D7C479;*/}
#browse a:hover {background:#ffffff; color:#000000;}

.browsecat,
#browse .menu,
#browse .formulaire_spip,
#browse .liste {float:left; width:30%; padding:5px 6px 8px 6px; margin-left:10px; border:solid 1px #F3ECBE; background:#FBFAF0;}
#browse .formulaire_recherche {float:none; width:auto; background:none;}
#browse .formulaire_spip {clear:none; margin-top:0;}
#browse .formulaire_spip li{border:none;}
#browse .formulaire_spip legend{padding-top:1em;}
#browse .formulaire_spip label{width:auto; padding:0; margin:0.5em 5px 0 5px;}
#browse .formulaire_spip .text, #browse .formulaire_spip textarea{width:auto; margin-left:3px;}

#menu h2 {display:block; color:#666600; border-bottom:solid 1px #DFCD95; padding:5px; font-family:Georgia, "Times New Roman", Times, serif; font-size:22px; font-weight:normal;}
#wrap #page #menu #sidemenu { padding: 65px 45px 0px 40px;	display: block;}
#sidemenu h2.recherche { margin-top:1em; border-bottom:0;}

#sidemenu .menu-liste {display:block; list-style:none;}
#sidemenu .menu-entree {display:block; border-top:solid 1px #fff;}
#sidemenu a, #sidemenu a:visited, #sidemenu a:active {display:block; padding:5px; color:#666666; text-decoration:none; border-bottom:solid 1px #DFCD95;}
#sidemenu a:hover{background:#ffffcc;}
#sidemenu .active a,#sidemenu .active a:visited, #sidemenu .active a:active, #sidemenu .active a:hover {background:#ffffcc;}

#browse #formulaire_recherche {clear:none; position:absolute; top:285px; margin:10px 0 0 690px; border:0;}
#browse #formulaire_recherche label{display:none;}
#browse #formulaire_recherche input.text{padding-left:2em; margin-left:3px; font-size:90%; width:10em !important; background-color:#fff;}
#browse #formulaire_recherche input.submit{margin-top:2px;}


#footer {background:url(img/footer.jpg) no-repeat; background-position:bottom; height:100px; text-align:center;}
#footercontent {margin:15px; border-top:solid 1px #EBE6B4; padding-top:15px;}
#footer a, #footer a:visited, #footer a:active {color:#996633; text-decoration:none;}
#footer #credit {font-size:10px;}

.formulaire_spip {border: 1px solid #D6D9AE; padding:.5em 1em; margin:1em 0;}
.formulaire_spip li{list-style-type:none;}
.formulaire_spip ul{margin:5px !important;}
.formulaire_spip input.text, .formulaire_spip textarea, .textfield {display: block; float:left; width:65%; background-color: #F3F4E8; margin:3px 3px 3px 30px; padding:3px;	border: 1px solid #D6D9AE; clear:right;}
label {	display: block; float:left; text-align:right; font-weight:bold; width:20%; margin:3px; padding: 5px;}
.button {display: block; padding:0px; background-color:#E3E6C8; margin:3px;	border: 2px solid #efefef; color:#000000;}
.formulaire_spip input.text:hover, .formulaire_spip textarea:hover, .textfield:hover {background-color:#FBFCF8;}
.formulaire_spip input.text:hover, .formulaire_spip textarea:hover, .textfield:focus {background-color:#ffffff;}
#content .clear2 {clear:right; width:90%;}
.hide {display:none;}

#content table.spip  {margin:10px; width:500px; border:solid 1px #BDDB99; border-collapse:separate;}
#content .spip th {background:#DFEDCD; padding:5px 15px 5px 15px; color:#999933; font-weight:bold; text-align:center; border:0; border-bottom:1px solid #BDDB99;}
#content .spip td { border:0; border-bottom:1px solid #DFEDCD ; padding:5px 15px 5px 15px; border-right:1px solid #DFEDCD; }
#content .spip tr {background-color:#fff;}
#content .spip tr.row_odd {background-color:#fafafa;}

