@import "css/variables.less";
@import "css/mixins.less";

.header {position: relative;}
.header .accueil a {color: inherit;}
.header .spip_logos {float:left;margin: @paddingLarge;margin-left: 0;margin-top:0;}
.header .accueil {}
#logo_site_spip {line-height: 1em;}
#slogan_site_spip {display: block;}

.header .formulaire_menu_lang {width: 100%;}
.header .formulaire_menu_lang select {width: 100%;}

.hero-unit .meta-publi {clear: both;}

.formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.footer {
  margin-top:8em;
  padding-top: 4em;
  padding-bottom: 2em;
  margin-bottom:0;
  font-size: @fontSizeSmall;
  text-align: center;
}

.cartouche {margin-bottom: @baseLineHeight;}
.content-principal {.clearfix}