/* 
	Got The Blues (v.01) stylesheet for Wordpress 1.0+ || http://www.wordpress.org
	
	Layout, Style and Design by Anthony Grisier || http://tony.brilliant-talkers.com/wp
	
	Somewhat based on Dark Fire (v1.1) by B A Khan || http://www.3digita.com

	License : GPL - http://www.gnu.org/copyleft/gpl.html
*/

body {
	font-family: Tahoma, Arial, Serif;
	margin: 0;
	padding: 0;
	color: #FFF;
	background: navy;
	text-align: center;
}

#rap {
	position: relative;
	margin: 25px 100px 0px 100px;
	padding: 0;
	text-align: left;
	width: auto;
}


/* =====| MAIN LINKS |========== */


a, .feedback a, .meta a  {
	color: #ffbf00;
	text-decoration: none;
}

a img {
	border: none;
}

a:visited {
	color: #ffbf00;
}

a:hover, .feedback a:hover, .meta a:hover  {
	color: #ff7f00;
	text-decoration: none;
	border-bottom: 1px solid;
}

/* =====| HEADER |========== */


#header {
	position:relative;
	background: transparent;
	margin:0;
	padding: 0 0 0 0;
	border-bottom: 1px solid #ffbf00;
	border-top: 1px solid #ffbf00;
	text-align:center;
	font: 35px Georgia, Arial, Serif;
	letter-spacing: -1px;
	height:45px !important;
	height /**/: 97px; /* for IE5/Win */
}

#header a {
	color: #ffbf00;
	text-decoration: none;
	border:0;
}

#header a:hover {
	color: #ff7f00;
	text-decoration: none;
}


/* =====| MAIN BODY |========== */


#content {
	background: navy;
	position:relative;
	text-align: justify;
	top: 10px;
	width:auto;
	margin:0px 0 0 290px;
	height: 100%;
	padding: 0px 0px 50px 10px;
	font: 80% Tahoma, Arial, Serif;
	border-left: 1px solid #004180;
}

acronym, abbr {
	border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
	cursor: help;
}

blockquote, p.blockquote {
background-color: #8998ec;
color: black;
border: 1px #000000 solid;
padding: 5px;
line-height = 100%;
font-style = italic;
}
 

cite {
	font-style: normal;
}

h2, code {
	font-family: Tahoma, Arial, Serif;
	margin: 15px 0 2px 0;
	padding-bottom: 5px;
	color: #8bb7cf;
}

h2 {
	font: 120% Tahoma, Arial, Serif;
}

h3 {
	margin: 0;
}

.storytitle {
	font: 170% Lydian, Georgia, Arial, Serif;
	letter-spacing:.1em;
}

.storycontent, .feedback {
font-size: 12pt;
font-family: Times, "Times New Roman", serif;
color: #9c98ff;
text-align: left;
}

.storycontent ul {
	list-style-type: square;
}

.credit {
	font: 80% Tahoma, Arial, Serif;
	position:relative;
	width:auto;
	top:0px;
	margin:0px;
	text-align: center;
	margin-left:270px;
	padding:0px;
}

.credit a:link {
	color: #ffbf00;
	text-decoration: none;
}

.credit a:hover {
	color: #ff7f00;
}

.feedback {
	text-align: right;
}

.meta {

	color: #999;
	margin: 15px 0 0px 0;

}

.meta ul {
	display: inline;
	margin: 0;
	padding: 0;
}

.meta li {
	display: inline;
	list-style-type: none;
	padding-left:5px;
	padding-right:5px;
	border-left : 1px solid #999;
}

#commentform {
	background: navy;
	padding:10px;
}

#commentform p {
	padding:5px;
	margin:0px;
}


#commentform input, #commentform textarea {
	border: 1px solid navy;
	font: 1em Tahoma, Arial, Serif;
	padding-left: 2px;
}

#commentform textarea {
	width: 90%;
	padding-left: 2px;
}


/* =====| SIDE MENU |========== */


#menu {
	position: absolute;
	background: navy;
	height:100%;
	top: 120px;
	margin: 0px 0px 20px 5px;
	padding: 5px;
	width: 270px !important;
	width /**/: 290px; /* for IE5/Win */
}

#menu form {
	margin: 0 0 0 10px;
}

#menu input {
	border: 1px solid #333;
	font: 60% Tahoma, Arial, Serif;
	padding-left: 2px;
}


#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#menu ul li {
	font: 140% Tahoma, Arial, Serif;
	margin-bottom: 15px;
	color: #ffffff;
	text-transform: lowercase;
}

#menu ul ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	letter-spacing: 0;
	margin: 0;
	padding-left: 10px;
	font: 70% Tahoma, Arial, Serif;
}

#menu ul ul li a {
	color: #ffbf00;
	text-decoration: none;
}

#menu ul ul li a:hover {
	color: #ff7f00;
}


/* =====| CALENDAR |========== */


#wp-calendar {
	empty-cells: show;
	font-size: 70%;
	margin: 0px;
	width: 180px;
}

#wp-calendar #next a {
	padding-left: 5px;
	text-align: center;
	border:0;
}

#wp-calendar #prev a {
	padding-right: 5px;
	text-align: center;
	border:0;
}

#wp-calendar a {
	display: block;
	text-decoration: none;
}

#wp-calendar a:hover {
	background: #ffffff;
	color: #ff7f00;
}

#wp-calendar caption {
	color: #fff;
	font: 100% Tahoma, Arial, Serif;
	padding-top:10px;
	text-align: center;
	text-transform: uppercase;
}

#wp-calendar td {
	color: #b2b2b2;
	font: normal 80% Tahoma, Arial, Serif;
	text-align: center;
}

#wp-calendar #today {
	border: 1px solid #ffffff;
}

#wp-calendar th {
	color: #fff;
	text-transform: uppercase;
	font-weight:normal;
	text-align: center;
}