/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

/* Specificites SPIP */
h3.spip {text-align:left;}

#hierarchie { clear: both; font-size: 0.90em; margin-bottom: 15px; }
#hierarchie, #hierarchie a { color: #666; }
a.spip_in { color: #747475;}
a.spip_out { color: #1773BC;}

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; box-shadow: 1px 1px 12px #555; background: #FFF; padding: 5px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #58595B; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
.documents_portfolio a:hover .spip_logos { border-color: #F57900; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.95em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

.menu-liste, .liste-items  {list-style:none;}

.liste-items {border-bottom:1px solid #EBEBEB;}
.liste-items .item { }
#main .liste-items .item { width: 469px; margin-bottom: 25px; color:#7f7f81; background: url(images/post-star.gif) no-repeat top left; padding-left: 50px; }
#main .breves .liste-items .item,
#main .sites .liste-items .item { width: 469px; margin-bottom: 25px; color:#7f7f81; background: none; padding-left: 5px; }
#main .sites .liste-items li { padding: 2px 0;}

.liste-items .item h3 { margin: 0; padding: 5px 0 10px 0;}
.liste-items + .pagination {margin-top:0;padding-top:0;}

.menu-liste { text-align: left; margin: 7px 0px 8px; padding: 0; border-top: 1px solid #EBEBEB;}
.menu-liste .menu-entree { list-style: none; padding: 5px;}
* html body .menu-liste .menu-entree { height: 1%;}
.menu-liste .menu-entree a { text-decoration: none;	background-image: none;	color: #7E7F81;}
.menu-liste .menu-entree a:hover {	color: #1773BC;}
.menu-liste .menu-liste { margin-left: 5px; padding: 0; }
.menu-liste .menu-liste .menu-entree { border: none; }

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}

/* tables */
tables.spip tr,tables.spip tr.row_odd,tables.spip tr.row_even {background:transparent;}


/********************************************
   HTML ELEMENTS
********************************************/ 

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	background: #A8A9AD;
	color: #333333;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 85.5%;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* links */
a, a:visited {	
	color: #1FA5DE;
	background: inherit;
	text-decoration: none;	
}
a:hover {
	color: #000;
	background: inherit;
}

/* headers */
h1,.h1, h2,.h2, h3,.h3, h3.spip {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	color: #444;

line-height:100%;}
h1,.h1 {
	font-size: 230%;	
	font-weight: normal;
	letter-spacing: -1px;
}
h2,.h2 {
	font-size: 180%;
	color: #1FA5DE;
}
h3,.h3, h3.spip {
	font-size: 150%;	
	font-weight: normal;
	line-height:100%;
}

h1,.h1, h2,.h2, h3,.h3, h3.spip, p {
	padding: 10px 0;
	margin: 0;
}
ul.spip, ol.spip, ul.forum ul.spip {
	margin: 5px 10px;
	padding: 0 20px;
}
ul {
	list-style: none;
}

/* images */
.spip_documents img, .spip_logos img {
	background: #fafafa;
  border: 1px solid #dcdcdc;
	padding: 5px;
}
.spip_documents_right {
  margin: 5px 10px 10px;
  margin-left: 10px;
}
.spip_documents_left {
  margin: 5px 0px 10px;
  margin-right: 20px;
}

.spip_code,code {font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;}

.spip_cadre { margin: 5px 0; padding: 10px; text-align: left; display: block; overflow: auto;
font: 500 1em/1.2em 'Lucida Console', 'courier new', monospace ; border: 1px solid #63BBE4; background: #F1F1F1; width:90%;}

acronym,abbr { cursor: help;  border-bottom: 1px dashed #777;}

blockquote.spip { margin: 5px 0; padding: 5px 10px; border: 1px solid #63BBE4; background: #F1F1F1;
font: bold 1em/1em 'century gothic', Tahoma, Sans-serif;}
blockquote.spip_poesie { border-color: #63BBE4;}

/* start - table */
table.spip {
	border-collapse: collapse;
	margin: 10px 0;
}
table.spip caption {text-align:left;}
table.spip th strong {
	color: #fff;
}
table.spip th {
	background: #D1D2D4;
	height: 35px;
	padding-left: 12px;
	padding-right: 12px;
	color: #747475;
	text-align: left;
	border:0;
	border-left: 1px solid #D5D6D7;
	border-bottom: solid 2px #fff;
}
table.spip tr {
	height: 32px;
}
table.spip td {
	padding-left: 11px;
	padding-right: 11px;
	border:0;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
td.first,th.first {
	border-left: 0px;
}
table.spip tr.row_even {
	background: #F8F8F8;
}
table.spip tr.row-odd {
	background: #EFEFEF;		
}
/* end - table */

/* form elements */
.formulaire_spip {
	margin:10px 0; padding: 10px;
	border: 1px solid #f1f1f1; 
	background-color: #f5f5f5; 	
}
.formulaire_spip fieldset legend {background-color: #f5f5f5;}
.formulaire_spip label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
.formulaire_spip input.text,input.password {
	padding:2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
.formulaire_spip textarea {
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
#contenu .formulaire_spip textarea {	width:400px;}

.formulaire_spip .boutons input { 
	font: bold 12px Arial, Sans-serif; 
	height: 24px;
	margin: 0;
	padding: 2px 3px; 
	color: #FFF;
	background: #58595B;
	border: 1px solid #1FA5DE;
}

/* search form */
.formulaire_recherche {
	background-color: transparent;
	border: none;	
	margin: 0; padding: 5px 0 15px 0;	
		
}
#formulaire_recherche {width: 250px;}

.formulaire_recherche p { margin: 0; padding: 0; }
.formulaire_recherche input.text { 
	color: #777; 
	height: 18px;
	padding: 2px;	
	border: 1px solid #E5E5E5;
	vertical-align: top;
	background-image:none;
}
#formulaire_recherche input.text {width: 170px;}

.formulaire_recherche input.submit {
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}

/********************************************
   LAYOUT
********************************************/ 
#wrap { position: relative; width: 900px; margin: 0 auto; text-align: left;}

#content-wrap { position: relative; width:900px; background: url("images/texture-top.gif") no-repeat scroll left top #FFFFFF;
clear: both; padding: 20px 0 0 0;}
#content-wrap .bg_content { background: url("images/bg_content.jpg") repeat-y 0 0; }

#header-wrap { width: 100%; float:left; background:#58595B; position:relative;}

#header { width: 100%; position: relative; float: left; padding-top: 75px; height: 188px;
background: #58595B url(images/top-right-splash.png) no-repeat 0 75px;}
#header #nom_site_spip { position: absolute; margin: 0; padding: 0; font-size: 30px; letter-spacing: -1.5px; color: #1FA5DE;
text-transform: none; text-decoration: none; top: 20px; left: 20px; }

#header .accueil { background: #58595B;}
#header .accueil img.spip_logos { float: left; padding: 10px; }

#header #slogan_site_spip { position: absolute; margin: 0; padding: 0; font-size: 12px; text-transform: none; top: 20px; right: 25px;}

#descriptif_site_spip { font-size: 12px; text-align: justify; margin: 0; padding: 0; text-transform: none; }

#header .formulaire_menu_lang { position: absolute; right: 0; top: 10px; display: block; margin:0;
width: 235px; padding:0; background:none; border:0; }
#header .formulaire_menu_lang label { color: #1FA5DE;}

/* Navigation */
#nav {
	clear: both;	
	margin: 0; padding: 0;		
	width: 900px;	
}
#nav .menu-liste {
	letter-spacing:1px;
	font-family:century gothic;
	background:#D1D2D4;
	font-weight:normal;
	text-transform:uppercase;
	width:100%;
	border-top:1px solid #d5d6d7;
	float:left;
	list-style:none;
	line-height:36px;
	padding:0;
	font-size: 11px;
	margin:0;
	width:900px;
	padding: 0px 0px 0px 0px;
}
#nav .menu-liste .menu-entree {
	float:left;
	margin-right: 1px;
	padding:0;
}
#nav .menu-liste .menu-entree a {
	display:block;
	color:#747475;
	text-decoration:none;
	padding:0px 13px;
}
#nav .menu-liste .menu-entree a:hover,
#nav .menu-liste .menu-entree a:active {
	color:#747475;
	background:#c2c3c4;
}
#nav .menu-liste .menu-entree.on a {
	background:#c2c3c4;
}

/* sub-menus */

#nav .menu-liste li.menu-entree { display: inline; float: left; position: relative;}
#nav li .menu-liste {  background-color: #e5e5e5; background-image: none; position: absolute;  display: none; width:255px; top: 36px; left: 0;
line-height: 100%; z-index: 5; border: 1px solid #fff; line-height: 35px;}
#nav li .menu-liste .menu-entree { background: url(img/nav.jpg) repeat-x; border-right: none; width: 255px; }
#nav li .menu-liste .menu-entree a { display: block; width: 226px;}

#nav li:hover ul,#nav li.hover ul{display:block;}
#nav li:hover li ul,#nav li.hover li ul{display:none;}
#nav li:hover li:hover ul,#nav li.hover li.hover ul{display:block;}
#nav li:hover li:hover li ul,#nav li.hover li.hover li ul{display:none;}
#nav li:hover li:hover li:hover ul,#nav li.hover li.hover li.hover ul{display:block;}
#nav li:hover li:hover li:hover li ul,#nav li.hover li.hover li.hover li ul{display:none;}
#nav li:hover li:hover li:hover li:hover ul,#nav li.hover li.hover li.hover li.hover ul{display:block;}
#nav li ul ul{}


/* Main Column */
#main { float: left; overflow: hidden; padding: 0 15px; width: 519px;}

.page_article #main .cartouche .h1 { background: url("images/post-star.gif") no-repeat left top transparent; color: #1FA5DE;
padding: 5px 0 5px 45px; }
.page_article #main .cartouche .info-publi { padding: 5px 0;}

#main .h2 { margin-top: 10px; padding-bottom: 3px; font: normal 2.3em 'Trebuchet MS', Tahoma, Sans-serif; color: #7E7F81;
letter-spacing: -1px; text-transform: none;}
#main .h2 a { color: #7E7F81; text-decoration: none; }

#main ul.spip li { list-style-image: url(img/bullet.gif);}

/* Sidebar */	
#sidebar { float: right; overflow: hidden; padding: 0 0 0 12px; width: 339px;}
#sidebar .h2,
#sidebar .formulaire_recherche label {color: #63BBE4; font-family: century gothic; font-size: 0.9em; font-weight: normal;
letter-spacing: 1px; margin-bottom: 5px; margin-right: 12px; padding-bottom: 5px; padding-left: 3px;  text-transform: uppercase;}

#sidebar .menu ul {}
#sidebar .menu ul li,
#sidebar .liste ul li { padding: 0; margin-right: 10px;}
#sidebar .menu ul li a,
#sidebar .liste ul li a { border-bottom: 1px solid #DBDCDE; color: #7E7F81; display: block;
font-size: 12px; line-height: 28px; padding: 0 0 0 3px; text-decoration: none; }
#sidebar .menu ul li a:hover,
#sidebar .liste ul li a:hover { background: #E5E5E5; color: #1FA5DE;}

#sidebar .forums,
#sidebar .syndic_articles { margin-right: 10px;}
#sidebar .forums h2,
#sidebar .syndic_articles h2 { border-bottom: 1px solid #DBDCDE; margin-top: 15px;}
#sidebar .forums ul li,
#sidebar .syndic_articles ul li { display: block; padding: 4px 0;}
#sidebar .forums ul li a,
#sidebar .syndic_articles ul li a { display: block; line-height: 20px; padding: 0 0 5px 3px;}
#sidebar .forums ul li a:hover,
#sidebar .syndic_articles ul li a:hover { color: #1FA5DE;}

/* footer */
#footer-wrap { clear: both; width: 900px; background: url("images/texture-bottom.gif") no-repeat scroll left top #59595B;
float: left; padding: 60px 0 40px; text-align: center; width: 100%;}
#footer-wrap a:hover { color: #000; }
#footer-wrap .h3 { color: #976834; margin: 0; padding: 0 10px; text-transform: uppercase; font-weight: bold; line-height:100%;}

#footer-content { font-family: century gothic; font-size: 11px; letter-spacing: 1px;
padding-bottom: 10px; margin: 0 25px; text-transform: uppercase; }
#footer-content a { color: #797A7D; padding: 0 5px; text-decoration: none;}
#footer-content a:hover { color: #1FA5DE;}

#copyleft { border-top: 1px solid #666666; padding: 10px 5px; margin-top: 10px}
#footer-content #copyleft a { padding: 0;}

/* bottom */
#footer-bottom { clear: both; color: #666; margin: 0 auto; width: 870px; padding: 15px 0 0 0; text-align: center;}
#footer-bottom  a { color: #976834;}


/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.30em 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; box-shadow: 1px 1px 12px #555; background: #FFF; padding: 5px; }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; line-height: 1.40em; }

/* postmeta */
.meta-publi { border-bottom: 1px solid #E3E3E4;  border-top: 1px solid #E3E3E4; clear: both;  font-size: 12px; line-height: 28px;  width: 100%;}
.meta-publi .date-redac { margin: 0 10px 0 5px;	}
.meta-publi .nb_commentaires { margin: 0 10px 0 5px;	}
.meta-publi .lire-la-suite { margin: 0 10px 0 5px;	}

.info-publi { border-bottom: 1px solid #E3E3E4;  clear: both;  color: #BCBDC1;   font-size: 12px;   padding: 5px 0;   width: 100%;}
.info-publi a { color: #979799;}
.h3+.info-publi {margin-top:-10px;}
