/* liste des elements visible dans les pages articles , rubriques ...*/
.une_liste_type p.titre {font-weight: bold; margin-left: 10px ; font-size:14px;}
.une_liste_type p.sous_titre { margin-left: 17px ; font-size:14px; font-style: italic;}
.une_liste_type span.sup_lien {cursor : pointer; color: red}

#choix_assoc #type_association {  margin: 15px 0 0 15px ;   padding: 0 ;    list-style: none ;       }
#choix_assoc #type_association  li {display: inline ;    margin-right: 6px ; text-align : center ; padding : 0 10px ;
							background: #fdf8e3 ; cursor : pointer; -moz-border-radius:5px; }
							
#choix_assoc #type_association  li.hover { background: #eceadf ; }
#choix_assoc {border : 1px solid black; margin-bottom: 8px; padding-bottom: 8px}