/* Don't change these options */
#movableNode{
	position:absolute;
}

#arrDestIndicator{
	position:absolute;
	display:none;
	width:100px;
	z-index:100;
}
/* End options that shouldn't be changed */

/*#arrangableNodes {
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;
	padding-top:0px;
}
*/

#arrangableNodes li /*,#movableNode li*/ {
	list-style-type:none;
	cursor:default;
}
