/* **************** GRILLE ***************** */
.size1of10 { width: 10%; }
.size3of10 { width: 30%; }


/* **************** INDEX ALPHABETIQUE ***************** */
.index { padding: 0; margin: 0; text-align: left; }
.index .lien_index { padding: 0 2px; margin-right: 2px; text-decoration: none; }
.index .lien_index:hover,
.index .lien_index:active { text-decoration: underline; }
.index .on { font-weight: bold; }
.lettrine { margin: 1em 0 0; padding: 0 }


/* **************** PAGE PREFIXES ***************** */
#prefixes {margin-top : 2em; }


/* **************** PAGE DEPOTS ***************** */
#depots {margin-top : 2em;}
.item-depot { float: none; position: relative; }
.item-depot .logo { float: left; padding-right: 1em; }
.item-depot .unit {padding-right : 1em; }
.item-depot .lastUnit { padding-right : 0; }


/* **************** PAGE STATISTIQUES ***************** */
#statistiques {margin-top : 2em; }


/* **************** PAGE PLUGINS, RECHERCHE & SOMMAIRE ***************** */
#recherches, #plugins, #sommaire {margin-top : 2em; }
.item-plugin { float: none; position: relative; }
.item-plugin .unit {padding-right : 1em; }
.item-plugin .lastUnit { padding-right : 0; }

.resume-nom { font-size: 1.1em; }
.resume-slogan { margin-bottom: 1em; }
.resume-prefixe { padding: 0 0 0 22px; font-style: italic; background: url("img/prefixe-16.png") no-repeat left center; }
.resume-categorie { padding: 0 0 0 22px; font-style: italic; background: url("img/categorie-16.png") no-repeat left center; }
.resume-branche { padding: 0 0 0 20px; border-bottom: 0; font-weight: bold; background: url("img/branche-16.gif") no-repeat left center; }
.resume-maj { padding: 0 0 0 22px; font-style: italic; background: url("img/maj-16.png") no-repeat left center; }
.resume-logo { float: right; }

/* **************** PAGE TELECHARGEMENTS ***************** */
#telechargements {margin-top : 2em; }
#telechargements h3.h3 {margin-bottom : 1em; }
.paquets, .contributions {margin-bottom: 3em;}


/* **************** PAGE PLUGIN ***************** */
.liste.branches {float: left;}
.branches .liste-items {border-top: 0;}
.branches .liste-items .item {padding: 0 0 0 22px; border-bottom: 0; font-weight: bold; background: url("img/branche-16.gif") no-repeat left center;}
.branches .liste-items .item:hover {background-color: transparent; }

.paquet {margin-top: 30px; float: left; width: 100%;}

.liste.actions {float: right;}
.actions .liste-items {border-top: 0;}
.actions .liste-items .item {padding: 0; border-bottom: 0;}
.actions .liste-items .item:hover {background-color: transparent;}
