.agenda_invisible_au_chargement {
	visibility: hidden;
}
.agenda_visible_au_chargement {
	visibility: visible;
}
#container_debut,#container_fin{
	left:0px;
	top:0px;
	z-index:150;
	filter:alpha(opacity=100);
	opacity: 1.0;
	-moz-opacity:1.0;
}
#ajoute_evenement{
}
#recherche_evenement{
float:right;
}
.agenda-calendrier {
	width: 100%;
	height: 60%;
	font-weight: bold;
	background-color: none;
  }

.agenda-visu-evenement {
	position: absolute;
	right :0px;
	top :200px;
	width: 40em;
	height: 38em;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	z-index:100;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-topleft: 8px;
	border-radius-bottomleft: 8px;
	font-family: Verdana, Arial, Sans, sans-serif;
	font-size:small;
  background-color: #99CC99;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
	text-align:left;
 }
.agenda-visu-evenement-bouton-fermer{
	position: absolute;
	right:1em;
	top:0px;
	width:12px;
	height:12px;
}
.agenda-visu-evenement-bouton-fermer a:hover{
	border-color:#cccccc;
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:2px solid #cccccc;
	border-right:2px solid #cccccc;
}

.article-evenement {
	position: absolute;
	top :0;
	left :0px;
	width : 100%;
	height : 4em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-radius-topleft: 8px;
	border-radius-topright: 8px;
	font-weight: bold;
	background-color: #ccff66;
 }

.titre-titre {
	position: absolute;
	top :4em;
	left :0px;
	width : 20%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font-weight: bold;
color:#fff;
	background-color: #669966;
 }
.titre-visu {
	position: absolute;
	top :4em;
	left :20%;
	width : 80%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
	background-color: #99CC99;
 }

.lieu-titre {
	position: absolute;
	top :5.5em;
	left :0px;
	width : 20%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	-moz-border-radius-bottomleft: 8px;
	border-radius-bottomleft: 8px;
	font-weight: bold;
color:#fff;
	background-color: #669966;
 }
.lieu-visu {
	position: absolute;
	top :5.5em;
	left :20%;
	width : 80%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;
	font-weight: bold;
	background-color: #99CC99;
 }
.horaire-titre {
	position: absolute;
	top :7.1em;
	left :20%;
	width : 80%;
	height : 2em;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	-moz-border-radius-topright: 8px;
	border-radius-topright: 8px;
	font-weight: bold;
	background-color: #669966;
 }
.date-titre {
	position: absolute;
	top :7.1em;
	left :0px;
	width : 20%;
	height : 2em;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	-moz-border-radius-topleft: 8px;
	border-radius-topleft: 8px;
	font-weight: bold;
color:#fff;
	background-color: #669966;
 }
.date-visu {
	position: absolute;
	top :9em;
	left :0%;
	width : 100%;
	height : 5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-bottomleft: 8px;
	font-weight: bold;
	background-color: #99CC99;
 }
.descriptif-titre {
	visibility: hidden;
 }
.descriptif-visu {
	position: absolute;
	top :14em;
	left :0px;
	width : 100%;
	height: 6em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-radius-topright: 8px;
	border-radius-bottomright: 8px;
	border-radius-topleft: 8px;
	border-radius-bottomleft: 8px;
	font-weight: bold;
	background-color: #99CC99;
 }
.auteur-titre {
	position: absolute;
	top :20em;
	left :0px;
	width : 50%;
	height : 2em;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	-moz-border-radius-topleft: 8px;
	border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-radius-topright: 8px;
	font-weight: bold;
color:#fff;
	background-color: #669966;
 }
.auteur-visu {
	position: absolute;
	top :22em;
	left :0%;
	width : 50%;
	height : 7em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-bottomleft: 8px;
	font-weight: bold;
	background-color: #99CC99;
 }
.invites-titre {
	position: absolute;
	top :20em;
	right :0px;
	width : 50%;
	height : 2em;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	-moz-border-radius-topleft: 8px;
	border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-radius-topright: 8px;
	font-weight: bold;
color:#fff;
	background-color: #669966;
 }
.invites-visu {
	position: absolute;
	top :22em;
	right :0%;
	width : 50%;
	height : 7em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-bottomleft: 8px;
	font-weight: bold;
	background-color: #99CC99;
 }
.agenda_auteur_select{
width:100%;
}

.agenda_mot_cle_select{
width:32%;
}
.agenda_mots_cles{
	position: absolute;
left:0px;
top:29.1em;
height:4em;
width:100%;
	font-weight: bold;
	background-color: #99CC99;
}
 
.edition-bouton {
	position: absolute;
	bottom :0em;
	left :0%;
	width : 98%;
	height:2em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	text-align : right;
	vertical-align : bottom;
	padding-right:2%;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-topright: 8px;
	border-radius-bottomright: 8px;
	border-radius-topleft: 8px;
	border-radius-bottomleft: 8px;
	font-weight: bold;
	background-color: #339933;
 }
a span.survol {
	display: none;
}

a:hover .calendrier-verdana10 > span.survol {
	display: block;
	position: fixed;
	top: auto;
	left: auto;
	width: auto;
	padding: 5px;
	z-index: 100;
	text-decoration: none;
  color: #333;
	background: #99CC99;
	border: solid 1px #339933;
	font: 10px Verdana, sans-serif;
	text-align: left;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-topright: 8px;
	border-radius-bottomright: 8px;
	border-radius-topleft: 8px;
	border-radius-bottomleft: 8px;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}