body {
	background: #FFF;
	margin: 0;
	text-align: center;
	font-size: 1em;
	color: #333;
}

img, table { margin: 0; padding: 0; border: none; }
ul, ol, li { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

#ilsalone {
	font-size: 9 px; 
	font-family: arial ;
	background-color :#57181B ;
	vlink : #57181B ;
	alink : #57181B ;
	}

td { font-size: 9 px; font-family: arial }

.Style1 {
	color: #80461d;
	font-size: 12px;
	}

.Style2 {
	color: #61c5f0;
	font-weight: bold;
	font-size: 12px;
	}

.Style3 {
	color: #FFFFFF;
	font-size: 12px;
	}

.Style4 {
	color: #ff0000;
	text-decoration: line-through;
	font-size: 12px;
	}

.Style5 {	
	color: #80461d;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	}

.Style8 {font-size: 8px}


a {
	color: #61c5f0;
	text-decoration: none;
	}

a:hover {
	color: #80461d;
	background-color :transparent;
	text-decoration: none;
	}

.principal {
	valign: top;
	width:49%;
	border-right: 0px solid #61c5f0;
	float: left;
	text-align: center;
	}

.secondaire {
	color: #80461d;
	valign: top; 
	width:49%;
	float: left;
	text-align: center;
	font-size: 15 px; 
	}


.article
	{
	float: left; 
	width:120px;
	height: 120px;
	}

.panier
	{
	width:135px;
	height: 235px;
	overflow:auto;
	border: 0px solid #FA1245;
	scrollbar-face-color:#80461d;
	scrollbar-shadow-color:#000000;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#80461d;
	scrollbar-darkshadow-color:#57181B;
	scrollbar-track-color:#57181B;
	scrollbar-arrow-color:#57181B;
	margin-left: 10px;
	}

.logo_article
	{
	border: 0px solid #000000;
	width: 500px;
	height: 150px;
	align: center ;
	valign: top ;
	}

.resume
	{
	height: 410px;
	overflow:auto;
	border: 0px solid #FA1245;
	scrollbar-face-color:#61c5f0;
	scrollbar-shadow-color:#0000ff;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#000000;
	scrollbar-track-color:#DFF1FC;
	scrollbar-arrow-color:#000000;
	}

.rubrique
	{
	height: 240px;
	overflow:auto;
	border: 0px solid #FA1245;
	scrollbar-face-color:#61c5f0;
	scrollbar-shadow-color:#0000ff;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#000000;
	scrollbar-track-color:#DFF1FC;
	scrollbar-arrow-color:#000000;
	}

.autres_articles
	{
	valign: bottom;
	align: center;
	height: 100px;
	width: 325px;
overflow:hidden; 
overflow-x: auto; 
overflow-y: hidden; 
	border: 0px solid #FA1245;
	scrollbar-face-color:#61c5f0;
	scrollbar-shadow-color:#0000ff;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#000000;
	scrollbar-track-color:#DFF1FC;
	scrollbar-arrow-color:#000000;
	}

