/*
 * raper_style_prive.css
 */

#msg-boite-info {
	display:block;
	font-weight: 500; 
	text-align: center;
	font-size:small;
}
.plug-sign {
	font-weight:700;
}
.raper-menu-multi {
	text-align:right;
}
.raper-table {
	width:100%;
	border:0;
	border-spacing:1px;
}
.raper-table th, .raper-table td {
	padding:3px;
}
.raper-table .bg-w {
	background-color:white;
}
.raper-table .bg-w{
	background-color:#eee;
}
.raper-table .actions {
	width:50px; 
	height: 16px; 
	display:block;
}
table.construct, table.construct * {
	margin:0;
	padding:0;
	border:0;
	text-align:left;
	width:95%;
}
table.construct .right {
	text-align:right;
}
.raper-cancel, .raper-apply {
	background-color: #fff !important;
}
.raper-edit, .raper-drop, .raper-cancel, .raper-apply {
	width:16px !important; 
	height: 16px; 
	background: url() no-repeat center;
	margin:0; padding:0; text-decoration:none; line-height:1px; font-size:0px;
	border:0;
}
.raper-edit, .raper-drop { 
	display:inline-block;
}
.raper-edit { 
	/* float:left; */
	margin-right:8px;
}
.raper-cancel span, .raper-apply span { 
	display:none;
}

/*
 * le formulaire
 */
.raper-form fieldset {
	border:1px solid gray;
	margin: 0.5em 0 0.2em;
}
.raper-form fieldset label {
	display:block;
}

#liste-raccourcis {
	list-style:none;
	margin:0;
	padding:0;	
}

.skel td {
	border:1px dotted red;
}
.skel .strong, .skel .value {
	border-right:none;
}
.skel .actions, .skel .value {
	border-left:none;
}
.skel td td {
	border:none;
}

.strong {
	font-weight:700;
}
.no-screen {
	display:none;
}
.pointer {
	cursor:pointer;
}
.revision {
	color:#9dba00;
}
