
.spip_forms, .spip_sondage {
	color: black;
	margin: 0px;
	margin-bottom: 16px;
	padding: 4px;
	border: 1px solid #ADD8E6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
	font-weight: normal;
}
.spip_form_champ {
	margin-bottom:1em;
}
.spip_form_label {
	display:block;
	text-align:left;
  font-weight: bold;
}
.spip_form_label_obligatoire{
  font-weight: normal;
}
.spip_form_label_details{
	display:block;
	font-style:italic;
	text-align:left;
}

.spip_form_choix_unique{
	 display:block; 
}

.spip_form_choix_multiple{
display:block; 
}

.spip_sondage {
	margin: auto;
}

.spip_form_erreur {
	float:right;
  font-weight: bold;
	color: Teal;
	background-color: #AFEEEE;
	margin: 1px;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
.spip_form_ok {
  font-weight: bold;
  color: Teal;
	/* border: 1px solid #808080;*/
	background-color: #F0FFFF;
	margin: 0px;
	padding: 0px;
	padding-left:5px;
	padding-bottom:2px;
	padding-top:15px;
}
.spip_form_ok_confirmation{
	display:block;
}

.spip_sondage .ligne_barre {
	height: 8px;
	background: #B0A0FF;
	border: 1px solid black;
}
.spip_sondage .sondage_table {
	display: table;
}
.spip_sondage .sondage_ligne {
	display: table-row;
}
.spip_sondage .sondage_ligne > div {
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
	white-space: nowrap;
}
.forml, .formo, .fondl, .fondo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;	color: black;

}
.forml, .formo {
	margin: 4px;
	margin-bottom: 1px;
	padding: 1px;
	width:90% ;
}
.forml, .fondl {
	border: dashed 1px #909090;
	background-color: #F0F8FF;	color: black;

}
.formo, .fondo {
	border: dashed 1px #C0C0C0;
	background-color: white;	color: black;

}

.spip_bouton input {
	margin: 3px 0;
	padding: 1px 2px;
	border: 2px outset;
	font-weight: bold;
	float: right;
	color: black;
 }


