/*  ---------------------------------------------------------------- */
/*  Feuille de style specifique a l'impression                       */
/*  ---------------------------------------------------------------- */

/*  Correction des styles HTML par defaut
---------------------------------------------- */
body { background: #FFF; margin: 15pt; text-align: left; font: 12pt Verdana, "Bitstream Vera Sans", Tahoma, Arial, sans-serif; color: #000; }

img, table { margin: 0; padding: 0; border: none; }
ul, ol, li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  Ne pas imprimer : on elimine les elements de navigation (display: none;)
---------------------------------------------- */
#entete, #hierarchie, #navigation, #colonne1, #menunav, .encart, #pied, .screen_only { display: none; }
.forum-repondre, .forum-repondre-message, .formulaire_spip { display: none; }
.spip-admin, .spip-admin-float, .invisible { display: none; }

.a_la_une, .formulaire_notation { display: none; }

/*  Disposition a l'ecran
---------------------------------------------- */
.nettoyeur { clear: both; }

/*  Cas particuliers des composants ACS
---------------------------------------------- */
#banniere { text-align: center; }
#ours {border:0; border-top: thin solid black;}
.plan-secteur h1 { font-weight: bold;  background: #efefef; }
.plan-rubrique a { font-weight: bold; }
.plan-articles a { font-weight: normal; }
/* Décalage progressif des rubriques en fonction de la profondeur */
ul .plan-rubrique { margin-left: 10px; }
ul ul .plan-rubrique { margin-left: 20px; }
ul ul ul .plan-rubrique { margin-left: 30px; }
ul ul ul ul .plan-rubrique { margin-left: 40px; }
ul ul ul ul ul .plan-rubrique { margin-left: 50px; }
ul ul ul ul ul ul .plan-rubrique { margin-left: 60px; }
ul ul ul ul ul ul ul .plan-rubrique { margin-left: 70px; }
ul ul ul ul ul ul ul ul .plan-rubrique { margin-left: 80px; }

/*  Pour les liens, on les met en bleu et
/*  on affiche l'URL cible a la suite des liens sortants (!)
---------------------------------------------- */
a { color: #00d; text-decoration: none; }
a.spip_out:after, a.spip_glossaire:after { display: inline; content: " (" attr(href) ")"; }


/*  Un peu de coquetterie
---------------------------------------------- */

.cartouche { margin-bottom: 2em; }
.cartouche small { font-size: 0.71em; }
.cartouche .titre { font-size: 1.27em; font-weight: bold; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche .traductions { display: none; }
.cartouche .surtitre, .cartouche .soustitre { font-size: 0.82em; font-variant: small-caps; }

.spip_logos { float: #LANG_RIGHT; margin-left: 0.8em; }

.chapo {
	margin-bottom: 1.5em;
	font-size: 0.82em;
	font-weight: bold;
	line-height: 1.4em;
}
.lien { font-size: 0.82em; font-weight: bold; }

.texte { line-height: 1.4em; }

h3.spip { text-align: center; font-weight: bold; margin: 1.4em; font-size: 1.15em; }

.ps, .notes, .forum-decompte, #documents_portfolio, #documents_joints {
	margin-top: 1.4em;
	padding-top: 0.2em;
	border-top: 2pt solid #CCC;
	font-size: 0.82em;
}
.ps h2, .notes h2, .forum-decompte, #documents_joints h2 { font-weight: bold; clear: both; }

/*  Citations, tableaux, etc...
---------------------------------------------- */
q, blockquote { font-family: "Bitstream Vera Serif", Georgia, Times, serif; }

table.spip tr.row_first { background: #FFC; }
table.spip tr.row_odd { background: #DDD; }
table.spip tr.row_even { background: #EEE; }

.lien, blockquote.spip, .spip_poesie, .spip_cadre, .liste-articles li .texte {
	background: #FFF;
	margin: 1em;
	padding: 1em;
	border: 1pt dotted #CCC; }

/*  Messages de forums
---------------------------------------------- */
.forum { margin: 2em 0; font-size: 0.82em; }
.forum-fil ul { margin-left: 0.5em; }
.forum-chapo .forum-titre { display: block; font-weight: bold; }
ul .forum-message { background: #EEE; border: 1pt solid #CCC; padding: 1em; margin-bottom: 1em; }

/* Listes d'articles
----------------------------------------------- */
.liste-articles li { margin-bottom: 1em; padding-top: 0.3em; }
.liste-articles li .titre { font-size: 1.03em; font-weight: bold; }
.liste-articles li p { margin: 0; padding: 0; }
.liste-articles li small { display: block; font-size: 0.71em; }

/*  Plan du site
---------------------------------------------- */
.page_plan #contenu h2 { font-size: 1.15em; font-weight: bold; }
.page_plan #contenu ul { margin-left: 1em; margin-bottom: 1em; }
.page_plan #contenu li { list-style: square; }

/*  Liens
---------------------------------------------- */
a.spip_in {
   color: #00D;
}