a {text-decoration: none; }
a:hover {text-decoration: underline;}
a.voirsquel {color: #ffffff;}
a.voirsquel:hover {color: #999999; text-decoration: none;}
.droit {
	font-family : verdana,helvetica,sans-serif;
	font-size : medium;
}
.droitpetit {
	font-family : verdana,helvetica,sans-serif;
	font-size : small;
}
.droitxpetit {
	font-family : verdana,helvetica,sans-serif;
	font-size : x-small;
}
.impair { background: #eee; }
.pair { background: #ddd; }
.formulaire {
	font-family : verdana,helvetica,sans-serif;
	font-size : x-small;
}
.memerub {
	font-family : verdana,helvetica,sans-serif;
	font-size : x-small;
}
.grostitre {
	font-family : georgia,times,serif;
	font-size : xx-large;
	font-style: bold;
	color: #666666;
	text-align: center;
	font-variant: small-caps;
}
.titrerubrique {
	font-family : georgia,times,serif;
	font-size : large;
	font-style: bold;
	color: #666666;
	font-variant: small-caps;
}
.encadrer_gauche {
	text-align: center;
	border: 1px solid #aaaaaa;
	padding: 5px;
	width: 100%;
	background-color: #dddddd;
}
.cadrerubrique {
	border: 1px solid #600051;
	-moz-border-radius: 4px;
}
.rubgris1 {
	border: 1px solid #aaaaaa;
	-moz-border-radius: 4px;
}
.rubgris2 {
	border: 1px solid #e0e0e0;
	-moz-border-radius: 4px;
}
.rubgris3 {
	border: 1px solid #eeeeee;
	-moz-border-radius: 4px;
}
.rubingris1 {
	border-right: 1px solid #999999;
	border-bottom :  1px solid #999999;
	-moz-border-radius: 4px;
}
.rubingris2 {
	border-right: 1px solid #cccccc;
	border-bottom :  1px solid #cccccc;
	-moz-border-radius: 4px;
}
.encadrerdescriptif {
	border: 1px solid #aaaaaa;
	padding: 5px;
	background-color: #eeeeee;
}
.encadrerblanc {
	border: 1px solid #aaaaaa;
	padding: 5px;
	background-color: #ffffff;
}
.absolu {position: relative; align: left;}
.body {padding: 0px; margin: 0px;}
.onglet {
	width:100%; 
	border: 1px solid #600051;
	background-color: white;
	-moz-border-radius: 4px;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
}
.onglet-ombre {
	width:100%; 
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	-moz-border-radius: 4px;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
}
.onglet-sous {
	padding : 3px;
	background-color: #eeeeee;
}

#tagcloud DIV {
	width: 50%;
	text-align:justify;
	font-family:arial,helvetica,sans-serif;
}

#tagcloud ul {
	list-style-type: none;
}

#tagcloud ul li {
	display: inline;
	padding: 0 .2em;
}

#tagcloud h4, #tagcloud h3 {
	white-space:nowrap;
	display: inline;
}

#tagcloud h3.red a {
	font-style: normal;
	color: red;
}

#tagcloud A {
	text-decoration: none;
}

#tagcloud h4.green a {
	color: green;
}
