/* --------------------------------------------------------------

   Style minimal pour les commentaires
   Plugin SPIP Comments - romy.tetue.net - 2010

-------------------------------------------------------------- */

/* Commentaire */
.comment { overflow: hidden; }
.comment .comment-meta img.avatar { float: left; margin: 0 1.5em 1.5em 0; }
.comment .comment-meta .permalink { float: right; margin: 0 0 1.5em 1.5em; font-size: 2em; text-decoration: none; }
.comment .comment-meta abbr { border: 0; text-transform: none; font-variant: normal; }

/* Liste des commentaires */
.comments-list {}
.comments-list .comments-ul { border-top: 1px dashed; }
.comments-list .comment-li { padding-top: 1.5em; border-bottom: 1px dashed; }

/* Formulaire de commentaire */
#formulaire_forum {}
#formulaire_forum fieldset { margin: 0; padding: 0; border: 0; }
#formulaire_forum legend { display: none; }
#formulaire_forum li { clear: both; display: block; margin-bottom: 1.5em; }
#formulaire_forum li label { float: left; display: block; width: 180px; }
#formulaire_forum li input.text { width: 180px; }

#formulaire_forum li.saisie_texte label { display: none; }
#formulaire_forum textarea { height: 12em; margin-bottom: 1.5em; }

#formulaire_forum .explication { font-size: .9em; }

#formulaire_forum .boutons { text-align: right; }
#formulaire_forum .boutons input { margin-left: 1.5em; }

/* Flux */
.comments-feed { color: #FE7315; }

/* end */