
{if $internal_stats}
<center>
<!-- phpmyvisites -->
<a href="http://www.phpmyvisites.net/" title="phpMyVisites : logiciel gratuit de mesure d\'audience et de statistiques de sites Internet (licence libre GPL, logiciel en php/MySQL)"
onclick="window.open(this.href);return(false);">
<script type="text/javascript">
<!--
var a_vars = Array();
var pagename='';

var phpmyvisitesSite = 1;
var phpmyvisitesURL = "phpmyvisites.php";
//-->
</script>
<script language=javascript src="phpmyvisites.js"></script>
<noscript>
<p>phpMyVisites : logiciel gratuit de mesure d\'audience et de statistiques de sites Internet (licence libre GPL, logiciel en php/MySQL)
<img src="http://localhost/phpmyvisites_v2_cv/phpmv2/phpmyvisites.php" alt="phpMyVisites" style="border:0" />
</p>
</noscript>
</a>
<!-- /phpmyvisites --> 
</center>
{/if}
<p class="archive">
Version : phpMyVisites {$PHPMV_VERSION}
</p>
