/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*
	http://jogger.pl/ style
*/
.pagination-jogger .sep,.pagination-jogger .label {display:none;}
.pagination-jogger {
	font-family: "Lucida Sans Unicode", "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif;
	padding:2px;
	margin:7px;
}

.pagination-jogger .lien_pagination {
	margin: 2px;
	padding: 0.5em 0.64em 0.43em 0.64em;
	background-color: #ee4e4e;
	text-decoration: none; /* no underline */
	color: #fff;
}
.pagination-jogger .lien_pagination:hover, .pagination-jogger .lien_pagination:active {
	padding: 0.5em 0.64em 0.43em 0.64em;
	margin: 2px;
	background-color: #de1818;
	color: #fff;
}
.pagination-jogger .on {
	padding: 0.5em 0.64em 0.43em 0.64em;
	margin: 2px;
	background-color: #f6efcc;
	color: #6d643c;
}
.pagination-jogger .disabled {
	display:none;
}