/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
.pagination-blue .sep,.pagination-blue .label {display:none;}
.pagination-blue {
	padding: 3px;
	margin: 3px;
	text-align:center;
}

.pagination-blue .lien_pagination {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	text-decoration: none; /* no underline */
	color: #036CB4;
}

.pagination-blue .lien_pagination:hover,
.pagination-blue .lien_pagination:active {
	border: 1px solid #999;
	color: #666;
}
.pagination-blue .on {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #036CB4;
	font-weight: bold;
	background-color: #036CB4;
	color: #FFF;
}
.pagination-blue .disabled .on {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
	background:none;
	font-weight:normal;
}