/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Youtube style pagination*/
.pagination-youtube .sep,.pagination-youtube .label {display:none;}

.pagination-youtube {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:right;
	padding:4px 6px 4px 0;
	background-color:#cecfce;
	border-top:1px dotted #9c9a9c;
	color:#313031;
}

.pagination-youtube .lien_pagination {
	font-weight:bold;
	color:#0030ce;
	text-decoration:underline;
	padding:1px 3px 1px 3px;
	margin:0 1px 0 1px;
}

.pagination-youtube .lien_pagination:hover, .pagination-youtube .lien_pagination:active {

}
.pagination-youtube .on {
	padding:1px 2px 1px 2px;
	color:#000;
	background-color:#fff;
}
.pagination-youtube .disabled {
	display:none;
}