#extra, #navigation, #outils, #pied, #entete p.langues, #entete .download_bouton, .cadre_download {display:none;}
#entete img {display: block; margin: auto; text-align:center; width: 100px; height:auto; }
#conteneur {background:none;clear:none;padding:0;}
#contenu {float:none;width:98%}
#page{width:18cm;margin: 0 1.5cm;font-size:14px;}

