/*  --------------------------------------------------- */
/*  Feuilles de styles des squelettes de SPIP.NET 2007  */
/*  --------------------------------------------------- */

/* Correction des styles par defaut / mise a zero multinavigateurs */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { /*font-style: normal; font-weight: normal; */ }
ol,ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }
 
/*  ------------------------------------------
/* 	Typographie generale (style transversaux)
/*  ------------------------------------------ */
html { font-size: 100%; }
body { font-size: 1em; font-family: "Trebuchet MS", Helvetica, sans-serif; color: #333; }

/* Taille typo : correspondance em / pixels
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/* Typo pour les menus et la navigation */
body, #hierarchie, #extra, .formulaire_spip { font-family: Verdana, Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu, .tiers { font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Titraille */
h1 { font-size: 1.27em; font-weight: bold; }
h1, h1 * { color: #3465a4 !important; }
h3.spip, h3.titre { font-family: Georgia, Times, serif; font-weight: bold; }
h3.spip { margin: 2em 0 1em 0; border-bottom: 1px solid #3465a4; text-align: left; font-size: 1.1em; color: #3465a4; }
hr { height: 1px; border: none; color: #3465a4; background: #3465a4; width: 70%; margin: 1.4em auto; }

/* Citations, code et poesie */
blockquote, q, .spip_poesie, .spip_serif { font-family: Georgia, Times, serif; }
blockquote, blockquote.spip { border: 0; border-left: .3em solid #A0C0E0; color: #333; }

tt, .spip_code, .spip_cadre { font-family: monospace; font-style: normal; font-size: 1.2em; }
.spip_code { color: #3465a4; }
.spip_cadre { overflow: scroll; overflow-x: hidden; padding: 1px; background: #eee; border: 1px inset #333; line-height: normal; color: #036; }

/* Listes */
ul.spip { margin: 0 2em; list-style-type: circle; }
ol.spip { margin: 0 2em; list-style-type: decimal; }
li.spip { margin-bottom: 1em; }

/* Divers autres */
b, strong { font-weight: bold; }
i, em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }

/* Paragraphes */
p, ul.spip, ol.spip, blockquote, .spip_cadre, div.spip_code, hr { margin-bottom: 1em; }

/* Habillage des formulaires
---------------------------------------------- */
input, textarea, select { font-size: 100%; font-family: inherit; }
.forml, textarea, select { width: 99%; background: #F4F8F8; border: 1px inset #CC9; color: #000; }

/* Formulaires de SPIP */
.formulaire_spip { background-color: #EEC; margin-bottom: 2em; padding: 1em; text-align: left; color: #330; }
.formulaire_spip p { margin: 0.5em 0; padding: 0; }
.formulaire_spip fieldset { margin: 0; margin-bottom: 1em; padding: 0; border: 0; border-top: 1px solid #CC9; }
.formulaire_spip legend { margin: 0; padding: 0; padding-right: 0.50em; color: #330; display: none; } /* preciser la couleur des legend pour IE/Win */
.formulaire_spip label { display: block; font-size: .9em; }
.formulaire_spip .forml { width: 99%; background: #FFF; padding: 1px; border: 1px inset; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input {}

fieldset.previsu { padding: 1em; border: 1px solid; }
.reponse_formulaire { font-weight: bold; color: #a40000; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

#formulaire_recherche {padding:0; background:transparent}
#formulaire_recherche #recherche {}

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */

body { /*background: #eeeeec url(background.gif);*/ background: #fff; margin: 0; padding: 0; text-align: center; }

#page { /*width: 54em;*/ width: 48.7em; text-align: left; margin-left: auto; margin-right: auto; position: relative; }
#conteneur { clear: both; width: 100%; padding-bottom: 2em; background: #FFF url(img/bg-conteneur.gif) repeat-x; }
#contenu { float: left; /*width: 35em; margin-left: 3em; display: inline;*/ width: 75%; }
#extra { float: right; /*width: 12em;*/ width: 20%; margin-top: 2em; padding-left: 2%; border-left: 1px solid #C9C9C9; text-align: center; }

/* Entete */
#entete { width: 100%; background: #FFF; }
#entete a .spip_logos { float: left; margin-top: 1em; /*margin-left: 1em; display: inline;*/ }
#entete a { text-decoration: none; }
#entete p.langues { clear: both; line-height: 3.2em; margin: 0; padding: 0 1em; font-size: 0.71em; }
#entete p.langues img { vertical-align: text-bottom; }
#entete p.langues .on, #entete p.langues .on a { font-size: 1.2em; color: #75507b; }
#entete p.langues a:after {content:"";}

#navigation { width: 100%; padding: 0; background: #75507b url(img/navigation.jpg) repeat-x bottom; /*border-bottom: 1px solid #5c3566;*/ font-size: .77em; color: #75507b; }
#navigation * { display: inline; }
#navigation ul { float: left; display: block; width: 100%; }
#navigation ul li { float: left; display: block; }
#navigation ul li a { display: block; /*width: 15.5em;*/ width: 13.79em; min-height: 2.4em; padding: .5em 1em; background: transparent url(img/onglet.png) no-repeat left bottom; border: 0; color: #F8F7F3; }
* html #navigation ul li a { height: 2.4em; }
#navigation ul li a:hover { background-color: #5c3566; color: #dadada; }
#navigation ul li a.on { background-color: #5c3566; font-weight: normal; color: #fff; }

#outils { margin: 0; padding: .1em 0; background: #B4A0B7; font-size: .77em; text-align: left; }
#outils ul, #outils li, #outils div,#outils form { display: inline; line-height: normal; }

.formulaire_recherche { margin: 0; padding: .1em 1em; background: none; border: none; }
.formulaire_recherche label { display: none; }
.formulaire_recherche input.forml { width: 10em; background: #E8E8E8; margin: 0; padding: 1px 2px; border: 1px inset #68D055; color: #75507b; }
.formulaire_recherche input.forml:focus { background-color: #F8F7F3; }
.formulaire_recherche input.bouton { vertical-align: middle; }
#outils, #outils a { color: #2F3436; }
#outils a { padding: .1em 1em; font-size: .9em; border-left: 1px dotted #888; }
#outils a:hover { color: #fff; }

/* Pied de page */
#pied { clear: both; width: 100%; border-top: 1px dotted #CCC; text-align: center; font-size: .77em; }
#pied small { display: block; padding: 2px; }
#pied, #pied a { color: #666; text-decoration: none; }
#pied a:hover { color: #000; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

/*  ------------------------------------------
/*  Habillage des elements du contenu
/*  ------------------------------------------ */

/* Fil d'Ariane */
#hierarchie { clear: both; padding: 0.4em 0 1em 0; font-size: 0.71em; }
#hierarchie, #hierarchie a, #hierarchie strong.on { color: #999; }
#hierarchie a:hover { color: #444; }

/* Cartouche */
.cartouche { margin: 2em 0; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 16px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; color: #666; }
.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-right: 2px; }
.cartouche .traductions, .cartouche .traductions a { color: #666; }
.cartouche .traductions a:hover, .cartouche .traductions .on { color: #000; }
.cartouche .traductions a:after {content:"";}

/* Blocs de texte */
.chapo { margin-bottom: 1.5em; font-size: 0.82em; line-height: 1.4em; font-weight: bold; }
.texte { font-size: 0.82em; line-height: 1.3em; color: #000; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: .77em; }

/*  ------------------------------------------
/*  Sous-navigation et autres menus
/*  ------------------------------------------ */

/* Listes d'articles et extraits introductifs */
.liste-articles { margin-bottom: 3em; }
.liste-articles h2 { font-size: .77em; }
.liste-articles ul { border-top: 1px dotted #CCC; }
.liste-articles li { padding: 1em 0; background-image: url(img/pale.gif); border-bottom: 1px dotted #CCC; }
.liste-articles li .titre { font-size: 0.9em; font-weight: bold; }
.liste-articles li .titre, .liste-articles .titre * { color: #5c3566 !important; }
.liste-articles a:hover { text-decoration: underline; }
.liste-articles .titre a:hover, .liste-articles .titre a:hover * { color: #f57900 !important; }
.liste-articles li .spip_logos { float: right; margin-left: 16px; margin-bottom: 16px; clear: right; }
.liste-articles li p { margin: 0; padding: 0; }
.liste-articles li small { display: block; font-size: 0.71em; color: #666; }
.liste-articles li .texte { margin-top: 5px; font-size: 0.80em; line-height: 1.4em; }

.pagination { font-size: .9em; }

/* Sous-rubriques */
.sous_rubriques { margin-bottom: 3em; }
.sous_rubriques h2 { font-size: .77em; }
.sous_rubriques ul { border-top: 1px solid #C9C9C9; }
.sous_rubriques ul li { height: 7em; padding: 1em .1em; border-bottom: 1px solid #C9C9C9; background: #FFF url(img/bg-sous_rubriques.gif) repeat-x bottom; }
*html .sous_rubriques ul li { height: 8em; }
.sous_rubriques ul li.demi { display: block; width: 47%; }
.sous_rubriques ul li.demileft { float: left; }
.sous_rubriques ul li.demiright { float: right; margin-right: 0; }
.sous_rubriques ul li:hover { /*background: #F4F8F8;*/ }
.sous_rubriques ul li h3 { font-size: 0.88em; }
.sous_rubriques ul li p { font-size: .80em; color: #333; }
.sous_rubriques ul li .spip_logos { float: right; }
.sous_rubriques ul li .suite { display: block; background: #fff; font-size: .9em; font-weight: bold; font-style: italic; }
.sous_rubriques ul li ul li { height: auto; padding: 0; font-size: 10px; display: none; }

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .syndic { min-width: 10em; margin-bottom: 1em; font-size: .77em; text-align: left; }
.menu-titre { padding: .2em 0; font-weight: normal; text-transform: uppercase; }
.menu-titre, .menu-titre a { color: #babdb6; }

.menu { margin: 1em 0; text-align: left; font-size: 0.9em; }
.menu ul {}
.menu ul li {}

/*  Rubriques
---------------------------------------------- */
/*.rubriques h2 { display: none; }*/
.rubriques li { background: #75507b; margin-bottom: 1px; text-transform: uppercase; }
.rubriques li a { display: block; padding: .2em 0.7em; color: #FFF; }
.rubriques li li { display: block; background: #dadada; padding-top: 4px; padding-bottom: 4px; text-transform: none; }
.rubriques li li a { color: #75507b; }
.rubriques .memrub { padding: 0; font-size: 0.9em; }
.rubriques .memrub li { list-style: square inside; padding: .2em 0.7em; margin: 0; }
.rubriques li .memrub li { border-left: none; }
.rubriques .memrub li a { display: inline; padding: 0; }
.rubriques .memrub * { color: #75507b !important; }
.rubriques .memrub a:hover { text-decoration: underline; }

/*  Sites references et liens issus de la syndication
---------------------------------------------- */
.syndic ul, .syndic li, .syndic p { margin: 0; padding: 0; }
.syndic .box { padding: 0.8em; background-color: #eeeeec; border: 2px solid #babdb6; }
.syndic li.box { min-height: 26px; min-height: 50px; margin-bottom: 1em; overflow:hidden;}
.syndic li.box .spip_logos { float: left; }
.syndic li.box .titre { display: block; margin: 3px 0; }
.syndic li.box .titre, .syndic li.box p, .syndic li.box blockquote, .syndic li.box ul { margin-left: 60px; }
.syndic li.link { margin: .2em 0; list-style: circle inside; font-style: italic; }
.syndic li li.link { padding-left: 1em; }

/*  Boutons speciaux
---------------------------------------------- */

/* Telecharger la derniere version de SPIP */
.download_bouton { display: block; width: 90px; height: 28px; margin: 0; padding-top: 11px; padding-left: 40px; background: url(img/download-lrt.gif) no-repeat top left; font-size: 11px; font-weight: bold; color: #FFF; }
#entete .download_bouton { position: absolute; right: 0; top: 0; margin: 78px 0 0 0; text-align: center; }

/* Bouton uzine - Manifeste du Web independant */
.uzine { width: 90px; margin: 2em 0 3em 0; background: #FAA330 url(img/web_independant-logo.gif); line-height: normal; }
.uzine .bouton a { display: block; text-decoration: none; padding-top: 52px; text-align: center; font-size: 8px; font-weight: bold; color: #FFF; }
.texte .uzine { float: left; margin: 0; margin-right: 1em; margin-bottom: 1em; }

/* Gazette */
#gazette { margin: 2em 0 3em 0; font-size: 0.82em; }
#gazette h2 { display: none; }
#gazette ul { text-align: center; font-size: .77em; text-transform: uppercase; }
#gazette p { text-align: center; font-size: .70em; color: #BABDB6; }
#gazette img { width: 70px; height: 100px; padding: .3em; border: 1px solid #ccc; }

/*  ------------------------------------------
/*  Variantes par gabarit
/*  ------------------------------------------ */

/* Petition "des sites sous SPIP"
----------------------------------------------- */
.formulaire_signature { /*width: 60%;*/ }
.formulaire_signature input.forml { width: 47%; }
#signatures { clear: both; }
#signatures h2 { padding: 0.5em; text-align: center; font-size: 1em; font-weight: bold; }
#signatures li { clear: both; background: #eeeeec url(img/site.gif) no-repeat; background-position: left top; /*background-position: 3px 0.8em; */ min-height: 90px; padding: 0.8em; padding-left: 30px; margin-top: 0.5em; margin-bottom: 0.5em; font-size: .77em; border: 2px solid #babdb6; }
#signatures li h3 { font-weight: bold; }
#signatures li p { margin: 0; padding: 0; }
#signatures li p.url {}
#signatures li p.nom {}
#signatures li p.message {}
#signatures li .spip_logos { display: block; float: right; margin-left: 1em; }
#signatures .pagination { margin: 0; padding: 0; text-align: center; font-size: .77em; }

/*  Habillage du glossaire
---------------------------------------------- */
.page_mot #conteneur #contenu { width: 100%; margin: 0; }
.page_mot .groupe_mot { float: left; width: 22%; margin: 0 4% 0 0; font-size: .77em; }
.page_mot .groupe_mot#groupe9, .page_mot .groupe_mot#groupe13 { margin-right: 0; }
.page_mot .groupe_mot h2 { margin: 3em 0 1em 0; padding: 3px 5px; background: #75507b; font-weight: bold; text-transform: uppercase; color: #fff; }
.groupe_mot dt { margin: 0.1em 0; font-weight: bold; }
.page_mot .groupe_mot dt:hover { cursor: help; }
.groupe_mot dd { padding: 0.1em 0; padding-left: 0.5em; }

/*  Plan du site
---------------------------------------------- */
#plan_site { margin-top: 1.3em; }
#plan_site ul { font-size: 12px; }
#plan_site ul ul li { margin-bottom: 1em; padding: 0.8em; padding-top: .2em; background-color: #eeeeec; border: 2px solid #ad7fa8; }
#plan_site strong { display: block; font-size: 14px; padding-top: 0.5em; }
#plan_site ul ul li .spip_logos { float: right; clear: right; padding-top: 0.5em; }
#plan_site ul ul li li { margin: 0; padding: 0; padding-left: 0.8em; background: none; border: none; }
#plan_site ul ul li li .spip_logos { width: 50px; height: auto; }
.page_plan #extra { margin-top: 3em; }
.page_plan #extra .menu { margin: 0 0 3em 0; font-size: .77em; }
.page_plan #extra .menu ul {}
.page_plan #extra .menu ul li { padding: .3em 0; }
.page_plan #extra .menu ul li.tout_afficher { margin: 1em 0; line-height: 1em; }

/* Page de liens utiles
----------------------------------------------- */
.page_site #contenu .cartouche { display: none; }
.page_site #contenu .syndic { margin-top: 1.3em; }
.page_site #extra { margin-top: 3em; }
.page_site #extra .menu { margin: 0 1.2em 1.2em 0; font-size: .77em; }
.page_site #extra .menu ul {}
.page_site #extra .menu ul li {}
.page_site #extra .menu ul li.tout_afficher { margin: .5em 0; line-height: 1em; }

/* Resultats de recherche
----------------------------------------------- */
.spip_surligne { background: #FF6; }
.page_recherche #extra { display: none; }

/* Page de login
----------------------------------------------- */
/* Formulaire de login */
.formulaire_menu_lang { float: right; width: 14em; text-align: right; margin: 0; padding: 0; background: none; font-size: .9em; }
.formulaire_login { float: right; margin: 1em auto; font-size: .9em; }
.formulaire_login label { display: inline; }
.formulaire_login input.forml { width: 14em; }
.formulaire_login p { margin: 1em 0 1em 120px; }
.formulaire_login img.spip_logos { float: left; padding: 4px; border: 1px solid #eee; }
.page_login .menu { margin-top: 4em; }
.page_login .menu li { margin: 1em; text-align: center; }

.formulaire_inscription { font-size: .77em; }

/* Page d'accueil du site
----------------------------------------------- */
.page_sommaire { background: #F8F7F3; }
.page_sommaire #page { width: 780px; }
.page_sommaire #entete { background: none; text-align: center; }
.page_sommaire #entete .spip_logos { margin: 3em auto 1em auto; float:none;}
.page_sommaire #conteneur { background: none; text-align: center; }
.page_sommaire #conteneur #contenu { float: none; display: block; width: 100%; margin: 0 auto; padding: 0; }
.page_sommaire #conteneur #contenu ul li { float: left; }
.page_sommaire #conteneur #contenu ul li a { display: block; width: 6.9em; height: 4em; margin: 0 .2em; padding: .3em .4em; padding-top: .5em; overflow: hidden; text-align: center; border-bottom: 1px solid #CCC; }
.page_sommaire #conteneur #contenu ul li#ref { float: none; }
.page_sommaire #conteneur #contenu ul li#ref a { width: 97%; margin: 0 auto; border-top: 1px solid #CCC; }
.page_sommaire #conteneur #contenu ul li img { float: right; margin: 0 0 0 .4em; }
.page_sommaire #conteneur #contenu ul li strong { margin-bottom: .2em; padding: 0; font-family: Georgia, Times, serif; font-size: .9em; font-weight: bold; }
.page_sommaire #conteneur #contenu ul li small { display: block; font-size: 0.71em; color: #333; }
.page_sommaire #conteneur #contenu ul li a:hover { background: #faa22f url(img/bg-enter.png) center; color: #fff; }
.page_sommaire #conteneur #contenu ul li a[hreflang]:after { content:"";}

/* Page d'accueil du secteur
----------------------------------------------- */
.page_secteur {}
.page_secteur #contenu { padding-top: 1em; }
.page_secteur .quart { float: left; width: 22%; margin: 0 4% 0 0; }
.page_secteur .tiers { float: left; width: 30%; margin: 0 4% 0 0; }
.page_secteur .tiers3 { margin-right: 0; }

#sites_sous_spip { font-size: .77em; }
#sites_sous_spip h2 { color: #888; }
#sites_sous_spip ul { width: 130px; margin: 0 auto; padding: 0; list-style: none; }
#sites_sous_spip ul li { margin: 0; padding: 0; list-style: none; text-align: center; }
#sites_sous_spip ul li img { width: 120px; height: 90px; margin: 0 auto; background: #eeeeec url(img/site.png) no-repeat center; border: 3px solid #babdb6; }
#sites_sous_spip p { /*text-align: right; padding-right: 1.2em; padding-top: .1em;*/ }
#sites_sous_spip p .suite { font-weight: bold; font-size: .77em; }


/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */

/* Voir le squelette de cette page */
a.voirskel { display: block; float: right; width: 120px; height: 35px; text-align: left; margin: 0 auto; padding: 8px 0; padding-right: 37px; background: transparent url(img/squelette.gif) no-repeat; background-position: left; padding-left: 67px; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; font-size: 0.82em; }
a.voirskel:hover { text-decoration: none; filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; }

/* Couleurs des liens */
a, a.spip_in { color: #5c3566; text-decoration: none; }
a.spip_out, a.spip_url, a.spip_glossaire { color: #600051; text-decoration: none; background: url(img/spip_out.gif) no-repeat; background-position: right; padding-right: 10px; }
* html a.spip_out, * html a.spip_url, * html a.spip_glossaire { background: none; padding-right: 0; }
.on { font-weight: bold; color: #5c3566; }
a:hover { color: #f57900; text-decoration: none; }
a:hover.spip_out, a:hover.spip_url, a:hover.spip_glossaire { color: #600051; text-decoration: underline; }
a:visited.spip_out, a:visited.spip_url, a:visited.spip_glossaire { color: #5c3566; }
