/*
    VerySimple - Style for Wordpress
    by Gary Rogers (gary.rogers@dmin.net)
    
    Licensed under the Creative Commons License
    (http://creativecommons.org/licenses/by/2.0/)
    
    ** NOTE **
    Not all Styles are used here, but they all exist in Alex's sample
    page, so they remain for reference.
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    font-size: small;
}

blockquote {
    margin-left: 20px;
    color: #444;
}

a img {
    border: none;
}

code {
    font-family: Monaco, 'Courier New', Courier, monospace;
    font-size: small;
    color: #666;
}

h2 {
    font-size: x-small;
    color: #999;
    text-align: right;
    border-bottom: 1px solid #999;
}

#rap {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font-size: xx-large;
    font-weight: bold;
}

#header a {
    text-decoration: none;
    color: #999;
}

#content {
    width: 500px;
}

.post {

}

.storytitle {
    font-size: normal;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 2px;
}

.storytitle a {
    text-decoration: none;
    color: #999;
}

.meta {
    font-size: x-small;
    margin: 0px;
    margin-bottom: 2px;
}

.meta ul {
    display: inline;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.meta li {
    display: inline;
}

.post-categories {
    font-style: italic;
}

.storycontent {

}

.storycontent img {
    margin-right: 15px;
}

.feedback {
    font-size: x-small;
    text-align: right;
    margin-bottom: 20px;
}

#menu {
    position: absolute;
    top: 40px;
    margin-left: 520px;   
    font-size: x-small; 
    width: 200px;
}

#menu a img {
    padding: 3px;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    font-weight: bold;
    margin-top: 10px;
}

#menu ul li p {
    font-weight: normal;
}

#menu ul li ul {
    font-weight: normal;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 10px;
}

#menu ul li ul li {
    text-indent: 0px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

#wordpress {
    font-style: normal;
}

#categories {

}

#search {

}

#archives {

}

#calendar {
    font-weight: normal;
    text-align: center;
}

#wp-calendar {
    font-weight: normal;
}

#prev {

}

#pad {

}

#today {
    background: #CCC;
}

#other {

}

#style {

}

.credit {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-small;
    text-align: center;
    padding-top: 10px;
}