body {
  font-family: sans-serif;
  color: #111111;
  font-size: 75%;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.invisible, .element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
