foo, bar {
	o: k;
}

outer foo, outer bar {
	o: k;
}

body[content="oh, look"] foo, body[content="oh, look"] bar {
	o: k;
}

.foo-bar {
	o: k;
}

.bar {
	o: k;
}

foo2bar {
	o: k;
}

nex3_is_weird {
	flabnabbit: flabnabbit('1foo');
}
