/* CSS Document */
/* $Id$ */

#abomailmansListes .abonnement {
	border:1px solid #CCCCCC;
	padding:10px 2px 10px 2px;
	margin:5px;}

#abomailmansListes {

}

#abomailmansListes .inp {
	/*width:150px !important;*/
	border:1px solid #CCCCCC;}

 #abomailmansListes label, #abomailmansListes legend{
	font-size:.8em;}

#abomailmansListes legend{
	padding:.5em;
	font-size:1em;}

#ajax-loader {
	padding:10px;}