
/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */
 
/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #7e7e7e; 
	background: #FFFFFF url(images/bg.gif) repeat-x;
	line-height: 1.03em; 
}

img, table { margin: 0; padding: 0; border: 0; }
ul, ol, li { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

p {
	padding: 2px 0 5px;
	margin: 0;
}

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
	width: 50em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	background : #FFF url(images/navigation.jpg) repeat-y top right;

}

#conteneur { 
	width: 100%; }

#conteneur #contenu {
	float: left;
	width: 33em;
	margin-left: 1em;
}

#conteneur #navigation {
	float: right;
	width: 12em;
	margin-right: 1em;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	width: 21em;
}

#contenu .encart {
	float: right;
	width: 11em;
	margin: 0;
	margin-bottom: 1em;
}

#contenu a {}

/* Entete */
#entete { 
	height: 45px; 
	margin: 0px 0 2px 0; 
	padding: 20px 0 0 5px;
	border-top: 4px solid #000;
	background: #FFF url(images/headerbg.gif) repeat-x bottom left;
	color: #808080;
}

#entete #nom_site_spip {
	font: bold 1.21em Arial, Sans-Serif;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}

#entete  .spip_logos {display:none;}

#entete a { text-decoration: none; }
#entete .formulaire_recherche { 
	float: right; 
	margin-top:-1.5em;
	margin-right:4.6em;
}
#entete .formulaire_recherche input { 
	background : #fff ;
	border: solid 1px #e6e6e6;
	color: #808080;
	padding: 0.18em 0.4em;
	font-size: 0.88em;
	width: 8.5em;
}

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	padding-left: 1.3em;
	margin: 0.5em 0 1em 0;
	font-size: 0.77em; 
	background: #FFF;
	color: #626262;
}

/* Pied de page */

#pied {
	clear: both;
	color: #999999; 
	width: 100%;
	margin-top: 4em;
	border-top: 1px solid #e6e6e6;
	padding: 10px 0 10px 0; 
	text-align: center; 
	line-height: 13px;
	background: #FFF;
	}
#pied small { font-size: 0.77em; }
#pied img { vertical-align: bottom; }
#pied a { text-decoration: underline; }

/* Page d'accueil */ 

#page_sommaire .chapo {color: #33ADDB;}
#page_sommaire .chapo a	{
	color: #6AC65D;
	background-color: inherit;
	text-decoration: none;}

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart,.formulaire_spip {
	font-family: Tahoma, Arial, Helvetica, sans-serif; }

/* Typo pour le contenu */
#contenu {
	 }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip {
	 }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	margin-bottom: 1em;
	font-size: 0.77em;
	background: #f2f2f2 url(images/corner.gif) no-repeat bottom right;
	padding: 0.4em 0.2em;
}

h2, .menu-titre {
	margin: 0; 
	padding: 0.5em 0.4em;
	font: 1.03em Arial, Sans-Serif;
	font-weight: bold;
	color: #808080; 
	text-transform: uppercase;
	background-color: inherit;
}

h2 a, .menu-titre a {
	color: #6AC65D;
	background-color: inherit;
	text-decoration: none;
}

.rubriques p, .breves p, .syndic p, .forums p, .divers p { margin: 0; padding: 0.2em 0.7em;  }
.rubriques ul, .breves ul, .syndic ul, .forums ul, .divers ul { padding: 0.2em 0; }
.rubriques li, .breves li, .syndic li, .forums li, .divers li { padding: 0 0.7em; }

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques {padding: 0 0 0.4em 0;}
.rubriques .menu-titre { 
	line-height: 28px;
	background: #33ADDB url(images/hmleftbg.gif) repeat-x;
	color: #FFFFFF;
	padding: 0 5px 0 5px;
 }

.breves {  }
.breves .menu-titre { }

.syndic {  }
.syndic .menu-titre { }

.forums {  }
.forums .menu-titre {  }

.divers {  }
.divers .menu-titre {  }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin-bottom: 1em; }

.cartouche .titre {
	margin: 0; 
	padding: 0.5em 0.4em;
	font: 1.03em Arial, Sans-Serif;
	font-weight: bold;
	color: #808080; 
	text-transform: uppercase;
	background-color: inherit;
	}
#contenu .surtitre, #contenu .soustitre { font-size: 0.7em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { 
	color: #33ADDB; 
	background: #FFFFFF;
	text-align: right; 
	margin: 4px 0 3px 0; 
	padding: 0; 
}

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1em;
	font-weight: bold;
	line-height: 1.2em; 
	font-size: 0.77em;
	color: #808080; 
	}

.lien {
}

.texte { color: #000; font-size: 0.77em; }

.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #33ADDB; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #33ADDB; }
#documents_portfolio img {
	width:60px;
}
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { 
	margin-top: 1em; 
}
#document_actif img { 
	height:auto;
	width:100%;
}

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #33ADDB; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles li { 
	margin-bottom: 1em; 
	padding: 0.5em  0.5em 0.5em 0.5em; 
	border: 1px solid #e6e6e6;
}

.liste-articles li .titre {
	font: bold 1.03em Arial, Sans-Serif; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	padding: 0.9em;
	font-size: 0.77em;
	line-height: 1.4em; }
	
.liste-articles h3 a { 
	text-decoration:none; 
	position:relative;}

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */
.page_plan #contenu h2 a { }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #33ADDB;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-left: 1em;
	margin-bottom: 1em;
	list-style: square; }
.page_plan #contenu .contre-encart li { list-style: inherit; }

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

/* Correction des styles HTML par defaut */
.formulaire_spip form, .formulaire_spip fieldset, .formulaire_spip legend, .formulaire_spip label, .formulaire_spip input, .formulaire_spip textarea, .formulaire_spip select, .formulaire_spip option { margin: 0; padding: 0; border: 0; background: none; }

/* Styles des formulaires de Spip */
.formulaire_spip {
	text-align: left;
	font-size: 0.77em;
}

.formulaire_spip p {
	margin: 0.5em 0;
	padding: 0; }

.formulaire_spip fieldset {
    display: block;
	margin: 0.77em 0;
	padding: 0.77em;
	border: 1px dotted; }
.formulaire_spip legend { 
	font-weight: bold; 
	padding: 3px;
	background: #FFF; /* Sinon, superposition dans MSIE */
}

.formulaire_spip label {}
.formulaire_spip .forml {
	width: 99%;
	padding: 1px;
	border: 1px solid #e6e6e6;
	font-family: inherit;
	font-size: inherit; }

.spip_bouton { text-align: right; }
.spip_bouton input {
	margin: 3px 0;
	padding: 1px 2px;
	border: 2px outset;
	font-weight: bold;
	float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #F00; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu {
	padding: 1em;
	border: 1px solid; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
.choix_mots { width: 47%; float: left; } 
.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { text-align: left; width: 12em; }
.formulaire_recherche label { display: none; }

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #e6e6e6;
	font-size: 0.88em;
	font-weight: bold; }

input {border-color: #e6e6e6 !important;}

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #33ADDB; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a:link, a:visited {
	color: #33ADDB;
	background-color: inherit;
}

a:hover {
	color: #575757;
	background-color: inherit;
}

/*  ------------------------------------------
/*  Barre typo enrichie
/*  ------------------------------------------ */

.texteencadre-spip {
	color: #000033;
	background: #EEF;
	border: 1px solid #33ADDB;
	margin: 1em 0;	
	padding: .25em;	
	position: relative;
}

.caractencadre-spip {
	color: #F60;
	font-weight: bold;
}

.caractencadre2-spip {
	color: #009;
	font-weight: bold;
}

acronym.spip_acronym {
	cursor: help;
	border-bottom: 1px dotted;
}

a[hreflang]:after {
content: "\0000a0[" attr(hreflang) "]";
color: #999;
background : transparent;
}

a.spip_blank {
	color: #F00;
}

/* Pour le mode preview dans l'admin */
#article_preview {
	display:none;
	border:1px solid #666;
	overflow: auto;
	background-color: #FFCCCC;
}