/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	margin: 0;
	padding: 0;
	background-color: silver;
	text-align: center;
	font-size: 96%;
	background-color: #757D88;
}

img, table { margin: 0; padding: 0; border: none; }
ul, ol, li { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
	width: 51em;
	text-align: left;
	margin: 1.5em auto;
	padding-top: .5em;
	background-color: white;
}
#page_agenda {	text-align: left;}

#conteneur { width: 50em; margin: 0 .5em;}

#conteneur #contenu {
	float: right;
	width: 38em;
	display:inline;
	margin: 0 0 0 0;
}

#conteneur #navigation {
	float: left;
	width: 11em;
	display: inline;
	margin: 0;
	background-color: #F3CF00;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	width: 59%; 
}

#contenu .encart {
	float: right;
	width: 35%;
	margin: 0;
	/* 
	position: absolute;
	top: 0;
	right: 0;
	width: 9em;
	margin: 0 0 1em;
	padding:0;
	background-color: silver;
	overflow:hidden;
 	*/
 }


/* Entete */
#entete {
	position: relative;
	left: 0;
	width: auto;
	margin: 0 .5em;
	padding: 0 0;
	background-color: #595D66;
	border: 0;
}
#entete a {
	display: block;
	font-weight: normal;
	color: white;
	font-size: 2.5em;
	margin: 0 ;
	background-repeat: repeat;
}
#entete a { text-decoration: none; }
#entete .formulaire_recherche { position:absolute; bottom:-2em; right:.3em;}
#entete .formulaire_recherche .forml { width: 8em;}

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	font-size: 0.77em;
	margin: .7em 9.66em 0 .66em;
	padding-bottom: .66em;
	/* border-bottom: 1px dotted #757D88 */
	/* background-color: silver; */
}

/* Pied de page */
#pied {
	clear: both;
	margin: .5em;
	padding: .5em 0;
	text-align: center;
	background-color: navy;
	color: white;
}
#pied small a { font-size: 0.9em; color: white }
#pied img { vertical-align: bottom; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour le titre du site */
#entete #nom_site_spip {
	font-family: Impact, "Trebuchet MS",Tahoma, "Arial Narrow", "Futura Condensed",  Helvetica, sans-serif; }

/* Typo pour les menus et la navigation */
body, #navigation, .encart,.formulaire_spip {
	font-family: Verdana, "Bitstream Vera Sans", Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip {
	font-family: "Bitstream Vera Serif", Georgia, Times, serif; }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 9em;
	/* border: 1px solid #CCC; */
	margin-bottom: 1em;
	font-size: 0.77em;
	font-family: "Trebuchet MS", Arial, sans-serfi;
}

.menu-titre {
	padding: 0.4em 0;
	/* border-bottom: 1px dotted #CCC; */
	text-align: center;
	font-weight: normal;
	font-size: 1.2em;
	text-transform: uppercase;
	color:white;  
}
.menu-titre a, .menu-titre a:link, .menu-titre a:visited, .menu-titre a:hover { color: white; }


.rubriques p, .breves p, .syndic p, .forums p, .divers p { margin: 0; padding: 0.2em 0.7em;  }
.rubriques ul, .breves ul, .syndic ul, .forums ul, .divers ul { padding: 0.2em 0; }
.rubriques li, .breves li, .syndic li, .forums li, .divers li { padding: 0 0.7em; }

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { background: transparent;}
.rubriques .menu-titre {background: transparent; }

#navigation .breves { background: transparent; }
#navigation .breves .menu-titre { background: transparent; }
.encart .breves { background: #E65714; }
.encart .breves .menu-titre { background: #E65714; }

.syndic { background: #369A3D; }
.syndic .menu-titre { background: #369A3D; }

.forums { background: #42B4AC; }
.forums .menu-titre { background-color: #42B4AC; }

.divers { background: transparent; }
.divers .menu-titre { background: transparent; }

/*  Habillage spécifique des blocs d'encart
---------------------------------------------- */

/*
#contenu .encart div {
	width: 30%;
	margin: 0;
	text-align: left;
}
#contenu .encart div.breves { float: left; }
#contenu .encart div.forums { float: right; }
#contenu .encart div.syndic { margin: 0 auto; }
#contenu .encart div.formulaire_spip {width:auto; }
*/

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin-bottom: 2em; }

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: #000; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	line-height: 1.4em;
	background-color: #42B4AC;
	padding: 1em;
}

.lien {
	background: #EEE;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 0.82em;
	border: 1px solid #CCC;
	font-size: 0.82em;
	font-weight: bold; }

.texte { color: #000; font-size: 0.96em; }

.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles li { margin-bottom: 1em; clear: both; }

.liste-articles li .titre {
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	/*border: 1px solid #CCC; */
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em;
	background-color: #EEE;
}

.contre-encart .liste-articles li {
	border-bottom: 1px solid white;
	margin-bottom: 0;
	padding: .5em;
}
.contre-encart {
	background-color: #F3CF00;
}

.pagination { font-size: 0.90em; text-align: center; background: #F3CF00; margin-top:1em;  }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-left: 1em;
	margin-bottom: 1em;
	list-style: square; }
.page_plan #contenu .contre-encart li { list-style: inherit; }

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

/* Correction des styles HTML par defaut */
.formulaire_spip form, .formulaire_spip fieldset, .formulaire_spip legend, .formulaire_spip label, .formulaire_spip input, .formulaire_spip textarea, .formulaire_spip select, .formulaire_spip option { margin: 0; padding: 0; border: none; background: none; }

/* Styles des formulaires de Spip */
.formulaire_spip {
	text-align: left;
	font-size: 0.77em;
}

.formulaire_spip p {
	margin: 0.5em 0;
	padding: 0; }

.formulaire_spip fieldset {
	display: block;
	margin: 0.77em 0;
	padding: 0.77em;
	border: 1px dotted;
}
.formulaire_spip legend {
	font-weight: bold;
	padding: 3px;
	background: #FFF;
	/* Sinon, superposition dans MSIE */
}

.formulaire_spip label {}
.formulaire_spip .forml {
	width: 99%;
	padding: 1px;
	border: 1px solid;
	font-family: inherit;
	font-size: inherit; }

.spip_bouton { text-align: right; }
.spip_bouton input {
	margin: 3px 0;
	padding: 1px 2px;
	border: 2px outset;
	font-weight: bold;
	float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #F00; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu {
	padding: 1em;
	border: 1px solid; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
.choix_mots { width: 47%; float: left; } 
.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { text-align: left; }
.formulaire_recherche label { display: none; }

/* Formulaire d'inscription */
.formulaire_inscription fieldset {
	font-family: Tahoma;
	margin: 0.77em 0;
	padding: 0.77em;
	border: none;
	display:block;
}

.formulaire_inscription legend {
	padding: 0;
	color: #757D88;
	background-color: transparent;
	white-space: normal;
	text-align:center;
	margin: 0 auto;
}


/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }