/* Images et documents */

img { border: none; }

.spip_documents img {
	padding: 4px;
	border: 1px solid #ccc; }

.spip_documents_center {
	display: block;
	clear: both;
	text-align: center;
	margin: 1em auto; }

.spip_documents_portfolio { clear: both; }
.spip_documents_portfolio img { margin: 2px; }
	
/* Album photos flickr */
.demilist ul.flickr li { height: 230px; }
.demilist ul.flickr li img { padding: 4px; border: 1px solid #ccc; }