/* modification des couleurs du theme principal */

body { background-color: #F1C44F; }

#header { background: no-repeat url(header-apero.jpg) center top #F1C44F; }
h1, h1 a { color: #ff8000; }

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover { color: #F0C44F; }

h2 a:hover, h2 span a:hover,
div.sb_comments ul li a:hover { color: #ff8000; }

a { color: #ff8000; }

.primary {
padding-bottom: 60px;
background: transparent url(../images/separateur-spip-party-yellow.jpg) bottom right no-repeat;
}

#calendar td a:hover { background-color: #F0C44F; }

.formulaire_signature { background-color: #FBECCD; }
.spip_bouton input { border-color: #ff8000; background-color: #ff8000; }