/* modification des couleurs du theme principal */

body { background-color: #913D92; }

#header { background: no-repeat url(header-purple.jpg) center top #913D92; }
h1, h1 a { color: #913D92; }

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover { color: #bd1a8d; }

h2 a:hover, h2 span a:hover,
div.sb_comments ul li a:hover { color: #913D92; } /*color: #800040;*/

a { color: #913D92; }

.primary {
padding-bottom: 60px;
background: transparent url(../images/separateur-spip-party-purple.jpg) bottom right no-repeat;
}

#calendar td a:hover { background-color: #913D92; }

.formulaire_signature { background-color: #DAC2DA; }
.spip_bouton input { border-color: #913D92; background-color: #913D92; }