/*- Brian's Latest Comments
	http://meidell.dk/archives/2004/09/12/brians-latest-comments/
*/

div.sb_comments ul li { margin-bottom: 0.6em; }
div.sb_comments ul li a {
	color: #999;
	font-weight: normal;
	word-spacing: -1px; }
div.sb_comments ul li a { text-decoration: none; }

/* Commentaires de forum */
.comments {
	text-align: left;
	padding: 30px 0 0;
	position: relative; }

.comments .commentlist { width: 80%; margin: 0 0 30px 10px; padding: 0; }
.comments .commentlist li { clear: both; margin: 0; padding: 10px 0; list-style: none; }

.counter { font: normal 1.5em 'Century Gothic', 'Lucida Grande'; }
.counter a { color: #999; text-decoration: none; }
.counter a.spip_out { text-decoration: underline; }

.comments .commentlist li img.gravatar { float: left; margin: 0 1em .2em 0; }
.comments .commentlist li p { margin: 0; }
.comments .commentlist li p.counter { margin-bottom: .2em; }


/* Formulaires */
fieldset { border: none; margin: 0; padding: 0; }
legend { display: none; }
label { font: normal 1.1em 'Century Gothic', 'Lucida Grande'; }
.forml, textarea {
	margin: 0;
	padding: 3px;
	border: 2px inset #ececec;
	font: 1em Verdana, Sans-Serif;
	color: #444; }
.spip_bouton input { border: 2px outset #666; background: #666; color: #fff;
font: normal 1.1em 'Century Gothic', 'Lucida Grande'; }
.reponse_formulaire { font-weight: bold; color: red; }

/* Formulaire de forum */
.formulaire_forum { width: 360px; padding: 0; }
.formulaire_forum fieldset { margin-left: 10px; }
.formulaire_forum label { display: block; }
.formulaire_forum .forml { width: 99%; }
.formulaire_forum #titre, .formulaire_forum #nom_site { display: none; }
/*.formulaire_forum { padding: 30px 0 0; }
.formulaire_forum fieldset { margin: 1.6em 0; margin-left: 10px; }
.formulaire_forum p { position: relative; clear: both; margin-bottom: 1.6em; }
.formulaire_forum .forml { width: 180px; position: absolute; left: 0; top: 0; }
.formulaire_forum label { position: relative; left: 195px; text-transform: uppercase; color: #999; }
.formulaire_forum textarea { width: 360px; }*/
/* Barre de raccourcis typo */
table.spip_barre { margin: 0; padding: 0; }
table.spip_barre input { display: none; }
table.spip_barre a img { display: inline; background: #ececec; margin: 0 6px 4px 0; padding: 3px; border: 1px outset #CCC; -moz-border-radius: 3px; }
table.spip_barre a:hover img { background: #FFF; border: 1px outset #666; }

/* Formulaire d'inscription au site */
.formulaire_inscription {}
.formulaire_inscription fieldset { margin: 1.6em 0; margin-left: 10px; }
.formulaire_inscription p { position: relative; clear: both; margin-bottom: 1.6em; }
.formulaire_inscription .forml { width: 180px; position: absolute; left: 0; top: 0; }
.formulaire_inscription label { position: relative; left: 195px; text-transform: uppercase; color: #999; }

/* Formulaire de signature de petition */
.formulaire_signature { background: #ececec; padding: 1em !important; }
.formulaire_signature fieldset { margin-top: 1em; }
.formulaire_signature .forml, .formulaire_signature textarea { width: 90%; }

/*- Search Form and Livesearch */
.formulaire_recherche { /*position: absolute; top: 0; right: 25px;*/ }
.formulaire_recherche * { display: inline !important; }
.formulaire_recherche legend, .formulaire_recherche label { display: none !important; }
.formulaire_recherche .forml { width: 100%; border: 1px inset; }

.formulaire_spip ul { list-style-type:none; }
