/* --------------------------------------------------------------

   tipafriend.css
   Style du modele et formulaire

-------------------------------------------------------------- */

/* ---- Formulaire ---- */

/* Bloc d'information en haut de la popup */
.formulaire_tipafriend .tipafriend_info {}

/* Personnalisation des differentes saisies du formulaire */
.formulaire_tipafriend .saisie_destinataires {}
.formulaire_tipafriend .saisie_expediteur {}
.formulaire_tipafriend .saisie_expediteur_send {}
.formulaire_tipafriend .saisie_expediteur_nom {}
.formulaire_tipafriend .saisie_message_text {}

/* ---- Popup ---- */

/* Conteneurs de la page 
On precise un width minimum a 96% pour "conteneur" et "contenu" 
	=> pour reset des CSS par defaut de SPIP et Zpip 
	=> 96 plutot que 100% pour etre sur de ne pas depasser ... */
#tipafriend_page { position: relative; margin: 0 auto; text-align: left; width: 96%; height: 100%}
#tipafriend_page #conteneur, #tipafriend_page #contenu { min-width: 96%}

/* Conteneur du formulaire 
On met ici un overflow auto pour les cas de presentation en 'thickbox' ou 'fancybox' 
	scroller interne invisible en popup logiquement */
.tipafriend_contenu {height: 100%;overflow-x: hidden;overflow-y: auto}

/* Pied de page */
#pied_popup {margin-bottom: 1em}

/* Typo des liens type boutons (ici nada mais vous pouvez les styliser!) */
a.spip_popup {}

/* Cas particluiers necessaires pour les input specifiques du formulaire */
input.taf_left{float: left}
label.taf_inline {padding: 0;margin: 0;width: auto;padding-right: 1em;float: left}
