



<h3> Offres et demandes en tableau </h3>

<form action=''  method='get'><div>
<input type='hidden' name='exec' value='' />
<textarea readonly='readonly' cols='40' rows='9' class='spip_cadre' dir='ltr'>
domaine de savoir	Offre ou demande	titre	auteur	détail
<BOUCLE_rers_dom(MOTS){tous}{type_mot="Domaine de savoirs"}><BOUCLE_rers_art(ARTICLES){statut IN prop,publie}{id_mot}{id_rubrique=#CONFIG{rers/rers_rub_offres}}><BOUCLE_rers_aut(AUTEURS){id_article}>#_rers_dom:TITRE	Offre	#_rers_art:TITRE	#_rers_aut:NOM	[(#_rers_art:TEXTE|textebrut|replace{\n,|})]
</BOUCLE_rers_aut></BOUCLE_rers_art></BOUCLE_rers_dom>
<BOUCLE_rers_dom2(MOTS){tous}{type_mot="Domaine de savoirs"}><BOUCLE_rers_art2(ARTICLES){statut IN prop,publie}{id_mot}{id_rubrique=#CONFIG{rers/rers_rub_demandes}}><BOUCLE_rers_aut2(AUTEURS){id_article}>#_rers_dom2:TITRE	Demande	#_rers_art2:TITRE	#_rers_aut2:NOM	[(#_rers_art:TEXTE|textebrut|replace{\n,-})]
</BOUCLE_rers_aut2></BOUCLE_rers_art2></BOUCLE_rers_dom2>
</textarea></div></form>











<h3> Offres et demandes par domaines de savoirs </h3>

<form action=''  method='get'><div>
<input type='hidden' name='exec' value='' />
<textarea readonly='readonly' cols='40' rows='9' class='spip_cadre' dir='ltr'>
	{{{Offres}}}
<BOUCLE_jccdom(MOTS){tous}{type_mot="Domaine de savoirs"}{par titre}>
-* #TITRE<BOUCLE_jccmot(ARTICLES){statut IN prop,publie}{id_mot}{id_rubrique=#CONFIG{rers/rers_rub_offres}}>
-** #TITRE</BOUCLE_jccmot></BOUCLE_jccdom>

	{{{Demandes}}}
<BOUCLE_jccdom2(MOTS){tous}{type_mot="Domaine de savoirs"}{par titre}>
-* #TITRE<BOUCLE_jccmot2(ARTICLES){statut IN prop,publie}{id_mot}{id_rubrique=#CONFIG{rers/rers_rub_demandes}}>
-** #TITRE</BOUCLE_jccmot2></BOUCLE_jccdom2>

</textarea></div></form>


<h3> Offres et demandes  </h3>

	<h4> Offres</h4>
	<ul>
	<BOUCLE_jccoff(ARTICLES){statut IN prop,publie}{id_rubrique=#CONFIG{rers/rers_rub_offres}}>
			<li>#TITRE
		</li>
	</BOUCLE_jccoff>
	</ul>

	<h4> Demandes</h4>
	<ul>
	<BOUCLE_jccdem(ARTICLES){statut IN prop,publie}{id_rubrique=#CONFIG{rers/rers_rub_demandes}}>
			<li>#TITRE</li>
	</BOUCLE_jccdem>
	</ul>



