div#conteneur {
	width: 950px;
	margin: 0 auto;
}
div#contenu {
	float: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
div#page {
	width: 100%;
}
div#navigation {
	width: 0;
}
div#extra {
	width: 0;
}
div#calendrier{
 width: 98%;
 margin: auto;
}
