/* ========================================
      Le bloc central de la page sommaire
   ========================================*/

.cadre-une{
  margin-bottom: 20px;
}
/***********/
/* onglets */
/***********/

ul.onglets {
	position: relative;
	z-index: 1;
	padding: 0;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 4px;
	margin-left: 0;
	text-align: left;
}
ul.onglets li {
	list-style: none;
	display: inline;
  margin-left: 5px
}
ul.onglets li a {
 padding-top: 5px;
	padding-right: 14px;
	padding-bottom: 55px;
	padding-left: 14px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
  line-height: 30px;
  border: 1px solid white;
}
ul.onglets li#premier {
  margin-left: -1px;
}
ul.onglets li a.active {
	cursor: default;
	outline: none;
}
.entier {
  white-space: nowrap;
}
.contenu_1 {
	position: relative;
	z-index: 10
}
/* autres onglets */
.contenu_2, .contenu_3, .contenu_4, .contenu_5, .contenu_6, .contenu_7, .contenu_8, .contenu_9, .contenu_10 {
	display: none;
	position: relative;
	z-index: 10;
}
/********************************/
/* Articles de la page sommaire */
/********************************/
.laune .spip_logos {
	float: left;
	margin: 5px;
}
/* cadre */
.laune {
	padding: 10px;
	text-align: left;
	overflow: hidden;

}
/* article a la une */
.laune .fragment {
	margin-top: 10px;
	padding: 0;
}
.laune .titre {
	font-size: 20px;
	margin-left: 60px;
}
.laune .rubrique {
	font-size: 12px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 60px;
}
.laune .image-une{
  float: right;
  margin-top: 30px;
	margin-left: 10px;
}
.laune .texte {
	font-size: 12px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	border: 0;
	text-align: justify;
}
.laune .texte a {
	font-size: 14px;
	float: right;
}
/* autres articles recents */
.laune .titre-autres {
	font-size: 11px;
	font-weight: bold;
	margin-left: 5px;
}
.laune .rubrique-autres {
	font-size: 10px;
	margin-left: 10px;
}
.laune .commentaires {
	font-size: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 50px;
	float:right;
}
.laune ul.anchors {
	list-style: none;
	margin: 0;
	padding: 0;
}
.laune ul.anchors li a {
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
}
.laune ul.anchors .tabs-selected {
	display: none;
}
.anchors li {
	float: left;
	margin: 0;
}
@media projection, screen {
.tabs-hide {
	display: none;
}
}

/* styles importants  pour l'impression */
@media print {
.anchors {
	display: none;
}
}
/***************************/
/* la page du plan du site */
/***************************/
#cadre-plan {
	padding: 5px;
	text-align: left;
}
#cadre-plan img {
	float: left;
}
.titre-secteur {
	padding-top: 15px;
	margin-left: 50px;
	font-size: 16px;
	font-weight: bold;
}
.plan-rubrique {
	font-size: 14px;
	list-style-type: square;
	margin-bottom: 5px;
	font-weight: bold;
}
.plan-article {
	font-size: 12px;
	list-style-type: disc;
	font-weight: normal;
}
/* noisettes inc-article_accueil et inc-article_archive */
/********************************************************/
.accueil .cadre-chemin a{
	color: white;
}
.accueil .spip_logos {
	float: left;
	margin: 5px;
}
.accueil .titre {
	font-size: 20px;
	padding: 10px;
	text-align: left;
	margin-left: 60px;
}
.accueil .titre a {
	color: white;
}
.accueil .texte {
	font-size: 12px;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	border: none;
}
.accueilforum {
	padding: 10px;
}
.accueilforum a {
	color: white !important;
	font-weight: bold;
}
