img#boutonForum{
  float: right;
  margin-top: 1px;
	margin-right: 10px;
	margin-bottom: 1px;
	margin-left: 10px;
}


#ariane-forum {
	margin: 10px 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
  border-width: 2px;
  border-style: solid;
}
table.forum {
  border-width: 2px;
  border-style: solid;
	text-align: left;
	width: 100%;
	padding: 1px;
	border-spacing: 1px;
}

table.forum a:hover {
	text-decoration: underline!important
}
table.forum tr {
}
table.forum th {
	text-align: center;
	padding: 10px;
	font-size: 14px;
}
table.forum tr.rub-forum td {
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
table.forum tr.art-forum td.logo {
  margin-left: 5px;
	text-align: center;
	font-size: 10px;
	width: 70px;
}
table.forum tr.art-forum td.logo1 {
  margin-left: 5px;
	text-align: center;
	font-size: 10px;
	width: 120px;
}
table.forum tr.art-forum td.titre-rub {
  padding-bottom: 10px;
  padding-left: 10px;
	text-align: left;
	font-size: 14px;
}
table.forum tr.art-forum td.titre-rub p{
  padding-left: 10px;
  font-size: 12px;
  margin: 0;
}
table.forum tr.art-forum td {
	text-align: center;
	vertical-align=middle;
}
table.forum tr.art-forum td a {
	font-weight: bold;
}
#forum-site .descriptif {
	font-size: 12px;
	text-align:left;
	margin: 10px;
}
#forum-site .texte {
	font-size: 12px;
	text-align:left;
	margin: 10px;
	border: none;
}
#boutonG {
	float:left;
	margin-top: 10px;
}
#boutonD {
	float:right;
	margin-top: 10px;
}
table.forum tr.art-forum td.sujet{
  text-align:left;
  font-size: 12px;
  padding-left: 10px;
  vertical-align: top;
}
table.forum tr.art-forum td.sujet .titre {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
}
table.forum tr.art-forum td.sujet1{
  text-align:left;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 10px;
  vertical-align: top;
}
#formulaire_forum textarea {
    width: 99%;
}