/* ==================    Menu horizontal  ==================*/
#menu {
	clear: both;
}
ul#menu li:hover>ul {
	display: block;
}
/* menu racine */
ul#menu {
	margin: 0px;
	padding: 10px 0 0 0;
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
ul#menu li {
	display: inline-block;
	position: relative;
	padding: 0 0 5px 0;
}
/* cadre autour d'une entree de menu */
ul#menu li a {
	display: block;
	padding: 4px 10px;
	margin:  0 1px;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
}
/* Les sous menu */
ul#menu ul {
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	list-style: none;
	margin-top: 4px;
	padding: 0px;
	width: 150px;
	z-index: 100;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	position: absolute;
	left: 0;
	display: none;
}
ul#menu ul ul {
	top: 1px;
	left: 149px;
	margin: 0px;
}
ul#menu ul li {
	display: block;
	padding: 8px 0px;
}
ul#menu ul li a {
	display: block;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 5px;
	border: none;
}
/* pour les fleches */
ul#menu ul img {
	position: relative;
	float: right;
}
ul#menu img {
	margin-left: 5px;
}
/* hack pour Safari */
@media screen {
ul#menu ul img {
	-webkit-min-device-pixel-ratio: 0;
  margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 0;
}
}


/* ==================    Menu vertical  ==================*/
#menuV ul {
	list-style: none;
	margin-top: 5px;
	padding: 0px;
}
#menuV ul li {
	padding-bottom: 2px;
	padding-left: 20px;
	vertical-align: bottom;
	min-height: 16px;
}
#menuV ul ul {
	margin-left: -15px;
	padding-left: 5px;
}
#menuV ul.rubriques li {
	background: url(../images/rubnormal.png) no-repeat top left;
}
#menuV ul.rubriques li.on {
	background: url(../images/rubexpose.png) no-repeat top left;
}
#menuV ul.articles li {
	background: url(../images/artnormal.png) no-repeat top left;
}
#menuV ul.articles li.on {
	background: url(../images/artexpose.png) no-repeat top left;
}
#menuV li.on>a {
	font-weight: bold;
}
/* ==================    Menu vertical 2  ==================*/
#menuV2 {
	padding: 0;
	font-size: 12px;
	text-align: left;
	margin-top: 25px;

}
#menuV2 ul.menulist, #menuV2 ul.menulist ul {
	list-style: none;
	z-index: 500;
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	width: 190px;
}
#menuV2 ul.menulist ul {
	position: absolute;
	top: -1px;
	left: 189px;
	border-radius: 0px;
}
#menuV2 ul.menulist li {
	position: relative;
	margin: 0;
	padding: 0;
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
}
#menuV2 ul.menulist li ul {
	display: none;
}
#menuV2 ul.menulist li:hover>ul {
	display: block;
}
#menuV2 ul.menulist a{
	text-decoration: none;
	display: block;
	padding: 5px;
}
#menuV2 ul.menulist a:hover {
	text-decoration: none;
}
#menuV2 ul.menulist li.smenu, #menuV2 ul.menulist li.smenu>a {
	background-position: 170px;
	background-repeat: no-repeat;
}
#menuV2 ul.menulist li.smenu:hover, #menuV2 ul.menulist li.smenu>a:hover {
	background-position: 167px;
	background-repeat: no-repeat;
}
#menuV2 ul.menulist a.menu_articles {
}
#menuV2 ul.menulist a.menu_articles:hover {
}
#menuV2 ul.menulist img, #menuV2 ul.menulist ul img {
	position: relative;
	float: right;
	margin: 5px 5px 0px 0px;
	margin-top: 5px;
	margin-right: 5px;
}

#menuV2 ul.articles li a {
  background: url(../images/transparent.png);
  border-radius: 0 !important;
}