.guestform { width: 50em; margin: 2em auto; line-height: 1.4em; font: .625em/1em Verdana,Geneva,Sans,sans-serif; color: #444; text-align: left; }
.guestform fieldset { margin-bottom: 2em; border: 0; }
.guestform fieldset legend { margin: 0; padding: 0; font-weight: bold; color: #333; }

.guestform p { margin: 0; padding: 1em; color: gray; }

.guestform fieldset ul { margin: 0; padding: 0; list-style: none; border-top: 1px solid #ccc; }
.guestform fieldset ul ul { border: 0; }
.guestform fieldset li { margin: 0; padding: 1em; border-bottom: 1px solid #ccc; position: relative; }
.guestform fieldset fieldset li { padding: 1em 0 0 0; background: none; border: 0; }

.guestform label { color: #333; }
.guestform input.text, .guestform textarea, .guestform fieldset li select { margin: 0; padding: 0; background: #EEE; }
.guestform * input.text:focus, .guestform * textarea:focus, .guestform * select:focus { background-color: #FFF; border-style: solid; border-color: #666; }

.guestform li.obligatoire { background-color: #FFCC99; }
.guestform li.obligatoire label { font-weight: bold; }
.guestform li.obligatoire label em { font-weight: normal; font-style: normal; color: #C30; }

.guestform li.erreur input.text, .guestform li.erreur textarea, .guestform li.erreur select { background-color: #FCC; border-style: solid; border-color: #C30; }
.guestform p.erreur_message { margin: 0; padding: 0; color: #C30; font-weight: bold; }
.guestform p.message_erreur { margin: 0; padding: 0; color: #C30; font-weight: bold; text-align:center; }
.guestform p.message_ok { margin: 0; padding: 0; color: #99CC00; font-weight: bold; font-size: 20px; text-align: center; }

.guestform .nom input.text { width: 150px; }

.guestform .prenom input.text { width: 150px; }

.guestform p.boutons { text-align: right; }
.guestform p.boutons input { margin: 1em; padding: 0 1em; font-size: 120%; }
.guestform p.boutons input.submit { border:1px solid #999999; }
.guestform p.boutons input.submit:hover { border:1px solid #999966;}