/* ************************************************
Modern
- design & code : Marco <marco@marcarea.com>
- Modified by : http://www.7themes.com/
- icônes : http://www.famfamfam.com/
************************************************ */

* { margin: 0;  padding: 0; border: 0; }

body {
	background: #FFFFFF;
	font: 0.7em Arial,sans-serif;
}


/* Common styles
-------------------------------------------------------- */
ul { list-style: none; }
ul li { list-style: none; }

a:link, a:visited { color: #3f71b6; text-decoration: underline; }
a:hover { color: #3f71b6; text-decoration: none; }
hr { width:100%;height: 1px;color:#8fa819;background-color:#8fa819;}
pre { overflow: auto; width: 100%; height: auto; }
.left { float: left; }
.right { float: right; }


/* Page
-------------------------------------------------------- */
#page {
	width: 850px;
	margin: 0 auto;
	position: relative;
	background-color: #FFFFFF ;
}


/* Header
-------------------------------------------------------- */
#top {
	/*width: 800px;*/
	width: 850px;
	height: 180px;
	background: transparent url(images/your_image.jpg) no-repeat left bottom;
	margin: 0 auto;
	margin-bottom: 10px;
}
	#top h1 { font-size: 3em; padding-top:50px; margin-left: 15px;letter-spacing: -1px; }
	#top a:link, #top a:visited, #top a:hover { color: #FFFFFF; text-decoration: none; }


/* Prelude
-------------------------------------------------------- */
#prelude {
	width: 366px;
	position: absolute;
	top: 0;
	right: 1px;
	padding: 3px 0 0 0;
	color: #FFFFFF;
	text-align: right;
}
	#prelude a:link, #prelude a:visited {
		font-size: 1em;
		font-weight: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	#prelude a:hover { text-decoration: underline; }	


/* Wrapper
-------------------------------------------------------- */
#wrapper {
	width: 850px;
	margin: 0 auto 10px auto;
}


#main {
	width: 568px;
	float: left;
}

#sidebar {
	width: 272px;
	float: right;
}


/* Sidebar
-------------------------------------------------------- */
#sidebar h2 {
	color: #8FA819;
	font-size: 1em;
	font-weight: bold;
	background: #F5F5F5;
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	padding: 5px 8px;
	margin: 0 0 10px 0;
}
#sidebar h3 { color: #8FA819; padding: 4px 8px 0 8px; font-size: 1em; }

#sidebar a:link, #sidebar a:visited { text-decoration: none; }
#sidebar a:hover { text-decoration: underline; }
#blogextra a:link, #blogextra a:visited { text-decoration: none; }
#blogextra a:hover { text-decoration: underline; }

#sidebar ul, #blogextra li { padding: 0 0 4px 0; }
#sidebar li, #blogextra li {
	background: transparent url(img/sidebar_li.png) no-repeat 10px 7px;
	padding: 3px 4px 3px 20px;
}
#sidebar p, #blogextra p { padding: 0 0 4px 10px; }

	#search fieldset p { padding-left: 8px; }
	#search #q {
		color: #8FA819;
		width: 180px;
		border: 1px solid #CDCDCD;
		padding: 1px 2px;
		font-size: 1em;
	}
	#search .submit {
		color: #8FA819;
		background: #FFF;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		border: 1px solid #FFF;
	}
	#search .submit:hover { background: #8FA819; color: #FFF; border: 1px solid #8FA819; }

#search, #sidebar .selected, #sidebar .categories, #sidebar .syndicate,
#sidebar .langs, #sidebar .tags, #sidebar .links, #sidebar .text { padding: 0 0 10px 0; }

#topnav {
	color: #8FA819;
	font-size: 0.9em;
	background: #F5F5F5;
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	padding: 5px 5px 5px 8px;
	margin: 0 0 20px 0;
	font-weight: bold;
	text-transform: uppercase;
}
	#sidebar #topnav ul { margin: 0; padding: 0; }
	#sidebar #topnav li {
		display: inline;
		background: none;
		margin: 0;
		padding: 0;
	}

	#sidebar .syndicate li {
		margin: 0 4px 0 11px;
		background: transparent url(img/rss.png) no-repeat 0px 50%;
		padding: 5px 4px 5px 22px;
	}

	#sidebar .tags ul {
		margin: 5px 5px 10px 10px;
		padding: 0;
		font-size: 110%;
	}
		#sidebar .tags ul li {
			display: inline;
			background: none;
			margin: 0;
			padding: 0;
			font-size: 0.9em;
		}
			#sidebar .tags ul li a:link, #sidebar .tags ul li a:visited { color: #3f71b6; /*#005D99;*/ }
			
		#sidebar .tags p strong a:link, #sidebar .tags p strong a:visited { padding: 0 0 0 18px; background: transparent url(img/tags.png) no-repeat 0 -2px; }
		#sidebar .tags p strong a:hover {}


.tag0 { font-size: 75%; }
.tag10 { font-size: 80%; }
.tag20 { font-size: 90%; }
.tag30 { font-size: 100%; }
.tag40 { font-size: 110%; }
.tag50 { font-size: 120%; }
.tag60 { font-size: 140%; }
.tag70 { font-size: 150%; }
.tag80 { font-size: 160%; }
.tag90 { font-size: 170%; }
.tag100 { font-size: 180%; }


/* Post-content
-------------------------------------------------------- */
.post-content, .post-excerpt {
	padding: 4px 0 0 0;
	line-height: 1.5em;
	font-size: 1.2em;
}
.post-content  h2 { color:#3f71b6;font-weight: 800;font-size: 1.5em; } 
.post-content p, .post-excerpt p { padding: 4px 0; }

.post-content strong, .post-excerpt strong { font-size: 0.9em; }
.post-content acronym, .post-excerpt acronym { cursor: help; border-bottom: 1px dashed #666; }

.post-content pre, .post-excerpt pre {
	font: 1.1em 'courier new', courier, monospace;
	background: #F5F5F5;
	padding: 10px 5px;
	margin: 6px 0;
}

.post-content h3, .post-excerpt h3 { padding: 4px 0; font-size: 1.2em; color: #666; }
.post-content h4, .post-excerpt h4 { padding: 4px 0; font-size: 1.1em; color: #666; }
.post-content h5, .post-excerpt h5 { padding: 4px 0; font-size: 1.0em; color: #666; }

.post-content ul, .post-excerpt ul { padding: 4px 0; margin: 0; }
	.post-content ul li, .post-excerpt ul li {
		padding: 1px 0 1px 10px;
		background: transparent url(img/li.png) no-repeat 0 5px;
	}
.post-content ol, .post-excerpt ol { padding: 4px 0; margin: 0 0 0 28px; }
	.post-content ol li, .post-excerpt ol li { padding: 1px 0; }

.post-content blockquote, .post-excerpt blockquote { border-left: 4px solid #CDCDCD; margin: 4px 0 4px 5px; padding: 0 5px; }
.post-content blockquote em, .post-excerpt blockquote em {}

/* Classes
-------------------------------------------------------- */
.day-date {
	color: #5E9E14;
	font-weight: bold;
	background: #F5F5F5;
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	text-align: right;
	padding: 5px 10px;
	margin: 0 0 10px 0;
	clear: left;
}

a.feed {}

.post { color: #000; }

.post-title { color: #8FA819; padding: 10px 0 4px 0; font-size: 1.7em; }
.post-title h2 { color: #8FA819; font-size: 1.3em; }
	.post-title a:link, .post-title a:visited { color: #8FA819; text-decoration: none;font-size: 1.3em; }
	.post-title a:hover { text-decoration: underline; }

.post-info { font-style: italic; }

.post-tags {
	position: relative;
	border: 0;
	background: #FBFBFB;
	padding: 5px;
	margin: 8px 0 0 0;
	overflow: hidden;
	height: 1%;
}
	.post-tags:after{
		content:'[DO NOT LEAVE IT IS NOT REAL]';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.post-tags li { display: inline; }
		.post-tags li a:link, .post-tags li a:visited {
			color: #8FA819;
			display: block;
			float: left;
			text-decoration: none;
			background: transparent url(img/tag.png) no-repeat 0 0;
			padding: 2px 8px 2px 18px;
			white-space: nowrap;
		}
		.post-tags li a:hover { text-decoration: underline; }

.post-info-co {
	clear: left;
	border: 0;
	background: #FBFBFB;
	padding: 5px;
	margin: 0 0 26px 0;
}
	.post-info-co a:link, .post-info-co a:visited {
		text-decoration: none;
		padding: 2px 10px 2px 18px;
	}
	.post-info-co a:hover { text-decoration: underline; }
	
	.comment_count {
		background: transparent url(img/commentaire.png) no-repeat 0 50%;
	}
	.ping_count {
		background: transparent url(img/retrolien.png) no-repeat 0 50%;
	}
	.attach_count {
		background: transparent url(img/attach.png) no-repeat 0 50%;
	}

.read-it {
	font-weight: bold;
	padding: 0 0 10px 0;
	clear: left;
}

#attachments {
	clear: left;
	border: 1px solid #E8E8E8;
	border-width: 1px 0;
	background: #FBFBFB;
	padding: 5px;
	margin: 4px 0 6px 0;
}
	#attachments * { color: #3C8FD1; }
	#attachments h3 { font-size: 1.2em; }
	#attachments ul { padding: 4px 0; }
	#attachments li {
		margin: 0 0 0.6em 0;
		padding: 2px 10px 2px 18px;
		background: transparent url(img/attach.png) no-repeat 0 50%;
	}
	#attachments li em {}
	#attachments li div {}
	#attachments li object {
	   display: inline;
	   margin: 0;
	   padding: 0;
	   vertical-align: bottom;
	}

.footnotes {
	border: 1px solid #E8E8E8;
	padding: 5px 0;
	margin: 6px 0 25px 0;
}
	.footnotes h4 {
		color: #8FA819;
		background: #FBFBFB;
		border-bottom: 1px solid #E8E8E8;
		background: transparent url(img/report.png) no-repeat 4px 3px;
		padding: 2px 10px 2px 25px;
		margin: 0 0 6px 0;
		font-style: italic;
	}
	.footnotes p { padding: 4px 10px; }


/* Archives
-------------------------------------------------------- */
#content-info {
	font-size: 0.8em;
	background: #F5F5F5;
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	padding: 5px 10px;
	margin: 0 0 20px 0;
	font-size: 1em;
	line-height: 1.4;
}
.content-inner { padding-bottom: 20px; }

.content-inner h3 {
	font-size: 1em;
	color: #5E9E14;
	background: #F5F5F5;
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	padding: 5px 10px;
	margin: 10px 0;
}

#content-info h2 { font-size: 1.4em;}
#content-info p { padding: 4px 0; font-size: 1em; }

#content-info p a.feed:link, #content-info p a.feed:visited {
	padding: 4px 0 4px 22px;
	background: transparent url(img/rss.png) no-repeat 1px 3px;
}
#content-info p a.feed:hover {}

.content-inner .day-date { text-align: left; }
.content-inner .post-title { padding: 4px 0; margin: 0 0 0 10px; }
.content-inner .post-info { margin: 4px 0 20px 10px; }

.content-inner ul { padding: 4px 0; margin: 0 0 0 10px; }
	.content-inner ul li {
		padding: 1px 0 1px 10px;
		background: transparent url(img/li.png) no-repeat 0 5px;
		font-size: 1em;
		line-height: 1.3;
	}

/* Tags - Page des tags
-------------------------------------------------------- */

.content-inner ul.tags {
	position: relative;
	border: 1px solid #E8E8E8;
	border-width: 1px 0;
	background: #FBFBFB;
	padding: 5px;
	margin: 8px 0 20px 0;
	overflow: hidden;
	height: 1%;
	font-size: 120%;
}
	.content-inner ul.tags:after{
		content:'[DO NOT LEAVE IT IS NOT REAL]';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.content-inner ul.tags li {
		/* display: inline; */
		display: block;
		float: left;
		margin: 4px;
		height: 18px;
		line-height: 18px;
		background: none;
	}
		.content-inner ul.tags li a:link, .content-inner ul.tags li a:visited {
			color: #8FA819;
			text-decoration: none;
			white-space: nowrap;
		}
		.content-inner ul.tags li a:hover { text-decoration: underline; }
		.content-inner ul.tags li a:focus, .content-inner ul.tags li a:active { background: #8FA819; color: #FFF; }



/* Commentaires
-------------------------------------------------------- */
#comments, #pings { padding-top: 10px; }
	#comments h3, #pings h3, #comments-feed, #pr h3 {
		clear: left;
		border: 1px solid #E8E8E8;
		border-width: 1px 0;
		background: #FBFBFB;
		padding: 5px;
		margin: 20px 0 8px 0;
		font-size: 1.2em;
	}
	#pr h3 { color: #5E9E14; margin: 30px 0 8px 0; }
	
	#comments-feed { text-align: right; font-weight: bold; margin: 14px 0 8px 0; }
		#comments-feed a:link, #comments-feed a:visited {
			font-size: 0.8em;
			text-decoration: none;
			background: transparent url(img/rss.png) no-repeat 0px 50%;
			padding: 3px 0 3px 22px;
		}
		#comments-feed a:hover { text-decoration: underline; }

#comments dl{}

#comments dt, #pings dt {
	position: relative;
	top: 1px;
	display: block;
	padding: 10px 0 30px 0;
	background: transparent url(img/commentaire_bulle.png) no-repeat 50% 100%;
}
	#comments dt a:link, #comments dt a:visited { color: #3C8FD1; text-decoration: none; }
	#comments dt a:hover { text-decoration: underline; }
	#pings dt a:link, #pings dt a:visited { color: #3C8FD1; text-decoration: none; }
	#pings dt a:hover { text-decoration: underline; }

	#comments dd, #pings dd, dd.comment-preview {
		border: 1px solid #E8E8E8;
		border-width: 1px 0;
		background: #F5F5F5;
		padding: 10px;
		margin: 0 0 8px 0;
		font-size: 1.1em;
		line-height: 1.4;
	}
	#comments dd *, #pings dd *, dd.comment-preview * { padding: 5px 0; font-size: 1em; }

	#comments dt.me a:link, #comments dt.me a:visited, #comments dt.me a:hover { color: #5E9E14; }
	#comments dd.me { border-left: 4px solid #5E9E14; }

	.comment-number, .ping-number {
		color: #3C8FD1;
		font-weight: bold;
		font-size: 1.4em;
	}

#ping-url {
	border: 1px solid #E8E8E8;
	border-width: 1px 0;
	background: #FBFBFB;
	padding: 5px;
	margin: 30px 0;
	font-weight: bold;
	text-align: right;
}


.error {
	border: 2px solid red;
	padding: 10px 5px;
	margin: 20px 0 0 0;
	background: #FFCCCC;
	font-weight: bold;
}

.message {}

.pagination {
	clear: left;
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	background: #F5F5F5;
	padding: 5px;
	margin: 0 0 30px 0;
	text-align: center;
	color: #5E9E14;
	font-weight: bold;
}
	.pagination a:link, .pagination a:visited { color: #5E9E14; text-decoration: none; }
	.pagination a:hover { text-decoration: underline; }

#navlinks {
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	background: #F5F5F5;
	padding: 5px;
	margin: 0 0 20px 0;
	text-align: center;
	color: #5E9E14;
	font-weight: bold;
}
	#navlinks a:link, #navlinks a:visited { color: #5E9E14; text-decoration: none; }
	#navlinks a:hover { text-decoration: underline; }

/* Forms
-------------------------------------------------------- */
#comment-form { padding-top: 10px; }

#comment-form h3 {
	border: 1px solid #E8E8E8;
	border-width: 1px 0;
	background: #FBFBFB;
	padding: 5px;
	margin: 20px 0 8px 0;
	font-size: 1.2em;
}

#comment-form fieldset p { padding: 5px 0; /*margin: 0 0 0 30%;*/ }
#comment-form fieldset p.field { padding: 5px 0; width: auto; margin: 0; clear: left; }
#comment-form p.form-help { width: 60%; margin: 0 0 0 30%; font-style: italic; }

#comment-form p label { width: auto; }
#comment-form p.field label {
	font-weight: bold;
	display: block;
	padding: 0 4px 4px 0;
	width: 29%;
	float: left;
	text-align: right;
}
#comment-form input, #comment-form textarea {
	font: 1em Arial,sans-serif;
	color: #8FA819;
	border: 1px solid #CDCDCD;
	padding: 1px 2px;
	font-size: 1em;	
	width: 60%;
}

#comment-form input#c_remember {
	width: auto;
	border: 0;
	margin: 0 5px 0 140px;
}
#comment-form input.preview { margin-left: 134px; }
#comment-form input.preview, #comment-form input.submit {
	width: auto;
	color: #8FA819;
	background: #FFF;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #FFF;
}
#comment-form input.preview:hover, #comment-form input.submit:hover { background: #8FA819; color: #FFF; border: 1px solid #8FA819; }


/* Footer
-------------------------------------------------------- */
#footer {
	width: 850px;
	background: #8FA819;
	padding: 0 0 0 0;
	clear: both;
}
	#footer p {
		width: 250px;
		margin: 0 auto;
		background: #8FA819;
		color: #FFF;
		padding: 6px 0px 6px 0;
		text-align: center;
		font-weight: bold;
	}
		#footer p a:link, #footer p a:visited { color: #FFF; text-decoration: underline; }
		#footer p a:hover { text-decoration: none; }
		
#footer-copyright {
		width: 300px;
		color: #b6b5b5;
		margin: 10px auto;
}

#footer-copyright b,a {
color: #b6b5b5;
}