/* 
	Slinky Cat
	by Catherine Collingwood || http://cathcoll.net

	Based on:
	Default WordPress by Dave Shea || http://mezzoblue.com
	Modifications by Matthew Mullenweg || http://photomatt.net

	Released under the GPL || http://www.gnu.org/copyleft/gpl.html
*/

a, a:visited {
	color: #993333;
	text-decoration: none;
}

a img {
	border: none;
}

a:hover {
	color: #996666;
	text-decoration: underline;
}

acronym, abbr {
	border: none;
	color: #990000;
	cursor: help;
}

blockquote {
	margin: 0 20px 0 20px;
}

body {
	background: #ffcccc url('slinkycat.gif') top left fixed no-repeat;
	color: #000000;
	font: 83% 'Century Gothic', Arial, sans-serif;
	margin: 0;
	padding: 0;
}

cite, em, i {
	font: 125% 'Bradley Hand ITC', 'Lucida Handwriting', 'Monotype Corsiva';
	line-height: 90%;
}

h2 {
	font-size: 125%;
	padding: 10px 0 0 0;
}

h3 {
	font-size: 100%;
}

ol#comments li p {
	font-size: 100%;
}

/* classes used by the_meta() */
ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

.credit {
	font-size: 90%;
	margin: 0 160px 0 100px;
	padding-bottom: 10px;
}

.feedback {
	font-size: 90%;
	margin: 0 0 20px 0;
}

.meta {
	font-size: 90%;
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.storycontent {
	text-align: justify;
}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
}

#commentform input {
	font: 90% 'Century Gothic', Arial, sans-serif;
}

#commentform #author, #commentform #name, #commentform #email, #commentform #url, #commentform textarea {
	background: #ffffff;
	border: 1px solid #993333;
	font: 90% 'Century Gothic', Arial, sans-serif;
}

#commentform label {
	padding: 2px;
}

#commentform textarea {
	width: 100%;
}

#content {
	margin: 0 160px 0 100px;
}

#header {
	font: 350% 'Bradley Hand ITC', 'Lucida Handwriting', Arial;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin: 0 0 0 100px;
	padding: 0;
}

#header a {
	text-decoration: none;
}

#menu {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 130px;
	padding: 0 0 0 0;
	text-align: right;
}

#menu form {
	margin: 0;
}

#menu input {
	font: 70% 'Century Gothic', Arial, sans-serif;
	margin: 2px 0 0 0;
}

#menu input#s {
	font: 75% 'Century Gothic', Arial, sans-serif;
	width: 80%;
	background: #ffffff;
	border: 1px solid #993333;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
}

#menu ul li {
	font: 125% 'Bradley Hand ITC', 'Lucida Handwriting', Arial, sans-serif;
	letter-spacing: .5px;
	margin-top: 10px;
	padding-bottom: 2px; 
}

#menu ul ul {
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

#menu ul ul li {
	font: 75% 'Century Gothic', Arial, sans-serif;
	border: 0;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul ul ul.children {
	font-size: 142%;
	padding-left: 4px;
}

#wp-calendar {
	empty-cells: show;
	font-size: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
}

#wp-calendar caption {
	font: 100% 'Bradley Hand ITC', 'Lucida Handwriting', Arial, sans-serif;
	text-align: right;
}

#wp-calendar td {
	font: 75% 'Century Gothic', Arial, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td.pad:hover {
	background: #fff;
}

#wp-calendar td:hover, #wp-calendar #today {
	background: #eee;
	color: #bbb;
}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}