/*
	Configuration
*/
@font-size: 0.8125em;
@font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
@line-height: 1.5em;

@font-size-mono: 1em;
@font-family-mono: 'andale mono','lucida console',monospace;
@line-height-mono: @line-height;

@text-indent: 50px;
@margin-bottom: @line-height;
@color: #333;
@background-color:#FFFFFF;

@demi-line-height : @line-height / 2;
@minus-demi-line-height : @demi-line-height * -1;
@minus-text-indent : @text-indent * -1;
@demi-text-indent : @text-indent / 2;
@demi-margin-bottom : @margin-bottom / 2;
@quart-margin-bottom : @margin-bottom / 4;

@h1-font-size: 2em;
@h1-line-height: @line-height;
@h1-margin-bottom: @demi-margin-bottom;
@h2-font-size: (@line-height + 2) / 2;
@h2-margin-bottom : @line-height / @h2-font-size;
@h2-line-height: @h2-margin-bottom * 2;
@h3-font-size: @line-height;
@h3-line-height: 1;
@h3-margin-bottom : 1em;
@h4-font-size: (@line-height + 1) / 2;
@h4-margin-bottom : @line-height / @h4-font-size;
@h4-line-height: @h4-margin-bottom;

.typo_standard {
 /* Configuration */
font-size:/*@font-size*/@font-size;
font-family:/*@font-family*/@font-family;
text-indent:/*@text-indent*/@text-indent;
line-height:/*@line-height*/@line-height;
margin-bottom:/*@margin-bottom*/@margin-bottom;
color:/*@color*/@color;
background-color:/*@background-color*/@background-color;

}
.typo_mono {
font-family:/*@font-family-mono*/@font-family-mono;
line-height:/*@line-height-mono*/@line-height-mono;
font-size:/*@font-size-mono*/@font-size-mono;
}
