/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */
@import_spip "css/config.less";

/* Habillage general des menus de navigation */
.menu { clear: both; margin-bottom: /*@margin-bottom*/@margin-bottom; text-align: left; }
.menu > h1,
.menu > h2,
.menu > h3,
.menu > h4,
.menu > h5,
.menu > h6 {margin-bottom: 0;}

.menu-items { margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #ddd; }
.menu-items .item { margin: 0; padding: /*@quart-margin-bottom*/@quart-margin-bottom;}
.menu-items .menu-items { margin-left: 1em; border: 0; }
.menu-items .menu-items .item { padding: 0; border: 0; }


/* habillage barre de nav horizontale */
.hornav {background:#eee;border-left: 1px solid #eee;border-right: 1px solid #eee;}
.hornav .menu {margin: 0;}
.hornav .menu-items {float:left;width: 100%;border: 0;}
.hornav .menu-items .item {float:left;padding: 0;}
.hornav .item a,.hornav .item strong {color:#333;font-weight:bold;text-decoration: none;display:block;padding:/*@demi-margin-bottom*/@demi-margin-bottom;}
.hornav .item a:hover {background:#ddd;color:#222;}
.hornav .on {color:#000;background: #fff;}
.hornav .on a,.hornav .on strong {color:#000;}


/* Listes d'items */
.liste {margin-bottom: /*@margin-bottom*/@margin-bottom;}
.liste > h1,
.liste > h2,
.liste > h3,
.liste > h4,
.liste > h5,
.liste > h6 {margin-bottom: 0;}


.liste-items {margin: 0; padding: 0; list-style: none; border-bottom:0;border-top: 1px solid #eee;margin-bottom: /*@margin-bottom*/@margin-bottom;}
.liste .liste-items {margin-bottom: 0;}
.liste-items .item {list-style:none; margin-left:0; padding:/*@demi-margin-bottom*/@demi-margin-bottom 0; clear:both; overflow:hidden;border-bottom: 1px solid #eee;}
.liste-items .item .h3 { margin: /*@demi-margin-bottom*/@demi-margin-bottom 0;}
.liste-items .item .h3 a:hover { text-decoration:none;}

.liste-items .item:hover {background-color: #eee;}

.liste-items .item ul {margin-left: /*@text-indent*/@text-indent;list-style-type: disc;}
.liste-items .item ol {margin-left: /*@text-indent*/@text-indent;list-style-type: numeric;}

.liste.articles .spip_logos { float: right; clear: right; margin: .8em 0 4px 16px; }
.liste .articles .item .introduction { margin-top: 0.30em; line-height: 1.40em; padding: 0.5em 0 1.5em 1em;}


/* plan du site */
ul.plan {margin-bottom: /*@margin-bottom*/@margin-bottom;}
ul.plan li {margin-left: /*@text-indent*/@text-indent;list-style-type: disc;}