
/* Habillage des forums
---------------------------------------------- */
@import_spip "css/config.less";

/* * Habillage des forums */
.comments { margin-bottom:/*@margin-bottom*/@margin-bottom}

/* comments list */
.comments-items {border-bottom: 1px solid #eee;}
.comments-items .comments-items {margin-left: /*@text-indent*/@text-indent;border-bottom: 0;}
.comments-items .comments-items .comments-items .comments-items {margin-left: /*@demi-text-indent*/@demi-text-indent;border-bottom: 0;}

.comments-items .comment-item {border-top: 1px solid #eee;}
.comments-items .comment-item .comment-item {border-top: 0;}

.comment {overflow:hidden}
.comment-meta {background: #eee;padding: /*@demi-margin-bottom*/@demi-margin-bottom;padding-right: /*@margin-bottom*/@margin-bottom;position: relative;margin:0;}
.comment-item .comment-item .comment-meta {background : #f4f4f4;}
.comment-meta .spip_logos {margin-bottom:0;}
.comment-meta .permalink { position: absolute;right: 0;font-size: 2em;color:#ccc;}
.comment-meta .forum-titre {display: block;}
.comment-content {background: transparent;padding: /*@demi-margin-bottom*/@demi-margin-bottom;max-height:60em;overflow:auto;overflow-x:none;}
.comment-reply { clear: both; text-align: right; font-weight: bold; margin-bottom:0;}

/* en thread */
.comments-thread .comment-item {margin-bottom:/*@margin-bottom*/@margin-bottom;border-left:1px solid #eee;}
.comments-thread .comment-item .comment-item {margin-bottom:0;border-left:0;}
.comments-thread .permalink.in-reply-to {bottom:0;}

/* avec plugin comments */
.comment-meta .permalink.picto {font-size:1em;right:/*@demi-margin-bottom*/@demi-margin-bottom;}
.comment {position:relative;}
.comment .spip-admin {position:absolute;left:0;bottom:0;visibility:hidden;}
.comment:hover .spip-admin {visibility:visible;}

/* en list avec plugin comments */
.comment-meta .item {display:block;}
