#main{
	float: right;
	width: 520px;
}

#content{
	margin: 0 30px 0 0;
	padding: 1em 0 0 0;
}

#sidebar{
	float: left;
	width: 240px;
	padding-bottom: 4em;
}

#sidebar div{
	margin: 0 0 0 30px;
	padding: 1ex 1em;
}

#content .day-date{
	padding-right: 20px;
	margin-right: -25px;
	background: transparent url(../images/day-date_right.png) no-repeat right center;
	text-align: right;
}