
.onglets_traduction{
	width:100%;
	height : 30px;
	vertical-align: baseline;
}

.onglets_traduction div.options{
	margin :0;
	padding:0; 
}

.onglets_traduction li.box_onglet{

}

.changer div.onglet{background:#F2F2F2; font-style:italic;}

.onglets_traduction div.options a {
	text-align:center;
	padding:0;
	margin:0;
}

.onglets_traduction div.options a:hover span{
	display:block;
	width:72px;
	text-align:center;
	background:#ffffff;
	height :auto;
}
.barre_onglet a,.barre_onglet strong  {padding:5px}

.barre_onglet .non_traduit a{background:#eeeeee;font-style:italic;}

.bouton_options{float:right;}

.nettoyeur{clear:both;}

.delier{height:100px;float:left,margin :0 5px;float:left}

.danger,.onglets_traduction a.cellule-h-texte {background: repeat scroll 0 0 white;}


.lang{ margin-right:5px;}

.changer{float:left;margin-bottom:5px}

.liste-elements table.spip tr.trads{background:#dfdfdf}

div.ref{float:right;margin:-3px -2px 0 0;cursor:help;}	

div.ref span {display:none;}

div.ref:hover span {
	display:block;
	position:absolute; 
	top:-25px; 
	color: #000000; 
	font-weight:bold;
	width:250px;
} 

.ajouter_trads, .changer .icone_delier_traduction {float:left;}

.icone_delier_traduction {
    color: #333333;
    margin: 2.0775em 0;
    padding: 0 10px;
    position: relative;
    width:100px}
