/*boite admin*/

/*formulaire evenement*/
.editereve{text-align:left; background-color:#fff; width:300px; position:absolute; left:300px; top:100px; z-index:2000;}
.editereve form{padding:1em;}
.editereve form span {display:block;}
.editereve form select.fondl {width:20%}
#agenda-visu-evenement select{font-size:0.9em;}
.agenda-visu-evenement-bouton-fermer a{border:1px solid red; float:right; font-weight:bold;}
#agenda-visu-evenement{border:3px solid #888;}
#evenement_descriptif{width:90%;}

.paddingadmin{ padding: 1em }
#special-admin { 
font-family: Verdana, Arial, Helvetica, sans-serif;
position: absolute;
top: 1em;
left: 5px;
width: 120px;
z-index:1200;
height:95%;
overflow:auto;
text-align:center;
font-size:12px;
}

#boutonadmin{border-bottom:1px solid #666;}

#special-admin .diktat {background-color:#999; color:#FFF; display:block; margin:0; padding:0.5em; font-weight:normal; border:1px solid #666; border-bottom:none; width:auto}
#programmearticle{ padding: 0 0 1em 0;}

#programmearticle .insereraccourci{background-color:#fff; font-weight:normal; color:green;}

#special-admin img{ 
 float:left; margin-left:0.2em;  border:none;
}

#boutonadmin a, .obeirpoliment a {clear:both; display:block; text-decoration:none;  }
#boutonadmin a {display:block; border-bottom:1px dotted #666; padding:1px; padding:0.2em 0 0.5em 0;}

#special-admin a {
background-color: #ffffff;
   filter:alpha(opacity=80);
   -moz-opacity:0.8;
   opacity: 0.8;

}

#special-admin a:hover{ 
	background-color: #ffffff;
	   filter:alpha(opacity=100);
   -moz-opacity:1;
   opacity: 1;
text-decoration:none;  color:#CC3333;  
}

#special-admin .formfx li {
list-style-type:none; text-align:left;
}
#special-admin .formfx input {
width:90%; margin-left:3%;
}


.obeirpoliment{border-left: 1px solid #666; border-right: 1px solid #666; }

html>body #special-admin {
position: fixed; color:#666;
}

#boutonadmin .infoadmin a{ display:block; margin:0; border:none; font-size:1em;  font-weight:normal;}
.infoadmin{border-bottom:1px dotted #666;}


#special-admin .formulaire_upload .decrire_doc{width:100%;}
#special-admin .formulaire_upload h4{display:block; margin:0; padding:0;  width:100%; }
#special-admin .formulaire_upload {margin:0; padding:0; text-align:center;}
#special-admin .formulaire_upload .bord_formup{ width:90%; margin:0 auto; margin-top:8px; margin-bottom:8px; }
#special-admin .formulaire_upload .spip_doc_logo{text-align:center; margin:0 auto; width:100%;}
#special-admin .formulaire_upload .spip_doc_logo img{ margin:0 auto;}
#special-admin .formulaire_upload  .floatright, #special-admin .formulaire_upload  .floatleft{float:none; margin:0 auto;}
#special-admin .formulaire_upload .checkbox, #special-admin .formulaire_upload .strong{display:none;}
#special-admin .formulaire_upload .inputfile {text-align:left; padding:0; border:1px solid #ccc; background-color:#fff;}
#special-admin .formulaire_upload .inputfile input{padding:0; margin:0;  display:block; } 
#special-admin .formulaire_upload .insert_code abbr, #special-admin .formulaire_upload .spip_bouton input{font-size:0.9em;}
#special-admin .formulaire_upload .insert_code abbr{color:green;}

.loginmini{background-color:#DADADA; border:1px solid #666;}


