@font-face {
    font-family: "Expletus Sans";
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/expletussans-bold.eot");
}
@font-face {
    font-family: "Expletus Sans";
    font-style: normal;
    font-weight: bold;
    src: url("//:") format("no404"), url("./fonts/expletussans-bold.woff") format("woff"), url("./fonts/expletussans-bold.ttf") format("truetype"), url("./fonts/expletussans-bold.svg") format("svg");
}
@font-face {
    font-family: "Expletus Sans";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/expletussans.eot");
}
@font-face {
    font-family: "Expletus Sans";
    font-style: normal;
    font-weight: normal;
    src: url("//:") format("no404"), url("./fonts/expletussans.woff") format("woff"), url("./fonts/expletussans.ttf") format("truetype"), url("./fonts/expletussans.svg") format("svg");
}
body {
    background: url("./images/bg.gif") repeat-x scroll left top #D2EFFF;
    color: #333333;
    font: 14px/28px Georgia,serif;
    margin: 0;
    padding: 0;
}
form {
    display: block;
    margin: 0;
    padding: 0;
}
table.spip {
    border: medium none;
    font-family: Helvetica,Arial,sans-serif;
    margin-left: 0;
    width: 100%;
}
table.spip caption {
    color: #1E526C;
    margin: 1em 0;
    text-align: left;
}
table.spip tr.row_first {
    background-color: #1E526C;
    color: white;
}
table.spip td {
    border: medium none;
    padding: 6px 8px;
}
table.spip th {
    font-size: 11px;
    padding: 6px 8px;
    text-transform: uppercase;
}
blockquote.spip {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 1em;
}
blockquote blockquote {
    background: none repeat scroll 0 0 #FEFEFE;
    border-color: #CCCCCC;
}
blockquote blockquote blockquote {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC;
}
iframe {
    display: block;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 1em 0;
    padding: 0;
}

.formulaire_menu_lang {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
    width : 150px;
    position : absolute;
    top : 10px;
    right : 20px;
    
}

.page_sommaire #content-pad .sommaire h2, .page_rubrique #content-pad .articles h2 {
    display: none;
}
li.item {
    list-style: none outside none;
}
li.item h3 {
    margin-bottom: 0;
}
.page_rubrique .articles .h2, .sommaire .h2 {
    display: none;
}
p {
    display: block;
    margin: 1em 0;
    padding: 0;
}
p#hierarchie {
    font-size: 11px;
}
p.surtitre {
    color: #4E799D;
}
p.soustitre {
    color: #666666;
}
div.chapo {
    color: #1E526C;
}
.accueil .spip_logos {
    float: left;
    margin: 17px 22px 0 0;
}
.page_rubrique .cartouche .spip_logos {
    display: none;
}
img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 4px;
}
a {
    outline: 0 none;
}
a:link, a:visited {
    color: #1E526C;
    text-decoration: none;
}
a:hover, a:active {
    color: #FE7F04;
    text-decoration: underline;
}
abbr {
    border: 0 none;
}
input, button, select, option {
    font: 12px/18px Georgia,serif;
}
:focus {
    outline: medium none;
}
.no-display {
    display: none;
}
.clear {
    clear: both;
}
img.aligncenter, div.aligncenter {
    display: block;
    margin: 1em auto;
}
img.alignleft, div.alignleft {
    float: left;
    margin: 1em 1em 1em 0;
}
img.alignright, div.alignright {
    float: right;
    margin: 1em 0 1em 1em;
}
div.cartouche img.spip_logos {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: right;
    margin: 1em 0 1em 1em;
    padding: 6px;
}
div.content-singular .hentry .wp-caption {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 10px 4px 0;
    text-align: center;
}
div.content-singular .hentry .wp-caption a {
    border: 0 none;
}
div.content-singular .hentry .wp-caption img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
div.content-singular .hentry .wp-caption p.wp-caption-text {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 5px;
}
div.content-singular img.wp-smiley {
    border: 0 none;
    padding: 0;
}
div#container {
    background: url("./images/bg-container.png") repeat-y scroll center top transparent;
}
div#body {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("./images/bg-body.gif") repeat-y scroll right top #FFFFFF;
    border-color: #ADCFE6;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin: 30px auto 0;
    width: 960px;
}
div#body .post-group {
    padding: 0 20px 20px;
}
div#body div#content {
    float: left;
    margin: 0;
    padding: 0 0 20px;
    position: relative;
    width: 610px;
}
div#body div#sidebar {
    float: right;
    position: relative;
    width: 349px;
}
div#header {
    background: none repeat scroll 0 0 #4E799D;
    border-bottom: 1px solid #46687B;
    height: 107px;
}
div#header-pad {
    margin: 0 auto;
    width: 960px;
}
div#header h3 {
    display: none;
}
div#header .box-masthead {
    float: left;
    height: 107px;
    overflow: hidden;
}
strong#nom_site_spip {
    display: block;
    float: left;
    margin: 0;
    padding: 29px 0;
}
strong#nom_site_spip a {
    color: #F5F4EF;
    display: block;
    font: 45px/49px 'Expletus Sans',serif;
    margin: 0;
    outline: medium none;
}
strong#nom_site_spip {
    float: left;
}
strong#nom_site_spip a:hover {
    text-decoration: none;
}
div#slogan_site_spip {
    color: #274C6B;
    display: block;
    float: left;
    font: 14px/18px Helvetica,Arial,sans-serif;
    margin: 52px 0 0 10px;
    padding: 0;
    text-shadow: 1px 1px #7E9DB8;
}
div#header .box-socialnet {
    float: right;
    margin: 38px 0 0;
}
div#header .box-socialnet ul {
    display: block;
    margin: 0;
    padding: 0;
}
div#header .box-socialnet ul li {
    border-bottom: 0 none;
    display: block;
    float: left;
    height: 30px;
    margin: 0 0 0 9px;
    padding: 0;
    width: 30px;
}
div#header .box-socialnet ul li a {
    display: block;
    height: 32px;
    margin: 0;
    padding: 0;
    text-indent: -999999px;
    width: 32px;
}
div#header .box-socialnet ul li.facebook {
    background: url("./images/icon-sn-facebook.png") no-repeat scroll left top transparent;
}
div#header .box-socialnet ul li.rss {
    background: url("./images/icon-sn-rss.png") no-repeat scroll left top transparent;
}
div#header .box-socialnet ul li.twitter {
    background: url("./images/icon-sn-twitter.png") no-repeat scroll left top transparent;
}
div#menubar div#menubar-pad {
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 6px;
    width: 960px;
}
div#menubar h3 {
    display: none;
}
div#menubar ul {
    display: block;
    height: 68px;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 2px;
}
div#menubar ul li {
    display: block;
    float: left;
    height: 68px;
    margin: 0;
    padding: 0 2px 0 0;
}
div#menubar ul ul {
    display: none;
    float: none;
    height: auto;
    margin: -16px 0 0;
    padding: 10px 0;
    position: absolute;
    width: 180px;
    z-index: 9999999;
}
div#menubar ul li a {
    display: block;
    height: 68px;
    margin: 0;
    padding: 18px 30px 0 20px;
    position: relative;
    text-shadow: 0 1px #FFFFFF;
}
div#menubar ul li a br {
    display: none;
}
div#menubar ul li a span {
    display: block;
}
div#menubar ul li a span.sf-sub-indicator {
    height: 6px;
    position: absolute;
    right: 10px;
    text-indent: -999999px;
    top: 24px;
    width: 10px;
}
div#menubar ul li:hover ul, div#menubar ul li.hover ul {
    display: block;
    float: none;
    z-index: 999999;
}
div#menubar ul ul li {
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}
div#menubar ul ul li a {
    float: none;
    font-size: 11px;
    height: auto;
    padding: 5px 20px;
    width: auto;
}
div#menubar ul ul li a span.sf-sub-indicator {
    float: right;
    height: 10px;
    margin: 0;
    position: relative;
    right: 0;
    text-indent: -999999px;
    top: 3px;
    width: 6px;
}
div#menubar ul ul ul {
    margin: -36px 0 0 180px;
}
div#menubar {
    background: url("./images/bg-menubar-1.png") repeat-x scroll left top transparent;
}
div#menubar ul {
    background: url("./images/bd-menu-item-1.png") no-repeat scroll left top transparent;
}
div#menubar ul li {
    background: url("./images/bd-menu-item-1.png") no-repeat scroll right top transparent;
}
div#menubar ul ul {
    background: none repeat scroll 0 0 #EFF4F7;
}
div#menubar ul ul li {
    background: none repeat scroll 0 0 transparent;
}
div#menubar ul li a {
    color: #999999;
}
div#menubar ul li a {
    color: #2F5074;
}
div#menubar ul li a span.sf-sub-indicator {
    background: url("./images/arrow-menu-1.png") no-repeat scroll left top transparent;
}
div#menubar ul li:hover a, div#menubar ul li.hover a, div#menubar ul li.on a, div#menubar ul li.on a {
    color: #242424;
}
div#menubar ul li:hover a span.sf-sub-indicator, div#menubar ul li.hover a span.sf-sub-indicator, div#menubar ul li.on a span.sf-sub-indicator, div#menubar ul li.on a span.sf-sub-indicator {
    background-position: left bottom;
}
div#menubar ul li:hover ul li a, div#menubar ul li.hover ul li a {
    color: #242424;
}
div#menubar ul li:hover ul li a span.sf-sub-indicator, div#menubar ul li.hover ul li a span.sf-sub-indicator {
    background: url("./images/arrow-menu-2.png") no-repeat scroll right center transparent;
}
div#menubar ul li:hover ul li:hover a, div#menubar ul li.hover ul li.hover a, div#menubar ul li:hover ul li.on a, div#menubar ul li.hover ul li.on a, div#menubar ul li:hover ul li.on a, div#menubar ul li.hover ul li.on a {
    color: #2F5074;
}
div#menubar ul li:hover ul li:hover ul li a, div#menubar ul li.hover ul li.hover ul li a {
    color: #242424;
}
div#menubar ul li:hover ul li:hover ul li a span.sf-sub-indicator, div#menubar ul li.hover ul li.hover ul li a span.sf-sub-indicator {
    background: url("./images/arrow-menu-2.png") no-repeat scroll right center transparent;
}
div#menubar ul li:hover ul li:hover ul li:hover a, div#menubar ul li.hover ul li.hover ul li.hover a, div#menubar ul li:hover ul li:hover ul li.on a, div#menubar ul li.hover ul li.hover ul li.on a, div#menubar ul li:hover ul li:hover ul li.on a, div#menubar ul li.hover ul li.hover ul li.on a {
    color: #2F5074;
}
div#menubar ul li:hover ul li:hover ul li:hover a span.sf-sub-indicator, div#menubar ul li.hover ul li.hover ul li.hover a span.sf-sub-indicator, div#menubar ul li:hover ul li:hover ul li.on a span.sf-sub-indicator, div#menubar ul li.hover ul li.hover ul li.on a span.sf-sub-indicator, div#menubar ul li:hover ul li:hover ul li.on a span.sf-sub-indicator, div#menubar ul li.hover ul li.hover ul li.on a span.sf-sub-indicator {
    background: url("./images/arrow-menu-2.png") no-repeat scroll right center transparent;
}
div#menubar ul li {
    font: italic 11px/15px Georgia,serif;
}
div#menubar ul li a {
    text-decoration: none;
}
div#menubar ul li a {
    font: 14px/18px Verdana,sans-serif;
}
div#menubar ul ul li {
    font: 12px/16px Verdana,sans-serif;
}
.content-title {
    margin: 10px 0 0;
    padding: 30px 0;
    text-align: center;
}
#content .formulaire_spip fieldset legend {
    display: block;
    width: 100%;
}
.formulaire_spip fieldset legend b {
    font-weight: normal;
}
.content-title h1, .content-title h2, .notes h2, .ps h2, .comments h2, #content .formulaire_spip fieldset legend, div.texte h3, #signatures h2, #content-pad .articles h2, #content-pad .forums h2, #content-pad .rubriques h2, .documents_portfolio h2 {
    color: #60574E;
    display: block;
    font: 32px/38px 'Expletus Sans',serif;
    margin: 0;
    padding: 0;
}
#content div.socialtags {
    margin: 10px 0;
}
.hentry .title {
    margin: 0 0 15px;
    padding: 0;
}
.hentry .title h1, .hentry .title h2, .cartouche h1, .notes h2, .ps h2, .comments h2, #content .formulaire_spip fieldset legend, div.texte h3, #signatures h2, #content-pad .articles h2, #content-pad .forums h2, #content-pad .rubriques h2, .documents_portfolio h2 {
    color: #1E526C;
    display: block;
    font: 32px/38px 'Expletus Sans',serif;
    margin: 0 0 0.5em;
    padding: 0;
}
.hentry .meta {
    margin: 0 0 20px;
}
.hentry .meta p {
    color: #999999;
    display: block;
    font: 11px/15px Helvetica,Arial,sans-serif;
    margin: 5px 0 0;
    padding: 0;
}
.hentry .meta p span {
    font-style: italic;
}
.hentry .meta p a {
    color: #999999;
    text-decoration: none;
}
.hentry .meta p a:hover {
    color: #CC6666;
}
.page_forum .resume {
    display: none;
}
.page .content {
    padding: 0;
}
.not-found .content {
    padding: 0;
}
.content-group .liste-items {
    margin: 0 0 1px;
    padding: 0;
}
.liste-items .hentry {
    border-bottom: 1px solid #B9D4E6;
    margin-top: 20px;
    overflow: hidden;
}
.liste-items .hentry img.spip_logos {
    border: 1px solid #BFBCB8;
    float: left;
    margin-left: -173px;
    padding: 0;
}
.liste-items .hentry .h3 {
    margin: 0 0 12px 175px;
}
.liste-items .hentry .info-publi, .liste-items .hentry .meta-publi {
    margin: 0 0 12px 175px;
}
.liste-items .hentry .info-publi {
    font-size: 12px;
}
.cartouche .info-publi {
    font-size: 11px;
}
.page_rubrique .cartouche .info-publi {
    font-size: 11px;
    position: absolute;
    right: 20px;
    top: 0;
}
.liste-items .hentry .h3 a {
    color: #1E526C;
    font: bold 24px/28px 'Expletus Sans',serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.liste-items .hentry .h3 a:hover {
    color: #FE7F04;
}
.liste-items .hentry .introduction {
    display: block;
    margin: 0 0 10px 175px;
    padding: 0;
}
.liste-items .hentry .introduction p {
    display: block;
    margin: 0 0 12px;
    padding: 0;
}
.content-group .hentry .excerpt ul {
    display: block;
    margin: 0;
    padding: 0;
}
.content-group .hentry .excerpt ul li {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}
.content-group .hentry .excerpt ul li.facebook {
    margin-top: 1px;
}
.content-group .hentry .excerpt ul li a {
    display: block;
    margin: 0;
    padding: 0;
}
.content-group .not-found {
    height: auto;
}
.content-group .not-found .title {
    margin: 0 0 10px;
}
.content-index .content-title {
    display: none;
}
.content-singular .content {
    overflow: hidden;
}
.content-single .hentry .post-box {
    margin: 0 0 20px;
    padding: 0;
}
.notes h2, .ps h2, .comments h2, #content .formulaire_spip fieldset legend, div.texte h3, #signatures h2, #content-pad .articles h2, #content-pad .forums h2, #content-pad .rubriques h2, .documents_portfolio h2 {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dashed #88AFCE;
    border-top: 0 none;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 5px 0;
}
.content-single .hentry .post-box .title p {
    color: #666666;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
}
.content-single .hentry .post-box-share .interior ul {
    display: block;
    height: 32px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.content-single .hentry .post-box-share .interior ul li {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}
.content-single .hentry .post-box-share .interior ul li a {
    border: 0 none;
    display: block;
    float: left;
}
.content-single .hentry .post-box-share .interior ul li a img {
    border: 0 none;
    padding: 0;
}
.content-single .hentry .post-box-related .interior {
    overflow: hidden;
}
.content-single .hentry .post-box-related .interior img {
    border: 0 none;
    height: 70px;
    padding: 0;
    width: 136px;
}
.content-single .hentry .post-box-related .interior ol {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 680px;
}
.content-single .hentry .post-box-related .interior ol li {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
    width: 136px;
}
.content-single .hentry .post-box-related .interior ol li a {
    display: block;
    line-height: 18px;
    margin: 0 0 0.5em;
}
.content-single .hentry .post-box-related .interior ol li br {
    display: none;
}
ul.comments-list {
    display: block;
    list-style: none outside none;
    margin: 15px 0 0;
    padding: 0;
}
ul.comments-list li.comment {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.comments-list ul {
    padding-left: 0;
}
div.comment-message {
    border: 1px solid #BFBFBF;
    margin: 0 0 10px;
    padding: 0 10px;
}

div.comment-message .comment-author {
    color: white;
}
div.comment-message .comment-author strong {
    display: block;
    color: #1E526C;
    float: left;
    font: 12px/16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 150px;
    font-weight: bold;
    clear: left;
}
div.comment-message .comment-author strong, div.comment-message .comment-author a {
    display: block;
}
div.comment-message .spip_logos {
    clear: left;
    float: left;
    margin: 0 10px 0 0;
}
div.comment-message spip_logos {
    border: 2px solid #BFBFBF;
    padding: 1px;
}
div.comment-message .comment-author .comment-meta .author {
    color: #666666;
}
div.comment-message a.permalink {
    clear: right;
    color: #CCCCCC;
    float: right;
    font-size: 78px;
    line-height: 78px;
}
div.comment-message a.permalink:hover {
    text-decoration: none;
}
div.comment-message .date {
    color: #999999;
    float: right;
    font: 10px/14px Helvetica,Arial,sans-serif;
    min-height: 100px;
    padding: 10px 0 10px 10px;
}
div.comment-message .comment-reply {
    font: 10px/18px Helvetica,Arial,sans-serif;
    padding: 4px 0;
    text-align: right;
}
ol.trackbacks-list {
    margin: 0 0 0 3em;
    padding: 0;
}
.formulaire_forum label {
    display: block;
    padding: 0 0 3px 6px;
}
.formulaire_forum small {
    color: #B7B7B7;
}
.formulaire_forum input.text {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #000000;
    padding: 5px;
}
.formulaire_forum textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #000000;
    padding: 5px;
    width: 558px;
}
.formulaire_spip .boutons input.submit {
    background-color: white;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    padding: 4px 6px;
}
.formulaire_forum button span {
    display: none;
}
.formulaire_forum .comment-submit {
    text-align: right;
}
.formulaire_forum .input {
    display: block;
    margin: 0 0 10px;
}
.formulaire_forum .input-small {
    width: auto;
}
.formulaire_forum .input-small input {
    width: 265px;
}
.formulaire_forum .input-name {
    float: left;
}
.formulaire_forum .input-email {
    float: right;
}
.formulaire_forum .input-website {
    clear: both;
}
.formulaire_forum .input-website input {
    width: 558px;
}
p.pagination {
    padding: 10px 0 0;
}
p.pagination strong, p.pagination a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #60574E;
    display: block;
    float: left;
    font: 12px/26px 'Expletus Sans',serif;
    height: 26px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    text-decoration: none;
}
p.pagination span.pages {
    color: #000000;
}
p.pagination span.pages span.n {
    border: 0 none;
    color: #000000;
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
}
p.pagination strong, p.pagination a:hover, p.pagination a:active {
    background: none repeat scroll 0 0 #F7EAD9;
    border: 1px solid #DDDDDD;
    color: #000000;
}
p.pagination .separateur,p.pagination .sep {
    display: none;
}
div#sidebar .menu, div#sidebar .liste {
    background: url("./images/bd-sidebar-box.png") repeat-x scroll left bottom transparent;
    font: 11px/13px Verdana,sans-serif;
    margin: 0;
    padding: 24px 24px 26px 25px;
}
div#sidebar .rubriques {
    margin-top: 70px;
}
div#sidebar .menu a, div#sidebar .liste a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
div#sidebar .menu a:hover, div#sidebar .liste a:hover {
    color: #FE7F04;
}
div#sidebar .menu h2, div#sidebar .liste h2, div#sidebar .menu legend {
    color: #666666;
    font: bold 11px/13px Verdana,sans-serif;
    margin: 0 0 2em;
    text-transform: uppercase;
}
div#sidebar .menu legend {
    margin: 0 0 5px;
}
div#sidebar .menu ul, div#sidebar .liste ul {
    display: block;
    margin: 0;
    padding: 0;
}
div#sidebar #formulaire_inscription .explication {
    color: #000000;
    line-height: 1.6em;
    margin-bottom: 20px;
}
div#sidebar .menu ul li, div#sidebar .liste ul li {
    background: url("./images/bd-sidebar-menu-item.png") repeat-x scroll left bottom transparent;
    display: block;
    margin: 0;
    padding: 7px 0 8px 1em;
}
div#sidebar .menu ul ul, div#sidebar .liste ul ul {
    background: url("./images/bd-sidebar-menu-item.png") repeat-x scroll left top transparent;
    display: block;
    margin: 7px 0 -8px -1em;
}
div#sidebar .menu ul ul li, div#sidebar .liste ul ul li {
    padding: 7px 0 8px 3em;
}
div#sidebar .menu ul ul ul, div#sidebar .liste ul ul ul {
    margin: 7px 0 -8px -3em;
}
div#sidebar .menu ul ul ul li, div#sidebar .liste ul ul ul li {
    padding: 7px 0 8px 5em;
}
div#sidebar .menu ul ul ul ul, div#sidebar .liste ul ul ul ul {
    margin: 7px 0 -8px -5em;
}
div#sidebar .menu ul ul ul ul li, div#sidebar .liste ul ul ul ul li {
    padding: 7px 0 8px 7em;
}
div#sidebar .menu ul ul ul ul ul, div#sidebar .liste ul ul ul ul ul {
    margin: 7px 0 -8px -7em;
}
div#sidebar .menu ul ul ul ul ul li, div#sidebar .liste ul ul ul ul ul li {
    padding: 7px 0 8px 9em;
}
div#sidebar .menu ul ul ul ul ul ul, div#sidebar .liste ul ul ul ul ul ul {
    margin: 7px 0 -8px -9em;
}
div#sidebar .menu ul ul ul ul ul ul li, div#sidebar .liste ul ul ul ul ul ul li {
    padding: 7px 0 7px 11em;
}
div#sidebar #formulaire_inscription ul li {
    background: none repeat scroll 0 0 transparent;
    padding-left: 0;
}
div#formulaire_recherche {
    background: none repeat scroll 0 0 transparent;
    padding-bottom: 0;
}
div#formulaire_recherche form {
    height: 30px;
}
div#sidebar .menu-search p, div#sidebar .widget_search p {
    display: block;
    margin: 0;
    padding: 0;
}
div#formulaire_recherche {
    background: url("./images/bd-sidebar-box.png") repeat-x scroll left bottom transparent;
    height: 50px;
    left: 0;
    padding: 0 24px;
    position: absolute;
    top: 24px;
}
div#formulaire_recherche label {
    display: none;
}
div#formulaire_recherche input#recherche {
    background: url("./images/input-search.png") no-repeat scroll right top #FFFFFF;
    border: 1px solid #CCCED0;
    color: #CCCED0;
    float: left;
    font: bold 12px/12px Verdana,sans-serif;
    margin: 0;
    padding: 6px 30px 6px 10px;
    text-transform: uppercase;
    width: 260px;
}
div#formulaire_recherche .submit {
    display: none;
}
div#sidebar .menu-popular-posts ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div#sidebar .menu-popular-posts ul li {
    background: none repeat scroll 0 50% transparent;
    margin: 0 0 1em;
    min-height: 57px;
    padding: 0;
}
div#sidebar .menu-popular-posts ul li img {
    border: 0 none;
    float: left;
    padding: 0;
}
div#sidebar .menu-popular-posts ul li span.wpp-post-title {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 0 0 57px;
}
div#sidebar .menu-popular-posts ul li span.post-stats {
    color: #999999;
    display: block;
    font: italic 11px/13px Georgia,serif;
    margin: 5px 0 0 57px;
}
div#sidebar .menu-fb-like .title {
    display: none;
}
div#sidebar .menu-fb-like .interior {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0;
}
div#sidebar .tagcloud {
    margin-top: 1em;
}
div#footbar {
    background: url("./images/bg-footbar.gif") repeat-x scroll left top #4E799D;
    color: #A8C4DC;
    font: 12px/16px Georgia,serif;
    text-shadow: 0 -1px #294053;
}
div#footbar #footbar-pad {
    padding: 30px 20px 20px;
}
div#footbar a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 -1px #294053;
}
div#footbar a:hover {
    color: #FE7F04;
}
div#footbar .liste {
    float: left;
    margin: 0;
    padding: 0 20px;
    width: 278px;
}
div#footbar .pied {
    color: #4E799D;
    float: right;
    text-shadow: none;
    width: 218px;
}
div#footbar .pied a {
    color: #FFFFFF;
    display: block;
    text-shadow: 0 -1px #294053;
}
div#footbar .bar-small {
    width: 122px;
}
div#footbar .liste h2 {
    color: #315676;
    display: block;
    font: bold 12px/16px Verdana,serif;
    margin: 0 0 1.5em;
    padding: 0;
    text-shadow: 0 1px #6184A2;
    text-transform: uppercase;
}
div#footbar .liste h2 a {
    color: #315676;
    text-shadow: none;
}
div#footbar .liste ul {
    display: block;
    margin: 0;
    padding: 0;
}
div#footbar .liste ul li {
    display: block;
    margin: 0 0 5px;
    padding: 5px 0;
}
div#footer {
    background: url("./images/bg-footer.gif") repeat-x scroll left top #3E688B;
    border-left: 1px solid #ADCFE6;
    border-right: 1px solid #ADCFE6;
    margin: 0 auto;
    padding: 2px 0 0;
    width: 960px;
}
div#footer #footer-pad {
    padding: 10px 20px;
}
div#footer #copyleft {
    color: #5583AA;
    display: block;
    float: left;
    font: 10px/14px Verdana,serif;
    margin: 0;
    padding: 0;
    text-shadow: 0 -1px #355975;
}
div#footer a {
    color: #5583AA;
    text-decoration: none;
    text-shadow: 0 -1px #355975;
}
div#footer a:hover {
    text-decoration: none;
}
div#featured {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ADCFE6;
    height: 317px;
    margin: 25px auto 0;
    overflow: hidden;
    padding: 10px;
    width: 940px;
}
div#featured h2 {
    display: none;
}
div#slideshow .item {
    background: none repeat scroll 0 0 #AFD6EE;
    height: 317px;
    width: 940px;
}
div#slideshow .item .image {
    display: block;
    float: left;
    padding: 0;
    width: 600px;
}
div#slideshow .item .image a {
    display: block;
    margin: 0;
    padding: 0;
}
div#slideshow .item .image a img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
div#slideshow .item .meta {
    float: right;
    padding: 30px 20px;
    width: 300px;
}
div#slideshow h3 {
    display: block;
    font: 28px/32px 'Expletus Sans',serif;
    margin: 0;
    padding: 0 0 0.3em;
}
div#slideshow h3 a:link, div#slideshow h3 a:visited {
    color: #4E799D;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
}
div#slideshow h3 a:hover, div#slideshow h3 a:active {
    text-decoration: underline;
}
div#slideshow p {
    color: #4E799D;
    display: block;
    font: 14px/28px Georgia,serif;
    margin: 10px 0;
    padding: 0;
    text-shadow: 0 1px #FFFFFF;
}
div#slideshow p.read-more {
    margin: 1.5em 0 0;
    padding: 0;
}
div#slideshow p.read-more a {
    background: url("./images/button-read-more.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    font: 11px/38px Verdana,serif;
    height: 38px;
    text-align: center;
    text-shadow: 0 1px #9B4E02;
    text-transform: uppercase;
    width: 132px;
}
div#slideshow-controller {
    height: 20px;
    margin: -18px 0 0 30px;
    padding: 12px 0 0;
    text-align: center;
    width: 289px;
}
div#slideshow-controller button {
    background: url("./images/cycle/button-featured.png") repeat scroll left top transparent;
    border: 0 none;
    height: 15px;
    margin: 0;
    padding: 0;
    width: 15px;
}
div#slideshow-controller button#jqc-prev {
    background: url("./images/cycle/button-featured-prev.png") repeat scroll left top transparent;
}
div#slideshow-controller button#jqc-next {
    background: url("./images/cycle/button-featured-next.png") repeat scroll left top transparent;
}
div#slideshow-controller button {
    margin: 0 0 0 3px;
    padding: 0;
}
div#slideshow-controller button span {
    display: none;
}
div#slideshow-controller button.jqc-active {
    background-position: left bottom;
}
