div.movieContainer {
	top: 0; 
	right:0 !important;
	left:-256px !important;
	top:0;
} /* 1 pixel contenant le player + Hack pour supporter le RTL */

.radiobox{
	margin:10px 0px 10px 0px;
	padding:0px;
	width:200px;
	font-size:9px;
	font-family:verdana, sans-serif;
	color:#999999;
	/*
	-moz-border-radius: 15px;*/
}

.controles {
	cursor:pointer;
	text-align:right;
	margin-bottom:5px;
}

.playliste{
	list-style-type:none;
	padding:3px;
	margin:0;
	border: 1px solid #cccccc;
}

.radiobox a, .radiobox a:hover{
text-decoration:none;
font-family:verdana, sans-serif;
	color:#999999;
}

.radiobox li.over{
	background:#e6e6e6;
}

.playliste_pagination{
margin:5px 0px 0px 0px;
border: 1px solid #cccccc;
}

ul.playliste li{
	cursor:pointer;
}

.radiobox li.play_on{
	background:#e6e6e6;
}

#scrollbar{
	clear:both;
	height:5px;
	margin:5px 0px;
	border:1px solid white;
	background-color:white;
	position:relative;
	cursor:pointer;
}
#loading{
	margin:0px;
	padding:0px;
	height:5px;
	background-color:#ccc;
	width:0%;
	position:absolute;
	left:0px;
	top:0px;
	font-size:0.3em;
	z-index:10;
}
#position{
	margin:0px;
	padding:0px;
	height:5px;
	background-color:#e74455;
	width:0%;
	position:absolute;
	left:0px;
	top:0px;
	font-size:0.3em;
	z-index:20;
}

div#now_playing{
	width:120px;
	height:13px;
	text-align:left;
}

/* Scroller Box */
#scroller_container {
	position: relative;
	float:left;
	width:120px;
	height: 13px;
	overflow: hidden;
	border: 1px solid #cccccc;
    line-height: 1;
}

#scroller {
	width:120px;
	height: 13px;
	position: absolute;
	left:0;
	top:0;
	margin: 0;
}


/* Scoller Box */

/* At the end of the CSS File */

/* CSS Hack Safari — T'es sur de toi ?? */
/*#dummy {;# }*/

#scroller_container {
	overflow: auto;
}