#bilan_traduction{
	width:100%;
	overflow:auto;
}
.page_traduction table.spip{
	width:100%;
}

table.liste_traductions,table.bilan{
	font-size:.9em;
	margin:10px 0 15px;
	width:100%;
}
table.liste_traductions{
	table-layout:fixed;
}
table.liste_traductions td, table.liste_traductions th{
	text-overflow:ellipsis;
	overflow:hidden;
}
table.liste_traductions .code_langue{
	width:180px;
}
table.liste_traductions .origine,table.liste_traductions .cible{
	width:230px;
}
table.liste_traductions .date{
	width:70px;
}
table.liste_traductions .statut{
	width:50px;
	vertical-align:middle;
}

.bilan{
	width:100%;
	overflow:auto;
}
table.liste_traductions tr.statut_new td.statut,.traducteur #navigation ul.infos p.items_new{
	background-image:url(images/back_new.png);
	background-repeat:no-repeat;
	background-position:2px center;
	padding-left:10px;
}

#bilan table td.non_traduit{
	background-image:url(images/back_new.png);
}

table.liste_traductions tr.statut_modif td.statut,.traducteur #navigation ul.infos p.items_modif{
	background-image:url(images/back_modify.png);
	background-repeat:no-repeat;
	background-position:2px center;
	padding-left:10px;
}

#bilan table td.traduit{
	background-image:url(images/back_modify.png);
}

.liste-objets .caption{background-repeat:no-repeat;height:24px;display:block;padding-left: 30px;}

.valeur_traduit{
	display:none;
}
div.graph {
    border: 0 none;
    height: 14px;
    position: relative;
    width: 100px;
}

div.graph[dir="ltr"] div.translated {
    left: 0;
}

.graph div.ok {
    background: url("images/green-bar.png") repeat-x scroll 0 0 transparent;
    color: black;
    height: 100%;
    position: absolute;
    top: 2px;
}

.graph div.modif {
    background: url("images/purple-bar.png") repeat-x scroll 0 0 transparent;
    color: black;
    height: 100%;
    position: absolute;
    top: 2px;
}

.graph div.new {
    background: url("images/red-bar.png") repeat-x scroll 0 0 transparent;
    color: black;
    height: 100%;
    position: absolute;
    top: 2px;
}

.none, .js .none-js, .no-js .none-nojs {
    display: none;
}