/* --------------------------------------------------------------

   habillage.css
   Adaptation de la version Brownie pour Zcore

----------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { border: 0; font-size: 100%; font: inherit; margin: 0; padding: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* Bicubic resizing for non-native sized IMG */
.ie7 img { -ms-interpolation-mode: bicubic; }

::selection { background: #2e2823; color: #fff; }
::-moz-selection { background: #2e2823; color: #fff; }

body.wait *, body.wait { cursor:wait !important; }


/* --------------------------------------------------------------
    Base typographique
----------------------------------------------------------------- */

html { font-size: 100.01%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
body { background: #fff; color: #74665B; font: 12px/1.7 Helvetica, Arial, Tahoma, sans-serif; text-align: center; }

/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

/* Titraille / Intertitres */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { color: #262626; display: block; margin: 0; padding: 0; font-family: Helvetica, Arial, Tahoma, sans-serif; font-size: 100%; font-weight: 600; }
hr { border: 0; background: #D9D9D9; color: #222222; height: 1px; margin: 1.5em 0; }

h1,.h1 { font-size: 2em; line-height: 1.5; margin-bottom: .75em; }
h2,.h2 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h3,.h3 { font-size: 1.25em; line-height: 1.2; margin-bottom: 1.2em; }
h4,.h4 { font-size: 1.1em; line-height: 1.364; margin-bottom: 1.364em; }
h5,.h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6,.h6 { font-size: 1em; font-weight: bold; }

/* Enrichissements typographiques */
strong, b { font-weight: bold; }
em, i { font-style: italic; }
small, .small { font-size: 90%; }
big, .big { font-size: 130%; }
abbr[title], acronym[title] { border-bottom: .1em dotted; cursor: help; }

dfn { font-weight: bold; font-style: italic; }
del, .del { background-color: #FFDDDD; border-color: #CC0000; color: #CC0000; text-decoration: line-through; }
ins, .ins { background-color: #DDFFDD; border-color: #00AA00; color: #00AA00; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; line-height: 0; }
sup { vertical-align: super; }
.ie sup { vertical-align: text-top; }
sub { vertical-align: sub; }
.ie sub { vertical-align: text-bottom; }
.caps { font-variant: small-caps; }

/* Listes */
ul, ol, li, dl, dt, dd {}
ul ul, ol ol, ul ol, ol ul { margin-top: 0; margin-bottom: 0; }

dl dt { font-weight: bold; }
dl dd {}

/* Tableaux */
table {}
caption { background: #EEE; }
th { font-weight: bold; }
thead th { background: #DDD; }
th,td,caption { padding: 0.75em; }
tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td,
tbody tr.even th,
tbody tr.even td { background: #EEE; }
tfoot { font-style: italic; }

/* Citations, code et poesie */
q { font-style: italic; }
blockquote { padding: 0 50px; }
cite { font-style: italic; }

address { font-style: italic; }

pre,code,kbd,samp,var,tt { font-family: 'Courier New', Courier, monospace; font-size: 1em; }
pre {
    margin: 1.5em 0;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}
kbd { background-color: #222222; color: #FFFFFF; }
samp { font-weight: bold; }
var { font-style: italic; }

/* Paragraphes */
p, .p, dl, dd, blockquote, address, pre, table, fieldset { margin-bottom: 1.5em; }

/* Liens */
a {
    color: #d93e39; padding: 1px 3px; text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;
}
a:focus, a:hover, a:active { background-color: #d93e39; color: #fff; text-decoration: none; }
a.spip_out, a.spip_glossaire { background: url("img/spip_out.gif") no-repeat scroll right center; color: #46839B; padding-right: 12px; }
a.spip_out:hover { background-color: #46839B; color: #fff; }
a[hreflang]:after { content: "\0000a0(" attr(hreflang) ")"; }
.on { font-weight: bold; }


/* --------------------------------------------------------------
   Base pour formulaires
----------------------------------------------------------------- */

fieldset {
    margin: 0; width: 100%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
}
.ie fieldset { padding-top: 0; }
input, textarea, select, button { font-family: inherit; font-size: 100%; font-weight: inherit; line-height: inherit; }
textarea { overflow: auto; width: 100%; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
legend { display: none; }
label { color: #262626; display: block; font-weight: bold; }

/* Hand cursor on clickable input elements */
input[type="submit"], input.submit,
input[type="button"], input.button,
input[type="image"], input.image,
button { cursor: pointer; overflow: visible; width: auto; }
.ie button, .ie input.submit, .ie input.button { position: relative; }

/* Success, info, notice and error/alert boxes (from BluePrint) */
.reponse, .error, .alert, .notice, .success, .info {
    padding: .8em; margin-bottom: 1.5em; border: 2px solid #ddd;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info { background: #d5edf8; color: #205791; border-color: #92cae4; }

.error p, .alert p, .notice p, .success p, .info p { margin-bottom: 0; }

.error a, .alert a { color: #8a1f11; }
.notice a { color: #514721; }
.success a { color: #264409; }
.info a { color: #205791; }


/* --------------------------------------------------------------
   Styles associes au code genere par SPIP
----------------------------------------------------------------- */

/* Listes SPIP */
ul.spip, ol.spip { margin-left: 50px; }
ul.spip { list-style-type: square; }
li ul.spip { list-style-type: disc; }
li li ul.spip { list-style-type: circle; }
ol.spip { list-style-type: decimal; }

dl.spip dt, dl.spip dd { padding-left: 50px; }
dl.spip dt { background: url("img/def.png") no-repeat 25px .5em; clear: both; }
dl.spip dd {}

/* Tableaux SPIP */
table.spip { width: 100%; }
table.spip caption { background: none; border-bottom: 1px solid; font-weight: bold; text-align: left; }
table.spip tr.row_first th {}
table.spip tr.odd td {}
table.spip tr.even td {}
table.spip thead th { background: none; border: 1px solid; border-width: 1px 0; }
table.spip tbody tr th, table.spip tr td { background: none; }
table.spip tbody tr.odd th, table.spip tr.odd td { background: #F9F4E1; }
table.spip tfoot { border-top: 1px solid; }

/* Citations, code et poesie */
blockquote, blockquote.spip, .spip_poesie { border-left: 4px solid #D8C0A8; min-height: 40px; color: #666; font-style: italic; line-height: 1.4; padding: 0 25px; }
.spip_poesie { border-left: 1px solid; }
.spip_poesie div { margin-left: 50px; text-indent: -50px; }
.spip_code, .spip_cadre { background-color: #fff; color: #777; font-family: 'Courier New', Courier, monospace; font-size: 1em; }
.spip_cadre {  border: 1px solid #ddd; }

/* Enluminures typo V3 / Cf.: http://www.spip-contrib.net/3118 */
sc, .sc { font-variant: small-caps; }
.caractencadre-spip { background-color: #FFFFCC; color: purple; }
.caractencadre2-spip { background-color: #FFFFCC; color: orange; }
.texteencadre-spip { display: block; margin: 1.5em 50px; padding: 1.5em; background: #EEE; }

/* Logos, documents et images */
.spip_logos { float: right; margin: 0 0 10px 10px; padding: 0; border: none; }

.spip_documents { margin-bottom: 1.5em; padding: 0; background: none; }
.spip_documents,
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif { margin-right: auto; margin-left: auto; text-align: center; }
.spip_documents_center { clear: both; display: block; width: 100%; }
.spip_documents_left { float: left; margin-right: 1.5em; }
.spip_documents_right { float: right; margin-left: 1.5em; }
.spip_doc_titre {}
.spip_doc_descriptif { clear: both; }

/* Modeles par defaut */
.spip_modele { float: right; display: block; width: 25%; margin: 0 0 1.5em 1.5em; padding: 1.5em; background-color: #EEE; }

/* Formulaires */
.formulaire_spip {
    background: #f8f8f8; border: 1px solid #f0f0f; clear: both; margin: 1.5em 0; padding: 2em 1em 1em;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.aside .formulaire_spip { margin-top: 1em; padding: 2em 1em 1em; }
.formulaire_spip li { clear: both; margin-bottom: 0.75em; }
input.text,textarea {
    background-color: #fff; border: 1px solid lightgrey; margin-bottom: 1em; padding: 4px; width: 100%;
    -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.content input.text { width: 50%; }

.formulaire_spip .boutons { clear: both; margin: 0; padding: 0; text-align: right; }
.formulaire_spip .boutons input,
.formulaire_spip .boutons button {}

/* Barre typo */
.markItUp .markItUpHeader ul .markItUpSeparator { display: none; }

/* Previsu */
.previsu { margin-bottom: 1.5em; padding: 0.75em; border: 2px dashed #F57900; }
fieldset.previsu legend { color: #F57900; }

/* Reponses */
.reponse_formulaire { margin-bottom: 1.5em; padding: 0.75em; border: 2px solid #ddd; }
.reponse_formulaire_ok { background: #e6efc2; color: #264409; border-color: #c6d880; }
.reponse_formulaire_erreur { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.reponse_formulaire_ok a { color: #264409; }
.reponse_formulaire_erreur a { color: #8a1f11; }

.erreur_message { color: red; display: block; }

li.erreur input[type="text"], li.erreur input.text,
li.erreur input[type="password"], li.erreur input.password,
li.erreur textarea { background-color: #fbe3e4; border-color: #fbc2c4; }

.spip_surligne { background-color: yellow; }

/* Formulaire de recherche */
.formulaire_recherche * { display: inline; }
.formulaire_recherche { background: none; border: none; margin: 0 !important; padding: 0 !important; width: 100%; }
.formulaire_recherche .text { background: url("img/recherche.png") no-repeat left center; padding-left: 20px; width: 100%; }
.ie6 .formulaire_recherche .text, .ie7 .formulaire_recherche .text { width: 89%; }
.aside .formulaire_recherche { position: absolute; top: 0; left: 0; }
.aside .formulaire_recherche input.submit { display: none; }

/* Selection des langues */
.formulaire_menu_lang {  background: none; margin: 0; padding: 0; }
.header .formulaire_menu_lang { display: block; margin-left: 370px; position: absolute; top: .6em; left: 50%; }

/* Choix des mots-clefs */
ul.choix_mots { display: block; list-style: none; margin: 0; padding: 0; }
ul.choix_mots li { clear: none; display: block; float: left; margin: 0; padding: 1%; width: 30%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

.formulaire_spip .bugajaxie { display: none; } /*IE/Win*/

/* Formulaire de login dans une page */
.formulaire_login ul li { clear: left; }
.formulaire_login .editer_password .details { display: block; }
.formulaire_login #spip_logo_auteur { float: right; }

/* Fomulaire de contact */
.formulaire_ecrire_auteur {}
.formulaire_ecrire_auteur .saisie_sujet_message_auteur input.text { width: 100%; }

/* Paragraphes */
div.spip, ul.spip, ol.spip, .spip_poesie, .spip_cadre, div.spip_code, .spip_documents.spip_documents_center { margin-bottom: 1.5em; }

/* Pagination */
.pagination { clear: both; margin-bottom: 1.5em; overflow: hidden; text-align: center; }
.pagination a, .pagination .on {
    background: #F9F4E1; color: #707070; font-size: 1em; line-height: 1;
    display: block; float:left; margin: 0 10px 0 0; padding: 8px 15px; text-align: center; text-decoration: none;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.pagination a:focus, .pagination a:hover, .pagination a:active, .pagination .on { background: #d93e39; color: #fff; }
.pagination .sep { display: none; }
#pagination_articles { padding: 0; }

/* Liens de SPIP */
a.spip_note { font-weight: bold; } /* liens vers notes de bas de page */
a.spip_in {} /* liens internes */
a.spip_mail {}
a.spip_out {} /* liens sortants */
a.spip_url {} /* liens url sortants */
a.spip_glossaire {} /* liens vers encyclopedie */

/* Boutons d'admin */
.ie6 .spip-admin,
.ie6 #spip-admin { display: none; }

/* Fil d'ariane */
#hierarchie { clear: both; color: #453C34; font-size: .9em; }
#hierarchie * { font-weight: normal; }

/* Contenu */
.cartouche { margin-bottom: 1.5em; }
.cartouche .spip_logos { background: #fff; padding-left: 1em; padding-bottom: .5em; }
.cartouche h1 { border-bottom: 1px solid #d9d9d9; color: #453C34; font-weight: 400; margin: 10px 0; padding: 0; }
.cartouche p { margin-bottom: 0; }
.surtitre{}
.soustitre {}

/* Date */
.info-publi .published,
.dtreviewed, abbr.date,
.liste-items small,
.aside .menu_breves small { background: url("img/blog_date.png") no-repeat center left; border: 0; color: #a6a6a6; font-size: 11px; font-style: normal; line-height: 11px; margin-bottom: .6em; padding: 3px 0 0 18px; }

.info-publi { color: #a6a6a6; font-size: .9em; font-style: italic; margin: 1.5em 0 0; }
.traductions { border: 1px dotted lightgrey; font-size: .9em; line-height: 1.5; margin: 1.5em 0; padding: 1em; text-align: center }
.traductions a[hreflang]:after { content: ''; }

.chapo { color: #403830; font-size: 1.4em; font-style: italic; font-weight: normal; letter-spacing: -0.5px; line-height: 1.4; margin-bottom: 1em; }
.chapo p { margin-bottom: .5em; }
.texte {}
.hyperlien { background: #F9F4E1 url("img/def.png") no-repeat 25px 1.9em; display: block; font-weight: bold; padding: 1.5em 1.5em 1.5em 50px; }
.ps, .notes { margin-bottom: 1.5em; }
.notes { clear: both; font-size: .9em; }
.surlignable {  }
.enclosures { margin: .5em; }


/* --------------------------------------------------------------
   Blocs principaux
----------------------------------------------------------------- */

.header { background: #403830 url(img/header-bg.jpg) repeat-x; padding: 90px 0 20px 0; }
.main { clear: both; }
.footer { background: #403830; border-top: 1px solid #453C34; clear: both; margin-top: 1.5em; padding: 2em 0; position: relative; }

.wrapper { clear: both; float: left; width: 70%; }
.content { min-height: 350px; }

.page_404 .content { background: url(img/404.png) no-repeat 0 100px; }
.page_404 .chapo { font-family: 'Courier New', Courier, monospace; font-size: 2em; line-height: 1.5;  margin-top: 130px; margin-left: 200px; width: 350px;}
.aside { float: right; overflow: hidden; width: 26%; }

/* Centrer le layout */
.header .accueil, .menu-conteneur, .main, .nav, .footer .colophon { margin: 0 auto; position: relative; text-align: left; width: 900px; }


/* --------------------------------------------------------------
   Habillage des forums
----------------------------------------------------------------- */

/* Habillage des forums */
.comments-list .comment { border-top: 1px solid #453C34; margin: 0; padding: 0 0 0 25px; position: relative; }
.comment-message .permalink { color: #a6a6a6; font-size: 2em; position: absolute; top: -2px; left: 0; }
.comments-list .comment .comment { border-style:dashed; border-color: #e6e6e6; }
.comment-fil ul {}
.nb_commentaires {
    background-image: url(img/recent_post_comments.png); background-repeat: no-repeat; background-position: left top;
    display: inline-block; font-size: 11px; padding-left: 15px; position: absolute; bottom: 6px; right: 19px; }

/* comments list */
.comment-meta { font-weight: bold; margin: 1em 0 0; }
.comment-meta small { color: #A6A6A6; font-size: 100%; font-weight: normal; }
.comment-meta small .sep { display: none; }
.comment-meta abbr.date { float: right; }
.ie6 .comment-meta small .sep, .ie7 .comment-meta small .sep { display: compact; }
.ie6 .comment-meta abbr.date, .ie7 .comment-meta abbr.date { float: none; }
.comment-meta a { padding: 2px 4px!important; }
.comment-meta a:focus,
.comment-meta a:hover,
.comment-meta a:active { color: #fff; }
.comment-content { color: #74665B; font-size: 1em; padding: 3px; max-height: 60em; width: 100%; overflow: auto; overflow-x: none; }
.comment-content .hyperlien { background: transparent; font-weight: normal; padding: 0; }
.comment-content p { margin-bottom: 1em; }
.comment-reply { clear: both; font-weight: bold; margin-bottom: 0; text-align: right; }

/* Formulaire de forum */
.formulaire_forum {}
.formulaire_forum legend { display: none; }
.formulaire_forum .saisie_titre input.text { width: 100% }
.formulaire_forum .session_qui { display: none; }
.formulaire_forum .saisie_texte .explication { color: #a6a6a6; font-size: .9em; font-style: italic; }

/* Habillage des petitions
---------------------------------------------- */
#signatures {}
#signatures td.signature-date small { white-space: nowrap; }
#signatures .formulaire_recherche { margin: 1.5em auto; text-align: center; }

/* Formulaire de signature */
.formulaire_signature {}


/* --------------------------------------------------------------
   Sous-navigation et autres menus
----------------------------------------------------------------- */

/* Habillage general des menus de nav */
.menu { clear: both; margin-bottom: 1.5em; text-align: left; }
.menu p {}
.menu ul { margin-bottom: 1.5em; }
.menu ul li { line-height: 1.5; }
.menu ul li ul { margin-left: 1.5em; list-style: circle; }

/* Breves */
.menu_breves li {}
.menu_breves li h3 { margin: 0; }

/* Menus dans la colonne de droite */
.aside { padding-top: 60px; position: relative; }
.aside .menu, .aside .liste { border-top: 1px solid #ccc; margin-top: 1em; padding:2em 0.75em 0.75em; }
.aside .liste h2 a { color: #262626; }
.aside .liste h2 a:focus, .aside .liste h2 a:hover, .aside .liste h2 a:active { background-color: #d93e39; color: #fff; text-decoration: none; }
.aside .menu a, .aside .liste a { display: block; }
.aside .menu ul, .aside .liste ul { margin-bottom: 0; }
.aside .menu li, .aside .liste li { border-bottom: 0; color: #A6A6A6; margin-bottom: .2em; }
.aside .menu p, .aside .liste p { color: #666; }

/* Menu Breves */
.aside .menu_breves h3 { margin-bottom: .5em; }
.aside .menu_breves small { display: block; }

/* Fichier en piece jointe */
.cboxElement img {
    border: 1px solid #ddd; padding: 6px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.cboxElement:hover { background: none; }
.cboxElement:hover img { border-color: red; }


/* Entete et barre de navigation
------------------------------------------ */

/* Entete */
.header .spip_logos { float: left; margin: 0 10px 5px 0; width: auto; height: 55px; }
.header #nom_site_spip a { color: #F9F4E1; font-size: 2.8em; font-weight: bold; font-family: 'Mr Dafoe', cursive; color: #F9F4E1; line-height: 1; margin-bottom: 4px; text-shadow: 1px 1px 2px #000; }
.header #nom_site_spip a, .header #nom_site_spip a:focus, .header #nom_site_spip a:hover, .header #nom_site_spip a:active { background: transparent; text-decoration: none; color: #F9F4E1; padding: 0; }
.header #slogan_site_spip { color: #D8C0A8; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;   }

/* Navigation principale - Utilisation du plugin Menu */
#nav, .menu-conteneur { top: -65px; z-index: 90; }
#nav ul, .menu-conteneur ul { display: inline; float: right; margin: 0; padding: 0; max-width: 600px; /*overflow: hidden;*/ }
#nav li ul, .menu-conteneur li ul { left: -2px; }
#nav li ul li, .menu-conteneur li ul li { box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); }
#nav li, .menu-conteneur li { display: block; position: relative; white-space: nowrap; }
#nav a, .menu-conteneur a { color: #f9f4e1; display: block; font-size: 14px; font-family: "Helvetica neue", Arial, sans-serif; font-weight: bold; padding: 4px 6px; position: relative; }
#nav a:hover, .menu-conteneur a:hover { background: transparent; color: #d8c0a8; text-decoration: none; }
#nav li.submenu > a, .menu-conteneur li.submenu > a { background-image: url("img/menu_down_arrow.png"); background-repeat: no-repeat; background-position: right; cursor: default; padding-right: 20px; }
#nav > ul > li, .menu-conteneur > ul > li { display: inline; float: left; margin-right: 14px; }
#nav > ul > li:last-child, .menu-conteneur > ul > li:last-child { margin-right: 0; }
#nav li ul, .menu-conteneur li ul { display: none; position: absolute; top: 98%; }
#nav li:hover > ul, .menu-conteneur li:hover > ul { display: block; }
#nav li ul li.submenu > a, .menu-conteneur li ul li.submenu > a { background-image: url("img/submenu_left_arrow.png"); background-repeat: no-repeat; background-position: right; padding-right: 10px; }
#nav li ul li.submenu > a:hover, .menu-conteneur li ul li.submenu > a:hover { background-color: #f5f5f5; }
#nav li ul li, .menu-conteneur li ul li { /*background: #fff;*/ border-bottom: 1px solid #534a42;}
#nav li ul li a:hover, .menu-conteneur li ul li a:hover { background-color: #f5f5f5; color: #d43a32; }
#nav li ul li:last-child, .menu-conteneur li ul li:last-child { border-bottom: 1px solid #2e2823; }
#nav li ul li a, .menu-conteneur li ul li a { background: #403830; line-height: 1.2; padding: 8px 25px 8px 12px; }
#nav li ul li ul, .menu-conteneur li ul li ul { top: -1px !important; left: 100% !important; padding: 0 !important; }
.ie7 #nav li ul li a, .ie7 .menu-conteneur li ul li a { line-height: 1.2; white-space: normal; width: 150px; zoom: 1; }

/* Navigation principale - Utilisation du plugin Menu */
.mnav { display: inline-block; margin: 1em 0; width: 100%; }

/* Pied de page
------------------------------------------ */
.footer .colophon { color: #74665B; }
.footer .colophon a { color: #fff; }
.footer .colophon a:hover { background-color: #74665B; }


/* Sous-navigation et autres menus
------------------------------------------ */

/* Listes d'articles et extraits introductifs */
.page_site .content .liste .liste-items small { display: block; }
.js .content .liste .liste-items li { cursor: pointer; }
.content .liste .liste-items li {
    border:1px solid #ccc; clear: both; list-style: none; margin:0 0 2em 0; padding: 2em; position: relative;
    -webkit-box-shadow: 0px 2px 1px #e8e8e8; -moz-box-shadow: 0px 2px 1px #e8e8e8; box-shadow: 0px 2px 1px #e8e8e8;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0),color-stop(rgba(246,246,246,1),0.74),color-stop(rgba(237,237,237,1),1));
    background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    background:linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
    /*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );*/
}
.content .liste .liste-items li:hover {
    background: #fff;
    -webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.page_sommaire .aside, .page_rubrique .aside { -webkit-animation: moveFromRight 500ms ease; -moz-animation: moveFromRight 500ms ease; -ms-animation: moveFromRight 500ms ease; }

.content .liste .liste-items li { -webkit-animation: smallToBig 900ms ease; -moz-animation: smallToBig 900ms  ease; -ms-animation: smallToBig 900ms  ease; }

/* Animation */
@-webkit-keyframes smallToBig { from { -webkit-transform: scale(0.1) } to { -webkit-transform: scale(1); } }
@-moz-keyframes smallToBig{ from { -moz-transform: scale(0.1); } to { -moz-transform: scale(1); } }
@-ms-keyframes smallToBig{ from { -ms-transform: scale(0.1); } to { -ms-transform: scale(1); } }

@-webkit-keyframes moveFromRight { from { -webkit-transform: translateX(100%); } to { -webkit-transform: translateX(0%); } }
@-moz-keyframes moveFromRight {from { -moz-transform: translateX(100%); } to { -moz-transform: translateX(0%); } }
@-ms-keyframes moveFromRight { from { -ms-transform: translateX(100%); } to { -ms-transform: translateX(0%); } }


/* --------------------------------------------------------------
  Pages
----------------------------------------------------------------- */

/* Page Sommaire */
.content .liste .liste-items .entry-title { margin-bottom: 1em; }
.page_sommaire .content .liste .liste-items .entry-title a { background:none!important; color: #000; display: block; font-size: 1.4em; height:100%; margin: 0; padding: 0; overflow: hidden; }
.page_sommaire .content .liste .liste-items .entry-title a:hover { background: none; color: #D93E39; }
.content .liste .liste-items .info-publi { float: left; display:inline-block; position: absolute; bottom: 25px; right: 19px; }

.page_sommaire .content .liste .liste-items .spip_logos {
    border: 1px solid #CCC; float: none; margin: 0 0 1.5em 0; padding: 5px!important; width: 100%; height: auto;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.content .liste .liste-items .entry-content { padding-bottom: 25px; }
.content .liste .liste-items .lire-la-suite {
    border: 1px solid #d3d3d3; color: #555; font-size: 12px; font-weight: bold; line-height: 12px; padding: 8px; position: absolute; left: 19px; bottom: 20px; text-shadow: 0 1px 0 rgba(255,255,255, 0.8); white-space: nowrap; z-index: 20;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
    background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
    background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
}
.content .liste .liste-items .lire-la-suite:hover {
    background: #efefef;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
}

/* Page Contact */
.page_contact .formulaire_spip { background: none; border: none; }

/* Page Plan */
.page_plan h3 { margin-left: 35px; margin-bottom: .3em; }
ul.plan { margin-left: 35px; margin-bottom: 2em; }

/* Page Rurbique */
.liste-items .spip_logos { padding-left: 1em; padding-right: 0; }

/* Page Recherche */
.page_recherche .liste-items ul.spip, .page_recherche .liste-items ol.spip { margin-left: 0; }

/* Plugin : Social Tags */
.socialtags { margin-left: -450px!important; position: absolute; top: 20px; left: 50%; }
.socialtags a:focus, .socialtags a:hover, .socialtags a:active { background-color: transparent!important; }


/* --------------------------------------------------------------
  Autres medias
----------------------------------------------------------------- */

@media print {

    pre, blockquote { page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }

    abbr[title]:after { content: " (" attr(title) ")"; }
    abbr[title].published:after { content: ""; }
    abbr[title].dtreviewed:after { content: ""; }

    /*  Ne pas imprimer */
    .spip-admin,
    .spip-admin-float,
    .spip-previsu,
    .repondre,
    .pagination,
    .spip-admin, #spip-admin,
    #hierarchie,
    .aside, .footer,
    .nav, .menu-conteneur, .mnav,
    form, .formulaire_spip { display: none; }

    /* MobileMenu Plugin - Cacher le select*/
    .mnav { display: none; }

    /* Souligner et expliciter les liens */
    a { color: #600; text-decoration: underline !important; }
    a.spip_out:after,
    a.spip_glossaire:after,
    a.spip_mail:after { display: inline; content: " [" attr(href) "]"; }
    a, a:visited { color: #222222; text-decoration: underline; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
    a.spip_out:after, a.spip_url:after { content: " (" attr(href) ")"; }

    .page, .wrapper, .content { width: auto; }
}

/* ----------------------------------------------------------------- */
@media (max-width: 900px) {
    /* Plugin : Social Tags */
    .socialtags { left: 1em; margin: 0!important; }

    /* Menu Lang */
    .header .formulaire_menu_lang { left: auto; right: 1em; margin-left: 0!important; }

    /* Navigation principale - Utilisation du plugin Menu */
    #nav > ul > li:last-child, .menu-conteneur > ul > li:last-child { margin-right: 10px; }

    /* Afficher le contenu en Plein ecran */
    .header .accueil,
    .menu-conteneur, .main, .nav,
    .footer .colophon {  overflow: visible; width: auto!important; }

    .page { margin: 0; }
    .header, .main, .footer { padding-left: 1em; padding-right: 1em; }
}

/* ----------------------------------------------------------------- */
@media (max-width: 640px) {

    body { background: white; font: 11px/1.5 Helvetica, Arial, Tahoma, sans-serif; }

    /* Passer tous les elements de largeur fixe en largeur automatique */
    body,
    .page,
    .header,
    .main,
    .footer,
    .wrapper,
    .content,
    .aside { clear: both; float: none !important; margin: auto!important; padding: auto!important; width: auto!important; }

    /* On remonte le header et on cache les icons */
    .header { background-position: -0 -26px; padding: 0; height: 120px; }
    .header .accueil { padding-top: 50px; padding-left: 10px; }
    .socialtags { display:none;}

    /* header du calendrier full-calendar */
    table.fc-header td { display: block; text-align: left; border: 1px solid red }

    /* Menu Lang */
    .header .formulaire_menu_lang label { display: none; }

    /* Pas de hauteur minimum pour les mobiles */
    .content { min-height: inherit; }

    /* fixer une largeur maximale  de 100 % aux elements potentiellement problematiques */
    img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { max-width: 100% !important; }
    /* conserver le ratio des images, necessaire car attribut height existant */
    img { height: auto; }

    /* gestion des mots longs */
    textarea, table, td, th, code, pre, samp { word-wrap: break-word; /* cesure forcee */ }
    code, pre, samp { white-space: pre-line; /* passage a la ligne specifique pour les elements a chasse fixe */ }

    .hyperlien { background-position: 5px 1.4em; padding: 1em 1em 1em 30px; }
    #hierarchie { display: none; }

    /* Listes et tableaux */
    dl.spip dt { background-position: 0 .5em; }
    dl.spip dt, dl.spip dd { padding-left: 25px; }
    ul.spip, ol.spip { margin-left: 20px; }

    /* Barre de navigation */
    #nav, .menu-conteneur { background-color:#403830; margin-bottom: 1.5em; text-align: center; top: auto; }
    #nav ul, .menu-conteneur ul { float: none; }
    #nav ul li, .menu-conteneur ul li { border-top: 1px solid #fff; width: 100%; }
    #nav ul li a, .menu-conteneur ul li a { border: none; color: #fff; display: block; float: none; padding: .3em 1em; text-decoration: none; }
    #nav ul li a:focus, .menu-conteneur ul li a:focus,
    #nav ul li a:hover, .menu-conteneur ul li a:hover,
    #nav ul li a:active, .menu-conteneur ul li a:active { background: #fff; color: #222; }

    /* Page Sommaire */
    .content .liste .liste-items .info-publi { display: compact; float: none; margin-bottom: .6em; position: relative; top: 0; right: 0; }

    .liste-items ul { margin: 0; }
    .lire-la-suite-titre { display: none; }

    .content input.text { width: 100%!important; }

    /* Habillage des forums */
    .comments-list .comment { padding-left: 0; }
    .comment-message .permalink { display: none; }
    .comment-meta .comment-author { display: block; }
    .comment-meta abbr.date { float: left; width: 100%; }

    .spip_documents_center, .spip_documents_left, .spip_documents_right  { clear: both; float: none!important; display: block; width: 100%; }

    /* Pagination */
    .pagination a, .pagination .on { font-size: .9em; margin-right: 6px; padding: 8px 12px; }

    /* Page Plan */
    .page_plan h3, ul.plan { margin-left: 0; }
}

@media screen and (max-width:640px) and (orientation: landscape) { body { -webkit-text-size-adjust: 70%; } }

@media (min-width: 480px) {
    .submit {
        position: relative; display: inline-block; width: auto; padding: 5px 1em 6px; overflow: visible; cursor: pointer;
        background: #888 url(img/varicelle-sprite.png) left top repeat-x;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        border: 0;
        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
        font-size: 100%; line-height: 1; font-weight: bold; text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    }
    .ie6.submit { background-image: none; border: none; color: #FFF !important; }

    .submit,
    .submit:visited,
    .submit * { color: #FFF; text-decoration: none; }
    .submit:hover { background-color: #777; color: #FFF; text-decoration: none; }
}