IMG {
	behavior: url("win_png.htc");
}

DIV {
	behavior: url("win_png.htc");
}
.commentaires { 
	color: #626262;
}

.auteur { 
	color: #626262;
}

.bold_just {
	font-weight: bold;
	text-align: justify;
}

.used {
	color: #626262;
	font-weight: none;
	text-align: justify;
}

.intro {
	color: #484848;
	text-align: justify;
}

.intro_grotitre {
	font-size: medium;
	font-weight: bold;
	text-align: center;
}

.intro_titre {
	font-variant: small-caps;
	font-weight: bold;
}

.habinput {
	width: 1%;
	vertical-align: middle;
}


#plaintab {
	width: 100%;
}

#subtab {
	width: 90%;
}

.hab_titre {
	height: 25px;
	padding-left: 5px;
	background-image:url(menu.png);
	background-repeat: repeat-x;
	vertical-align: middle;
}

.hab_stitre {
	height: 25px;
	padding-left: 5px;
	background-image:url(smenu.png);
	background-repeat: repeat-x;
	vertical-align: middle;
}

#hab_inputxt {
	width: 96%;
}

#hab_input {
	width: 2%;
}

#hab_inpuico {
	width: 2%;
	text-align: right;
}

#hab_moitie {
    width: 50%;
}

.cadre-padding{
	background-image:url(fond.png);
	background-repeat: repeat;
}

.hab_gros_titre{
	margin: 0px;
	padding: 0px;
	color: #fff;
}

.hab_intro {
	text-align: justify;
}

.fondo {
	background-image:url(smenu.png);
	background-repeat: repeat;
	border: 1px outset;
	height: 20px;
}

.hab_fondclair{
   	background-image:url(clair.png);
	background-repeat: repeat;
    color: #333;
}
