#simplecal-filtres { padding-left:1.5em; margin-left:0; }
#simplecal-filtres li { padding-left:0px; }
#simplecal-filtres li ul{ padding-left:2em; margin-left:0; margin-bottom:1em;}
#simplecal-filtres small { color:#555; }
#simplecal-filtres span { font-weight:bold; }
.marge-bas1 { margin-bottom:1em; }

.simplecal-formulaire-echec { border:2px solid Red; background-color:#fee; padding:5px; margin-bottom:10px; }
.simplecal-formulaire-echec  span { color:Red; font-weight:bold; }
.simplecal-formulaire-succes { border:2px solid Chartreuse; background-color:#efe; padding:5px; margin-bottom:10px; }
.simplecal-formulaire-succes span { color:Green; font-weight:bold; }

.formulaire_configurer_evenements fieldset p { margin-bottom:0px; }
.formulaire_configurer_evenements ul li { padding-left:2em; }
.formulaire_configurer_evenements label.actif { font-weight:bold; }


.simplecal-nbinrub { margin-bottom:0.5em; padding:0 0.5em 0.5em; border-bottom:1px dotted #000000; }

/* datepicker */
#ui-datepicker-div { font-size:0.7em; }

ul.simplecal-portlet { list-style-type:disc; }
ul.simplecal-portlet li { margin-left:20px; }