fieldset input.fond {
	width: 5em;
}

fieldset.regle div.possible {
  width: 25em;
  overflow: hidden;
}

fieldset.regle div.possible ul {
  margin: 0;
  list-style-type: none;
}

fieldset.regle div.possible ul li {
  float: left;
  padding-left: 1em;
  font-size: small;
  color: red;
}

fieldset.regle div.possible ul li a {
  color: green;
}