/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */

/* couleurs utilisees
 *
 * - #5ac
 * - #f9f9f9
 * - #ddd
 * - #f63
 */


/* ------------------------------------------
/* Typographie generale (style transversaux)
/* ------------------------------------------ */
html { font-size: 100%; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */
body { font-size: 0.8125em; font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif; color: #333; }

/* Titraille / Intertitres */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 { margin: 0; padding: 0; font-weight: normal; font-size: 1em; font-family: Georgia, Times, serif; }
h1,.h1 { font-size: 1.70em; color: #000; }
h2,.h2 { font-size: 1.40em; font-weight: normal; }
h2, h2 a, h2 a:focus, h2 a:hover, h2 a:active { color: #003; }
.h2, .h2 a, .h2 a:focus, .h2 a:hover, .h2 a:active { color: #003; }
h3,.h3 { font-size: 1.20em; font-weight: bold; }
h3.spip {} /* Cf.: spip_style.css */
hr.spip {} /* Cf.: spip_style.css */

/* Autres enrichissements typo */
strong { font-weight: bold; }
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Listes */
ul.spip {} /* Cf.: spip_style.css */
ol.spip {} /* Cf.: spip_style.css */
dl {}
dt {}
dd {}

/* Citations, code et poesie */
cite {}
q {}
blockquote {}
blockquote.spip {} /* Cf.: spip_style.css */
blockquote.spip_poesie {} /* Cf.: spip_style.css */
/* Cf.: spip_style.css */
.spip_code {color:#f63;}
.spip_cadre {color:#444; background-color: #fff; border: 1px solid #ddd; font-size:1em; padding:0.5em;width:90%; }
address {}

/* Tableaux */
/* Cf.: spip_style.css */
table.spip { width: 99%; }
table.spip tr.row_first { background: #5ac; color:white;}
table.spip td, table.spip th {border:white 2px solid;}

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0; }
.spip_logos {} /* Cf.: spip_style.css */
.spip_documents {} /* Cf.: spip_style.css */
.spip_documents_center {} /* Cf.: spip_style.css */
.spip_documents_left {} /* Cf.: spip_style.css */
.spip_documents_right {} /* Cf.: spip_style.css */
.spip_doc_titre {} /* Cf.: spip_style.css */
.spip_doc_descriptif {} /* Cf.: spip_style.css */


/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */
body { background: #f9f9f9; margin: 0; padding: 0; text-align: center; }

#page { position: relative; background: #fff; width: 58em; margin: 1em auto; padding:1em 2em; text-align: left; border:3px solid #ddd; }

#entete { width: 100%; margin: 0; padding-top: 1.60em; padding-bottom: 1.60em; margin-bottom:1em; border-bottom: 2px solid #5ac;}
#entete .accueil { display: block; width: 67%; }
#entete .accueil .spip_logos { vertical-align: bottom; line-height: 1em; }
#entete .accueil #nom_site_spip { vertical-align: bottom; font-size: 2.2em; font-family: Georgia, Times, serif; font-weight: normal; }
#entete .formulaire_menu_lang { position: absolute; right: 0; top: 0.90em; display: block; width: 30%; } /*Cf.: spip_formulaires.css*/

#conteneur { clear: both; overflow: hidden; }
#contenu { padding-top: 0.30em; float:left; width:65%;}

#navigation { float: right; width: 30%; margin-top: 1em; overflow: hidden; }

#pied { clear: both; width: 100%; margin: 1em 0 0 0; padding: 0.60em 0; border: 2px solid #ddd; background:#f9f9f9; text-align: center; font-size: 0.90em; }
#pied a { /*color:#666;*/ } /* ne pas utiliser de selecteur trop precis, et eviter de toucher aux liens */
#pied img { vertical-align: middle; }


/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.84em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche .info-publi { margin: 0; padding: 0; clear: left; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-size:1.1em; }
.texte { line-height: 1.60em; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }


/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
.documents_portfolio a.on .spip_logos { border-color: #f63; }
.documents_portfolio a:focus .spip_logos,
.documents_portfolio a:hover .spip_logos,
.documents_portfolio a:active .spip_logos { border-color: #5ac; }


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de navigation */

.menu { clear: both; margin-bottom: 2em; text-align: left; }
.menu p { margin: 0.20em 0; padding: 0.20em 0.10em; }
.menu-liste { margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #ddd; }
.menu-liste .menu-entree { margin: 0.20em 0; padding: 0.20em;}
.menu-liste .menu-entree .menu-liste { margin-left: 1em; border: 0; }
.menu-liste .menu-entree .menu-entree { padding: 0; border: 0; }
#nav .menu-liste .menu-entree {	display: inline;padding:0;margin:0 0 0 10px; }

#navigation .menu {background:#fcfcfc; padding:0.5em; border: 1px solid #ddd;}
#navigation .menu a {/*color:#666;*/} /* ne pas utiliser de selecteur trop precis, et eviter de toucher aux liens */
#navigation .menu-liste {border-bottom:0;}
#navigation .menu-liste .menu-entree {list-style:square; margin-left:15px; padding:0; color:#f63;}
#navigation .menu-liste .menu-entree .menu-liste {margin-left:0;}
#navigation .liste .h2 {margin-top:1em;}
#navigation .formulaire_recherche{margin-bottom:2em;}

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* Rubriques */
/*
.rubriques ul { border: 0; }
.rubriques ul li { background: #EEE; border: 0; }
*/


/* Listes d'articles et extraits introductifs */
.liste-items {margin: 0; padding: 0; list-style: none; border-bottom:0;}
.liste-items .item {list-style:square; margin-left:0; padding:2px 0; color:#f63;clear: both;overflow:hidden;}
.liste-items .item .h3 { margin: 0.30em 0; border-bottom:1px solid #5ac;}
.liste-items .item .h3 a:hover { text-decoration:none;}
.liste-items .item .info-publi {  display:block; float:right; margin-top:0.6em;}

.liste.articles .spip_logos { float: right; clear: right; margin: .8em 0 4px 16px; }
.liste .articles .item .introduction { margin-top: 0.30em; line-height: 1.40em; padding: 0.5em 0 1.5em 1em;}


/* Couleurs des liens
---------------------------------------------- */
a { color: #4ac; text-decoration: none; }
a:focus,a:hover,a:active { color: #5ac; text-decoration: underline; }
a.spip_out, a.spip_glossaire {
	color: #5ac;
	background:transparent url(img/out.gif) no-repeat scroll right center;
	padding-right:12px;
}


/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */
input, select, textarea { font-size: 100%; font-family: inherit; }


/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip { clear: both; margin-bottom: 2em; padding: 0; border: 0; text-align: left; font-size: 1em; }
.formulaire_spip form { margin: 0; padding: 0; } /* Bug IE/Win */

/* Fieldset */
.formulaire_spip fieldset { clear: both; margin: 0 0 1em 0; padding: 0; border: 0; }
.formulaire_spip fieldset legend { margin: 0; padding: 0; font-size: 1.05em; font-weight: bold; background-color: #fff; color: #333; } /* Preciser la couleur des legend et du fond pour IE/Win */
.formulaire_spip fieldset fieldset { margin-top: 1em; }
.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

/* Explications */
.formulaire_spip .explication { margin: 0.50em 0; color: #444; }

/* Lignes */
.formulaire_spip ul { margin: 0; padding: 0; list-style: none; }
.formulaire_spip ul li { clear: both; margin: 0; padding: 0.50em 0; }

/* Labels */
.formulaire_spip label { display: block; text-align: left; color: #444; font-weight: bold; /* pour IE/Win */ position: relative;  }
.formulaire_spip li p { margin-top: 0; margin-bottom: 0; }

.formulaire_spip .choix label{display:inline;font-weight:normal;}
.formulaire_spip .choix input.radio,
.formulaire_spip .choix input.checkbox {width:auto;}


/* Champs de saisie */
.formulaire_spip input.text { width: 15em; border: 1px inset; }
.formulaire_spip textarea { width: 99%; border: 1px inset; }
.formulaire_spip select { width: 99%; }

/* Boutons */
.formulaire_spip .boutons { clear: both; margin: 0; padding: 0; text-align: right; }
.formulaire_spip .boutons input { margin-left: 1em; }
.formulaire_spip .boutons input, input.submit {}


/* Reponses, previsu et erreurs
----------------------------------------------- */

/* Champs obligatoires */
.formulaire_spip li.obligatoire {}
.formulaire_spip li.obligatoire label {}

/* Previsualisation du message */
.formulaire_spip fieldset.previsu { margin-bottom: 2em; padding: 1em; border: 2px dashed #F57900; }
.formulaire_spip fieldset.previsu legend { padding: 0 0.50em; font-weight: bold; color: #F57900; }
.formulaire_spip fieldset.previsu li { padding: 3px; border: none; }
.formulaire_spip fieldset.previsu p { margin: 1em 0; } 

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; font-size: 1.20em; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }
fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend et du fond pour IE/Win */

/* * Erreurs */
.formulaire_spip li.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea { background-color: #FCC; border-style: solid; border-color: #C30; }
.reponse_formulaire_erreur { margin: 0; color: #C30; font-weight: bold; }

/* * OK */
.reponse_formulaire_ok { margin: 0; color: #53AD20; font-weight: bold; }


/* Variantes et cas particuliers
----------------------------------------------- */

/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }
table.spip_barre a img { background: #FDA; padding: 3px; border: 1px outset #CC9; }
table.spip_barre a:focus img,
table.spip_barre a:hover img,
table.spip_barre a:active img { background: #FFF; border: 1px solid #CC9; }
table.spip_barre input.barre { width: 99%; background: transparent; border: 0; }

/* Formulaire de forum */
.formulaire_forum .saisie_titre input.text, .formulaire_forum .saisie_titre textarea { width: 98%; }
.forum .ancre {float:left; margin-right:0.5em;}
.forum .spip_logos {float:right; margin: 0 2px 4px 10px;}

/* Selection des langues */
.formulaire_menu_lang { padding: 0; background: none; }

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche { margin: 0; padding: 0; background: none; }
.formulaire_recherche * { display: inline; vertical-align: middle; }
.formulaire_recherche label {}
.formulaire_recherche input.text { width: 10em; padding-left: 25px; background: #FFF url(rechercher.gif) no-repeat left center; }
.formulaire_recherche input.submit {}


/* Choix des mots-clefs */
ul.choix_mots { display: block; margin: 0; padding: 0; list-style: none; }
ul.choix_mots li { clear: none; float: left; display: block; width: 30%; padding: 1%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

.formulaire_spip .bugajaxie { display: none; } /* Bug IE/Win */

/* Formulaire de login dans une page */
.formulaire_login ul li {clear:left;}
.formulaire_login .editer_password .details {display:block;}
.formulaire_login #spip_logo_auteur {float:right;}
