	body {background:#333;color:#ccc;margin:0;padding:0;font-family: Verdana,Helvetica,Arial;font-size:0.76em;text-align: center;}

	.wrap {width:760px;margin:0 auto;text-align: left;padding:20px;}
	#header {background:#222;height:128px;border-bottom:5px solid #444;}
	#header h1 {float:left;}
	#header h1 a {color:#ccc;}
	#header .logo {float:right;}
	#content {padding-bottom: 40px;}
	h2,h3 {margin-top:2em;}
	#content p a {color:#EEE;}

	table {border:1px solid #999;font-size:0.9em;border-collapse: collapse;}
	table th {background: #444;}
	table td,table th {border:1px solid #999;padding:5px;min-width:150px;}

	.treemapCell {background-color:#FF6600}
	.treemapHead {background-color:#B34700}
	.treemapCell.selected, .treemapCell.selected .treemapCell.selected {background-color:#FF8C3F !important;}
	.treemapCell.selected .treemapCell {background-color:#FF9900}
	.treemapCell.selected .treemapHead {background-color:#B36B00}
	.transfer {border:1px solid black}