html {
	overflow-y: scroll;
}
body {
	background: url(img/bg-paper.jpg) repeat ;
	color:#121212;
}
#canvas {
	background:transparent url(img/header-design.jpg) top right no-repeat;
	margin: 0 auto;
	padding:40px;
	width:920px;
}
#header{
	margin: 0 auto 10px;
}
#primary-content {
	clear:both;
 	float: left;
	margin: 10px 0 0;
	padding: 0 15px;
	width: 640px;
}
#secondary-content {
	background:#e2dbd1;
	border: 15px solid #d1bfa6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius:6px;
	float: left;
	margin: 60px 0 0;
	padding:20px;
	width: 178px;
}
#footer {
	clear: both;
	font-size: 80%;
	padding-top:100px;
	text-align:center;
}
