/* Habillage des forums
---------------------------------------------- */
/*
	Configuration
font:100%/1.4em Georgia,"Times New Roman",Times,serif;
color:#121212;
*/
.typo_standard {
  /* Configuration */

  font-size: /*@font-size*/ 1em;
  font-family: /*@font-family*/ Georgia, "Times New Roman", Times, serif;
  text-indent: /*@text-indent*/ 50px;
  line-height: /*@line-height*/ 1.4em;
  margin-bottom: /*@margin-bottom*/ 1.4em;
  color: /*@color*/ #121212;
  background-color: /*@background-color*/ #ffffff;
}
.typo_mono {
  font-family: /*@font-family-mono*/ 'andale mono', 'lucida console', monospace;
  line-height: /*@line-height-mono*/ 1.4em;
  font-size: /*@font-size-mono*/ 1em;
}
/* * Habillage des forums */
.comments {
  margin-bottom: /*@margin-bottom*/ 1.4em;
}
/* comments list */
.comments-items {
  border-bottom: 1px solid #eee;
}
.comments-items .comments-items {
  margin-left: /*@text-indent*/ 50px;
  border-bottom: 0;
}
.comments-items .comments-items .comments-items .comments-items {
  margin-left: /*@demi-text-indent*/ 25px;
  border-bottom: 0;
}
.comments-items .comment-item {
  border-top: 1px solid #eee;
}
.comments-items .comment-item .comment-item {
  border-top: 0;
}
.comment {
  overflow: hidden;
}
.comment-meta {
  background: #eee;
  padding: /*@demi-margin-bottom*/ 0.7em;
  padding-right: /*@margin-bottom*/ 1.4em;
  position: relative;
  margin: 0;
}
.comment-item .comment-item .comment-meta {
  background: #f4f4f4;
}
.comment-meta .spip_logos {
  margin-bottom: 0;
}
.comment-meta .permalink {
  position: absolute;
  right: 0;
  font-size: 2em;
  color: #ccc;
}
.comment-meta .forum-titre {
  display: block;
}
.comment-content {
  background: transparent;
  padding: /*@demi-margin-bottom*/ 0.7em;
  max-height: 60em;
  overflow: auto;
  overflow-x: none;
}
.comment-reply {
  clear: both;
  text-align: right;
  font-weight: bold;
  margin-bottom: 0;
}
/* en thread */
.comments-thread .comment-item {
  margin-bottom: /*@margin-bottom*/ 1.4em;
  border-left: 1px solid #eee;
}
.comments-thread .comment-item .comment-item {
  margin-bottom: 0;
  border-left: 0;
}
.comments-thread .permalink.in-reply-to {
  bottom: 0;
}
/* avec plugin comments */
.comment-meta .permalink.picto {
  font-size: 1em;
  right: /*@demi-margin-bottom*/ 0.7em;
}
.comment {
  position: relative;
}
.comment .spip-admin {
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}
.comment:hover .spip-admin {
  visibility: visible;
}
/* en list avec plugin comments */
.comment-meta .item {
  display: block;
}
