/* Portfolio */
/*
	Configuration
font:100%/1.4em Georgia,"Times New Roman",Times,serif;
color:#121212;
*/
.typo_standard {
  /* Configuration */

  font-size: /*@font-size*/ 1em;
  font-family: /*@font-family*/ Georgia, "Times New Roman", Times, serif;
  text-indent: /*@text-indent*/ 50px;
  line-height: /*@line-height*/ 1.4em;
  margin-bottom: /*@margin-bottom*/ 1.4em;
  color: /*@color*/ #121212;
  background-color: /*@background-color*/ #ffffff;
}
.typo_mono {
  font-family: /*@font-family-mono*/ 'andale mono', 'lucida console', monospace;
  line-height: /*@line-height-mono*/ 1.4em;
  font-size: /*@font-size-mono*/ 1em;
}
.documents_portfolio {
  clear: both;
  margin: /*@margin-bottom*/ 1.4em auto;
  text-align: center;
}
.documents_portfolio .spip_logos {
  margin: 6px 3px 0 3px;
  border: 4px solid #DDD;
}
.documents_portfolio a.on .spip_logos {
  border-color: #222;
}
.documents_portfolio a:focus .spip_logos, .documents_portfolio a:hover .spip_logos, .documents_portfolio a:active .spip_logos {
  border-color: #444;
}
