@import "bootstrap/css/layouts.less";
@import "css/layoutgala/34";
@import "css/layoutgala/27";

// on passe en grille etroite par defaut
body {text-align: center;}
#grid > .core(@gridColumnWidth768, @gridGutterWidth768);
#layoutgala34 > .core(9,3,3,@gridColumnWidth768,@gridGutterWidth768);
.page {
  margin: 0 auto;
  width: (@gridColumnWidth768 * 12) + (@gridGutterWidth768 * (12 + 1));
  max-width: 100%;
  text-align: left;
}

@media (min-width: 1200px) {
  .page {
    #grid > .core(@gridColumnWidth768, @gridGutterWidth768);
    #layoutgala34 > .core(9,3,3,@gridColumnWidth768,@gridGutterWidth768);
  }
}

@media (max-width: 767px) {
  #layoutgala27 > .core(100%,47.5%,47.5%,@gridColumnWidth768,@gridGutterWidth768);
  html>body {padding: 0}
  .page {padding: 0 @gridGutterWidth768;width:auto;}
}

@media (max-width: 450px) {
  #aside {float:none;width:100%;}
  #extra {float:none;width:100%;}
}

#footer {text-align: center; margin-top: 4em;padding: 4em 0;}

