@import "css/variables.less";
@import "css/mixins.less";

.header { margin-bottom: 2*@baseLineHeight;}
#slogan_site_spip {display: block;}

[class^="icon-"], [class*=" icon-"] {opacity: 0.5;filter: ~"alpha(opacity=50)";}

.formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.hero-unit h1 {font-size: @baseFontSize * 2.75;line-height: 2*@baseLineHeight;}
.hero-unit {
  p [class^="icon-"], p [class*=" icon-"] {margin-top: 4px;}
  padding: 2*@baseLineHeight;
}

.breadcrumb {
  background-color: @grayLighter;
}

.minicalendar > h2 {display: none;}
.categories.well {padding-left: 0;padding-right: 0;}

.content {
  article,section {
    .cartouche,.main,footer,aside {.clearfix}
  }
  .liste .info-publi {display: block;}
  .meta-publi .tags {ul,li {display: inline;}}
}
.page_auteur .liste.articles .info-publi .auteurs {display: none;}


// home
.page_sommaire {
  .breadcrumb {display: none;}

  .liste.long.articles {
  h2 {display: none;}
  }
}

// rubrique
.page_rubrique {
}

// tag
.page_mot .content h1 {
  font-size: @baseLineHeight;
  line-height: @baseLineHeight;
  .label{
    font-size: @baseLineHeight;
    line-height: @baseLineHeight;
    [class^="icon-"], [class*=" icon-"] {margin-top: 6px;}
  }
}

// plan
.page_plan,.page_archives {
  .liste-items.short.articles {
    .entry-title {font-weight: normal;}
    .info-publi {display: inline;margin-bottom: 0;color:@grayLight;}
    .auteurs {display: none;}
  }
}

.comment-item {
  .comment-meta {
    .item {display: none;}
  }
}
