.ahah_searching_left{
	float:left;
	width:13px;
	height:13px;
	background: url(searching.gif) top left no-repeat;
}
.ahah_searching_right{
	float:right;
	width:13px;
	height:13px;
	background: url(searching.gif) top left no-repeat;
}
.ahah_surligne_1 { background: #FFC; }
.ahah_surligne_2 { background: #FFD; }
.ahah_surligne_3 { background: #FFE; }