/*
Template Design by TheWebhub.com
http://www.thewebhub.com
Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines
*/

/** Common Styles */

body {
	margin: 30px 0 20px 0;
	padding: 0;
	background: #D7D7BD;
	text-align: justify;
	line-height: 25px;
	font: 11px/165% 'Lucida Grande', Verdana, Helvetica, sans-serif;
	color: #3C3C37;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	text-transform: lowercase;
	color: #005880;
}

p, ul, ol {
	margin-bottom: 1.5em;
}

ul {
	margin: 0px;
	padding: 0;
}

/*  ------------------------------------------
/* 	Typographie generale (style transversaux)
/*  ------------------------------------------ */

/* Couleurs des liens */

a:link, a:visited { 
	text-decoration: none;
	color: #005880;	
}
a:hover {
	border-bottom: 1px dotted #005880;	
}
a.more-link {
	padding-bottom: 2px;
	font-weight: bold;	
	border-bottom: 1px dotted #005880;	
}
a:hover.more-link {
	text-decoration: none;
}

/* Titraille / Intertitres */
h1,.h1, h2,.h2, h3,.h3, h4,.h4 {
	font: bold 1em/1.5em Georgia, 'Times New Roman', Times, serif;
	color: #005880;
	padding: 10px 0px 7px;
}
h1,.h1 { font-size: 3.7em; font-weight: normal; letter-spacing: -2px; }
h2,.h2 { font-size: 2.8em; font-weight: normal; color: #005880; }
h3,.h3 { font-size: 2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px}
h4,.h4 { font-size: 1.3em; }
h3.spip {} /*Cf.: spip_style.css*/

/* Divers */
hr.spip {} /*Cf.: spip_style.css*/
abbr,acronym {
  cursor: help;
  border-bottom: 1px dotted #005880;
}

.small { font-size: 0.90em; color: #005880; }

/* Listes SPIP */
ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }

dt {
  font-weight: bold;
  color: #005880;
}
dd {
  padding-left: 25px; 
}

p, dl { padding: 10px 0px; }
ul.spip {} /*Cf.: spip_style.css*/
ol.spip {} /*Cf.: spip_style.css*/

/* Citations, code et poesie */
blockquote.spip {} /*Cf.: spip_style.css*/
blockquote.spip {
	margin: 10px;
	padding: 10px;
	padding-left:32px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(img/quote.gif) no-repeat 12px 12px;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
}
blockquote.spip_poesie {	margin: 10px;
	padding: 10px;
	padding-left:32px;
	border: 1px solid #F0F0F0;
	background: #f8f8f8 url(img/quote.gif) no-repeat 12px 12px;
	font-weight: normal;
	font-size: 15px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
} /*Cf.: spip_style.css*/

.spip_code {} /*Cf.: spip_style.css*/
.spip_code {
	margin: 3px 0;
	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;
	/* white-space: pre; */
}
.spip_cadre {
	margin: 3px 0;
	padding: 15px;
	text-align: left;
	display: block;
	overflow: auto;  
	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;
	/* white-space: pre; */
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
	width:90%;
} /*Cf.: spip_style.css*/

/* Tableaux */

caption {
	margin: 10px;
}
table.spip {} /*Cf.: spip_style.css*/
table.spip {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
}
table.spip tr { background: #fff; }
table.spip tr.row_odd { background: #F9F9F9;	}
table.spip th,table.spip td {
	text-align: left;			
	border-width: 1px;
	border-style: solid;
}
table.spip th {
	color: #ffffff;
	background: #005880;
	padding: .8em 1em;	
	border-color: #EFEFEF;
}
table.spip td {
	border-color: #EFEFEF;	
	padding: .7em 1em;	
}

	
/* end - table */

/* Logos, documents et images */
.spip_logos {} /*Cf.: spip_style.css*/
.spip_documents {} /*Cf.: spip_style.css*/
.spip_documents_center {} /*Cf.: spip_style.css*/
.spip_documents_left {} /*Cf.: spip_style.css*/
.spip_documents_right {} /*Cf.: spip_style.css*/
.spip_doc_titre {} /*Cf.: spip_style.css*/
.spip_doc_descriptif {} /*Cf.: spip_style.css*/
/* Images */
.spip_documents img,.spip_logos img {
	background: #FAFAFA;
   border: 1px solid #DCDCDC;
	padding: 8px;
}
.spip_documents_left {
  	margin: 5px 0px 10px;  
  	margin-right: 26px;
}
.spip_documents_right {
  	margin: 5px 0px 10px;
  	margin-left: 10px;
  	margin-right: 16px;
}



/** Style de la div entete */

#entete {
	width: 800px;
	height: 250px;
	margin: 0px auto;
	background: url(img/building.jpg) no-repeat left top;
}

#entete .accueil {
	margin-top: 0px;
	padding-top: 50px;
	font-weight: normal;
	
	
}

#entete .accueil #nom_site_spip {
	padding: 0px 0px 10px 50px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
}

#entete .accueil #nom_site_spip a {
color: #000000;
text-decoration: none;
border-bottom: 0px;
}

#entete #slogan_site_spip {
	margin-top: 10px;
	padding: 0px 0px 10px 50px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#entete .accueil img.spip_logos { 	
	float: left;
	margin-top: 0px;
	margin-left: 20px;

}

#entete .formulaire_menu_lang {
	width: 150px;
	float: right;
	margin-right: 0px;
	margin-bottom: 20px;
	color: #000000;
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
}

#entete .formulaire_menu_lang label {
	text-align: center;
}

/** Style de la div nav */

#nav {
	width: 800px;
	height: 50px;
	margin: 0px auto;
	background: #000000;
	overflow: hidden;
}

#nav ul.menu-liste {
	margin: 0px;
	padding: 0 0 0 20px;
	list-style: none;
}

#nav ul.menu-liste li.menu-entree {
	display: inline;
}

#nav ul.menu-liste li.menu-entree a  {
	display: block;
	float: left;
	padding: 14px 30px 10px 12px;
	text-decoration: none;
	color: #FFFFFF;
}

#nav ul.menu-liste li.on  {
	color: #D7D7BD;
}

#nav ul.menu-liste li.menu-entree a:hover  {
	color: #D7D7BD;
}

#nav .menu-entree .menu-liste{
display:none;
}

/** Style de la div page */

#page {
	width: 800px;
	margin: 0px auto;
	background: #FFFFFF;
	padding: 20px;
}

/** Style de la div conteneur */

#conteneur {
	width: 800px;
	margin: 0px auto;
	padding-top: 25px;
}

#conteneur h2 {
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: normal;
	border-bottom: 1px #CCCCCC dashed;
}

#conteneur h3 {
	font-size: 1.6em;
	font-weight: normal;
	border-bottom: 1px #CCCCCC dashed;
}

#conteneur p {
}

/* Style de la div contenu */

#contenu {
	float: left;
	width: 480px;
	padding-left: 20px;
	margin-bottom: 20px;
}

#descriptif_site_spip {
	color:#000000;
	font-family:Georgia,'Times New Roman',Times,Serif;
	font-size:17px;
	font-style:italic;
	font-weight:normal;
	letter-spacing:-0.5px;
	line-height:1.6em;
	margin:0pt;
	padding : 0 ;
}

#contenu ul.liste-items {
	margin: 0px;
	padding: 0;
	list-style: none;
}

#contenu li.item {
	margin-bottom: 10px;
	padding-left: 0px;
	line-height: 17px;
}

#contenu .h2 {
	text-align: left;
	clear: both;
	margin-bottom: 20px;
}

#contenu .h3 {
	text-align: left;
	clear: both;
}

#contenu .entry-title{
	clear:none;
}

.spip_logos { 	
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;

}

/* éléments de contenu */

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos {float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #005880; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #005880; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
.documents_portfolio a:hover .spip_logos { border-color: #F57900; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }

/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
/*
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords * /
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum * /
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }
*/


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}


/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* style de la div navigation */

#navigation {
	float: right;
	width: 240px;
	margin-bottom: 20px;
	padding-right: 20px;
}


#navigation ul {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}

#navigation li {
	padding-left: 10px;
}

.formulaire_recherche {
	margin-top: 10px;
}

.formulaire_inscription {
	margin-top: 10px;
}

#nom_inscription {
	width: 100%;
} 

#mail_inscription {
	width: 100%;
} 

#navigation .explication {
	text-align: justify;}

#navigation legend {
	text-transform: uppercase;
	color: #005880;
}


/** Style de la div pied*/

#pied {
	clear: both;
	width: 800px;
	height: 42px;
	margin: 0px auto;
	padding-top: 13px;
	background: #000000;
	text-transform: uppercase;
	font-size: 10px;
	color: #E5E5CC;
	text-align: center;
}

#pied .copyright {
	float: left;
	margin: 0px;
	padding-left: 20px;
	text-align: center;
}

#pied .links {
	float: right;
	margin: 0px;
	padding-right: 20px;
	text-align: center;
}


#pied a {
	color: #E5E5CC;
}


