body { font-family: Verdana, Geneva, Sans, sans-serif; font-size: 0.9em; color: #2e3436; background: #babdb6 url(images/minipres-gris.png) no-repeat scroll 97% 100px;
}

h1 { margin: 1em 0 1em 0; font-size: 1.2em; font-weigth: bold; color: #5c3566; }
h2 { margin: 0.8em 0 0.8em 0; font-size: 1.1em; font-weigth: normal; }

a { color: #8ae234; text-decoration: none; }
a:visited { color: #75507b; }
a:active { color: #8ae234; }

img { border: 0; }

ul { text-align: justify; list-style-type: none; }

fieldset, .fieldset { text-align: left; padding: 0; border: 0; margin-top: 1em; font-size: 0.9em; }
legend { font-weight: bold; font-size: 1.1em; color: #000; }
label {}

body.minipres fieldset, body.minipres .fieldset  {
	border: 1px solid #cccccc;
	padding: 10px;
	font-family: helvetica, arial, sans;

}

#minipres { width: 40em; background: #FFF repeat; margin: 1em auto; padding: 1em; border: 1px solid #888; text-align: center; }

.pass #minipres { width: 90%; }

.petit-centre { font-family: Verdana, Geneva, Sans, sans-serif; font-size: 1em; }
.petit-centre p { text-align: center; }

.suivant { display: block; margin-top: 1em; text-align: right; }

.toile_foncee { background: #777; }

.fondl { background-color: #eee; background-position: center bottom; padding: 3px; border: 1px solid #333; font-size: 0.9em; font-family: Verdana, Geneva, Sans, sans-serif; }
.formo { width: 100%; display: block; background-color: #FFF; background-position: center bottom; margin-bottom: 1em; padding: 3px; border: 1px solid #333; behavior: url(win_width.htc); font-size: 1em; font-family: Verdana, Geneva, Sans, sans-serif; }

p.resultat { background-color: #fcaf3e; padding: 0.2em 0.1em;  text-align: center; color: #FFF; font-weight: bold; }
p.resultat.ok {background-color:#73d216;}
p.resultat.echec {background-color:#d60c0c;}

#etapes { display: block; position: absolute; top: 10px; left: 10px; }
#etapes span { margin-top: -0.5em; display: block; padding: 12px 14px; margin-bottom: 5px; }
#etapes span em { font-size: 2em; font-weight: bold; }
#etapes span span { position: absolute; top: -100px; left: -100px; }
#etapes span.ok { background: url(images/etape-ok.gif) center no-repeat; }
#etapes span.encours { background: url(images/etape-encours.gif) center no-repeat; }
#etapes span.todo { background: url(images/etape-todo.gif) center no-repeat; }

.nettoyeur { clear: both; height: 0; line-height: 0; font-size: 0; margin: 0; padding: 0; }


#infos_etapes {
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 63px;
	overflow: hidden;
	text-align: left;
	font-family: helvetica, arial, sans;
	list-style-type:none;
}

#infos_etapes li {
	float: left; 
	width: 9.0em;
	padding-left: 2.5em;
	padding-right: 20px;
	padding-top: 10px;
	height: 69px;
	text-align: left;
	font-size: 0.85em;
	line-height: 1.05em;
	margin-left: -17px;
}
#infos_etapes li span.numero_etape {
	font-weight: bold;
	font-size: 36px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 7px;
	margin-left:-10px;
	float: left;
	display: block;
	height: 50px;
	font-family: helvetica, arial, sans;
}
#infos_etapes li.encours {
	background:#C89537 url(../prive/images/degrade-etapes-fonce-left.gif) top left;
	color: white;
	font-weight: bold;
}
#infos_etapes li.prochains {
	background:#BABABA url(../prive/images/degrade-etapes-clair-left.gif) top left;
	color: #666666;
}
#infos_etapes li.valides {
	background:#78E04B url(../prive/images/degrade-etapes-vert-left.gif) top left;
	color: #128f02;
}
#infos_etapes li.erreur {
	background:#E24E38 url(../prive/images/degrade-etapes-rouge-left.gif) top left;
	color: white;
}
