.formulaire_spip.formulaire_ajax_nav_config strong {
    padding-left: 10px;
}

.formulaire_spip.formulaire_ajax_nav_config li {
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 10px;
}
