/*
    Notepaper - Style for Wordpress
    by Gary Rogers (gary.rogers@dmin.net)
    
    Licensed under the Creative Commons License
    (http://creativecommons.org/licenses/by/2.0/)
    
 ** NOTE **
Not all Styles are used here, but they all exist in Alex's sample page, so they remain for reference.
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: Cochin, "Times New Roman", Times, serif;
    font-size: small;
	background: repeat-y center url(images/body.jpg);
}

blockquote {
    margin-left: 0px;
    color: #444;
	padding-left: 20px;
	background: no-repeat url(images/blockquote.png);
}

a img {
    border: none;
}

code {
    font-family: Monaco, 'Courier New', Courier, monospace;
    font-size: small;
    color: #666;
}

h2 {
    text-align: right;
    border-bottom: 1px solid;
	padding: 2px;
	font: 80% "Times New Roman", Times;
}

#rap {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
	border: black inherit solid 1px;
	padding-left: 15px;
	padding-right: 15px;
	background: url(images/header.jpg) no-repeat;
	border-top: 1px solid white;
}

#header {
	background: none;
	margin-left: 215px;
	margin-top: 39px;
	padding-bottom: 15px;
	padding-top: 50px;
	font-size: xx-large;
	font-style: italic;
}

#header a {
    text-decoration: none;
	color: black;
}

#content {
    width: 520px;
	padding-left: 210px;
}

.post {
	background: url(images/post.gif) repeat;
	padding: 4px;
	text-align: justify;
}

.storytitle {
    font-size: normal;
    margin: 0px;
    margin-bottom: 2px;
	font-style: italic;
}

.storytitle a {
	text-decoration: none;
	color: #000000;
}

.meta {
    margin: 0px;
    margin-bottom: 2px;
	font: 80% "Times New Roman", Times;
}

.meta ul {
    display: inline;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.meta li {
    display: inline;
}

.post-categories {
    font-style: italic;
}

.storycontent {

}

.storycontent img {
    margin-right: 15px;
}

.feedback {
    text-align: right;
    margin-bottom: 20px;
	font: 80% "Times New Roman", Times;
}

/*<group=Menus>*/

#menu {
    position: absolute;
    top: 140px;
    margin-left: 45px; 
    width: 140px;
	font: 80% "Times New Roman", Times;
}

#menu a img {
    padding: 3px;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    font-weight: bold;
    margin-top: 10px;
}

#menu ul li p {
    font-weight: normal;
}

#menu ul li ul {
    font-weight: normal;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 10px;
}

#menu ul li ul li {
    text-indent: 0px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

#wordpress {
    font-style: normal;
}

#categories {
    text-indent: 20px;
    padding-bottom: 3px;
    margin: 0px;
	position: absolute;
	left: 140px;
	top: -80px;
	width: 500px;
}

#categories ul {
    list-style: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}

#categories li {
    display: inline;
}

#categories li a {
    text-decoration: none;
	border-top: 3px solid #EEE;
}

#categories li a:hover {
    border-top: solid 3px #AAA;
}

#search {

}

#archives {

}

#calendar {
    font-weight: normal;
    text-align: center;
}

#wp-calendar {
    font-weight: normal;
}
	
/*</group>*/

#prev {

}

#pad {

}

#today {
    background: #CCC;
}

#other {

}

#style {

}

.credit {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-top: 10px;
	font: 80% "Times New Roman", Times;
}