/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	background: #468;
	margin: 1.5em;
	text-align: center;
	font-size: 1em;
	color: #FFF;
}

img, table { margin: 0; padding: 0; border: none; }
ul, ol, li { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
	width: 48em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#conteneur { width: 100%; }

#conteneur #contenu {
	float: left;
	width: 33em;
}

#conteneur #navigation {
	float: right;
	width: 14em;
	text-align: center;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	width: 21em;
}

#contenu .encart {
	float: right;
	width: 11em;
	margin: 0;
	margin-bottom: 1em;
}

/* Entete */
#entete {
	width: 100%;
	border-bottom: 2px solid #333; }
#entete #nom_site_spip, #entete a .spip_logos {
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1.5em; }
#entete a { text-decoration: none; }
#entete .formulaire_recherche { float: right; }

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	margin-bottom: 2em;
	font-size: 0.77em; }

/* Pied de page */
#pied {
	clear: both;
	width: 100%;
	margin-top: 4em;
	border-top: 1px dotted #CCC;
	padding: 2px;
	text-align: center; }
#pied small { font-size: 0.77em; }
#pied img { vertical-align: bottom; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip {
	font-family: Verdana, "Bitstream Vera Sans", Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip, .voirskel {
	font-family: "Bitstream Vera Serif", Georgia, Times, serif; }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

.encart div, #navigation div {
	border: 1px solid #000;
	background: #000;
	color: #000;
}

.encart div.fragment, #navigation div.fragment {
	border: 0;
	margin: 0;
	padding: 0;
}

.encart h2, #navigation h2 {
	margin-bottom: 1px;
}

.encart form, #navigation form,
.encart ul, #navigation ul {
	text-align: left;
	display: block;
	list-style: none outside none;
	margin: 0px;
	padding: 1px 2px 1px 2px;
	width: auto
}

.encart li, #navigation li {
	display: block;
	list-style: none outside none;
	margin: 0px;
	padding: 1px 0px 1px 0px;
	width: auto
}

#navigation a,
#navigation a:link,
#navigation a:visited {
	display: block;
	outline: none;
	padding: 2px;
	text-decoration: none;
	width: auto
}

#navigation a>img, #navigation a:link>img, #navigation a:visited>img {
	outline: none;
/*	-moz-outline: none; */
}

#navigation a:hover {
	display: block;
	outline: none;
	padding: 2px;
	text-decoration: none;
	width: auto
}

#navigation a:active, #navigation a:focus {
	display: block;
	margin: 0;
	outline: none;
	padding: 1px 0px 0px 1px;
	text-decoration: none;
	width: auto;
}

#navigation .on {
	background: #999;
	border-bottom: 1px solid #EEE;
	border-left: 2px solid #666;
	border-right: 1px solid #EEE;
	border-top: 2px solid #666;
	color: #000;
	cursor: default;
	display: block;
	margin: 1px 0px 1px 0px;
	padding: 1px;
	width: auto
}

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	margin-bottom: 1em;
	font-size: 0.71em;
}

.menu-titre {
	padding: 0.2em 0.4em;
	text-align: center;
	font-weight: bold;
}

#navigation p, .encart p { margin: 0; padding: 0; text-align: left;  }
/*#navigation ul, .encart ul { padding: 0.2em 0; text-align: left; }*/
/*#navigation li, .encart li { padding: 0 0.7em; }*/

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques .menu-titre,.rubriques ul { 
	background: #DDD;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #FFF;
	border-right: 1px solid #BBB;
	border-top: 1px solid #FFF;
	color: #000;
}

.rubriques a,
.rubriques a:link,
.rubriques a:visited {
	background: #CCC;
	color: #000;
}

.rubriques a:hover {
	background: #8AC;
	color: #000;
}

.rubriques a:active, .rubriques a:focus {
	background: #999;
	border-bottom: 1px solid #EEE;
	border-left: 2px solid #666;
	border-right: 1px solid #EEE;
	border-top: 2px solid #666;
	color: #000;
}

.breves .menu-titre, .breves ul, .breves p {
	background: #FAEBD7;
	border-bottom: 1px solid #DACBB7;
	border-left: 1px solid #FFF;
	border-right: 1px solid #DACBB7;
	border-top: 1px solid #FFF;
	color: #000; }

.syndic .menu-titre, .syndic ul, .syndic p {
	background: #BE4636;
	border-bottom: 1px solid #9E2616;
	border-left: 1px solid #DE6656;
	border-right: 1px solid #9E2616;
	border-top: 1px solid #DE6656;
	color: #fff; }

.forums .menu-titre, .forums ul, .forums p {
	background: #F2F2FF;
	border-bottom: 1px solid #EAEAFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #EAEAFF;
	border-top: 1px solid #FFF;
	color: #000;
}

.divers { background: #F8F8E8; }
.divers .menu-titre { background: #FCFCF0; }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin-bottom: 2em; }

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: #000; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	line-height: 1.4em; }

.lien {
	background: #EEE;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 0.82em;
	border: 1px solid #CCC;
	font-size: 0.82em;
	font-weight: bold; }

.texte {
	font-size: 0.96em;
}

.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */

.liste-articles {
	border: 1px solid #000;
	background: #000;
	color: #fff;
	margin-bottom: 1em;}

.liste-articles ul {
	border-bottom: 1px solid #468;
	border-left: 1px solid #8AC;
	border-right: 1px solid #468;
	border-top: 1px solid #8AC;
	color: #000; }

.liste-articles li {
	background: #68A;
	border-top: 1px solid #8AC;
	border-bottom: 1px solid #468;
	margin-top: 1px;
	clear: both; }

.liste-articles li:first-child {
	border-top: 0;
	margin-top: 0; }

.liste-articles li .titre {
padding: 0 0.3em;
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles a{ color: #fff; }

.liste-articles a:hover{
color: #8ac;
text-decoration: none; }

.liste-articles li .spip_logos { display:none; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
padding: 0 0.3em;
color: #fff;
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	background: #E0E0E0;
	border-bottom: 1px solid #8ac;
	border-left: 1px solid #333;
	border-right: 1px solid #8ac;
	border-top: 1px solid #333;
	color: #000;
	margin: 0 0.1em;
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em;
}

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: none; }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-left: 1em;
	margin-bottom: 1em;
	list-style: square; }
.page_plan #contenu .contre-encart li { list-style: inherit; }

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

/* Correction des styles HTML par defaut */
.formulaire_spip form, .formulaire_spip fieldset, .formulaire_spip legend, .formulaire_spip label, .formulaire_spip input, .formulaire_spip textarea, .formulaire_spip select, .formulaire_spip option { margin: 0; padding: 0; border: none; background: none; }

/* Styles des formulaires de Spip */
.formulaire_spip {
	text-align: left;
	font-size: 0.71em;
}

.formulaire_spip p {
	margin: 0.5em 0;
	padding: 0; }

.formulaire_spip fieldset {
    display: block;
}
.formulaire_spip legend { 
    display: block;
	font-weight: bold; 
	background: #DDD; /* Sinon, superposition dans MSIE */
}

.formulaire_spip label {}
.formulaire_spip .forml {
	width: 99%;
	padding: 1px;
	border: 1px inset;
	font-family: inherit;
	font-size: inherit; }

.spip_bouton { text-align: right; }
.spip_bouton input {
	margin: 3px 0;
	padding: 1px 2px;
	border: 2px outset;
	font-weight: bold;
	float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #F00; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu {
	padding: 1em;
	border: 1px solid; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
.choix_mots { width: 47%; float: left; } 
.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { text-align: left; width: 12em; }
.formulaire_recherche label { display: none; }

.formulaire_inscription fieldset, .formulaire_inscription form { 
	background: #DDD;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #FFF;
	border-right: 1px solid #BBB;
	border-top: 1px solid #FFF;
	color: #000;
}

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

p.pagination {
background: #68A;
	border-top: 1px solid #8AC;
	border-right: 1px solid #468;
	border-bottom: 1px solid #468;
	border-left: 1px solid #8AC;
padding: 0 0.3em;
margin: 0;
margin-top: 1px; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }