.markItUpHeader{text-align:left}
.float-l{float:left}
.form-suggest{height:200px;background:#DEE2D0;vertical-align:top}
.form-input input{font-size:10px}
@media print {
.hide{display:none}
}
.form-input textarea{font-size:11px;width:350px}
.form-label{font-size:10px;font-weight:700;line-height:25px;padding-right:10px;text-align:right;width:100px;color:#39738F}
.font-9{font-size:9px}
.form-topic{font-weight:700}
.form-error{color:red}
.inline{display:inline}
.space-10{clear:both;font-size:10px;height:10px;line-height:10px}
.suggest-success{color:green;padding-left:10px;font-size:11px;font-weight:700}
.top{vertical-align:top}
table td{padding:3px}
a:link,a:active,a:visited,a.postlink{color:#069;text-decoration:none}
a:hover{color:#DD6900}
a.admin:hover,a.mod:hover{color:#DD6900}
a.but,a.but:hover,a.but:visited{color:#000;text-decoration:none}
a.topictitle:visited{color:#5493B4}
a.topictitle:hover{color:#DD6900}
body{color:#000;font:11px Verdana,Arial,Helvetica,sans-serif;margin:0 10px 10px;padding:0;overflow:auto}
font,th,td,p{font:12px Verdana,Arial,Helvetica,sans-serif}
form{display:inline}
hr{border:0 solid #FFF;border-top-width:1px;height:0}
img{border:0 solid}
input{font:11px Verdana,Arial,Helvetica,sans-serif}
input.button,input.liteoption,.fakebut{background:#FAFAFA;border:1px solid #000;font-size:11px}
input.catbutton{background:#FAFAFA;border:1px solid #000;font-size:10px}
input.mainoption{background:#FAFAFA;border:1px solid #000;font-size:11px;font-weight:700}
input.post,textarea.post{background:#FFF;border:1px solid #000;font:11px Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}
select{background:#FFF;font:11px Verdana,Arial,Helvetica,sans-serif}
table{text-align:left}
td{vertical-align:middle}
td.cat{background-color:#C2C6BA;font-weight:700;height:20px;letter-spacing:1px;text-indent:4px}
td.genmed,.genmed{font-size:11px}
td.rowpic{background:#C2C6BA}
td.spacerow{background:#E5E6E2}
th{background-color:#FADD31;/background-image:url(images/cellpic3.gif);background-repeat:repeat-x;color:#68685E;font-size:11px;font-weight:700;line-height:16px;height:16px;padding-left:8px;padding-right:8px;text-align:center;white-space:nowrap}
.admin,.mod{font-size:11px;font-weight:700}
.admin,a.admin,a.admin:visited{color:#FFA34F}
.bodyline{background:#FFF;border:1px solid #98AAB1}
.center{text-align:center}
.code{background:#FAFAFA;border:1px solid #D1D7DC;color:#060;font:12px Courier,"Courier New",sans-serif;padding:5px}
.errorline{background:#E5E6E2;border:1px solid #8F8B8B;color:#D92A2A}
.explaintitle{color:#5C81B1;font-size:11px;font-weight:700}
.forumline{background:#FFF}
.gensmall{font-size:10px}
.h1-font{color:#069;display:inline;font:bold 13px Verdana,Arial,Helvetica,sans-serif;margin:.3em;text-decoration:none}
.h2-font{display:inline;font:11px Verdana,Arial,Helvetica,sans-serif}
.height1{height:1px}
.height22{height:22px}
.height25{height:25px}
.height28{height:28px}
.height30{height:30px}
.height40{height:40px}
.helpline{border:0 solid;font-size:10px}
.imgfolder{margin:1px 4px}
.imgspace{margin-left:1px;margin-right:2px}
.imgtopic,.imgicon{margin-left:3px}
.left{text-align:left}
.maintitle,h1,h2{color:#5C81B1;font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.maxwidth{width:100%}
.mod,a.mod,a.mod:visited{color:#060}
.name{font-size:11px;font-weight:700}
.nav{font-size:11px;font-weight:700}
.nowrap{white-space:nowrap}
.postbody{font-size:12px;line-height:125%}
.postbody a{text-decoration:underline}
.postdetails{color:#00396A;font-size:10px}
.quote{background:#F3F3EF;border:1px solid #C2C6BA;color:#069;font-size:11px;line-height:125%}
.right{text-align:right}
.row1{background:#F0F0EB}
.row2,.helpline{background:#E5E6E2}
.row3{background:#DBDBD4}
.subtitle,h2{font:bold 18px/180% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.topictitle{color:#000;font-size:11px;font-weight:700}
.underline{text-decoration:underline}
.top{vertical-align:top}
.image-hspace{margin-right:3px}
.clear{clear:both}
.degrade{background-color:#777;background:-webkit-gradient(linear,left top,left bottom,from(#999999),to(#666666));background-image:-moz-linear-gradient(top,#999999,#666666);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#999999',endColorstr='#666666');filter:progid:DXImageTransform.Microsoft.Shadow(color=#666666,direction=146,Strength=5);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#999999',endColorstr='#666666')";filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff999999',endColorstr='#ff666666')}
@media print {
.degrade{background:none}
}