
/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/* Skedus: 
   HOW TO CHANGE COLORS ?
   -> Colors:
      Dark  blue  : #5673b3
      Light blue  : #bfcae2 (use as well in the navigation picture)
      Light blue 2: #d0daef (forum message)
      Light blue 3: #dae1ef (forum message)
      Light blue 4: #eaeff7 (forum message)
      
      Darck grey : #ccc
      Light grey : #e7e7e7

   Only replace those colors in all css of this theme 
   to change colors      
*/


/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	color: #333;
	/*background: #5673b3;*/
	background: #ccc;
	text-align: center;
	font: normal 1em "Lucida Sans Unicode",sans-serif;
}

img, table { margin: 0; padding: 0; border: 0; }
ul, ol, li { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { 
	margin: 0; 
	padding: 0; 
	font-size: 1em; 
	font-weight:normal; 
}


#contenu h1, h2, h3, h4, h5, h6 {
	font-weight: bold; 	
	color: #5673b3;
}


/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
	width: 96%;
	height: 96%;
	text-align: left;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	background : #FFF url(images/navigation.jpg) repeat-y 82% 0%;
	border: 1px solid #333;
}

#conteneur { 
	width: 100%; 
}

#conteneur #contenu {
	float: left;
	width: 70%;
	margin-right: 2%;
	margin-left: 4%;
        text-align: justify;
}

#conteneur #navigation {
	float: right;
	width: 21%;
	margin-right: 2%;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	width: 70%;
}

#contenu .encart {
	float: right;
	width: 30%;
	margin: 0;
	margin-bottom: 5%;
}


/* Entete */
#entete { 
	/*background : #5673b3 url(images/banniere.jpg) no-repeat top left;*/
	background : #5673b3 ;
	padding-top: 1em;
	padding-bottom: 1em;
}
#entete #nom_site_spip, #entete a .spip_logos {
	padding-left : 1em;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1.5em;
	color: #fff; 
}
#entete a { 
	text-decoration: none; 
}
#entete .formulaire_recherche { 
	margin-top : 1em;
	margin-right : 1em;
	float: right; 
	background : #e7e7e7 ;
}

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	padding-left: 1em;
	margin-bottom: 1em;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	font-size: 0.77em; 
	background : #e7e7e7 ;
}

/* Pied de page */
#pied {
	clear: both;
	width: 100%;
	margin-top: 4em;
	border-top: 1px dotted #CCC;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center; 
	background: #FFF;
	}
#pied small { font-size: 0.77em; }
#pied img { vertical-align: bottom; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart,.formulaire_spip {
	font-family: Verdana, "Bitstream Vera Sans", Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: "Lucida Sans Unicode", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip {
	color: #5673b3;
	font-family: "Lucida Sans Unicode", Georgia, Times, serif; 
}

/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	/*border: 1px solid #CCC;*/
	margin-bottom: 1em;
	font-size: 0.77em;
}

.menu-titre a { color:#5673b3; }
.menu-titre {
	padding: 0.2em 0.4em;
	/*border-bottom: 1px dotted #CCC;*/
	text-align: left;
	font-weight: bold;
}

.rubriques p, .breves p, .syndic p, .forums p, .divers p { margin: 0; padding: 0.2em 0.7em;  }
.rubriques ul, .breves ul, .syndic ul, .forums ul, .divers ul { padding: 0.2em 0; }
.rubriques li, .breves li, .syndic li, .forums li, .divers li { padding: 0 0.7em; }

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { 
	border: 1px solid #ccc;
	margin-right: 1em; 
	background: #e7e7e7;

}
.rubriques .menu-titre { color: #5673b3; }

.breves {  
	border: 1px solid #ccc;
	margin-right: 1em; 
	background: #e7e7e7;

}
.breves .menu-titre { color: #5673b3; }

.syndic {  
	border: 1px solid #ccc;
	margin-right: 1em; 
	background: #e7e7e7;

}
.syndic .menu-titre { color: #5673b3; }

.forums {  
	border: 1px solid #ccc;
	margin-right: 1em; 
	background: #e7e7e7;

}
.forums .menu-titre { color: #5673b3; }

.divers {  
	border: 1px solid #ccc;
	margin-right: 1em; 
	background: #e7e7e7;

}
.divers .menu-titre { color: #5673b3; }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin-bottom: 2em; }

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: #5673b3; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	line-height: 1.4em; }

.lien {
	background: #e7e7e7;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 0.82em;
	border: 1px solid #CCC;
	font-size: 0.82em;
	font-weight: bold; }

.texte { color: #000; font-size: 0.96em; }

.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio img {
	width:60px;
}
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; color: #5673b3;}

#document_actif { 
	margin-top: 1em; 
}
#document_actif img { 
	height:auto;
	width:100%;
}

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; color: #5673b3;}
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles li { 
	margin-bottom: 1em; 
	margin-right: 1em; 
	padding: 0.5em  0.5em 0.5em 0.5em; 
	border: 1px solid #CCC;
}

.liste-articles li .titre {
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	/*border: 1px solid #CCC;*/
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em; }
	
.liste-articles h3 a { color: #5673b3;}

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */
.page_plan #contenu h2 a { color: #5673b3;}

.page_plan #contenu h2 {
	clear: both;
	background: #bfcae2;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-left: 1em;
	margin-bottom: 1em;
	list-style: square; }
.page_plan #contenu .contre-encart li { list-style: inherit; }

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

/* Correction des styles HTML par defaut */
.formulaire_spip form, .formulaire_spip fieldset, .formulaire_spip legend, .formulaire_spip label, .formulaire_spip input, .formulaire_spip textarea, .formulaire_spip select, .formulaire_spip option { margin: 0; padding: 0; border: 0; background: none; }

/* Styles des formulaires de Spip */
.formulaire_spip {
	text-align: left;
	font-size: 0.77em;
}

.formulaire_spip p {
	margin: 0.5em 0;
	padding: 0; }

.formulaire_spip fieldset {
    display: block;
	margin: 0.77em 0;
	padding: 0.77em;
	border: 1px dotted; }
.formulaire_spip legend { 
	font-weight: bold; 
	padding: 3px;
	background: #FFF; /* Sinon, superposition dans MSIE */
}

.formulaire_spip label {}
.formulaire_spip .forml {
	width: 99%;
	padding: 1px;
	border: 1px solid;
	font-family: inherit;
	font-size: inherit; }

.spip_bouton { text-align: right; }
.spip_bouton input {
	margin: 3px 0;
	padding: 1px 2px;
	border: 2px outset;
	font-weight: bold;
	float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #F00; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu {
	padding: 1em;
	border: 1px solid; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
.choix_mots { width: 47%; float: left; } 
.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { text-align: left; width: 12em; }
.formulaire_recherche label { display: none; }

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #bfcae2; }
ul ul .forum-chapo { background: #d0daef; }
ul ul ul .forum-chapo { background: #dae1ef; }
ul ul ul ul .forum-chapo { background: #eaeff7; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #fff; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }

