/* 
Ceci est le fichier CSS du  
Layout Gala No11
de  
http://blog.html.it/layoutgala/ 
*/
/*
html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
a{display:block;color: #981793;padding:10px}
div#header h1{height:80px;line-height:80px;margin:0;
  padding-left:10px;background: #EEE;color: #79B30B}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#B9CAFF}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}
div#container{width:700px;margin:0 auto}
div#wrapper{float:left;width:100%}
div#content{margin-left: 300px}
div#navigation{float:left;width:150px;margin-left:-700px}
div#extra{float:left;width:150px;margin-left:-550px}
div#footer{clear:left;width:100%}
*/


// The Layout
#layoutgala11 {

  .core(@NcolContent, @NcolAside, @NcolExtra, @gridColumnWidth, @gridGutterWidth) {

    #container{margin:0 auto}
    #wrapper{float:left;width:100%;margin-left: 0;}
    #content{
      float: inherit;
      margin:0;
      width: (@gridColumnWidth * @NcolContent) + (@gridGutterWidth * (@NcolContent -1));
      margin-left:(@gridColumnWidth * (@NcolExtra + @NcolAside)) + (@gridGutterWidth * (@NcolExtra + @NcolAside));
    }
    #aside{
      clear: none;
      float: left;
      width: (@gridColumnWidth * @NcolAside) + (@gridGutterWidth * (@NcolAside - 1));
      margin-left: -((@gridColumnWidth * (@NcolAside+@NcolExtra+@NcolContent)) + (@gridGutterWidth * (@NcolAside+@NcolExtra+@NcolContent - 1)));
    }
    #extra{
      clear: none;
      float: left;
      width: (@gridColumnWidth * @NcolExtra) + (@gridGutterWidth * (@NcolExtra - 1));
      margin-left: -((@gridColumnWidth * (@NcolExtra+@NcolContent)) + (@gridGutterWidth * (@NcolExtra+@NcolContent - 1)));
    }

    #footer{clear:left;width:100%}
  }
}
