/*
Ceci est le fichier CSS du
Layout Gala No 27
de
http://blog.html.it/layoutgala/
*/
/*
html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{display:block;color: #006;padding:10px}
div#header{position:relative}
div#header h1{height:80px;line-height:80px;margin:0;
padding-left:10px;background: #EEE;color: #79B30B}
div#header a{position:absolute;right:0;top:23px}
div#content p{line-height:1.4}
div#navigation{background:#B9CAFF}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}
div#footer a{display:inline;padding:0;color: #C6D5FD}

div#navigation{float:left;width:50%}
div#extra{float:left;width:49.9%}
div#footer{clear:left;width:100%}
*/

// The Layout
#layoutgala27 {

  .core(@WcolContent, @WcolAside, @WcolExtra, @gridColumnWidth, @gridGutterWidth) {

    #container{margin:0 auto}
    #wrapper {float: none;}
    #content{
      float: none;
      width: @WcolContent;
      margin-left: 0;
      margin-right: 0;
    }
    #aside{
      clear: both;
      float: left;
      width: @WcolAside;
      margin: 0;
    }
    #extra{
      clear: none;
      float: right;
      width: @WcolExtra;
      margin: 0;
    }

    #footer{clear:both;width:100%}
  }
}
