
div.php a {
	text-decoration: none;
}

div.php, div.spip {
	padding: 1px;
	padding-bottom: 0px;
	color: #444444;
	background-color: #dddddd;
	font-size: 11px;
	line-height: 12px;
	overflow: hidden;
}
div.php ol, div.spip ol {
	margin-top: 0px;
	margin-bottom: 0px;
}
div.php li, div.spip li {
	background-color: #cccccc;
	margin-bottom: 1px;
	padding: 3px;
	white-space: nowrap;
}

a.code_colore_download {
	font-size: small;	
	color: #400;
}
