/* Reglage de la largeur de la boite centrale */
#contenu {
	width: 79%;
	margin-left: 0;
}

/* Petit reglage supplementaire pour faire coincider le pied de page avec le texte */
#pied {
	padding-left: 76px;
}

/* Boites desactivees */
#gauche, #droite-breves, #droite-contrib, #droite-sondage {
	display: none;
}
