@import url(spip.css);

a.spip_out {
	background: url(img/spip_out_rtl.png) no-repeat center left;
	padding-right: 0;
	padding-left: 15px;
}

.spip_documents_left {
	float: right;
	margin-right: 15px;
	margin-left: 0;
}

.spip_documents_right {
	float: left;
	margin-left: 15px;
	margin-left: 0;
}
