/* --------------------------------------------------------------

   varicelle.css
   Style des boutons (a, input, button)
   romy.tetue.net - 2010

-------------------------------------------------------------- */

/* D'apres : http://speckyboy.com/2010/02/15/20-css3-tutorials-and-techiques-for-creating-buttons/
et en particulier Pretty CSS3 buttons : http://papermashup.com/pretty-css3-buttons/ */

.submit { position: relative; display: inline-block; width: auto; padding: 5px 1em 6px; overflow: visible; cursor: pointer;
background: #888 url(img/sprite/varicelle.png) left top repeat-x;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); box-shadow: 0 1px 3px rgba(0,0,0,0.5);
border: 0; border-bottom: 1px solid rgba(0,0,0,0.25);
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
font-size: 100%; line-height: 1; font-weight: bold; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
* html .submit { background-image: none; border: none; color: #FFF !important; } /*IE6*/
.submit,
.submit:visited,
.submit * { color: #FFF; text-decoration: none; }

.submit:hover { background-color: #777; color: #FFF; text-decoration: none; }
.submit:focus,
.submit:active { -webkit-transform: translateY(1px); -moz-transform: translateY(1px); transform: translateY(1px);
outline: none !important; }
.submit:active { -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7); box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
 /*IE*/ border-bottom: 0\9; border-top: 1px solid #666\9; }
.submit::-moz-focus-inner { border: 0 none; padding: 0; }

/* tailles */
.submit.small			{ font-size: 90%; padding: 4px 1em; }
.submit.big				{ font-size: 130%; padding: 8px 1em 9px; }
.submit.super			{ font-size: 200%; padding: 8px 1em 9px;
						-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

/* couleurs */
.submit.pink			{ background-color: #e22092; }
.submit.pink:hover		{ background-color: #c81e82; }
.submit.red.submit		{ background-color: #e62727; }
.submit.red:hover		{ background-color: #cf2525; }
.submit.orange			{ background-color: #ff5c00; }
.submit.orange:hover	{ background-color: #D45500; }
.submit.yellow			{ background-color: #FFB515; }
.submit.yellow:hover	{ background-color: #FC9200; }
.submit.green			{ background-color: #91BD09; }
.submit.green:hover		{ background-color: #749A02; }
.submit.blue			{ background-color: #2981e4; }
.submit.blue:hover		{ background-color: #2575cf; }
.submit.black			{ background-color: #222; }
.submit.black:hover		{ background-color: #111; }
.submit.gray			{ background-color: #888; }
.submit.gray:hover		{ background-color: #777; }
.submit.white			{ background-color: #FFF; border: 1px solid #CCC; color: #666; font-weight: normal; text-shadow: 0 1px 1px #FFF; }
.submit.white:hover		{ background-color: #EEE; }

/* styles */
.submit.metal			{ background: #FFF url(img/sprite/varicelle.png) repeat-x scroll bottom; border: 1px solid #BBB; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1); color: #555 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }
.submit.metal:focus,
.submit.metal:hover,
.submit.metal:active	{ background-color: #EEE; border-color: #999; color: #444; }

.submit.spip			{ background-color: #75507B; }
.submit.spip:hover		{ background-color: purple; }
.submit.spip:focus,
.submit.spip:active		{ background-color: #F57900 !important; border-color: #F57900 !important; }

/* boutons d'admin SPIP */
.spip-admin .submit			{ background-color: #75507B; }
.spip-admin .submit:hover	{ background-color: purple; }
.spip-admin .submit:focus,
.spip-admin .submit:active	 { background-color: #F57900 !important; border-color: #F57900 !important; }

/* end */