/* Orange Simple was designed by Nina Scaletti */
/* Visit dusty-designs.com/blog. */
/* Email at nina@blog-her.com. */
/* Released under a GPL license. */



#header {
	background-color: #FDC68C;
	font: normal 300% Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0.1em;
	margin: 0px;
	padding: 15px 0px 15px 10px;
	height: 65px;
	width:700px;
}

#header a {
	position: absolute; 
	display:block;
	height:45px;
	text-decoration :none;
	color: #fff;
	top: 17px;
	left: 40px;
	
}

#header a:hover {
	text-decoration:underline;
}

#menu {
	background: #fff;
	margin: 20px 0px 0px 495px;
	width: 200px;
	padding: 0px 0px 20px 0px;
}

html>body #menu {
  width: 210px;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input#s {
	width: 80%;
	background: #fff;
	border: 1px solid #4d4d4d;
	color: #000;
	margin: 0.5em 0;
}

#menu ul {
	color: #666;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
	text-transform: capitalize;
}

#menu ul li {
	font: normal 110% verdana, 'Lucida Sans Unicode', Times, serif;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding-bottom: 2px; 
}

#menu ul ul {
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	font: normal normal 70%/115% verdana, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 0px;
}

#menu ul ul li a {
	color: #000;
	text-decoration: none;
}

#menu ul ul li a:hover {
font-style: italic;
	border-bottom: 1px dotted #FDC68C;
}


h2 {
	background: #fff;
	color: #666;
	font: 10px verdana, 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
	letter-spacing: 0.4em;
	margin: 15px 0 10px 0;
	padding-top: 2px;
	padding-left: 4px;
}

h3 {
	border-top: 1px dashed #c0c0c0;
	padding-top: 3px;
	font: 16px Verdana, 'Lucida Sans Unicode',  Arial, Helvetica, sans-serif;
	margin-top: 0px;
letter-spacing: 0.2em;

}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
	color: #F68E56;
font-weight: bold;
}

.storytitle a:hover {
	text-decoration: none;
	color: #FFF799;
}

.storytitle a:visited {
	text-decoration: none;
	color: #F68E56;
}

.storycontent img {
	margin: 0px 8px 15px 2px;
	padding: 0px;
	border: 0;
	float: left;
}

.storycontent { clear: none;
width: 450px;
 }

.meta {
	font-size: 8pt;
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.meta, .meta a {
	color: #c0c0c0;
	font-weight: normal;
	letter-spacing: 0;
}

ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

p, li, .feedback {
	font: 85%/110% verdana, 'Lucida Sans Unicode', 'Lucida Grande',  sans-serif;
	letter-spacing: 0px;
}

blockquote {
	border-left: 2px solid #c0c0c0;
	margin-left: 1.5em;
	padding-left: 5px;
}

#content {
	float: left;
	margin: 0px 0px 0px 0px;
	padding-right: 40px;
	padding-left: 10px;
	padding-bottom: 0px;
	width: 450px;
		
}


acronym, abbr {
	border-bottom: 1px dashed #c0c0c0;
}

acronym, abbr, span.caps {
	cursor: help;
	font-size: 90%;
	letter-spacing: .07em;
}


body {
	background: #dadada;
	color: #000;
	font-family: verdana, 'Lucida Sans Unicode', sans-serif;
	margin: 0;
	padding: 0;
}

cite {
	font-size: 90%;
	font-style: normal;
}



ol#comments li p {
	font-size: 100%;
}


.feedback {
	color: #ccc;
	text-align: right;
	clear: both;
	padding-bottom: 5px;
font-size: 9pt;
}

.feedback a {
	color: #F68E56;
}

.feedback a:hover {
	color: #FFF799;
}


#commentform #name, #commentform #email, #commentform #url, #commentform textarea {
	background: #fff;
	border: 1px solid #3d3d3d;
	padding: .2em;
}

#commentform textarea {
	width: 100%;
}

#commentlist li ul {
	border-left: 1px solid #ddd;
	font-size: 110%;
	list-style-type: none;
}







#wp-calendar {
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	width: 90%;
border-left: 1px outset #000;
border-bottom: 2px outset #000;
border-right: 2px solid #000;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
border: 1px solid #000;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
	text-decoration: none;
}

#wp-calendar a:hover {
	background: #FDC68C;
	color: #4d4d4d;
}

#wp-calendar caption {
	color: #F68E56;
border-bottom: 1px inset #000;
padding-bottom: 2px;
	font-size: 16px;
	text-align: center;
}

#wp-calendar td {
	color: #4d4d4d;
	font: normal 12px Verdana, 'Lucida Sans Unicode',  sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
border: 1px solid #FDC68C;
}

#wp-calendar td.pad:hover {
	background: #fff;
}

#wp-calendar td:hover {
	background: #4d4d4d;
	color: #fff;
}

#wp-calendar #today {
	background: #FDC68C;
	color: #fff;
}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	font-family: verdana, 'Lucida Sans Unicode', sans-serif;
}

a, a:visited, a:hover {
	color: #F68E56;
cursor: hand;
text-decoration: none;
}

a img {
	border: none;
}


#rap {
position: absolute;
width: 710px;
z-index: 1;
left: 50%;
top: 2%;
margin: 20px auto auto -345px;
padding-bottom: 60px;
background: #fff;
border: 1px solid #000000;
}

.credit {
	background: #90a090;
	border-top: double 3px #aba;
	color: #fff;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
	display: none;
}

.credit a:link, .credit a:hover {
	color: #fff;
}