#SET{total,0}
#SET{likev,#ENV{v}|concat{%}}
<BOUCLE_compte(WEBSITES){spip like #GET{likev}}{statut=publie} />#SET{total,#TOTAL_BOUCLE}<//B_compte>
{
"total_sites": "#GET{total}",
"version": "#ENV{v}",<B_sitesspip>
"versions": [
	<BOUCLE_sitesspip(WEBSITES){spip like #GET{likev}}{statut=publie}{fusion spip}{compte spip}{!par compte_spip}{","}>{
		"version" : "#SPIP",
		"sites" : "#COMPTE{spip}",
		"pourcentage": "[(#COMPTE{spip}|mult{100}|div{#GET{total}}|round{1})%]"
	}</BOUCLE_sitesspip>
],</B_sitesspip><B_hasplug>
"nombre_plugins": [
	<BOUCLE_hasplug(WEBSITES){spip like #GET{likev}}{fusion plugins}{compte plugins}{!par compte_plugins}{plugins>=1}{statut=publie}{","}>{
		"plugins" : "#PLUGINS",
		"sites" : "#COMPTE{plugins}",
		"pourcentage": "[(#COMPTE{plugins}|mult{100}|div{#GET{total}}|round{1})%]"
	}</BOUCLE_hasplug>
],</B_hasplug><B_plugins>
"plugins": [
	<BOUCLE_plugins(websites_plugins websites){websites.spip like #GET{likev}}{fusion plugin}{!par compte_plugin}{compte plugin}{","}>{
		"nom" : "[(#CHAMP_SQL{plugin}|entites_html)]",
		"sites" : "#COMPTE{plugin}",
		"pourcentage": "[(#COMPTE{plugin}|mult{100}|div{#GET{total}}|round{1})%]"
	}</BOUCLE_plugins>
],</B_plugins><B_pays>
"pays": [
	<BOUCLE_pays(websites){spip like #GET{likev}}{fusion pays}{!par compte_pays}{compte pays}{statut=publie}{","}>{
		"nom" : "#PAYS",
		"sites" : "#COMPTE{pays}",
		"pourcentage": "[(#COMPTE{pays}|mult{100}|div{#GET{total}}|round{1})%]"
	}</BOUCLE_pays>
],</B_pays>
"php": [
	<BOUCLE_v40(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '4.0%'} />{
		"version" : "4.0",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	},<//B_v40>
	<BOUCLE_v41(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '4.1%'} />{
		"version" : "4.1",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	},<//B_v41>
	<BOUCLE_v42(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '4.2%'} />{
		"version" : "4.2",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	},<//B_v42>
	<BOUCLE_v43(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '4.3%'} />{
		"version" : "4.3",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	},<//B_v43>
	<BOUCLE_v50(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '5.0%'} />{
		"version" : "5.0",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	},<//B_v50>
	<BOUCLE_v51(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '5.1%'} />{
		"version" : "5.1",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	},<//B_v51>
	<BOUCLE_v52(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '5.2%'} />{
		"version" : "5.2",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	},<//B_v52>
	<BOUCLE_v53(WEBSITES){spip like #GET{likev}}{statut=publie}{php LIKE '5.3%'} />{
		"version" : "5.3",
		"sites" : "#TOTAL_BOUCLE",
		"pourcentage": "[(#TOTAL_BOUCLE|mult{100}|div{#GET{total}}|round{1})%]"
	}<//B_v53>
]
}