<h4>{'install_finish'|translate}</h4>
<p>{'install_congratulation'|translate}</p>
<p>{'install_end_text'|translate}</p>
<p class="next_step">
<a href="?exec=phpmv&mod=index">{'install_go_phpmv'|translate}</a>
</p>