/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */
/* ----------------------------------------------
	Adaptation pour Spip-zen : Cedric Morin http://www.yterium.com
 ------------------------------------------------ */

/* Specificites SPIP */
h3.spip {text-align:left;}

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #333; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #333; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #fff; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #1E89DC; padding: 0.50em 1em; font-weight: bold; border:1px solid #0065C6; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; float:none; }
.documents_portfolio a:hover .spip_logos { border-color: #F57900; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }


/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.95em; color: #333; }
.pagination .on { font-weight: bold; color: #333; }

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/

.liste-items, .menu-liste {list-style:none;}

/* Listes d'articles et extraits introductifs */
.liste-items .item { clear: both; padding: 0.40em 0.20em; overflow:hidden;}
.liste-items .item .h3 { margin: 0.30em 0; }
.spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.liste-items .item .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.liste-items .item .introduction { margin-top: 0.30em; line-height: 1.40em; }

.liste-items { list-style:none; margin: 0; padding: .3em 0 1em 5px; font-family: 'Trebuchet MS', Tahoma, Sans-serif; }
.liste-items .item { padding: 0; background: url(img/sidebullet.gif) no-repeat .3em .5em; }
* html body .liste-items .item { height: 1%; }
.liste-items .item { font-weight: bold; color: #E8F4FF; text-decoration: none; padding: .2em 0 .2em 30px; }
.liste-items .item a { font-weight: bold; color: #E8F4FF; text-decoration: none; }
.liste-items .item:hover { background:#0F7ACC url(img/sidebullet.gif) no-repeat .3em .5em; color: #FFF; }
.liste-items .item:hover a { color: #FFF; }
.liste-items .item { margin-left: 0px; }


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}


/* tables */
tables.spip tr,tables.spip tr.row_odd,tables.spip tr.row_even {background:transparent;}
/* ----------------- */
/********************************************
   AUTHOR:  			Erwin Aligam 
   WEBSITE:   			http://www.styleshout.com/
	TEMPLATE NAME: 	BluePigment
   TEMPLATE CODE: 	S-0016
   VERSION:          1.0	
	DATE:          	July-31-2007
 *******************************************/ 
 
/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
* { padding: 0; margin: 0; border: 0; }

body {
	margin: 0; 	padding: 0;
	font: normal 12px/1.7em  verdana, tahoma, sans-serif;	 
	text-align: center;
	background: #001342 url(img/headerbg.jpg) repeat-x 0 0;
	color: #F2F9FF;
}

/* links */
a { color: #003366; background-color: inherit; text-decoration: none;	}
a:hover { color: #FAA34B; background-color: inherit; text-decoration: underline; border: none; }
a.spip_in {color: #003366;}
a.spip_out {color: #B1E100;}

/* headers */
h1, .h1, h2, .h2, h3, .h3 { font: bold 1em 'Trebuchet MS', Tahoma, Arial, Sans-serif; color: #fff;	line-height:100%;}
h1,.h1 { font-size: 2.5em; }
h2,.h2 { font-size: 2em; text-transform:uppercase;}
h3, .h3, h3.spip { font-size: 1.8em; line-height:100%;}

p, h1,.h1, h2,.h2, h3,.h3 {
	margin: 0;
	padding: 10px 0;
}

ul.spip, ol.spip, ul.forum ul.spip {
	margin: 10px 30px;
	padding: 0 15px;	
}

/* images */
.spip_documents img,.spip_logos img { background: #FAFAFA; border: 1px solid #0F7ACC; padding: 6px;}
.spip_documents_right { margin: .5em 0 1em 1em; }
.spip_documents_left { margin: .5em 1em 1em 0; }

.spip_code {font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace ;}
.spip_cadre { margin: .5em 0; display: block; padding: 20px; text-align: left; overflow: auto; font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace ; /* white-space: pre; */ background: #1E89DC; border: 1px solid #0065C6; width:90%; }

acronym,abbr { cursor: help; border-bottom: 1px solid #0065C6;}
blockquote.spip { margin: 10px 0px; padding: 10px 0 10px 28px; border: 1px solid #0065C6; background: #1E89DC; font: bold 1.3em/1.5em "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif; }

/* start - table */
table.spip { margin: 10px 0; border-collapse: collapse; }
table.spip caption {margin : 5px 0;text-align:left;}
th strong {color: #fff;}
table.spip th { background: #93BC0C; height: 3em; padding-left: 12px; padding-right: 12px; color: #FFF; text-align: left; border-left: 1px solid #B6D59A; border-bottom: solid 2px #8EB200; border-top: solid 2px #8EB200; }
table.spip tr { color: #707070; height: 2.5em; }
table.spip td { padding-left: 12px; padding-right: 12px; border-left: 1px solid #FFF; border-bottom: solid 1px #ffffff; }
td.first,th.first { border-left: 0px; }
tr.row_even { background: #F8F8F8; }
tr.row_odd { background: #EFEFEF; }
/* end - table */

/* form elements */
.formulaire_spip {
	margin: 10px 0; 
	padding: 10px;
	border: 1px solid #0065C6; 
	background-color: #1E89DC; 
}
.formulaire_spip fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.formulaire_spip fieldset legend {color:#fff;background-color:#1E89DC;}
.formulaire_spip label {
	display:block;
	font-weight:bold;
	margin: .4em 0;	
	color:#fff;
}
.formulaire_spip input.text,.formulaire_spip input.password,.formulaire_spip select {
	padding: .3em;
	border: 1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
.formulaire_spip textarea {
	width: 55%;
	padding: .3em;
	font: normal 1em/1.5em Verdana, sans-serif;
	border: 1px solid #eee;
	height: 10em;
	display:block;
	color:#777;
}
.formulaire_spip .boutons input, .formulaire_spip input.submit{ 
	font: bold 1em Arial, Sans-serif; 
	margin: 0;
	padding: .25em .3em;
	color: #FFF;
	background: #A2CC00;
	border: 2px solid #8EB200;
}
.formulaire_spip p.explication {padding:0;}

/* search form */
.formulaire_recherche {
	background-color: transparent;
	border: none;	
	margin: 0 0 0 0px; padding: 0 0 1.5em 0;	
}
.formulaire_recherche p { margin: 0; padding: 0; }
.formulaire_recherche input.text {
	width: 22em;
	color: #ddd;
	padding: .4em; 
	border: 1px solid #E5E5E5;
	vertical-align: top;
	background:none;
}
#sidebar .formulaire_recherche input.text {width: 11em;}

.formulaire_recherche input.submit { 
	vertical-align: top;
}
#sidebar .formulaire_recherche input.submit {width: 60px;}


/***********************
	  LAYOUT
************************/

#header-content, #content, #nav {
/*
The width value below sets the total width of the design. It's default value is set to 93%
which means that it will take up 93% of the browser window's width. You can also set it to a 
different percentage	value (90%, 85%, etc.). This design is fluid layout by default, but you
can turn it into a fixed width layout by setting a pixel value to the width (e.g. 900px, 950px).
*/
	width: 93%;	
}


/* header */
#header { height: 178px; text-align: left; }
#header-content { height: 178px; position: relative; margin: 0 auto; padding: 0; }
#header-content .accueil #nom_site_spip {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 58px 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	letter-spacing: -1px;
	color: #fff;
	text-decoration: none;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 30px; left: 10px;	
}
#header-content .accueil #nom_site_spip a { color:#fff;}
#header-content .accueil #nom_site_spip span { color: #68B5F0;}
#header .accueil img.spip_logos { 	
	position: absolute;
	/* change the values of top and left to adjust the position of the logo*/
	bottom: 20px; right: 23em;	
}
#header-content #slogan_site_spip {
	position: absolute;	
	font: bold 16px 'Trebuchet Ms', Sans-serif;
	text-transform: none;
	color: #FFF;	
	margin: 0; padding: 0;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 100px; left: 125px;
}
#header-content .formulaire_menu_lang { position: absolute; right: 0; top: 20px; display: block; margin:0;width: 21em;padding:0;background:none;border:0; } /*Cf.: spip_formulaires.css*/

/* header links inutilise dans ZPIP*/
#header-content #header-links {	position: absolute;	top: 25px; right: 10px; color: #fff; font: bold 15px "Trebuchet MS", Tahoma, Sans-serif; }
#header-content #header-links a {	color: #93C9F4; text-decoration: none; }
#header-content #header-links a:hover { color: #fff; }


/* Navigation */
#nav-wrap { float: left; width: 100%; background: url(img/menubg.jpg) repeat-x left bottom; clear: both; }
#nav { clear: both; margin: 0 auto; padding: 0; }
#nav .menu-liste { float: left; list-style: none; text-transform: uppercase; margin: 0; padding: 0; height: 64px; }
#nav .menu-liste .menu-entree { float: left; margin: 0; padding: 0; height: 64px; }
#nav .menu-liste .menu-entree a { display: block; float: left; width: auto; margin: 0; padding: 0 15px; color: #FFF; font: bold 15px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif; text-decoration: none; letter-spacing: 1px; }
#nav .menu-liste .menu-entree a:hover, #nav .menu-liste .item a:active { color: #333; }
#nav .menu-liste .menu-entree.on {	background: url(img/nav-current.jpg) no-repeat center bottom; }
#nav .menu-liste .menu-entree.on a { color: #333;}

#nav .menu-entree .menu-liste{
display:none;
}
/* content */
#content-wrap { clear: both; float: left; background: #1183DA; width: 100%; }
#content { text-align: left; padding: 0; margin: 0 auto; }

/* sidebar */
#sidebar { float: right; width: 21em; margin: 10px 0; margin-left:-21em; padding: 0; }
#sidebar .h2, #sidebar .formulaire_recherche label { font: bold 1.75em 'Trebuchet MS', Tahoma, Arial, Sans-serif; padding: .3em 0 .5em; padding-left:10px; color: #002368; }
#sidebar .formulaire_recherche label {padding-left:0;}

#sidebar .menu-liste { list-style:none; margin: 0; padding: .3em 0 1em; padding-left: 5px; font-family: 'Trebuchet MS', Tahoma, Sans-serif; }
#sidebar .menu-liste .menu-entree { padding: 0; background: url(img/sidebullet.gif) no-repeat .3em .5em; }
* html body #sidebar .menu-liste .menu-entree { height: 1%; }
#sidebar .menu-liste .menu-entree a { display: block; font-weight: bold; color: #E8F4FF; text-decoration: none; padding: .2em 0 .2em; padding-left: 30px; line-height: 1.5em; font-size: 1.35em; }
#sidebar .menu-liste .menu-entree a:hover { background: #0F7ACC url(img/sidebullet.gif) no-repeat .25em .45em; color: #FFF; }
#sidebar .menu-liste .menu-liste { margin-left: 15px; }

#sidebar .liste-items .item { line-height: 1.5em; font-size: 1.35em; }


#sidebar .menu,#sidebar .liste, #sidebar .formulaire_recherche { padding-top:10px; background: url(img/sidebarsep.jpg) repeat-x left top; clear: both; }
#sidebar .formulaire_recherche { padding-left:10px; }

/* main */
#main { float:left; margin: 10px 0; margin-right:23em ; padding: 0; }
* html body #main { float:none; }


#main .h1 { font: bold 2.8em 'Trebuchet MS', Arial, Sans-serif; color: #B1E100; letter-spacing: -2px; padding-bottom: 0; }
#main .item .h3 { font: bold 2.1em 'Trebuchet MS', Arial, Sans-serif; color: #B1E100; letter-spacing: -1px; padding-bottom: 0; }

#main .item .h3 a { color: #B1E100; text-decoration: none; }
#main .articles .liste-items .item { margin: 10px 0;	padding: 10px 25px 20px; border: 5px solid #1F8ADE; background: url(img/boxbg.jpg); }
#main .item .info-publi {font-size: .95em;}
#main .item .h3 + .info-publi {margin-top:-10px;}

/* footer */
#footer-wrap {
	clear: both;
	border-top: 5px solid #86CC15;
	text-align: left;
	padding: 1.6em 0;	
}
#footer-wrap a {
	text-decoration: none;
	color: #5B9CFF;
	font-weight: bold;
}
#footer-wrap a:hover {
	color: #E8F4FF;	
}
#footer-wrap p {
	padding: 10px 0;
}
#footer-wrap h2 {
	color: #E8F4FF;
	margin: 0;
	padding: 0 10px; 
	text-transform: none;
}

/* footer columns */
#footer-columns {
	color: #5B9CFF;
	margin: 0 auto; 
	padding: 0;	
	width: 90%;	
}
#footer-columns ul {
	list-style: none;
	margin: 10px 0 0 0; 
	padding: 0;	
	background: url(img/footer-dots.jpg) repeat-x left top;
}
#footer-columns li {
	background: url(img/footer-dots.jpg) repeat-x left bottom;
}
#footer-columns li a {
	display: block;
	font-weight: normal;
	padding: .5em 0;
	padding-left: 1em;
	width: 96%;
}
#footer-columns .col3, .col3-center {
	float: left;
	width: 32%;
}
#footer-columns .col3-center { 
	margin: 0 15px; 
}

/* bottom */
#footer-bottom {
	clear: both;
	color: #E8F4FF;	
	margin: 0 auto; 
	padding: 1em 0;
	text-align: center;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.white {	color: #E8F4FF; }

img.rssfeed {
	border: none; 
	padding: 0 0 5px;
	background: transparent;
}

.meta-publi {
	text-align: right; 
	background: #1E89DC;
	border: 1px solid #0065C6; 
	padding: 8px 10px;
	margin: 20px 0px 10px;
}
.meta-publi .date-redac {
	background: url(img/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 3px;
}
.meta-publi .nb_commentaires {
	background: url(img/comment.gif) no-repeat left center;
	padding-left: 	20px; margin: 0 3px;
}
.meta-publi .lire-la-suite {
	background: url(img/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 3px;
}



