table {
	border-collapse: collapse;
	text-align: center;
}
td.largeurcol{
	vertical-align:top;
    width:80px;
}
#premierjour {
	border-top : 1px solid red ;
	border-bottom : 1px solid red ;
	border-left : 1px solid red ;
	}
#jourmilieu {
	border-top : 1px solid red ;
	border-bottom : 1px solid red ;
}
#dernierjour {
	border-top : 1px solid red ;
	border-bottom : 1px solid red ;
	border-right : 1px solid red ;
}
.ui-tpicker-grid-label{
	width: 154px ;
	margin-left: -20% ;
	}
th, td{
	padding : 5px;
	}

td#jeudi, th#jeudith{
	background-color : #D6D6D6 ;
}

#motscles, #motcle{
	width : 150px;
	float:left;
	}

#datepick{
	width : 200px;
	float:right;
	}

#contenu{
width: 980px;
}

#affichageTableau{
clear:both;
}

img.stylo{
float:left;}

#poubelle{
float:right;
padding-right:30px;}

.poubelle_visible{display:auto;}
.poubelle_cache{display:none;}

