/*
 * Kit_loader: empaquetage de spip_loader pour enchainer plusieurs installations
 *
 * Auteur : bertrand@toggg.com
 * © 2007 - Distribue sous licence LGPL
 *
 * styles supplementaires pour le kit loader
 *
 */

/* styles de l'install spip qui sont manges par l'historique */
/* donc repetes ici par avance ... */

body { background: #FFF; color: #000; }
h1 { color: #970038; margin-top: 50px; font-family: Verdana; font-weigth: bold; font-size: 18px }
h2 { font-family: Verdana,Arial,Sans,sans-serif; font-weigth: normal; }
a { color: #E86519; text-decoration: none; }
a:visited { color: #6E003A; }
a:active { color: #FF9900; }
img { border: 0; }
p { text-align: justify; }
ul { text-align: justify; list-style-type: none; }
fieldset, .fieldset { font-weigth: bold; text-align: justify; border: 1px solid #444; padding: 10px; margin-top: 1em; }
legend { font-weight: bold; }
label {}
#minipres { width: 30em; text-align: center; margin-left: auto; margin-right: auto; }
.petit-centre { font-family: Verdana,Arial,Sans,sans-serif; font-size: 10px; }
.petit-centre p { text-align: center; }
.suivant { text-align: right; display: block; margin-top: 1em; }
.fondl { padding: 3px; background-color: #eee; border: 1px solid #333; 
	background-position: center bottom; 
	font-size: 0.8em;
	font-family: Verdana,Arial,Sans,sans-serif; }
.formo { width: 100%; display: block; padding: 3px;
	margin-top: 1em;
	background-color: #FFF; 
	border: 1px solid #333; 
	background-position: center bottom; 
	behavior: url(../dist/win_width.htc);
	font-size: 0.8em;
	font-family: Verdana,Arial,Sans,sans-serif; }


/* styles propres de spiploader */

body {
	border: 0;
	margin: 0;
	padding: 0;
}

/* spiploader */
#sl_side {
	background-color: aqua;
	border: solid 1px brown;
	padding: 0px 5px;
	width: 180px;
	float: left;
}
#sl_side h3 {
	background-color: blue;
	color: silver;
	border: 0;
	margin: 5px 0px 0px 0px;
	text-align: center;
}
#sl_side p, #sl_side ul {
	border: 0;
	margin: 0;
	padding: 0;
}
#sl_pub {
	font-size: 10px;
}
#sl_pub h2{
	font-size: 20px;
}
.downside {
	background-color: silver;
	color: blue;;
}

/* historique */
#sl_histoire {
	background-color: #FEE;
	border: solid 1px brown;
	margin: 20px 80px;
	padding: 0px 10px;
}
#sl_histoire h3 {
	color: silver;
	margin: -20px 0px;
	padding: 0px;
}

.sl_histoire_elt {
	clear: both;
}
.sl_histoire_elt h5 {
	color: silver;
	margin: 0px;
	padding: 0px;
	float: right;
}
