/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */
/* ----------------------------------------------
	Adaptation pour Spip-zen : Cedric Morin http://www.yterium.com
 ------------------------------------------------ */




/*
Original design: 1024px (v3.0 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund and stylishtemplate.com.
For more information, see http://andreasviklund.com/templates/1024px/
*/

/* General tags */
body {background:url(img/background.gif) repeat-y top center #fff; color:#404040; font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.3em; margin:0 auto; padding:0;}
a {color:#4088b8; font-weight:700; text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:0;}
p {margin:0 0 18px 10px;}
ul,ol,dl {font-size:0.9em; margin:2px 0 16px 35px;}
ul ul,ol ol {margin:4px 0 4px 35px;}
blockquote {border:1px solid #dadada; font-size:0.9em; margin:20px 10px; padding:8px;}
blockquote p {margin:0;}

/***********************
	  LAYOUT
************************/

#header-content, #content, #nav {
/*
The width value below sets the total width of the design. It's default value is set to 93%
which means that it will take up 93% of the browser window's width. You can also set it to a 
different percentage	value (90%, 85%, etc.). This design is fluid layout by default, but you
can turn it into a fixed width layout by setting a pixel value to the width (e.g. 900px, 950px).
*/
	width: 93%;	
}


/* header */
#header { height: 178px; text-align: left; background:url(img/example3.jpg)center no-repeat; ;}
#header { height: 178px; position: relative; margin: 0 auto; padding: 0; }
#header .accueil #nom_site_spip {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 58px 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	letter-spacing: -1px;
	color: #fff;
	text-decoration: none;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 30px; left: 10px;	
}
#header.accueil #nom_site_spip a { color:#fff;}
#header- .accueil #nom_site_spip span { color: #68B5F0;}
#header img.spip_logos { 	
	position: absolute;
	/* change the values of top and left to adjust the position of the logo*/
	bottom: 1em; right: 3em;	
}
#header #slogan_site_spip {
	position: absolute;	
color:gray; font-size:1.5em; font-weight:700; letter-spacing:-1px; line-height:1.2em; margin:15px 0 20px 35px;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 75px; left: 50px;
}

#descriptif_site_spip {
	position: absolute;	
color:gray; font-size:1.5em; font-weight:700; letter-spacing:-1px; line-height:1.2em; margin:15px 0 20px 35px;
	/* change the values of left and top to adjust the position of the slogan */
	top: 120px; left: 50px;
}
#header.formulaire_menu_lang { position: absolute; right: 0; top: 20px; display: block; margin:0;width: 21em;padding:0;background:none;border:0; } /*Cf.: spip_formulaires.css*/

/* header links inutilise dans ZPIP*/
#header #header-links {	position: absolute;	top: 25px; right: 10px; color: #fff; font: bold 15px "Trebuchet MS", Tahoma, Sans-serif; }
#header #header-links a {	color: #93C9F4; text-decoration: none; }
#header #header-links a:hover { color: #fff; }


/* formulaires */
.formulaire_spip {	
	margin: 20px 0; 
	padding: 15px 25px 25px 20px; 
	border: 1px solid #F0F0F0;
	background: #f8f8f8;}
	
#navigation .formulaire_spip,#extra .formulaire_spip {padding:10px;}
.formulaire_spip li {
	border-bottom: 1px solid #E6E6E6;
	padding: 12px 0 5px 0;	margin: 0;	
	color: #7BA857;
}
.formulaire_spip li label {
	font-weight: bold;
	color: #7BA857;
}
.formulaire_spip input.text,input.password, select, textarea {
	margin: 5px 0;
	padding: 5px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
  	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4; 	
	font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;
}
.formulaire_spip input.text:focus,input.password:focus, select:focus, textarea:focus {
	color: #7BA857;
	background: #EFFAE6;
}
.formulaire_spip .boutons input { 
	font: bold 12px Arial, Sans-serif; 
	height: 30px;
	margin: 0;
	padding: 2px 3px; 
	color: #fff;
	background: #9CCF5F;
	
	border-width: 1px;
	border-style: solid;
	border-color: #B6DE8F #8DB836 #8DB836 #B6DE8F;
  text-align:left !important;
}

.formulaire_spip fieldset legend {background:#F8F8F8;}
.formulaire_spip .explication {padding:0;}

#entete .formulaire_menu_lang { position: absolute; right: 0; top: 200px; display: block; margin:0;width: 235px;padding:0;background:none;border:0; } /*Cf.: spip_formulaires.css*/




/* Headers */
h1 {color:#4088b8; font-size:3em; letter-spacing:-3px; margin:0 0 20px 25px;}
h1 a {color:#4088b8; text-transform:none;}
h2 {border-bottom:4px solid #dadada; color:#4088b8; font-size:1.6em; letter-spacing:-1px; margin:0 0 10px; padding:0 2px 2px 5px;}
h3 {border-bottom:1px solid #dadada; color:#4088b8; font-size:1.2em; font-weight:700; margin:10px 0 8px; padding:1px 2px 2px 3px;}

/* Main wrap */
#wrap {color:#404040; margin:10px auto; padding:0; width:970px;}
#header {margin:0;}
#toplinks {font-size:0.9em; padding:5px 2px 2px 3px; text-align:right;}
#toplinks a {color:gray;}
#slogan {color:gray; font-size:1.5em; font-weight:700; letter-spacing:-1px; line-height:1.2em; margin:15px 0 20px 35px;}

/* Sidebar and menu */
#sidebar {float:left; line-height:1.4em; margin:0 0 5px; padding:1px 0 0; width:195px;}
#sidebar ul {font-size:0.9em; list-style:none; margin:0; padding:0 0 15px 10px;}
#sidebar li {list-style:none; margin:0 0 4px; padding:0;}
#sidebar li a {font-size:1.2em; font-weight:700; padding:2px;}
#sidebar ul ul {line-height:1.2em; margin:4px 0 3px 15px; padding:0;}
#sidebar ul ul li a {font-weight:400;}
#sidebar h2 {margin:3px 0 8px;}

/* Main content */
#content {float:right; line-height:1.5em; margin:0; padding:0; text-align:left; width:750px;}
#contentalt {float:left; line-height:1.5em; margin-right:20px; padding:0; text-align:left; width:750px;}
#content h3,#contentalt h3 {margin:10px 0 8px;}

/* Footer */
#footer {border-top:4px solid #dadada; clear:both; color:gray; font-size:0.9em; line-height:1.6em; margin:0 auto; padding:8px 0; text-align:right;}
#footer p {margin:0; padding:0;}
#footer a {color:#808080;}

/* Additional classes */
.box {background:#4088b8; border:1px solid #c8c8c8; color:#fff; font-size:0.9em; line-height:1.4em; padding:10px 10px 10px 13px;}
.box a {color:#f0f0f0;}
.left {float:left; margin:0 15px 4px 0;}
.right {float:right; margin:0 0 4px 15px;}
.readmore {margin:-10px 10px 12px 0; text-align:right;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 10px;}
.timestamp a {font-weight:normal;}
.blue {color:#4088b8;}
.clear {clear:both;}
.fade {color:#c8c8c8;}
.gray {color:gray;}
.photo {background:#fff; border:1px solid #bababa; margin:6px 18px 2px 5px; padding:2px;}