/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (in jqModal.js). You
	can change this value by either;
	  a) supplying one via CSS
	  b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
	
.jqmWindow {
    display: none;
    
    /*position: fixed;*/
    position: absolute;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
/*
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.image_container {
	overflow:auto;
	width:600px;
	height:560px;
}
*/

li.wizard_page {
	list-style:none;
}

#annotate_window {padding-bottom:36px;}
#annotate_window ul {margin:0;padding:0}
#annotate_window_cancel {position:absolute;bottom:10px;right:10px}
#annotate_save_point {position:absolute;bottom:10px;left:10px}
#annotate_window legend {display:inline}

#annotate_info_panel {text-align:left}
#annotate_summary_panel {width:100%;border:#000 1px solid}
#annotate_summary_panel th {font-weight:bold}
#annotate_summary_panel td {text-align:left}
a.annotate_action_change,a.annotate_action_delete {position:relative;float:left;display:block;margin-right:5px}
a.annotate_action_change span,a.annotate_action_delete span {position:absolute;top:0;left:0}

#annotate_image_summary {width:200px;margin:auto}

#annotate_wizard3 input,#annotate_wizard3 textarea {width:100%}

#annotate_csv_panel_container {overflow:auto;padding:1px}
#annotate_csv_panel{width:100%;border:#000 1px solid;font-size:10px;}
#annotate_csv_panel th {font-weight:bold;border:#000 1px solid;}
#annotate_csv_panel td {text-align:left;border:#000 1px solid;}


/*upload*/
#zone-documents td { vertical-align: top; font-size:small;}
#zone-documents td { border-top: dotted gray 1px;  padding-top: 5px; padding-bottom:8px; }

#zone-documents table { }
.fiche-document { width: 70%; }
.logo-document { width: 130px; text-align: center; }

.ajaxloading {
	background-image: url([(#CHEMIN{images/searching.gif}|url_absolue)]);
	background-repeat:no-repeat;
	background-position:center center;
}
