/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:4999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:transparent;}
#colorbox{}
    #cboxTopLeft{width:20px; height:20px; background: transparent url('images/fancy_shadow_nw.png') no-repeat;}
    #cboxTopRight{width:20px; height:20px; background: transparent url('images/fancy_shadow_ne.png') no-repeat;}
    #cboxBottomLeft{width:20px; height:20px; background: transparent url('images/fancy_shadow_sw.png') no-repeat;}
    #cboxBottomRight{width:20px; height:20px; background: transparent url('images/fancy_shadow_se.png') no-repeat;}
    #cboxMiddleLeft{width:20px; background: transparent url('images/fancy_shadow_w.png') repeat-y;}
    #cboxMiddleRight{width:20px; background: transparent url('images/fancy_shadow_e.png') repeat-y;}
    #cboxTopCenter{height:20px; background: transparent url('images/fancy_shadow_n.png') repeat-x;}
    #cboxBottomCenter{height:20px; background: transparent url('images/fancy_shadow_s.png') repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{padding:10px;}
        #cboxTitle{ position: absolute; left: 10px; right: 10px; bottom: 10px; padding: 0 10px;
        	text-align: center; color: #fff; font-weight: bold; font-size: 0.9em; background-image: url('images/fancy_title_over.png'); }
        #cboxCurrent{position: absolute; left: -3000em}
        #cboxPrevious{position: absolute; top: 0; left: 15px; width: 35% ; height: 100%; text-indent:-9999px;}
        #cboxPrevious.hover{background:url(images/fancy_left.png) left 50% no-repeat;}
        #cboxNext{position: absolute; top: 0; right: 15px; width: 35% ; height: 100%; text-indent:-9999px;}
        #cboxNext.hover{background:url(images/fancy_right.png) right 50% no-repeat;}
        #cboxSlideshow{position:absolute; top: -12px; left:-15px; width: 30px; height: 30px;
        	background:url(images/fancy_play.png) 0 0 no-repeat; text-indent:-9999px;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; top: -12px; right: -15px; height: 30px; width: 30px;
        	background:url(images/fancy_closebox.png) 0 0 no-repeat; text-indent:-9999px;}

        .cboxSlideshow_on #cboxSlideshow{background:url(images/fancy_pause.png) no-repeat;}
        .cboxSlideshow_off #cboxSlideshow{background:url(images/fancy_play.png) no-repeat;}