.ui-datepicker {
    display:block;
    padding:0.2em 0.2em 0;
    width:17em;
    font-size:0.9em;
}

.ui-widget-header {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#5c9ccc ;
    border:1px solid #4297d7;
    color:#ffffff;
    font-weight:bold;
}

.ui-widget-content {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#fcfdfd ;
    border:1px solid #a6c9e2;
    color:#222222;
}

/* Jours quelconques du mois */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#dfeffc ;
    border:1px solid #c5dbec;
    color:#2e6e9e;
    font-weight:normal;
}

/* Jour J */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#fbec88 ;
    border:1px solid #fad42e;
    color:#363636;
}

/* Jour Actif */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#f5f8f9;
    border:1px solid #79b7e7;
    color:#e17009;
    font-weight:normal;
}

/* Jours des mois precedent/suivant */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background-image:none;
    opacity:0.35;
}