#liste_tri {
  margin: 1em 1em;
  padding: 0;
  list-style-type: none;
}

#liste_tri {
  margin: 0;
}

#liste_tri li {
     border-bottom: 1px solid rgb(204, 204, 204);
     padding: 2px 2px 2px 18px;
     background: rgb(224, 224, 224) none no-repeat scroll 1% 50%;
     -moz-background-clip: -moz-initial;
     -moz-background-origin: -moz-initial;
     -moz-background-inline-policy: -moz-initial;
     font-family: Verdana,Arial,Sans,sans-serif;
     font-size: 11px;
     text-decoration: none;
     overflow: hidden;
     cursor: move;
 }

#liste_tri li span.titre {
     display: block;
     float: left;
     width: 70%;
}

#liste_tri li span.lien {
     display: block;
     float: left;
     width: 15%;
}