ul.nuage,dl.nuage {
	margin:0;
	padding: 0;
	list-style: none;
}
ul.nuage li,dl.nuage dt {
	display: inline;
	white-space: inherit;
	font-size:1em;
}

.nuage .frequence {
	display: block;
	float: left;
	height: 0;
	overflow: auto;
	width: 0;
}
a.nuage1{font-size:0.7em;}
a.nuage2{font-size:0.8em;}
a.nuage3{font-size:0.9em;}
a.nuage4{font-size:1em;}
a.nuage5{font-size:1.1em;}
a.nuage6{font-size:1.2em;}
a.nuage7{font-size:1.3em;}
a.nuage8{font-size:1.4em;}
a.nuage9{font-size:1.5em;}
a.nuage10{font-size:1.6em;}
