/**************************/
/* ZKTX Feuille générique */
/**************************/  

/* Reset */

	* {border:0px none; font-style:normal; margin:0px; padding:0px; text-decoration:none;}
	body { font-size:100%; line-height:140%; padding:0px;}

/* Elements_ */
	
	body {font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, sans-serif; line-height:1.5em; color:#111;} /* http://romy.tetue.net/lucida-grande */

	h1, h2, h3, h4, h5, h6, 
	.h1, .h2, .h3, .h4, .h5, .h6 {font-weight:normal; margin:1em 0em;}

	h1, .h1 { font-size:2em;}
	h2, .h2 { font-size:1.4em; }
	h3, .h3 { font-size:1.3em; }
	h4, .h4 { font-weight:bold; font-size:1.1em; color:#333; }
	h5, .h5 { font-weight:bold; color:#999; }
	h6, .h6 { font-weight:bold; }

	p {margin: 1em 0;}
	strong, b {font-weight:bold;}
	em, i {font-style:italic;}
	u, .u {text-decoration:underline;}
	del, .del {text-decoration:line-through;}
	ins, .ins  {color:#F00;}
	a:link, a:visited {text-decoration:underline;}
	a:hover, a:active, a:focus { text-shadow:0px 0px 1px #111;}
	ul {margin:0;}
	li { list-style:square; padding:0; margin:0.5em 1em; }
	blockquote, .blockquote { padding:10px; background:transparent url(img/bg_extra.png) scroll no-repeat center center; }
	blockquote p,  .blockquote p { text-align:justify; font-style:italic; font-size:1.3em; color:#999;}

	/* Tableaux */
	table { margin-bottom:1.5em; width: 100%; }
	th { font-weight: bold; }
	thead th, tbody th { background: #CCC; }
	th,td,caption {padding:0.75em; }
	tbody tr:nth-child(even) td, tbody tr.even td { background: #e5ecf9; }
	tfoot { font-style: italic; }
	caption, .caption { background: #eee; }

	/* Enluminures typos */
	.caractencadre-spip { background-color: #EEE; }
	.caractencadre2-spip { background-color: #EEE; }
	
	/* CS Décoration (ou pas !) */
	.invisible {position:absolute; top:-9999em;}
	.nettoyeur {width:100%; clear:both;}
	.gauche {text-align:left;}
	.centrer { text-align:center; display:block; /* sinon bug avec "décobalise" <centrer> (ou span.centrer selon utilisation) */ }
	.droite {text-align:right;}
	.fl-gauche {float:left;}
	.fl-droite {float:right;}
	.share {float:left; padding:0; margin:0;}
	.zomm:hover {z-index: 50 !important;  -moz-transform: rotate(0deg) scale(1.3) !important; -webkit-transform: rotate(0deg) scale(1.3) !important; transform: rotate(0deg) scale(1.3) !important; transition: transform .1s ease-in; -moz-transition: -moz-transform .1s ease-in; -webkit-transition: -webkit-transform .1s ease-in;}
	.rotate-gauche {-moz-transform: rotate(-2deg); -webkit-transform: rotate(-2deg); transform: rotate(-2deg);}
	.rotate-droite {-moz-transform: rotate(2deg); -webkit-transform: rotate(2deg); transform: rotate(2deg);} 
	
	/* Boutons > Call to action */
    /* insérer ici les styles additionnels à varicelle */


/* Structure */

	.page {background:#FFF; margin:0 auto; position:relative; max-width:1120px; padding:0 0 1em 0; box-shadow:1px 1px 60px #111;}
	#header { background: #EFEFEF; position:relative; overflow:hidden; padding:1em; }
	#nav {width:100%; margin:0; padding:1em 0; background: #EFEFEF; border-top:6px solid black;}
	#container { margin:0 auto; padding:0 1em;}
	.content {clear:both; padding:0;}
	.extra { width:100%; clear:both; margin:1em 0; }
	#footer {width:100%; clear:both; margin:1em auto; padding:0;}

	/* Préparer le terrain pour un mode 'one-page layout'
	.content-wrapper {}
  .panel {padding: 2em 0; margin: 0 0 4em 0; clear:both;}
	*/
	
	/* Préparer le terrain pour affichage en colonne responsive */
	
	.liste, .extra, .col, .container { *zoom: 1; }
	.liste:before, .liste:after,
	.extra:before, .extra:after, 
	.col:before, .col:after,
	.container:before, .container:after { display: table; line-height: 0; content: ""; }
	.liste:after, .extra:after, .col:after, .container:after { clear: both; }

	/* largeur de blocs (responsive WD) */
	.un-demi, .un-tiers, .un-quart, .un-cinq, .deux-tiers, .trois-quarts { float:left; margin:0 1em 1em 0;}
	.un-demi.last, .un-tiers.last, .un-quart.last, .un-cinq.last, .deux-tiers.last, .trois-quarts.last { margin-right:0; }
	.un-demi { width:49.266237258911136529%; }
	.un-tiers { /* width: 31.914893617021278%; *width: 31.861702127659576%; */ width:32.3544712%; }
	.un-quart { width:23.898591%; margin-right: 1em; }
	.deux-tiers { width:60%; }
  .un-cinq { width:18.82506%; }


/* Header */

	#nom_site_spip, #slogan_site_spip { line-height:2em; }
	#logo_site_spip {float:left; margin:0 1em 0 0;}
	#nom_site_spip {  }
	#slogan_site_spip {  }

/* Contenus */
	
	/* header.cartouche */
	.cartouche, .comment-form { background:none transparent; width:32%; padding:0 10px 0 0; margin:0 30px 0 0; float:left; }
	.cartouche ul, .cartouche li { padding:0; margin:0; background:none transparent; }
	
	/* section.texte */
	.texteencadre-spip, .chapo, .formulaire_spip, .oembed.oe-rich { display:block; margin:1.5em 0; padding:1em 1.5em; background:#EFEFEF; border:0px none; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }
	.texte, .comments-list { float:left; width:62%; padding:3.5em 0 0 20px; }
	.notes {float:left; width:32%; border-right:1px solid #BBB; margin-top:-90px; padding-right:20px;}
	.notes p {color:#BBB; font-size:0.8em;}

	/* Section Listes
			
			Avant je m'emmelais bien les pinceaux dans tout ça...
			Mais ca, c'était avant !
		
		* .liste ou .menu = DIV ou SECTION englobante 
				* .menu = une liste simple en bloc
				* .liste = une liste d'encadres flottants	
		* .liste-items = l'ul
		* .item = la li
	
	*/
	.liste .liste-items { margin:0;}
	.liste .item { list-style:none; float:left; background: transparent none;  padding:0; 
		min-height:240px; /* trouver mieux ! */
	}
	.liste .item:hover { background:#EFEFEF; }
	.liste .item h3 { background:none transparent; font-weight:bold;}
	.liste .item:hover { background-color: #eee;}
	.liste .item .h3 { margin:0;}
	.liste .item .h3 a:hover { }
	.liste .item .entry-content { margin:0; font-size:0.9em; vertical-align:top; }

	.liste .spip_logos { float:left; margin:0 1em 0 0; }
	
	.content .pagination {clear:both; padding:40px 0 20px 0; text-align:right;}	

        /* Menus et "petites" listes */
        .menu ul {margin:1em 0;}
        .menu li ul {margin:0;}
        .menu li {list-style:none; margin:0; padding:0.25em 0; border-bottom:1px solid #111;}
        .menu li ul li {border-bottom:0px none; font-size:0.9em; padding-left:1em;}
	
/* Formulaires > Habillage */

	input, textarea, select { -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; }
	.bugajaxie { display: none; } /* Bug IE/Win */

	/* Conteneur */
	.formulaire_spip { clear:both; margin:0; padding:1em; text-align:left; }
	.formulaire_spip li {background:none transparent; padding:0; margin:0;}
	.formulaire_spip h2.legend {}

	/* Fieldset */
	.formulaire_spip fieldset {clear:both; margin:0; padding:0; border:0;}
	.formulaire_spip .fieldset {list-style:none;}
	.formulaire_spip fieldset ul {border:0px; overflow:hidden; padding:0; margin:0; }
	.formulaire_spip fieldset legend { margin: 0 0 1em 0; padding: 0; font-size: 1.25em; font-weight: bold; } /* Preciser la couleur des legend et du fond pour IE/Win */
	.formulaire_spip fieldset fieldset { margin-top:1.5em; }
	.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

	/* Messages de retours */
	.reponse_formulaire { margin-bottom:1.5em; padding: 0.75em; border: 2px solid #ddd;  -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }
	.reponse_formulaire_ok { background: #e6efc2; color: #264409; border-color: #c6d880; }
	.reponse_formulaire_erreur { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
	.reponse_formulaire_ok a { color: #264409; }
	.reponse_formulaire_erreur a { color: #8a1f11; }

	/* Lignes */
	.formulaire_spip .editer {list-style:none; margin:0; padding:0;}
	.formulaire_spip .large .editer {width:440px;} 
	
	/* Champs obligatoires */
	.formulaire_spip li.obligatoire {}
	.formulaire_spip li.obligatoire label {font-weight: bold;}
	
	/* Explications */
	.formulaire_spip .explication { background:none transparent; color:#444; margin:0; padding:0 10px; font-size:0.8em; text-align:right; line-height:normal;}

	/* Labels */
	.formulaire_spip .editer>label { display:block; text-align:left; font-weight:normal; font-size:0.9em; }
	.formulaire_spip .choix label {display:inline; font-weight:normal;  font-size:0.8em; line-height:20px;}
	.formulaire_spip .choix input.radio,
	.formulaire_spip .choix input.checkbox {width:auto;}

	/* Champs de saisie */
	.formulaire_spip input.text, .formulaire_spip textarea, .formulaire_spip select { width:100%; border:1px solid #CCC; }
	.formulaire_spip textarea { margin-top:2px; }
	.formulaire_spip .large textarea  {height:160px;}
	/* Boutons */
	.formulaire_spip .boutons { clear: both; margin:0 0 25px 0; padding: 0; text-align: center; }
	.formulaire_spip .boutons input { margin-left: 1em; }
	.formulaire_spip .boutons input, input.submit {}


	/* Previsualisation du message */
	fieldset.previsu { margin-bottom: /*@margin-bottom*/1.5em/*/@*/;padding: /*@demi-margin-bottom*/0.75em/*/@*/; border: 2px dashed #F57900; }
	fieldset.previsu legend { color: #F57900; }
	fieldset.previsu legend { padding-left:0.50em; font-weight: bold; color: #F57900; }
	/* Reponse du formulaire */
	fieldset.previsu .reponse_formulaire { font-weight: bold; color: #e86519;}
	fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }

	/* * Erreurs */
	.editer.erreur { background-color: #fbe3e4; }
	.editer .erreur_message { display: block; color: #C30; font-weight: bold;}
	
	/* Messages de retours */
	.reponse_formulaire { margin-bottom: /*@margin-bottom*/1.5em/*/@*/; padding: /*@demi-margin-bottom*/0.75em/*/@*/; border: 2px solid #ddd; }
	.reponse_formulaire_ok { background: #e6efc2; color: #264409; border-color: #c6d880; }
	.reponse_formulaire_erreur { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
	.reponse_formulaire_ok a { color: #264409; }
	.reponse_formulaire_erreur a { color: #8a1f11; }	

/* Formulaires > Variantes et cas particuliers */

	/* Selection des langues */
	.formulaire_menu_lang { margin: 0; padding: 0; background: none; border: 0;}
	.formulaire_menu_lang select {width: 15em;}

	/* Formulaires de recherche (site / petitions) */
	.formulaire_recherche { padding: 0; background: none; border: 0;}
	.formulaire_recherche * { display: inline; vertical-align: middle; }
	.formulaire_recherche label {display: block;}
	.formulaire_recherche input.text { width: 10em; padding-left: 25px; background: #FFF url(img/rechercher.gif) no-repeat left center; }
	.formulaire_recherche input.submit {}

	/* Choix des mots-clefs */
	.choix_mots li { float: left; width: 30%; padding: 1%; }

	/* Formulaire de login dans une page */
	.formulaire_login .editer {clear:left;}
	.formulaire_login input.text,.formulaire_login input.password {width:15em;}
	.formulaire_login .editer_password .details {margin-bottom:0;}
	.formulaire_login #spip_logo_auteur {float:right;}


/* Asides */
		
	/* VCard */
	/*
	.vcard {}
	.vcard .email { }
	.vcard a.email:link, .vcard a.email:visited {}
	.vcard a.email:hover, .vcard a.email:active, .vcard a.email:focus {}
	.vcard .tel {}
	.vcard .org {}
	.vcard .adr {}
	.vcard .region, .vcard .country-name {} 
	*/

/* Navigation */

	/* Skip Links */
	
	.skiplink {font-size:0.8em;}
	
  .skiplink.nettoyeur { margin:1em 0; text-align:right; }
	
	.skiplink.remonter a:link, .skiplink.remonter a:visited,
	.skiplink.descendre a:link, .skiplink.descendre a:visited {padding:0 1.5em 0 0; text-decoration:none; opacity:0.3;}
	.skiplink.remonter a:hover, .skiplink.remonter a:active, .skiplink.remonter a:focus, 
	.skiplink.descendre a:hover, .skiplink.descendre a:active, .skiplink.descendre a:focus {color:#000; text-decoration:none; opacity:1;} 
	.skiplink.remonter a {background: transparent url(img/remonter.png) scroll no-repeat right center;}
	.skiplink.descendre a {background: transparent url(img/descendre.png) scroll no-repeat right center;}
	
	#raccourcis { position:absolute; top:0; right:0; margin:0; padding:0 1em; }
	
	/* 
		Terrain prepare pour mettre des pictos si vous le souhaitez :
		
		#raccourcis a:link, #raccourcis a:visited { padding:0 0 0 1.8em; margin:0 0 0 2.8em; background:transparent; text-decoration:none; font-size:0.8em;}
		#raccourcis a:hover, #raccourcis a:active, #raccourcis a:focus {color:#111; text-decoration:underline;}
		#raccourcis a.go_content {background:url(img/picto_contenu.png) scroll no-repeat left top;}
		#raccourcis a.go_nav {background:url(img/picto_nav.png) scroll no-repeat left top;}
		#raccourcis a.go_map {background:url(img/picto_plan.png) scroll no-repeat left top;}
		#raccourcis a.go_plus {background:url(img/picto_accessibilite.png) scroll no-repeat left top;}
	*/
	#raccourcis .sep {display:none;}

	/* Navbar */
	#nav ul {padding:0; }
	#nav li {list-style:none; background:none transparent; padding:0; display:inline;}
	
	#nav li a:link, #nav li a:visited { padding:0; color:#000; font-weight:normal; font-size:1.2em; text-decoration:none; }
	#nav li a:hover, #nav li a:active, #nav li a:focus { text-shadow:0px 0px 12px #111; }
	#nav li.on a { }
	
	#nav li.accueil {  } 
	#nav li.accueil a:link, #nav li.accueil a:visited  { }



#nav, .pinned{ z-index: 20000; }
#nav ul li a.logo { display: none; margin: 0; }
#nav.pinned { text-align: right; width: 100%; margin: 0; position: fixed; top: 0; left: 0; z-index: 999; }

#nav.pinned ul {
	color: #fff;
	width: 910px;
	padding: 25px;
	margin: 0 auto;
	background-color: #C9C299;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	overflow: hidden;
}

#nav.pinned ul li a {
 	color: #fff;
}

#nav.pinned ul li a:hover, #nav.pinned ul li a.on {
 	color: #707070; 
}

#nav.pinned ul li a.logo {
 	display: inline;
	float: left;
	margin-top: -5px; 
}


.panel .pinned {
	margin: -60px 0 20px 0;
	border-bottom: 1px dotted #888888;
	overflow: hidden;
	float: none;
}

.panel .pinned ul li {
	display: inline;
	float: left;
	margin: 0 20px 15px 0;
}

.panel .pinned ul li a {
	font-size: 24px;
}

 
	/* Hierarchie */
	#hierarchie {font-size:0.9em; padding:1em 0em; text-align:left;}
	#hierarchie a:link, #hierarchie a:visited {  }
	#hierarchie a:hover,#hierarchie a:active,#hierarchie a:focus { }
	#hierarchie .sep { }
	
	/* Skiplinks #content */
	.skiplinks.nettoyeur {margin:1em 0; text-align:right;}

	/* Pagination */
	.pagination .sep,.pagination .label {display:none;}
	.pagination {background:none transparent; padding:10px 0 10px 0; text-align:center;}

	.pagination .lien_pagination {  margin:0; padding:0; text-decoration:none; color:#7d7d7d; }
	.pagination .lien_pagination span span {padding:10px 0px; }
	.pagination .lien_pagination span.pagin_prev span {font-size:1.2em; letter-spacing:-2px; padding-left:32px; background:transparent url(img/pagin_prev.gif) scroll no-repeat left center;}
	.pagination .lien_pagination span.pagin_next span {padding-right:22px; background:transparent url(img/pagin_next.gif) scroll no-repeat right center; font-style:italic;}
	.pagination .lien_pagination:hover, .pagination .lien_pagination:active, .pagination .lien_pagination:focus { color:#F90; }

	.pagination .on { padding:2px 5px; margin:0 2px; border:2px solid #222; color:#fff; font-weight:bold; background-color:#999; }
	.pagination .disabled { display:none; }

	.col .pagination .prev,.col .pagination .next {display: none;}


/* Pied */

	#footer { background:#EFEFEF; border-top:1px solid #CCC; text-align:center; font-size:0.80em;}
	#footer ul {margin:1em;}
	#footer ul li {list-style:none; display:inline; padding:0; background:none transparent;}
	#footer a:link, #footer a:visited { color:#7A7B7B; text-decoration:none;} /* ne pas utiliser de selecteur trop precis, et eviter de toucher aux liens */
	#footer a:active, #footer a:hover, #footer a:focus {color:#111; text-decoration:underline;}
	#footer img { vertical-align: middle; float:right; margin:-12px 0 25px 15px;}
	
/* ====================== MEDIAQUERIES ========================= */

/* 1/ smartphone */
@media only screen and (min-width: 320px) and (max-width: 480px) { 
/* marche sur mon galaxy note en portrait */
    body {font-size:120%;}
    #page {min-width:320px;max-width: 480px; padding:0; margin:0;}
    #header, #nav, #nom_site_spip, #slogan_site_spip, .texte, .chapo , .extras { 
			clear:both; 
			overflow:hidden;
			margin:0 auto; 
			padding:0; 
			float:none; 
			vertical-align:middle; 
			text-align:center;
		}

		#slogan_site_spip {font-size:0.9em;}
		#nav { float:none;}
		#nav ul { padding:0; margin:0; width:auto; clear:both; }
} 

/* 2/ smartphone portrait */
@media only screen and (max-width: 320px) { 
	/* OK IP4 iOs 5.1 paysage ET portrait */

}

/* 3/ "smartphone" paysage */
@media only screen and (min-width: 321px) and (max-width: 480px) { 
	/* ok Galaxy note portrait */

}

/* 4/ from 321 to 768 */
@media 	only screen and (min-width: 321px) and (max-width: 767px) { 
	/* OK Galaxy note portrait */

}

/* 5/ home only - from 481 */
@media only screen and (min-width: 481px) { 
	/* OK Galaxy note paysage */

}

/* 6/ from 481 to 1199 */
@media only screen and (min-width: 481px) and (max-width: 1199px) {

}

/* 7/ from 768 up */
@media only screen and (min-width: 768px) {

}

/* 8/ "tablet" */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	
}

/* 9/ "tablet" portrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* 10/ "tablet" paysage */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {

}

/* 11/ "desktop" */
@media only screen and (min-width: 1200px) {

}

/* 12/ Sortie papier */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  .formulaire_spip { display: none; }
}


