/* ----------------------------------------------------------- */
/* Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/* ----------------------------------------------------------- */



/*  ------------------------------------------
/* 	Typographie generale (style transversaux)
/*  ------------------------------------------ */
html { font-size: 100%; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS */
body { font-size: 0.80em; font-family: "Trebuchet MS", Helvetica, sans-serif; color: #333; }

/* Titraille / Intertitres */
h1 { margin: 0; padding: 0; font-size: 1.50em; font-weight: bold; color: #000; }
h2 { margin: 0; padding: 0.20em 0.40em; background: #8B6F92; font-size: 1.20em; font-weight: bold; }
h2, h2 a, h2 a:hover { color: #EEE; }
h3.spip {} /*Cf.: spip_style.css*/

/* Divers */
hr.spip {} /*Cf.: spip_style.css*/
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.71em; color: #666; }
/* Attention : en dessous de 0.71em le texte devient illisible en text smallest sur IE/Win */

/* Listes SPIP */
.spip_puce {} /*Cf.: spip_style.css*/
ul.spip {} /*Cf.: spip_style.css*/
ol.spip {} /*Cf.: spip_style.css*/
li.spip {} /*Cf.: spip_style.css*/

/* Citations, code et poesie */
blockquote.spip {} /*Cf.: spip_style.css*/
blockquote.spip_poesie {} /*Cf.: spip_style.css*/
.spip_code {} /*Cf.: spip_style.css*/
.spip_cadre {} /*Cf.: spip_style.css*/

/* Tableaux */
table { border-collapse: collapse; border-spacing: 0; }
table.spip {} /*Cf.: spip_style.css*/

/* Logos, documents et images */
.spip_logos {} /*Cf.: spip_style.css*/
.spip_documents {} /*Cf.: spip_style.css*/
.spip_documents_center {} /*Cf.: spip_style.css*/
.spip_documents_left {} /*Cf.: spip_style.css*/
.spip_documents_right {} /*Cf.: spip_style.css*/
.spip_doc_titre {} /*Cf.: spip_style.css*/
.spip_doc_descriptif {} /*Cf.: spip_style.css*/


/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
body { background: #FFF; margin: 0; padding: 0; text-align: center; }

div#page { width: 750px; margin: 0 auto; text-align: left; }

div#top { margin: 0; border-bottom: 2px solid #8B6F92; padding-top: 1em; }
div#top #nom_site_spip, #top a .spip_logos { display: block; float: left; font-weight: bold; font-size: 1.50em; }
div#top .formulaire_recherche { float: right; width: 30%; background: none; margin: 0; padding: 1em 0; }
div#top .formulaire_recherche label {}
div#top .formulaire_recherche input.forml { width: 70%; }
div#top .formulaire_recherche input.bouton { vertical-align: middle; }

div#wrapper { clear: both; float: left; width: 67%; overflow: hidden; }
div#contenu { padding-top: 0.30em; }

div#navigation { float: right; width: 30%; overflow: hidden; }
div#extra { float: right; clear: right; width: 30%; overflow: hidden; }

div#pied { clear: both; width: 100%; margin: 0; padding: 0.40em 0; border-top: 1px solid #8B6F92; text-align: center; font-size: 0.77em; }
div#pied img { vertical-align: bottom; }

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

/* Affichage pour les petits ecrans (type 400 x 300) */
@media handheld { div#page, div#wrapper, div#navigation, div#extra { width: auto; } }


/*  ------------------------------------------
/*  Habillage des elements du contenu
/*  ------------------------------------------ */

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.77em; color: #666; }

.surtitre, .soustitre { font-size: 0.90em; color: #999; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche .traductions { font-size: 0.77em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }

.chapo { margin-bottom: 1.50em; font-weight: bold; color: #669; line-height: 1.40em; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
#documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
#documents_portfolio a:hover .spip_logos { border-color: #F57900; }
#documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin-top: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }


/* Habillage des formulaires
---------------------------------------------- */
input, textarea, select { font-size: 100%; font-family: inherit; }
.forml, textarea, select { width: 99%; background: #F4F8F8; border: 1px inset #CC9; color: #000; }

/* Formulaires de SPIP */
.formulaire_spip { background: #EEC; margin-bottom: 2em; padding: 1em; text-align: left; color: #330; }
.formulaire_spip fieldset { margin: 0; margin-bottom: 1em; padding: 0; border: 0; border-top: 1px solid #CC9; }
.formulaire_spip legend { margin: 0; padding: 0; padding-right: 0.50em; color: #330; } /* preciser la couleur des legend pour IE/Win */
.formulaire_spip label { display: block; font-size: 0.90em; }
.formulaire_spip textarea { margin-bottom: 1em; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; }
.reponse_formulaire, .reponse_formulaire legend { color: #F57900; } /* preciser la couleur des legend pour IE/Win */
fieldset.reponse_formulaire { border-color: #F57900; font-weight: normal; }
.spip_surligne {} /*Cf.: spip_style.css*/

/* Previsualisation du message */
fieldset.previsu { padding: 1em; border: 2px solid #F57900; }
fieldset.previsu legend { padding: 0 .4em; color: #F57900; font-weight: bold; }
fieldset.previsu .spip_bouton input { background: #F57900; border-color: #F57900; color: #FFF; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche {}
.formulaire_recherche .forml {}

/* Menu langues */
.menu_langues { background: none; margin: 0; padding: 1em 0; vertical-align: top; }
.formulaire_menu_lang { background: none; margin: 0; padding: 1em 0; }


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 2.50em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; /*font-size: 0.88em;*/ background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }


/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; /*font-size: 0.77em;*/ }
#signatures h2 { padding: 0.50em; text-align: center; font-size: 1.20em; font-weight: bold; }
#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */
#signatures td.signature-date { background: #E4F0F0; padding: 0.50em; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; padding: 0.20em; text-align: center; font-weight: bold; }
#signatures td.signature-message { background: #F4F8F8; padding: 0.40em; /*font-size: 0.96em;*/ }


/*  ------------------------------------------
/*  Sous-navigation et autres menus
/*  ------------------------------------------ */

/* Habillage general des menus de navigation */
.menu { clear: both; margin-bottom: 2em; text-align: left; }
.menu p { margin: 0.20em 0; padding: 0.20em 0.10em; }
.menu ul { margin: 0; padding: 0; list-style: none; }
.menu ul li { margin: 0.20em 0; padding: 0.20em; border-bottom: 1px solid #DDD; }
.menu ul li ul { margin-left: 1em; }
.menu ul li li { padding: 0; border: 0; }

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* Rubriques */
.rubriques ul li { background: #EEE; border: 0; }

/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.40em 0; padding: 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; line-height: 1.40em; }


/* Couleurs des liens
---------------------------------------------- */
a { color: #604A7F; text-decoration: none; }
a:hover { color: #F57900; text-decoration: underline; }

/*  ------------------------------------------
/*  Sstyles specifiques aux squelettes
/*  ------------------------------------------ */
table.recents { border: 1px solid #8b6f92; width: 99%; margin: 1em 0 0 1px; }
table.recents thead { text-align: center; font-weight: bold; background: #8b6f92; color: #eee; }
table.recents td { padding: 3px; }
.centrer { text-align: center; }