.formulaire_editer_noisette li.fieldset {margin-left:10px; margin-right:10px; border-left: solid 1px #CCC; border-right: solid 1px #CCC; border-bottom: solid 1px #CCC;}
ul.liste-noisettes li.noisette {padding-left: 30px; background-repeat: no-repeat; background-position: left 9px;}
ul.noizetier-liste-pages li.page {padding-left: 30px; background-repeat: no-repeat; background-position: left 9px;}
ul.bloc li.noisette {min-height:36px;}
ul.liste-noisettes .icone {width:36px; height:36px; padding:0; margin-left: 10px;}
ul.liste-noisettes .icone a {width:36px; height:36px; padding:0;}
ul.liste-noisettes .icone b {display:none;}
.icones_texte ul.liste-noisettes .icone b {display: block;}
.icones_texte ul.liste-noisettes .icone {width:60px;}
.icones_texte ul.liste-noisettes .icone a {width:60px;}
ul.liste-noisettes .noisette-up-24, ul.liste-noisettes .noisette-down-24, ul.liste-noisettes .noisette-del-24 {display:none;}
ul.liste-noisettes li:hover .icone {display:block;} 
.valider_rang input.link{background:none;border:0;cursor:pointer;padding:0 0 1px;color:#444}
.valider_rang input.link:hover{border-bottom:1px solid;padding:0}
.formulaire_ajouter_noisette ul.liste-noisettes-disponibles {margin: 10px;}