.cfg_exemples_perso{
	border:1px solid #fc6; 
	margin:0.5em 0.5em 1em 0.5em; 
	padding:0.5em;
}

.spip_cadre{
	border:1px solid #FFB25E;
	border-left:4px solid #FFB25E;
	padding: 0.5em;
	font-size:90%;
	background:#F2F2F2;
	color:#3B3B3B;
	width:95%;
}

.cfg_message{
	font-weight:bold;
	color:#E34900;
}
.formulaire_message{color:#4EB826;}
.formulaire_erreur{color:#ED291D;}
h2{margin-top:1em;}

