/* Created by Helga Cleve
http://www.the-id.net
thaleia@mac.com */
a:link, a:visited {
	color: #767676;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	background: #e3e3e3;
	text-decoration: none;
	font-size: 110%;
	font-style: italic;
}
body, html {
	margin: 0;
	padding:0;
	background: #FFF; 
	text-align: center;
	font: 11px/17px Georgia, Verdana, Arial, sans-serif;
}
h2 {
	display: block;
	margin: 0;
	padding: 0;
	color: #C2CCC9;
	font: normal 18px Georgia, Clarendon, "Times New Roman", Times, serif;
}
h3 {
	display: block;
	margin: 0;
	padding: 0;
	font: normal 15px Georgia, Clarendon, "Times New Roman", Times, serif;
}
input, textarea {
	border: #949494 1px solid;
	background: #d1d1d1;
	font-size: 11px;
}
p.credit {
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
}
.credit {
	clear: both;
}
.feedback {
	margin-bottom: 30px;
	padding: 0;
	border-bottom: #d1d1d1 solid 1px;
	text-align: right;
}
.meta li {
	display: inline;
}
.meta ul {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}
.storytitle {
	display: block;
	margin: 0;
	padding: 0;
	font: normal 18px Georgia, Clarendon, "Times New Roman", Times, serif;
}
#content {
	float: left;
	width: 499px; /*500*/
	margin: 0;
	padding: 20px;
	background: transparent;
}

#clearer {
	height: 0;
	clear: both;
	}
	
#footer {
	clear: both;
	height: 20px;
	margin: 0;
	background: pink;
	padding: 0;
	}
	
#header {
	margin: 0;
	padding: 0;
	width: 700px;
	height: 130px;
	background-image: url(images/pups.jpg);
	color: #0E0E0E;
}

#header a {
	background: transparent;
	color: #F0F0F0;
	margin-left: 5px;
}
	
#menu {
	width: 200px;
	margin: 0 0 0 20px;
	float: left;
	text-align: left; 
	padding: 20px 10px 10px 10px;
	background: transparent;
	}

#menu ul {
list-style: none;
margin: 0 0 0 5px;
padding: 0;
text-align: left;
line-height: 120%;
width: 180px;
}

#menu ul li {
list-style: none;
margin: 0;
padding: 0;
}

#menu ul li ul li{
background: url(http://www.kartooner.com/archives/images/bullet.gif) left no-repeat;
background-position: 0 .4em;
padding: 0 0 3px 11px;
list-style: none;
}

#menu a,  a:visited {
color: #A3779D;
text-decoration: none;
}

#menu a:hover {
color: #764C69;
}


#menu p {
color: #943192;
font-size: 10px;
line-height: 140%;
}

/*	
#menu a {
	display:block;
	text-decoration:none;
	color:#575757;
	padding-left: 5px;
}

#menu a:hover {
	background-color: #C3D3E2;
	color: #fff;
}
	
#menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	margin:0;
}
#menu ul {
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
}

.recent {
	list-style-type: none;
	list-style-image: url(polynia/images/listbullet.gif);
	list-style-position: inside;
	}
	
#menu ul ul {
	margin: 0;
	padding: 0 0 20px 0;
	list-style-type: none;
}

#menu ul ul li {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: url(polynia/images/listbullet.gif);
	list-style-position: inside;
	}
*/

.post {
	width: 430px; /*508*/
	margin: 10px 30px 30px 35px;
	padding: 0px;
	text-align: left;
	}
		
#rap {
	width: 780px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	color: #2B2B2B;
}

#container {
	background: url(polynia/images/yellowbluebkg.jpg) repeat-y;
	width: 780px;
	margin: 20px 0px 0px 20px;
	padding: 0;
	text-align: left;
}
	
#search, #calendar, #other {
	display: none;
}


