ul,li {
	list-style: none;
	list-style-image: none;
}





div.puce_abo {
	position: relative; 
	left: 15px;
	top: -15px;
	height: 11px; 
	width: 11px;
}

div.puce_abo_fixe {
	position: absolute;
}

div.puce_abo_popup {
	position: absolute;
	visibility: hidden;
	margin-top: -1px; top: 0px; 
	border: 1px solid #666666; 
	background-color: #cccccc;
	z-index: 10; 
	-moz-border-radius: 3px;
}
div.puce_abo_popup img {
	padding: 1px;
	border: 0px;
}

div.puce_abo_popup {
	width: 22px; 
}
