/*
+--------------------------------------------+
| ACTIVITE DU JOUR v. 2.1 - 06/2011 - SPIP 2.1
+--------------------------------------------+
| H. AROUX . Scoty . koakidi.com
| D. Chiche . pour la maj 2.0
| T. Payet . pour la maj 2.1
| Script certifie KOAK2.0 strict, mais si !
+--------------------------------------------+
*/
.cell_info {
	margin-top:2px;
	padding:3px;
	border:1px solid #969696;
	-moz-border-radius:6px;
	font-family:Verdana,Arial;
	font-size:12px;
}

.alter-fond { background-color:#efefef; }

/* texte et jauge visites mois */
.cell_moymens, .cell_info_mois, .cell_info_tot {
	position:absolute;
	z-index:2;
}
.cell_moymens {
	top:-1px;
	left:50px;
	padding-left:2px;
	padding-right:2px;
	border:1px solid #878787;
	-moz-border-radius:4px;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	background:#FFFFFF;
}
.cell_info_mois {
	top:0px;
	left:5px;
}
.cell_info_tot {
	top:0px;
	right:5px;
}
.fond_barre {
	width:100%;
	height:11px;
	margin:1px;/**/
	background-color:#efefef;
	border-top:1px solid #696969;
	border-bottom:1px solid #C6C6C6;
}
/* ****************** */

.bouton_droite { float:right; margin-top:-2px; }

.bouton_maj {
	float:right;
	right:0;
	margin-bottom:3px;
	padding:4px;
	border:1px solid #CECECE;
	background-color:#efefef;
	-moz-border-radius:5px;
}

.cart_titre, .cart_titre_bold {
	margin:4px 10px 4px 10px; 
	padding:4px;
	border-bottom:1px solid #BABABA;
}
.cart_titre_bold { font-weight:bold; }

.cell_huit_t {
	padding:1px;
	color:#FFFFFF;
	font-family:Verdana;
	font-size:11px;
	text-align:center;
}
.cell_huit_m {
	padding:1px;
	font-family:Verdana;
	font-size:11px;
	text-align:center;
}
.cell_huit_p {
	padding:1px;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}

tr.head_tbl td {
	color:#FFFFFF;
	font-family:Arial;
	font-size:11px;
	text-align:center;
}

tr.legend_topten {
	font-family:Verdana; font-size:11px;
}
tr.legend_topten td { text-align:center; }

/* ****** page config ******* */
.table_conf {
	font-family:Verdana;
	font-size:12px;
}
td.col_info {
	width:80%;
	padding:5px;
	padding-bottom:10px;
}
td.col_val {
	width:20%;
	padding:5px;
	text-align:right;
}

/*  **** */
.bold { font-weight:bold; }

/* p supporte "presque par IE" et Gecko a consommer avec moderation */
p.space_5, p.space_10, p.space_20 {
	display:block;
	padding: 0px;
	border: none;
	margin:0px;
}
.space_5 { min-height:5px; _margin:5px 0px 0px 0px;  }
.space_10 { min-height:10px; _margin:10px 0px 0px 0px; }
.space_20 { min-height:20px; _margin:20px 0px 0px 0px; }
