/* --------------------------------------------------------------

   albums.css
   Style minimal pour les albums
   Cf.: http://www.spip-contrib.net/1550

-------------------------------------------------------------- */

.album					{}

/* VUE EN ICONES */
.album.vue_icones li			{ float: left; margin: 0 10px 10px 0; }
.album.vue_icones li .spip_logos	{ float: none; margin: 0; }
.album.vue_icones figure		{ display: table; width: 1px;} /* pour empecher le titre de dépasser */
  .album.vue_icones a,
  .album.vue_icones figcaption,
  .album.vue_icone img 			{ display: table-row; }

/* VUE EN LISTE */
.album.vue_liste 			{}

/* ALIGNEMENTS */
.album.center				{}
.album.left				{}
.album.right				{}
