/*   
Elegant Grunge par Michael Tyson (1.0.3)
http://michael.tyson.id.au/elegant-grunge-wordpress-theme
License: GNU General Public License v2.0
http://www.gnu.org/licenses/gpl-2.0.html
*/

body {
	margin: 0;
	padding: 0;
	background: #191919;
	font-family: "Palatino", "Georgia", "Baskerville", serif;
	color: #303030;
}

a {
	color: #3f3f3f;
}

img {
	border: 0;
}

/* Menu */

#menu {
	background-color: #191919;
	min-height:3.0em;
}

.menu-conteneur ul {
	width: 800px;
	margin: 0 auto;
	padding: 0;
	bottom: 0;
	left: 0;
	list-style: none;
}

.menu-conteneur li {
	float: left;
}

.menu-conteneur a {
	display: block;
	padding-right: 40px;
	line-height: 3.0em;
	color: #afafaf;
	text-decoration: none;
}

#menu .on a {
	font-weight: normal;
	color: #fff
}

#menu-liste menu-items .current_page_item a, .menu-conteneur a:hover {
	color: #fff;
}

/* Header */

#header-wrap {
	background: #f3f4ee url(img/header-repeat.jpg) repeat-x center top;
}

#header {
	height: 216px;
	background: url(img/header.jpg) no-repeat center;
	border-top: 1px solid #373737;
}

#header div {
	width: 800px;
	margin: 0 auto;
}

#header .spip_logos {
	float: left;
	padding:2em 0 0;
	padding-right: 1.3em;
	padding-left: 1em
}

#nom_site_spip {
	font: 2.2em/169px "Georgia", "Baskerville", serif;
	margin: 0;
	background: url(img/header-repeat.jpg) repeat-x center top;
}

#nom_site_spip a {
	color: #d3d3d3;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	text-shadow: #000 0 1px 2px;
	float: left;
}

#slogan_site_spip {
	position: relative;
	top: 65px;
	color: #7f7f7f;
	text-shadow: #000 0 1px 1px;
	left: 1.3em;
}

#formulaire_menu_lang select {
	float:right;
	width:10em;
	height: 17px;
	margin-top:-1.9em;
	font-size:.8em
}

#formulaire_menu_lang label { display:none }

/* Content */

#content-container {
	background: #f3f4ee url(img/body.jpg) repeat-y center top;
}

#content {
	width: 800px;
	clear:both;
	margin: 0 auto;
}


#body {
	float: left;
	width: 490px;
	padding: 0 20px;
}

/* Sidebar */

#sidebar {
	float: right;
	font-size: 0.9em;
	width: 220px;
	position: relative;
	left: -10px;
}

#sidebar ul.menu-liste, .articles ul, .forums ul, .mots ul {
	list-style: none;
	padding-left:1em;
}

.menu-entree a { text-decoration:none; }

#sidebar h2.h2, .forums a, .liste-items a {
	text-decoration:none;
	font-style: italic
}

#sidebar .menu-entree a:hover, .liste-items a:hover { color:#000; }

/* Search */

.sidebar #formulaire_recherche {
	margin:2em 0 2em 0;
	margin-left:-7px;
	padding:0;
	background: url(img/searchform.png) no-repeat left bottom;
	width: 226px;
	height: 64px;
}

.sidebar #formulaire_recherche input {
	width:10.5em;
	margin:1em 0 0 0;
	margin-left: 1.2em;
	padding:0 0 .5em 0;
	padding-left:.5em;
	border:0;
	background:transparent;
}

.sidebar #formulaire_recherche input.submit {
	border: 0;
	background: none;
	width: 39px;
	height: 26px;
	margin:0.9em 0 0 0;
	overflow: hidden;
	cursor: pointer;
	font-family: "Palatino", "Georgia", "Baskerville", serif;
	color: #3b3b3b;
	font-size: 1em;
	font-weight:bold;
	text-transform: uppercase;
}

.sidebar #formulaire_recherche input.submit:hover { color:#000; }

.sidebar #formulaire_recherche label { padding-left:.5em; }

/* Inscription */

#formulaire_inscription label { margin-bottom: .2em; }

#formulaire_inscription input.submit {
	margin-right: 1em;
}

#formulaire_inscription input.submit:hover { color:#000; }

/* Footer */

#footer-wrap-outer {
	background: #4c4c4c url(img/footer-repeat.jpg) repeat-x center top;
}

#footer-wrap {
	width: 100%;
	clear:both;
	background: url(img/footer.jpg) no-repeat center top;
	padding: 91px 0 30px;
}

#footer {
	width: 800px;
	margin: 0 auto;
	padding: 90px 7px 0 7px;
	min-height: 30px;
	font-size: .8em;
	color: #909090;
	text-align: center;
}

#footer a {
	text-decoration:none;
	color: #909090;
}

#footer a:hover { color: #fff; }

#footer #subscribe a {
	display: block;
	position: absolute;
	background-image: url(img/rss.png);
	width: 149px;
	height: 126px;
	margin-left: -126px;
	margin-top: -68px;
	text-indent: -2000px;
	overflow: hidden;
}

#copy1eft {	margin-top:3em ; }

/****************************
 **   Content
 ****************************/

/* General */

#hierarchie {
	margin:0;
	padding:0;
	line-height:1.3em;
	font-size: .8em;
	font-style: italic;
}

#hierarchie a {
	text-decoration:none;
}

#hierarchie a:hover { color:#000 }

.chapo {
	padding-left: 1em;
	font-weight:bold
}

.surtitre,.soustitre { margin-bottom: 0; padding-left: 0.5em; font-weight:bold }

.notes { font-size: .88em }

.auteurs a {
	text-decoration:none;
	color: #000;
}

h1, h2 {
	font-size: 2.4em;
	font-weight: normal;
	font-style: normal;
	color: #3b3b3b;
	margin-top: 0px;
	margin-bottom: 0.5em;
}

h1 { margin-top: 0.5em }

h2.h2 { font-size: 1.5em; }

h2 a, h3 a {
	text-decoration: none;
	color: #3b3b3b;
}

.sommaire h3.h3, .page_rubrique h3.h3, .page_plan #body h2.h2, .ps h2.h2, .notes h2.h2 {
	background-image: url(img/hr2.jpg);
	padding-top: 2em;
}

h2 a:hover, h3 a:hover, a.lire-la-suite:hover { color: #000; }

.texte, .ps, .notes { padding-left: 1em }

.hyperlien {
	font-size: .88em;
	text-align: right
}

.lire-la-suite-titre { display:none }

.meta-publi { font-size: .8em; }

ul.liste-items { list-style: none; } 

abbr.published { border:0; }

.info-publi {
	font-size:.9em;
	font-style: italic;
}

.page_article .info-publi {
	padding: 2em 0 1em;
	text-align: right
}

.pagination {
	clear: both;
	display: block;
	margin-top: 30px;
	margin-left: 20px;
	font-size: 0.9em;
	color: #88897b;
	background: url(img/more-link.png) no-repeat left center;
	padding-left: 30px;
}

a.lien_pagination { text-decoration: none;  }
a.lien_pagination:hover { color: #000 }

hr.spip {
	clear: both;
	border: 0;
	background-image: url(img/hr2.jpg);
	color: #f8faf7;
	background-color: #f8faf7;
	width: 426px;
	height: 10px;
	margin: -8px auto 0;
}

.hr hr {
	display: none;
}

.spip_logos {
	float: left;
	padding-right: 1em;
}

/* Formulaires - General */

#formulaire_site, #formulaire_forum {
	background: url(img/hr2.jpg) no-repeat center top;
	margin-top: 1em
}

#formulaire_forum, #formulaire_site, .formulaire_login {
	padding:2em 0 1.5em 0;
	width: 400px;
	margin-left: 1em;
	font-size:.88em
}

#nom_site, #url_site {
	width: 170px;
	padding-left: 1em
}

#formulaire_forum legend, #formulaire_inscription legend, #formulaire_login legend, .page_auteur .formulaire_ecrire_auteur legend { background: transparent; }

input.text, input.password, #nom_site input, #formulaire_inscription input.text, #formulaire_forum input.text, li.saisie_email_message_auteur input.text, li.saisie_sujet_message_auteur input.text, #formulaire_login input.text, #formulaire_login input#password, #formulaire_site input.text {
	margin:0;
	margin-left:-7px;
	padding:1em 0 .5em 0;
	padding-left: 1.1em;
	background: transparent url(img/form.png) no-repeat;
	width:203px;
	height: 24px;
	border:0;
}

#formulaire_forum textarea#texte, textarea#description_site, .saisie_texte_message_auteur textarea {
	width: 450px;
	max-height: 1170px;
	background:transparent url(img/comment.jpg) no-repeat;
	border:none;
	padding: 2em 0 0 0;
	padding-left: 2em;
}

select {
	font-size:.8em;
	background: transparent;
	border:none;
	color: #b3b3b3
}

select:hover {
	background:#eee;
	color: #000
}

.boutons input.submit {
	background: #eee;
	border:1px dotted #999;
	color: #3b3b3b;
	font-weight:bold;
}

.boutons input.submit:hover { color: #000 }

/* Comments */

#comments h2.h2 {
	background-image: url(img/hr2.jpg);
	padding:2em 0 1.5em;
	font-size: 1.2em;
	color:#000;
}

#comments ul { margin:0; padding:0 }
#comments ul ul { margin-left: 1.2em }
#comments ul ul ul { margin-left: 1em }
#comments ul ul ul ul { margin: 0 }

ul.forum, li.forum-fil { list-style:none }

ul.forum a { text-decoration: none }

.comment-message {
	background:transparent url(img/comment.jpg) no-repeat 140% 100%;
	width:487px;
	padding-left:0;
	font-size:0.9em
 }
 
.forum-chapo { padding-top:1em; }
 
.forum-chapo, .forum-texte {
	width: 85%;
	padding-left:2.3em
}

.forum-chapo abbr.date {
	border:0;
	font-style:italic
	}

p.repondre {
	margin-top:2.2em;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em; 
}
 
.forum-texte .repondre a {
	border-top:2px dotted #909090;
	padding-top:1em;
	line-height:5.5em;
	font-style:italic;
	font-weight:normal
}

.repondre a {
	text-decoration: none;
	font-size:.9em
}

.repondre a:hover { color:#000; }
