div#top{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:right;width:100%;margin-right:-33%}
div#contenu{margin-right:33%}
div#navigation{float:left;width:32.9%}
div#extra{float:left;clear:left;width:32.9%}
div#pied{clear:both;width:100%}