div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:left;width:100%;margin-left:-25%}
div#contenu{margin: 0 200px 0 25%}
div#navigation{float:left;width:200px;margin-left:-200px}
div#extra{float:left;width:25%}
div#pied{clear:left;width:100%}