div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#page{width:700px;margin:0 auto}
div#conteneur{float:left;width:100%}
div#contenu{margin-right: 300px}
div#navigation{float:left;width:150px;margin-left:-300px}
div#extra{float:left;width:150px;margin-left:-150px}
div#pied{clear:left;width:100%}