div#top{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:left;width:100%}
div#contenu{margin-right:200px}
div#navigation{float:left;width:200px;margin-left:-200px}
div#extra{clear:left;width:100%}