div#top h1{height:80px;line-height:80px;margin:0; padding-left:10px;}
div#conteneur{float:left;width:100%;margin-left:-200px}
div#contenu{margin: 0 25% 0 200px}
div#navigation{float:left;width:25%;margin-left:-25%}
div#extra{float:left;width:200px}
div#pied{clear:left;width:100%}