div#top {height:80px;line-height:80px;margin:0; padding-left:10px;}
div#conteneur{float:left;width:100%;margin-left:-33%}
div#contenu{margin-left:33%}
div#navigation{float:right;width:32.9%}
div#extra{float:right;clear:right;width:32.9%}
div#pied{clear:both;width:100%}