html,body{margin:0;padding:0}
div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#page{width:700px;margin:0 auto}
div#conteneur{float:left;width:100%}
div#contenu{margin: 0 150px}
div#navigation{float:left;width:150px;margin-left:-150px}
div#extra{float:left;width:150px;margin-left:-700px}
div#pied{clear:left;width:100%}