div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:left;width:100%}
div#contenu{margin: 0 33% 0 200px}
div#navigation{float:left;width:200px;margin-left:-100%}
div#extra{float:left;width:33%;margin-left:-33%}
div#pied{clear:left;width:100%}
