/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */
/* ----------------------------------------------
	Adaptation pour Spip-zen : Cedric Morin http://www.yterium.com
 ------------------------------------------------ */

/* Specificites SPIP */
h3.spip {text-align:left;}


#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche .published { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #669; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #F9F7DD; padding: 0.50em 1em; font-weight: bold; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
.documents_portfolio a:hover .spip_logos { border-color: #F57900; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }


/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.95em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/

.menu-liste, .liste-items  {list-style:none;}

.liste-items {border-top: 1px solid #C39F73;}
.liste-items .item {padding:5px;clear:both;overflow:hidden;background: url(img/dots.jpg) repeat-x left bottom}
.liste-items + .pagination {margin-top:0;padding-top:0;}

/* Listes d'articles et extraits introductifs */
.articles .liste-items .item { clear: both; padding: 0.40em 0.20em; }
.articles .liste-items .item .h3 { margin: 0.30em 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles .liste-items .item .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles .liste-items .item .introduction { margin-top: 0.30em; line-height: 1.40em; }
.info-publi {font-size:0.9em;}
.h3 + .info-publi {margin-top:-10px;}

/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}


/* tables */
tables.spip tr,tables.spip tr.row_odd,tables.spip tr.row_even {background:transparent;}
/* ----------------- */
/********************************************
   AUTHOR:  			Erwin Aligam 
   WEBSITE:   			http://www.styleshout.com/
	TEMPLATE NAME:		HarvestField
   TEMPLATE CODE: 	S-0015
   VERSION:          1.0          	
	DATE:             June-30-2007               
 *******************************************/
 
/********************************************
   HTML ELEMENTS
********************************************/ 

/* Top Elements */
* { margin: 0; padding: 0; border: 0 }

body {
	background: #E2DDD9 url(img/bg.jpg) repeat-y center top;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #6B4F2E; 
	text-align: center;		
}

/* links */
a, a:visited {	
	color: #BE420D;
	text-decoration: none;
}
a:hover {
	color: #88ac0b;
	text-decoration: underline;
}

/* headers */
h1,.h1, h2,.h2, h3,.h3, h3.spip {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold; 		
}
h1,.h1 {
	font-size: 160%;
	font-weight: normal;
}
h2,.h2 {
	font-size: 135%;
	text-transform: uppercase;
	color: #88ac0b;
}
h3,.h3, h3.spip {
	font-size: 135%;
	margin:10px 0 0;
}

h1,.h1, h2,.h2, h3,.h3, p {
	padding: 10px 0;
	margin: 0;
}
ul.spip, ol.spip, ul.forum ul.spip {
	margin: 5px 20px;
	padding: 0 20px;
}

/* images */
.spip_documents img,.spip_logos img {
	background: #FAFAFA;
	border: 1px solid #DCDCDC;
	padding: 5px;
}
.spip_documents_right {
  margin: 5px 10px 10px;
  margin-left: 10px;
}
.spip_documents_left {
  margin: 5px 0px 10px;
  margin-right: 20px;
}

.spip_code {font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace ;}
.spip_cadre {
	margin: 5px 0;
	padding: 10px;
	text-align: left;
	display: block;
	overflow: auto;
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
	/* white-space: pre; */
	background: #F9F7DD;
	border: 1px solid #E0DBC9;
	width:90%;
}
acronym,abbr {
	cursor: help;
	border-bottom: 1px solid #777;
}
blockquote.spip {
	margin: 10px 0;
	padding: 0 15px;
	padding-left:35px;
	background: #F9F7DD;
	border: 1px solid #E0DBC9;
	font: bold 1.3em/1.5em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #563E24;
}


/* start - table */
table.spip {
	border-collapse: collapse;
	margin: 10px 0;	
}
table.spip caption {
	margin: 10px 0;
	text-align:left;
}
table.spip th strong {
	color: #fff;
}
table.spip th {
	background: #93BC0C;
	height: 29px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: left;
	border:0;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #FFF;
}
table.spip tr {
	height: 30px;
}
table.spip td {
	padding-left: 11px;
	padding-right: 11px;
	border:0;
	border-left: 1px solid #E8E8E8;
	border-bottom: 1px solid #DFDFDF;
}
table.spip td.first,table.spip th.first {
	border-left: 0px;
}
table.spip tr.row_even {
	background: #F8F8F8;
}
table.spip tr.row_odd {
	background: #EFEFEF;		
}
/* end - table */

/* form elements */
.formulaire_spip {
	margin:1em 0; padding: 10px;
	background: #F9F7DD;
	border: 1px solid #E0DBC9; 	
}
.formulaire_spip fieldset legend {background: #F9F7DD;}
.formulaire_spip label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
.formulaire_spip input.text,.formulaire_spip input.password, .formulaire_spip select {
	padding:2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
.formulaire_spip textarea {
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
#contenu .formulaire_spip textarea {	width:400px;}

.formulaire_spip .boutons input,.formulaire_spip input.submit { 
	font: bold 12px Arial, Sans-serif; 
	height: 24px;
	margin: 0;
	padding: 2px 3px; 
	color: #FFF;
	background: #8EB50C;
	border: none;
}
.formulaire_spip .boutons {text-align:left;}

/* search form */
.formulaire_recherche {
	background-color: transparent;
	border: none;	
	margin: 0; padding: 5px 0 15px 0;	
}
.formulaire_recherche p { margin: 0; padding: 0; }
.formulaire_recherche input.text {
	width: 240px;
	color: #777; 
	height: 18px;
	padding: 2px;	
	border: 1px solid #E5E5E5;
	vertical-align: top;
	background-image:none;
}
#sidebar .formulaire_recherche input.text {
	width: 120px;
}
.formulaire_recherche input.submit {
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}
#sidebar .formulaire_recherche input.submit {
	width: 60px;
}

/********************************************
   LAYOUT
********************************************/ 
#wrap {
	position: relative;
	width: 830px;
	margin: 0 auto;
	text-align: left;
	border-right: 1px solid #FFF;
	border-left: 1px solid #FFF;
}
#content-wrap {
	position: relative;
	clear: both;
	float: left;	
	width: 830px;	
	padding: 0 0 2em;
	border-bottom: 2px solid #FFF;
	background: #F2EFBA url(img/contentbg.jpg) repeat-y center top;
	display: inline;
}
#header {
	width: 830px;
	position: relative;
	background: #FFF url(img/headerbg.png) repeat-x;
	padding: 15px 0 0;	
	color: #FFF;	
}
#header-image {	background: url(img/header.png) no-repeat center;	height: 175px;}

#header #nom_site_spip {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 55px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2.5px;
	color: #BE420D;
	text-decoration: none;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 45px; left: 20px;	
}
#header #nom_site_spip a {
	color: #BE420D;
}

#header #nom_site_spip a span {
	color: #444;
}

#header #slogan_site_spip {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 16px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #444;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 105px; left: 95px;		
}
#header .accueil img.spip_logos { 	
	position: absolute;
	/* change the values of top and left to adjust the position of the logo*/
	bottom: 10px; right: 10px;	
}

#header .formulaire_menu_lang { position: absolute; right: 0; top: 20px; display: block; margin:0;width: 235px;padding:0;background:none;border:0; } /*Cf.: spip_formulaires.css*/

/* header links */
#header #header-links {
	position: absolute;
	top: 25px; right: 10px;	
	color: #34160B;
	font-size: 12px;	
	font-weight: bold;
}
#header #header-links a {	
	color: #34160B;
	text-decoration: none;	
}
#header #header-links a:hover {
	color: #BE420D;	
}

/* Navigation */
#nav {
	position: relative;
	clear: both;	
	padding: 0;		
	width: 830px;
	margin: 0 auto;	
	background: url(img/menubg.jpg) repeat-x;
	height: 52px;
	overflow:hidden;
}
#nav #light-brown-line {
	position: absolute;
	background: url(img/light-brown-line.jpg) no-repeat;
	height: 10px; width: 240px;
	top: 0; left: 0;
}
#nav .menu-liste {
	position: absolute;
	list-style: none;
	text-transform: uppercase;
	padding: 0;	margin: 0;	
	right: 0; top: 0;
}
#nav .menu-liste .menu-entree {
	display: inline;
	margin: 0; padding: 0;
}
#nav .menu-liste .menu-entree a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 14px; 
	color: #FFF;
	font: bold 13px/52px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	text-decoration: none;		
}
#nav .menu-liste .menu-entree a:hover,
#nav .menu-liste .menu-entree a:active {
	background: url(img/menupointer.jpg) no-repeat center bottom;
}
#nav .menu-liste .menu-entree.on a {
	background: url(img/menupointer.jpg) no-repeat center bottom;
	color: #F2EFBA;	
}
#nav .menu-entree .menu-liste{
display:none;
}

/* Main Column */
#descriptif_site_spip {
	font: bold 14px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #444;
}

#main {
	float: right;
	width: 68%;
	padding: 0; margin: 0 10px 0 0;
	display: inline;	
}
#main .h2 {
	margin-top: 10px;
	font: bold 2.2em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #8C9F0D;
	letter-spacing: -1px;
	padding: 5px 0;
}
#main ul.spip li {
	list-style-image: url(img/bullet.gif);
}

.meta-publi {
	background: #F9F7DD;
	padding: 5px; margin: 20px 0 10px;
	font-size: 95%;	
	border: 1px solid #E0DBC9;
}
.meta-publi .date-redac{
	margin: 0 10px 0 5px;	
}
.meta-publi .nb_commentaires {
	margin: 0 10px 0 5px;	
}
.meta-publi .lire-la-suite {
	margin: 0 10px 0 5px;	
}

/* Sidebar */	
#sidebar {
	float: left;
	width: 25.5%;
	padding: 0; 
	margin: 0 0 0 15px;		
	display: inline; 
}	
#sidebar .h2,
#sidebar .formulaire_recherche label {
	margin-top: 10px;
	padding: 5px;
	font: bold 1.5em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #6B4F2E; 		
}
#sidebar .h2 a {color: #6B4F2E;}

#sidebar .menu-liste {
	text-align: left;
	margin: 7px 4px 8px 0; padding: 0;
	text-decoration: none;
	border-top: 1px solid #C39F73;
}
#sidebar .menu-liste .menu-entree {
	list-style: none;
	background: url(img/dots.jpg) repeat-x left bottom;
	padding: 4px 0 4px 5px;
	margin: 0 2px;		
}
* html body #sidebar .menu-liste .menu-entree {
	height: 1%;
}
#sidebar .menu-liste .menu-entree a {
	text-decoration: none;	
	background-image: none;	
	color: #6B4F2E;		
}
#sidebar .menu .menu-liste .menu-entree a:hover {
	color: #88ac0b;	
}

/* footer */
#column-wrap {
	clear: both;
	float: left;
	width: 830px;
	padding: 10px 0 35px 0;		
	background: #A0B70D url(img/footercolbg.jpg) repeat-x left bottom;
	border-bottom: 1px solid #CCA066;	
	border-bottom: 2px solid #FFF;
}
#column-wrap a {
	text-decoration: none;
	color: #FFF;	
}
#column-wrap a:hover {
	color: #000;	
}
#column-wrap h2 {
	color: #FFF;	
	margin: 0 0 10px 0;	
}

#columns {
	color: #888;
	margin: 0 auto; 
	padding: 0;	
	width: 790px;		
	background: transparent;
}
#columns ul {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;	
	background: url(img/footer-dots.gif) repeat-x left top;
}
#columns li {
	background: url(img/footer-dots.gif) repeat-x left bottom;
}
#columns li a {
	display: block;
	font-weight: normal;
	padding: 3px 0 3px 10px;
	width: 96%;
}
#columns .col3, .col3-center {
	float: left;
	width: 32%;
}
#columns .col3-center { 
	margin: 0 15px; 
}

/* footer*/
#footer {
	clear: both;
	color: #FFF;	
	width: 830px;
	padding: 5px 0 15px 0;
	text-align: center;
}
#footer a {
	color: #F3EFBA;
	font-weight: bold;
}
