#wai{
background-color : #F9F5DE;
border : 1px solid red;
}
.code {
font-size : 90%;
font-family :  arial, verdana,  sans-serif;
font-weight : bold;
text-align :left;
}
.rouge {
font-size:100%;
font-family:verdana,arial,sans-serif;
color : #fff;
background-color : #ff0000;
padding:1px 1em;
border:1px solid blue;
}
.rouge2 {
font-size:100%;
font-family:verdana,arial,sans-serif;
color : #fff;
background-color : #ff0000;
padding:1px 1em;
margin:0 5em;
border:1px solid blue;
}
.rouge3 {
font-size:100%;
font-family:verdana,arial,sans-serif;
color : #fff;
background-color : #ff0000;
padding:1px 1em;
margin:0 10em;
border:1px solid blue;
}
.orange {
font-size:100%;
font-family:verdana,arial,sans-serif;
color : #fff;
background-color : #ff9a09;
padding:1px 1em;
border:1px solid blue;
}
.orange2 {
font-size:100%;
font-family:verdana,arial,sans-serif;
color : #fff;
background-color : #ff9a09;
padding:1px 1em;
margin:0 5em;
border:1px solid blue;
}
.orange3 {
font-size:100%;
font-family:verdana,arial,sans-serif;
color : #fff;
background-color : #ff9a09;
padding:1px 1em;
margin:0 10em;
border:1px solid blue;
}
.orange a:link{
color : #fff;
background : transparent;
}
.orange a:active{
color : #fff;
background : transparent;
}
.orange a:visited{
color : #fff;
background : transparent;
}
.orange a:hover{
color : #fff;
background : transparent;
}

.orange2 a:link{
color : #fff;
background : transparent;
}
.orange2 a:active{
color : #fff;
background : transparent;
}
.orange2 a:visited{
color : #fff;
background : transparent;
}
.orange2 a:hover{
color : #fff;
background : transparent;
}
.orange3 a:link{
color : #fff;
background : transparent;
}
.orange3 a:active{
color : #fff;
background : transparent;
}
.orange3 a:visited{
color : #fff;
background : transparent;
}
.orange3 a:hover{
color : #fff;
background : transparent;
}
.rouge a:link{
color : #fff;
background : transparent;
}
.rouge a:active{
color : #fff;
background : transparent;
}
.rouge a:visited{
color : #fff;
background : transparent;
}
.rouge a:hover{
color : #fff;
background : transparent;
}
.rouge2 a:link{
color : #fff;
background : transparent;
}
.rouge2 a:active{
color : #fff;
background : transparent;
}
.rouge2 a:visited{
color : #fff;
background : transparent;
}
.rouge2 a:hover{
color : #fff;
background : transparent;
}
.rouge3 a:link{
color : #fff;
background : transparent;
}
.rouge3 a:active{
color : #fff;
background : transparent;
}
.rouge3 a:visited{
color : #fff;
background : transparent;
}
.rouge3 a:hover{
color : #fff;
background : transparent;
}
#corp {
text-align : normal;
font-size:75%;
font-family:verdana,arial,sans-serif;
}
.nberreurs {
background-color : #ff0000;
color : #fff;
font-weight:bold;
width : 8em;
position :absolute;
}
.nberreurszero {
background-color : #00ff00;
color : #000;
font-weight:bold;
width : 8em;
position :absolute;
}
.nbavertissement {
position : absolute;
left : 16em;
}
.facile {
background-color : #47F873;
color : #000;
}
.felicitation {
background-color:#00ff00;
}
.gauche {
text-align:left;
}
h2 {
text-align:left;
overflow:hidden;
}