/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Specificites SPIP */
h3.spip {text-align:left;}

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

#hierarchie { clear: both; margin-bottom: 2em; color: #666; font-size:80%;}

.cartouche { margin-top:2em; margin-bottom: .2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; margin-top:-30px;}
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin: 1.6em 0; line-height: 1.40em; border:1px solid #ccc; background:#f5f5f5; padding:0.5em; color: #444; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published,
abbr.modified { border: 0; }

/* Portfolio */
#documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
#documents_portfolio a:hover .spip_logos { border-color: #F57900; }
#documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }
#documents_joints{background-color:#FAFAFA;border:1px solid #EEEEEE;font-size:0.9em;margin:20px 0 0 10px;padding:10px;}

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.95em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

.formulaire_recherche { margin-bottom: 0.5em; } /*Cf.: spip_formulaires.css*/
.formulaire_recherche input.text{width:9em;}


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #ddd;
	background:#fafafa;
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;
}
.forum li cite img {
	float: left;
	margin-right: 10px;
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8
}

/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/


/* start - table */
table, table.spip {
	margin: 15px 0px;
	width:100%; text-align:left;
	border:1px solid #ccc;
	border-spacing:2px;
	border-collapse:separate !important;
}

table th, table.spip th{
	background: white;
	color: #666;
	padding:3px;
	text-align: left;
	border:none;
}
table tr, table.spip tr{
	color: #5b5b5b;
	background:#f3f3f3;
}
table td, table.spip td {
	padding:3px;
	border:none;
}
table tr.even,
table.spip tr.row_even {background:#eee;}
table tr:hover {background:#EAF1F5;}
/* end - table */


/* barre outil */
.spip_barre{}
.spip_barre td a img{border:1px solid #888; background:#fafafa; padding:1px; margin-right:1px;}
.spip_barre td a:hover img{background:#fff; border:1px solid #F49500;}
.barre{display:none;}
/* /barre outil */

/**
 *
 *
 *
 */
body {
	margin: 0;
	padding: 0;
	background: #fafafa url(images/fond.png) repeat-x;
	font: normal 80% Arial, Tahoma, Helvetica, sans-serif;
	color: #444;
}
body.avec_menu {
	background-image: url(images/fond_menu.png);
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
}

h2 {
	text-transform: uppercase;
	font-size: 1.6em;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1em;
}

p, blockquote, ul, ol {
	line-height: 18px;
	text-align: justify;
}
ul {padding-left:0em; margin-left:2em;}

blockquote, blockquote.spip, blockquote.spip_poesie {
	padding-left: 20px;
	background: url(images/img05.gif) repeat-y;
	border:0;
}

.spip_code, var, kbd { font: 500 100%/1.5em 'Lucida Console', 'Courier New', Monospace; color:#3C8E13;}
.spip_cadre, .coloration_code .cadre {
	/*width:96%;*/
	color:#666;
	border:1px solid #ccc;
	border-left:2px solid #888;
  	margin: 5px 0 10px;
  	padding: 5px;

  	text-align: left;
  	display: block;
  	overflow: auto;
  	font: 500 90%/1.5em 'Lucida Console', 'Courier New', Monospace;
  	/* white-space: pre; */
  	background: #fafafa;
  	width:97%;
}
.coloration_code {margin-bottom:1.6em; /* une ligne */ }
.coloration_code .cadre{margin-bottom:0; color:#666;}
.coloration_code .cadre_download a{color:#888; font-size:90%; font-weight:normal !important; text-decoration:none;}
.coloration_code .cadre_download a:hover{text-decoration:underline;}
.coloration_code ol{list-style-type:none; margin:0 !important; padding:0; text-align:left;}

.resultat{
	border:1px solid #ccc;
	padding: 5px 10px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	margin: 5px 0 10px;
	background: #f6f6f6;
}


hr.spip{width:40%; height:1px; border:1px solid #888; border-bottom:0;}

a, a:active, a:link, a.spip_in, a.spip_out,a.spip_url,a.spip_glossaire {
	color: #F49500;
	 text-decoration: none;
}
a:visited{
	color: #9D7636;
}
a:hover {
	text-decoration: underline;
}

/* pied en bas de page sans casser l'impression */
@media screen {
	html, body {height:100%;}
	body {position:relative;}
	html > body #page {
		height:auto;
		min-height:100%;
	}
	#page {
		height:100%;
		position:relative;
	}
	#pied {
		clear:both;
		bottom:0;
		margin-top:2em;
		position:absolute;
	}
}


/* Header */


#entete {
	width: 760px;
	height: 80px;
	margin: 0 auto;
	background: url(images/img02c.jpg);
	position:relative;
}
#entete a.logo {display:none;}

#entete .h1, #entete .h2, #nom_site_spip a, #entete #slogan_site_spip  {
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

#entete .h1, #nom_site_spip a {
	position:relative;
	text-decoration:none;
	text-transform:none;
	float: left;
	font-weight:normal;
	padding:26px 0 0 95px;
	margin-top:5px;
	font-size: 1.6em;
}


#entete .h2, #entete #slogan_site_spip  {
	clear:left;
	font-size:1.3em;
	padding:0 0 0 95px;
}
#entete .formulaires_entete{
	position: absolute;
	right: 0;
	top: 4px;
	display: block;
	margin:0;
	width: 350px;
	text-align:right;
	padding:0 20px 0 0;
	background:none;
	border:0;
}
#entete .formulaires_entete label {position:absolute; left:-3000em;}

/*
#entete .formulaires_entete .formulaire_menu_lang {text-align:right;}
#entete .formulaires_entete .formulaire_menu_lang select {width:auto;}
*/
#entete .menu_lang a[hreflang]:after { content:""; /* ne pas afficher fr (fr) | en (en) ! */}

#entete .menu {text-align:right; color:white; display:inline-block; font-size:110%;}
#entete .menu .items {margin:2px; padding:2px; text-align:right;}
#entete .menu .item {list-style-type:none; display:inline; padding-left:0px;}
#entete .menu a {color:white; padding:4px;}
#entete .menu .on a {font-size:120%;}

#entete .formulaires_entete .formulaire_recherche {margin-top:5px;text-align:right;}
#entete .formulaires_entete .formulaire_recherche input.text {width:9em; background-image:url(images/rechercher.gif);}


/* Menu */

#nav {
	width: 760px;
	height: 40px;
	margin: 0 auto;
	padding:0px;
	overflow:hidden;
	background: url(images/img_menu.gif) repeat-x;
}

#nav .menu-liste {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav .menu-entree {
	display: inline;
}

#nav a {
	display: block;
	float: left;
	padding: 14px 20px 0 20px;
	
	text-transform: uppercase;
	text-decoration: none;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D8D8D8;
}

#nav a:hover {
	color: #FFFFFF;
}

#nav .first a {
	background: none;
}
#nav .menu-entree .menu-liste{
display:none;
}
/* Content */

#conteneur {
	width: 728px;
	margin: 0 auto;
	padding: 10px 10px 80px 20px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	background: #fff;
	overflow:auto;
}

/* Posts */

#contenu {
	float: left;
	width: 470px;
	margin-right:30px;
	font-size:1.05em;
	position:relative;
}
#contenu p { line-height:1.4em; margin:0 0 1.5em 0;}
#contenu ul, #contenu ol { line-height:1.4em;}
#contenu ul.spip, #contenu ol.spip {margin:0 0 0 2em;}

#contenu li{text-align:left;}

#contenu h1 {font-size:180%; margin:1em 0 0; padding:0; color:#222; clear:both;}
#contenu .cartouche {clear:both;}
#contenu .cartouche h1 {clear:none;}
#contenu h2 {color:#333; text-transform:none; font-size:150%; margin-top:2.5em; clear:both;}
#contenu h3,
#contenu h4 {color:#222; text-transform:none; font-size:110%; margin-bottom:0em; padding-bottom:0em; letter-spacing: 0px; clear:both;}
#contenu p+style+.coloration_code,
#contenu p+.coloration_code,
#contenu p+.resultat{margin-top:-1em;}
#contenu p+ul.spip,
#contenu p+ol.spip {margin-top:-1.5em; margin-bottom:1.5em;}
#contenu .coloration_code +ul.spip,
#contenu .coloration_code +ol.spip  {margin-top:-0.5em; margin-bottom:1.5em;}

/* en savoir plus sur les articles */
#contenu .ps {
	border:1px solid #888; background:#eee;
	margin: 25px 0 10px 0px; list-style:none; padding:5px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#contenu .ps h2 {
	font-size:110%;
	font-weight:bold;
	color:#333;
	text-transform:none;
	margin:5px 0 0 5px; padding:0;
}
#contenu .ps p{
	text-align:left;
	margin:0.5em !important;
	padding:0;
}
#contenu .chapo p {margin-top:0;}
#contenu .chapo p + p {margin-top:1.5em;}

/* blocs d'exemple */
#contenu .complements {
	border:1px solid #ccc;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	background:#f8f8f8 url(images/puzzle.png) no-repeat top left;
	margin: 25px 0 10px 0px; list-style:none; padding:5px 1em;
}
#contenu .complements h3 {
	font-size:110%;
	font-weight:bold;
	color:#333;
	text-transform:none;
	margin:2px 0 10px 30px; padding:0;
}
#contenu .complements > :last-child{margin-bottom:5px; /*au lieu de 1em*/}

#contenu .exemple {
	background:#f8f8f8 url(images/puzzle.png) no-repeat top left;
}
#contenu .exercice {
	border:1px solid #D2C38F;
	background:#FFFAE8 url(images/exercice.png) no-repeat top left;
}
#contenu .reponse {
	border:1px solid #A1BE50;
	background:#F6FED8 url(images/reponse.png) no-repeat top left;
}
/* js */
#contenu .reponse.close>h3,
#contenu .reponse.open>h3 {
	cursor:pointer;
}
#contenu .reponse.close>h3:hover,
#contenu .reponse.open>h3:hover {
	text-decoration:underline;
}
#contenu .reponse.close .reponse-contenu {display:none;}

/* Links */

#navigation {
	float: right;
	width: 210px;
}

#navigation ul {
	padding: 5px;
	margin-bottom:5px;
	background:#fafafa;
	border:1px solid #eee;

}
#navigation ul.statut,
#navigation ul.extra,
#navigation ul.selection_rapide{list-style: none;}
#navigation ul ul{background:none; border:none;}

#navigation li a {
	text-decoration: none;
}

#navigation li a:hover {
	text-decoration: underline;
}

#navigation li h2 {
	font-size: 1.3em;
}


/* Boussole */
#boussole {
	clear:both;
	padding: 5em 0 2px 0;
	margin-bottom:-2em;
	width:100%;
	text-align: center;
	color: #666;
}
#boussole h2 { color:#999; text-transform:none; font-size:120%; padding-bottom:.2em;}
#boussole img { vertical-align:middle; }



/* Footer */

#pied {
	clear:both;
	padding: 5px 0;
	background:#e6e6e6 url(images/pied.png) repeat-x;
	border-top:1px solid #999;
	width:100%;
}
#pied img {vertical-align:middle;}
#pied p, #pied .liens, #pied .copyrights {
	text-align: center;
	color: #666;
	padding:2px 0;
}
#pied a {color:#444; text-decoration:none;}
#pied a:hover {text-decoration:underline;}



/* les petits sommaires */
.menu {margin-bottom:1em;}
.menu ul {margin:5px 0 0 20px; padding:0;}
.menu ul ul {margin:0; padding:0;}
.menu ul li {background:transparent no-repeat top left; list-style:none; min-height:16px; vertical-align:bottom; padding:0 0 2px 20px; margin:3px 0; }
.menu ul.rubriques li {background-image: url(images/folder.png);}
.menu ul.rubriques li.on {background-image: url(images/folder_explore.png);}
.menu ul.articles li, .menu ul li.articles {background-image: url(images/page_white.png);}
.menu ul.articles li.on, .menu ul li.articles.on {background-image: url(images/page_white_text.png);}
.menu ul.auteurs li {background-image: url(images/pencil_gray.png);}
.menu ul.auteurs li.on {background-image: url(images/pencil.png);}
.menu ul.groupes li, .menu ul li.groupes {background-image: url(images/tag_grey.png);}
.menu ul.groupes li.on, .menu ul li.groupes.on {background-image: url(images/tag_yellow.png);}
.menu ul.mots li {background-image: url(images/tag.png);}
.menu ul.mots li.on {background-image: url(images/tag_label.png);}
#contenu .menu ul li .introduction {margin-bottom:.5em;}

#contenu .menu_court ul {margin:0; padding:0; overflow:hidden;}
#contenu .menu_court ul li {margin:0 .5em 0 0; padding:0; list-style-type:none; display:inline; overflow:hidden;}
#contenu .menu_court ul li a {display:block; float:left; padding:4px;}

#contenu .un_demi .menu ul {margin-left:0;}
#contenu #ajax_colonne .contenu {margin-top:3em; border:1px solid #eee; background:#fafafa; padding:.5em;}
#contenu #ajax_colonne .menu ul {margin-left:0;}
#contenu #ajax_colonne h1 {margin-top:0; font-size:140%;}
#contenu #ajax_colonne h2 {margin-top:0; font-size:120%;}
#contenu #ajax_colonne .cartouche {margin-top:0;}

/* un_tiers */
.un_tiers {float:left;}
.un_demi {float:left; width:40%;}
.deux_demi {float:left; width:60%;}

/* listes miniplan */
#navigation .menu h2 {font-size:110%; color:#333; text-transform:none;}
#navigation .menu ul {
	margin:0;
}
#navigation .menu li.off{font-weight:normal;}
#navigation .menu li.on{font-weight:normal;}
#navigation .menu li>.titre {cursor:pointer;}
#navigation .menu li.off>a, #navigation .menu li.off>.titre {color:#777}
#navigation .menu li.off>a:hover, #navigation .menu li.off>.titre:hover {color:#111;}
#navigation .menu li.on>a, #navigation .menu li.on>.titre {color:#111;}

#navigation .menu li {margin:0; text-align:left;}
#navigation .menu ul ul{
	margin-left:-20px;
	padding:0 0 0 5px;
}



/* precedent suivant */
#navigation ul.prec_suiv{border:none; background:none; margin-bottom:10px;}
ul.prec_suiv{padding:1px; margin:15px 0; overflow:auto; border:none; background:none;}
ul.prec_suiv li.suivant{float:right;}
ul.prec_suiv li{
	list-style-type:none;
	margin:0; padding:0;
	float:left;}
ul.prec_suiv li.precedent{margin-right:0px;}
ul.prec_suiv li a {padding:5px; display:block; border:1px solid #fff; }
ul.prec_suiv li a:hover,
ul.prec_suiv li a:focus {
	border:1px solid #ccc;
	background:#f8f8f6;
}


#contenu ul.prec_suiv li img{padding:0;}
#contenu ul.prec_suiv{width:140px; margin:40px auto 10px; clear:both;}
ul.taille_20{width:80px; margin:0px auto;}
ul.taille_20 li.precedent{}

ul.sommaire{ margin:10px auto;}
ul.sommaire li{ float:none; margin:auto;}




/* encart d'info sur l'article */
ul.statut{
	padding:0 2px;
	width:100%;
	position:relative;
	margin:40px 0 20px 0;
	border:1px solid #eee;
	background:#fafafa;
	text-align:center;
}
.statut li{
	padding:0 !important;
	font-family:Geneva,Arial,Helvetica,sans-serif;
	font-size:80%;
	list-style:none;
	color:#333;
	background:transparent !important;
	display:inline;
}
.statut li.traductions {display:block; margin:0 auto; text-align:center !important;}
.statut li+li{margin-left:10px;}

.statut li strong{
	background-color:transparent;
	color:#888;
	font-weight:normal;
}


/* encart de complements */
#navigation ul.extra{border-color:#888; }
#navigation ul.extra h2 {
	font-size:110%; font-weight:bold; color:#333; text-transform:none;
	margin:0; padding:0;
}
#navigation ul.extra p{
	text-align:left;
	margin-top:0; margin-bottom:0.5em;
}


/* infobulles */
p.infobulle{color:#666; font-style:italic; margin-right:0 !important; text-align:center;}

/* boutons */
.bouton {margin:1em auto; width:100%; text-align:left;}
.bouton a {border:1px solid #fff; overflow:auto; display:block; padding:.5em; text-decoration:none; color:#888;}
.bouton a:hover,
.bouton a:focus {
	border:1px solid #ccc;
	background:#f8f8f6;
	color:#333;
}
.bouton img {float:left;}
.bouton span {display:block;}

a.i_edit {padding-left:16px; background:url(images/edit_inverse.png) no-repeat top left;}
a.i_new {padding-left:16px; background:url(images/new_inverse.png) no-repeat top left;}

/* roue ajax */
#ajax_colonne .image_loading,
#menu .image_loading {float:right;}

/* page_plan */
.page_plan #contenu .menu ul {margin-left:0;}

/* correction pages de tickets pour la css de doc */
#contenu .ticket .cartouche h1 {font-size:140%; color:#fff; margin:0;}
#contenu .ticket h2.titre {font-size:120%;}
#contenu .ticket h3 {margin:2em 0 .3em;}
#contenu .comments h2 {font-size:120%; margin-top:0;}

/* l'integrale */
.page_integrale #conteneur { border:none;}
.page_integrale #contenu { margin:0;}

#contenu .integrale h1 {padding:1em 0 0;}

#contenu .integrale .chapitre_intro h2 { margin:0 0 1em 0;}
#contenu .integrale .chapitre { margin:2em 0;}
#contenu .integrale .chapitre > h1 { margin:0; padding:1em .5em;  text-align:center; color:#222; font-size:260%; border:none;}
#contenu .integrale .couverture h1 {font-size:2.6em; text-align:center; margin:1em 0; padding:2em 1em 1em; color: #C35C02; border:none;}
#contenu .integrale .couverture h2 {font-size:100%; text-align:center; text-transform:uppercase;}
#contenu .integrale .couverture h3 {font-size:140%; text-align:center; margin:0; padding:0 1em 1em; color: #C35C02;}
#contenu .integrale .image {padding:1em 0; text-align:center;}
#contenu .integrale .couverture .image {padding:5em 0 2em;}
#contenu .integrale .couverture h3 + .image {padding-top:3em}

#contenu .integrale .couverture_chapitre h1 {margin:0; padding:0 1em 1em;}
#contenu .integrale .couverture_chapitre h2 {margin:0; padding:0 1em 1em;}
#contenu .integrale .couverture_chapitre .chapo {margin:0 2em;}
#contenu .integrale .couverture_chapitre .image {padding:2em 1em 1em;}

#contenu .integrale .presentation .chapo {margin:4em 0em; padding:1em 2em;}
#contenu .integrale .presentation {padding-top: 6cm; }

#contenu .integrale .spip_code { font-style:inherit;}

#contenu .integrale .two_columns {column-count: 2;}

#contenu .integrale .index {}
#contenu .integrale .index ul li  {
  font-weight: normal;
  margin-left: 0;
  list-style-type:none;
  /* separer un peu mieux les listes */
  line-height:1.1em;
  margin-bottom:.5em;
}

#contenu .integrale .tdm > h1 {color:#444; text-transform:none; margin-bottom:1em; font-size:140%; border-bottom:1px dotted #888;}
#contenu .integrale .tdm > ul {margin:0 80px;}
#contenu .integrale .tdm ul li {
  font-weight: normal;
  margin-left: 0;
  list-style-type:none;
}
#contenu .integrale .tdm ul ul {
  margin-left: 2em;
}


/* boutons d'administration */
div.spip-admin-float{
	margin-top:2px;
	border:1px solid #888;
	background:#FFC988;
}
div.spip-admin-float a.spip-admin-boutons{
	display:block;
	background:transparent;
	border:none;
	text-align:left;
	color:#333;
	}
div.spip-admin-float a.spip-admin-boutons:hover{
	border:none;
	background:#F4EDE5;
}

#forum{
	background:#f3f3f3 none repeat scroll 0 0;
	border:1px solid #ddd;
	padding:15px;
	margin-top:3em;
}

#forum p, #forum ul{
	margin:12px 0;
}

#forum li{
	background-color:#fff;
}

#forum h2{
	display:inline;
	font-size:120%;
}


#forum .comment_link a {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #ddd;
	border-radius:10px;
	-moz-border-radius:20px;
	padding:5px;
	margin:1em 0;
	
	text-decoration:none;
	display:block;
	font-weight:bold;
}
#forum .comment_link a:hover {
	border:1px solid #ccc;
}
#forum .comment_link a img {
	vertical-align: middle;
    margin-right: 1em;
}

.page_forum .introduction{
	padding:10px;
	margin:10px;
	border:1px dotted #ccc;
	border-left:2px solid #ccc;
}

.page_forum h3{
	margin:15px 0 10px;
	font-size:15px;
}

/* geshi
 * hum... pas top non plus...
 * */
/*
.coloration_code {position:relative;}
.coloration_code .cadre{
	padding-top:14px;
	border-radius:8px 0 0 0; -webkit-border-radius:8px 0 0 0; -moz-border-radius:8px 0 0 0;
}
.coloration_code .cadre:before {
	background:#888; color:#fff;
	font-size:10px;
	display:block; position:absolute; top:0px; left:0px;
	line-height:1em; padding:1px 4px 0 2px;
	border:1px solid #ccc;
	border-left:none;
	border-top:none;
	background:#fff; color:#888;
	border-radius:0 0 8px 0; -webkit-border-radius:0 0 8px 0; -moz-border-radius:0 0 8px 0;
}
.spip_php:before {content:'PHP';}
.spip_css:before {content:'CSS';}
.spip_spip:before {content:'SPIP/XHTML';}
.spip_spip2:before {content:'SPIP/XHTML';}
.spip_javascript:before {content:'JavaScript';}
.spip_xml:before {content:'XML/XHTML';}
*/
