/* Styles pour les cartes */
.carte_gmap_container {
	position: relative;
	overflow: hidden;
}
.map_wait_mask {
	display: block;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	width: 100%;
	height: 400px;
}
.map_wait_logo{
	display: block;
	width: 100%;
	height: 100%;
	background: transparent url('../images/attente.gif') center center no-repeat;
}
