/* On utilise TOUTE la largeur */
#navigation, .large #navigation{width:0;}
#contenu, .large #contenu{width:100%;}
/* On donne un peu de formes */
#gestion td{border-right:1px solid #bbb;border-bottom:1px solid #bbb;}
#gestion .cel1{width:15%;}
#gestion .cel2{width:30%;}
#gestion .cel3{width:30%;}
#gestion .cel4{width:20%;}
#gestion .cel6{width:5%; text-align:center;}
#gestion .celsuppr{width:10px; text-align:center;}
#gestion th{background-color: #ccc;}
#gestion tr:hover{background-color: #eee;}
fieldset{border: 0;}
label{font-weight:bold;}
.rouge a{color:red;}