/* Informations 

********************************************
http://www.aucuneid.net/bones | BONES

 d'apres un widget de http://www.SimonGaniere.ch | Simon Ganiere

********************************************

Version 1.0 (09.05.2005): first release


*/
#front
{
	top: 0px;
	left: 0px;
	position: absolute;
}

#back {
	display: none;
} 

#search-select
{ 
	position: absolute;
	font: 12px Verdana;
 width: 50px;
	left: 120px;
	top: 22px;
	display: inline-block;
	overflow: hidden;
}

#search-field
{
	position: absolute;
	font: 12px Verdana;
	width: 175px;
	left: 170px;
	top: 22px;
	display: inline-block;
	overflow: hidden;
}

.backinfo {
	position: absolute;
	font: 11px "Lucida Grande";
	text-decoration:none
	color: white;
	font-weight: normal;
	width:200px;
	top: 28px;
	color: #ffffff;
	left: 80px;
}

.flip {
	position:absolute;
	top: 28px;
	left: 330px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index:7999;

}

.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
}

.done {
	position: absolute;
	top: 23px;
	left: 280px;
}

a {
	color: white;
}