#SET{self,#SELF|parametre_url{debut_urls,''}}
#SET{recherche,#ENV{recherche}|?{#VAL{%}|concat{#ENV{recherche},%},'%'}}
[(#OBJET|non)
<h1 class="grostitre"><:urls:liste_des_urls:></h1>]
[<h2>(#OBJET|ucfirst) <:info_numero_abbreviation:>#ID_OBJET </h2>
[(#VAL{91}|chr|concat{'->',#OBJET,#ID_OBJET,#VAL{93}|chr}|propre|PtoBR)]

<div>\[<a href="[(#GET{self}|parametre_url{id_objet|objet,''})]"><:urls:tout_voir:></a>\]</div>

<div class="nettoyeur"></div>]
#FORMULAIRE_RECHERCHE_ECRIRE{#GET{self},ajax}
[<h3><:resultats_recherche:> &#171;&nbsp;(#ENV{recherche})&nbsp;&#187;</h3>]
<div class="nettoyeur"></div>
<B_urls>
	[<p class="pagination">(#PAGINATION)</p>]
	[(#ENV{id_objet,''}|non)
	<p class="tri">[ (#TRI{>,#CHEMIN_IMAGE{tri-asc-16.png}|balise_img})][ | (#TRI{<,#CHEMIN_IMAGE{tri-desc-16.png}|balise_img})][ | (#TRI{date,<:urls:label_tri_date:>})][ | (#TRI{url,<:urls:label_tri_url:>})][ | (#TRI{id_objet,<:urls:label_tri_id:>})]</p>
	]
	<ul class="liste_items urls">
	<BOUCLE_urls(URLS){tri date,#ARRAY{0,direct,date,inverse}}{pagination}{type==#ENV{objet,'.*'}}{id_objet?}{url like #GET{recherche}}>
	<li class="item">
		<h3 class="url"><a href="[(#ID_OBJET|generer_url_entite{#TYPE})]" title="[(#TYPE) ]#ID_OBJET">#URL</a></h3>
		<span class="date">[(#DATE|affdate)]</span>
		[(#ENV{id_objet,''}|non)
		- <span class="objet"><a href="[(#GET{self}|parametre_url{id_objet,#ID_OBJET}|parametre_url{objet,#TYPE})]">[(#TYPE|ucfirst) ]<:info_numero_abbreviation:>#ID_OBJET</a></span>
		][(#AUTORISER{modifier,#TYPE,#ID_OBJET})
		<div class="actions">
			[(#DATE|strtotime|<={#REM|time}|oui)
			[(#BOUTON_ACTION{<:urls:verrouiller_url:>,#URL_ACTION_AUTEUR{urls_verrouiller,#TYPE-#ID_OBJET-#URL,#SELF},ajax})]
			]
			[(#BOUTON_ACTION{<:urls:liberer_url:>,#URL_ACTION_AUTEUR{urls_liberer,#TYPE-#ID_OBJET-#URL,#SELF},ajax})]
		</div>]
	</li>
	</BOUCLE_urls>
	</ul>
</B_urls>
[(#OBJET|et{#ID_OBJET}|et{#AUTORISER{modifier,#OBJET,#ID_OBJET}}|oui)
#FORMULAIRE_EDITER_URL_OBJET{#OBJET,#ID_OBJET}
]
[(#ENV{id_objet,''}|non)
[(#AUTORISER{modifier})
[(#BOUTON_ACTION{<:urls:actualiser_toutes:>,#URL_ACTION_AUTEUR{urls_actualiser,'',#SELF}})]
]
]