/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */
/* ----------------------------------------------
	Adaptation pour Spip-zen : Cedric Morin http://www.yterium.com
 ------------------------------------------------ */

/* Specificites SPIP */
h3.spip {text-align:left;}

#hierarchie { clear: both; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #669; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
.documents_portfolio a:hover .spip_logos { border-color: #F57900; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.95em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

.menu-liste, .liste-items  {list-style:none;}

.liste-items {border-bottom:1px solid #EBEBEB;}
.liste-items .item {padding:5px;clear:both;overflow:hidden;border-top:1px solid #EBEBEB;}
.liste-items + .pagination {margin-top:0;padding-top:0;}

.menu-liste {
	text-align: left;
	margin: 7px 0px 8px;
	padding: 0;
	border-top: 1px solid #EBEBEB;
}
.menu-liste .menu-entree {
	list-style: none;
	border-bottom: 1px solid #EBEBEB;
	padding: 5px;
	margin: 0 2px;
}
* html body .menu-liste .menu-entree {
	height: 1%;
}
.menu-liste .menu-entree a {
	text-decoration: none;
	background-image: none;
	color: #895F30;
}
.menu-liste .menu-entree a:hover {
	color: #1773BC;
}
.menu-liste .menu-liste { margin-left: 5px; padding: 0; }
.menu-liste .menu-liste .menu-entree { border: none; }

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}

/* tables */
tables.spip tr,tables.spip tr.row_odd,tables.spip tr.row_even {background:transparent;}
/* ----------------- */
/********************************************
   AUTHOR:  			Erwin Aligam 
   WEBSITE:   			http://www.styleshout.com/
	TEMPLATE NAME:		Outdoor
   TEMPLATE CODE: 	S-0020
   VERSION:          1.0          	
 *******************************************/
 
/********************************************
   HTML ELEMENTS
********************************************/ 

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	background: #f7f0e3 url(img/bg.jpg) repeat-x;
	font: 70%/1.6em Verdana, Tahoma, Arial, Geneva, sans-serif;
	color: #666666; 
	text-align: center;
	margin: 0 0 50px 0;
}

/* links */
a, a:visited {	
	color: #5A93C9;
	background: inherit;
	text-decoration: none;	
}
a:hover {
	color: #88ac0b;
	background: inherit;
	text-decoration: underline;	
}

/* headers */
h1,.h1, h2,.h2, h3,.h3, h3.spip {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	color: #444;

line-height:100%;}
h1,.h1 {
	font-size: 230%;	
	font-weight: normal;
	letter-spacing: -1px;
}
h2,.h2 {
	font-size: 180%;
	color: #88ac0b;
}
h3,.h3, h3.spip {
	font-size: 150%;	
	font-weight: normal;
	line-height:100%;
}

h1,.h1, h2,.h2, h3,.h3, h3.spip, p {
	padding: 10px 0;
	margin: 0;
}
ul.spip, ol.spip, ul.forum ul.spip {
	margin: 5px 10px;
	padding: 0 20px;
}
ul {
	list-style: none;
}

/* images */
.spip_documents img, .spip_logos img {
	background: #fafafa;
  border: 1px solid #dcdcdc;
	padding: 5px;
}
.spip_documents_right {
  margin: 5px 10px 10px;
  margin-left: 10px;
}
.spip_documents_left {
  margin: 5px 0px 10px;
  margin-right: 20px;
}

.spip_code,code {font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;}
.spip_cadre {
	margin: 5px 0;
	padding: 10px;
	text-align: left;
	display: block;
	overflow: auto;
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
	/* white-space: pre; */
	border: 1px solid #F4F3EC;
	background: #FAFAE7;
	width:90%;
}
acronym,abbr {
  cursor: help;
  border-bottom: 1px dashed #777;
}
blockquote.spip {
	margin: 10px 0;
	padding: 0;
	padding-left: 45px;
	border: 1px solid #F4F3EC;
	background: #FAFAE7 url(img/quote.jpg) no-repeat 7px 10px;
	font: bold 1.3em/1.5em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #976957;
}

/* start - table */
table.spip {
	border-collapse: collapse;
	margin: 10px 0;
}
table.spip caption {text-align:left;}
table.spip th strong {
	color: #fff;
}
table.spip th {
	background: #93BC0C url(img/nav.jpg) repeat-x;
	height: 35px;
	padding-left: 12px;
	padding-right: 12px;
	color: #fff;
	text-align: left;
	border:0;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #fff;
}
table.spip tr {
	height: 32px;
}
table.spip td {
	padding-left: 11px;
	padding-right: 11px;
	border:0;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
td.first,th.first {
	border-left: 0px;
}
table.spip tr.row_even {
	background: #F8F8F8;
}
table.spip tr.row-odd {
	background: #EFEFEF;		
}
/* end - table */

/* form elements */
.formulaire_spip {
	margin:10px 0; padding: 10px;
	border: 1px solid #f1f1f1; 
	background-color: #f5f5f5; 	
}
.formulaire_spip fieldset legend {background-color: #f5f5f5;}
.formulaire_spip label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
.formulaire_spip input.text,input.password {
	padding:2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
.formulaire_spip textarea {
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
#contenu .formulaire_spip textarea {	width:400px;}

.formulaire_spip .boutons input { 
	font: bold 12px Arial, Sans-serif; 
	height: 24px;
	margin: 0;
	padding: 2px 3px; 
	color: #FFF;
	background: #8EB50C url(img/nav.jpg) repeat-x 0 0;
	border: 1px solid #88AD0C;
}

/* search form */
.formulaire_recherche {
	background-color: transparent;
	border: none;	
	margin: 0; padding: 5px 0 15px 0;	
		
}
#formulaire_recherche {width: 250px;}

.formulaire_recherche p { margin: 0; padding: 0; }
.formulaire_recherche input.text { 
	color: #777; 
	height: 18px;
	padding: 2px;	
	border: 1px solid #E5E5E5;
	vertical-align: top;
	background-image:none;
}
#formulaire_recherche input.text {width: 170px;}

.formulaire_recherche input.submit {
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}

/********************************************
   LAYOUT
********************************************/ 
#wrap {
	position: relative;
	background: #fff url(img/wrap-bg.jpg) repeat-y;
	width: 900px;	
	margin: 50px auto 0 auto;
	text-align: left;
}
#content-wrap {
	position: relative;
	background: #fff url(img/content-bg.jpg) repeat-x;
	clear: both;
	float: left;	
	width: 870px;	
	padding: 0; 			
	margin-left: 15px;	
	display: inline;
	border-top: 5px solid #fff;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
#header-wrap {
	position: relative;
	background: #fff url(img/header-bg.jpg) repeat-x;
	padding: 0;	
	margin: 0px auto;
	width: 870px;	
	height: 311px;
}
#header {
	background: url(img/header-photo.jpg) no-repeat bottom left;
	width: 870px;	
	height: 311px;
}
#header #nom_site_spip {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 42px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1.5px;
	color: #111;
	text-transform: none;
	text-decoration: none;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 22px; left: 20px;	
}
#header .accueil img.spip_logos {
	position: absolute;
	/* change the values of top and left to adjust the position of the logo*/
	top: 0px; right: 0px;	
}

#header #slogan_site_spip {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 12px Georgia, "Times New Roman", Times, serif;
	text-transform: none;
	color: #5b4a29;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 67px; left: 25px;		
}
#descriptif_site_spip {
	font: normal 12px Georgia, "Times New Roman", Times, serif;
	text-transform: none;
	color: #5b4a29;
}

#header .formulaire_menu_lang { position: absolute; right: 0; top: 250px; display: block; margin:0;width: 235px;padding:0;background:none;border:0; } /*Cf.: spip_formulaires.css*/

/* header links */
#header #header-links {
	position: absolute;
	top: 25px; right: 10px;	
	color: #5b4a29;
	font: normal 11px Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;		
}
#header #header-links a {	
	color: #5b4a29;
	text-decoration: none;	
	padding: 0 2px;
	font-weight: bold;
}
#header #header-links a:hover {
	color: #111;		
}

/* header-photo */
#header-photo {
	clear: both;
	background: #fff;
	margin: 5px auto;
	padding: 0;		
	height:206px; 
	width: 870px;
}
#header-photo img {
	border: none;
	margin: 0; padding: 0;
} 

/* Navigation */
#nav {
	clear: both;	
	margin: 0; padding: 0;		
	height: 45px;	
}
#nav .menu-liste {
	float: left;
	list-style: none;
	background: url(img/nav.jpg) repeat-x;
	width: 870px;		
	height: 45px;
	text-transform: uppercase;
	margin: 0 0 0 15px;
	padding: 0;	
	display: inline;
}
#nav .menu-liste .menu-entree {
	display: inline;
	margin: 0; padding: 0;
}
#nav .menu-liste .menu-entree a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 14px;
	border-right: 1px solid #899D00;
	border-left: 1px solid #A7D101;
	font: bold 14px/45px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	text-decoration: none;	
	letter-spacing: 1px;
	color: #fff;
}
#nav .menu-liste .menu-entree a:hover,
#nav .menu-liste .menu-entree a:active {
	background: url(img/nav-hover.jpg) repeat-x;
}
#nav .menu-liste .menu-entree.on a {
	background: url(img/nav-current.jpg) repeat-x;
}

/* sub-menus */

#nav .menu-liste li.menu-entree {
	display: inline;
	float: left;
	position: relative;
}
#nav li .menu-liste {
  background-color: #e5e5e5;
  background-image: none;
	position: absolute;
  display: none;
  width:255px;
  top: 36px;
  left: 0;
  line-height: 100%;
  z-index: 5;
  border: 1px solid #fff;
  height:auto;
}
#nav li .menu-liste .menu-entree {
	background: url(img/nav.jpg) repeat-x;
	border-right: none;
	width: 255px;
}
#nav li .menu-liste .menu-entree a {
	display: block;
	width: 226px;
}
#nav li:hover ul,#nav li.hover ul{display:block;}
#nav li:hover li ul,#nav li.hover li ul{display:none;}
#nav li:hover li:hover ul,#nav li.hover li.hover ul{display:block;}
#nav li:hover li:hover li ul,#nav li.hover li.hover li ul{display:none;}
#nav li:hover li:hover li:hover ul,#nav li.hover li.hover li.hover ul{display:block;}
#nav li:hover li:hover li:hover li ul,#nav li.hover li.hover li.hover li ul{display:none;}
#nav li:hover li:hover li:hover li:hover ul,#nav li.hover li.hover li.hover li.hover ul{display:block;}
#nav li ul ul{}


/* Main Column */
#main {
	float: left;
	width: 550px;
	padding: 15px 0 0 0; margin: 0 0 0 10px;
	display: inline;	
}
#main .h2 {
	margin-top: 10px;
	padding-bottom: 3px;
	font: normal 2.3em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #895F30; 
	letter-spacing: -1px;	
	text-transform: none;
}
#main .h2 a {
	color: #895F30; 
	text-decoration: none;	
}
#main ul.spip li {
	list-style-image: url(img/bullet.gif);
}

/* Sidebar */	
#sidebar {
	float: right;
	width: 280px;
	padding: 25px 0 0 0; margin: 0;		
}	
#sidebar .h2,
#sidebar .formulaire_recherche label {
	margin-top: 10px;
	padding: 5px 5px;
	font: normal 1.6em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #899B0D;
	line-height:100%;
}

#sidebar .menu ul {
}
#sidebar .menu ul li {
}
#sidebar .menu ul li a {
}
#sidebar .menu ul li a:hover {	
}

/* footer */
#footer-wrap {
	clear: both;
	width: 900px;
	font-size: 95%;	
	text-align: left;
	padding: 15px 0;		
	border-bottom: 15px solid #fff;
	border-top: 1px solid #fff;
}
#footer-wrap a:hover {
	color: #000;	
}
#footer-wrap .h3 {
	color: #976834;  
	margin: 0;
	padding: 0 10px; 
	text-transform: uppercase;
	font-weight: bold;

line-height:100%;}

#footer-content {
	color: #888;
	margin: 0 auto; 
	padding: 0;	
	width: 840px;			
}
#footer-content a {
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}
/*
#footer-content ul {
	list-style: none;
	margin: 10px 0 0 0; 
	padding: 0;	
	border-top: 1px solid #e5e5e5;
}
#footer-content li {
	border-bottom: 1px solid #e5e5e5;	
}
#footer-content li a {
	display: block;
	font-weight: normal;
	padding: 5px 0 5px 10px;
	width: 96%;
}
#footer-content .col3, .col3-center {
	float: left;
	width: 32%;
}
#footer-content .col3-center { 
	margin: 0 15px; 
}
*/
/* bottom */
#footer-bottom {
	clear: both;
	color: #666;	
	margin: 0 auto; 
	width: 870px;
	padding: 15px 0 0 0;
	text-align: center;	
}
#footer-bottom  a {
	color: #976834;
}


/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.30em 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; line-height: 1.40em; }

/* postmeta */
.meta-publi {
	padding: 5px; margin: 20px 0 15px;
	font-size: 95%;
	color: #99997D;
	border: 1px solid #EAE7DB;
	background: #FAFAE7;
	clear:both;
}
.meta-publi .date-redac { margin: 0 10px 0 5px;	}
.meta-publi .nb_commentaires { margin: 0 10px 0 5px;	}
.meta-publi .lire-la-suite { margin: 0 10px 0 5px;	}

.info-publi { font-size: .95em;	padding-top: 0; margin-left: 1px;	}
.h3+.info-publi {margin-top:-10px;}
