/*  ----------------------------------------------------------- */
/*  			Styles videos.spip.org							*/
/*  ----------------------------------------------------------- */

/* couleurs 

#faf8f5 : gris blanc
#dad0c4 : gris
#423c33 : maron noir
#34403f : bleu noir
#ee8616 : orange
#0f5ba7 : bleu flashy

palette de couleur : jessicabrown
http://www.colourlovers.com/palette/185077/angry_kitty

*/

body, h1, h2, h3, h4, h5, h6 { font-family: "Trebuchet MS", Helvetica, sans-serif; }



/* Couleurs des liens---------------------------------------------- */a { color: #0f5ba7; text-decoration: none; }a:hover { color: #ee8616; text-decoration: underline; }

body { background: #423c33; }
div#page { width: 960px; padding: 10px 10px 0; background: #faf8f5; }
div#top { width: 960px; margin-bottom: 20px; }
div#conteneur { width: 62%; }
div#contenu { padding-top: 0; }
div#navigation { margin-top: 0; }
div#navigation, div#extra { width: 35%; }
div#pied { border-color: #dad0c4; }

h1 { font-weight: bold; margin-bottom: 10px; font-size: 2.1em; color: #34403f; }
h2 { clear: both; margin: 1em 0em; padding: 2px 5px; background: #34403f; }
h2, h2 a, h2 a:hover { font-family: Georgia,Times,serif; color: #fff; }

#top #nom_site_spip { font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; }
#top #formulaire_recherche { position: absolute; top: 25px; right: 20px; }

/*  ------------------------------------------
/*  pages videos
/*  ------------------------------------------ */

#hierarchie { margin-bottom: 0; }
.cartouche { }
.page_article .cartouche p { padding: 2px; background:#dad0c4; }
.cartouche p small { color: #333; }

#playliste_video{margin:auto}

#page #navigation .rubriques ul li { border: 0; background: #dad0c4; }
#navigation .menu ul,
#extra .menu ul { border-bottom: 0; }
#navigation .menu ul li,
#extra .menu ul li { border-top: 0; border-bottom: 1px solid #dad0c4; }
#navigation .menu ul li .rss_auteur { float:right; }
#navigation .infos_video p label{ display: block; }
#navigation .infos_video p input,
#navigation .infos_video p textarea { width: 90%; white-space: nowrap; }
#navigation .embed_video textarea { overflow: hidden; }
#extra .formulaire_spip,
#extra .infos_auteur { background: #dad0c4; padding: 5px; }

#infos_sup .formulaire_notation { float: left; }

.enligne h2 { margin: 1em 0; }
.enligne ul { border: none; }
.enligne ul li { float: left; clear: none; width: 32%; text-align: center; border: none; }
.enligne ul li .spip_logos { float: none; margin: 0 0 5px; }
.enligne ul li:hover { background: #dad0c4; }

ul .forum-fil { clear: both; }
ul .forum-message { border: none; border-top: 1px solid #dad0c4; float: left; width: 100%; }
ul .forum-chapo { width: 30%; float: left; background: #dad0c4; border: none; padding: 6px; }
ul .forum-chapo .spip_logos { float: left; margin-right: 5px; border: 1px solid #666; }
ul .forum-chapo p { margin: 2px 0; }
.forum-texte { width: 60%; float: left; }

/*  ------------------------------------------
/*  pages auteurs + rubriques
/*  ------------------------------------------ */

.chapo { color: #333; font-weight: normal; }


/*  ------------------------------------------
/*  Les formulaires
/*  ------------------------------------------ */

.formulaire_recherche input.text {
background: #fff url(rechercher.png) no-repeat scroll left center;
padding-left: 25px;
}