body {

	margin: 0;
	padding: 0;

}



#conteneur {

	position: relative;
	text-align: right;
	width: 76%;
	min-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#navigation {

	float: right;

}

#entete {

	background-repeat: no-repeat;
	background-image: url(img/logo_rtl.png);
	background-position: bottom left;
	height: 158px;
	margin-top: 0px;
	margin-bottom: 15px;
	z-index: 2;

}

#corps {

	margin-bottom: 11px;
	z-index: 2;

}

#titre-mag {

	position: absolute;
	right: 6px;
	top: 30px;
	z-index: 2;

}

#titre-spip {

	position: absolute;
	right: 200px;
	top: -3px;
	z-index: 1;

}

#titre-url {

	position: absolute;
	top: 144px;
	width: 100%;
	z-index: 1;
	text-align: left;

}

#gauche {

	float: right;
	width: 15%;
	z-index: 2;

}

#contenu {

	width: 62%;
	float: right;
	border: 1px solid #313031;
	margin-left: 2%;
	margin-right: 2%;
	background: #fff url(img/fond.png) repeat-y left;

}

#texte {

	margin-right: 30px;
	min-height: 320px;
	padding: 10px;

}

#menu {
	float: left;
	width: 121px;

}

#droite  {

	float: right;
	width: 18%;

}

#pied {

	padding-right: 18%;
	padding-left: 22%;
	padding-top: 0.3em;
	padding-bottom: 4em;
	text-align: right;
	clear: right;

}

