/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */
input, textarea, select { font-size: 100%; font-family: inherit; }


/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip { clear: both; margin-bottom: 2em; padding: 1em; background-color: #EEC; border: 0; text-align: left; font-size: 1em; color: #330; }
.formulaire_spip form { margin: 0; padding: 0; } /* Bug IE/Win */

/* Fieldset */
.formulaire_spip fieldset { clear: both; margin: 0 0 1em 0; padding: 0; border: 0; }
.formulaire_spip fieldset legend { margin: 0; padding: 0; font-size: 1.20em; font-weight: bold; color: #330; } /* Preciser la couleur des legend pour IE/Win */
.formulaire_spip fieldset fieldset { margin-top: 1em; }
.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

/* Explications */
.formulaire_spip .explication { margin: 0.50em 0; color: #444; }

/* Lignes */
.formulaire_spip ul { margin: 0; padding: 0; list-style: none; }
.formulaire_spip ul li { clear: both; margin: 0; padding: 0.50em 0; }

/* Labels */
.formulaire_spip label { display: block; text-align: left; color: #444; font-weight: bold; /* for IE */ position: relative;  }
.formulaire_spip li p { margin-top: 0; margin-bottom: 0; }
.formulaire_spip .choix label { display: inline;}

/* Champs de saisie */
.formulaire_spip input.text { width: 15em; }
.formulaire_spip textarea { width: 99%; }
.formulaire_spip select { width: 99%; }

/* Boutons */
.formulaire_spip .boutons { clear: both; margin: 0; padding: 0; text-align: right; }
.formulaire_spip .boutons input { margin-left: 1em; }
.formulaire_spip .boutons input, input.submit { /*background-color: #216778; border:1px solid #164450; padding: 0 2px; font-weight: normal; color: #FFF;*/ }


/* Reponses, previsu et erreurs
----------------------------------------------- */

/* Champs obligatoires */
.formulaire_spip li.obligatoire {}
.formulaire_spip li.obligatoire label { /*font-weight: bold; color: #000;*/ }

/* Previsualisation du message */
fieldset.previsu { margin-bottom: 2em; padding: 1em; border: 2px dashed #F57900; }
fieldset.previsu legend { padding: 0 0.50em; color: #F57900; font-weight: bold; }
fieldset.previsu li { padding: 3px; border: none; }
fieldset.previsu .boutons input { background-color: #F57900; border-color: #F57900; color: #FFF; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; font-size: 1.20em; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }
fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend pour IE/Win */

/* * Erreurs */
.formulaire_spip li.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea { background-color: #FCC; border-style: solid; border-color: #C30; }
.reponse_formulaire_erreur { margin: 0; color: #C30; font-weight: bold; }

/* * OK */
.reponse_formulaire_ok { margin: 0; color: #53AD20; font-weight: bold; }


/* Variantes et cas particuliers
----------------------------------------------- */

/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }
table.spip_barre a img { background: #FDA; padding: 3px; border: 1px outset #CC9; }
table.spip_barre a:hover img { background: #FFF; border: 1px solid #CC9; }
table.spip_barre input.barre { width: 99%; background: transparent; border: 0; color: #F57900; }

/* Formulaire de forum */
.formulaire_forum .saisie_titre input.text { width: 99%; }

/* Selection des langues */
.formulaire_menu_lang { margin: 0; padding: 0; background: none; }

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche { margin: 0; padding: 0; background: none; }
.formulaire_recherche * { display: inline; vertical-align: middle; }
.formulaire_recherche label { display: none; }
.formulaire_recherche input.text { padding-left: 25px; background: #fff url(rechercher.gif) no-repeat left center; }
.formulaire_recherche input.submit {}

.spip_surligne {} /*Cf.: spip_style.css*/

/* Choix des mots-clefs */
ul.choix_mots { display: block; margin: 0; padding: 0; list-style: none; }
ul.choix_mots li { clear: none; float: left; display: block; width: 30%; padding: 1%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

.formulaire_spip .bugajaxie { display: none; } /* Bug IE/Win */
