#front {
	top: 0px;
	left: 0px;
	position: absolute;
	display: block;
}

#back {
	display: none;
}

#search-field {
	position: absolute;
	font: normal normal normal 12px/normal Verdana;
	width: 225px;
	left: 120px;
	top: 22px;
	display: inline-block;
	overflow: hidden;
}

.backinfo {
	position: absolute;
	font: normal normal normal 11px/normal Lucida Grande;
	font-weight: normal;
	width: 200px;
	top: 28px;
	color: rgb(255, 255, 255);
	left: 80px;
}

.flip {
	position: absolute;
	top: 28px;
	left: 330px;
	width: 13px;
	height: 13px;
}

#flip {
	opacity: 0;
	background-image: url(Images/white_i.png);
	background-repeat: no-repeat;
	background-attachment: initial;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: initial;
	z-index: 8000;
}

#fliprollie {
	display: none;
	opacity: 0.25;
	background-image: url(Images/white_rollie.png);
	background-repeat: no-repeat;
	background-attachment: initial;
	background-position-x: 0%;
	background-position-y: 0%;
	background-color: initial;
	z-index: 7999;
}

.backgroundimage {
	position: absolute;
	top: 0px;
	left: 0px;
}

.done {
	position: absolute;
	top: 23px;
	left: 280px;
}

a {
	color: white;
}

