/* 
	Emily's Folio
	by Catherine Collingwood || http://cathcoll.net

	Based on
	Default WordPress by Dave Shea || http://mezzoblue.com
	Modifications by Matthew Mullenweg || http://photomatt.net

	License : GPL - http://www.gnu.org/copyleft/gpl.html
*/

a, a:visited {
	color: #ffcc66;
	text-decoration: none;
}

a img {
	border: 1px;
}

a:hover img {
	text-decoration: none;
}

a:hover {
	color: #cccc99;
	text-decoration: underline;
}

acronym, abbr {
	color: #99b999;
	border: none;
	cursor: help;
}

blockquote {
	margin: 0 20px 0 20px;
	padding: 0 5px 0 5px;
	text-align: justify;
	line-height: 110%;
	border-right: 1px dotted #cccccc;
	border-left: 1px dotted #cccccc;
}

body {
	background: #555555;
	color: #eeeeee;
	font: 95% 'Palatino Linotype', Times, serif;
	margin: 5px;
	border: 3px double #aba;
	padding: 0;
}

h2 {
	margin: 0 10px 0 10px;
}

h3 {
	margin: 0;
}

ol#comments li p {
	font-size: 100%;
}

/* classes used by the_meta() */
ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

.credit {
	font-size: 75%;
	border-top: double 3px #aba;
	color: #fff;
	margin: 0;
	padding: 3px 0 3px 0;
	text-align: center;
}

.feedback {
	font-size: 75%;
	text-align: left;
	clear: both;
	border-bottom: 1px dotted #aba;
	padding: 0 10px 10px 10px;
}

.meta {
	padding: 0 10px 0 10px;
	font-size: 75%;
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.meta, .meta a {
	font-weight: normal;
	letter-spacing: 0;
}

.storycontent {
	padding: 0 10px 0 10px;
	text-align: justify;
}

.storytitle {
	margin: 0;
	padding: 5px 10px 0 10px;
}

#commentlist {
	text-align: justify;
}

#commentform name, #commentform #email, #commentform #url, #commentform textarea, #commentform #author {
	font: 95% 'Palatino Linotype', Times, serif;
	padding: 0;
	margin-left: 10px;
}

#commentform input {
	margin-left: 10px;
	font: 95% 'Palatino Linotype', Times, serif;
}

#commentform label {
	padding-left: 3px;
	font-size: 100%;
	font-weight: bold;
}

#commentform textarea {
	width: 90%;
}

#commentlist li ul {
	list-style-type: none;
}

#content {
	border-left: 1px solid #aba;
	margin: 0 0 0 175px;
	padding: 8px 0 0 0;
}

#header {
	font-size: 225%;
	font-weight: normal;
	letter-spacing: 5px;
	margin: 0;
	padding: 15px 0 15px 0;
	border-bottom: double 3px #aba;
	text-align: center;
}

#header a {
	color: #eeeeee;
	text-decoration: none;
}

#menu {
	padding: 5px 0 5px 7px;
	position: absolute;
	left: 10px;
	top: 80px;
	width: 148px;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input#s {
	width: 80%;
	font: 100% 'Palatino Linotype', Times, serif;
}

#menu input {
	font: 90% 'Palatino Linotype', Times, serif;
}

#menu ul {
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
}

#menu ul li {
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding-bottom: 2px; 
}

#menu ul ul {
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul ul ul.children {
	font-size: 142%;
	padding-left: 4px;
}

#wp-calendar {
	empty-cells: show;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	width: 90%;
	line-height: 125%;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
}

#wp-calendar caption {
	font-size: 100%;
	font-weight: bold;
	text-align: left;
}

#wp-calendar td {
	color: #cccccc;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td:hover {
	color: #eeeeee;
}

#wp-calendar #today {
	color: #99b999;
}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}
