span.donnees{	display: block;	overflow:hidden;	}
span.donnee-champ {	display: block;	clear: left;}
span.donnee-champ-label {	width: 150px;	display: block;	float: left;}
span.donnee-champ-data {	display: block;	margin-left: 160px;}
span.nettoyeur{	clear: both;}