* {
  margin: 0;
  padding: 0;
  }
  
html{
	margin:0px;
	padding:0px;
	}

@font-face {
  font-family: "Vinca Stencil";
  src: url("fonts/vinca_stencil.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 10px 0;
  }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Verdana;
  }

hr {
  color: #787878;
  border: 1px solid #333333;
  }

pre {
  height: auto; 
  overflow-x:scroll;
  margin: 5px 0;
  }

fieldset {
  margin: 0;
  padding: 0; 
  border: 0;
  }

dd {
  padding-left: 15px;
  }


p, dl, dt, dt {
  font-size: 9pt;
  }

a {
  color: #333333;
  text-decoration: none;
  }
a.spip_out  {
  color:#333333;
}
a:hover {
  color: #666666;
  text-decoration: none;
  }

a img {
  border: none;  
  }

blockquote, blockquote.spip {
  background: #070707;
  border: 1px solid #060606;
  padding: 5px 15px;
  margin: 10px 10px 5px 15px;
  font-style: italic;
  color: #fff;
  font-size:10pt;
  }
blockquote.spip_poesie div	{
  font-size:11pt;
}

code, .spip_code, .spip_cadre {
  color: #3366cc;
  font-style: italic;
  font-size:9pt;
  }

strong {
  font-size: 110%;
  }

body {
	margin-left:0px;
	margin-top:0px;
	padding:0px;
  background: #fff;
  color: #000;
  font-family: trebuchet ms, arial, helvetica, sans-serif;
  }

table  {
  margin:0;
  margin-top: 5px;
}
table *  {
  color:#000000;
}
table caption  {
  color:#ffffff;
}

.cleared {clear: both;}

.spip_logos {display: none;}
/* listes */
ul.spip, ol.spip, 
.page_auteur .liste.articles ul, .page_auteur .liste.articles ol,
ul.forum, ul.forum li ul,
ul.plan, ul {
  margin: 0;
  padding: 0 0 5px 16px;
  font-size:9pt;
  }

ul.spip li, ol.spip li, 
.page_auteur .liste.articles ul li, .page_auteur .liste.articles ol li,
ul.forum li,
ul.plan li, ul li {
  margin: 0;
  padding: 2px 2px 2px 10px;
  color: #999;
  line-height: 17px; /* Required for cross-browser consistency; cross-browser defaults vary. */
  }

ul.plan li a , li.menu-entree a, li.item a, p.retour a { color: #333333;}

li.menu-entree {list-style: square; font-size: 18pt;}

.liste.articles ul    {
    padding:0;
}

/* Tableaux */
table.spip tr.row_first { background: #333333; color: #eee;}
table.spip tr.row_odd { background: #666666; }
table.spip tr.row_even { background: #eee; }



/* Header and wrapper */
#wrapper {
  margin: 0 ;
  width: 960px;
  text-align: left;
  padding: 0;
  }

#header {
  padding: 0;
  margin: 0;
  height: 180px;
  }

#header .accueil {
	float: right;
  margin: 18px 0 0 0;
  padding: 0;
  text-align: center;
}
#header .formulaire_menu_lang  {
  text-align: right;
  float: right;
  width: 300px;
  margin: 10px 0 0 0;
  clear:right;
}
#header #slogan_site_spip{
  padding: 0;
  text-align: right;
  color: #999;
  font-size: 11pt;
  }
#header #nom_site_spip {
  font-family: "Century Gothic", Helvetica, Arial,sans-serif;
  font-size: 65pt;
  font-weight: 100;
  padding: 0;
  margin: 0;
  text-align: right;
  float: right;
  }
#header #nom_site_spip a {
  color: #999;
  font-size: 60pt;
  text-decoration: none;
  }
#header #nom_site_spip a:hover {
  color: #666;
  text-decoration: none;
  }
#header .accueil a .spip_logos	{
  display:none;
}
#descriptif_site_spip p {
  font-family: Helvetica, Arial,sans-serif;
  padding: 0;
  float:right;
  text-align: justify;
  color: #999;
  font-size: 50pt;
  font-weight: 100;
  line-height: 30px;
  }
#descriptif_site_spip p:first-letter {
	color: #222;
	font-size: 65pt;
	}
#descriptif_site_spip p:first-line {
	color: #666;
	font-size: 50pt;
	}

/* Menu */

#catnav {
  display: none;
  }

/* Top Content */

#main {
  margin: 5px 0px 0 15px;
  clear: both;
  width: 945px;
  min-height: 400px;
  padding-bottom: 5px;
  }
#contentwrapper {
  float: right;
  width: 660px;
  margin: 20px 0 15px 0;
  padding: 0;
  }
#contentwrapper .sommaire {
  display: none;
  }
#contentwrapper2 {
  float:left;
  width: 900px;  
  margin: 0 0 0 0;
  padding: 0;
  }
#hierarchie {display: none;}
body.page_rubrique #contentwrapper .h1, body.page_rubrique #contentwrapper2 .h1,
body #contentwrapper .h2, body #contentwrapper2 .h2 {
  margin: 15px 0 10px 0;
  text-align: right;
  font-size: 18pt;
  color: #666;
  font-weight: normal;
  font-family: "Century Gothic", Helvetica, Arial,sans-serif;
  padding: 5px;
  }
body.page_plan #contentwrapper h2 a {color: #666;}
body.page_rubrique #contentwrapper .h1, body.page_rubrique #contentwrapper2 .h1  {
  font-size:40pt;
}
.liste.articles .spip_logos, .cartouche .spip_logos, .entry-title .spip_logos {
  clear:left;
  float:left;
  margin:0.8em 0 4px 16px;
}

.entry-title {text-align: right;}
.liste	{
  margin-bottom:2em;
}
.liste .liste-items .item, .liste .menu .item .menu-entree {
  margin: 0;
  margin-bottom:2em;
  padding: 0;
  font-size: 18pt;
  list-style:none;
  text-align: right;
  }
.page_sommaire .articles .liste-items .item, .page_sommaire .articles .liste .menu .item,
.page_rubrique .articles .liste-items .item, .page_rubrique .articles .liste .menu .item    {
  margin-bottom:4.5em;
}
.liste-items .item .h3 a, .menu .item .h3 a,
.page_article #contentwrapper .cartouche .h1, .page_article #contentwrapper .cartouche .h1 a {
  font-size: 30pt;
  text-align: right;
  font-family: "Century Gothic", Helvetica, Arial,sans-serif;
  font-weight: normal;
  color: #666;
  line-height:17pt;
  }
#contentwrapper .cartouche .surtitre, .page_article #contentwrapper .cartouche .soustitre {
  text-align: right;
  }
#contentwrapper .chapo,#contentwrapper .introduction  { text-align: right; font-style: italic; clear: both; font-size: 12pt;}
.liste-items .item .h3 a:hover, .menu .item .h3 a:hover,
.page_article #contentwrapper .cartouche .h1 a:hover {
  text-decoration: none;
  color: #333;
  }
.meta-publi {margin-bottom: 20px; text-align: right; clear: both; font-size: 12pt;}
.page_rubrique .sites {margin-top: 20px; text-align: left; clear: both;}
.info-publi {
  text-align:right;
  padding: 0;
  margin: -10px 0 0 0;
  font-size: 9pt;
  color: #666;  
  }
.info-publi a {
  color: #666;
  }
.info-publi a:hover {
  color: #666;
    text-decoration: underline;
  }
.texte {text-align: justify;}
/* Portfolio */
.documents_portfolio, .documents_portfolio .h2 {text-align: right; clear: both;}
.documents_portfolio .spip_logos {display: inline; padding: 5px; border: 6px solid #666;}
.documents_portfolio .spip_logos:hover {background: #666;}
/* Sidebars */
#sidebars {
  margin: 0 20px 0 0;
  padding: 0;
  float: left;
  width: 240px;
  color: #999;
  }
#sidebars .menu, #sidebars .formulaire_spip, #sidebars .liste {
  background: transparent;
  padding: 8px 0;
  margin-bottom: 2em;
  }
.menu  {
  margin-bottom: 2em;
}
#sidebar_full {
  padding: 0;
  margin: 0;
  }

#sidebar_left {
  float: left;
  width: 160px;
  }

#sidebar_right {
  float: right;
  width: 160px;
  }

#sidebars h2 {
  margin: 0;
  padding: 0 0 8px 0;
  font-size: 24pt;
  font-weight: normal;
  letter-spacing: 0.05em;
  font-family: "Century Gothic", Helvetica, Arial,sans-serif;
  color: #999;
  }

#sidebars table {
  width: 130px;
  }

#sidebars ul {
  margin: 0;
  padding: 0;
  }

#sidebars li {
  margin-bottom: 20px;
  font-size: 9pt;
  }

#sidebars li ul {
  padding: 0;
  }

#sidebars ul li {
  margin: 0;
  padding: 2px 2px 2px 0;
  color: #666;
  line-height: 17px; /* Required for cross-browser consistency; cross-browser defaults vary. */
  }

#sidebars a {
  display: inline;
  color: #333;
  }
#sidebars a:hover {
  color: #666;
  }
#sidebars .menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  }
#sidebars .menu li li{
  margin: 0 0 0 10px;
  }
   
#sidebars .menu li.menu-entree a {
  margin:  0;
  display: block;
  color: #666;
  font-size: 14pt;
  line-height: 24px;
  font:Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #999;
  }
  
#sidebars .menu li.menu-entree li a {
  margin:  0;
  display: block;
  color: #666;
  font-size: 14pt;
  line-height: 24px;
  font:Arial, Helvetica, sans-serif;
  border-bottom: none;
  }
#sidebars .menu li.menu-entree a.on {
  color: #000;
  }
  
#sidebars .menu li.menu-entree a:hover {
  color: #999;
  text-decoration: none;
  }

#sidebars p {
  padding: 2px 0;
  font-size: 9pt;
  color: #eee;
  }
  
#sidebars .forums {
  display: none;
  }
#sidebars .syndic_articles {
  display: none;
  }

#tag_cloud a {
  display: inline;
  }

#sidebars ul.children li {border-bottom:none;}
#sidebars ul.children {margin-bottom:0;}



/* Formulaires */
.formulaire_recherche {display: none;}
.formulaire_recherche input.text  {
  padding:1px 1px 1px 24px;
  width:135px;
}

.formulaire_spip .boutons input, input.submit {
  margin: -5px 0 0 5px;
    color: #fff;
   border: 1px solid #fff;
   background: #333333;
  font-size: 8pt;
  padding: 3px 6px;
  vertical-align: middle;
  }
.formulaire_spip .boutons input, input.submit:hover {
  cursor: pointer;
   background: #fff;
  color: #333333;
    border: 1px solid #333333;
  }

.formulaire_spip label {
  border-bottom:1px dotted #333;
  color:#999;
  font-size:12pt;
  font-weight:normal;
  letter-spacing: 0.1em;
  font-family: "Century Gothic", Helvetica, Arial,sans-serif;
  margin:0 0 10px;
  padding:0 0 2px;
}
#sidebars .formulaire_spip label {
  border-bottom:1px dotted #fff;
  color:#DFDFDF;
  }
.formulaire_spip fieldset legend {
  background:none;
  color:#000;
  font-size:1.05em;
  font-weight:bold;
  margin:0;
  padding:0;
}

.formulaire_inscription form  {
  padding:10px;
  display: none;
}

.formulaire_spip ul, #sidebars .formulaire_inscription ul {
  list-style:none;
  margin:0;
  padding:0;
  background:none;
}

.formulaire_spip ul li, #sidebars .formulaire_inscription ul li {
  clear:both;
  margin:0;
  padding:0.5em 0;
  background:none;
}
.formulaire_forum form, .formulaire_ecrire_auteur form  {
  padding:10px;
}

.formulaire_menu_lang label {
  border-bottom:1px dotted #fff;
  font-size:9pt;
  color: #fff;
  float:left;
  width:50%;
  }
.formulaire_menu_lang select    {
  font-size:9pt;
  float:right;
  width:50%;
}



/* Before footer */

#morefoot {
  padding: 15px;
  text-align: center;
  color: #666;
  margin: 20px 0 0 240px;
  clear:both;
  }
#morefoot p {
  margin: 5px 0;
  padding: 5px 0;
  }
#morefoot ul {
  list-style-type: none;
  margin-top: 5px;
  }
#morefoot ul li, #morefoot p {
  font-size: 7pt;
  }
#morefoot a {
  text-decoration: underline;
  color: #666;
  font-size: 7pt;
  }
#morefoot a:hover {
  text-decoration: underline;
  color: #999;
  }
#morefoot a+a img {
  display: none;
  }
#morefoot h3 {
  font-size: 7pt;
  font-weight: normal;
  color: #333;
  border-bottom: 1px dotted #444;
  margin: 0;
  padding: 0 0 2px 0;
  }
#morefoot #searchbox {
  padding: 1px;
  width: 180px;
  }
#morefoot .col1 {
  float: left;
  width: 340px;
  }
#morefoot .col2 {
  margin: 0 25px;
  }
#morefoot .col2, #morefoot .col3 {
  float: left;
  width: 260px;
  }
#morefoot li {
  padding-left: 20px;
  margin-bottom: 5px;
  background: url(img/more.gif) left 2px no-repeat;
  line-height: 17px; /* Required for cross-browser consistency; cross-browser defaults vary. */
  }


/* footer*/
#footer {
  clear: both;
  margin-left: 240px;
  padding: 0 15px 10px 15px;
  text-align: center;
  }
#footer p, #footer #copyleft {
  font-size: 7pt;
  color: #666;
  padding: 0;
  }
#footer a {
  color: #666;
  text-decoration: underline;
  }
#footer a:hover {
  color: #999;
  }
#footerleft {
  float: left;
  width: 500px;
  }
#footerright {
  float: right;
  width: 300px;
  text-align: right;
  }



/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }
table.spip_barre a img { background: #f0f0f0; padding: 3px; border: 1px outset #CC9; }
table.spip_barre a:focus img,
table.spip_barre a:hover img,
table.spip_barre a:active img { background: #FFF; border: 1px solid #CC9; }
table.spip_barre input.barre { width: 99%; background: transparent; border: 0; }


/* Page article */
.soustitre  {
  margin-top:0;
  padding-top:0;
  font-size:12pt;
}
.surtitre  {
  margin-bottom:0;
  padding-bottom:0;
  font-size:12pt;
}
.ps, .notes {
  margin-bottom:2em;
}
.notes {
  clear:both;
  font-size:0.9em;
}
#contentwrapper .ps .h2,
#contentwrapper .notes .h2  {
  margin-bottom:0;
}
#contentwrapper .ps p,
#contentwrapper .notes p {
  padding-top:0;
}