div#top{background-image:url(tete.png);background-repeat: repeat}
div#conteneur{}
div#contenu{background-image:url(contenu.png);background-repeat: repeat}

.rubriques {background-image:url(trub.png);background-repeat: repeat}
.rubriques .menu-titre {background-image:url(contenu.png);background-repeat: repeat}

.breves {background-image:url(text.png);background-repeat: repeat}
.breves .menu-titre {background-image:url(contenuex.png);background-repeat: repeat}

div#extra{}
div#pied{background-image:url(tete.png);background-repeat: repeat}