/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Specificites SPIP */
h3.spip {text-align:left;}

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

#hierarchie { clear: both; margin-bottom: 2em; color: #666; font-size:80%;}

.cartouche { margin-top:2em; margin-bottom: .2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; margin-top:-30px;}
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin: 1.6em 0; line-height: 1.40em; border:1px solid #ccc; background:#f5f5f5; padding:0.5em; color: #444; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published,
abbr.modified { border: 0; }

/* Portfolio */
#documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
#documents_portfolio a:hover .spip_logos { border-color: #F57900; }
#documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img { padding: 4px; border: 1px solid #DDD; }
#documents_joints{background-color:#FAFAFA;border:1px solid #EEEEEE;font-size:0.9em;margin:20px 0 0 10px;padding:10px;}

/* Pagination */
.pagination,.changer_pagination { clear: both; text-align: right; font-size: 0.95em; color: #666; }
.pagination .label { display:none; }
/* Pagination */
.pagination a, .changer_pagination a,
.pagination .on, .changer_pagination .on, .changer_pagination .label { padding: .2em .5em; margin: 0 1px; }
.pagination a, .changer_pagination a, .changer_pagination .label { background: #eee; text-decoration: none; }
.pagination .on, .changer_pagination .on { font-weight: bold; background: #ccc; color: #fff; }
.pagination .sep, .changer_pagination .sep { display: none; }

.formulaire_spip {border:1px solid #ccc; padding:.5em; margin:1em 0; border-radius:5px; background:#f6f6f6;}

.formulaire_recherche {margin:0;  margin-bottom: 0.5em; border:0; background:none;} /*Cf.: spip_formulaires.css*/
.formulaire_recherche input.text{width:9em;}



/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;
	border-color: #F0F0F0;
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0;
	background:#fafafa;
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;
}
.forum li cite img {
	float: left;
	margin-right: 10px;
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8
}

/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/


/* start - table */
table, table.spip {
	margin: 15px 0px;
	width:100%; text-align:left;
	border:1px solid #ccc;
	border-spacing:2px;
	border-collapse:separate !important;
}

table th, table.spip th{
	background: white;
	color: #666;
	padding:3px;
	text-align: left;
	border:none;
}
table tr, table.spip tr{
	color: #5b5b5b;
	background:#f3f3f3;
}
table td, table.spip td {
	padding:3px;
	border:none;
}
table tr.even,
table.spip tr.row_even {background:#eee;}
table tr:hover {background:#EAF1F5;}
/* end - table */


/* barre outil */
.spip_barre{}
.spip_barre td a img{border:1px solid #888; background:#fafafa; padding:1px; margin-right:1px;}
.spip_barre td a:hover img{background:#fff; border:1px solid #F49500;}
.barre{display:none;}
/* /barre outil */

/**
 *
 *
 *
 */
body {
	margin: 0;
	padding: 0;
	/*background: #fafafa;*/
	font: normal 80% Arial, Tahoma, Helvetica, sans-serif;
	color: #444;
}
body.avec_menu {
	background-image: url(images/fond_menu.png);
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
}

h2 {
	text-transform: uppercase;
	font-size: 1.6em;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1em;
}

p, blockquote, ul, ol {
	line-height: 18px;
	text-align: justify;
}
ul {padding-left:0em; margin-left:2em;}

blockquote, blockquote.spip, blockquote.spip_poesie {
	padding-left: 20px;
	background: url(images/img05.gif) repeat-y;
	border:0;
}

.spip_code, var, kbd { font: 500 100%/1.5em 'Lucida Console', 'Courier New', Monospace; color:#3C8E13;}
.spip_cadre, .coloration_code .cadre {
	width:97%;
	color:#666;
	border:1px solid #ccc;
	border-left:2px solid #888;
  	margin: 5px 0 10px;
  	padding: 5px;

  	text-align: left;
  	display: block;
  	overflow: auto;
  	font: 500 90%/1.5em 'Lucida Console', 'Courier New', Monospace;
  	/* white-space: pre; */
  	background: #fafafa;
}
.coloration_code {margin-bottom:1.6em; /* une ligne */ }
.coloration_code .cadre{margin-bottom:0; color:#666;}
.coloration_code .cadre_download a{color:#888; font-size:90%; font-weight:normal !important; text-decoration:none;}
.coloration_code .cadre_download a:hover{text-decoration:underline;}
.coloration_code ol{list-style-type:none; margin:0 !important; padding:0; text-align:left;}

.resultat{
	border:1px solid #ccc;
	padding: 5px 10px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	margin: 5px 0 10px;
	background: #f6f6f6;
}


hr.spip{width:40%; height:1px; border:1px solid #888; border-bottom:0;}

a, a:active, a:link, a.spip_in, a.spip_out,a.spip_url,a.spip_glossaire {
	color: #6CAE49;
	 text-decoration: none;
}
a:visited{
	color: #5A8544;
}
a:hover {
	text-decoration: underline;
	color:#5C8448;
}
a:focus, button:focus {
	outline:2px solid #8CC26F;
}

/* pied en bas de page sans casser l'impression */
@media screen {
	html, body {height:100%;}
	body {position:relative;}
	html > body #page {
		height:auto;
		min-height:100%;
	}
	#page {
		height:100%;
		position:relative;
	}
	#pied {
		clear:both;
		bottom:0;
		margin-top:2em;
		position:absolute;
	}
}


/* Header */
#haut {
	background: #f8f7f3 url(images/degrade_entete3.png) repeat-x top left;
	border-bottom:1px solid #DFA6D6;
}

#entete {
	width: 960px;
	height: 210px;
	margin: 0 auto;
	position:relative;
}

#nom_site_spip {display:none;}
#entete .accueil {margin-left:1em; padding-top:15px;}
#entete .accueil .logo {display:inline-block;}



#entete #slogan_site_spip  {
	position:absolute;
	right:18px;
	top:100px;
	font-size: 1.6em;
}

#entete .formulaires_entete label {position:absolute; left:-3000em;}


#entete .menu {font-size:100%;}
#entete .menu_lang { position:absolute; right:30px; top:20px;}
#entete .menu_lang a[hreflang]:after { content:""; /* ne pas afficher fr (fr) | en (en) ! */}
#entete .menu .menu-items {margin:0;}
#entete .menu .item {list-style-type:none; display:inline; padding:0; margin:0; vertical-align:bottom;}
#entete .menu a {
	color:#444;
	border-bottom:4px solid #ddd;
	padding:3px 7px;
	display:inline-block;
}
#entete .menu a:hover {
	border-bottom:4px solid #92C775;
	text-decoration:none;
}
#entete .menu .item.on a {
	font-size:140%;
	border-bottom:4px solid #6CAE49;
}

#entete #formulaire_recherche {
	position:absolute;
	top:130px; right:0px;
}
#entete #formulaire_recherche input.text {
	background-image:none;
	width:12em;
	font-size:160%;
	padding:3px 10px;
	border:1px solid #8CC26F;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
}
#entete #formulaire_recherche input.text:focus {
	outline:none;
	border:2px solid #8CC26F;
}
#entete #formulaire_recherche .submit {
	background:transparent url(images/recherche-64.png);
	width:64px; height:64px;
	color:transparent;
	border:none;
	
}

/* Menu */

#nav {
	width: 960px;
	height: 40px;
	margin: 0 auto;
	padding:0px;
	overflow:hidden;
	background: url(images/img_menu.gif) repeat-x;
}

#nav .menu-liste {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav .menu-entree {
	display: inline;
}

#nav a {
	display: block;
	float: left;
	padding: 14px 20px 0 20px;
	
	text-transform: uppercase;
	text-decoration: none;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D8D8D8;
}

#nav a:hover {
	color: #FFFFFF;
}

#nav .first a {
	background: none;
}
#nav .menu-entree .menu-liste{
display:none;
}
/* Content */

#conteneur {
	width: 928px;
	margin: 0 auto;
	padding: 20px 10px 80px 20px;
	/*border-left:1px solid #eee;
	border-right:1px solid #eee;*/
	background: #fff;
	overflow:auto;
}

/* Posts */

#contenu {
	float: left;
	width: 470px;
	margin-right:30px;
	font-size:1.05em;
	position:relative;
}
.page_glossaire #contenu,
.page_suivi #contenu,
.page_tickets #contenu {width:670px;}

#contenu p { line-height:1.4em; margin:0 0 1.5em 0;}
#contenu ul, #contenu ol { line-height:1.4em;}
#contenu ul.spip, #contenu ol.spip {margin:0 0 0 2em;}

#contenu li{text-align:left;}

#contenu h1 {font-size:180%; margin:1em 0 0; padding:0; color:#222; clear:both;}
#contenu .cartouche {clear:both;}
#contenu .cartouche h1 {clear:none;}
#contenu h2 {color:#333; text-transform:none; font-size:150%; margin-top:2.5em; clear:both;}
#contenu h3,
#contenu h4 {color:#222; text-transform:none; font-size:110%; margin-bottom:0em; padding-bottom:0em; letter-spacing: 0px; clear:both;}
#contenu p+style+.coloration_code,
#contenu p+.coloration_code,
#contenu p+.resultat{margin-top:-1em;}
#contenu p+ul.spip,
#contenu p+ol.spip {margin-top:-1.5em; margin-bottom:1.5em;}
#contenu .coloration_code +ul.spip,
#contenu .coloration_code +ol.spip  {margin-top:-0.5em; margin-bottom:1.5em;}

/* en savoir plus sur les articles */
#contenu .ps {
	border:1px solid #888; background:#eee;
	margin: 25px 0 10px 0px; list-style:none; padding:5px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}
#contenu .ps h2 {
	font-size:110%;
	font-weight:bold;
	color:#333;
	text-transform:none;
	margin:5px 0 0 5px; padding:0;
}
#contenu .ps p{
	text-align:left;
	margin:0.5em !important;
	padding:0;
}
#contenu .chapo p {margin-top:0;}
#contenu .chapo p + p {margin-top:1.5em;}

/* blocs d'exemple */
#contenu .exemple {
	border:1px solid #ccc;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	background:#f8f8f8 url(images/puzzle.png) no-repeat top left;
	margin: 25px 0 10px 0px; list-style:none; padding:5px 1em;
}
#contenu .exemple h3 {
	font-size:110%;
	font-weight:bold;
	color:#333;
	text-transform:none;
	margin:2px 0 10px 30px; padding:0;
}
#contenu .exemple > :last-child{margin-bottom:5px; /*au lieu de 1em*/}


#contenu .tdm.menu {
	width:210px;
	position:absolute;
	left:490px;
	top:7px;
}

/* Links */

#navigation {
	float: right;
	width: 210px;
}


#navigation ul.statut,
#navigation ul.extra,
#navigation ul.selection_rapide{list-style: none;}

#navigation li a {
	text-decoration: none;
}

#navigation li a:hover {
	text-decoration: underline;
}

#navigation li h2 {
	font-size: 1.3em;
}

/* Boussole */
#boussole {
	clear:both;
	padding: 6em 0 2px 0;
	margin-bottom:-2em;
	width:100%;
	text-align: center;
	color: #666;
}
#boussole h2 { color:#999; text-transform:none; font-size:120%; padding-bottom:.2em;}
#boussole a { padding:0 1px; }
#boussole img { vertical-align:middle; }



/* Footer */

#pied {
	clear:both;
	padding: 5px 0;
	background:#e6e6e6;
	border-top:1px solid #999;
	width:100%;
}
#pied img {vertical-align:middle;}
#pied p, #pied .liens, #pied .copyrights {
	text-align: center;
	color: #666;
	padding:2px 0;
}
#pied a {color:#444; text-decoration:none;}
#pied a:hover {text-decoration:underline;}



/* les petits sommaires */
.menu {margin-bottom:1em;}
.menu .items {margin:5px 0 0 20px; padding:0;}
.menu .items .items {margin:0; padding:0;}
.menu .items .item {background:transparent no-repeat top left; list-style:none; min-height:16px; vertical-align:bottom; padding:0 0 2px 20px; margin:3px 0; }
.menu .items.rubriques .item {background-image: url(images/folder.png);}
.menu .items.rubriques .item.on {background-image: url(images/folder_explore.png);}
.menu .items.articles .item, .menu .items .item.articles {background-image: url(images/page_white.png);}
.menu .items.articles .item.on, .menu .items .item.articles.on {background-image: url(images/page_white_text.png);}
.menu .items.auteurs .item {background-image: url(images/pencil_gray.png);}
.menu .items.auteurs .item.on {background-image: url(images/pencil.png);}
.menu .items.groupes .item, .menu .items .item.groupes {background-image: url(images/tag_grey.png);}
.menu .items.groupes .item.on, .menu .items .item.groupes.on {background-image: url(images/tag_yellow.png);}
.menu .items.mots .item{background-image: url(images/tag.png);}
.menu .items.mots .item.on {background-image: url(images/tag_label.png);}
#contenu .menu .items .item .introduction {margin-bottom:.5em;}

#contenu .menu_court ul {margin:0; padding:0; overflow:hidden;}
#contenu .menu_court ul li {margin:0 .5em 0 0; padding:0; list-style-type:none; display:inline; overflow:hidden;}
#contenu .menu_court ul li a {display:block; float:left; padding:4px;}

#contenu .un_demi .menu ul {margin-left:0;}
#contenu #ajax_colonne .contenu {margin-top:3em; border:1px solid #eee; background:#fafafa; padding:.5em;}
#contenu #ajax_colonne .menu ul {margin-left:0;}
#contenu #ajax_colonne h1 {margin-top:0; font-size:140%;}
#contenu #ajax_colonne h2 {margin-top:0; font-size:120%;}
#contenu #ajax_colonne .cartouche {margin-top:0;}

/* un_tiers */
.un_tiers {float:left;}
.un_demi {float:left; width:40%;}
.deux_demi {float:left; width:60%;}

/* listes miniplan */
#page .menu.simple .h2 {font-size:110%; color:#333; text-transform:none;}
#page .menu.simple .items {
	margin:0;
}
#page .menu.simple .item.off{font-weight:normal;}
#page .menu.simple .item.on{font-weight:normal;}
#page .menu.simple .item>.titre {cursor:pointer;}
#page .menu.simple .item>a,
#page .menu.simple .item>.titre {color:#777}
#page .menu.simple .item>a:hover,
#page .menu.simple .item>.titre:hover {color:#111;}
#page .menu.simple .item.on>a,
#page .menu.simple .item.on>.titre {color:#111;}

#page .menu.simple .item {margin:0; text-align:left;}
#page .menu.simple .items .items {
	margin-left:-20px;
	padding:0 0 0 5px;
}
#page .menu.simple>.items {
	padding: 5px;
	margin-bottom:5px;
	background-color:#fafafa;
	border:1px solid #eee;
}
#page .menu.simple>.items .items{background:none; border:none;}



/* precedent suivant */
#navigation ul.prec_suiv{border:none; background:none; margin-bottom:10px;}
ul.prec_suiv{padding:1px; margin:15px 0; overflow:hidden; border:none; background:none;}
ul.prec_suiv li.suivant{float:right;}
ul.prec_suiv li{
	list-style-type:none;
	margin:0; padding:0;
	float:left;}
ul.prec_suiv li.precedent{margin-right:0px;}
ul.prec_suiv li a {padding:5px; display:block; border:1px solid #fff; }
ul.prec_suiv li a:hover,
ul.prec_suiv li a:focus {
	border:1px solid #ccc;
	background:#f8f8f6;
}


#contenu ul.prec_suiv li img{padding:0;}
#contenu ul.prec_suiv{width:140px; margin:40px auto 10px; clear:both;}
ul.taille_20{width:80px; margin:0px auto;}
ul.taille_20 li.precedent{}

ul.sommaire{ margin:10px auto;}
ul.sommaire li{ float:none; margin:auto;}




/* encart d'info sur l'article */
ul.statut{
	padding:0 2px;
	width:100%;
	position:relative;
	margin:40px 0 20px 0;
	border:1px solid #eee;
	background:#fafafa;
	text-align:center;
}
.statut li{
	padding:0 !important;
	font-family:Geneva,Arial,Helvetica,sans-serif;
	font-size:80%;
	list-style:none;
	color:#333;
	background:transparent !important;
	display:inline;
}
.statut li.traductions {display:block; margin:0 auto; text-align:center !important;}
.statut li+li{margin-left:10px;}

.statut li strong{
	background-color:transparent;
	color:#888;
	font-weight:normal;
}


/* encart de complements */
#navigation ul.extra{border-color:#888; }
#navigation ul.extra h2 {
	font-size:110%; font-weight:bold; color:#333; text-transform:none;
	margin:0; padding:0;
}
#navigation ul.extra p{
	text-align:left;
	margin-top:0; margin-bottom:0.5em;
}


/* infobulles */
p.infobulle{color:#666; font-style:italic; margin-right:0 !important; text-align:center;}

/* boutons */
.bouton {margin:1em auto; width:100%; text-align:left;}
.bouton a {border:1px solid #fff; overflow:auto; display:block; padding:.5em; text-decoration:none; color:#888;}
.bouton a:hover,
.bouton a:focus {
	border:1px solid #ccc;
	background:#f8f8f6;
	color:#333;
}
.bouton img {float:left;}
.bouton span {display:block;}

a.i_edit {padding-left:16px; background:url(images/edit_inverse.png) no-repeat top left;}
a.i_new {padding-left:16px; background:url(images/new_inverse.png) no-repeat top left;}

/* roue ajax */
#ajax_colonne .image_loading,
#menu .image_loading {float:right;}

/* page_plan */
.page_plan #contenu .menu ul {margin-left:0;}

/* correction pages de tickets pour la css de doc */
#contenu .ticket .cartouche {background:#999; border-radius:5px; padding:5px; margin-bottom:1em;}
#contenu .ticket .cartouche h1 {font-size:140%; color:#fff; margin:0;}
#contenu .ticket .cartouche a {color:#fff;}
#contenu .ticket .texte {padding:0 5px;}
#contenu .ticket .exemple {background:#eee; border-radius:5px; padding:10px 5px;}
#contenu .ticket_commentaires {margin-top:2em;}
#contenu .ticket h2.titre {font-size:120%;}
#contenu .ticket h3 {margin:2em 0 .3em;}
.ticket .infos .formulaire_spip {margin:0; padding:0; border:0; background:transparent;}
#contenu .comments h2 {font-size:120%; margin-top:0;}
.forum .markItUp li {background:transparent;}

/* deplacer le bloc d'info sur la colonne droite */
#contenu .ticket .infos {
	width:210px;
	position:absolute;
	left:475px;
	top:12px;
}

/* l'integrale */
.page_integrale #conteneur { border:none;}
.page_integrale #contenu { margin:0;}

#contenu .integrale h1 {padding:1em 0 0;}

#contenu .integrale .chapitre_intro h2 { margin:0 0 1em 0;}
#contenu .integrale .chapitre { margin:2em 0;}
#contenu .integrale .chapitre > h1 { margin:0; padding:1em .5em;  text-align:center; color:#222; font-size:260%; border:none;}
#contenu .integrale .couverture h1 {font-size:2.6em; text-align:center; margin:1em 0; padding:2em 1em 1em; color: #C35C02; border:none;}
#contenu .integrale .couverture h2 {font-size:100%; text-align:center; text-transform:uppercase;}
#contenu .integrale .couverture h3 {font-size:140%; text-align:center; margin:0; padding:0 1em 1em; color: #C35C02;}
#contenu .integrale .image {padding:1em 0; text-align:center;}
#contenu .integrale .couverture .image {padding:5em 0 2em;}
#contenu .integrale .couverture h3 + .image {padding-top:3em}

#contenu .integrale .couverture_chapitre h1 {margin:0; padding:0 1em 1em;}
#contenu .integrale .couverture_chapitre h2 {margin:0; padding:0 1em 1em;}
#contenu .integrale .couverture_chapitre .chapo {margin:0 2em;}
#contenu .integrale .couverture_chapitre .image {padding:2em 1em 1em;}

#contenu .integrale .presentation .chapo {margin:4em 0em; padding:1em 2em;}
#contenu .integrale .presentation {padding-top: 6cm; }

#contenu .integrale .spip_code { font-style:inherit;}

#contenu .integrale .two_columns {column-count: 2;}

#contenu .integrale .index {}
#contenu .integrale .index ul li  {
  font-weight: normal;
  margin-left: 0;
  list-style-type:none;
  /* separer un peu mieux les listes */
  line-height:1.1em;
  margin-bottom:.5em;
}

#contenu .integrale .tdm > h1 {color:#444; text-transform:none; margin-bottom:1em; font-size:140%; border-bottom:1px dotted #888;}
#contenu .integrale .tdm > ul {margin:0 80px;}
#contenu .integrale .tdm ul li {
  font-weight: normal;
  margin-left: 0;
  list-style-type:none;
}
#contenu .integrale .tdm ul ul {
  margin-left: 2em;
}


/* boutons d'administration * /
#spip-admin {
	position:absolute;
	left:-2px; bottom:-1px;
	margin-top:0px;
	background:none;
}
#spip-admin a.spip-admin-boutons{
	display:block;
	font-size:90%;
	background:white;
	border:1px solid #DFA6D6;
	border-bottom:1px solid white;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	text-align:left;
	color:#333;
	}
#spip-admin a.spip-admin-boutons:hover{
	background:#aa609f;
	color:white;
	text-decoration:none;
}*/

#forum{
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #EEEEEE;
	padding:15px;
}

#forum p, #forum ul{
	margin:12px 0;
}

#forum li{
	background-color:#fff;
}

#forum h2{
	display:inline;
	float:left;
}
#forum .comment_link{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	float:right;
	padding:5px;
}

#forum .comment_link a{
	text-decoration:none;
	display:block;
}

.page_forum .introduction{
	padding:10px;
	margin:10px;
	border:1px dotted #ccc;
	border-left:2px solid #ccc;
}

.page_forum h3{
	margin:15px 0 10px;
	font-size:15px;
}
