  
BODY        { margin: 2em 1em 1em 50px; color: #000000; background: #FFFFFF; 
            font-family: Helvetica, Arial, sans-serif }
P, BLOCKQUOTE, TH, TD, UL, OL, DL, DD, LI, DIR, MENU
            { font-family: Helvetica, Arial, sans-serif;  /* inherit from body and NS redundancy*/ }
h1, h2, h3,
 h4, h5 { color: #3C6E19;  font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif}
H1          { font-size: 160%; font-weight: lighter }
H2          { font-size: 140%; font-weight: lighter }
H3          { font-size: 112%; font-weight: lighter }
H4, P       { margin-top: .2em; }
H5          { font-size: .83em; line-height: 1.17em; font-weight: lighter }
H6          { font-size: .67em; font-weight: lighter }
H5, H6,
STRONG      { font-weight: bolder }
DL          { margin-left: 2em ; margin-top: 0 }
DT          { margin-top: 0; font-weight: bold }
DD          { }
BLOCKQUOTE  { font-size: .83em }
IMG         { /* remove border from top image, color:white is for NS */
             border-width: 0; border-style: none; border-color: white; color: white }
CITE        { font-style: italic ; text-align: right }
CODE        { font-family: monospace; font-weight: normal}

.highlight  { background-color: #9DBBB5;}
.hide       { display: none }
.poetic     { font-size: 95%; font-family: "Book Antiqua", "Palatino", serif;
            color: #494949; font-weight: lighter; font-style: normal;
            text-decoration: none; margin-left: 16px; margin-right: 20px }
.song       { color: #EF4D64}
.subtitle   { margin-top: -4%; font-size: 150%}
.navpanel   { margin-left: -2em; color: black; font-size: 80%}
.minimap    { margin-left: 0em; color: navy; font-size: 60% }
.footer     { font-size: 80% }
.footer DT  { margin-left: -2em; font-weight: normal }
.footer DD  { margin-left: -1em; margin-right: 7em}

A:link      { color: #7777BB; text-decoration: none; font-weight: normal} 
A:visited   { color: #7777BB; text-decoration: none; font-weight: normal} 
A:active    { background: #900; text-decoration: none; font-weight: normal} 
A:hover     { color: navy; background-color: #CADAD3; text-decoration: none} 
A.photo:link { color: navy }

A:link.effacer      { color: #BB7777; text-decoration: none; font-weight: normal} 
A:visited.effacer   { color: #BB7777; text-decoration: none; font-weight: normal} 

a.button {
	border: none;
	background: #f0f0f0;
	padding-right: 0px;
	padding-left: 0px;
	text-decoration: none;
}

input, select, textarea {
	border: 1px solid #808080;
	background: #f0f0f0;
#        font-family: Times;
}

input.button {
	padding-right: 0px;
	padding-left: 0px;
	cursor: pointer;
}















