/*
  Copie du 2011-12-20 11:15:36 par Suske
  Fichier original plugins/minigrispip_2/mgs.css
*/
/* Styles pour le squelette "MiniGriSpip" */
/* 2006 © Fredo Mkb */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles generaux qui s'appliquent à l'ensemble des documents Html... */


/* Fond de la page */

body {
  background-color: #fafafc;
font-family: museosans,"Luxi sans","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;
}


/* Paramettres generaux des titres */
h1,h2,h4,h5,h6 {
  line-height: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h1 {font-size:2em;}
h2 {font-size:1.4em;}
h3 {font-size:1.2em;}
h3.spip {margin:1em 0;font-weight:bold;text-align:center;}
p {margin:1em 0 ;}
i {font-style:italic;}
strong {font-weight:bold;}

/* Paramettres generaux des liens */
a {
  text-decoration: none;
  color: #444;
  border-bottom-style: dotted;
  border-bottom-color: #888;
  border-bottom-width: 1px;
}

a:link {
  text-decoration: none;
  color: #444;
  border-bottom-style: dotted;
  border-bottom-color: #888;
  border-bottom-width: 1px;
}

a:visited {
  text-decoration: none;
  color: #444;
  border-bottom-style: dotted;
  border-bottom-color: #888;
  border-bottom-width: 1px;
}

a:hover {
  text-decoration: none;
  color: #444;
  border-bottom-color: #444;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #eaeaec;
  border-bottom-color: #000;
}

/* Pour supprimer l'affichage d'un cadre noir autour
des images comportant un lien sous Firefox */
a img {
    border:0;
    margin: 0;
    padding:0;
    text-decoration: none;
    vertical-align: middle;
}

/* Le bloc "page" qui englobe tout le site */
#mgs_page {
  width: 900px;
  color: #444;
  font-size: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 1px 10px;
  background-color: #fafafc;
}

/** Parametres du bloc "bandeau" contenant l'image et le titre du site **/
/* Le bloc "bandeau" lui meme */
#mgs_bandeau {
  text-align:center;
  border:1px solid #999;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #eaeaec;
  padding: 10px;
  background-repeat: no-repeat;
  background-image: url(images/fondbandeau.png);
  height:125px;
}

/* Logo, nom et description du site */

#mgs_logo_site {
  float: right;
}

.mgs_nom_site {

  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px gray;
  padding: 0px;
  margin: 20px;
}

.mgs_desc_site {
  font-size: 0.8em;
  text-align: center;
  font-weight:normal;
  padding: 5px;
}

/** Parametres des menus de l'en-tete : Accueil, Plan, Contact et Redaction **/
/* Le bloc "menu" lui meme */
#mgs_menu_tete {
  font-size: 0.95em;
  text-align: center;
  line-height: 1em;
  height: 25px;
  margin: 0px;
  margin-top: -27px;
  padding: 0px;
  border-top-color: #999;
  border-top-width: 1px;
  border-top-style: solid;
}

/* La liste des boutons */
#mgs_menu_tete ul {
  list-style: none;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

/* Chaque bouton */
#mgs_menu_tete li {
  list-style: none;
  text-align: center;
  min-width: 80px;
  float: left;
  padding: 0;
  height: 100%;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

/** Parametres des liens des menus de l'en-tete **/
/* Liens simples */
#mgs_menu_tete li a, #mgs_menu_tete li a:link {
  display: block;
  border-right-color: #999;
  border-right-style: dotted;
  border-right-width: 1px;
  border-left-color: #999;
  border-left-style: dotted;
  border-left-width: 1px;
  height: 100%;
  padding: 0 15px;
  margin: 0px;
  line-height: 175%;
}

/* Liens survoles */
#mgs_menu_tete li a:hover {
  border-right-style: solid;
  border-left-style: solid;
  background-color: #fff;
}

/* Paramettres du champ de recherche */
.mgs_form_rech a {
  border-style: none;
}

.mgs_form_rech label {
  display: none;
}

.mgs_menu form {
  margin: 0px;
  padding: 0px;
}

/* Paramettres du bandeau contenant la hierarchie des pages */
#mgs_hierarchie {
  font-size: 0.75em;
  text-align: left;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom-color: #999;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* Le bloc "corps" pour l'ensemble de la navigation et des contenus */
#mgs_corps {
  width: 900px;
  padding: 10px 0;
  margin-top: 10px;
}

/* Le bloc "principal" pour l'ensemble des contenus */
#mgs_principal {
  /*colonne principale*/
  padding: 0px;
  margin-left: 245px;
}

/* Le bloc des articles avc paramettrage du contenu */
.mgs_article {
  border: 1px none #999;
  padding: 15px;
  background-color: white;
  text-align: left;
}

/* Surtitre des articles */
.mgs_surtitre {
  font-size: 0.85em;
  padding: 0px;
  margin: 0px;
  line-height: 1.2em;
}

/* Titre des articles */
.mgs_titre {
  margin: 8px 0;
  line-height: 1.2em;
  background-color: #eaeaec;
  padding: 6px 12px;
  text-align: left;
}

/* Logo des articles */
.mgs_logo {
  padding: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
}

/* Soustitre des articles */
.mgs_soustitre {
  font-size: 0.85em;
  padding: 0px;
  margin: 0px;
  line-height: 1.2em;
  font-weight: bolder;
}

/* Infos des articles (date, auteur, etc.) */
.mgs_infos {
  font-size: 0.8em;
  padding: 0px;
  margin: 4px 0px;
  line-height: 1.6em;
}

/* Intro des articles */
.mgs_intro {
  font-size: 0.9em;
  font-style: italic;
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 1.2em;
}

/* Le texte des articles */
.mgs_texte {
  font-size: 0.95em;
  line-height: 1.3em;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  display:inline-block;
}

/* Les images dans les texte des articles */
.mgs_texte img {
  padding: 0px;
  margin: 0px;
}

.mgs_texte .spip_documents {
  padding: 0px;
  margin: 0px;
}

dd {margin:0;}

/* Les legendes des images des articles */
.mgs_texte .spip_doc_titre {
  padding: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 0.95em;
  color: #444;
}

.mgs_texte .spip_doc_titre strong {
  font-weight: normal;
  font-style: italic;
}

/* Les images dans les texte des articles selon leur alignement */
.mgs_texte .spip_documents_center {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  display:block;
}

.mgs_texte .spip_documents_left {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 0px;
}

.mgs_texte .spip_documents_right {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 20px;
}

/* Le post-scriptum des articles (les liens) */
.mgs_ps {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.1em;
  font-style: italic;
  font-weight: bolder;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Les notes de bas de page des articles */
.mgs_notes {
  text-align: left;
  font-size: 0.8em;
  line-height: 1em;
  margin-top: 4px;
  border-top-style: dotted;
  border-top-color: #888;
  border-top-width: 1px;
  margin-bottom: 4px;
}

/* La fin des articles */
.mgs_article_fin {
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom-color: #eaeaec;
  border-bottom-style: solid;
  border-bottom-width: 8px;
}

/* Le lien de reponse des articles */
.mgs_repondre {
  font-size: 0.95em;
  line-height: 1.1em;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 4px;
  border-bottom-color: #eaeaec;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  margin: 0;
}

/* Les styles pour les presentations en liste */

/* Paramettrage des hierarchies */

.bloc {display: inline-block;}

.mgs_chemin {
  font-size: 0.75em;
  text-align: left;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
  padding-left: 0px;
  border-bottom-color: #999;
  border-bottom-style: solid;
  border-bottom-width: 1px;  
}

.mgs_chemin a {
  text-decoration: none;
  color: #444;
  border-style: none;
}

.mgs_chemin a:hover {
  color: #000;
  background-color: #eaeaec;
}

/* Le bloc de navigation */
#mgs_navigation {
  margin: 0px;
  float:left;
  width: 235px;
  top: 190px;
}

/* Le pied de navigation (logos Rss et Spip) */
.mgs_pied {
  text-align: center; 
  padding: 8px;
  margin-top: 8px;
  border-top-color: #999;
  border-top-width: 1px;
  border-top-style: solid;
  margin-bottom: 0;
}

/* Formatage des menus pour la navigation */
/* Ce bloc est utilise dans toutes les pages du site 
et pas uniquement pour la navigation, toute modification 
peut entrainer des variations imprevisibles sur certaines pages*/
.mgs_menu {
  border: 1px solid #999;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px;
  background-color: white;
}

/* Formatage de l'affichage en liste */
.mgs_menu_item_article {
  font-size:100%;
  text-align:left;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left:15px;
}

.mgs_menu_item_breve, .formulaire_spip {
  font-size:88%;
  padding-left:5px;
  text-align:left;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mgs_menu_item_forum {
  font-size: 0.95em;
  list-style: none;
  text-align:left;
  line-height: 1.1em;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left:15px;
}

/* retablir les puces de liste dans les texte */
.mgs_menu ul.spip li {
  list-style-type:square;
  margin-left:2em;
}

/* Formatage general des menus de navigation */
.mgs_menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.mgs_menu li {
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Titre de menu */
.mgs_menu_titre {
  /* font-weight: bold;*/
  font-size:95%;
  background-color: #b8b8bf;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}

.mgs_menu_titre small {
  font-weight: lighter;
}

/* Formatage de la pagination */
.mgs_menu_titre .on {
  font-weight: lighter;
  color: white;
  font-style: italic;
}

/* Formatage des liens des menus */
.mgs_menu_titre a {
  color: white;
  border-style: none;
}

.mgs_menu_titre a:hover {
  color: #444;
  border-style: none;
  background-color: inherit;
}

/* Element de menu hors titre de rubrique */
.mgs_menu_item {
  font-size: 90%;
  padding-top: 2px;
  padding-bottom: 0px;
}

/* Formatage de la rubrique selectionnee */
.mgs_menu_selected {
  background-color: #eaeaec;
  font-weight: bold;
}

/* menu-item-0 à 6 : formatage des titres de rubrique */
.mgs_menu_item {
  font-size:90%;
  text-align:left;
  padding-left:5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mgs_menu_item ul li {
  font-size:96%;
  padding-left: 15px;
  text-align:left;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight:normal;
}

.mgs_menu_item ul li ul li  {

  padding-left: 25px;
  text-align:left;
  padding-top: 1px;
  padding-bottom: 1px;
}

.mgs_menu_item ul li ul li ul li  {
  font-size: 95%;
  padding-left: 35px;
  text-align:left;
  padding-top: 1px;
  padding-bottom: 1px;
}

.mgs_menu_item ul li ul li ul li ul li  {

  padding-left: 45px;
  text-align:left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mgs_menu_item ul li ul li ul li ul li ul li {
  font-size: 95%;
  padding-left: 55px;
  text-align:left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mgs_menu_item ul li ul li ul li ul li ul li ul li {

  padding-left: 65px;
  text-align:left;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Formatage des forums des articles et breves */
ul.forum { 
  display: block; 
  clear: both; 
  margin: 0px; 
  padding: 0px;
  list-style: none;
  font-size: 0.95em;
  line-height: 1.1em;
  text-align: left;
}

.mgs_forum_decompte {
  text-align: center;
  font-size: 0.92em;
}

.mgs_forum_message { 
  background-color: #fcfcff;
  margin: 0px;
  padding: 0px;
}

.mgs_forum_fil { 
  list-style: none;
  padding: 0px;
  margin-top: 40px;
  margin-right: 15px;
  margin-bottom: 40px;
  margin-left: 15px;
}

.mgs_forum_fil ul { 
  display: block; 
  margin: 0px; 
  padding: 0px; 
  margin-left: 10px; 
}

.mgs_forum_texte { 
  margin: 0px; 
  color: #444; 
  padding-right: 15px;
  padding-left: 15px;
}

.mgs_forum_chapo .mgs_infos {
  padding-left: 15px;
}

/* Formatage des differents formulaires */
.mgs_formulaire {
  color: #444; 
  font-size: 0.95em;
  text-align: left;
  background-color: white; 
  border: 2px dotted #666; 
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.mgs_formulaire_previsu {
  color: #444; 
  font-size: 0.95em;
  text-align: left;
  background-color: white; 
  border: 2px dotted #666; 
  margin-bottom: 16px;
}

.mgs_formulaire_menu {
  border: none; 
  margin: 0px;
  background-color: white;
  padding: 0px;
}

.mgs_formulaire_menu div {
  margin: 0px;
  padding: 0px;
}

.mgs_formulaire_menu p {
  color: #444; 
  font-size: 0.78em;
  text-align: left;
  margin: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.mgs_formulaire_menu h4 {
  display: block; 
  text-align: center;
  font-size: 0.88em;
  background-color: #eaeaec;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #444;
  margin-top: 2px;
  margin-bottom: 5px;
}

.mgs_forml {
  /*zones de saisie de la page forum*/
  width: 100%; 
}

/* réglages Suske */
.formulaire_spip, .formulaire_spip fieldset, .formulaire_spip .boutons {clear:none;}

/* aligner les img du portfolio et pas de déco */	
li.mgs_images {
    float: left;
    margin: 1px;
    padding:0;
    vertical-align: middle;
}
.mgs_images a, .mgs_images a:link, .mgs_images a:hover {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
}

/* styler les docs sur portfolio */
.mgs_pictos {display: inline-block;margin: 3px 0;font-size:0.8em;}
.mgs_pictos img {float:left}
.mgs_pictos p{margin:0}
em {font-style: italic;}

