/* Default WordPress by Dave Shea || http://mezzoblue.com
	Modifications by Matthew Mullenweg || http://photomatt.net
	This is just a basic layout, with only the bare minimum defined.
	Please tweak this and make it your own. :)

Based on bug_red by Organic Shadows

Made by Thaleia 
http://www.the-id.net/wp/
*/



a {
 /* This controls the initial link colour */	
color: #854015;text-decoration: none;
}



a img {
 /* This controls the borders around an image */	
border: none;
	color: #854015;
}



a:visited {
 /* This controls the link colour once it is visited */	
color: #854015;
	font-style: italic;
}



a:hover {
 /* This controls the link colour when hovered */	
color: #d02c22;text-decoration: underline;
}



acronym, abbr {
	
border-bottom: 1px dashed #333;
	color: #854015;
}



acronym, abbr, span.caps {
	
cursor: help;
	
font-size: 100%;
	
letter-spacing: .07em;
	color: #854015;
}



blockquote {
	
border-left: 5px solid #D02c22;
	
margin-left: 1.5em;
	
padding-left: 5px;
	color: #854015;
}



body {
	border: solid 10px #fffef1;
 /* This controls the whole page borders */	
border-bottom: solid 10px #fffef1;
	
border-top: solid 10px #fffef1;
 /* This controls the fonts within the body */	
margin: 'Lucida Grande', 'Lucida Grande', Verdana, sans-serif;
	
padding: 0;
	
background-color: #dcc700;
 /* This controls the background colour of the page */
color: #854015;
	font: medium 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

cite {
	
font-size: 90%;
	
font-style: normal;
	color: #854015;
}



h2 {

border-bottom: dashed #d16521 1px;
	
font: 80% "Times New Roman", Times, serif;
	
letter-spacing: 0.2em;
	margin: 15px 0 2px 0;
	
padding-bottom: 2px;
	color: #854015;
}



h3 {
	font-family: Arial, Helvetica, sans-serif;
	height: 35px;
	padding: 5px 0px 0px 5px;
	margin-top: 5px;
	margin-left: 5px;
	background-image: none;
	border-left-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #d16521;
	border-bottom-width: 1px;
	color: #854015;
}



ol#comments li p {
	
font-size: 120%;
	color: #854015;
}



p, li, .feedback {
	
font: 85%/170% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	
letter-spacing: 0;
	color: #854015;
}



.credit {
	
background: url(demonduck.jpg) no-repeat #dcc700;
	
border-top: double 0px #fffef1;
	
color: #fffef1;
	
font-size: 11px;
	
margin: 10px 0 0 0;
	
padding: 3px;
	text-align: center;
}



.credit a:link, .credit a:hover {
	
color: #fff;
}



.feedback {
	
color: #854015;
	
text-align: right;
}



.meta {
	font-size: .75em;
	color: #854015;
}



.meta, .meta a {
	
color: #854015;
	
font-weight: normal;
	
letter-spacing: 0;
}


.meta ul {
	display: inline;
	
margin: 0;
	
padding: 0;
	
list-style: none;
	color: #854015;
}



.meta li {
	
display: inline;
	color: #854015;
}



.storytitle {
	
margin: 0;
	color: #854015;
}



.storytitle a {
	
text-decoration: none;
	color: #854015;
}



input {
	border: 1px solid #d16521;
        background-color: #fffef1;
	color: #854015;
}

textarea {
	width: col="70";
	border: 1px solid #D02c22;
        background-color: #fffef1;
	color: #854015;
}
	
#commentlist {
	margin: 0px;
	color: #854015;
}

#commentlist li {
	padding: 0 10px 0 10px;
	margin-bottom: 10px;
	background-color: #d16521;
	border: 1px solid #D02c22;
	list-style-type: none;
	}

#commentid {
	margin-top: 5px;
	float:right;
	color: #D02c22;
	font-size: 12pt;
	font-weight: normal;
	}
	
#commentlist li cite {
	border-top: 1px solid #d16521;
	color: #854015;
}


#content {
	
margin: 30px 13em 0 3em;

padding-right: 60px;
	color: #854015;
}



#header {
	
background: url(demonduck.jpg) no-repeat #dcc700;
	
border-bottom: double 0px #aba;
	
border-left: solid 1px #dcc700;
	
border-right: solid 1px #dcc700;
	
border-top: solid 1px #fffef1;
	
font: italic normal 230% 'Times New Roman', Times, serif;
	
letter-spacing: 0.2em;
	
margin: 0;
	
padding: 15px 10px 150px 550px;
	color: #854015;
}



#header a {
	
color: #fffef1;
	
text-decoration: none;
}



#header a:hover {
	
text-decoration: none;
	color: #854015;
	font-style: italic;
}



#menu {
	
background: #dcc700;
	
border-left: 1px none;
 /* The next 2 lines control the border	edge between menu and body */
border-top: 0px dotted #000;
	
padding: 20px 0 10px 30px;
 /* The distance between body and menu areas */	
position: absolute;
	
right: 45px;
 /* This controls how far the menu is in from the right */	
top: 214px;
 /* This controls how far down the menu starts from the top */	
width: 12em;
	color: #854015;
}

#menu form {
	
margin: 0 0 0 13px;
	color: #854015;
}



#menu input {
	
background: #eee;
	
border: 1px none #d02c22;
	
letter-spacing: -0.05em;
	
width: 80%;
	color: #854015;
}



#menu ul {
	
color: #d02c22;
 /* This controls the colour of the headings in the menu */	
font-weight: bold;
 /* This controls the font in the headings in the menu - and also any other plain text in menu */	
list-style-type: none;
	
margin: 0;

padding-left: 3px;
	

}



#menu ul li {
	
font: 16px normal 'Times New Roman', Times, serif;
 /* Thefont size and type in the menu */	
letter-spacing: 0.1em;
	/*

margin-left: 5px;
 /* Controls	the distance of the text under headings from left margin */
padding-bottom: 5px;
padding-left: 5px; /* Moves the left wall of the text boxes away from the writing */
border-bottom: 1px solid #ccc; /* these 4 borders control the text box structure */
border-left: 1px solid #ccc; 
border-right: 1px none #D02c22; 
border-top: 1px none #D02c22; 
/*border-bottom: dotted 1px #ccc;*/;
	border-bottom-color: #D02c22;
	border-left-color: #D02c22;
	color: #d02c22;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 5px;
}



#menu ul ul {
	
list-style-type: none;
	
font-variant: normal;
	
font-weight: normal;
	line-height: 100%;
	
margin: 0;
	
padding: 0;
	
text-align: left;
	color: #854015;
}



#menu ul ul li {
	
border: 0;
	
font: normal normal 70%/115% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	
letter-spacing: 0;
	
margin-top: 0;
	padding: 0;
	
padding-left: 12px;
	color: #854015;
}



#menu ul ul li a {
	
color: #854015;
	
text-decoration: none;
}



#menu ul ul li a:hover {
	
border-bottom: 1px solid #D02c22;
	color: #854015;
	font-size: 110%;
	font-style: italic;
}

#menu li form input{
background-color: #dcc700;
border: 1px #ccc;
color: #854015;
}

#wp-calendar {
	
border: 0px solid #462B12;
	
empty-cells: show;
	
margin: 0;
	
width: 90%;
	color: #d02c22;
}



#wp-calendar #next a {
	
padding-right: 10px;
	
text-align: right;
	color: #854015;
}



#wp-calendar #prev a {
	
padding-left: 10px;
	
text-align: left;
	color: #854015;
}



#wp-calendar a {
	
display: block;
	text-decoration: none;
	color: #854015;
}



#wp-calendar a:hover {
	
background: #e0e6e0;
	
color: #854015;
}



#wp-calendar caption {
	color: #D02c22;
	
text-align: left;
}



#wp-calendar td {
	
color: #D02c22;
	
font: normal 12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	
letter-spacing: normal;
	
padding: 2px 0;
	
text-align: center;
}



#wp-calendar td.pad:hover {
	
background: #fff;
	color: #854015;
}



#wp-calendar td:hover, #wp-calendar #today {
	
background: #eee;
	
color: #854015;
}



#wp-calendar th {
	
font-style: normal;
	
text-transform: capitalize;
	color: #854015;
}




