/* bloc de navigation 1 --> arborescence du site */

.nav3 {
	/*bloc contenant la hierarchie*/
	background: #B0B0B0;
	font-size: 15px;
	border: 1px solid #B0B0B0;
	width: 100%;
	padding: 5px 0px 10px 0px;
}

.nav3 .bord {
	/*bloc englobant nav3, pour creer une marge valable sous IE et firefox*/
	padding: 0px;
	margin-right: 10px;
}

.nav3 a.lien-menu-autre {
	/*lien "normal" vers les rubriques de l'arborescence*/
	color: #FEFEFE;
	font-weight: bold;
}

.nav3 a.lien-menu-autre:hover {
	color: #606070;
	text-decoration: none;
}

.nav3 a.lien-menu-courant {
	/*lien "surligne" vers les rubriques courantesde l'arborescence*/
	color: #606070;
	font-weight: bold;
}

.nav3 a.lien-menu-courant:hover {
	color: #606070;
	text-decoration: none;
}

.nav3 ul {
	padding-left:15px;
	margin:0px;
	line-height: 95%;
}

.nav3 li {
	margin:0.7em 0em 0.5em 0em;
	padding:0px;
	font-size:85%;
	list-style-type:none;
}
