/*
fichier style pour le menu de suggestion ajax
a importer ou il faut

    Copyright (C) 2005  Pierre ANDREWS

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

.suggest_list
 {
	 background: white;
  border: 1px solid;
  position: absolute;
  z-index : 1000;
  height: 3em;
  overflow: hidden;
}

.suggest_list li {
 background: white;
}


.suggest_list li.pair {
  background: #f0f0f0;
}

.suggest_list li#suggested_list_selected_item {
	background: #0036C9;
 color: #BFD0FF;
}

.suggest_list li#suggested_list_selected_item a {
	color: white;
}

.suggest_list li .sugRight {
	display:block;
	font-size: 10px;
 text-align: right;
 padding-top: 3px;
color: #7070ff;
}


.suggest_list li#suggested_list_selected_item .sugRight {
	color: #80A2FF;
}

.suggest_list li .sugLeft {
	display: block;
 margin-left: 0%; 
 width: 50%; 
 float: left; 
}