#switcher_zen,#nav, #pied, #navigation,#entete{
display:none;
}
body {
background:none repeat scroll 0 0 transparent;
}
body #contenu {
border:none;
min-width:100%;
width:100%;
margin:0%;
padding:0%;
}
