
/* ------------------------------------- AGENDA ------------------------------------- */


table.agenda
{
width: 100%;
color: #484747;
background-color:#FFFFFF;
-moz-border-radius:15px;
border-width:1pt;
border-style:solid; 
text-align:center;
border-color:#FFFFFF !important;
padding:8px !important;
border-color:#CFDAEB;
padding: 0px;
}-o uid=1000,gid=100  

table.agenda, table.agenda tr, table.agenda th, table.agenda td {
	font-size: 10px;
	background-color: none;
	vertical-align : middle;
}

table.agenda
{
	color: #484747;
}

table.agenda th a
{
	color: #484747;
	background-color: none;
	font-weight: normal;
	text-decoration: none;
}

table.agenda th a:hover
{
	color: #dddddd;
	background-color: none;
	font-weight: normal;
}

table.agenda td
 { 
	color: #333333;
	padding: 1px;
	margin: 1px;
	height: 25px;
 } 
 
table.agenda tr { 
	color: #000000;
 	height: 25px;
} 
 
 table.agenda th
 { 
	color: #666666;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 25px;
	text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
	background-color:#EFF0EE;
}

.agendaNav
{
}

.agendaHead
{
 text-align: center;
 background-color: #dddddd; 
border-color: black black #bbbbbb; 
border-style: solid; 
border-top-width: 0px; 
border-right-width: 0px; 
border-bottom-width: 1px; 
border-left-width: 0px; 
}

.agendaHead2
{
text-align: center;
background-color: #FFFFFF; 
border-color: black black #CCCC00; 
font-weight: bold;
margin-top: 10px;
}

.agendaThisDay
{
 background-color: #FFFFFF;
 border-size:1px;
 border-color:#484747;
 border-style:dashed;
}

.agendaThisMonth
{
}

.agendaNotThisMonth
{
}

#agendaEvenement
{
 background-color : #FAF7B6; 
}

#dhtmltooltip{
position: absolute;
width: 150px;
border: 2px solid black;
padding: 2px;
background-color: #F0F0FA;
font-size : 120%;
font-weight : none;
visibility: hidden;
z-index: 10000;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}



