/* Gris : #303B41 */
/*Bleu clair : #EFF0EE */
/*Bleu foncé : #0050a9 */

/****** Génériques *********/
*{ margin:0; padding:0 }

ul, li { margin-left: 10px; }
#menu li { margin-left: 0px; }

BODY{	
	background: #303B41 url(_css_blueblog/bg.jpg) repeat-x;
	font: 74% Arial, Sans-Serif; 
	color:#111111;
	}

/*tr,td,th,table,body,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #484747;
	}*/
	
h6 {
	font-size: 13px;
	font-weight: bold;
	color: #222;
	margin-top: 30px;
	}

h6:first-letter
{
	font-size: 14px;
	font-weight: bold;
	color: #c9ba65;
	margin-top: 30px;
}

#articles_breves h6:first-letter
{
	font-size: 14px;
	font-weight: bold;
	color: #999999;
	margin-top: 30px;
}

h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	}

h3 {
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
	border: 0px;
	}

#p_article_breve h3 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 0px;
	border-bottom: 1px solid #EFF0EE;
	color: #484747;
	}

h2 	{
	font-size: 15px;
	color: #484747;
	font-weight: bold;
	}

h1 {
	font-size: 16px;
	color: #484747;
	font-weight: bold;
	}

a,a:link,a:visited {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}

a:hover {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}
	
/************ Blocs Pricipaux ********************/

#container	{
	width: 1000px;
	position: relative;
	margin:auto;
	text-align: left; /*ie*/
	background: #FFF url(_css_blueblog/mainbg.jpg) repeat-y center;
	/*border-style:solid;
	border-color:#484747;*/
	}	
	
#thirdcolum
{
	display: none;
}

	
#intro {
	/*background: url(_css_blueblog/bando4.gif) no-repeat center top;*/
	}

#supportingText {
	margin:10px;
	width: 620px;
	float:left;
	/*border-style:solid;
	border-color:#484747;*/
	}

#linkList {
	margin:10px;
	width: 320px;
	float:right;
	/*border-style:solid;
	border-color:#484747;*/
	}


/******************** Sous Contenu ***************************/

/******************** Sous Contenu HEADER ***************************/
#pageHeader {
	background: url(_css_blueblog/top.jpg) no-repeat center top;
	width:1000px;
	height:44px;
	}
	#pageHeader a {
		color: #E0F5FF; 
		}
	#pageHeader a:hover { 
		text-decoration:underline;
		}

#pageHeader h1 span{			
	display: none;
	}

#pageHeader h1{
	display:none;
	}

#pageHeader h2{
	float: right;
	color: #808080;
	padding: 20px 25px 0 0;
	font-size: 90%;
	}			                                                                              
	
#quickSummary {
	width:1000px;
	height:149px;
	background: url(_css_blueblog/header.jpg) no-repeat center top;
	} 
	#quickSummary h1 {
		color:#ffffff;
		padding:20px 0px 0px 30px;
		}
	#quickSummary h2, #quickSummary h3 {
		display:none;
		}
		

#quickSummary a {
	color:#fff;
	}
#preamble {
	display: none;
	width:92%;
	padding:0px 15px 0px 20px;
	}



/******************** MENU ***************************/
#menu {
width:970px; 
height:32px;
margin:0px 0px 0px 15px;
font-size:0.85em;
position:relative;
z-index:100;
background-color:#000000;
}
/* remove all the bullets, borders and padding from the default list styling */
#menu ul {
padding:0;
margin:0;
list-style-type:none;
}
#menu ul ul {
width:100px;
}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#menu li {
float:left;
width:111px;
position:relative;

background-color:#990033;
}
/* style the links for the top level */
#menu a, #menu a:visited {
display:block;
font-size:11px;
font-weight: bold ;
text-decoration:none; 
/*color:#fff; */
color: #E0F5FF; 
width:100px; 
height:30px;
border:1px solid #fff; 
border-width:1px 1px 0 0; 
background:#000000; 
padding-left:10px; 
line-height:29px;
}
/* a hack so that IE5.5 faulty box model is corrected */
* html #menu a, * html #menu a:visited {
width:100px;
w\idth:100px;
}

/* style the second level background */
#menu ul ul a.drop, #menu ul ul a.drop:visited {
background:#CAE4F1 url(../../graphics/drop.gif) bottom right no-repeat;

}
/* style the second level hover */
#menu ul ul a.drop:hover{
background:#c9ba65 url(../../graphics/drop.gif) bottom right no-repeat;
}
#menu ul ul :hover > a.drop {
background:#c9ba65 url(../../graphics/drop.gif) bottom right no-repeat;
}
/* style the third level background */
#menu ul ul ul a, #menu ul ul ul a:visited {
background:#e2dfa8;
}
/* style the third level hover */
#menu ul ul ul a:hover {
background:#b2ab9b;
}


/* hide the sub levels and give them a positon absolute so that they take up no room */
#menu ul ul {
visibility:hidden;
position:absolute;
height:0;
top:31px;
left:0; 
width:100px;
}
/* another hack for IE5.5 */
* html #menu ul ul {
top:30px;
t\op:31px;
}

/* position the third level flyout menu */
#menu ul ul ul{
left:150px; 
top:0;
width:100px;
}
/* position the third level flyout menu for a left flyout */
#menu ul ul ul.left {
left:-150px;
}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#menu table {position:absolute; top:0; left:0;}

/* style the second level links */
#menu ul ul a, #menu ul ul a:visited {
background:#CAE4F1; 
color:#000; 
height:auto; 
line-height:1em; 
padding:5px 10px; 
width:129px
/* yet another hack for IE5.5 */
}
* html #menu ul ul a{
width:100px;
w\idth:120px;
}


/* style the top level hover */
#menu a:hover, #menu ul ul a:hover{
color:#fff; 
background:#0050A9;
}
#menu :hover > a, #menu ul ul :hover > a {
color:#fff;
background:#0050A9;
}

/* make the second level visible when hover on first level list OR link */
#menu ul li:hover ul,
#menu ul a:hover ul{
visibility:visible; 
}
/* keep the third level hidden when you hover on first level list OR link */
#menu ul :hover ul ul{
visibility:hidden;
}

/* make the third level visible when you hover over second level list OR link */
#menu ul :hover ul :hover ul{ 
visibility:visible;
}


/******************** Sous Contenu 1ERE COLONNE ***************************/	
#edito {
	margin:20px 0px 20px 20px;
	}
	
	#edito_1 {
		-moz-border-radius: 1em;
		border:#eee 2px solid;
		padding:20px;
	}
	
	#edito_1 img {
			float:right;
			margin-top:-10px;
			/*width:15%;*/
		}
	
	#edito_2 {
	display:none;
	}
	
	#edito_3 {
	display:none;
	}
	
	
#alaune {
	margin:0px 0px 0px 20px;
	clear: both;
	}
	#alaune_1 {
		float: left;
		width: 45%;
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;
		margin:0px 0px 10px 0px;
		padding: 10px;
		padding-top: 20px;
		margin: 20px 0px 20px 0px;
		-moz-border-radius: 1em;
 		border-radius: 1em;
		}
	
	#alaune_2 {
		float: right;
		width:45%;
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;
		padding: 10px;
		padding-top: 20px;
		margin: 20px 0px 20px 0px;
		-moz-border-radius: 1em;
 		border-radius: 1em;
		}

		
	#alaune_1 h3
	{
		padding: 0px;
		float: left;
		border-bottom: 0px dotted #aaa;
	}
	
		#alaune_2 h3
	{
		padding: 0px;
		float: left;
		border-bottom: 0px dotted #aaa;
	}

#articles_breves {
	width:97%;
	margin-left:20px;
	padding-top:15px;
	/*line-height: 4em;*/
	clear: both;
	}

#article_breve_1 {
		line-height: 1em;
		background-color:#EFF0EE;
		margin:-23px 0px 10px 0px;
		padding:15px;
		width:82%;
		float:right;
		-moz-border-radius: 1em;
 		border-radius: 1em;
		}
		#article_breve_1 img {
			float:left;
			margin:0px 5px 0px 5px;
		}
		#article_breve_1 span {
			float:right;
		}
		#article_breve_1 p {
			margin:10px 0px 10px 20px;
		}
		#article_breve_1 h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_1 em {
			margin-left:20px;
			font-size:0.9em;			
		}
		
#p_article_breve .boutonstexte img
{
	padding: 2pt;
	margin: 0pt;
}

#p_article_breve h1
{
	padding-top: 10px;
}
		
	#article_breve_all {
		line-height: 1em;
		margin:-10px 0px 10px 0px;
		padding:10px 10px 10px 10px;
		width:80%;
		float:right;
		}
		#article_breve_all img {
			float:left;
			margin:0px 5px 0px 15px;
		}
		#article_breve_all h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_all em {
			margin-left:30px;			
			font-size:0.9em;
		}
#article_texte {
	margin:0px 0px 10px 0px;
	}
		

/******************** Pages Articles et Breves ***************************/	
#filariane {
	float:right;
	width:83%;
	margin-bottom:10px;
	_margin-bottom:0px;
	}
	#filariane hr {
		_margin: -7px 0;
		size:1px;
		}
	#filariane a {
		color:#303B41;
		font-weight:bold;
		font-size:0.9em;
		}

#p_article_breve {
	/*border-style:solid;
	border-color:#484747;*/
	margin:-32px 0px 10px 0px;
	float:right;
	width:85%;
	}
	
	#p_article_breve h1 span {
		font-weight: bold;
		background-color: #EFF0EE;
		color:#000000;
		-moz-border-radius:15px 0px 0px 15px;
		padding : 3px 10px 3px 10px;
		line-height:3em;
		}
	#p_article_breve img {
		text-align:center;
		padding:5px;
		margin: 10px;
		}
	#p_article_breve a {
		text-decoration:underline;
		}
	#p_article_breve em {
		line-height:25%;
		}
	#p_article_breve p {
		padding-top:10px;;
		}
			
#pdf_impr {
	float:right;
	text-align:right;
	width:140px;
	margin:0px 0px 10px 380px;
	border: 1px solid #EFF0EE;
	-moz-border-radius: 10px;
	font-size: 0.8em;
	}
	#pdf_impr a { text-decoration: none; }
	
	#pdf_impr img {
		padding:0px;
		border: 0px;
		}
	#pdf_impr p {
		padding:0px;
		}
	
	
#forum {
	background-color:#EFF0EE;
	/*background-color:#FFFFFF;*/
	padding:10px 10px 10px 10px;
	width:83%;
	float:right;
	margin:-22px 0px 20px 0px;
	}
	#forum span {
		font-weight:bold;
		line-height:3em;
		}

#forum_all {
	background-color:#ffffff;
	padding:10px 15px 10px 10px;
	width:83%;
	float:right;
	margin:-22px 0px 40px 0px;
	}
	#forum_all ul {
		list-style-type:none;
		padding-left:20px;
		}
	#forum_all ul li ul {
		margin-top:15px;
		}
	#forum_all span {
		font-weight:bold;
		line-height:3em;
		}
	


/******************** Sous Contenu 2EME COLONNE ***************************/
#recherche 
	{
	/*padding:0px 0px 20px 0px;
	padding-right:25px;
	text-align:center;*/
	padding-top: 20px;
	padding-left: 10px;
	}
	
#recherche span 
	{
	padding-right:10px;
	}
	
#agenda {
	margin-top:20px;
	padding-right:25px;	
	}
	
#agenda p 
	{
		margin-top:20px;
		height:216px;
		text-align:center;
		background:url(_css_blueblog/agenda.jpg) no-repeat center;
		color:#FF0000;
	}

#sommaire 
	{
	background-color:#F3FAC5;
	margin:20px 30px 20px 0px;
	padding: 20px;
	-moz-border-radius: 1em;
 	border-radius: 1em;
	}
	

#web {
	background-color:#ffffff;
	margin:20px 30px 20px 0px;
	}
	
#web h6 {
	/*background-color:#ffffff;*/
	padding:10px 10px 10px 10px;
	}

#web_texte {
	background-color:#F3FAC5;
	padding:20px;
	-moz-border-radius: 1em;
 	border-radius: 1em;
	}
		
			#web_texte h5 {
				/*line-height: 2em;*/
				padding:10px 10px 0px 10px;
				}
			#web_texte p {
				line-height: 1.5em;
				padding:0px 10px 0px 10px;
				}
			#web_texte em {
				line-height:25%;
				padding:0px 10px 20px 10px;
				font-size:0.9em;
				}
		
#debat {
	background-color:#ffffff;
	margin:20px 30px 20px 0px;
	}
	#debat h6 {
		padding:10px 10px 10px 10px;
		}
#debat_texte {
	background-color:#F3FAC5;
	padding:20px;
	-moz-border-radius: 1em;
 	border-radius: 1em;
	}
			#debat_texte h5 {
				/*line-height: 2em;*/
				padding:10px 10px 0px 10px;
				}
			#debat_texte em {
				line-height:25%;
				padding:10px;
				/*line-height: 2em;*/
				/*padding:0px 10px 0px 10px;*/
				font-size:0.9em;
				}
			#debat_texte p {
				line-height: 1.5em;
				padding:5px 10px 0px 10px;
				}

/******************** Sous Contenu FOOTER ***************************/
#footer {
	height:55px;
	clear:both;
	background: #000 url(_css_blueblog/footer.jpg) top no-repeat; 
	line-height:30px;
	text-align:center;
	}
	#footer a { 
		color: #E0F5FF; 
		}
	#footer a:hover { 
		text-decoration:underline;
		}
	#footer h2 {
		font-size: 90%;
		color: #E0F5FF; 
		}
	#footer img {
		padding:10px 5px 5px 5px;
		}


#forum {
	}


#linkList {
	}
	
#linkList2 {
	margin-left: 90px;
	}
	
#lrecherche {
	}
	
#lcalendar {
	}
	
#lrubriques {
	}
	
#lweb {
	}
	
#ldebat {
	}
	
.spacer {
  clear: both;
}

#extradiv1 {
	}
#extradiv2 {
	}
#extradiv3 {
	}
#extradiv4 {
	}
#extradiv5 {
	}
#extradiv6 {
	}
#extradiv7 {
	}
#extradiv8 {
	}
#extradiv9 {
	}
#extradiv10 {
	}



