/****** Génériques  *********/
*{ margin:0; padding:0 }

ul, li { margin-left: 10px; }
#menu li { margin-left: 0px; }

BODY{					
	background: #816647 url(_css_ubuntu/bg.gif) repeat-x top;
	font: 74% Arial, Sans-Serif; 
	color:#000000;
	}

/*tr,td,th,table,body,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #484747;
	}*/
	
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style:italic;
	}

h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	}
	
h3 {
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
	border: 0px;
	}

#p_article_breve h3 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 0px;
	border-bottom: 1px solid #EFF0EE;
	color: #484747;
	}

h2 	{
	font-size: 15px;
	color: #484747;
	font-weight: bold;
	}

h1 {
	font-size: 16px;
	color: #484747;
	font-weight: bold;
	}

a,a:link,a:visited {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}

a:hover {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}
	
	
/************ Blocs Pricipaux ********************/

#container	{
	position: absolute; left: 50%;
	width: 1000px;
	margin-left: -500px;
	/*background: #fff url() repeat-y center;*/
	/*border-style:solid;
	border-color:#484747;*/
	}	
	
#intro {
	/*background: url(_css_historical/header.jpg) no-repeat center top;*/
	}

#thirdcolum {
	margin:20px 0px 0px 0px;
	_margin:20px 0px 0px 0px;
	background-color:#816647;
	/*margin-top:20px;
	margin-left:40px;*/
	width: 150px;
	float:left;
	/*border-style:solid;
	border-color:#484747;*/
	}


#supportingText {
	background-color:#fff;
	margin-top:20px;
	margin-left:40px;
	width: 570px;
	_width:535px;
	float:left;
	-moz-border-radius:15px 15px 15px 15px;
	/*border-style:solid;
	border-color:#484747;*/
	}

#linkList {
	margin-top:20px;
	width: 200px;
	float:right;
	/*border-style:solid;
	border-color:#484747;*/
	}


/******************** Sous Contenu ***************************/

/******************** Sous Contenu HEADER ***************************/
#pageHeader {
	/*background: url(_css_blueblog/top.jpg) no-repeat center top;
	width:1000px;
	height:44px;*/
	}
	#pageHeader a {
		color: #E0F5FF; 
		}
	#pageHeader a:hover { 
		text-decoration:underline;
		}
	

#pageHeader h1 span{			
	display: none;
	}

#pageHeader h1{
	display:none;
	}

#pageHeader h2{
	display:none;
	}			                                                                              
	
#quickSummary {
	width:1000px;
	height:105px;
	/*background: url(_css_blueblog/rubon1.jpg) no-repeat center top;*/
	} 
	#quickSummary h1 {
		color:#002B3D;
		padding:20px 0px 0px 0px;
		}
	#quickSummary h3 {
		float: right;
		color: #fff;
		padding: 45px 0px 0 0;
		font-size:12px;
		}
	#quickSummary h2 {
		display:none;
		}
	#quickSummary a {
		color: #fff; 
		}
	#quickSummary a:hover { 
		text-decoration:underline;
		}

#preamble {
	display: none;
	}



/******************** LES GENERALES ***************************/
#article_breve_titre {
	/*border:1px solid #6D5252;*/
	-moz-border-radius:15px 15px 0px 0px;
	background-color:#AD9060;
	width:155px;
	height:30px;
}
	#article_breve_titre span {
		padding-left:10px;
		color:#fff;
	}
	
	#article_breve_titre h6 {
		font-size:12px;
		line-height:1.7em;
		}
/******************** MENU HORIZONTAL***************************/
#menu {
display:none;
}


/******************** Sous Contenu 1ERE COLONNE ***************************/	
#edito {
	margin:10px 15px 20px 15px;

	}
	#edito_1 {
		-moz-border-radius: 1em;
 		border-radius: 1em;
		/*background-color:#F6F5E0;*/
		border: #eee 1px solid;
		padding:20px;
		/*margin-left:20px;*/
		/*background:url(_css_blueblog/arton1.gif) no-repeat right center;*/
		}
		#edito_1 img {
			float:right;
			margin-top:-10px;
			/*width:15%;*/
			}
		#edito_1 h3 {
			color:#980101;
			}
	
	#edito_2 {
	display:none;
	}
	
	#edito_3 {
	display:none;
	}
	
	
#alaune {
	margin:0px 15px 0px 15px;
	clear: both;
	}
	#alaune_1 {
		float: left;
		width: 45%;
		margin:0px 0px 10px 0px;
		padding:10px;
		border: #eee 1px solid;
		-moz-border-radius: 15px 15px 15px 15px;
 		border-radius: 1em;
		}
		#alaune_1 h3 {
			color:#980101;
			}
	
	#alaune_2 {
		float: right;
		width:45%;
		border: #eee 1px solid;
		padding:10px;
		margin:0px 0px 10px 0px;
		-moz-border-radius: 1em;
 		border-radius: 1em;
		}
		#alaune_2 h3 {
			color:#980101;
			}

#articles_breves {
	/*width:97%;*/
	margin-left:15px;
	padding-top:15px;
	/*line-height: 4em;*/
	clear: both;
	}
	#articles_breves a {
		color:#980101;
		}
	#articles_breves h6 {
		background-color:#AD9060;
		color:#fff;
		width:95.2%;
		height:20px;
		line-height:1.7em;
		padding-left:10px;
		-moz-border-radius: 15px 0px 0px 0px;
		}
	#article_breve_1 {
		line-height: 1em;
		background-color:#FBF9F4;
		border-top:1px solid #D9BB7A;
		border-left:1px solid #D9BB7A;
		margin:10px 13px 10px 0px;
		padding:10px 10px 20px 10px;
		width:93%;
		/*float:right;*/
		}
		#article_breve_1 img {
			float:left;
			margin:0px 5px 0px 5px;
		}
		#article_breve_1 span {
			color:#980101;
			float:right;
		}
		#article_breve_1 p {
			margin:10px 0px 10px 20px;
		}
		#article_breve_1 h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_1 em {
			margin-left:20px;
			font-size:0.9em;			
		}

#p_article_breve .boutonstexte img
{
	padding: 2pt;
	margin: 0pt;
}

	#article_breve_all {
		line-height: 1em;
		margin:-10px 0px 10px 0px;
		padding:10px 10px 10px 10px;
		width:80%;
		/*float:right;*/
		}
		#article_breve_all img {
			float:left;
			margin:0px 5px 0px 15px;
		}
		#article_breve_all h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_all em {
			margin-left:30px;			
			font-size:0.9em;
		}
#article_texte {
	margin:0px 0px 10px 0px;
	}
		

/******************** Pages Articles et Breves ***************************/	
#filariane {
	position: absolute;
 	top: 7em;
 	left: 0em;
	color:#fff;
	border-bottom:1px solid #fff;
	}
	/*#filariane hr {
		_margin: -7px 0;
		size:1px;
		color:#fff;
		}*/
	#filariane a {
		color:#fff;
		font-size:0.9em;
		}
		#filariane a:hover {
			color:#980101;
			font-size:0.9em;
			border-bottom: 1px solid #980101;
			}
		#filariane a:visited {
			color:#980101;
			font-size:0.9em;
			}

#p_article_breve {
	/*border-style:solid;
	border-color:#484747;*/
	margin:0px 10px 10px 0px;
	_margin-right:7px;
	/*float:right;*/
	width:97%;
	}
	#p_article_breve h1 {
		font-weight: bold;
		background-color: #D9BB7A;
		color:#980101;
		-moz-border-radius:0px 0px 15px 0px;
		padding : 3px 0px 3px 10px;
		line-height:2em;
		}
	#p_article_breve img {
		text-align:center;
		padding:5px;
		margin: 10px;
		}
	#p_article_breve a {
		text-decoration:underline;
		}
	#p_article_breve em {
		line-height:25%;
		}
	#p_article_breve p {
		padding-top:10px;;
		}
			
#pdf_impr {
	float:right;
	text-align:right;
	width:131px;
	margin:0px 0px 10px 400px;
	}
	#pdf_impr img {
		padding:0px 1px 0px 0px;
		display:inline;
		}
	#pdf_impr p {
		padding:0px 0px 0px 5px;
		display:inline;
		}
	
#forum {
	background-color:#FBF9F4;
	border-top:1px solid #D9BB7A;
	border-left:1px solid #D9BB7A;
	padding:10px 10px 10px 10px;
	width:93.1%;
	/*float:right;*/
	margin:10px 15px 10px 0px;
	_margin-right:8px;
	}
	#forum span {
		font-weight:bold;
		line-height:3em;
		}

#forum_all {
	background-color:#ffffff;
	padding:10px 15px 10px 10px;
	width:83%;
	/*float:right;*/
	margin:0px 15px 20px 0px;
	}
	#forum_all ul {
		list-style-type:none;
		padding-left:20px;
		}
	#forum_all ul li ul {
		margin-top:15px;
		}
	#forum_all span {
		font-weight:bold;
		line-height:3em;
		}
	


/******************** Sous Contenu LinkList ***************************/
#recherche {
	/*display:none;*/
	position: absolute;
 	top: 1.7em;
 	right: 0em;
	}
	#recherche span {
		padding-right:10px;
		}
	
#agenda {
	/*padding-right:25px;*/
	
	}
	#agenda p {
		/*margin-top:20px;*/
		height:216px;
		text-align:center;
		background:url(_css_blueblog/agenda.jpg) no-repeat center;
		color:#FF0000;
	}

#sommaire {
	background-color:#AD9060;
	-moz-border-radius: 15px 15px 15px 15px;
	color:#fff;
	/*border:1px solid #6D5252;*/
	margin:20px 0px 20px 0px;
	padding:10px 10px 10px 10px;
	}
	#sommaire a {
		color:#fff;
		}
	#sommaire a > img {
		border:none;
		}
	#sommaire img {
		padding-right:10px;
		}
	
#linkList > #article_breve_titre {
	width:200px;
	}

#web {
	background-color:#D9BB7A;
	-moz-border-radius:0px 0px 15px 15px;
	margin:-10px 0px 20px 0px;
	padding:0px 10px 0px 10px;
	}
	#web_texte {
		padding-bottom:10px;
		}
	#web_texte h5 {
		padding:10px 10px 0px 0px;
		}
	#web_texte p {
		line-height: 1.5em;
		padding:0px 10px 0px 0px;
		}
	#web_texte em {
		line-height:25%;
		padding:0px 10px 20px 0px;
		font-size:0.9em;
		}
		
#debat {
	/*background-color:#ffffff;*/
	background-color:#D9BB7A;
	-moz-border-radius:0px 0px 15px 15px;
	margin:-10px 0px 20px 0px;
	padding-left:10px;
	padding:0px 10px 0px 10px;
	}
	#debat_texte {
		padding-bottom:10px;
		}
	#debat_texte h5 {
		/*line-height: 2em;*/
		padding:10px 0px 0px 0px;
		}
	#debat_texte em {
		line-height:25%;
		/*padding:10px;*/
		/*line-height: 2em;*/
		/*padding:0px 10px 0px 10px;*/
		font-size:0.9em;
		}
	#debat_texte p {
		line-height: 1.5em;
		padding:5px 0px 0px 0px;
		}
				
				
/******************** Sous Contenu 3eme colonne ***************************/				

/******************** MENU VERTICAL ***************************/
#menu2 {
width:155px;
height:100%;
padding-top:20px;
padding-bottom:20px;
background-color:#D9BB7A;
z-index:1000;
font-size:90%;
margin:0px 0 25px 0px; /* this page only */
-moz-border-radius:15px 15px 15px 15px;
}
/* remove all the bullets, borders and padding from the default list styling */
#menu2 ul {
padding:0;
margin:0;
list-style-type:none;
width:150px;
position:relative;
-moz-border-radius:15px 15px 15px 15px;
}

#menu2 ul li ul {
visibility:hidden; position:absolute; height:0; overflow:hidden; top:0; left:130px;
}
/*#menu2 ul li {
float:left;
}*/
#menu2 ul li a, #menu2 ul li a:visited {
display:block; 
text-decoration:none;
color:#000; 
width:130px; 
height:30px; 
line-height:29px; 
font-size:14px; 
background:transparent; 
padding-left:30px; 
-moz-border-radius:15px 15px 15px 15px;
}
* html #menu2 ul li a, * html #menu2 ul li a:visited {width:100px; w\idth:130px;}

#menu2 table {
border-collapse:collapse; border:0; margin:0; padding:0; font-size:1em; position:absolute; left:0; top:0;
}

/* first line for IE7 and non-IE browsers - second line for IE5.5 and IE6 */
#menu2 ul li:hover a,
#menu2 ul li a:hover{
background:#AD9060; color:#fff; 
}

#menu2 ul li:hover {position:relative; z-index:90;}
* html #menu2 ul li a:hover {position:relative; z-index:100;}

#menu2 ul li:hover ul,
#menu2 ul li a:hover ul {
visibility:visible; position:absolute; height:auto; background:#AD9060; overflow:visible; padding-left:10px; _padding-left:0px;
}
#menu2 ul li:hover ul li a,
#menu2 ul li a:hover ul li a{
display:block; background:transparent; color:#000; line-height:15px; padding:5px 0px 5px 10px; height:auto; text-decoration:none;
}

#menu2 ul li:hover ul li:hover a,
#menu2 ul li a:hover ul li a:hover {
background:#FBF9F4; color:#980101;
}
#menu2 ul li:hover ul li ul,
#menu2 ul li a:hover ul li a ul {
visibility:hidden; position:absolute; height:0; overflow:hidden; top:0; left:85px;
}
#menu2 ul li:hover ul li:hover ul,
#menu2 ul li a:hover ul li a:hover ul {
visibility:visible; position:absolute; height:auto; color:#000; padding:0; border:1px solid #069; list-style-type:none; background:#069;
}
#menu2 ul li:hover ul li:hover ul li a,
#menu2 ul li a:hover ul li a:hover ul li a {
display:block; background:transparent; color:#ff0;
}

#menu2 ul li:hover ul li:hover ul li:hover a,
#menu2 ul li a:hover ul li a:hover ul li a:hover {
background:#eee; color:#000;
}



#recherche2 {
display:none;
	/*padding:0px 0px 20px 0px;*/
	/*padding-right:25px;*/
	margin-bottom:40px;
	/*border:1px solid #6D5252;*/
	background-color:#AD9060;
	width:152px;
	height:20px;
	-moz-border-radius:15px 15px 0px 0px;
	}
	#recherche2 span {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
		padding-left:10px;
		color:#fff;
		/*padding-right:10px;*/
		}
	#recherche2 input {
		margin-top:4px;
		}
		

		
#article_breve_all_2 {
		line-height: 1em;
		margin:-10px 0px 20px 0px;
		padding:10px 10px 10px 5px;
		width:140px;
		background-color:#D9BB7A;
		-moz-border-radius:0px 0px 15px 15px;
		}
		#article_breve_all_2 img {
			float:left;
			padding:0px 5px 0px 0px;
		}
		#article_breve_all_2 h5 {
			font-size:0.9em;
			margin-bottom:3px;
			padding-left:5px;			
		}
		#article_breve_all_2 em {
			font-size:0.9em;
		}
		

/******************** Sous Contenu FOOTER ***************************/
#footer {
	height:55px;
	clear:both;
	/*background: #7D777B url(_css_historical/footer.jpg) top no-repeat; */
	/*line-height:20px;*/
	/*text-align:center;*/
	margin-left:280px;
	padding-top:15px;
	}
	#footer a { 
		color: #FBF9F4; 
		}
	#footer a:hover { 
		text-decoration:underline;
		}
	#footer h2 {
		font-size: 90%;
		color: #FBF9F4; 
		}
	#footer img {
		padding:10px 5px 0px 5px;
		}
	#footer p {
		margin-left:12px;
		}

	
.spacer {
  clear: both;
}

#extradiv1 {
	}
#extradiv2 {
	}
#extradiv3 {
	}
#extradiv4 {
	}
#extradiv5 {
	}
#extradiv6 {
	}
#extradiv7 {
	}
#extradiv8 {
	}
#extradiv9 {
	}
#extradiv10 {
	}



