/****** Génériques  ********/
*{ margin:0; padding:0 }

ul, li { margin-left: 10px; }
#menu li { margin-left: 0px; }

BODY{	
	background: #7D777B url(_css_historical/bg.jpg) repeat-x top;
	font: 74% Arial, Sans-Serif; 
	color:#000000;
	}

/*tr,td,th,table,body,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #484747;
	}*/
	
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style:italic;
	}

h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	}

h3 {
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
	border: 0px;
	}

#p_article_breve h3 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 0px;
	border-bottom: 1px solid #EFF0EE;
	color: #484747;
	}

h2 	{
	font-size: 15px;
	color: #484747;
	font-weight: bold;
	}

h1 {
	font-size: 16px;
	color: #484747;
	font-weight: bold;
	}

a,a:link,a:visited {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}

a:hover {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}
	
/************ Blocs Pricipaux ********************/

#container	{
	position: absolute; left: 50%;
	width: 1000px;
	margin-left: -512px;
	background: #7D777B url(_css_historical/mainbg.jpg) repeat-y center;
	/*border-style:solid;
	border-color:#484747;*/
	}	
	
#intro {
	/*background: url(_css_historical/header.jpg) no-repeat center top;*/
	}

#thirdcolum {
	margin:20px 0px 0px 40px;
	_margin:20px 0px 0px 20px;
	width: 150px;
	_width: 130px;
	float:left;
	}


#supportingText {
	margin-top:20px;
	width: 535px;
	_width: 505px;	
	float:left;
	/*border-style:solid;
	border-color:#484747;*/
	}

#linkList {
	margin : 20px 10px 0px 10px;
	width: 230px;
	_width: 220px;
	float:right;
	/*border-style:solid;
	border-color:#484747;*/
	}


/******************** Sous Contenu ***************************/

/******************** Sous Contenu HEADER ***************************/
#pageHeader {
	/*background: url(_css_blueblog/top.jpg) no-repeat center top;
	width:1000px;
	height:44px;*/
	}
	#pageHeader a {
		color: #E0F5FF; 
		}
	#pageHeader a:hover { 
		text-decoration:underline;
		}
	

#pageHeader h1 span{			
	display: none;
	}

#pageHeader h1{
	display:none;
	}

#pageHeader h2{
	display:none;
	}			                                                                              
	
#quickSummary {
	width:1000px;
	height:138px;
	background: url(_css_historical/header.jpg) no-repeat center top;
	} 
	#quickSummary h1 a {
		line-height:71px;
		color:#ffffff;
		padding:20px 0px 0px 50px;
		}
	#quickSummary h3 {
		float: right;
		color: #F6F5E0;
		padding: 50px 35px 0 0;
		font-size: 90%;
		}

	#quickSummary a {
		color: #F6F5E0; 
		}
	#quickSummary a:hover { 
		text-decoration:underline;
		}

#preamble {
	display: none;
	}



/******************** LES GENERALES ***************************/
#article_breve_titre {
	border:1px solid #6D5252;
	background-color:#6D5252;
	width:140px;
	height:25px;
}
	#article_breve_titre span {
		padding-left:10px;
		color:#F6F5E0;
	}
	

/******************** MENU HORIZONTAL***************************/
#menu {
display:none;
}


/******************** Sous Contenu 1ERE COLONNE ***************************/	
#edito {
	margin:0px 0px 20px 30px;

	}
	#edito_1 {
		-moz-border-radius: 1em;
 		border-radius: 1em;
		border-style:solid;
		/*border-color:#484747;*/
		/*background-color:#F6F5E0;*/
		border:1px solid #6D5252;
		padding:20px;
		/*margin-left:20px;*/
				/*background:url(_css_blueblog/arton1.gif) no-repeat right center;*/
	}
		#edito_1 img {
			float:right;
			margin-top:-10px;

		}
	
	#edito_2 {
	display:none;
	}
	
	#edito_3 {
	display:none;
	}
	
	
#alaune {
	margin:0px 0px 0px 30px;
	clear: both;
	}
	
	#alaune_1 {
		float: left;
		width: 42%;
		margin:0px 0px 10px 0px;
		padding:15px;
		border-style:solid;
		/*border-color:#484747;*/
		-moz-border-radius: 1em;
 		border-radius: 1em;
		border:1px solid #6D5252;
		}
	
	#alaune_2 {
		float: right;
		width:42%;
		border-style:solid;
		/*border-color:#484747;*/
		padding:15px;
		margin:0px 0px 10px 0px;
		-moz-border-radius: 1em;
 		border-radius: 1em;
		border:1px solid #6D5252;
		}
		
#alaune_1 h3, h2
	{
	padding: 0px;
	text-align: left;
	}
	
#alaune_2 h3, h2
	{
	padding: 0px;
	text-align: left;
	}


#articles_breves {
	width:97%;
	margin-left:30px;
	padding-top:15px;
	/*line-height: 4em;*/
	clear: both;
	}

#articles_breves h6 
	{
	padding-left:10px;
	margin-left: 2px;
	color:#F6F5E0;
	border: 1px solid #6D5252;
	background-color: #6D5252;
	width:138px;
	height:25px;
	font-size:12px;
	display: none;
	}

#article_breve_1 {
		line-height: 1em;
		background-color:#F6F5E0;
		border:1px solid #6D5252;
		margin:0px 13px 10px 0px;
		_margin:0px 7px 10px 0px;
		padding:10px 10px 10px 10px;
		width:93%;
		float:right;
		}
		#article_breve_1 img {
			float:left;
			margin:0px 5px 0px 5px;
		}
		#article_breve_1 span {
			float:right;
		}
		#article_breve_1 p {
			margin:10px 0px 10px 20px;
		}
		#article_breve_1 h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_1 em {
			margin-left:20px;
			font-size:0.9em;			
		}

#p_article_breve .boutonstexte img
{
	padding: 2pt;
	margin: 0pt;
}
		
	#article_breve_all {
		line-height: 1em;
		margin:-10px 0px 10px 0px;
		padding:10px 10px 10px 10px;
		width:98%;
		float:right;
		}
		#article_breve_all img {
			float:left;
			margin:0px 5px 0px 15px;
		}
		#article_breve_all h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_all em {
			margin-left:30px;			
			font-size:0.9em;
		}
#article_texte {
	margin:0px 0px 10px 0px;
	}
		

/******************** Pages Articles et Breves ***************************/	
#filariane {
	float:right;
	width:83%;
	margin-bottom:10px;
	_margin-bottom:0px;
	}
	#filariane hr {
		_margin: -7px 0;
		size:1px;
		}
	#filariane a {
		color:#303B41;
		font-weight:bold;
		font-size:0.9em;
		}

#p_article_breve {
	/*border-style:solid;
	border-color:#484747;*/
	margin:-32px 10px 10px 0px;
	_margin-right:7px;
	float:right;
	width:85%;
	}
	#p_article_breve h1 span {
		font-weight: bold;
		background-color: #E0F5FF;
		color:#000000;
		-moz-border-radius:15px 0px 0px 15px;
		padding : 3px 10px 3px 10px;
		line-height:3em;
		}
	#p_article_breve img {
		text-align:center;
		padding:5px;
		margin: 10px;
		}
	#p_article_breve a {
		text-decoration:underline;
		}
	#p_article_breve em {
		line-height:25%;
		}
	#p_article_breve p {
		padding-top:10px;;
		}
			
#pdf_impr {
	float:right;
	text-align:right;
	width:131px;
	margin:0px 0px 10px 330px;
	}
	#pdf_impr img {
		padding:0px 1px 0px 0px;
		display:inline;
		}
	#pdf_impr p {
		padding:0px 0px 0px 5px;
		display:inline;
		}
	
#forum {
	background-color:#99CCFF;
	/*background-color:#FFFFFF;*/
	padding:10px 10px 10px 10px;
	width:81%;
	float:right;
	margin:-22px 15px 20px 0px;
	_margin-right:8px;
	}
	#forum span {
		font-weight:bold;
		line-height:3em;
		}

#forum_all {
	background-color:#ffffff;
	padding:10px 15px 10px 10px;
	width:83%;
	float:right;
	margin:-22px 15px 40px 0px;
	}
	#forum_all ul {
		list-style-type:none;
		padding-left:20px;
		}
	#forum_all ul li ul {
		margin-top:15px;
		}
	#forum_all span {
		font-weight:bold;
		line-height:3em;
		}
	


/******************** Sous Contenu 2EME COLONNE ***************************/
#recherche {
	/*display:none;*/
	padding:0px 0px 20px 0px;
	padding-right:25px;
	text-align:center;
	}
	
#recherche span {
		padding-right:10px;
		}
	
#agenda {
	padding-right:25px;
	
	}
	#agenda p {
		/*margin-top:20px;*/
		height:216px;
		text-align:center;
		background:url(_css_blueblog/agenda.jpg) no-repeat center;
		color:#FF0000;
	}

#sommaire {
	background-color:#F6F5E0;
	border:1px solid #6D5252;
	margin:20px 30px 20px 0px;
	padding:10px 10px 10px 10px;
	}
	

#web {
	/*background-color:#ffffff;*/
	background-color:#6D5252;
	/*border:1px solid #6D5252;*/
	margin:-10px 30px 20px 0px;
	/*padding:10px 10px 10px 10px;*/
	}
	#web h6 {
		/*background-color:#ffffff;*/
		padding:10px 10px 10px 10px;
		background-color:#6D5252;
		color:#F6F5E0;
		}
		#web_texte {
			background-color:#F6F5E0;
			border:1px solid #6D5252;
			padding-bottom:10px;
			}
		
			#web_texte h5 {
				/*line-height: 2em;*/
				padding:10px 10px 0px 10px;
				}
			#web_texte p {
				line-height: 1.5em;
				padding:0px 10px 0px 10px;
				}
			#web_texte em {
				line-height:25%;
				padding:0px 10px 20px 10px;
				font-size:0.9em;
				}
		
#debat {
	background-color:#F6F5E0;
	margin:-10px 30px 20px 0px;
	padding-left:10px;
	padding:0px 10px 0px 10px;
	border:1px solid #6D5252;
	}
	#debat_texte {
		padding-bottom:10px;
		}
		#debat_texte h5 {
			/*line-height: 2em;*/
			padding:10px 0px 0px 0px;;
			}
		#debat_texte em {
			line-height:25%;
			/*padding:10px;*/
			/*line-height: 2em;*/
			/*padding:0px 10px 0px 10px;*/
			font-size:0.9em;
			}
		#debat_texte p {
			line-height: 1.5em;
			padding:5px 0px 0px 0px;
			}

				
/******************** Sous Contenu 3eme colonne ***************************/				

/******************** MENU VERTICAL ***************************/
#menu2 {
width:155px;
height:100%;
padding-top:20px;
padding-bottom:20px;
background-color:#F6F5E0;
border:1px solid #6D5252;
z-index:1000;
font-size:90%;
margin:0px 0 20px 0px; /* this page only */
/*-moz-border-radius:15px 15px 15px 15px;*/
}
/* remove all the bullets, borders and padding from the default list styling */
#menu2 ul {
padding:0;
margin:0;
list-style-type:none;
width:150px;
position:relative;
/*border:1px solid #888;*/
/*border-width:1px 1px 0 1px;*/
/*background:#6D5252;*/
}

#menu2 ul li ul {
visibility:hidden; position:absolute; height:0; overflow:hidden; top:0; left:130px;
}
/*#menu2 ul li {
float:left;
}*/
#menu2 ul li a, #menu2 ul li a:visited {
display:block; /*float:left;*/ text-decoration:none; color:#6D5252; width:130px; height:30px; line-height:29px; font-size:12px; background:transparent; padding-left:30px; font-weight:bold;
}
* html #menu2 ul li a, * html #menu2 ul li a:visited {width:100px; w\idth:130px;}

#menu2 table {
border-collapse:collapse; border:0; margin:0; padding:0; font-size:1em; position:absolute; left:0; top:0;
}

/* first line for IE7 and non-IE browsers - second line for IE5.5 and IE6 */
#menu2 ul li:hover a,
#menu2 ul li a:hover{
background:#6D5252; color:#F6F5E0; 
}

#menu2 ul li:hover {position:relative; z-index:90;}
* html #menu2 ul li a:hover {position:relative; z-index:100;}

#menu2 ul li:hover ul,
#menu2 ul li a:hover ul {
visibility:visible; position:absolute; height:auto; border:1px solid #6D5252; background:#6D5252; overflow:visible; padding-left:10px; _padding-left:0px;
}
#menu2 ul li:hover ul li a,
#menu2 ul li a:hover ul li a{
display:block; background:transparent; color:#F6F5E0; line-height:15px; padding:5px 0px 5px 10px; height:auto; text-decoration:none;
}

#menu2 ul li:hover ul li:hover a,
#menu2 ul li a:hover ul li a:hover {
background:#000; color:#fff;
}
#menu2 ul li:hover ul li ul,
#menu2 ul li a:hover ul li a ul {
visibility:hidden; position:absolute; height:0; overflow:hidden; top:0; left:85px;
}
#menu2 ul li:hover ul li:hover ul,
#menu2 ul li a:hover ul li a:hover ul {
visibility:visible; position:absolute; height:auto; color:#000; padding:0; border:1px solid #069; list-style-type:none; background:#069;
}
#menu2 ul li:hover ul li:hover ul li a,
#menu2 ul li a:hover ul li a:hover ul li a {
display:block; background:transparent; color:#ff0;
}

#menu2 ul li:hover ul li:hover ul li:hover a,
#menu2 ul li a:hover ul li a:hover ul li a:hover {
background:#eee; color:#000;
}


#recherche2 {
	/*padding:0px 0px 20px 0px;*/
	/*padding-right:25px;*/
	margin-bottom:40px;
	border:1px solid #6D5252;
	background-color:#6D5252;
	width:140px;
	height:15px;
	}
	#recherche2 span {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: bold;
		padding-left:10px;
		color:#F6F5E0;
		/*padding-right:10px;*/
		}
		

		
#article_breve_all_2 {
		line-height: 1em;
		margin:-10px 0px 20px 0px;
		padding:10px 10px 10px 5px;
		width:140px;
		border:1px solid #6D5252;
		background-color:#F6F5E0;
		/*float:right;*/
		}
		#article_breve_all_2 img {
			float:left;
			padding:0px 5px 0px 0px;
		}
		#article_breve_all_2 h5 {
			font-size:0.9em;
			margin-bottom:3px;
			padding-left:5px;			
		}
		#article_breve_all_2 em {
			font-size:0.9em;
		}
		

/******************** Sous Contenu FOOTER ***************************/
#footer {
	height:55px;
	clear:both;
	background: #7D777B url(_css_historical/footer.jpg) top no-repeat; 
	/*line-height:20px;*/
	text-align:center;
	padding-top:15px;
	}
	#footer a { 
		color: #F6F5E0; 
		}
	#footer a:hover { 
		text-decoration:underline;
		}
	#footer h2 {
		font-size: 90%;
		color: #F6F5E0; 
		text-align: center;
		}
	#footer img {
		padding:10px 5px 0px 5px;
		}


#forum {
	}


#linkList {
	}
	
#linkList2 {
	margin-left: 90px;
	}
	
#lrecherche {
	}
	
#lcalendar {
	}
	
#lrubriques {
	}
	
#lweb {
	}
	
#ldebat {
	}
	
.spacer {
  clear: both;
}

#extradiv1 {
	}
#extradiv2 {
	}
#extradiv3 {
	}
#extradiv4 {
	}
#extradiv5 {
	}
#extradiv6 {
	}
#extradiv7 {
	}
#extradiv8 {
	}
#extradiv9 {
	}
#extradiv10 {
	}



iv10 {
	}



	}
#extradiv9 {
	}
#extradiv10 {
	}



