/****** Génériques  ********/
*{ margin:0; padding:0 }

ul, li { margin-left: 10px; }
#menu li { margin-left: 0px; }

BODY{	
	/*background: #fff url(_css_greenangel/bg.jpg) repeat-x;*/
	font: 74% Arial, Sans-Serif; 
	color:#000000;
	}

/*tr,td,th,table,body,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #484747;
	}*/
	
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style:italic;
	text-transform:uppercase;
	}

h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	}

h3 {
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
	border: 0px;
	}

#p_article_breve h3 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 0px;
	border-bottom: 1px solid #EFF0EE;
	color: #484747;
	}

h2 	{
	font-size: 15px;
	color: #484747;
	font-weight: bold;
	}

h1 {
	font-size: 16px;
	color: #484747;
	font-weight: bold;
	}

a,a:link,a:visited {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}

a:hover {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}
	
/************ Blocs Pricipaux ********************/

#container	
{
 	background: #FFF url(../IMG/siteon0.jpg) no-repeat center top;
	width: 1000px;
	position: relative;
	margin:auto;
	text-align: left; /*ie*/
	/*border-style:solid;
	border-color:#484747;*/
	}	
	
#intro {
	/* background: #fff url(_css_greenangel/bg.jpg) repeat-x; */
	}

#supportingText {
	margin-top:0px;
	width: 650px;
	float:left;
	/*border-style:solid;
	border-color:#484747;*/
	}

#linkList {
	position: relative;
	top: -30px;
	width: 289px;
	float:right;
	/*border-style:solid;
	border-color:#484747;*/
	}


/******************** Sous Contenu ***************************/

/******************** Sous Contenu HEADER ***************************/
#pageHeader {
	/*background: url(_css_blueblog/top.jpg) no-repeat center top;*/
	width:1000px;
	height:150px;
	}
	#pageHeader a {
		color: #888888; 
		}
	#pageHeader a:hover { 
		text-decoration:underline;
		}
	
#pageHeader h1{
	padding-left:20px;
	padding-top:10px;
	color: #333333;	}

#pageHeader h2{
	padding-left:20px;
	color: #555555;
	font-size: 90%;
	}			                                                                              
	
#quickSummary {
	display:none;
	width:1000px;
	height:120px;
	/*background: url(_css_blueblog/rubon1.jpg) no-repeat center top;*/
	} 
	#quickSummary h1 {
		display:none;
		color:#555555;
		padding:20px 0px 0px 30px;
		}


#preamble {
	display: none;
	width:92%;
	padding:0px 15px 0px 20px;
	}


/******************** LES GENERALES ***************************/
#article_breve_titre {
	margin:30px 0px -20px 0px;
}
	#article_breve_titre h6 {
		background-image:url(_css_greenangel/tit_corner.png);
		color:#FFFFFF;
		witdh:289px;
		height:26px;
	}
	#article_breve_titre span {
		padding-left:10px;
		line-height:2em;
	}


/******************** MENU HORIZONTAL***************************/
#menu {
width:1000px; 
height:30px;
top: -30px;
margin:0px 0px 0px 0px;
font-size:0.85em;
position:relative;
z-index:100;
/*background-color:#000000;*/
border-bottom:4px solid #36D638;
}
/* remove all the bullets, borders and padding from the default list styling */
#menu ul {
padding-left:20px;
margin:0;
list-style-type:none;
}
#menu ul ul {
display:none;
width:100px;
}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#menu li {
float:left;
width:112px;
position:relative;
/*background-color:#000;*/
margin-left:5px;
}
/* style the links for the top level */
#menu a, #menu a:visited {
display:block;
font-size:11px;
font-weight: bold ;
text-decoration:none; 
/*color:#fff; */
color: #fff; 
width:112px; 
height:30px;
/*border:1px solid #fff; 
border-width:1px 1px 0 0; */
background-image:url(_css_greenangel/corner.gif);
/*padding-left:10px; */
		text-align:center;
line-height:29px;
}
/* a hack so that IE5.5 faulty box model is corrected */
* html #menu a, * html #menu a:visited {
width:100px;
w\idth:112px;
}


/* style the table so that it takes no ppart in the layout - required for IE to work */
#menu table {position:absolute; top:0; left:0;}



/* style the top level hover */
#menu a:hover, #menu ul ul a:hover{
/*color:#fff; 
background:#0050A9;*/
color:#249526;
/*background:#0050A9;*/
background-image:url(_css_greenangel/cornerb.gif);
}
#menu :hover > a, #menu ul ul :hover > a {
color:#249526;
/*background:#0050A9;*/
background-image:url(_css_greenangel/cornerb.gif);

}



/******************** Sous Contenu 1ERE COLONNE ***************************/	
#edito {
	margin:0px 0px 20px 20px;

	}
	#edito_1 {
		-moz-border-radius: 1em;
 		border-radius: 1em;
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;		
		padding:20px;
		margin-top: 20px;
		margin-bottom: 20px;
		/*margin-left:20px;*/
				/*background:url(_css_blueblog/arton1.gif) no-repeat right center;*/
	}
		#edito_1 img {
			float:right;
			margin-top:-10px;

		}
	
	#edito_2 {
	display:none;
	}
	
	#edito_3 {
	display:none;
	}
	
	
#alaune {
	margin:0px 0px 0px 20px;
	clear: both;
	}
	#alaune_1 {
		float: left;
		width: 45%;
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;
		margin:0px 0px 10px 0px;
		padding: 10px;
		padding-top: 20px;
		margin: 20px 0px 20px 0px;
		-moz-border-radius: 1em;
 		border-radius: 1em;
		}
	
	#alaune_2 {
		float: right;
		width:45%;
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;
		padding: 10px;
		padding-top: 20px;
		margin: 20px 0px 20px 0px;
		-moz-border-radius: 1em;
 		border-radius: 1em;
		}

		
	#alaune_1 h3
	{
		padding: 0px;
		float: left;
		border-bottom: 0px dotted #aaa;
	}
	
		#alaune_2 h3
	{
		padding: 0px;
		float: left;
		border-bottom: 0px dotted #aaa;
	}


#articles_breves {
	width:97%;
	margin-left:20px;
	padding-top:15px;
	/*line-height: 4em;*/
	clear: both;
	}
	#articles_breves h6 {
		color:#3a3a3a;
		border-bottom:1px dotted #aaa;
		}
	#article_breve_1 {
		background-color: #D9FFD8;
		line-height: 1em;
		/*background-color:#99CCFF;*/
		border:solid 0px #aaa;
		-moz-border-radius:10px 10px 10px 10px;
		margin:10px 0px 10px 0px;
		padding:20px;
		width:96,5%;
		/*float:right;*/
		}
		#article_breve_1 img {
			float:left;
			margin:0px 5px 0px 5px;
		}
		#article_breve_1 span {
			float:right;
		}
		#article_breve_1 p {
			margin:10px 0px 10px 20px;
		}
		#article_breve_1 h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_1 em {
			margin-left:20px;
			font-size:0.9em;			
		}
		/*#article_breve_1 div {
			margin:0px 0px 10px 0px;
			border-left:solid 3px #fff;
			}*/
		#article_breve_1 > #article_texte {
			border:none;
			}

#p_article_breve .boutonstexte img
{
	padding: 2pt;
	margin: 0pt;
}
				
	#article_breve_all {
		line-height: 1em;
		margin:-10px 0px 10px 0px;
		padding:10px 10px 10px 34px;
		width:80%;
		/*float:right;*/
		}
		#article_breve_all img {
			float:left;
			margin:0px 5px 0px 15px;
		}
		#article_breve_all h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_all em {
			margin-left:30px;			
			font-size:0.9em;
		}
#article_texte {
	margin:0px 0px 10px 0px;
	border-left:solid 3px #249526;
	}

/******************** Pages Articles et Breves ***************************/	
#filariane {
	margin-left:20px;
	width:97%;
	margin-bottom:10px;
	_margin-bottom:0px;
	border-bottom:1px dotted #aaa;
	}
	#filariane hr {
		display:none;
		_margin: -7px 0;
		size:1px;
		}
	#filariane a {
		color:#303B41;
		font-weight:bold;
		font-size:0.9em;
		}

#p_article_breve {
	/*border-style:solid;
	border-color:#484747;*/
	margin:10px 0px 10px 20px;
	width:95%;
	}

	#p_article_breve h1 span {
		font-weight: bold;
		background-color: #D9FFD8;
		border:solid 1px #36D638;
		color:#000000;
		-moz-border-radius:0px 15px 0px 0px;
		padding : 3px 10px 3px 10px;
		line-height:3em;
		}
	#p_article_breve img {
		text-align:center;
		padding:5px;
		margin: 10px;
		}
	#p_article_breve a {
		text-decoration:underline;
		}
	#p_article_breve em {
		line-height:25%;
		}
	#p_article_breve p {
		padding-top:10px;;
		}
			
#pdf_impr {
	float:right;
	text-align:right;
	width:131px;
	margin:0px 0px 10px 455px;
	}
	#pdf_impr img {
		padding:0px 1px 0px 0px;
		display:inline;
		}
	#pdf_impr p {
		padding:0px 0px 0px 5px;
		display:inline;
		}
	
#forum {
	background-color:#D9FFD8;
	border:solid 1px #aaa;
	-moz-border-radius:10px 10px 10px 10px;
	/*background-color:#FFFFFF;*/
	padding:10px 10px 10px 10px;
	width:89%;
	float:left;
	margin:10px 0px 10px 20px;
	}
	#forum span {
		font-weight:bold;
		line-height:3em;
		}

#forum_all {
	background-color:#ffffff;
	padding:10px 15px 10px 10px;
	width:83%;
	float:left;
	margin:0px 0px 0px 20px;
	}
	#forum_all ul {
		list-style-type:none;
		padding-left:20px;
		border-left:solid 3px #249526;
		}
	#forum_all ul li ul {
		margin-top:15px;
		}
	#forum_all span {
		font-weight:bold;
		line-height:3em;
		}
	


/******************** Sous Contenu 2EME COLONNE ***************************/
#recherche {
	/*padding:0px 0px 20px 0px;*/
	height:59px;
	width:289px;
	/*padding-right:25px;*/
	text-align:center;
	line-height:5em;
	color:#249526;
	background-image:url(_css_greenangel/recherche.png);
	}
	#recherche span {
		padding-right:10px;
		}
	
#agenda {
	text-align:center;
	padding: 20px 0 20px 0;
	}
	#agenda p {
		margin-top:20px;
		height:216px;
		text-align:center;
		background:url(_css_blueblog/agenda.jpg) no-repeat center;
		color:#FF0000;
	}

#sommaire {
	background-color:#f8f8f8;
	margin:20px 0px 20px 0px;
	padding:20px;
	-moz-border-radius: 1em;
	}
	

#web {
	background-color:#ffffff;
	/*margin:20px 30px 20px 0px;*/
	margin-top:20px;
	/*padding:10px 10px 10px 10px;*/
	}
	#web h6 {
		/*background-color:#ffffff;*/
		padding:10px 10px 10px 10px;
		}
		#web_texte {
			background-color:#f8f8f8;
			padding:20px;
			margin:0px 0px 20px 0px;
			-moz-border-radius: 1em;
			}
		
			#web_texte h5 {
				/*line-height: 2em;*/
				padding:10px 10px 0px 10px;
				}
			#web_texte p {
				line-height: 1.5em;
				padding:0px 10px 0px 10px;
				}
			#web_texte em {
				line-height:25%;
				padding:0px 10px 20px 10px;
				font-size:0.9em;
				}
		
#debat {
	background-color:#ffffff;
	/*margin:20px 30px 20px 0px;*/
	margin-top:20px;
	margin-bottom:20px;
	}
	#debat h6 {
		padding:10px 10px 10px 10px;
		}
		#debat_texte {
			background-color:#f8f8f8;
			padding:20px;
			margin:0px 0px 20px 0px;
			-moz-border-radius: 1em;
			}
			#debat_texte h5 {
				/*line-height: 2em;*/
				padding:10px 10px 0px 10px;
				}
			#debat_texte em {
				line-height:25%;
				padding:10px;
				/*line-height: 2em;*/
				/*padding:0px 10px 0px 10px;*/
				font-size:0.9em;
				}
			#debat_texte p {
				line-height: 1.5em;
				padding:5px 10px 0px 10px;
				}

/******************** Sous Contenu 2EME COLONNE ***************************/
#thirdcolum {
	display:none;
	}

/******************** Sous Contenu FOOTER ***************************/
#footer {
	height:55px;
	clear:both;
	/*background: #000 url(_css_blueblog/footer.jpg) top no-repeat; */
	line-height:30px;
	text-align:center;
	}
	#footer a { 
		color: #249526; 
		}
	#footer a:hover { 
		text-decoration:underline;
		}
	#footer h2 {
		-moz-border-radius:15px 15px 15px 15px;
		font-size: 90%;
		color: #249526; 
		background-color: #D9FFD8;
		padding: 0px 10px 0px 10px;
		}
	#footer img {
		padding:10px 5px 5px 5px;
		}


	
.spacer {
  clear: both;
}

#extradiv1 {
	}
#extradiv2 {
	}
#extradiv3 {
	}
#extradiv4 {
	}
#extradiv5 {
	}
#extradiv6 {
	}
#extradiv7 {
	}
#extradiv8 {
	}
#extradiv9 {
	}
#extradiv10 {
	}



