@import "bootstrap/css/navs.less";

.nav-pills .nav-header {padding-left: 12px;}
// Make links block level
/*
.nav > li > strong {
  display: block;
}

.nav-list > li > strong {
  margin-left:  -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav-list > li > strong {
  padding: 3px 15px;
}
.nav-list > .active > strong {
  color: @white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  background-color: @linkColor;
}
*/