/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

@import "css/variables.less";

/* Listes d'items */
/*
.liste[.long][.short]
  .liste-items[.long][.short]
    .item


Un item est compose de :

.entry
  .entry-title
    .spip_logos
    .lire-la-suite
  .info-publi
  .entry-content
  .meta-publi
*/

@listBorderColor : (4*(@bodyBackground/5)+@gray/5);

.liste {margin-bottom: @baseLineHeight};
.liste.long {margin-bottom: @baseLineHeight*2;}

.liste-items {margin-left: 0; list-style: none; border-bottom:0;border-top: 1px solid @listBorderColor;}
//.liste .liste-items {margin-bottom: 0;}
.liste-items .item {padding:@paddingLarge;padding-left:0;padding-right:0;clear:both; overflow:hidden;border-bottom: 1px solid @listBorderColor;}
.liste-items .item .entry {margin-bottom: 0;}
.liste-items .item .entry-title:first-child {margin-top: 0;}
.liste-items .item-header {.liste-items .item;
  border: 0;
  display: block;
  font-weight: bold;
  color: @grayLight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-transform: uppercase;
}
// Space them out when they follow another list item (link)
.item + .item-header {
  margin-top: 9px;
}


.liste-items {
  .info-publi,.meta-publi {display: none;}
  .meta-publi .tags {ul,li {display: inline;}}
}
.long {
  .entry {position: relative;padding-bottom: @baseLineHeight;}
  .info-publi {display: block;}
  .entry-content {}
  .meta-publi {display:block;min-height: @baseLineHeight;padding:@paddingLarge;padding-left: 2em;padding-bottom: 0;margin-bottom: -@baseLineHeight;}
  .lire-la-suite {display:block; position: absolute;z-index: 10;bottom:0;left:0;text-align: right;padding:@paddingLarge;padding-left:0;padding-bottom: 0;line-height: @baseLineHeight;font-size: @baseFontSize;}
}

.short .item, .item.short {
  padding:@paddingSmall;padding-left:0;padding-right:0;
}
.short {
  .entry-title {font-size: inherit;line-height: inherit;display: inline;}
  .info-publi,.spip_logos,.entry-content,.meta-publi,lire-la-suite {display: none;}
  .entry > :not(.entry-title) {display: none;}
  .entry, .entry-title {display: inline;}
}


.secondary .liste-items {
  .item {padding:@paddingSmall;padding-left:0;padding-right:0;}
  .spip_logos {max-width: 2.5*@baseLineHeight;}
  .entry-content {max-height: 5*@baseLineHeight;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;}
}
.secondary .short {
  .entry-title {font-weight: normal;}
}

.secondary .long {
  .entry-content {max-height: 10*@baseLineHeight;}
}

/* liste de documents */
.documents {
  .item {padding-right:0;padding-left: 3*@baseLineHeight;}
}
.entry.document {
  padding-bottom: 0;
  .entry-title {font-size: inherit;line-height: inherit;margin-bottom: 0}
  .spip_logos {float: left;max-width: 1.5*@baseLineHeight;margin:@paddingSmall;margin-left: -3*@baseLineHeight;margin-top: 0;}
  .info-publi {display: block; margin-bottom: 0;}
  .lire-la-suite {display: none}
}
.documents.short .item,.documents .item.short {
  padding-left: 0;
}
.short .document .spip_logos {display: none;}