@import "bootstrap/css/type.less";

.h1-like {h1;display: block;}
.h2-like {h2;display: block;}
.h3-like {h3;display: block;}
.h4-like {h4;display: block;}
.h5-like {h5;display: block;}
.h6-like {h6;display: block;}

.secondary h1,.secondary .h1-like {h2; small {display: block;}}
.secondary h2,.secondary .h2-like {h3;line-height: @baseLineHeight; small {display: block;}}
.secondary h3,.secondary .h3-like {h4; small {display: block;}}
.secondary h4,.secondary .h4-like {h5; small {display: block;}}
.secondary h5,.secondary .h5-like {h6; small {display: block;}}

.small {small}

.hero-unit h1 {word-wrap: break-word;}

.chapo {font-weight: bold;color:lighten(@textColor,7%);}
.spip_surligne { background-color: @infoBackground; color: @infoText;}
#descriptif_site_spip {.lead}

/* Listes SPIP */
ul.spip,
ol.spip {}
ul.spip {}
li ul.spip {}
ol.spip {}

dl.spip dt,
dl.spip dd {}
dl.spip dt {}
dl.spip dd {}

/* Citations, code et poesie */
/* retablir le meme font-size que le corps du texte dans les blockquote */
blockquote {
  font-weight: 300;
  p {
    margin-bottom: @baseLineHeight / 2;
    font-size : inherit;
    line-height : inherit;
    font-weight : inherit;
  }
}
blockquote.spip {}
.spip_poesie {}
.spip_poesie div {}
.spip_code,
.spip_cadre {width: 100%;.box-sizing(border-box);}
.spip_cadre {}

/* Enluminures typo V3 / Cf.: http://www.spip-contrib.net/3118 */
sc { font-variant: small-caps; }
.caractencadre-spip {}
.caractencadre2-spip {}
.texteencadre-spip {}

/* Notes */
.notes {small; border-top: 2px solid lighten(@grayLight, 20%);padding-top: @baseLineHeight;margin-top: @baseLineHeight;max-width: 4*(@gridColumnWidth+@gridGutterWidth);}
.notes > div p {font-size: inherit;line-height: inherit;font-weight: 200;}
.notes > div {padding-left: @gridColumnWidth+@gridGutterWidth; position: relative; }
.notes .spip_note_ref { display:block;position:absolute;left:0;width: @gridColumnWidth;}
.secondary {
  .notes > div {padding-left: 2*@gridGutterWidth;}
  .notes .spip_note_ref { width: 2*@gridGutterWidth;}
}