/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux

-------------------------------------------------------------- */

/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */
body { background: #fff; margin: 0; padding: 0; text-align: center; }

.page { position: relative; background: #fff; width: 640px; margin: 50px auto 0px; padding:0; text-align: left;}

.header { width: 100%; margin: 0; border-bottom: 2px solid #46839B; }

.conteneur {
	background-color: white; color: #555; border: 1px #cccccc solid;
	padding: 0px 20px 0 20px;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.contenu {margin: 1em 0 0; padding: 0px 10px 30px;}

.navigation {margin: -65px 0px 50px 100px; padding: 0px; color: #999;}
.extra {text-align: left;background-color: #aaa; color: white;border:1px solid #aaa;margin: 0px auto 0px auto; padding: 10px 20px 5px 20px;
	-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;
	/*font-size:94%;*/
}
.extra .content {float:left; width:280px;}
.extra .more { float:right;  width:280px; }

.page_sommaire .extra .content,
.page_sommaire .extra .more {float:none;  width:auto;}


.pied {text-align: center;
	background-color: white; color: #555;
	margin: 10px auto 0px auto; padding: 0px 20px 220px 20px
	/*font-size:90%;*/
}

/* Gabarit d'impression */
@media print {
	.navigation,
	.extra,
	.pied { display: none; }
	.page,
	.conteneur { width: auto; }
}

/* end */

/* Affichage pour les petits ecrans (type 400 x 300) */
@media handheld {
  div.page, div.conteneur, div.navigation, div.extra { width: auto; }
}
