/* Habillage des forums
---------------------------------------------- */
/*
	Configuration
*/
.typo_standard {
  /* Configuration */

  font-size: /*@font-size*/ 0.8125em;
  font-family: /*@font-family*/ 'Gill Sans', Verdana, Helvetica, sans-serif;
  text-indent: /*@text-indent*/ 40px;
  line-height: /*@line-height*/ 1.5em;
  margin-bottom: /*@margin-bottom*/ 1.5em;
  color: /*@color*/ #555555;
  background-color: /*@background-color*/ #ffffff;
}
.typo_mono {
  font-family: /*@font-family-mono*/ 'andale mono', 'lucida console', monospace;
  line-height: /*@line-height-mono*/ 1.5em;
  font-size: /*@font-size-mono*/ 1em;
}
/* * Habillage des forums */
.comments {
  width: 400px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 0 0.5em;
  margin-top: 3em;
  clear: both;
  margin-bottom: /*@margin-bottom*/ 1.5em;
}
/* comments list */
.comments-items {
  border-bottom: 1px solid #eee;
}
.comments-items .comments-items {
  margin-left: /*@text-indent*/ 40px;
  border-bottom: 0;
}
.comments-items .comments-items .comments-items .comments-items {
  margin-left: /*@demi-text-indent*/ 20px;
  border-bottom: 0;
}
.comments-items .comment-item {
  border-top: 1px solid #eee;
}
.comments-items .comment-item .comment-item {
  border-top: 0;
}
.comment {
  overflow: hidden;
}
.comment-meta {
  border-bottom: 1px solid #ccc;
  padding-top: /*@demi-margin-bottom*/ 0.75em;
  padding-right: /*@margin-bottom*/ 1.5em;
  position: relative;
  margin: 0;
}
.comment-meta .reviewer .fn {
  color: #636363;
  font-weight: bold;
}
.comment-item .comment-item .comment-meta {
  background: #f4f4f4;
}
.comment-meta .spip_logos {
  margin-bottom: 0;
}
.comment-meta .permalink {
  position: absolute;
  right: 0;
  font-size: 2em;
  color: #ccc;
}
.comment-meta .forum-titre {
  display: block;
}
.comment-content {
  background: transparent;
  padding: /*@demi-margin-bottom*/ 0.75em 0;
  max-height: 60em;
  overflow: auto;
  overflow-x: none;
}
.comment-reply {
  clear: both;
  text-align: right;
  font-weight: bold;
  margin-bottom: 0;
}
/* en thread */
.comments-thread .comment-item {
  margin-bottom: /*@margin-bottom*/ 1.5em;
  border-left: 1px solid #eee;
}
.comments-thread .comment-item .comment-item {
  margin-bottom: 0;
  border-left: 0;
}
.comments-thread .permalink.in-reply-to {
  bottom: 0;
}
/* avec plugin comments */
.comment-meta .permalink.picto {
  font-size: 1em;
  right: /*@demi-margin-bottom*/ 0.75em;
}
.comment {
  position: relative;
}
.comment .spip-admin {
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}
.comment:hover .spip-admin {
  visibility: visible;
}
/* en list avec plugin comments */
.comment-meta .item {
  display: none;
}
/* Previsu */
.formulaire_spip fieldset.previsu, .formulaire_spip fieldset.previsu legend {
  border: 1px solid #888;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.gravatar {
  background: #ffffff no-repeat scroll center;
  border: 1px solid #CCCCCC;
  float: left;
  margin: 0pt 1em 0.1em 0pt;
  padding: 3px;
}
