/* Portfolio */
/*
	Configuration
*/
.typo_standard {
  /* Configuration */

  font-size: /*@font-size*/ 0.8125em;
  font-family: /*@font-family*/ 'Gill Sans', Verdana, Helvetica, sans-serif;
  text-indent: /*@text-indent*/ 40px;
  line-height: /*@line-height*/ 1.5em;
  margin-bottom: /*@margin-bottom*/ 1.5em;
  color: /*@color*/ #555555;
  background-color: /*@background-color*/ #ffffff;
}
.typo_mono {
  font-family: /*@font-family-mono*/ 'andale mono', 'lucida console', monospace;
  line-height: /*@line-height-mono*/ 1.5em;
  font-size: /*@font-size-mono*/ 1em;
}
.documents_portfolio {
  clear: both;
  margin: /*@margin-bottom*/ 1.5em auto;
  text-align: center;
}
.documents_portfolio .spip_logos {
  margin: 6px 3px 0 3px;
  border: 4px solid #DDD;
}
.documents_portfolio a.on .spip_logos {
  border-color: #222;
}
.documents_portfolio a:focus .spip_logos, .documents_portfolio a:hover .spip_logos, .documents_portfolio a:active .spip_logos {
  border-color: #444;
}
