.calendriermini .ui-datepicker-title {
	margin: 0 1.8em !important;/*important parce qu'il faut surcharger un style inline*/
	font-size:0.9em;
}
.menu-titre{
	text-align:center;
}
#calendar .menu-titre{display:none;}
.fc-button-content{
	height:1.5em;
	line-height:1.5em;
	padding:0.2em;
	font-size:0.9em;
	}
.fc-content{
clear:none !important;
}
.plier_deplier {
float: right;
font-size: 0.9em;
}
.resume {
cursor: help;
}
.date {
color: #5d8ba2;
}
#seminaire ul {
margin: 5px 0px 5px 0px;
list-style-position: inside;
list-style-type: none !important;
list-style-image: none !important;
}
.evenements li.item {
padding-left: 20px;
}
.evenements li.item:hover {
background: 
#edf3fe;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.bouton {
background: 
silver;
color: 
black;
-webkit-box-shadow: 3px 3px 3px #888;
-moz-box-shadow: 3px 3px 3px #888;
box-shadow: 3px 3px 3px #888;
padding: .3em .5em;
margin-top: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.bouton:hover {
background: 
#B1C3D9;
-webkit-box-shadow: 5px 5px 5px #888;
-moz-box-shadow: 5px 5px 5px #888;
box-shadow: 5px 5px 5px #888;
}
.bouton:active {
background: 
#808080;
-webkit-box-shadow: 1px 1px 1px #888;
-moz-box-shadow: 1px 1px 1px #888;
box-shadow: 1px 1px 1px #888;
}
.bouton a {
text-decoration: none;
color: 
#2E5B6B;
}
a.google {
float: right;
margin-right: 5px;
}
a.ical {
float: right;
width: 45px;
text-decoration: none;
text-align: center;
}
a.ical img {
border: 0;
width: 100%;
margin-bottom: -28px;
}
.espace {
	height: 1.5em;
	line-height:0.5em;
	font-size:2px;
}



