.champ span{float:left; margin-right:20px;}

.champ span label {font-weight:bold;}

.champ{clear:left;}

table.sous_liste tr{margin-left:5px;}

.taches a.icon{margin-left:3px;}

option.sous_option{text-indent:5px;}

