div#top h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#contenu{margin: 1% 1% 1% 0;padding:0.5em}
div#conteneur{float:left;width:70%}
div#navigation{float:right;width:29.9%;margin-top:1%}
div#extra{clear:both;width:100%;margin:0}
div#pied{clear:right;width:100%;margin:0}