div#top{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#contenu{margin: 0;padding:0.5em}
div#navigation{float:left;width:50%;margin-top:1%}
div#extra{float:left;width:49.9%;margin-top:1%}
div#pied{clear:left;width:100%;margin:0}