div#top h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#page{width:700px;margin:0 auto}
div#contenu{float:right;width:480px;margin:0;margin-top:10px;padding:0.5em}
div#navigation{float:left;width:200px;margin-top:10px}
div#extra{float:left;clear:left;width:200px;margin-top:10px}
div#pied{clear:both;width:100%;margin:0}