div#top h1{height:80px;line-height:80px;margin:0; padding-left:10px;}
div#conteneur{float:left;width:100%;margin-left:-200px}
div#contenu{margin: 1% 26% 1% 210px;padding:0.5em}
div#navigation{float:left;width:24%;margin:1% 0 1% -25%}
div#extra{float:left;width:200px;margin-top:1%}
div#pied{clear:left;width:100%;margin:0}