div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:left;width:100%}
div#contenu{margin: 10px 410px 10px 10px;padding:0.5em}
div#navigation{float:left;width:190px;margin:10px 0 10px -400px}
div#extra{float:left;width:190px;margin:10px 0 10px -200px}
div#pied{clear:left;width:100%;margin:0}