div#top {height:80px;line-height:80px;margin:0;  padding-left:10px;}
div#conteneur{float:left;width:100%}
div#contenu{margin: 10px 0 10px 210px;padding:0.5em}
div#navigation{float:left;width:200px;margin:1% 0 1% -100%}
div#extra{clear:left;width:100%;margin:0}
div#pied{clear:right;width:100%;margin:0}