div#top{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:right;width:100%;margin-left:-200px}
div#contenu{margin:10px 0 10px 210px;padding:0.5em}
div#navigation{float:left;width:200px;margin-top:10px}
div#extra{float:left;clear:left;width:200px;margin-top:10px}
div#pied{clear:both;width:100%;margin:0}