div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:right;width: 100%;margin-left: -400px}
div#contenu{margin: 10px 10px 10px 410px;padding:0.5em}
div#navigation{float:right;width:190px;margin: 10px 0 10px 10px}
div#extra{float:right;width:190px;margin: 10px 0 10px 10px}
div#pied{clear:right;width:100%;margin:0}