div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:left;width:100%}
div#contenu{margin: 1% 33% 1% 200px;padding:0.5em}
div#navigation{float:left;width:180px;margin:1% 0 1% -99%}
div#extra{float:left;width:31%;margin:1% 0 1% -32%}
div#pied{clear:left;width:100%;margin:0}
