div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:left;width:100%;margin-left:-25%}
div#contenu{margin: 10px 210px 1% 26%;padding:0.5em}
div#navigation{float:left;width:190px;margin:10px 0 10px -200px}
div#extra{float:left;width:25%;margin-top: 10px}
div#pied{clear:left;width:100%;margin:0}