html,body{margin:0;padding:0}
div#top {height:80px;line-height:80px;margin:0;padding-left:10px;}
div#conteneur{float:left;width:100%}
div#contenu{margin: 1% 26%;padding:0.5%}
div#navigation{float:left;width:24%;margin: 1% 1% 1% -25%}
div#extra{float:left;width:24%;margin:1% 0 1% -99%}
div#pied{clear:left;width:100%;margin:0}