div#top{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#page{width:700px;margin:0 auto}
div#conteneur{float:left;width:100%}
div#contenu{margin: 10px 310px 10px 10px;padding:0.5em}
div#navigation{float:left;width:140px;margin:10px 0 0 -150px}
div#extra{float:left;width:140px;margin:10px 0 0 -300px}
div#pied{clear:left;width:100%;margin:0}