/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Specificites SPIP */
h3.spip {text-align:left;}

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

#hierarchie { clear: both; margin-bottom: 2em; margin-top:0; font-size: 0.90em; }
#hierarchie { color: #666; }

.cartouche { margin-bottom: 2em; overflow:auto; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #666; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
.documents_portfolio a:hover .spip_logos { border-color: #F57900; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
.document_actif { margin: 1em auto; }
.document_actif img { padding: 4px; border: 1px solid #DDD; }


/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.95em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

.formulaire_recherche { margin-bottom: 2em; } 
.formulaire_recherche input.text { width: 9em; }

/* Listes d'articles et extraits introductifs */
.liste {margin-bottom:2em;}
.liste .liste-items {margin:0; padding:0; list-style:none;}
.liste .liste-items .item { clear: both; padding: 0.40em 0.20em; }
.liste .liste-items .item h3 { margin: 0.30em 0; font-size:120%;}
.liste .liste-items .item h3 a {text-decoration:none;}
.liste .liste-items .item h3 a:hover {text-decoration:underline;}
.info-publi {margin-top:-.5em; font-size:80%;}
.liste .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.liste .item .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.liste .item .introduction { margin-top: 0.30em; line-height: 1.40em; }
.liste .item .introduction>p:first-child { margin-top:0;}
.meta-publi {margin-top:0em; margin-bottom:2em;}

/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
	background:#fafafa;
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}


/* start - table */
table.spip {
	margin: 15px 10px; 
	border-collapse: collapse;			
}
table.spip th {
	background: #F49500;
	color: #fff;
	padding:8px 12px;
	text-align: left;
	border: 1px solid #211E20;
}
table.spip th a {color:white;}

table.spip tr,table.spip tr.row_odd,table.spip tr.row_even {
	color: #5b5b5b;
	background-color:transparent;
	
}
table.spip td {padding:8px 12px;
	padding:8px 12px;
	border: 1px solid #111;	
}
/* end - table */

/* barre outil */
.spip_barre{}
.spip_barre td a img{border:1px solid #888; background:#fafafa; padding:1px; margin-right:1px;}
.spip_barre td a:hover img{background:#fff; border:1px solid #F49500;}
.barre{display:none;}
/* /barre outil */

/**
 * 
 * 
 * 
 */
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(img/img01.jpg) repeat-x;
	font: normal 80% Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, .h1, h2, .h2, h3, .h3, #nom_site_spip {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F49500;
}

h2, .h2 {
	text-transform: uppercase;
	font-size: 18px;
}

h3, .h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
}

p, blockquote, ul, ol {
	line-height: 18px;
	text-align: justify;
}

blockquote, blockquote.spip, blockquote.spip_poesie {
	padding-left: 20px;
	background: url(img/img05.gif) repeat-y;
	border:0;
}

.spip_code { font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;color:#5B5B5B;}
.spip_cadre {
	color:#252016;
	border:1px solid #eee;
	border-top:4px solid #888;
  	margin: 5px 0 10px 0;
  	padding: 15px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace ;
  	/* white-space: pre; */
  	background: #fff;  
}

hr.spip{width:40%; height:1px; border:1px solid #888; border-bottom:0;}

a, a:active, a:link, a.spip_in, a.spip_out,a.spip_url,a.spip_glossaire {
	color: #F49500;
}
a:visited{
	color: #9D7636;
}
a:hover {
	text-decoration: none;
}

/* Header */

#header {
	width: 760px;
	height: 180px;
	margin: 0 auto;
	background: url(img/img02.jpg);
	position:relative;
}

#header h1, #header h2, #header #nom_site_spip,  #header a, #header #slogan_site_spip  {
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration:none;
}
#header .accueil img {display:none;}
#header h1, #header #nom_site_spip {
	float: left;
	padding: 120px 0 0 20px;
	font-size: 36px;
}

#header h2, #header #slogan_site_spip  {
	float: right;
	padding: 134px 20px 0 0;
	font-size: 22px;
}
#header .formulaire_menu_lang { 
	position: absolute; 
	right: 0; 
	top: 10px;
	display: block; 
	margin:0;
	width: 235px;
	padding:0;
	background:none;
	border:0; 
} /*Cf.: spip_formulaires.css*/

/* Menu */

#nav {
	width: 760px;
	height: 50px;
	margin: 0 auto;
	overflow:hidden;
}

#nav .menu-liste {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav .menu-entree {
	display: inline;
}

#nav a {
	display: block;
	float: left;
	padding: 17px 20px 0 20px;
	background: url(img/img03.gif) no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D8D8D8;
}

#nav a:hover {
	color: #FFFFFF;
}

#nav .first a {
	background: none;
}
#nav .menu-entree .menu-liste{
display:none;
}

/* Content */

#content {
	width: 720px;
	margin: 0 auto 20px auto;
	padding: 20px;
	background: #FFFFFF url(img/img04.jpg) repeat-x left bottom;
	overflow:auto;
}
#content h2 {margin-top:2em;}
/* Posts */

#posts {
	float: left;
	width: 480px;
}

/* Links */

#links {
	float: right;
	width: 200px;
	padding-left: 20px;
	background: url(img/img05.gif) repeat-y;
}

#links .menu-liste,
#links .liste-items {
	margin: 0 0 2em;
	padding: 0;
	list-style: none;
}

#links .menu-entree,
#links .item {
	padding: 7px 10px;
	background: url(img/img06.gif) repeat-x left bottom;
}

#links .menu-liste .menu-liste,
#links .item .item {
	margin: 0;
	padding: 5px 0 30px 0;
}


#links .menu-liste a,
#links .item a {
	text-decoration: none;
}

#links .menu-liste a:hover,
#links .item a:hover {
	text-decoration: underline;
}

#links .menu-liste i,
#links .item i {
	font-style: normal;
	font-size: 9px;
}

#links .menu-liste h2,
#links .item h2 {
	font-size: 14px;
}

/* Footer */

#footer {
	height: 100px;
	padding: 20px;
	background: #2D2D2D url(img/img07.gif) repeat-x;
	text-align: center;
	color: #999999;
}
#footer, #footer img {vertical-align:middle;}
#footer .copyleft {line-height:2em;}
