/* --------------------------------------------------------------

   Disposition des blocs principaux
   (c) L'Herbier de SPIP - 2011
   by romy.tetue.net

-------------------------------------------------------------- */

body { text-align: center; background: #DDD url(img/bg/background.gif) repeat top; }
.page { background-image: url(img/bg/page.gif); background-repeat: repeat-x; }

.header { width: 100%; background: rgba(200,200,200,.5) url(img/bg/stripe.png); box-shadow: 0 1px 5px #AAA; border-top: 5px solid; text-shadow: 0 1px 5px #AAA; }
.main { min-height: 12em; margin: 0 auto; box-shadow: 0 1px 5px #AAA; padding: 1.5em 0; text-align: left; text-shadow: 1px 1px 0 #EEE; }
.content { position: relative; }
.aside {}
.footer { clear: both; width: 100%; background: #444 url(img/bg/footer.gif) repeat-x; border-top: 5px solid #222; text-shadow: -1px -1px 0 #222; }

.inner { width: 900px; margin: 0 auto; padding-left: 20px; text-align: left; }

/* Entete et barre de navigation */
.header {}
.header .inner { position: relative; }
.header #logo { display: block; margin: 0; padding: .75em 0 .15em; line-height: 1; font-weight: bold; font-size: 2em; }
.header #logo a,
.header #logo a:focus,
.header #logo a:hover,
.header #logo a:active { background: transparent; border: 0; text-decoration: none; color: #222; }

.nav {}
.nav ul {}
.nav ul li {}
.nav ul li a { float: left; display: block; text-decoration: none; }
.nav ul li.on a {}

#couleurs { position: absolute; right: 20px; top: -5px; font-size: .8em; }
#couleurs * { display: inline; line-height: 1; }
#couleurs h2 { display: none; }
#couleurs li a { float: left; display: block; width: 14px; height: 1em; margin-left: 4px; padding: 0 4px; background: #666; box-shadow: 0 0 5px rgba(0,0,0,0.35); border: 3px solid #FFF; border-top-width: 0; border-radius: 0 0 5px 5px; color: #FFF; text-indent: -9999em; }
#couleurs li a:focus,
#couleurs li a:hover,
#couleurs li a:active { background: #333; padding-top: 22px; padding-top: 50px; padding-bottom: 4px; }
#couleurs li a.on { background: #000; padding-top: 34px; padding-top: 60px; padding-bottom: 6px; font-weight: normal; }

.formulaire_recherche { display: none; position: absolute; right: 0; top: 14px; overflow: hidden; }
.formulaire_recherche * { display: inline; vertical-align: middle; }

.spip-admin-float { position: fixed !important; top: auto !important; bottom: 0 !important; }

/* Pied de page */
.footer .inner { position: relative; padding-top: 1.5em; padding-bottom: 3em; }
.footer .inner #polatouche { position: absolute; right: 130px; top: -75px; z-index: 100; }
.footer .unit3 ul { display: block; list-style-image: url(img/puce.gif); margin: 0 0 0 19px; }
.footer .unit3 li { margin-bottom: 6px; list-style: inherit; font-size: .9em; white-space: nowrap; }
.footer .colophon { margin: 1.5em 0 3em; }
.footer #boussole {}
.footer #boussole img { padding: 0; background: none; opacity: .7; }
.footer #boussole a { padding: 0; background: none; }
.footer #boussole a:focus img,
.footer #boussole a:hover img,
.footer #boussole a:active img { opacity: 1; }
.footer,
.footer * { color: #CCC !important; }

/* Gabarit d'impression
------------------------------------------ */
@media print {
	.main,
	.content { width: auto; }
	.nav,
	.aside,
	.footer { display: none; }
}

/* end */