/* --------------------------------------------------------------

   Habillage de l'Herbier de SPIP
   (c) L'Herbier de SPIP - 2011
   by romy.tetue.net

-------------------------------------------------------------- */

/* enrichissements typo / titraille */
.content h1,h2,h3 { margin-bottom: 8px; border-bottom: 1px solid #A8A68C; font-weight: bold; font-size: 100%; line-height: 1.5em; }
.content h1.offscreen { position: static; left: 0; height: auto; visibility: hidden; }
.footer h2 { padding-left: 20px; background: url(img/fleur-footer.gif) no-repeat transparent; }
hr { background-color: #A8A68C; color: #A8A68C; }
blockquote { min-height: 40px; background: url(img/quote.png) no-repeat; font-style: normal; color: #444; }
q { font-style: normal; }
.light { font-weight: lighter; color: #888; }

/* pagination */
.pagination { clear: both; text-align: left; }
.pagination.center { text-align: center; }
.pagination,
.pagination a { color: #666; }
.pagination a,
.pagination .on { display: inline-block; min-width: 1em; padding: .3em .5em; background-color: rgba(0,0,0,0.05); border: 0; border-radius: 5px; text-align: center; }
.pagination .sep { visibility: hidden; letter-spacing: -1em; }
.pagination .on { background-color: rgba(0,0,0,0.3); color: #DADADA; text-shadow: none; }
.pagination a:focus,
.pagination a:hover,
.pagination a:active { background-color: rgba(0,0,0,0.20); }
.pagination .on,
.pagination a:active { box-shadow: 1px 1px 1px #666 inset; }

.plus { clear: both; padding-left: 14px; background: url(img/suite.gif) no-repeat left center; font-size: .9em; }

/* page_article */
.page_article #content { /*text-align: center;*/ }
.page_article .unit8 { margin-left: 150px; margin-right: auto; /*text-align: left;*/ }
.page_article h1 .unit8 { margin-bottom: 0; }
.page_article h1 .light,
#une h2 .light { float: right; }
.page_article h1 .light .sep,
#une h2 .light .sep { display: none; }

/* captures d'ecran */
.spip_logos { float: none; display: block; margin: 0; padding: 5px; background-image: url(img/bg/stripe.png); }
img { max-width: 100%; height: auto !important; }

#capture a { display: block; border: 0; }
#cboxTitle { font-weight: lighter; color: #222; }
.voir_en_ligne { white-space: nowrap; }
.lien_mort .submit { background-color: #EEE; opacity: .5; cursor: default; }

/* prev / next */
.prevnext {}
.prevnext ul { width: 100%; }
.prevnext ul li.prev,
.prevnext ul li.next { float: none; position: absolute; top: 50px; display: block; width: auto !important; height: 100px; margin: 0 50px; background: url(img/prevnext.png) no-repeat; text-align: left; text-indent: -9999px; cursor: pointer; }
.prevnext ul li a { display: block; width: 50px !important; height: 100px; border: 0; }
.prevnext ul li.prev { left: 0; }
.prevnext ul li.prev a { border-radius: 5px 0 0 5px; }
.prevnext ul li.next { right: 0; background-position: -50px 0; }
.prevnext ul li.next a { border-radius: 0 5px 5px 0; }

/* Galeries de captures d'ecran */
.content,
ul.galerie { display: block; min-height: 415px; }
ul.galerie li { position: relative; display: block; float: left; text-align: center; }
ul.galerie li a { display: block; border: 0; }

/* Liste des sites syndiques */
.syndication {}
.syndication li { min-height: 100px; }
.syndication li h3 { margin: 0; border: 0; }
.syndication li a { padding: 0; background-image: none; border: 0; }
.syndication li .spip_logos { float: right; margin: 0 0 5px 5px; }
.syndication li.rtl { text-align: right; }
.syndication li.rtl .spip_logos { float: left; margin: 0 5px 5px 0; }
.syndication a[hreflang]:after { content:''; }

/* Page d'accueil */
.home ul.galerie { min-height: 0; }
.home #une a { display: block; border: 0; }
.home #second h2 { text-align: center; color: #999; }
.home #news { position: relative; }
.home #news li a { display: block; }
.home #news li .spip_logos { float: none; margin: 0; }
.home #news .plus { position: absolute; top: 0; right: 0; text-align: right; }
.home #news .plus a { border: 0; }

 /* Plan du site */
#plan { background: #303030 url(img/bg/background-8.jpg) repeat top; padding: 30px 0; display: none; }
#plan, #plan * { color: #666; }
#plan .unit3 { width: 25%; float: left; }
#plan .unit3 * { width: 152px; }
#plan .unit3 h3 { margin: 0; padding: 0; background: none; border: 0; }
#plan .unit3 ul { margin-top: 2px; border-top: 1px solid; }
#plan .unit3 ul li { display: block; clear: both; height: 1.8em; padding-top: .3em; border-bottom: 1px solid; }
#plan .unit3 ul li span { display: block; float: left; width: 2.7em; margin-right: 4px; text-align: right; }
#plan .unit3 ul li a { display: block; float: left; width: auto; font-weight: bold; margin-bottom: 6px; }
#plan .unit3 ul li.on *,
#plan .unit3 ul li a:hover { color: #999; }
#plan .unit3 ul li.on,
#plan .unit3 ul li:hover { background: #333; }

/* Formulaires */
.formulaire_spip label { display: block; }

textarea,
input.text,
input.password { background-color: rgba(0,0,0,0.1); border: 1px solid rgba(0,0,0,0.5); padding: 2% 3%; }
textarea:focus,
input.text:focus,
input.password:focus { background-color: rgba(255, 255, 255, 0.5); outline: none; }

textarea { width: 100%;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

.formulaire_spip .boutons { margin-bottom: 3em; text-align: right; }
.submit { line-height: 1; padding: 5px 1em; }

.erreur_message { display: block; }

.formulaire_ecrire_auteur legend { display: none; }
.formulaire_menu_lang form { display: none; }

.formulaire_login { margin-top: 1.5em; }
.formulaire_login legend { display: none; }
.formulaire_login .details { display: block; }
.formulaire_login .editer_session { display: none; }
.formulaire_login .spip_logos { display: none; }
.formulaire_login .boutons { text-align: center; }

/* FAQ */
.faq {}
.faq dt { background-position: 25px center; }
.faq dt.close { color: #444; }

/* social tags */
.network {}
.network a { border: 0; }
.network .sep { display: none; }

/* refonte */
.refonte { border-top: 5px solid #222; background-color: yellow; background-image: url(img/bg/stripe.png); }
.refonte p { width: 63%; margin: 0; padding: 0px 0; letter-spacing: .02em; }

/* admin */
.admin-syndic { position: absolute; bottom: -10px; left: 0; visibility: hidden; background: none !important; }
li:hover .admin-syndic { visibility: visible; }
.admin-syndic * { display: inline-block; }

/* Couleurs des liens */
a { border-bottom: 1px dotted; text-decoration: none; color: #A8A68C; color: #222; }
a:visited { color: #666; }
a:focus,
a:hover,
a:active { background-color: rgba(0,0,0,0.05); border-bottom-style: solid; text-decoration: none; color: #222; }

a.spip_out,
a.external,
a[rel ^="external"] { padding-right: 14px; background-image: url(img/external.gif); background-repeat: no-repeat; background-position: right; }

/* end */