.onglets_traduction{
	width:100%;height : 30px;
	vertical-align: baseline;
}

.onglets_traduction div.options{
	margin :0;
	padding:0; 
}

.onglets_traduction li.box_onglet{

}

.changer div.onglet{background:#F2F2F2; font-style:italic;}

.onglets_traduction div.options a {
	text-align:center;
	padding:0;
	margin:0;
}

.onglets_traduction div.options a:hover span{
	display:block;
	width:72px;
	text-align:center;
	background:#ffffff;
	height :auto;
}
.barre_onglet a,.barre_onglet strong  {padding:5px}
.barre_onglet .non_traduit a{background:#eeeeee;font-style:italic;}

.pagination{text-align:left;}

.onglets_traduction .danger{background: #ffffff;}

a.bouton_options{float:right;background: none;}

.nettoyeur{clear:both;}

.delier{height:100px;float:left,margin :0 5px;float:left}

.danger,.onglets_traduction a.cellule-h-texte {background: repeat scroll 0 0 white;}


.lang{ margin-right:5px;}

.changer{float:left;margin:0 0 5px 5px}

.liste-elements table.spip tr.trads{background:#dfdfdf}

div.ref_article{float:right;margin:-3px -2px 0 0;cursor:help;}	

div.ref_article span {display:none;}

div.ref_article:hover span {
	display:block;
	position:absolute; 
	top:-25px; 
	color: #000000; 
	font-weight:bold;
	width:250px;
} 
.editer_taa{margin-bottom:5px;}
body.article .new_trad {display:none}
