body {
	padding: 0;
	margin: 0px;
	text-align: center;
	background-color: #fefefe;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

h1 {
	font-size: x-large;
	color: #0063DC;
	font-weight: bolder;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 30px;
	background: no-repeat url(fpipr.gif);
	margin-left: 15px;
}

li {
	background: #0063DC;
	width: 100px;
	height: 130px;
	color: #ffffff;
	padding: 5px;
	margin: 10px;
	font-size: x-small;
	text-align: left;
	float: left;
	list-style-type: none;
	font-weight: bold;
	border-bottom: medium solid #FF0084;
}

img {
	margin: 10px;
	border: 3px solid #ffffff;
}

img:hover {
	border: 3px solid #FF0084;
}

li img {
	display: block;
	clear: both;
}

