/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */

@import "reset.css";

body { 
  text-align: center; /* IE Fix */
  margin:18px 0;
}

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0 auto;   /* Centers layout */
  width: 960px;     /* Total width */
}

/* Clear fix */
#page:after { 
  content:  "."; 
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#conteneur { width: 100%;}

#conteneur #contenu {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 610px;
}

#conteneur #navigation {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 310px;
	text-align: center;	
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 380px;
}

#contenu .encart {
	float: right;
	margin: 0 10px;
	padding: 0;
	width: 190px;
	margin-bottom: 1em;

}

/* Entete */
#entete {
	width: 100%;	padding: 18px 0;}
#entete #nom_site_spip, #entete a .spip_logos {
	display: block;
	float: left;
	font-size: 36px; 
	line-height: 36px; 
 }
#entete a { text-decoration: none; }
#entete .formulaire_recherche { float: right; }

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	padding:4px 0;
	margin-bottom: 18px;
	font-size: 10px;}

/* Pied de page */
#pied {
	clear: both;
	width: 100%;
	margin-top: 18px;
	border-top: 1px dotted #CCC;
	padding: 3px 0 4px;
	text-align: center; }
#pied small { font-size: 10px; }
#pied img { vertical-align: bottom; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip {
	  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }

/* Typo pour le contenu */
#contenu {
	  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip, .voirskel {
	}


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	border: 2px solid #CCC;
	margin-bottom: 14px;
	font-size: 10px;
}

.menu-titre {
	padding: 13px 0.4em 11px 0.4em;
	border-bottom: 2px dotted #CCC;
	text-align: center;
	font-weight: bold;
	font-size:14px;color:#333;
}

#navigation p, .encart p { text-align: left;  }
#navigation ul, .encart ul { text-align: left; list-style: none; margin: 9px 0 9px 9px;}
#navigation li, .encart li {line-height:18px; font-size:12px;}

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { background: #EAFFEA;border-color: #B3EFB3;}
.rubriques .menu-titre { background: #F2FFF2;border-color: #B3EFB3; }

.breves { background: #FFEAEA; border-color: #FBC2C4;}
.breves .menu-titre { background: #FFF2F2; border-color: #FBC2C4;}

.syndic { background: #E8F8F8; border-color: #B3EFEF;}
.syndic .menu-titre { background: #F0FCFC; border-color: #B3EFEF;}

.forums { background: #EAEAFF; border-color: #C2C3EF;}
.forums .menu-titre { background: #F2F2FF; border-color: #C2C3EF;}

.divers { background: #F8F8E8; border-color: #EFEFC2;}
.divers .menu-titre { background: #FCFCF0; border-color: #EFEFC2;}

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin-bottom: 36px; }

.cartouche .titre {
	font-size: 22px;
	padding:7px 0;
	color: #000; }
#contenu .surtitre, #contenu .soustitre { font-size: 14px; padding:3px 0;}

.cartouche .spip_logos {
	float: right;
	margin-left: 18px;
	margin-bottom: 18px; }

.cartouche p { clear: left; }
.cartouche small { font-size: 12px; }

.cartouche .traductions { font-size: 12px; padding:3px 0;}
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 18px;
	font-size:1.5em;
	line-height:36px;
	font-family: Georgia, serif;
	}

.lien {
	background: #EEE;
	margin: 9px;
	margin-bottom: 18px;
	padding: 3px;
	border: 1px solid #CCC;
	font-size: 12px;
	font-weight: bold; }

.texte {color: #000;font-size:14px;}

.ps, .notes {
	margin-top: 10px;
	padding-top: 6px;
	border-top: 2px solid #CCC;}
.ps { font-size: 12px;line-height:18px; }
.notes { clear: both; }
.ps h2, .notes h2 { font-size: 18px; margin:9px 0;font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles ul { margin: 0; padding: 0; list-style: none; }
.liste-articles li { margin-bottom: 18px; clear: both; }

.liste-articles li .titre {
	font-size: 22px;
	padding:0;margin:6px 0;}

.liste-articles li .spip_logos {
	float: right;
	margin-left: 18px;
	margin-bottom: 18px;
	clear: right; }

.liste-articles li p { margin: 9px 0; padding: 0; line-height:18px;}

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 12px; line-height:18px;}

.liste-articles li .texte {
	margin-top: 6px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	padding: 9px;
	font-size: 14px;
	line-height: 18px; }

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: none; }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0; }
.page_plan #contenu .contre-encart li {}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

.formulaire_spip { text-align: left; font-size: 12px; }
.formulaire_spip p { margin: 3px 0; padding: 0; }

.formulaire_spip fieldset {}
.formulaire_spip legend {}

.formulaire_spip label {}
.formulaire_spip .forml { width: 99%; font-family: inherit; font-size: inherit; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu { padding: 9px; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { width: 12em; text-align: left; }
.formulaire_recherche label { display: none; }

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; color:red; }

.texte a {color: blue;}
.texte a:hover {color:red;}
.texte a:visited {color: purple;}

@import "typography.css"; 