/* General Layout */
body {
	margin: 0;
	padding: 0;
	background: #ECE5D5;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center; /* added by Alex King for compatibility with IE 5 */
}

#rap {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 750px;
	border: 3px solid #CFC6B5;
	background: #FCFBF6;
	background-image: url('');
	overflow: auto;
	text-align: left; /* added by Alex King for compatibility with IE 5 */
}

#header {
	margin: 0;
	padding: 15px;
	font: normal 2em georgia;
	border-bottom: 2px solid #AFA186;
	background: #E3DDCB url(header_ac.jpg) no-repeat;
	height: 90px;
}

#header a {
	text-decoration: none;
	font-size: 0.85em;
	position: relative;
	top: 70px;
	left: 10px;
	color: #F9F5EE;
}
#header a:hover {
	text-decoration: none;
	color: #FEFEFE;
	background-color: transparent;
}

#content {
	width: 500px;
	margin: 0;
	text-align: left;
	float: left;
	background-color: transparent;
	padding: 10px 30px;
	border-right: 2px dotted #ECE5D5;
	line-height: 200%;
}
#content ul {
	font: 80%/130% Georgia, palatino, serif;
	color: #555E55;
	line-height: 175%;
	list-style: circle;
}
#content ol {
	font: 80%/130% Georgia, palatino, serif;
	color: #555E55;
	line-height: 175%;
}

#content a:link {
	text-decoration: underline;
}
#content a:visited {
	text-decoration: underline;
}

#content a:hover {
	text-decoration: none;
}

#content a:active {
	text-decoration: none;
}
#content img {
	margin-left: 20px;
}


#menu {
	margin: 0;
	padding: 0;
	width: 180px;
	background: transparent;
	float: right;
	overflow: hidden;
	font: small-caps Verdana Geneva Arial Helvetica sans-serif;
}
#menu p {
	font: small-caps Verdana Geneva Arial Helvetica sans-serif;
}
#menu ul {
	font: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.credit {
	clear: both;
	width: 750px; /* changed by Alex King to match the width of the body */
	margin: 0 auto 10px auto;
	padding: 5px 3px;
	background-image: url('');
	color: #88764E;
	text-align: center;
	background: #E3DDCB;
}

.credit cite {
	color: #88764E;
	font-size: 90%;
    font-style: normal;
    letter-spacing: 1px;
}

.credit a, .credit a:link, .credit a:hover {
	color: #88764E;
	text-decoration: underline;
	background-color: transparent;
}

/* Basic XHTML styling */
h1, h2, h3 {
	font-family: georgia, palatino, serif;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: #AFA186;
}

h3 {
	font-size: 120%;
}
h3 a {
	text-decoration: none;
}

p {
	font: 80%/130% Georgia, palatino, serif;
	color: #555E55;
	line-height: 175%;
}

/* Links */
a {
	color: #D1C5BE;
    text-decoration: none;
}

a:link {
	color: #6C4453;
	text-decoration: underline;
}
a:visited {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #6C4453;
}

a:active {
	text-decoration: none;
}

a img {
	border: none;
}


/* Menu styling */
#menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

#menu ul {
	margin: 20px 0 20px 0px;
	padding: 10px 2px;
	list-style-type: none;
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#menu ul li ul {
	margin: 0 0 20px 13px;
	padding: 0;
	list-style-type: circle;
}

#menu ul li ul li {
    margin-top: 2px;
}

#menu #categories, #menu #search, #menu #archives, #menu #other, #menu #meta, #menu #style {
    padding-top: 10px;
}

#menu form {
	margin: 0;
}

#menu input[type="submit"] {
	background-color: #E3DDCB;
	border: 1px solid #AFA186;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-size: .9em;
	width: 50px;
}
#menu form #searchbox {
	width: 8em;
	padding: 2px;
	border: 1px solid #AFA186;
	background-color: #FCFBF7;
	
}


/* Form styling */
form {
	margin: 0;
	padding: 0;
}

input, textarea {
	padding: 1px;
	border: 1px solid #AFA186;
	background-color: #FCFBF7;
	
}

/* other elements */
code {
	font-style: normal;
	color: #000;
	padding-left: 15px;
	font-family: 'courier new', courier, monospace;
}

acronym, abbr {
	border-bottom: 1px dashed #aaa;
	cursor: help;
	font-size: 80%;
	letter-spacing: .07em;
    font-weight: bold;
}

/* WordPress elements */
.post {
	text-align: left;
    margin: 0 0 25px 0;
}

.storytitle {
	margin: 0;
	padding: 0;
	font-size: 120%;
	font-family: georgia, palatino, serif;
	letter-spacing: 2px;
}

.storytitle a {
	color: #88764E;
	background-color: transparent;
	text-decoration: none;
}
.storytitle a:visited {
	text-decoration: none;
}


.storycontent ul, .storycontent ol {
	font: .8em 'lucida sans unicode', 'lucida grande', verdana, sans-serif;
}

.storycontent ul li, .storycontent ol li {
	margin-top: 3px;
}

.meta {
	font: 10px verdana, sans-serif;
}

.meta a {
	font: 10px verdana, sans-serif;
}

.meta ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: circle;
}

.meta li {
	display: inline;
}

.feedback {
	font: 11px 'lucida grande', 'lucida sans unicode', verdana, sans-serif;
	color: #000;
	text-align: left;
}


/* WordPress comments form */
#commentform input[type="submit"] {
	background-color: #E3DDCB;
	border: 1px solid #AFA186;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-size: .9em;
}

#commentform textarea {
	border: 1px solid #AFA186;
	background-color: #FCFBF7;
}

#commentform textarea {
	width: 100%;
}

/* WordPress calendar */
#calendar {
	margin: 10px 0;
}

#wp-calendar {
	border-left: 1px solid #D1C5BE;
	border-right: 1px solid #D1C5BE;
	border-bottom: 1px solid #D1C5BE;
	empty-cells: show;
	margin: 0;
	width: 80%;
}

#wp-calendar caption {
	padding: 3px;
	text-align: center;
    background-color: #D1C5BE;
    color: #fff;
}

#wp-calendar #next a {
	margin-top: 5px;
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	margin-top: 5px;
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
	text-decoration: none;
    font-weight: bold;
}

#wp-calendar a:hover {
	background: #000;
	color: #fff;
}

#wp-calendar td {
	color: #777;
	font-family: 'lucida grande', 'lucida sans unicode', verdana, sans-serif;
	letter-spacing: normal;
	padding: 3px 0;
	text-align: center;
}

#wp-calendar #today {
	background: #D1C5BE;
	color: #fff;
}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}
.aside {
	color: #999999;
	line-height: 125%;
}
#commentlist {
	font-size: 12px;

}