/****** Général *********/

*{ margin:0; padding:0; }


body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #484747;
	text-decoration: none;
}
	
h6 {
	font-size: 13px;
	font-weight: bold;
	font-style:italic;
	}

h5 {
	font-size: 11px;
	}

h4 {
	font-size: 13px;
	font-weight: bold;
	}

h3 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 0px;
	}

h2 	{
	font-size: 15px;
	color: #484747;
	font-weight: bold;
	}

h1 {
	font-size: 16px;
	color: #484747;
	font-weight: bold;
	}

a,a:link,a:visited {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}

a:hover {
	text-transform: none;
	color: #484747;
	text-decoration: none;
	}
	
	
.spip_logos
{
	float: right;
}
	
/************ Blocs Pricipaux ********************/

#page
{
	width: 1000px;
	margin: auto;
	text-align: left;/* IE hack Part 2 */
	background: #FFF;
	background: transparent url(images/siteon0.jpg) no-repeat scroll center top;
}	

#entete 
{
	height:120px;
}


#colonne_gauche 
{
	margin-top:20px;
	width: 650px;
	float:left;
}

#colonne_droite 
{
	width: 289px;
	float:right;
}

#footer 
{
	height:55px;
	clear:both;
	line-height:30px;
	text-align:center;
}


/******************** Sous Contenu ***************************/

/******************** ENTETE ***************************/

#entete a 
{
	color: #888888; 
}

#entete a:hover 
{ 
	text-decoration:underline;
}
	
#entete h1
{
	padding-left:20px;
	padding-top:10px;
	color: #333333;	
}

#entete h2
{
	padding-left:20px;
	color: #555555;
	font-size: 90%;
}

/******************** MENU ***************************/
#menu 
{
	width:1000px; 
	height:30px;
	font-size:0.85em;
	position:relative;
	z-index:100;
	border-bottom:4px solid #36D638;
}

#menu ul 
{
	padding-left:20px;
	list-style-type:none;
}

#menu li 
{
	float:left;
	width:112px;
	margin-left:5px;
}



#menu a, #menu a:visited 
{
	display:block;
	font-size:11px;
	font-weight: bold ;
	text-decoration:none; 
	color: #fff; 
	width:112px; 
	height:30px;
	background-image:url(images/corner.gif);
	text-align:center;
	line-height:29px;
}

#menu a:hover, #menu ul ul a:hover
{
color:#249526;
background-image:url(images/cornerb.gif);
}


/*Hack IE5 */
* html #menu a, * html #menu a:visited 
{
	width:100px;
	\width:112px;
}

#menu span
{
	float:left;
	width:112px;
	margin-left:5px;
}
/******************** EDITO ***************************/	

#edito
{
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;		
		margin:20px 0px 20px 20px;
		padding:20px;
		-moz-border-radius:10px 10px 10px 10px;
}

#edito h3 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 0px;
	}


#edito img 
{

}

/******************** ALAUNE ***************************/
	
#alaune 
{
	margin:0px 0px 0px 20px;
	clear: both;
}


.alaune_1 
{
		float: left;
		width: 40%;
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;
		padding: 20px 10px 10px 10px;
		margin: 20px;
		-moz-border-radius:10px 10px 10px 10px;
		/*background-color: #eeeeee;*/
}

.alaune_2
{
		float: left;
		width: 40%;
		background-color: red;
		border-left: #eee 2px solid;
		border-top: #eee 2px solid;
		padding: 20px 10px 10px 10px;
		margin: 20px;
		-moz-border-radius:10px 10px 10px 10px;
		/*background-color: #eeeeee;*/
}


		
#alaune_1 h3
{
		padding: 0px;
		float: left;
}
	
#alaune_2 h3
	{
		padding: 0px;
		float: left;
	}


/******************** ARTICLES ET BREVES ***************************/

.articles_breves 
{
	width:97%;
	margin-left:20px;
	padding-top:15px;
	clear: both;
}

.articles_breves h6 
{
	color:#3a3a3a;
	border-bottom:1px dotted #aaa;
}


/*Premier bloc */

.article_breve_1 
{
	background-color: #D9FFD8;
	line-height: 1em;
	margin:10px 0px 10px 0px;
	padding:20px;
	width:96,5%;
	-moz-border-radius:10px 10px 10px 10px;
}

.article_breve_1 img 
{
	float:left;
	margin:0px 5px 0px 5px;		
}

.article_breve_1 span 
{
	float:right;
}

.article_breve_1 p 
{
	margin:10px 0px 10px 20px;
}
		
.article_breve_1 h5 
{
	font-size:0.9em;
	margin-bottom:2px;			
}

.article_breve_1 em 
{
	margin-left:20px;
	font-size:0.9em;			
}

.article_breve_1 > .article_texte 
{
	border:none;
}


/* Liste suite */

.article_breve_all 
{
	line-height: 1em;
	margin:-10px 0px 10px 0px;
	padding:10px 10px 10px 34px;
	width:80%;
}

.article_texte 
{
	margin:0px 0px 10px 0px;
	border-left:solid 3px #249526;
}

.article_texte_sans_img
{
	margin:0px 0px 10px 0px;
	padding-left: 30px;
	border-left:solid 3px #249526;
}

.article_breve_all img 
{
	float:left;
	margin:0px 5px 0px 15px;
}

.article_breve_all h5 
{
	font-size:0.9em;
	margin-bottom:2px;			
}

.article_breve_all em 
{
	/*margin-left:30px;*/
	font-size:0.9em;
}


/******************** Sous Contenu 2EME COLONNE ***************************/


/* Titres */

#titre_droite
{
	margin:30px 0px -20px 0px;
}

#titre_droite h6 
{
	background-image:url(images/tit_corner.png);
	color:#FFFFFF;
	witdh:289px;
	height:26px;
}

#titre_droite span 
{
	padding-left:10px;
	line-height:2em;
}

/* Recherche */

#recherche 
{
	height:59px;
	width:289px;
	text-align:center;
	line-height:5em;
	color:#249526;
	background-image:url(images/recherche.png);
}

#recherche span 
{
	padding-right:10px;
}


/* Recherche */

#sommaire 
{
	background-color:#f8f8f8;
	margin:20px 0px 20px 0px;
	padding:20px;
	-moz-border-radius: 1em;
}
	
/* Web */
	
#web_texte 
{
	background-color:#f8f8f8;
	padding:10px;
	margin:20px 0px 20px 0px;
	-moz-border-radius: 1em;
}
		
#web_texte h5 {
	padding:15px 10px 0px 10px;
	}
	
#web_texte p {
	line-height: 1.5em;
	padding:0px 10px 0px 10px;
}

#web_texte em {
	line-height:25%;
	padding:0px 10px 20px 10px;
	font-size:0.9em;
}
		

/* Debat */

#debat_texte 
{
	background-color:#f8f8f8;
	padding:15px;
	margin:20px 0px 20px 0px;
	-moz-border-radius: 1em;
}

#debat_texte h5 
{
	padding:10px 10px 5px 10px;
}

#debat_texte em
{
	/*line-height:25%;*/
	padding:0px 10px 20px 10px;
	font-size:0.9em;
}

#debat_texte p 
{
	line-height: 1.5em;
	padding:5px 10px 0px 10px;
}



/******************** Sous Contenu FOOTER ***************************/

	
#footer a 
{ 
	color: #249526; 
}

#footer a:hover 
{ 
	text-decoration:underline;
}

#footer h2 
{
	-moz-border-radius:15px 15px 15px 15px;
	font-size: 90%;
	color: #249526; 
	background-color: #D9FFD8;
	padding: 0px 10px 0px 10px;
}

#footer img 
{
	padding:10px 5px 5px 5px;
}

.spacer {
  clear: both;
}
