/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes de Spip-contrib 2007  */
/*  reprises des styles de la dist et de spip.net 2007  */
/*  ----------------------------------------------------------- */

 /* Importation de Styles
----------------------------------------------- */
@import url("zero.css"); /* On appelle d'abord la mise a zero ! */
@import url("typo.css");
@import url("forums.css");
@import url("documents.css");

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */

body {
background: #eeeeec;
margin: 1.5em;
text-align: center;
}
#page {
	width: 54em;
	background: #FFF;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
#conteneur { width: 100%; padding-bottom: 3em; }
#conteneur #contenu { float: left; width: 37.0em; margin: 1em 0 0 3em; display: inline; }
#conteneur #navigation { float: right; width: 12em; text-align: center; }

#conteneur #navigation  .formulaire_spip fieldset { width: 90%; font-size: x-small; }
#conteneur #navigation  .formulaire_spip fieldset  legend { display: block; width: 130px; }

/*  Nota : les conteneurs principaux de forums sont traites dans leur feuille specifique */


/*  Blocs du contenu (c-a-d. la colonne principale)
---------------------------------------------- */
#contenu .contre-encart { float: left;  width: 24.5em; margin: 1em 0 0 0;}#contenu .encart { float: right; width: 11em; margin: 1em 0em 0em 0.5em ; }


/*  Entete et pied de page
---------------------------------------------- */
/*  Entete - reprise sur spip.net2007 plus ajout boussole
------------------------- */
#entete { width: 100%; background: #FFF;}
#entete #entetelogos { float: left; width: 16em; }
#entete #nom_site_spip { float: left; font-weight: bold; font-size: 1.5em; }
#entete a .spip_logos { float: left; margin-top: 1em; margin-left: 1em; display: inline; }
#entete a { text-decoration: none; }
#entete #boussole { 
	float:right;
	text-align: center; 
	width: 35em; 
	margin: 1em 1em 1em 0; 
	padding: 0px ;
	border: 1px inset #CCC; background: #fafaff;
	-moz-border-radius: 1em;
}
#boussole a { 
	display: table-cell; 
	width: 50px; height: 70px; 
	float: left; 
	margin: 0px 0px 2px 0;
	padding: 0px 0px 0px 0;  
	vertical-align: top; 
	text-align: center;
	font-size: 10px;
	border: none;
	text-decoration: none; 
	behavior: url(win_png.htc); 
}
#boussole a .spip_logos {margin:6px 0px 2px 3px; padding: 0; 
}
#entete p.langues { clear: both; margin: 0 0 0 1em; padding: 0 0 3px 0 ; font-size: 0.77em; }
#entete p.langues img { vertical-align: text-bottom; }
#entete p.langues .on, #entete p.langues .on a { font-size: 1.2em; color: #007F7F; }

#topnav {
	text-align: center;
	padding: 4px 4px 4px 20px;
	margin-bottom: 4 px;
	font-family: Verdana;
	font-size: 12px;
	color: #FFFFFF;
	background: #54C3CF;
	border: 1px solid #CCC;
}
#topnav a {padding: 4px 10px 5px 10px; font-weight: bold; color: #FFF;}
#topnav a:active, #topnav a:hover, #topnav a.on {text-decoration: underline; background-color: #54C3CF; }
#topnav * {display: inline;}

#topnav .formulaire_recherche label, #topnav .formulaire_recherche a { display: none; }
#topnav .formulaire_recherche { height: 14px; margin-left: 10px; }
#topnav .formulaire_recherche input.forml {
	background: #FFF;
	padding: 1px 2px;
	border: 1px inset #68D055;
	font-size: 10px;
	color: #75507b;
	width: 130px;
}

/* Fil d'Ariane
------------------------- */
#hierarchie { clear: both; 
	margin: 0px 13em 0px 1em;
	padding-top : 0px; 
	border-top: 0px solid #339999;
	font-size: 0.77em; }

/* Pied de page
------------------------- */
#pied {
	clear: both;
	width: 100%;
	margin-top: 2em;
	border-top: 1px dotted #CCC;
	padding: 8px;
	text-align: center; 
}
#pied small { font-size: 0.77em; }
#pied img { vertical-align: bottom; }

/* espaceurs de blocs
------------------------- */
.invisible { position: absolute; top: -3000em; height: 1%; }
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }


/*  ------------------------------------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------------------------------------- */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .forums, .divers {
	min-width: 10em;
	border: 1px solid #CCC;
	margin: 6px 0 3px 0;
	font-size: 0.77em;
	text-align: left;
	-moz-border-radius: 0.5em;
}
.menu-titre {
	padding: 0.2em 0.4em;
	border-bottom: 1px dotted #CCC;
	text-align: center;
	font-weight: bold;
}
.rubriques p, .breves p, .forums p, .divers p { margin: 0; padding: 0.2em 0.7em;  }
.rubriques ul, .breves ul, .forums ul, .divers ul { margin: 0; padding: 3px 3px 0.3em 3px ; }
.rubriques li, .breves li, .forums li, .divers li { padding: 0 0.7em; }
.rubriques li { border-top: 1px dotted #CCC; padding: 2px 0em 2px 7px;  list-style-image: url(../puce.gif);  list-style-position: outside;  margin-left: 0px;}
.rubriques li li { border-top: none; padding: 0px 0em 0px 0em; margin-left: 15px; }


/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { background: #E4F4F6;}
.rubriques .menu-titre { background: #B0E0E6; }

.breves { background: #FFEAEA; }
.breves a { color: #007F7F;  }
.breves .menu-titre { background: #FFF2F2; }

.forums { background: #F2FBFB; }
.forums a { color: #007F7F;  }
.forums .menu-titre { background: #FFF2F2; }

.divers { background : #FFF; }
.divers a { color: #007F7F;  }
.divers .menu-titre { background: #F8F8FF; color: #007F7F; }


/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles { margin-bottom: 0em; }
.liste-articles h2 { font-size: 0.77em; }
.liste-articles ul { border-top: 1px dotted #CCC; }

.liste-articles li { margin: 5px 0 7px 0; padding: 7px 0 8px 0; border-bottom: 1px dotted #CCC;}
.liste-articles li .titre {font-size: 1.03em; font-weight: bold; }
.liste-articles li .spip_logos { float: right; margin-left: 16px; margin-bottom: 10px; clear: right; }
.liste-articles li p { margin: 0; padding: 0; }
.liste-articles li .enclosures {float: right; text-align: right; max-width: 60%; margin: 0; }
.liste-articles li small { display: block; font-size: 0.71em; }
.liste-articles li .texte { margin: 5px 0 3px 0; padding: 0px;
	border: 0px solid #CCC;  font-size: 0.82em; line-height: 1.4em; }

.pagination { font-size: 0.90em; }


/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */


/* Sites references et liens issus de la syndication
---------------------------------------------- */
.syndic ul, .syndic li, .syndic p {
	margin: 0;
	padding: 0;
}
.syndic .box {
	background-color: #eeeeec; /*background: #d3d7cf;*/
	border: 2px solid #babdb6;
	-moz-border-radius: 1em;
	padding: 0.8em;
}
.syndic li.box {
	background-image: url(../site-24.gif);
	background-position: 3px 0.8em;
	background-repeat: no-repeat;
	min-height: 26px;
	padding-left: 30px;
	margin-bottom: 1em;
}
.syndic li.box .titre {
	display: block;
	margin: 3px 0;
}
.syndic li.link {
	margin: 0.2em 0;
	list-style: circle inside;
	font-style: italic;
}
.syndic li li.link {
	padding-left: 1em;
}

/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

#page_plan #contenu {}

#page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; 
}
#page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-left: 1em;
	margin-bottom: 1em;
	list-style: square; 
}
#page_plan #contenu .contre-encart li { list-style: inherit; }


/*  ------------------------------------------
 Habillage des formulaires
------------------------------------------ */

/* Correction des styles HTML par defaut
------------------------- */
.formulaire_spip form, .formulaire_spip fieldset, .formulaire_spip legend, .formulaire_spip label, .formulaire_spip input, .formulaire_spip textarea, .formulaire_spip select, .formulaire_spip option { margin: 0; padding: 0; border: 0; background: White none; }

/* Styles des formulaires de Spip
------------------------- */
.formulaire_spip {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.77em;
}
.formulaire_spip p { margin: 0.5em 0; padding: 0;
}
.formulaire_spip fieldset {
    display: block;
	margin: 0.77em 0;
	padding: 0.77em;
	border: 1px dotted;
}
.formulaire_spip legend { 
	font-weight: bold; 
	padding: 3px;
	background: #FFF; /* Sinon, superposition dans MSIE */
}
.formulaire_spip label {}
.formulaire_spip .forml {
	width: 99%;
	padding: 1px;
	border: 1px solid;
	font-family: inherit;
	font-size: inherit; 
}	
.spip_bouton input {
	margin: 3px 0;
	padding: 1px 2px;
	border: 2px outset;
	font-weight: bold;
	float: right; 
}
.spip_bouton {
	text-align: right;
}

/* Reponse du formulaire
------------------------- */
.reponse_formulaire { font-weight: bold; color: #F00; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

/* Previsualisation du message
------------------------- */
fieldset.previsu {
	padding: 1em;
	border: 1px solid; }

/* Formulaire de login au forum
------------------------- */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs
------------------------- */
.choix_mots { width: 47%; float: left; } 
.choix_mots label { display: inline; }

/* Formulaire de recherche
------------------------- */
.formulaire_recherche { text-align: left; width: 12em; }
.formulaire_recherche label { display: none; }
.formulaire_menu_lang { text-align: left; width: 12em; margin-bottom: 10px;   }
.formulaire_menu_lang  label { display: none; }


/*  ------------------------------------------
/*  Habillage des forums
/*  voir leur feuille specifique
/*  ------------------------------------------ */

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}
#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap;
}
#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; 
}
#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; 
}
	
/*  Bouton uzine - Manifeste du Web independant---------------------------------------------- *//*  .uzine .bouton {}reprise de spip.net : le bouton de telechargement est cree, en background,directement dans le squelette inclus  inc-uzine.html, car il contient une image de background avec une balise #CHEMIN*/.uzine .bouton a {	font-family: Dustismo, Trebuchet, Arial, 'Sans Serif';	display: block;	text-decoration: none;	padding-top: 50px;	text-align:center;	font-size: 9px;	color: #FFF;	font-weight: bold;}	
	
/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */

a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; background: #ffff66;}

/*  signaler les liens externes comme dans l'espace prive (reprise de spip.net) */
a.spip_out, a.spip_url, a.spip_glossaire { color: #009; text-decoration: none; background: url(spip_out.gif) no-repeat right; padding-right: 10px; } 
a:hover.spip_out, a:hover.spip_url, a:hover.spip_glossaire { color: #009; text-decoration: underline; background: #ffff66 url(spip_out.gif) no-repeat right;}
a:visited.spip_out, a:visited.spip_url, a:visited.spip_glossaire { color: #5c3566; }
	
/*  ------------------------------------------
/*  fin
/*  ------------------------------------------ */