/**
 * Layer switcher
 */
.olMap .olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: black;
    background-color: transparent;
}

.olMap .olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.olMap .olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olMap .olControlLayerSwitcher .layersDiv .baseLayersDiv,
.cCarte .olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olMap .olControlLayerSwitcher .maximizeDiv,
.olMap .olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0px;
}