/* --------------------------------------------------------------

   Squelettes Chez Nous
   by romy.tetue.net - 2003-2009

-------------------------------------------------------------- */

/*  ------------------------------------------
/* 	Typographie generale (style transversaux)
/*  ------------------------------------------ */
html { font-size: 100%; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS */
body, body *, h3.spip { font-size: 100%; font-family: Verdana, Geneva, Helvetica, sans-serif; }
body { font-size: 12px; color: #333; }
p { margin-bottom: 1em; }

/* Titraille / Intertitres */
h1, h2, h3, h4, h5, h6 { color: #000; line-height: normal; }
h1 { font-family: Helvetica, Verdana, Geneva, sans-serif; }
h2, h3, h4, h5, h6 { font-weight: bold; }
h3.spip, h2.spip, #contenu h2.rainette_titre { margin: 0 0 .5em 0; padding: 5px 0 0 0; text-align: left; }
h1.big, h2.big, #extra h2.big { background: none; margin-bottom: 12px; padding-left: 0; font-size: 42px; font-family: Helvetica, Verdana, Geneva, sans-serif; font-weight: bold; color: #E0E0E0; /*line-height: 42px; margin-top: -22px;*/ }
.surtitre, .soustitre { text-transform: uppercase; color: #ccc; }
hr { height: 2px; border: 0; color: #ccc; background: #E0E0E0; margin: 1em auto; width: 70%; }

/* Divers */
b, strong { font-weight: bold; }
i, em { font-style: italic; }
abbr,acronym { border-bottom: 1px dotted; cursor: help; }
strike, s, del { opacity: 0.6; text-decoration: line-through; }
ins { background-color: #FFFF33; color: #a02020 !important; }
.important, .important a, .important * { color: #a02020 !important; }
small, small * { font-size: 9px; color: #666; line-height: normal; }

/* Listes SPIP */
ul.spip { margin-left: 2em; list-style: square url(img/puce.gif) outside; }
ol.spip { margin-left: 2em; list-style: decimal; }

/* Citations, code et poesie */
blockquote, blockquote.spip, blockquote.spip_poesie { min-height: 40px; margin-right: 2em; margin-left: 0; padding-left: 48px; padding-top: 8px; background: url(img/guillemets.gif) no-repeat; border: 0; }
q, q *, blockquote, blockquote *, blockquote.spip_poesie, blockquote.spip_poesie * { font-family: Georgia, "Times New Roman", Times, serif; }
tt, code, .spip_code, .spip_cadre {}

/* Tableaux */
table.spip { width: 100%; }
table.spip, table.spip * { font-size: 11px; }

/* Logos, documents et images */
img, .spip_logos { margin: 0; padding: 0; border: none; }
.spip_logos { background: #fff; margin: 0 1em 2em 1em; padding: 0; border: 4px solid #dfdfdf; }
a:hover .spip_logos { border-color: #ccc; }
.gravatar { float: left; background: #dfdfdf url(img/gravatar.gif) no-repeat center; margin: 0 1em .1em 0; padding: 0; border: 3px solid #ccc; }
.spip_documents_center { margin-top: 0; }

.page_blog .galcaro .gentil_message { margin: 0; }
.page_blog .galcaro li { margin: 1em 2em 1em 0; }
.page_blog #document_actif { padding-top: 100px; }

/* Formulaires */
#contenu .formulaire_spip form { background: #F5F5F5 url(img/pale.gif); padding: 1em 2em; border: 1px solid #E0E0E0; color: #666; }
.formulaire_spip li { margin-bottom: 1em; }
form, form * { font-size: 11px; text-align: left; }
input, select, label { vertical-align: middle; }
legend { display: none; }
label {}
p.explication { display: none; }
.saisie_nom_site { display: none; }
table.spip_barre a img { background: #F5F5F5; padding: 3px; border: 1px solid #E0E0E0; }
table.spip_barre a:hover img { background: #FFF; border: 1px solid #ccc; }
table.spip_barre .barre { display: none; }
textarea, input.text, select { margin: 0; color: #000; }
textarea, input.text { display: block; padding: 2px; border: 1px inset #666; }
textarea { width: 99%; height: 10em; }
input.text { width: 16em; }
.boutons { text-align: right; }
.boutons input, input.submit { width: auto; background: #999; margin: 1px 0; padding: 1px 4px; border: 1px outset; color: #fff; font-weight: bold; }
.previsu { background: #fff; margin-bottom: 1em; padding: 0 1em; border: 2px solid #C03; }
.previsu .previsu { margin: 0; padding: 0; border: 0; }
.previsu legend { display: block; color: #C03; font-weight: bold; }
.previsu .boutons { padding-bottom: 1em; }
.previsu .boutons input { background-color: #C03; border-color: #930; }

.obligatoire, span.erreur, .formulaire_message { color: #C03; font-weight: bold; }
span.erreur { display: block; }
.erreur input.text, .erreur textarea { border: 2px solid #C03; }

.spip_surligne { padding: 0 2px; }
.gentil_message { font-size: 1.4em; color: #BBB; font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; font-weight: normal; }
.forum_info_gravatar, .forum_info_gravatar * { font-size: 10px; color: #666; line-height: normal; }

/* Forums */
#forum { width: 80%; padding-top: 60px; }
#forum h2 { margin-top: 30px; margin-bottom: 12px; }
#forum ol { list-style: none; font-size: 11px; line-height: 1.2em; }
#forum ol li { clear: both; margin: 0 0 2em 0; min-height: 40px; }
#forum ol li li { margin: 0; min-height: 0; list-style: circle; }
#forum ol li p { margin-bottom: .5em; }
#forum ol li .forum-chapo, #forum ol li .forum-chapo * { color: #636363; }
#forum .formulaire_forum { margin-bottom: 1em; }


/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */

/* Disposition a l'ecran : contenu et menu */
body { padding: 110px 10px 0 130px; background: #fff url(img/background.gif) no-repeat left top fixed; text-align: center; }
* html body { padding: 0; }
#conteneur { width: 770px; min-height: 500px; margin: 0 auto; text-align: left; z-index: 2; }
* html #conteneur { margin-top: 30px; }
#contenu { float: right; width: 520px; }
#extra { float: left; width: 200px; margin-top: 30px; }

/* Top et barre de nav */ 
#panorama { position: fixed; top: 0; left: 0; width: 100%; height: 79px; background: #E0E0E0 url(img/panorama.jpg) repeat-x; padding: 0 10px 0 50px; border-bottom: 1px solid #fff; overflow: hidden; z-index: 90; }
#panorama #entete { display: block; width: 770px; margin: 0 auto; }
#panorama #entete #logo { display: block; width: 770px; height: 50px; margin: 5px 0; text-align: left; font-size: 30px; overflow: hidden; }
#panorama #entete #logo * { text-decoration: none; color: #000; }
#panorama #entete #barnav { clear: both; width: 770px; white-space: nowrap; }
#panorama #entete #barnav * { display: inline; color: #666; }
#panorama #entete #barnav script { display: none; }
#panorama #entete #barnav ul { list-style: none; float: left; }
#panorama #entete #barnav ul li {}
#panorama #entete #barnav ul li a { display: block; float: left; padding: 2px 12px; font-weight: bold; }
#panorama #entete #barnav ul li a:hover, #panorama #barnav ul li a.on { background: #ccc; text-decoration: none; }

.formulaire_recherche { margin: 0 0 0 10px; float: right; }
.formulaire_recherche label { display: none !important; }
.formulaire_recherche input.text { width: 130px; background: #eee; }

/* Pied de page */
.footer { clear: both; margin: 1em 0 1px 0; text-align: center; font-size: .9em; color: #666; }

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }
.none { display: none; }

/* Affichage pour les petits ecrans (type 400 x 300) */
@media handheld { div#page, div#conteneur, div#navigation, div#extra { width: auto; } }

/*  ------------------------------------------
/*  Habillage des elements du contenu
/*  ------------------------------------------ */

#hierarchie { display: none; }

.cartouche { margin: 0 0 1em 0; }
.cartouche h1 { margin: 0; font-size: 24px; color: #000; }
.cartouche p { margin: 0; }

.signature { display: block; clear: both; padding-bottom: 2px; border-bottom: 1px solid #E0E0E0; color: #333; font-size: 10px; }
.categorie { text-transform: uppercase; }

.prevnext { width: 100%; padding: 1px 0; border-bottom: 1px solid #dadada; line-height: normal; }
.prevnext span { display: block; width: 50%; height: 1em; overflow: hidden; }
.prevnext span.prev { text-align: left; float: left; }
.prevnext span.next { text-align: right; float: right; }
.prevnext a { display: block; width: 100%; font-size: 10px; /*color: #ccc;*/ }
.prevnext a:visited { color: #999; }
.prevnext a:hover { color: #222; text-decoration: none; }

/*.date, .date * { display: block; width: 57px; text-align: center; color: #dadada; overflow: hidden; }
.date { float: left; display: inline; position: relative; text-align: center; font-size: .88em; }
.date .jour { margin-top: 16px; height: 30px; font: bold 28px/28px Helvetica; letter-spacing: -1px; text-transform: lowercase; }
.date .mois { position: absolute; left: 0; top: 3px; font: bold 9px/9px Verdana; text-transform: uppercase; }
.date .annee { font: normal 9px/9px Helvetica, sans-serif; letter-spacing: 1px; }
.liste ul li .date { margin: 0 11px 1.5em 0; border-right: 1px solid; }*/

.chapo { margin-bottom: 1.8em; font-weight: bold; color: #444; }

#contenu { line-height: 1.6em; }
/*#contenu h2 { margin-top: 2em; }*/
p, blockquote, .spip_poesie, textarea, div.spip_code, .spip_documents_center, ul.spip, ol.spip { margin-bottom: 1em; }

.ps, .notes { font-size: 10px; color: #666; margin-top: 2em; width: 80%; }
.ps { font-size: 11px; }


/*  ------------------------------------------
/*  Sous-navigation et autres menus
/*  ------------------------------------------ */

.liste {}
.liste ul { width: 420px; margin: 22px 0 0 0; padding: 0; list-style: none; }
.liste ul li { clear: both; display: block; min-height: 60px; margin: 0; padding: 0 0 22px 0; }
.liste ul li .spip_logos { float: left; margin: 0; }
.liste ul li h3, .liste ul li h2, .liste ul li small, .liste ul li p { float: right; width: 348px; }
.liste ul li h3, .liste ul li h2 { line-height: normal; margin-bottom: .2em; }
.liste ul li h3 a, .liste ul li h2 a { color: #000; }
.liste ul li p { margin: 0 0 22px 0; }
.liste ul li small { display: block; font-size: 9px; color: #666; line-height: normal; }

.pagination { clear: both; width: 390px; margin-left: 22px; text-align: right; white-space: nowrap; font-size: 11px; border-top: 1px solid #E0E0E0; }
.plus { clear: both; font-size: 10px; line-height: normal; text-align: right; }
.plus a { margin-left: 6px; padding-left: 6px; background: url(img/puce-plus.gif) no-repeat left center; text-transform: uppercase; white-space: nowrap; }
.plus { color: #666; }

/* Extra */
#extra { color: #666; line-height: 1.4em; }
#extra, #extra * { font-size: 10px; }
#extra .menu { clear: both; padding: 0 0 1.5em; }
.menu p { margin: 0; padding: 0 1em .25em 0; }
#extra h2, .menu h2 { background: #E0E0E0 url(img/pale.gif); margin: 0 0 3px; padding: 1px 4px; font-size: 11px; color: #666; }
.menu ul { margin: 0; padding: 0; list-style: none; }
.menu li, .menu p { margin: 0; padding: .30em 0 .30em 4px; }
.menu li { line-height: normal; }
.menu .on { color: #000; }

.menu#sousrub {}
.menu#sousrub h2 { display: none; }
.menu#sousrub p { padding: 1px 4px; }
.menu#sousrub ul li { margin: 0; padding: 0; }
.menu#sousrub ul li a { display: block; width: 192px; background: #E0E0E0 url(img/pale.gif); margin: 0 0 3px 0; padding: 1px 4px; font-size: 11px; font-weight: bold; color: #555; }
.menu#sousrub ul li a:hover { background: #E0E0E0; text-decoration: none; color: #000; }
.menu#sousrub ul li a.on { background: #666; color: #fff; }

.menu#auteurs { display: none; }
.menu#auteurs ul li { display: inline; }

.menu#tagcloud { color: #999; }
#extra .menu#tagcloud * { color: #888; }
.tiers .menu#tagcloud * { color: #999; }
.menu#tagcloud * { display: inline; line-height: normal; }
.menu#tagcloud .on { color: #333; }
.menu#tagcloud h2 { display: none; }
.menu#tagcloud .plus { display: block; }

.menu#newsletter {}
.menu#newsletter .formulaire_spip, .menu#newsletter form { margin: 0; padding: 0; background: none; border: 0; }
.menu#newsletter form * { display: inline; }
.menu#newsletter form li, .menu#newsletter form p { margin: 0; padding: 0; }
.menu#newsletter form label { display: block; }
.menu#newsletter form input.text { width: 110px; }
.menu#newsletter small { line-height: normal; }

.menu#liensforum { color: #777; }
.menu#liensforum ul li { padding-left: 16px; background: url(img/bulle.gif) no-repeat 3px 5px; }

.menu#site { text-align: center; }
.menu#site h2 { display: none; }
.menu#site ul {}
.menu#site ul li { margin: 0; padding: 0; }
.menu#site ul li img.spip_logos { width: 170px; height: 107px; margin: 0 auto; }
.menu#site ul li p { width: 177px; margin: 0 auto; padding: 0; text-align: left; color: #444; }

#panorama .formulaire_spip { clear: none; }

/*  ------------------------------------------
/*  Variantes par squelettes
/*  ------------------------------------------ */

/* Blog */

/* Album photo */
.page_photos #conteneur { text-align: center; }
.page_photos #contenu { float: none; width: 736px; margin: 0 auto; text-align: left; font-size: 11px; }
.page_photos #contenu .galcaro { /*height: 620px;*/ overflow: hidden; text-align: left; }
.page_photos #contenu .galcaro .pagination { width: auto; margin-left: 0; padding: 0; border: 0; text-align: right; }
.page_photos #contenu .galcaro .gentil_message { text-align: left; }
.page_photos #contenu .galcaro li { margin: 0 10px 20px 10px; }
.page_photos #contenu .galcaro li.first { margin-left: 0; }
.page_photos #contenu .galcaro li.last { margin-right: 0; }

/* Page visite */
.page_visite #contenu .texte { float: left; width: 282px; }
.page_visite #contenu p.plus { float: right; clear: right; width: 210px; margin-bottom: 27px; text-align: left; }
.page_visite #contenu .menu { float: right; clear: right; width: 210px; margin-bottom: 27px; }
.page_visite #contenu .menu h2 { margin-top: 0; padding-top: 0; }
.page_visite #contenu .menu ul { margin: 0; padding: 0; list-style: none; font-size: 11px; }
.page_visite #contenu .menu ul li a { padding-left: 10px; background: url(img/puce-lire-aussi.gif) no-repeat; }

/* Page venir */
.page_venir {}
.page_venir .coordonnees { font-size: .9em; color: #666; }
.page_venir #extra .spip_logos { margin: 0; padding: 0; border: 0; }

/* Page contact */
.page_contact #extra { margin-top: 110px; overflow: hidden; }
.page_contact .footer { display: none; }
.page_contact .formulaire_ecrire_auteur { width: 80%; }

/* Qui sommes nous */
.page_nous .article_oui #contenu { float: left; width: 460px; }
.page_nous .article_oui #nous { float: right; width: 280px; padding: 0 0 1em 15px; border-left: 1px solid #E0E0E0; }
.page_nous .article_oui #nous ul { margin: 0; padding: 0; list-style: none; }
.page_nous .article_oui #nous ul li.tiers { clear: both; min-height: 50px; margin: 0 0 2em 0; font-size: 11px; }

.page_nous .article_non #contenu { float: none; width: 100%; line-height: normal; }
.page_nous .article_non #contenu ul { margin: 0; padding: 0; list-style: none; }
.page_nous .article_non #contenu ul li.tiers { float: left; display: block; width: 220px; height: 130px; overflow: hidden; margin: 1em 55px 15px 0; font-size: 11px; }
.page_nous .article_non #contenu ul li.tiers.first { margin-left: 0; }
.page_nous .article_non #contenu ul li.tiers.modulo3 { margin-right: 0; }

.page_nous ul li.tiers img.gravatar { border-width: 4px; }
.page_nous ul li.tiers h2, .page_nous ul li.tiers p { margin: 0 0 .5em 60px; }
.page_nous ul li.tiers h2 { font-size: 12px; color: #333; }
.page_nous ul li.tiers h2.big { margin-top: 0 !important; margin-bottom: 0 !important; font-size: 28px; color: #CCC; }
.page_nous ul li.tiers p.plus {}
.page_nous ul li.tiers .spip_logos.gravatar { margin: 0; }

/* Ami-e-s */
.page_amis #contenu ul { margin: 0; padding: 0; list-style: none; }
.page_amis #contenu li { float: left; width: 125px; height: 125px; margin: 0 5px 0 0; line-height: normal; }
.page_amis #contenu li img.gravatar {}
.page_amis #contenu li p { margin: 0; padding: 0; }
.page_amis #contenu li p.plus {}

/* Forums et livre d'or */
.page_forum #contenu { float: left; }
.page_forum #contenu h1, .page_forum #contenu #forum { float: right; }
.page_forum #extra { float: right; margin-top: 60px; }
.page_forum #extra table.spip_barre { display: none; }
.page_forum #extra textarea { width: 95%; }

/* Page liens */
.page_liens #contenu { width: 100%; }
.page_liens #contenu h1 { display: none; }
.page_liens #conteneur .menu#site { text-align: center; }
.page_liens #conteneur .menu#site a.spip_out { background: none; padding-right: 0; }
.page_liens #conteneur .menu#site .spip_logos { width: 170px; height: 107px; margin: 0 auto; }
.page_liens #conteneur .menu#site p { width: 177px; margin: 0 auto; padding: 0; text-align: left; }
.page_liens #conteneur ul { list-style: none; font-size: 10px; }
.page_liens #conteneur ul li { float: left; width: 190px; height: 170px; /*height: 305px;*/ overflow: hidden; text-align: center; line-height: normal; }
.page_liens #extra { float: left; margin-right: 50px; display: inline; }
.page_liens #extra textarea, .page_liens #extra input.text { width: 95%; }

/* Erreur 404 */
.page_404 #contenu { padding-top: 90px; }
.page_404 .footer { display: none; }

/* Page legal */
.page_legal .footer { margin-top: 60px; }

/* Resultats recherche */
.page_recherche .footer { display: none; }

/* Page tagcloud */
.page_tagcloud .footer { margin-top: 60px; }

/* Page d'accueil */
.page_accueil {}
.page_accueil #contenu { float: left; width: 100%; } 
.page_accueil #extra { float: right; }
.page_accueil .tiers { float: left; width: 220px; margin: 0 55px 0 0; overflow: hidden; }
.page_accueil .tiers.modulo3 { margin-right: 0; }
.page_accueil .tiers .menu { margin: 0 0 15px 0; font-size: 11px; line-height: normal; }

.page_accueil .deuxtiers { float: right; width: 495px; margin: 0; }

.page_accueil .menu#nous {}
.page_accueil .menu#nous .spip_logos { margin: 0; border: 0; }
.page_accueil .menu#nous ul * { display: inline; }
.page_accueil .menu#visite {}

.page_accueil .liste { /*width: 220px;*/ }
.page_accueil .liste h2 { clear: both; }
.page_accueil .liste ul { margin: 0; }
.page_accueil .liste ul li { /*width: 220px;*/ min-height: 0; }
.page_accueil .liste h2, .page_accueil .liste ul li p, .page_accueil .liste ul li img { margin-bottom: 12px; }
.page_accueil .liste ul li h3, .page_accueil .liste ul li small, .page_accueil .liste ul li p { /*width: 150px;*/ }
.page_accueil .liste ul li small { display: none; }
.page_accueil .liste .plus {}

.page_accueil .galcaro {}
.page_accueil .galcaro .gentil_message { margin-bottom: 10px; }
.page_accueil .galcaro li { margin: 2px 14px 0 0; }
.page_accueil .galcaro li.last { margin-right: 0; }
.page_accueil .galcaro p { margin: 0 0 2em 0; }

.page_accueil .menu#ailleurs strong { font-weight: normal; }
.page_accueil .menu#ailleurs small { display: block; }

.page_accueil .menu#sousrub ul li a { display: block; width: 212px; }

/*  ------------------------------------------
/*  FIN
/*  ------------------------------------------ */

/* Couleurs des liens */
a, a.spip_in, a.spip_out, a.spip_url, a.spip_glossaire { color: #444; }
a:visited { color: #777; }

a { text-decoration: none; }
a.spip_in { text-decoration: underline; }
a.spip_out, a.spip_url, a.spip_glossaire { text-decoration: underline; padding-right: 12px; background: url(img/spip_out.gif) no-repeat right center; }
a.feed, a.feed:visited { min-height: 12px; padding-left: 16px; background: url(img/feed.gif) no-repeat left center; color: #fb8308; }
.on { font-weight: bold; }
/*.page_blog #contenu a { font-weight: bold; }
.page_blog #contenu .cartouche a { font-weight: normal; }*/

a:hover { color: #000; text-decoration: underline; }
a.feed:hover { color: #e85800; }

.spip-admin-float { position: fixed !important; }

/* end */