/*
couleurs utilisees :
#4d4d4d : gris tres fonce
#7f7f7f : gris fonce
#bfbfbf : gris clair
#e5e5e5 : gris tres clair
#f0f0f0 : gris tres tres clair
#ffffff : blanc

#ffb748 : orange doux
#ff4d22 : orange vif erreur
*/

body {font-size:90%; margin:0; padding:0;	background:#4d4d4d; }

.page_sqladmin{}
#page{}
#top{width:100%; display:block; margin:0; padding:0.2em 0; background:#4d4d4d; border-bottom:2px solid #ffb748;}
#conteneur{padding:1em 0; background:#ffffff;}
#contenu{padding:0 1em;}

#pied{width:100%; display:block; margin:0; padding:0.2em 0; background:#4d4d4d; border-top:2px solid #ffb748; color:white; text-align:center;}

#top h1{background:none; margin:0; padding:0.5em; color:#ffffff; font-size:100%; font-family:tahoma; display:inline;}
#top h2{background:none; margin:0; padding:0.5em; color:#ffffff; font-size:80%; font-family:tahoma; display:inline;}
#top a{color:white; text-decoration:none;}
#top #sqla_barre_menu{display:inline; margin-left:3em; font-size:80%;}
#top #sqla_barre_menu a{padding:0.1em; border:1px solid #7f7f7f; }
#top #sqla_barre_menu a:hover{border:1px solid #bfbfbf; }
#top #sqla_barre_menu .sqla_bouton_actif{border:1px solid #e5e5e5;}

#pied a{color:white; text-decoration:none; font-family:helvetica,arial,sans-serif; font-size:80%;}

#sqla_params{}
#sqla_params select{border:1px solid #bfbfbf; background:#e5e5e5;}
#sqla_params select:hover{border:1px solid #7f7f7f;}


.sqla_onglets a{
	display:inline; margin:0.5em 0 0 0;padding:0 0.5em; font-size:90%; font-family:tahoma; 
	font-weight:bold; color:#4D4D4D; text-decoration:none; cursor:pointer;
}
.sqla_onglets a.sqla_erreur{color:#ff4d22;}

.sqla_onglets a:hover,
#top h2 a:hover{text-decoration:underline;}

#sqla_champs .sqla_onglets{padding:1em 0 0.2em 0;}


#sqla_actions{margin:1em 0;}
#sqla_actions button{border:1px solid #ffb748; background:#ffffff; cursor:pointer;}
#sqla_actions button:hover{background:#e5e5e5;}

#sqla_retours div{ margin:0.3em 0; padding:0.4em; border:1px solid #7f7f7f; background:#e5e5e5; font-size:90%; }
#sqla_retours div table{}

table, tr, td {text-align:left; vertical-align: top; border:1px solid #bfbfbf; border-collapse:collapse; background:#f0f0f0;}
table {border:1px solid #7f7f7f; margin:5px; padding:0;}
th {background:#bfbfbf; color:#4d4d4d; border:1px solid #7f7f7f; padding:0 5px; font-weight:normal;}

.onglet_on{text-decoration:underline !important;}
	
.slqa_textarea_grand {border:1px solid #bfbfbf; background:#e5e5e5; margin:0em; height:6em; width:98%;}
.slqa_textarea_grand:hover {border:1px solid #7f7f7f;}

.nettoyeur{clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* redefinitions spip */
.spip-admin-float a.spip-admin-boutons{font-weight:normal; background:#4d4d4d; color:white; border:0; border-bottom:1px solid white;}
