/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; right:0; z-index:4999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:right;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; right:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#000000;}
#colorbox{}
    #cboxTopLeft{width:10px; height:10px; background:#fff;}
    #cboxTopRight{width:10px; height:10px; background:#fff;}
    #cboxBottomLeft{width:10px; height:10px; background:#fff;}
    #cboxBottomRight{width:10px; height:10px; background:#fff;}
    #cboxMiddleLeft{width:10px; background:#fff;}
    #cboxMiddleRight{width:10px; background:#fff;}
    #cboxTopCenter{height:10px; background:#fff;}
    #cboxBottomCenter{height:10px; background:#fff;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin:0 0 58px;}
        #cboxTitle{position:absolute; bottom:28px; right:0; text-align:left; width:100%; color:#000; font-weight:bold;font-size:0.9em;}
        #cboxCurrent{position:absolute; bottom:0px; right:0px; color:#666666; font-size:0.80em;}
        #cboxPrevious{position:absolute; bottom:0; right:40px; background:url(images/controls.png) -13px 0px no-repeat; width:13px; height:13px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-13px -13px;}
        #cboxNext{position:absolute; bottom:0; right:60px; background:url(images/controls.png) 0px 0px no-repeat; width:13px; height:13px; text-indent:-9999px;}
        #cboxNext.hover{background-position:0px -13px;}
        #cboxSlideshow{position:absolute; bottom:0px; right:80px; color:#666666;font-size:0.85em;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:20px; left:0; background:url(images/close.gif) 0px 0px no-repeat; width:26px; height:26px; text-indent:-9999px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/