/* La Page */
#outline {
font-size:small;
width:100%;
margin-top:70px;
}
#outline_tous {
font-size:small;
width:100%;
margin-top:70px;
}
#outline_tous dl.hover { background: #ffffcc;cursor: pointer; }
#outline_tous dl.sel { background: #ffcc99; }

#outline_import{
width:400px;
margin:auto;
display:none;
}
/* la Tool bar */
#toolbar {
display:block;
position:fixed;
left:0px;
top:0px;
width:100%;
height:70px;
background:#ffffff;
border-bottom:3px solid #ccc;
z-index:1000;
}
#toolbar a {
display:block;
float:left;
}

#toolbar a img {
	filter: alpha(opacity=70);
	opacity: 0.7;
	-moz-opacity: 0.7;
	padding:3px;
	background:none;
}
#toolbar a:hover img {
	filter: alpha(opacity=100);
	opacity: 1.0;
	-moz-opacity: 1.0;
	background:#ffffcc;
}
#toolbar a.inactif img,#toolbar a.inactif:hover img {
	filter: alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity: 0.3;
	background:none;
}
body.outliner {overflow:hidden;}

body.outline_tous #toolbar .icones {margin:auto; width:610px;}
body.outline_tous #toolbar a {padding:0 8px 0 8px; }


/* Les crayons */
.crayon-icones span {
margin-left:-20px;
}

/* Le selecteur de niveau */
#selecteur_niveau{
float:right;
}

/* L'outline */
table.outline {
	width:100%;
	margin-top: 1em;
	border: 1px solid black;
	border-collapse: collapse; }
table.outline caption {
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align: left;
	padding: 3px;
	width:100%;
}
table.outline caption .titre{
font-weight: bold; 
border-bottom:1px solid #888;
}
table.outline caption .descriptif{
}


table.outline tr.row_first { background: #ccc; }
table.outline tr.row_last { background: #ccc; }
table.outline tr.row_odd { background: #DDD; }
table.outline tr.row_even { background: #EEE; }
table.outline th, table.outline td { 
	padding: 0px; text-align: left; vertical-align: top; 
	border: 1px solid #ccc;
}

/* sous table dans la celule ligne_1 pour gerer le decalage lie au niveau */
table.outline table {
	width:100%;
	border: none;
	border-collapse: collapse; 
}
table.outline table th,table.outline table td {
border : none;
}
td.niveau{width:1px};

div.niveau{width:100%;padding-left:05px;}
div.niveau-0{padding-left:5px;}
div.niveau-1{padding-left:15px;}
div.niveau-2{padding-left:25px;}
div.niveau-3{padding-left:35px;}
div.niveau-4{padding-left:45px;}
div.niveau-5{padding-left:55px;}
div.niveau-6{padding-left:65px;}
div.niveau-7{padding-left:75px;}
div.niveau-8{padding-left:85px;}
div.niveau-9{padding-left:95px;}
div.niveau-10{padding-left:105px;}

div.spip_form_champ textarea {width:100%}

/* selection ligne et colonne */
table.outline tr.row_sel { background: #ffffcc; }
table.outline td.col_sel,table.outline th.col_sel { background: #ffcc99; }


table.outline {
	table-layout: fixed;
}

table.outline tr.ghover  {		background: #E0E3EF;	}
table.outline tr.row_sel.ghover  {		background: #ffff99;	}
table.outline tr.ghover td {		border-bottom: 1px solid #A4A0A8;	}
table.outline td.ghover  {		background: #A8AFCF;	}
table.outline tr.row_sel td.ghover  {		background: #ffcc99;	}
table.outline th  {
	padding: 2px 0 2px 0;
	background-color: #EBEADB;
	border-bottom: 1px solid #CBC7B8;
	text-align: left;
	font-weight: normal;
}
table.outline th span.resize {
	cursor: e-resize;
	border-right: 3px solid #D6D2C2;
	width: 15px;
	float: right;
	display: block;
	margin: -2px -1px -2px 0px;
	height: 18px;
	
}
div.outline_container {
 padding: 0px;
 margin: 0px;
 overflow: scroll;
 overflow-x: hidden;
}