/*
Regles CSS pour la balise <q> rajoutee par le plugin
Citations bien balisees
CopyLeft 2009 Bertrand Marne citations_bb a sciencesnat point org
et romy.tetue.net
GPL v3
*/

/* Specifie des paires de guillemets sur plusieurs niveaux pour chaque langue */
/* Cf.: http://www.yoyodesign.org/doc/w3c/css2/generate.html#quotes-specify */
q { quotes: '"' '"' "'" "'" }
q:lang(fr) { quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019"; }
q:lang(en) { quotes: "\201C" "\201D" "\2018" "\2019" }
q:lang(es) { quotes: "\00AB" "\00BB" "\201C" "\201D"; }
q:lang(it) { quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D"; }
q:lang(de) { quotes: "\00BB" "\00AB" ">" "<" }
q:lang(no) { quotes: "\00AB\A0" "\A0\00BB" "<" ">" }

/* Insere des guillemets avant et apres le contenu d'un element Q */
q:before { content: open-quote; } 
q:after { content: close-quote; }

/* Pour IE, qui n'y comprend rien, on se contente d'italique */
* html q { font-style: italic; }
*+html q { font-style: italic; }

/* end */