.formulaire_proposer_evenement { }
.formulaire_proposer_evenement ul li {padding:0.25em 0;padding-left:150px;clear:both;overflow:hidden;}
.formulaire_proposer_evenement ul li.fieldset {padding-left:0;}
.formulaire_proposer_evenement ul li >label {display:block;float:left;margin-left:-150px;width:140px;}
.formulaire_proposer_evenement ul li input.text,
.formulaire_proposer_evenement ul li textarea,
.formulaire_proposer_evenement ul li select {width:96%;}

.formulaire_proposer_evenement .editer_horaire {padding-top:0;margin-top:-1.7em;}
.formulaire_proposer_evenement .editer_horaire label {margin:0;display:inline;width:auto;float:none;}
.formulaire_proposer_evenement li.editer_date,
.formulaire_proposer_evenement li.editer_date li {clear:left;}
.formulaire_proposer_evenement li.editer_date_debut_fin label { vertical-align: top; }

.formulaire_proposer_evenement #date_debut,.formulaire_proposer_evenement #date_fin {width:7em;padding-right:20px;}
.formulaire_proposer_evenement span.afficher_horaire label {float:none;display:inline;padding:0;margin:0;}
.formulaire_proposer_evenement #heure_debut,.formulaire_proposer_evenement #heure_fin {width:4em;}

.formulaire_proposer_evenement li.editer_date label.heure {display:none;}
.formulaire_proposer_evenement li.editer_date_debut label,
.formulaire_proposer_evenement li.editer_date_fin label {margin-left:0;width:30px;}

.formulaire_proposer_evenement .editer_inscription .choix {display:inline;}
.formulaire_proposer_evenement .editer_inscription .choix input.text {width:50px;vertical-align:top;}

/* le picker */
a.dp-choose-date { display: inline-block; padding: 0; margin: -2px 0 0 -19px; vertical-align: middle; }
#repetitions_picker {float:left;}
li.editer_repetitions textarea {float:left;width:110px;height:11em;}

div.time-picker {font-size:11px;  width:5em; /* needed for IE */}