#popularTags {
line-height:1.2em ;
height:150px;
overflow:auto;
}
#suggestions {margin:3px }
#popularTags span { background-color: #cccccc; cursor: pointer; margin:2px }
#suggestions span { cursor: pointer; margin:2px; background-color:#ccc; }
#popularTags span.selected { color:#eee; background-color: #8B6F92; }
#popularTags span.auto { background-color: #ccffcc; }
