<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr">
<head>
    <title>Antis&egrave;che SPIP - SPIP Cheat sheet (v0.6)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://www.spip-contrib.net/dist/favicon.ico" />
<style type="text/css">
html,body,h1,h2,h3,h4,h5,h6,ul,li,pre {margin:0;padding:0;list-style:none;font-weight:normal;}
/* tag */
body { background:#eee; font-size:0.9em; font-family:Arial,Verdana,sans-serif; padding:10px;}
h1 { background:#75507B;color:#fff;font-size:1em;padding:4px 10px ; }
h2 { color:#D38BDF;font-size:0.9em;padding:4px 10px ; border-bottom:1px solid #eee;margin-top:5px;}
li, pre { padding:2px 0 2px 15px;font-family:Courier,sans-serif; }
a {color:#444;text-decoration:none;}
a:hover {color:#000;}

/* layout*/
.col { width:22%;background:#fff;margin:5px;border:1px solid #eee; float:left;padding:0 0 10px 0;}
.lastcol {margin-right:0 !important;}
.ex {font-family:Arial,Verdana,sans-serif; color:#aaa; font-size:0.8em;}
.blank {background:#eee;}
#about { font-size:0.8em;color:#999;position:absolute;bottom:15px;right:15px;}
#about h2 {font-size:0.9em;}
.left {float:left;}
</style>
</head>

<body>

    <!-- Edition -->
    <div class="col">
         <h1>Edition</h1>
         <h2>Titre</h2>
         <ul>
              <li>{{{<span class="ex">intertitre</span>}}}</li>            
         </ul>
         
         <h2>Mise en forme (en ligne)</h2>
         <ul>              
              <li>{{<span class="ex">gras</span>}}</li>
              <li>{<span class="ex">italique</span>}</li>               
              <li>&lt;del&gt;<span class="ex">texte biff&eacute;</span>&lt;/del&gt;</li> 
              <li>&lt;code&gt;<span class="ex">code</span>&lt;/code&gt;</li>  
              <li>&lt;math&gt;<span class="ex">expression TeX</span>&lt;/math&gt;</li>            
         </ul>
         
         <h2>Blocs sp&eacute;ciaux</h2>
         <ul>
              <li>&lt;poesie&gt;<span class="ex">vers</span>&lt;/poesie&gt;</li>
              <li>&lt;cadre&gt;<span class="ex">texte</span>&lt;/cadre&gt;</li>
              <li>&lt;quote&gt;<span class="ex">citation</span>&lt;/quote&gt;</li>                                                      
         </ul>
         
         <h2>Gestion blanc et retour</h2>
         <ul>
              <li>_<span class="blank">&nbsp;</span><span class="ex">retour &agrave; ligne</span></li> 
              <li>---- <span class="ex">s&eacute;parateur</span></li>                           
              <li>-- <span class="ex">tiret cadratin</span></li>
              <li><span class="ex">espace</span>~<span class="ex">ins&eacute;cable</span></li>                            
         </ul>
         
         <h2>A &eacute;viter</h2>
          <pre>
-<span class="ex">premi&egrave;re ligne</span>
-<span class="ex">deuxi&egrave;me ligne</span>
-<span class="ex">troisi&egrave;me ligne</span></pre>
         <ul>
              <li><span class="ex">code &lt;html&gt;</span></li>                            
         </ul>
    </div>
    
    <!-- Liens -->
    <div class="col">
         <h1>Liens</h1>
         
         <h2>Lien externe</h2>
         <ul>              
              <li>[<span class="ex">texte du lien</span>-><span class="ex">http://www.spip.net/</span>]
                  <ul><li>[-><span class="ex">http://www.spip.net/</span>]</li></ul>
              </li>
              <li>[<span class="ex">texte du lien</span>|<span class="ex">bulle aide</span>-><span class="ex">http://www.spip.net/</span>]</li>
              <li>[?<span class="ex">Wikipedia</span>]</li> 
         </ul>
         
         <h2>Lien email</h2>
         <ul>              
              <li>[<span class="ex">texte du lien</span>-><span class="ex">moi@moi.org</span>]
                  <ul><li>[-><span class="ex">moi@moi.org</span>]</li></ul>
              </li>
         </ul>
              
         <h2>Lien interne</h2>
         <ul>
              <li>[<span class="ex">texte du lien</span>-><span class="ex">12</span>]
                  <ul><li>[-><span class="ex">12</span>]</li></ul>
              </li>
              <li>[<span class="ex">texte du lien</span>-><span class="ex">rub99</span>]
                  <ul><li>[-><span class="ex">rub99</span>]</li></ul>
              </li>
              <li>[<span class="ex">texte du lien</span>-><span class="ex">aut3</span>]
                  <ul><li>[-><span class="ex">aut3</span>]</li></ul>
              </li>
              <li>[<span class="ex">texte du lien</span>-><span class="ex">br3</span>]
                  <ul><li>[-><span class="ex">br3</span>]</li></ul>
              </li>
          </ul>
          
          <h2>Lien ancre</h2>    
          <ul>
              <li>[<span class="ex">definition_ancre</span>&lt;-]</li>
              <li>[<span class="ex">retour &agrave; l'ancre</span>->#<span class="ex">definition_ancre</span>]</li> 
          </ul>
             
    
         <h2>Note</h2>
         <ul>
              <li><span class="ex">texte</span>[[<span class="ex">note automatique de bas de page</span>]]</li>
              <li><span class="ex">texte</span>[[&lt;<span class="ex">XX</span>&gt;<span class="ex">note de bas de page</span>]]</li>
         </ul>        
    </div>
    
    
    <!-- Listes et Tableaux -->
    <div class="col">
         <h1>Listes et Tableaux</h1>
         <h2>Fausse liste </h2>
         <pre>
-<span class="blank">&nbsp;</span><span class="ex">premi&egrave;re ligne</span>
-<span class="blank">&nbsp;</span><span class="ex">deuxi&egrave;me ligne</span>
-<span class="blank">&nbsp;</span><span class="ex">troisi&egrave;me ligne</span></pre>
         
         <h2>Liste simple</h2>
         <pre>
-*<span class="blank">&nbsp;</span><span class="ex">premi&egrave;re ligne</span>
-*<span class="blank">&nbsp;</span><span class="ex">deuxi&egrave;me ligne</span>
-**<span class="blank">&nbsp;</span><span class="ex">une sous liste &agrave; puce</span>
-*<span class="blank">&nbsp;</span><span class="ex">de retour dans le niveau initial</span></pre>
         
         <h2>Liste num&eacute;rot&eacute;e</h2>
         <pre>
-#<span class="blank">&nbsp;</span><span class="ex">premi&egrave;re ligne</span>
-#<span class="blank">&nbsp;</span><span class="ex">deuxi&egrave;me ligne</span>
-##<span class="blank">&nbsp;</span><span class="ex">une sous-liste num&eacute;rot&eacute;e</span>
-#<span class="blank">&nbsp;</span><span class="ex">de retour dans le niveau initial</span></pre>

        <h2>Tableau</h2>
        <pre>
||<span class="ex">Description</span>|<span class="ex">tableau exemple</span>||
|{{<span class="ex">titre a</span>}}|{{<span class="ex">titre b</span>}}|
|<span class="ex">1a</span>|<span class="ex">1b</span>|
|<span class="ex">2a</span>|<span class="ex">2b</span>|
|<span class="ex">3a</span>|<span class="ex">3c</span>|</pre>

        <h2>Tableau avec fusion de cellules</h2>
        <pre>
||<span class="ex">Description</span>|<span class="ex">tableau exemple</span>||
|{{<span class="ex">titre a</span>}}|{{<span class="ex">titre b</span>}}|{{<span class="ex">titre b</span>}}|
|<span class="ex">1a</span>|<span class="ex">1b1c</span>|&lt;|
|<span class="ex">2a</span>|<span class="ex">2b3b</span>|<span class="ex">2c</span>|
|<span class="ex">3a</span>|^|<span class="ex">3c</span>|</pre>    
    
  </div>
    
   <!-- Images -->
    <div class="col lastcol">
         <h1>Documents non textuels</h1>
         <h2>Image</h2>
         <ul>
              <li>&lt;img<span class="ex">XXX</span>&gt;</li>
              <li>&lt;img<span class="ex">XXX</span>|left&gt;</li> 
              <li>&lt;img<span class="ex">XXX</span>|center&gt;</li>
              <li>&lt;img<span class="ex">XXX</span>|right&gt;</li>                        
         </ul>
         <h2>Document &agrave; t&eacute;l&eacute;charger</h2>
         <ul>
              <li>&lt;doc<span class="ex">XXX</span>&gt;</li>
              <li>&lt;doc<span class="ex">XXX</span>|left&gt;</li> 
              <li>&lt;doc<span class="ex">XXX</span>|center&gt;</li>
              <li>&lt;doc<span class="ex">XXX</span>|right&gt;</li>                        
         </ul>
         
         <h2>Document &agrave; int&eacute;grer</h2>
         <ul>
              <li>&lt;emb<span class="ex">XXX</span>&gt;</li>
              <li>&lt;emb<span class="ex">XXX</span>|left&gt;</li> 
              <li>&lt;emb<span class="ex">XXX</span>|center&gt;</li>
              <li>&lt;emb<span class="ex">XXX</span>|right&gt;</li>                        
         </ul>
    </div>
    
    <!-- about -->
    <div id="about">
    <img src="http://www.spip-contrib.net/IMG/png/ILoveSpip.png" alt="i love spip!" class="left" />
      <h1>Raccourcis R&eacute;dacteur de SPIP</h1> 
      <h2>Antis&egrave;che SPIP - SPIP Cheat sheet</h2>
      Version: 0.6 - 2009.01.29<br />
      Auteur: <a href="http://www.erational.org">erational</a> d'apr&egrave;s <a href="http://www.pyrat.net">RealET</a><br />
      R&eacute;f&eacute;rence: <a href="http://www.spip-contrib.net/Les-raccourcis-typographiques-en">Forme et sens</a><br />        
    </div>
</body>

</html>
