/* ----------------------------------------------
Type CSS Theme for WordPress - http://wordpress.org/
By Laura Blalock - http://imaginaryworld.net
Licensed under the GNU GPL - See http://www.gnu.org/ for details
---------------------------------------------- */
/* ----------------------------------------------
Based on the Gutenberg CSS Theme for WordPress - http://wordpress.org/
By Serge K. Keller - http://www.almaren.ch
v1.0 - February 2004 - Validates as CSS3, for CSS2 take out the 'micro-icons' style
Designed for Alex King's WordPress CSS Style Competition - http://www.alexking.org/
---------------------------------------------- */
/* ----------------------------------------------
Copyleft (c) 2004 Serge K. Keller, Rue de Lausanne 9, 1700 Fribourg (Switzerland). All Rights Reversed.
*/
body { margin : 0; padding : 0; background : #e8e8d1; color : #111; text-align:center;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;}

h1, h2, h3 {font-family : "'New York'", Utopia, Georgia, "'Times New Roman'", Times, serif;}
h2 {letter-spacing: .07em; border-bottom:1px solid #c00; text-align:right;}

a {color: #036;text-decoration: none;}
a:hover {color: #900; text-decoration: underline;}
a:active {text-decoration: underline overline;}
a img {border: none;}

p{text-indent:2em; line-height:1.4em;}

form {margin: 0;	padding: 0;}
input, textarea {background-color: #eee;border: 1px solid #aaa;	font-size:95%; }

blockquote {font-size: 90%;	color: #777; padding-left: 23px; border-top:2px solid #ee7; border-bottom:2px solid #ee7;}
	
#rap {margin : 0 auto; padding : 0; width : 750px;	border : 1px solid #666; background : #fff;	overflow:auto;}

#header { height: 50px; 	background: #fff url(images/head.gif) no-repeat top right;
	padding: 30px 10px 5px 25px; border-bottom : 1px solid #666; text-align : left;}
#header a {	color: #000; text-decoration: none;}
	
#content {width: 500px; text-align: left; float: left; background-color: #fff;	padding: 10px 0 0 20px; margin: 0;}
#content ul{list-style:url(images/yellow.gif);}

#menu {	margin: 0; 	padding: 0 35px 0 10px;	width: 150px; text-align: right; background: #fff;
	float: right; overflow:hidden; font-size:90%;}
#menu form { margin: 0;}
#menu input { background: #eee;	border: 1px solid #111;}
#menu ul {margin: 0; padding: 0 10px 0 0; list-style-type: none; color: #111;}
#menu ul li {margin: 10px 0 10px 0; border-bottom:2px solid #ee7;}
#menu ul ul {list-style-type: none;	margin: 0; padding: 0;text-align: left;}
#menu ul ul li {margin: 0 0 3px 0; padding-left: 8px; border-bottom:none;}

.credit, credit cite {clear: both;	margin: 15px 0 0 0;	padding: 3px;	color: #333; font-size: 90%;text-align: center;}

.post {text-align: left;}
.storytitle {margin: 0;	padding: 0;	font-weight: normal;}
.storytitle a {	text-decoration: none;}

.meta {font-size: 85%;}
.meta, .meta a {color: #777;}
.meta ul {margin: 0; padding: 0; list-style: none; display: inline;}
.meta li {display: inline;}

.feedback {	color: #ccc;text-align: left;}

#commentform input, #commentform textarea {background: #fff;	border: 1px solid #aaa;}
#commentform textarea {width: 100%;}

#wp-calendar {	border: 1px solid #aaa;	empty-cells: show;	margin: 0;	width: 90%;}
#wp-calendar #next a {padding-right: 10px;	text-align: right;}
#wp-calendar #prev a {padding-left: 10px;	text-align: left;}
#wp-calendar a {display: block;	text-decoration: none;}
#wp-calendar a:hover {	background: #eee;	color: #900;}
#wp-calendar caption {color: #111;    font-weight: bold;	text-align: center;}
#wp-calendar td {color: #777; padding: 2px 0;	text-align: center;}
#wp-calendar td.pad:hover {	background: #fff;}
#wp-calendar td:hover, #wp-calendar #today {background: #eee;	color: #111;}
#wp-calendar th {	font-style: normal;	text-transform: capitalize;}