/*
     Monolith - Style for Wordpress
    by Gary Rogers (gary.rogers@dmin.net)
    
    Licensed under the Creative Commons License
    (http://creativecommons.org/licenses/by/2.0/)
    
    ** NOTE **
    Not all Styles are used here, but they all exist in Alex's sample
    page, so they remain for reference.
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: small;
	background: repeat-y center url(images/rap.gif) #000000;
	color: #009900;
}

blockquote {
    margin-left: 20px;
    color: #444;
	font-style: italic;
}

a img {
    border: none;
}

code {
    font-family: Monaco, 'Courier New', Courier, monospace;
    font-size: small;
    color: #666;
}

h2 {
    font-size: x-small;
    text-align: right;
	color: #AAA;
}

#rap {
    margin-left: auto;
    margin-right: auto;
	width: 800px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	background: url(images/rap.gif) repeat-y;
}

#header {
    font-weight: bold;
	background: no-repeat url(images/header.gif);
	height: 50px;
	padding-left: 40px;
	font-size: 26px;
	width: 800px;
	padding-top: 38px;
	margin-top: 0px;
}

#header a {
    text-decoration: none;
	color: #00BB00;
}

#content {
    width: 530px;
	padding-left: 25px;
	padding-right: 40px;
}

.post {
	padding-left: 20px;
	padding-right: 30px;
}

.storytitle {
    font-size: normal;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 2px;
	padding-top: 5px;
}

.storytitle a {
    text-decoration: none;
    color: #88BB88;
}

.meta {
    font-size: x-small;
    margin: 0px;
    margin-bottom: 2px;
}

.meta ul {
    display: inline;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.meta li {
    display: inline;
}

.meta li a {
	color: #88BB88;
}

.meta li a:hover {
	color: #00FF00;
	text-decoration: none;
}

.post-categories {
    font-style: italic;
}

.storycontent {
	padding-left: 10px;
	text-align: justify;
}

.storycontent a {
	color: #88BB88;
}

.storycontent a:hover {
	color: #00FF00;
	text-decoration: none;
}

.storycontent img {
    margin-right: 15px;
}

.feedback {
    font-size: x-small;
    text-align: right;
    margin-bottom: 20px;
	padding-bottom: 15px;
}

.feedback a {
	color: #88BB88;
}

.feedback a:hover {
	color: #00FF00;
	text-decoration: none;
}

#menu {
    position: absolute;
    margin-left: 560px;
	background: url(images/menu.gif) bottom repeat-y;
	padding-top: 5px;
	padding-left: 15px;
	width: 185px;
	padding-bottom: 20px;
	top: 35px;
	color: black;
	font: Arial, Helvetica, "sans serif";
}

#menu a img {
    padding: 3px;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	font-family: Tahoma;
}

#menu ul li {
    font-weight: bold;
    margin-top: 10px;
}

#menu ul li a {
	color: #222;
	font-weight: normal;
}

#menu ul li a:hover {
	color: #00FF00;
	text-decoration: none;
}

#menu ul li p {
    font-weight: normal;
}

#menu ul li ul {
    font-weight: normal;
    margin-top: 4px;
    margin-left: 0px;
    padding-left: 10px;
}

#menu ul li ul li {
    text-indent: 0px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

#wordpress {
    font-style: normal;
}

#search {

}

#archives {

}

#calendar {
    font-weight: normal;
    text-align: center;
}

#wp-calendar {
    font-weight: normal;
}

#prev {

}

#pad {

}

#today {
    background: #000;
	color: #009900;
}

#other {

}

#style {

}

.credit {
    width: 800px;
    font-size: x-small;
    text-align: center;
	padding-top: 25px;
	margin-top:  0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding-bottom: 35px;
}

.credit a {
	color: #88BB88;
	text-decoration: none;
}

.cerdit a:hover {
	color: white;
}