#page { margin: 20px auto; width: 960px; font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; }
.contenu { float: right; width: 48%; }
.bulle { position: relative; padding: 15px; margin: 20px 0; color: #333; background: #eee;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
.credit { position: fixed; right: 0; bottom: 0; padding: 2px 4px; background: #666; opacity: .8; color: #fff; }
.credit a { color: #fff; }
