/*
Design by TemplateFusion
http://templatefusion.org
Released for free under a Creative Commons Attribution 2.5 Canada License
*/

/* Specificites SPIP */
h3.spip {text-align:left;}

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

#hierarchie { clear: both; margin-bottom: 2em; margin-top:0; line-height:1.3em; font-size: 0.90em; }
#hierarchie { color: #666; }

.cartouche { margin-bottom: 2em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-size:1.2em; color: #666; }
.texte { line-height: 1.60em; }
.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; padding: 4px; border: 1px solid #DDD; }
.documents_portfolio a:hover .spip_logos { border-color: #1C1C1C; }
.documents_portfolio a.on .spip_logos { border-color: #8B6F92; }
.document_actif { margin: 1em auto; }
.document_actif img { padding: 4px; border: 1px solid #DDD; }


/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.95em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/
#formulaire_recherche form { margin-left: 0; padding-left:0; width:auto;} 
#formulaire_recherche.formulaire_recherche input.text { padding-left: 25px; width:12em;} 


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
ul.forum ul.spip {border:0;}

ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
	background:#fafafa;
}
.forum ul.spip li {border:0;padding:0;}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.forum li cite img {
	float: left;
	margin-right: 10px;	
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8 
}


body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(img/img01.jpg) repeat-x;
	font-size: 13px;
	color: #666666;
}

body, th, td, input, textarea, select, option {
	font-family: Arial, Helvetica, sans-serif;
}

h1,.h1, h2,.h2, h3,.h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#666666;
}

h1,.h1 {
	letter-spacing: -2px;
	font-size: 3em;
	margin-bottom:0em;
}

h2,.h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3,.h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

img {
border: 0px;
}

a, a:active, a:link, a.spip_in, a.spip_out,a.spip_url,a.spip_glossaire {
	color: #333333;
}

a:hover {
	text-decoration: none;
}

/* listes d'articles */
.liste {margin-bottom:2em;}
.liste .liste-items  {margin:0; padding:0;}
.liste .liste-items .item {list-style-type:none; clear: both; padding: 0.40em 0.20em;}
.liste .liste-items .item h3 {font-size: 2em; margin: 0.30em 0;}
.liste .liste-items .item h3 a{text-decoration:none; color:#666;}
.liste .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.liste .liste-items .item .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.liste .liste-items .item .introduction { margin-top: 0.30em; line-height: 1.40em; }
.info-publi {margin-top:-.5em; font-size:80%;}
.meta-publi {margin-top:-1em; margin-bottom:3em;}




/* Header */

#header {
	position:relative;
	width: 760px;
	height: 200px;
	margin: 0 auto;
	background: url(img/img02.jpg) no-repeat left center;
}

#logo {
	float: left;
	padding: 90px 0 0 0;
}
#logo .accueil img {display:none;}
#logo #nom_site_spip a{
	text-decoration:none;
	font-size:3em;
	letter-spacing:-2px;
}
#logo h1, #logo #nom_site_spip a, #logo p, #logo #slogan_site_spip {
	margin: 0;
	color: #FFFFFF;
	padding-left: 60px;
}

#logo a {
	color: #FFFFFF;
}
#formulaire_menu_lang{
	position:absolute;
	right:10px; 
	top:10px;
}
#formulaire_menu_lang form{
	background:none;
	border:none;
}
#formulaire_menu_lang label{
	color:#eee; display:inline;
	margin-right:5px;
}
#formulaire_menu_lang select{
	width:auto; 
}
#search {
	float: right;
	width: 200px;
	padding: 135px 0 0 0;
}

#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}


/* Page */

#page {
	width: 720px;
	margin: 0 auto;
	padding: 20px 0;
}

/* Content */

#content {
	float: right;
	width: 420px;
}

.post {
	padding: 0 0 20px 0;
}

.title {
	margin: 0;
}

.byline {
	margin: 0;
}

.meta {
	padding: 5px 10px;
	border: 1px solid #EFEFEF;
	background: #F9F9F9;
}

.meta .more {
	padding-left: 20px;
	background: url(img/img04.gif) no-repeat left center;
}

.meta .comments {
	padding-left: 20px;
	background: url(img/img05.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
}

#sidebar .menu-liste,
#sidebar .liste-items {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height:1.2em;
}

#sidebar .menu-entree,
#sidebar .item {
	padding: 5px 0 5px 10px;
	background: url(img/img06.gif) no-repeat left 12px;
	border-bottom: 1px dotted #CCCCCC;
}

#sidebar h2 {
	margin: 0;
	padding: 20px 0;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	color: #999999;
}

/* Footer */

#footer {
	clear: both;
	padding: 30px 0;
	background: url(img/img07.gif) repeat-x;
	text-align: center;
	font-size: smaller;
}

/* Special Formatting */
code{
	margin: 0 3px; padding:0 2px;
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;  
	background: #FAFAFA;
  	border: 1px solid #f2f2f2;}
.spip_code{color:#666;}
.spip_cadre {
  color:#666;
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 3px solid #999999;
}

blockquote {
	margin: 15px; 	padding: 0 0 0 20px;  	
  	background-color: #FAFAFA; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 3px solid #999999;  
	font: bold 1.2em/1.5em "Trebuchet MS", Tahoma, sans-serif; 
	color: #666666;	
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}
.float-left  { float: left; padding-right: 5px; }

.float-right { float: right; padding-left: 5px; }

.align-left  { text-align: left; }

.align-right {	text-align: right; }

/* Table Styling */

table.spip {
	border-collapse: collapse;
	margin: 10px 15px;	
}

table.spip th {
	vertical-align:top;
	padding:6px 11px 0;
	background: #717170;
	background-image:url(img/table-bg.jpg); background-repeat:repeat-x;
	height: 29px;
	color: #fff;
	text-align: left;
	border:1px solid #fff;
}
table.spip th a {color:#fff;}

table.spip tr {
	height: 30px;
}

table.spip td {
	padding:6px 11px 0;
	border:1px solid #fff;
	vertical-align:top;
}


table.spip tr.row-odd {
	background: #F8F8F8;
}
table.spip tr.row-even {
	background: #EFEFEF;
}

/* form styling */
.formulaire_spip form {
	margin:10px 15px; padding: 5px;
	border: 1px solid #EEEEEE; 
	background-color: #FAFAFA; 
}

label, .formulaire_spip label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}

input, .formulaire_spip input, .formulaire_spip input.text {
	width: 275px;
	width:auto;
	padding: 2px;
	border:1px solid #eee;
	font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
	color:#777;
}

textarea, .formulaire_spip textarea {
	width:375px;
	width:auto;
	padding:2px;
	font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}

input.button, input.submit { 
	margin: 1px; 
	font: bold 1em Arial, Sans-serif; 
	background: #FFF url(gradientbg.jpg) repeat-x; 
	padding: 2px 3px; 
	color: #333;	
	border: 1px solid #DADADA;
	width:auto;

}
hinput.hidden{display:none;}

#formulaire_recherche form{border:0; background:none;}
#formulaire_inscription form input.text{width:12em;}
.formulaire_spip textarea{width:28em;}
.spip_barre{margin:0;padding:0;}
.spip_barre tr{height:auto;}
.spip_barre tr td{border:0; padding:0;}
.spip_barre tr td a img{border:1px solid #ddd;background:#fcfcfc; padding:1px; margin-right:1px;}
.spip_barre tr td a:hover img{border-color:#888;}
.barre{display:none;}

#sidebar #formulaire_inscription li{background:none;}
input[type=hidden]{display:none;}
