/* 

	// barrac_public_ie.css
	
	// $LastChangedRevision: 16668 $
	// $LastChangedBy: paladin@quesaco.org $
	// $LastChangedDate: 2007-11-07 10:33:02 +0100 (mer., 07 nov. 2007) $

*/
#barrac_boutons {
	width: auto !important;/**/
}
#barrac_boutons .item {
	cursor: hand; 
	margin:0; padding:0; border:0; font-size:1pt; line-height:1pt;
}


