/* public_style_grossir.css */

body { font-size: 600%; margin:0; padding:0; line-height:1.4em; }

#page { width: auto; margin: 0; padding: 1em; float:none; }
#navigation { width:auto !important; position: static; margin: 0; float:none !important; }

#conteneur
, #contenu
, .texte, p, .cartouche, .rubriques
, .menu-titre { width: auto !important; margin: 0; padding: 0; float:none; border:0 !important; background-color: #fff !important; }
#entete { width: auto; margin: 0; padding: 0; float:none; }

h1, h2, h3 { width: auto !important; text-align:left; margin:0; padding:0; }

#entete .formulaire_recherche { float: none; }

blockquote.spip { 
	margin: 0; 
	padding: 0;
	border: 12px dotted; }

div.spip_poesie { 
	margin: 1em; 
	padding-left: 1em; 
	border-left: 12px solid;
	font-family: Garamond, Georgia, Times, serif; }
	
div.spip_poesie div { text-indent: -60px; margin-left: 60px; }

.spip_code, .spip_cadre { font-family: monospace; font-style: normal; font-size: 1em; }
.spip_cadre { width: auto; border: 12px inset; }

.spip_documents { text-align: left; }
.spip_documents_left { float: none; }
.spip_documents_right { float: none; }
.spip_doc_titre { margin:0; }
.spip_doc_descriptif { margin:0; }

/* modeles par defaut */
.spip_modele { float: none; border: 12px solid #666; }

table.spip_barre a img { border: 0; }
table.spip_barre a:hover img { border: 0; }

