body, .rowdata {
	background-color: #EAECEE;
}

body, td, input, textarea, select {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 11;
        color: #000000;
}

.rowdatasel {
	background-color: #D8E1EB;
}

td {
	vertical-align: top;
}

td.header {
	background-color: #DDDDDD;
	vertical-align: middle;
}

td.title {
	background-repeat: repeat-x;
	background-image: url(./tablebg.gif);
	font-weight: normal;
	font-size: 13;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	padding: 3px;
}

td.title a {
	margin: 1px 2px;
	padding: 0px 2px;
	border: 3px grey outset;
	background-color: #E4EDF8;
}

td.title a img {
	vertical-align: bottom;
}

small {
	font-size: 10;
}


a, a:link, a:visited {
	color: #223344;
	text-decoration: none;
}

a:hover, a:active {
	color: #778899;
	text-decoration: none;
}

.toolbar {
	text-align: left;
	margin: 2px 1%;
}
.toolbar form {
	display: inline;
}
.toolbar input, .toolbar select {
	margin-bottom: 8px;
}
.toolbar span {
	margin: 1px 2px;
}

.footer {
	text-align: center;
}

.code {
	text-align: left;
	font: monospace;
	overflow: auto;
}
