#postit-zone{
	display:block;
	position:absolute;
  width:130px;
  height:100%;
	right:0px;
  top:0px;
  z-index:1000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: small;
	filter:alpha(opacity=70);
	opacity: 0.70;
	-moz-opacity:0.70;
}
.postit{
  background-color: #FFFF99;
  width:100%;
  margin-top:10px;
  right:0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 80%;
}

.postit-titre{
  background-color: #CCCC66;
  width:100%;
}
.postit-titre a:hover{
	border:1px solid black;
}

.postit-auteur{
  width:100%;
  border-bottom:1px solid black;
}