/*  _______________________________Lindkvist-Desk Based on Scandinavia v1.0_______________________________
	
	redesign by Andreas Lindkvist | http://lindkvist.com

	
	original by Michael Heilemann | http://binarybonsai.com
    
    Please go to the very bottom at change 'localhost' to change
    your domain name... In my case it would be 'binarybonsai'. This removes the 
    outgoing link icon from links that point to your own site.
    
    I apologize for the mess, but I've run out of time and the deadline is now...
    
    This CSS is GNU... Or something. Use it however you see fit.
*/

a
{
	color: #06c;
	text-decoration: underline;
	font: 8.5pt Georgia, 'Times New Roman', Serif;
}

a img { border: none; }

a:visited
{
	color: #06c;
	font-weight: normal;
}

a:hover
{
	text-decoration: underline;
	color: #a30;
}

acronym, abbr { border-bottom: 1px dashed #333; }

acronym, abbr, span.caps
{
	cursor: help;
	font-size: 90%;
	letter-spacing: .07em;
}

blockquote
{
	margin: 5px 5px 20px;
	padding: 0 0 0 15px;
	background: url('images/blockquote.gif') no-repeat top left;
	font: italic 100%/130% Georgia, 'Times New Roman', Serif;
}

body
{
	margin: 0;
	padding: 0;
	background: white url('images/bg.jpg') repeat-y center top;
	color: black;
	font: 11px/16px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#rap
{
	width: 645px;
	padding: 0;
	height: 87px;
	margin: auto;
}

.post
{
	margin: 0 0 30px 0;
	text-align: justify;
}

.post p { margin: 10px 0 0 0; }

.post img
{
	padding: 4px;
	border: 1px solid #999;
	background: white;
	margin: 5px 0 20px;
}

cite, cite a { font: italic 95% Georgia, 'Times New Roman', Times, Serif; }

h2
{
	font: 12pt Georgia, 'Times New Roman', Times, Serif;
	color: #666;
	text-align: right;
	text-shadow: 0 1px 2px silver;
	padding: 10px 0;
}

h3, h3 a
{
	color: #222;
	font: italic bold 13pt Georgia, 'Times New Roman', Times, Serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
	text-shadow: 0 2px 3px silver;
}

#commentlist
{
	margin-left: 0;
	padding-left: 0;
	text-align: justify;
}

#commentlist li { border-top: 1px dotted #ccc; }
li, .feedback, .meta { }

#content ul li
{
	list-style-image: url('images/bullet-arrow.gif');
	padding: 0 0 5px 3px;
}

.credit
{
	text-align: center;
	clear: both;
	display: none;
	/* Cheap way out of Firebird issue... Sorry :) */
}

.feedback
{
	color: #aaa;
	text-align: left;
}

.meta { font-weight: bold; }

.meta, .meta a
{
	color: #888;
	font: 7pt 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: normal;
	letter-spacing: 0;
	margin: 2px 0 0;
	padding: 0;
}

.meta ul
{
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

.meta li { display: inline; }
.storytitle { margin: 0; }
.storytitle a { text-decoration: none; }

#commentform input, #commentform textarea
{
	background: #fff;
	border: 1px solid #333;
}

#commentform textarea { width: 100%; }

#content
{
	float: left;
	margin: 0;
	padding: 0 40px;
	width: 400px;
	/* Damn you IE, Damn you! */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 390px;
}

html>#content { width: 380px; }

#header
{
	text-transform: lowercase;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 52px 0 3px 10px;
	text-align: left;
	background: transparent url('images/pagebg.jpg') no-repeat bottom center;
}

#header a
{
	font: bold 18pt 'Arial Black', Arial, Lucida Grande, Sans-Serif;
	color: black;
	margin-left: 30px;
	text-decoration: none;
	color: #666;
}

#header a:hover
{
	text-decoration: underline;
	border: 0;
}

/* --- Layout for the sidebar --- */
#menu
{
	padding: 0 0 10px 0;
	margin: 0 0 0 480px;
	color: #666;
}

#menu form { margin: 0 0 0 13px; }

#menu input
{
	background: #eee;
	border: 1px solid #999;
	letter-spacing: -0.05em;
	width: 80%;
}

#menu ul
{
	color: black;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
	text-transform: lowercase;
}

#menu ul li
{
	font: bold normal 12pt/20pt Helvetica, 'Lucida Grande';
	letter-spacing: 0.05em;
	margin-top: 10px;
	padding-bottom: 5px;
	color: #333;
}

#menu ul ul
{
	list-style-type: none;
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: left;
}

#menu ul ul li
{
	border: 0;
	font: normal normal 70%/115% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0 0 3px 8px;
}

#menu ul ul li a
{
	color: #666;
	text-decoration: none;
}

#menu ul ul li a:hover { text-decoration: underline; }

#wp-calendar
{
	empty-cells: show;
	font-size: 12px;
	margin: 0;
	width: 140px;
}

#wp-calendar #next a
{
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a
{
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a
{
	display: block;
	text-decoration: none;
}

#wp-calendar a:hover
{
	background: #e0e6e0;
	color: #333;
}

#wp-calendar caption
{
	color: black;
	font: bold normal 12pt/20pt 'Lucida Grande';
	text-align: left;
}

#wp-calendar td
{
	color: #555;
	font: normal 8px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td.pad:hover { background: #fff; }

#wp-calendar td:hover, #wp-calendar #today
{
	background: #ddd;
	color: black;
}

#wp-calendar th
{
	font-style: normal;
	text-transform: capitalize;
}

a[href*="mailto:"]
{
	padding-right: 15px;
	background: url('images/link-mail.gif') right center no-repeat;
}

#commentlist a[href*="http"], .storycontent a[href*="http"]
{
	padding-right: 12px;
	background: url('images/link-out.gif') right top no-repeat;
}

a[href*=".zip"]
{
	padding-right: 13px;
	background: url('images/link-zip.gif') right center no-repeat;
}

a[href*=".pdf"]
{
	padding-right: 13px;
	background: url('images/link-pdf.gif') right center no-repeat;
}

a[href*=".doc"]
{
	padding-right: 13px;
	background: url('images/link-doc.gif') right center no-repeat;
}

#commentlist a[href*="http"], .storycontent a[href*="http"]
{
	padding-right: 12px;
	background: url('images/link-out.gif') right bottom no-repeat;
}

#commentlist a[href*="localhost"], .storycontent a[href*="localhost"]
{
	padding-right: 2px;
	background: url(none);
}

#menu a[href*="http"]
{
	padding-left: 16px;
	background: url('images/link-out.gif') left top no-repeat;
}

#menu a[href*="localhost"]
{
	padding-left: 16px;
	background: url('images/link-in.gif') left top no-repeat;
}
