/* ------------------------------------------------------------------*/
/*      Styles de spip.net 2007 adaptes pour forum.spip.org          */
/*                                                                   */
/*          silk icons de Mark James / www.famfamfam.com             */
/*     + Modern clock de Chris Kemps pour le picto clock_pop         */	
/*-------------------------------------------------------------------*/

/* Correction des styles par defaut / mise a zero multinavigateurs */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var { /*font-style: normal; font-weight: normal; */ }
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}

/*  ------------------------------------------
/* 	Typographie generale (style transversaux)
/*  ------------------------------------------ */

html{font-size:100%;}
body{font-size:1em;font-family:"Trebuchet MS",Helvetica,sans-serif;}

/* Typo pour les menus et la navigation */
body,#hierarchie,#extra,.formulaire_spip{font-family:Verdana,Tahoma,Arial,sans-serif;}

/* Typo pour le contenu */
#contenu,.tiers{font-family:"Trebuchet MS",Helvetica,sans-serif;}

/* Titraille */
h1{font-size:1.8em;padding:.5em 0 0;text-align:center;}
h1,h1 *{color:#5c3566 !important;font-family:Georgia,Times,serif;font-variant: small-caps;}
h3.spip,h3.titre{font-family:Georgia,Times,serif;font-weight:bold;}
h3.spip{margin:2em 0 1em 0;border-bottom:1px solid #3465a4;text-align:left;font-size:1.1em;color:#3465a4;}
hr{height:1px;border:none;color:#ccc;background:#ccc;width:70%;margin:1.4em auto;}

/* Citations, code et poesie */
blockquote,q,.spip_poesie,.spip_serif{font-family:Georgia,Times,serif;}
blockquote,blockquote.spip,.forum-message blockquote.spip{border:0;border-left:.3em solid #A0C0E0;color:#333;}

tt,.spip_code,.spip_cadre{font-family:monospace;font-style:normal;font-size:1.2em;}
.spip_code{color:#3465a4;}
.spip_cadre{overflow:scroll;overflow-x:hidden;padding:1px;background:#f7f7f7;border:1px inset #333;line-height:normal;color:#036;}

.markItUp .markItUpHeader { float:left;}

.coloration_code, .forum-texte .coloration_code { margin-bottom:1em; padding: 1em 1em 1em 3em; border: 1px inset #ccc; background: #f7f7f7; font-size: .9em; overflow-x:hidden;}
.cadre_download { font-size: .9em }

/* Listes */
ul.spip{margin:0 2em;list-style-type:circle;}
ol.spip{margin:0 2em;list-style-type:decimal;}
li.spip{margin-bottom:1em;}

/* Divers autres */
b,strong{font-weight:bold;}
i,em{font-style:italic;}
abbr,acronym{border-bottom:1px dotted;cursor:help;}
abbr.published { border-bottom:1px dotted #ccc }

/* Paragraphes */
p,ul.spip,ol.spip,blockquote,.spip_cadre,div.spip_code,hr{margin-bottom:1em;text-align:left;}

/* Habillage des formulaires
---------------------------------------------- */
input,textarea,select{font-size:100%;font-family:inherit;}
.forml,textarea,select{width:99%;border:1px inset #CC9;color:#000;}

/* Formulaires de SPIP */
.formulaire_spip{margin-bottom:2em;padding:0 0 .5em;padding-right:.5em;text-align:left;color:#330;}
.formulaire_spip p{margin:0.5em 0;padding:0;}
.formulaire_spip fieldset{margin:0;padding:0;border:0;}
.formulaire_spip legend{margin:0;padding:0;padding-right:0.50em;color:#330;display:none;} /* preciser la couleur des legend pour IE/Win */
.formulaire_spip label{display:block;font-size:.8em;}
.formulaire_spip .forml{width:99%;background:#FFF;padding:1px;border:1px inset;}
.formulaire_spip .explication { font-size:.82em; }
.formulaire_spip li.saisie_session_nom span.details, .formulaire_spip fieldset p.explication span.details { font-size:.88em }

#formulaire_inscription ul li.saisie_nom_inscription.obligatoire label { text-align: left }
#formulaire_inscription ul li.saisie_mail_inscription.obligatoire label { text-align: left }

#tiers .formulaire_ecrire_auteur { margin-left:.5em; padding: 1em; border:1px solid #ccc; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius:10px; }
#tiers .formulaire_ecrire_auteur { font-size:.82em }

ul.auth li { padding:.5em 0 0 0; font-size:.9em}
#session_email, #mail_inscription { width:177px; background: #fff url(habillage/gravatar.png) no-repeat left;padding: 3px 0 0 0; padding-left: 19px }

/* Formulaire forum */
#formulaire_forum { width:93%; margin: 1.5em auto; padding:.7em; background:#eee; font-size:.9em; }
#formulaire_forum .boutons { margin:1em; }
#formulaire_forum legend.qui, #formulaire_forum legend.legend_rep {display:inline; padding: .5em 0; background:#eee; font-size:.88em; color:#444; text-align:center }
.formulaire_spip .saisie_mots_forum,.formulaire_spip .saisie_mots_forum fieldset{ margin:0;padding-bottom:.5em;}
.formulaire_spip fieldset.form_mots { display:inline; margin-bottom:.5em; border-bottom: 1px dotted #666;}

.saisie_mots_forum span { font-weight: bold; font-size: .77em; color: #444; }
.saisie_mots_forum span:hover{ cursor: pointer; color: #000 }

ul.voir_mots { display: block; margin: 0; padding: 0; list-style: none; }
ul.voir_mots li { clear: none; float: left; display: block; width: 30%; padding: 1%; }
ul.voir_mots li label { display: inline; font-weight: normal; }
.formulaire_spip .saisie_document_forum #ajouter_document { font-size:.8em; margin-bottom:.5em;}
ul.choix_mots li { clear: none; float: left; display: block; padding-right: 0.5em; width:auto; font-size:.9em;}

.forum-texte .reponse_formulaire, .forum-texte .forum-document { font-weight: bold; color: #e86519;font-size:.8em; }
.forum blockquote { border:none }
.explication.suggestion { margin:0 0 1em;border: dotted 1px #2F3436; padding: 1em .5em;font-family:"Trebuchet MS",Helvetica,sans-serif;font-size:.9em;text-align:center; }
.explication.suggestion ul { padding-left:1em;text-align:left;font-size:1.03em; }
.forum p.pagination.tri { margin:0;padding:1em 0; color:#2F3436; }
.formulaire_spip .forum .forum-fil{ padding:1em;border: 1px solid #666; }

/* notation */
div.star-rating{float:left; }
#notation { position:relative; float: left; top:0; margin:0; padding:4px 0 0 0; padding-left: 3px }
.notation_note { margin-right: 3px }
.formulaire_jaime_jaimepas form .jaime, .formulaire_jaime_jaimepas form .jaimepas, .formulaire_jaime_jaimepas form .jechangedavis,.formulaire_jaime_jaimepas li.nb_votes, abbr.nb_votes, abbr.moyenne { border:0;background:url(habillage/add.png) no-repeat left;padding:1px 0;padding-left:15px; cursor:pointer;font-weight:bold;color:#2F3436b;opacity:0.5}
abbr.nb_votes, abbr.moyenne { padding: 5px 5px 5px 0; padding-right: 5px; padding-left: 20px }
abbr.nb_votes, abbr.moyenne { float:left }
.formulaire_jaime_jaimepas form .jaimepas { background:url(habillage/delete.png) no-repeat left; }
.formulaire_jaime_jaimepas form .jechangedavis { background:url(habillage/croix.png) no-repeat left }
.formulaire_jaime_jaimepas li.nb_votes, abbr.nb_votes { background:url(habillage/email.png) no-repeat left; padding-top:5px }
abbr.moyenne { background:url(habillage/calculator.png) no-repeat left; }
.formulaire_jaime_jaimepas form .jaime:hover,.formulaire_jaime_jaimepas form .jaimepas:hover, .formulaire_jaime_jaimepas form .jechangedavis:hover,.formulaire_jaime_jaimepas li.nb_votes:hover, abbr.nb_votes:hover, abbr.moyenne:hover {opacity:1}
.formulaire_jaime_jaimepas li.etoile:hover { cursor:help }
.formulaire_jaime_jaimepas .reponse_formulaire {clear:left;margin:0;font-size:90%;padding:3px 3px 0;color:#000}

/* Boutons */
.spip_bouton{text-align:right;}

.formulaire_spip fieldset.previsu { margin: 0; padding: 1em; border: 2px dashed #F57900; }
.reponse_formulaire{font-weight:bold;color:#a40000;}
fieldset.reponse_formulaire{border:1px dotted;font-weight:normal;}
.spip_barre, .boutons, label { font-size:.77em; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */

body{background:#fff;text-align:center;}

#page{width:48.7em;text-align:left;margin-left:auto;margin-right:auto;position:relative;}
#conteneur{clear:both;width:100%;padding-bottom:0em;background:#FFF url(habillage/bg-conteneur.gif) repeat-x;}
#extra {float:right;width:25%;margin-bottom:1em;padding:0 .8em 1em .8em;background:transparent;font-size:.85em;text-align:left;}

.page_thread #contenu {float:left;width:60%;background:transparent;}
.page_thread #extra {float:right;width:30%;}
.page_mot #contenu { width:100% }

#entete{width:100%;margin-top:1em;background:#FFF;}

.page_auteur #contenu { width: 99%; margin: 1.5em auto 0; padding:0 }
.page_auteur #contenu ul#infos_contributeur { width: 45%; float:left; margin: 0 0 1em 0; margin-left:.5em; padding: 1.5em; border: 1px solid #ddd; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius:10px; }
.page_auteur #contenu #messages_connexion { width: 45%; float: right; margin-bottom: 1em }
#sujets_auteur,#messages_auteur,#tiers { width: 31%; float:left; margin-right:.5em }

/* Entete */
#entete .spip_logos, #entete a .spip_logos {float:left;padding-bottom: 1em;padding-right: 1em;}
#entete a{text-decoration:none;}
#entete p { margin-bottom: .8em }
#entete p.langues{clear:both;line-height:1.5em;margin:0;padding:1em 1em 1em 0;font-size:0.71em;font-weight:normal;text-align:center;}
#entete p.langues img{vertical-align:text-bottom;}
#entete .texte .on,#entete .texte .on a{font-size:1.2em;color:#75507b;}
#entete .texte, .descriptif { padding-top:.5em;margin:0;font-family:"Trebuchet MS",Helvetica,sans-serif;font-weight:bold;color:#2F3436;font-size:.82em;}

.descriptif { margin:0;padding:0;height:auto;background:#ebdde9; }
.accueil { font-size: 1.3em; line-height:1.4em;}

/* Bloc navigation */
#navigation{width:100%;padding:0;background:#75507b url(habillage/navigation.jpg) repeat-x bottom;text-align:center;font-size:.77em;color:#75507b;}
#navigation *{display:inline;}
#navigation ul{float:left;display:block;width:100%;}
#navigation ul li{float:left;display:block;}
#navigation ul li a, #navigation ul li span {display:block;width:13.79em;min-height:3.4em;padding:.5em 1em;background:transparent url(habillage/onglet.png) no-repeat left bottom;border:0;color:#fff;}
#navigation ul li span { color:#fff }
* html #navigation ul li a{height:3.4em;}
#navigation ul li a:hover { background-color:#5c3566;color:#fff;}
#navigation ul li span  { background-color:#75507c; color:#fff; }
#navigation ul li a.on{background-color:#5c3566;font-weight:normal;color:#fff;}

#outils{width:100%;margin:0;padding:0;background:#B4A0B7;font-size:.77em;}
#outils ul {clear:both;width:100%; }
#outils ul,#outils li,#outils div, #outils form {line-height:normal;}
#outils li,#outils div, #outils form {display:inline;float:left;}
#outils li { padding:.2em }
#outils .titre { font-weight:bold; padding:.8em 0 .8em; padding-left: 1.2em;font-size:.9em;color:#2F3436; }
#outils .liens { float:left;background:url(habillage/spip_out.gif) no-repeat;background-position:right;padding-right:25px;margin-right:.5em; }
#outils ul.rech li { float:left;clear:both;width:100%;background:#75507b url(habillage/navigation.jpg) repeat-x bottom; padding: .4em 0 .3em; }
#outils,#outils a{color:#2F3436;}
#outils a{padding:.1em 1em;font-size:.9em;line-height:2.5em;border-right:1px dotted #94679c;}
#outils a:hover{color:#000;}

.formulaire_recherche{margin:0;padding:.1em .5em;background:none;border:none;}
.formulaire_recherche label{float:left;padding-top:.2em;padding-left: .5em; padding-right:1.2em;color:#B4A0B7; font-weight:normal;font-size:1em;}
.formulaire_recherche input.forml{width:10em;background:#E8E8E8;margin:0;padding:1px 2px;border:1px inset #68D055;color:#75507b;}
.formulaire_recherche input.forml:focus{background-color:#F8F7F3;}
.formulaire_recherche input.bouton{vertical-align:middle;}
.resultats_rech li { margin:.5em; padding:.5em;border:1px solid #666; }

#navigation ul.faq { background:#75507b }
#outils ul.rech li a.faq { padding: 0 1em; border-left: 1px dotted #94679c; color: #DADAD4; font-weight: bold; line-height: 2em }
#outils ul.rech li.faq { padding:0; background: #75507c; border-bottom: 1px solid #5c3566; color: #DADAD4 }
#outils ul.rech li.faq a { padding: 0 1em; border: 0; color: #DADAD4 }
#outils ul.rech a.faq:hover, #outils ul.rech li.faq a:hover { color: #fff }
#outils ul.rech li.faq  span { padding-left:1em; color: #fff }

/* Pied de page */
#pied{clear:both;width:100%;margin:1em 0 2em;padding-top:1em; text-align:center;border-top:1px dotted #ccc;font-size:.77em}
#pied small{margin:0 auto;}
#pied,#pied a{color:#333;text-decoration:none;}
#pied a:hover{color:#000;}
#pied .connexion { float:left; margin-left: 1em; font-size: .88em }
#pied .connect, #pied .disconnect, #pied .online, #pied .prive, #pied .cle { padding-left:20px; padding-bottom: 5px; opacity: 0.7 }
#pied .connect:hover, #pied .disconnect:hover, #pied .online:hover, #pied .prive:hover, #pied .cle:hover { opacity: 1 }
#pied .connect { background: transparent url(habillage/connect.png) no-repeat left top;}
#pied .disconnect { background: transparent url(habillage/disconnect.png) no-repeat left top; }
#pied .online { background: transparent url(habillage/status_online.png) no-repeat left top; }
#pied .prive { background: transparent url(habillage/door_in.png) no-repeat left top; }
#pied .cle { background: transparent url(habillage/key.png) no-repeat left top; }

#pied li.bas a { float:left;margin-top:.3em;padding:0;line-height:0;}

/* Espaceur de blocs */
.nettoyeur{clear:both;margin:0;padding:0;border:0;height:0;line-height:1px;font-size:1px;overflow:hidden;}

/* Non visible a l'ecran */
.invisible,.reponse_formulaire_ok {position:absolute;left:-3000em;height:1%}

/*  ------------------------------------------
/*  Habillage des elements du contenu
/*  ------------------------------------------ */

/* Fil d'Ariane */
#hierarchie{padding:0.4em 0 1em 0; padding-left: .5em; font-size:0.71em;}
#hierarchie,#hierarchie a,#hierarchie strong.on{color:#999;}
#hierarchie strong.on{font-weight:bold;}
#hierarchie a:hover{color:#444;}

/* Cartouche */
h1.titre { padding-bottom:1em; }
.cartouche{margin-bottom:1em;}
.cartouche .surtitre,.cartouche .soustitre {padding:0;font-size:.9em;text-align:center;font-variant:normal;}
.cartouche .soustitre {margin:1em 0 2em;}
.cartouche .spip_logos{float:left;margin:.8em .8em 0; }
.cartouche p{margin:0;padding:0;clear:left;}
.cartouche small{font-size:0.71em;color:#666;}

.vcard .cartouche h1 { text-align:left }
.vcard .spip_logos { margin-top:1.1em }
.vcard .spip_logos .auteur { opacity: 0.7 }
.vcard .texte { width: 90%; padding-left: .8em; font-size: .84em }
.vcard .hyperlien { padding: .5em 0 0; padding-left: 1em; font-size: .82em }

/* Blocs de texte */
h1.categorie { margin-right: .3em; }
.chapo {padding: 0 1em 3em 0;font-size:0.82em;font-weight:bold;color:#2F3436;text-align:center;}
.texte{font-size:0.87em;line-height:1.3em;color:#000;}
#contenu .texte { margin-bottom:.5em; }
.ps{font-size:0.82em;}
.notes{clear:both;padding: .5em 0;padding-left:1em;font-size:.77em;}
.hyperlien { padding-left:1em;clear:both;font-size:.82em; }

/* Thread */
#contenu #thread { position:relative;float:right;width:33em; }
#colonne { position:relative;float:left;width:1em;margin-left:-1em }
.question,.reponse,.reponse_2,.reponse_ok  { margin:0;border:1px solid #b9a5bf;font-family:"Trebuchet MS",Helvetica,sans-serif;font-size:.9em;color:#000;}
.question { border-bottom: 1px solid #ccc; }
.reponse, .reponse_2 { border-top: 1px dotted #ccc;border-bottom:1px dotted #ccc; }
.question .question_titre, .reponse .question_titre, .reponse_2 .question_titre {background:#d7afd8;margin: .5em;padding:.5em;border: 1px solid #5c3566;}
.reponse .question_titre, .reponse_2 .question_titre { border: none }
.reponse .question_titre a,.reponse_2 .question_titre a { color:#444;font-size:.96em }
.reponse .question_titre a:hover,.reponse_2 .question_titre a:hover { color:#000 }
.reponse .question_titre h2, .reponse_2 .question_titre h2 { color:#333 }
.question .question_titre .spip_logos, .reponse .question_titre .spip_logos, .reponse_2 .question_titre .spip_logos { float:left;padding: 0 0 .2em; padding-right:.5em; }
.page_sommaire .question .question_titre .spip_logos, .question .question_titre .logo .spip_logos { padding:0; }
.reponse_2 .question_titre {background:#d995d0;}
.question .question_titre { background:#75507b url(habillage/fond-degrade.jpg) no-repeat left top; }
.question_titre h1, .question_titre h2, .question_titre_2 h2 {margin-bottom:.2em;font-variant:normal;font-size:1em;text-align:left;color:#171717;}
.question .question_titre h2 { font-weight:bold; }
.question .question_titre h2.titre { font-size:1.02em;}
.question_titre .precisions { margin:0;padding: .2em 0 0;border:none;font-size:.8em;color:#fff;}
.message { margin:1em .8em 0 .8em;padding: .5em .5em;font-size:1em;overflow:auto;}
.message p { text-align:inherit;}
.ok {padding:.5em;font-weight:bold;}

.pied_message { margin:0;padding:.2em 0 0; border-top:1px dotted #ddd; }
.rss { float:right; padding: .3em 0; padding-right:.5em;}
.repondre { float:right;padding: .5em 0;padding-right:.8em; font-size:.8em;font-weight:bold;}
h2.rep { margin-top:1em; padding: 1em .5em;border-top:1px solid #666; text-align:center; font-weight:bold;color:#666;}
.hoba { float:right; padding: 0 .5em; font-size:.9em; color: #444 }
.hoba a { color:#444 }
.hoba a:hover { color:#000 }

.moderation { clear:both; margin: 0; padding:.5em 0 0; border-top:1px dotted #ccc; font-size:.8em}
.off { background:#fff url(habillage/croix.png) no-repeat left bottom; padding-left:15px }
.spam { background:#fff url(habillage/bullet_error.png) no-repeat left bottom; padding-left:15px }
a.off, a.spam { color:#666; opacity:0.7 }
a.off:hover, a.spam:hover, .deplacer:hover, .deplacer select:hover { color:#000; opacity:1 }
.deplacer { display:inline; background:#fff url(habillage/bullet_go.png) no-repeat left bottom; padding-left:17px;opacity:0.7; color: #666 }
.deplacer select { width:21%; color: #666 }
.deplacer select:focus { color: #000 }

/* Divers */
.tags { margin: 1.5em auto 0; padding:1.5em 0 1.5em;border-top:1px dotted #ccc;overflow:hidden;text-align:center; font-size: .88em }
.mots { background: url(habillage/tag.png) no-repeat left bottom;margin-left:1em;padding-top:.3em;padding-left:1.6em;font-size:.8em;line-height:2.5em; }
.noreponse { padding: 0 .2em;background:#f9f9f9; }
strong.non_auteur { color:#666 } 
strong.noreponse, .noreponse_home { background: url(habillage/exclamation.png) no-repeat left bottom;padding:3px 0 0;padding-left: 20px; font-weight:bold; color:#802828; }
ul.intro li.new { border-bottom:0; font-weight:bold;font-size:.88em;text-align:center;color:#babdb6; }
.resolu, .question_titre .precisions .resolu { background: url(habillage/tick.png) no-repeat left bottom;padding:3px 0 0;padding-left:20px; color: green; font-weight:bold;}
p.tri{font-size:.82em;text-align:center;}
li.nouvellequestion { font-weight:bold; font-size:.9em; text-align:center }
li.stats, #extra li.stats { padding:0; margin: 0;border-top: 1px dotted #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd; background:#f5f0f5; }
#extra li.stats { padding: .8em }
li.stats abbr { font-size:.8em; color:#666; border-bottom:0 }
.nb_sujets { background: url(habillage/comment_edit.png) no-repeat left bottom; }
.nb_resolus { background: url(habillage/tick.png) no-repeat left bottom; }
.visiteurs_connectes { background: url(habillage/status_offline.png) no-repeat left bottom; }
.nb_sujets, .nb_resolus, .visiteurs_connectes { float:left; margin: 0 .5em 0 0; padding-left: 20px; font-size: .77em; direction:ltr; }
abbr.nb_sujets, abbr.nb_resolus { margin: 0; padding:3px 0 0; padding-left:20px }
abbr.nb_sujets { float:left }
abbr.nb_resolus { float:right }

/*  ------------------------------------------
/*  Sous-navigation et autres menus
/*  ------------------------------------------ */

/* Listes d'articles et extraits introductifs */
.liste-articles{margin-bottom:3em;padding:0;}
.liste-articles h1 {text-align:center;} 
.liste-articles h2 {font-size:.77em;}
.liste-articles ul {padding:0;margin:0;width:100%;list-style:none;font-size:0.9em;}
.liste-articles ul#recherches p.pagination.tri { font-size: 1em }
.liste-articles li, #messages_connexion ul li, #sujets_auteur ul li, #messages_auteur ul li {margin:0;padding:1em .5em .8em;border-bottom:1px solid #babdb6;border-left:1px solid #ddd;border-right:1px solid #ddd}
.liste-articles li.stats { border-bottom: 1px dotted #ccc }
.liste-articles ul li .precisions .titre{font-weight:bold;font-size:.94em}
.liste-articles ul li .titre,.liste-articles .titre *{color:#5c3566 !important;}
.liste-articles ul li p.precisions, .resultats_rech li p.precisions, .formulaire_spip .explication { color:#2F3436;font-weight:normal; }
.liste-articles ul li p.date { padding:0 0 .3em;line-height:1.4em;font-size:.84em}
.liste-articles ul li p.nb,#extra p.precisions.nb { line-height:2em;font-size:.84em }
.liste-articles ul li .spip_logos{float:left;margin:0;padding:0 .5em;padding-left:0;clear:right;}
.liste-articles ul li p{margin:0;padding:0;}
.liste-articles ul li small{display:block;font-size:0.71em;color:#666;}
.liste-articles ul li .texte{margin-top:5px;line-height:1.5em;}
.liste-articles ul li .nouveau { border: none; }
.liste-articles ul li a { line-height: 1.46em }
.liste-articles ul li a:hover{text-decoration:underline;}
.liste-articles ul li .titre a:hover,.liste-articles .titre a:hover *{color:#f57900 !important; }
.liste-articles ul li a:visited { color:#7d5d6c !important; }

.page_secteur .liste-articles ul li{margin:0;padding:.5em .5em .5em;}
.page_secteur .liste-articles ul li.descriptif { padding:.3em .8em .5em; border:1px solid #ccc;border-bottom: 1px dotted #eee; border-top:1px solid #5c3566; font-size:.91em;}
.page_secteur .liste-articles ul li.descriptif.faq { border-top: 2px solid #75507c }
.page_secteur .liste-articles ul li.descriptif img.spip_logos { padding-top:.4em }
.page_secteur .liste-articles ul li a { line-height: 1.3em }
.page_secteur .liste-articles h3.menu-titre, #extra .liste-articles h3.menu-titre, p.pagination.tri.menu-titre  { background:#fff;border:1px solid #ddd;border-bottom:1px dotted #ccc; font-weight:bold; color:#666 } 
#extra .liste-articles h3.menu-titre, #messages_connexion h2, #sujets_auteur h2, #messages_auteur h2 { border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; background:#f5f0f5; }

#extra ul li a { font-weight:bold; font-size:.96em}
#extra h3.menu-titre, #messages_connexion h2, #sujets_auteur h2, #messages_auteur h2 { margin-bottom:0; padding: .8em 0; border:1px solid #ccc;border-bottom:1px dotted #ccc; font-weight:bold;color:#2F3436}
#extra .liste-articles h3.menu-titre .spip_logos { margin:0 .2em -0.5em }
#extra .extrait {padding:.2em .5em .2em;line-height:1.5em;font-size:.86em;font-weight:normal;color:#333; overflow:auto; opacity:0.8}
#extra .extrait:hover { opacity: 1 }
#extra ul li .precisions { font-size:.9em; }
.page_auteur p.precisions { padding: 1em; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius:10px; font-size: .88em; color: #333; text-align: center; border:1px solid #ccc;   }
#extra ul li .date { font-size:.8em; }
#extra .liste-articles ul#meme_sujet { margin-bottom: 2em; font-size:.88em }
#extra .liste-articles ul#meme_sujet li a { font-size: .88em }

#extra p.pagination.tri { margin:0;padding:.5em 0;border: 1px solid #ddd; border-bottom: 1px dotted #ddd; border-top: 0; background-color:#f5f0f5;font-size: .84em;font-variant:normal }
#extra p.pagination.tri strong.on { color:#777 }
#extra p.pagination.tri a { font-size: .96em;  }
#extra p.pagination.tri a:hover { text-decoration:underline }

.pagination, #extra li.pagination a { font-size:.82em;font-weight:300;text-align:center; }
.page_secteur ul li.pagination, div.pagination,#extra .pagination {padding: .5emem;font-size:.85em;color:#666;}
.page_secteur ul li.pagination { font-size:.9em; }

ul#infos_contributeur li { padding-bottom: .5em; color: #333 }
ul#infos_contributeur li span { color: #000 }
ul#infos_contributeur li span.contributeur { font-style: italic; color: #F67900 }
ul#infos_contributeur li.logo_contributeur { width: 40%; font-style: italic; color: #F67900 }
ul#infos_contributeur li.clear { clear: both }
ul#infos_contributeur span.edit.contributeur img.spip_logos { float:right; padding: 0 0 .5em 0; }
ul#infos_contributeur h2, #sujets_auteur h2,#messages_auteur h2,#tiers h3,#messages_connexion h2 { padding: .5em 0; text-align: center; font-size: .9em; font-weight: bold; color: #333 }
ul#infos_contributeur h2 { padding: 0 0 1em; font-size: 1em }
#tiers h3 { padding: 0 0 1em; padding-left: .5em; font-size: .88em; text-align: center }
#sujets_auteur ul,#messages_auteur ul,#messages_connexion ul { padding-right: 1.5em; padding-left: .5em; font-size: .9em}
#sujets_auteur ul li,#messages_auteur ul li, #messages_connexion ul li { padding: .5em }
#messages_connexion ul li a { font-size: .9em; font-weight: bold }
#messages_connexion ul li p { margin:0; padding: .2em .5em .2em .5em ; font-size: .88em; }
#sujets_auteur h2,#messages_auteur h2 { margin: 0; margin-right: 1.5em; margin-left: .5em}
#messages_connexion h2 {  margin: 0; margin-right:1.67em; margin-left: .55em; font-size: .8em }
#messages_connexion li.pagination { font-size: .8em }

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques,.syndic{min-width:10em;margin-bottom:1em;font-size:.77em;text-align:left;}
.menu-titre{padding:0;border-bottom:1px dotted #CCC;font-weight:normal;text-align:center;font-variant:small-caps;}

.menu{margin:1em 0;text-align:left;font-size:0.9em;} 
li.menu-titre,h3.menu-titre,.menu-titre a{margin:0;padding:.5em 0 .5em 0;color:#666;font-size:1.1em;}
h2.menu-titre { margin-bottom:1em; padding:1em 0; border:none;border-top:1px dotted #ccc;}
h3.menu-titre { font-size: .86em }

#contenu .menu-titre {font-weight:bold;}
#contenu li.menu-titre {margin:0;font-size:.9em;border:none;}
#formulaire_forum li { list-style:none; }
#formulaire_forum .previsu .forum-message ul li { list-style-type:circle; }
#contenu ol li {list-style-type:decimal;}

 /*  Rubriques
---------------------------------------------- */
/*.rubriques h2 { display: none; }*/
.page_rubrique #contenu{float:left;width:33.5em;background:transparent;margin-bottom:1.5em;padding-left:1em}
.rubriques li{background:#75507b;margin-bottom:1px;text-transform:uppercase;}
.rubriques li a{display:block;padding:.2em 0.7em;color:#FFF;}
.rubriques li li{display:block;background:#dadada;padding-top:4px;padding-bottom:4px;text-transform:none;}
.rubriques li li a{color:#75507b;}

/* Resultats de recherche et mots-clés
----------------------------------------------- */
.spip_surligne{background:#FF6;}

#hierarchie strong.recherches.on { color: #5C3566 }

p#boutons.pagination { width:100%; margin: 1em auto 1.5em }
p#boutons.pagination a, p#boutons.pagination strong.bouton.on, p#boutons.pagination strong.bouton_droit.on, p.recherches.pagination.tri.menu-titre a { 
	display:inline;
	list-style:none;
	margin:0 -0.2em; 
	padding:.5em;
	background:#B4A0B7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="B4A0B7", endColorstr="75507b"); /* Pour IE seulement */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B4A0B7), to(#75507b));
	background-image: -moz-linear-gradient(top center, #B4A0B7, #75507b);
	background-image: -o-linear-gradient(top, #B4A0B7, #75507b);
	line-height: 2em;
	font-size: .88em;
	font-weight: normal;
	}
p#boutons.pagination a.bouton, p#boutons.pagination strong.bouton.on {
	padding: .5em 1em;
	border:0;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px
	}
p#boutons.pagination a.bouton_droit, p#boutons.pagination strong.bouton_droit.on {
	padding: .5em 1em;
	border:0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	}
p#boutons.pagination a.bouton, p#boutons.pagination a.bouton_droit, p.recherches.pagination.tri.menu-titre a { color: #fff !important }
p#boutons.pagination a.bouton:hover, p#boutons.pagination a.bouton_droit:hover, p.recherches.pagination.tri.menu-titre a:hover { background: #75507b; text-decoration:none }
p#boutons.pagination strong.bouton.on, p#boutons.pagination strong.bouton_droit.on, p.recherches.pagination.tri.menu-titre strong.on { background: #75507b; color: #fff; font-weight: normal }
p#boutons.pagination a.bouton_droit, p#boutons.pagination strong.bouton_droit.on { border-left: 1px solid #aaa }

p.recherches.pagination.tri.menu-titre { margin-bottom: 2.5em; padding: 0 .5em; border: none; text-align: center }
p.recherches.pagination.tri.menu-titre a, p.recherches.pagination.tri.menu-titre strong.on { margin:0; padding:.5em; font-size: .88em }

ul#recherches.intro li { margin: 0; padding:0 0 .5em;  border: 0 }
ul#recherches.intro p.texte { margin-top: 1em; margin-left: .5em; padding: 0 1em; border-left: 2px solid #ccc }
ul#recherches.intro li a.titre { font-weight: bold }
ul#recherches.intro li.pagination { padding-top: 2em; font-size: .9em }

#extra .liste-articles h3.menu-titre.galaxie { margin-top: 3em; background: #F5F0F5 url(habillage/spip_out.gif) no-repeat 90%; font-size: .8em }
#extra .liste-articles ul.galaxie { font-size: .82em }

#extra .liste-articles h3.menu-titre.mots { margin-top: 3em; padding: 0; background: #F5F0F5 url(habillage/tag.png) no-repeat 10% }
#extra .liste-articles ul.intro.mots { width:16.75em; padding: .5em; border: 1px solid #eee; border-top: 0; background-image: none; font-size: .8em;  overflow:hidden }
#extra .liste-articles ul.intro.mots li { list-style: none; display:inline; padding:0; padding-left: .5em; border:none; background-image: none; line-height: 1em; }
#extra .liste-articles ul.intro.mots li strong.on { font-weight:bold; color: #999 }

#options { padding: 1em 0 .5em; font-size: .88em; border-top:1px solid #ddd; border-bottom:1px solid #ddd }
#options p { background: #fff url(habillage/information.png) no-repeat left center; padding-left:25px;padding-top:5px; font-weight:bold;color:#53305c; font-size: .84em }
#options p:hover{cursor: pointer }
#options ul {  font-weight: normal; font-size: .84em }
#options ul li.detail { font-size:1.2em; }

/* Page d'accueil du site
----------------------------------------------- */
.page_sommaire{background:#F8F7F3;}
.page_sommaire #page{width:780px;}
.page_sommaire #entete{background:none;text-align:center;border-bottom:1px solid #CCC;}
.page_sommaire #entete .logogros{margin:2.1em auto 1em;padding-bottom:1em;}
.page_sommaire #conteneur{padding-bottom:1em;background:none;text-align:center;}
.page_sommaire #conteneur #contenu{display:block;margin:0 auto;padding-bottom:1em;border-bottom: 1px solid #CCC;}
.page_sommaire #conteneur #contenu ul li strong{margin-bottom:.2em;padding:0;font-family:Georgia,Times,serif;font-size:.9em;font-weight:bold;}
.page_sommaire #conteneur #contenu ul li small{display:block;font-size:0.71em;color:#333;}
.page_sommaire #conteneur #contenu ul li a.lang{float:left;display:block;width:6.9em;height:4em;margin:0 .2em;padding:.5em .4em 0;padding-top:.5em;overflow:hidden;text-align:center;border-bottom:1px solid #CCC;}
.page_sommaire #conteneur #contenu ul li a.lang:hover{background:#faa22f url(habillage/bg-enter.png) center;color:#fff;}

.clock_pop { margin:1.5em 0 1em;padding:0;border: none; }
.page_sommaire #conteneur a.voirskel_som{display:block;width:120px;height:35px;margin:1.5em auto 1.5em;padding:0;background:transparent url(habillage/papillon.gif) no-repeat center;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;font-size:0.7em;}

.page_sommaire #conteneur #contenu .menu-titre { margin-top:.5em;border: none; }
.page_sommaire #conteneur #contenu .question { width:70%; margin:1em auto;background:#fcfcfc; text-align:left;}
.page_sommaire #conteneur #contenu .question_titre h2 { margin-bottom: .1em; }
.page_sommaire #conteneur #contenu .question_titre a { margin-bottom: .1em; color:#171717 }
.page_sommaire #conteneur #contenu .question_titre a:hover { color:#53305c }

/* Page d'accueil du secteur
----------------------------------------------- */

#col1,#col2,#col3,#col4 {position:relative;float:left;width:12.5em;height:auto;padding:0 .5em .5em;border:none;background:transparent;overflow:hidden;}

.page_secteur #contenu {float:left;margin-bottom:1.5em;width:100%;background:#FFF }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */

/* Voir le squelette de cette page */
a.voirskel{display:block;float:right;width:120px;height:35px;text-align:left;margin:-1em auto;padding:.4em;background:transparent url(habillage/papillon.gif) no-repeat;background-position:left;padding-left:70px;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;font-size:0.7em;}
a.voirskel:hover,.page_sommaire #conteneur a.voirskel_som:hover {text-decoration:none;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}

/* Couleurs des liens */
a,a.spip_in,#extra p.pagination.tri a {color:#53305c;text-decoration:none;}
a.spip_out,a.spip_url,a.spip_glossaire {color:#600051;text-decoration:none;background:url(habillage/spip_out.gif) no-repeat;background-position:right;padding-right:10px;}
p.precisions a, span.precisions a { font-weight:bold }
* html a.spip_out,* html a.spip_url,* html a.spip_glossaire{background:none;padding-right:0;}
.on{font-weight:normal; color:#000;}
a.ajax:hover, a.noajax:hover { text-decoration:underline }
a:hover{color:#43264a;text-decoration:none;}
a:visited.titre {color:#43264a;}
a:hover.spip_out,a:hover.spip_url,a:hover.spip_glossaire{color:#600051;text-decoration:underline;}
a:visited.spip_out,a:visited.spip_url,a:visited.spip_glossaire{color:#5c3566;}